[2015-04-04 21:28] #844 closed

[2015-04-04 21:35] quicksketch commented on #844
Thanks @pablo-romero!

[2015-04-04 21:40] quicksketch commented on #681
Thanks @serundeputy! Merged into 1.x and 1.0.x.

[2015-04-04 21:40] #681 closed

[2015-04-04 23:27] quicksketch commented on #847
Thanks @Graham-72! Looks like another missing handler. If you get a chance to make a PR I'll merge it in.

[2015-04-04 23:29] quicksketch commented on #577
I think that's fine. This isn't exactly a "bugfix" but it's also not a feature. Keeping our updates synced between versions will make management easier.

[2015-04-04 23:32] quicksketch commented on #577
Merged in https://github.com/backdrop/backdrop/pull/790. Thanks @serundeputy!

[2015-04-04 23:36] quicksketch commented on #840
You should be able to do this yourself. I resent an invitation to your e-mail that, once accepted, will allow you to add/remove labels. Thanks @Graham-72 for opening this issue and looking forward to the next one. I think you're right that there are some issues with our date formats, so your insights here (as well as the work on the Date port) are highly appreciated.

[2015-04-04 23:49] quicksketch commented on #47
Thanks @greg-1-anderson, we really appreciate the work you've done to help make this possible. The ball's in our court now. :+1:

[2015-04-05 00:16] quicksketch commented on #846
jQuery isn't quite the same as these other items, as MySQL, web server, and PHP versions are all independent of the code base. But in any case, I agree it would be helpful because site builders and themers frequently need to know the version of jQuery when integrating with various 3rd-party libraries.

[2015-04-05 00:42] quicksketch commented on #462
Not in core I don't think. Shared CDN library loading is a bit of a double-edged sword.

We'll update jQuery within the current main branch (1.x) of jQuery to accommodate for bug fixes, yes. We have yet to see what the next versions of jQuery will bring. Now that they have adopted semantic versioning, the [next version of jQuery will be 3.0](http://blog.jquery.com/2014/10/29/jquery-3-0-the-next-ge

[2015-04-05 00:48] serundeputy commented on #47
thanks @greg-1-anderson well done ;in our court now;

[2015-04-05 01:23] quicksketch commented on #845
Hi @docwilmot, thanks for looking into this. Menu block module does quite a bit more than I had remembered. I think some these options are more esoteric than others. In particular, the only features I'd say were "common" would be the starting menu depth and max depth. It looks like D8 decided this as well. Screenshot:

![menu-options](https://cloud.githubusercontent.com/assets/100206/6995363/9e174

[2015-04-05 02:11] quicksketch commented on #839
Thanks for the PR @Drupaldise! I posted some feedback. We just need to take into account RTL languages: https://github.com/backdrop/backdrop/pull/806/files#r27774142

[2015-04-05 02:27] quicksketch commented on #842
I like this idea because the gradient in Bartik looks awfully dated. On the other hand, I'm not sure that many people would want a stark-block website. I'm curious what others think about this proposal.

[2015-04-05 02:45] quicksketch commented on #773
Thanks @serundeputy! I think this is fine for the next bugfix release. Merged in https://github.com/backdrop/backdrop/pull/784.

[2015-04-05 02:45] #773 closed

[2015-04-05 04:27] greg-1-anderson commented on #47
Regarding (2) above, Drush already has drush_command_alter, so you could provide a hook backdrop_drush_command_alter() in a backdrop.drush.inc commandfile that swaps in a new implementation for a command at the last minute.  If you need to change the available command options, there is drush_help_alter (backdrop_drush_help_alter()).

[2015-04-05 05:11] jenlampton opened #848 "Procedural entity handing functions need to be updated"
entity_uri and entity_label need to be updated, perhaps others too.

1) These functions are no longer deprecated, comments in the docblock need to be removed
~~2) Remove $entity_type, the first parameter, and create change records for these changes
3) Check the core codebase and make sure no calls to these functions pass in $entity_type~~

UPDATE: We just need to do 1) for the current release. 2)

[2015-04-05 06:34] quicksketch commented on #848
For the 1.x release, I'd suggest just doing 1 and not 2 or 3. We can't change the API of these functions in the 1.x release.

So the shortened task of this issue is just remove the `@deprecated` tags from the functions.

Some history for explanation: We had both of these functions in D7 see:

- https://api.drupal.org/api/drupal/includes!common.inc/function/entity_uri/7
- https://api.drupal.org/api

[2015-04-05 07:18] Graham-72 commented on #840
@quicksketch - I am now thinking some more about Date's use of all these extra date formats and wondering whether they are really necessary. When I have clarified my thinking, should I float my ideas in a new issue here or perhaps on reddit? I'm not sure where you would prefer that sort of discussion.

[2015-04-05 07:43] jenlampton commented on #848
Sounds good.  Let's do 1 and then tag this issue for 2.x (or should we open a new one?)

[2015-04-05 08:47] klonos opened #849 "[UX] Improve the "Field list" (/admin/reports/fields) page..."
...by adding a separate column that shows which module provides the field. We currently show that as a (module: [module_name]) suffix in the "Field type" column. Having a dedicated column for the modules that provide the fields would allow to sort or group the list by that column.

Also, the "Field name" column shows the machine name of the field that is not very user-friendly. So, I propose to ei

[2015-04-05 08:56] klonos opened #850 "[UX] Improve the newly added "Required by: Field type(s) in use..." info in modules page."
In #803 we've added information to explain why some modules cannot be disabled when fields provided by these modules are in use in certain content types. This is a big UX+, but...

The "Required by: Field type(s) in use..." seems a bit "cryptic" to me and the "...see Field list" link that follows leads to a list of **all** fields instead of a filtered list of only the fields provided by the specif

[2015-04-05 09:21] klonos commented on #577
Confirmed fixed. Works just fine. Thanx!

[2015-04-05 09:21] #577 closed

[2015-04-05 09:26] klonos commented on #789
Thanx for considering this one Nate. I haven't been around lately and after tomorrow I'll "vanish into the ether" again for at least 3-4 weeks. No time in my life, but I see you guys made great progress while I was away. Keep it going!!!

[2015-04-05 09:30] klonos commented on #788
That seems fair enough. Metrics would save us a lot of guesswork and assumptions and would have saved a few dozen comments in 300+ comment issues in d.org.

[2015-04-05 10:02] klonos commented on #774
I don't mind the term "Display" being used for both nodes and views or even elsewhere. When we need to be specific, we'll simply say "View display" or "Node display". +1

[2015-04-05 13:11] docwilmot commented on #842
Or one of these from the presskit?

![backdrop-colors](https://cloud.githubusercontent.com/assets/1042283/6996920/a12c91c4-db6a-11e4-813e-36f6e1f77533.png)

[2015-04-05 13:30] docwilmot commented on #842
![black](https://cloud.githubusercontent.com/assets/1042283/6996980/bbc5e0f0-db6d-11e4-8ea9-d44c9421a369.PNG)

blue

![blue](https://cloud.githubusercontent.com/assets/1042283/6996981/bbc80b50-db6d-11e4-82c9-c17cdbfce735.PNG)

green

![green](https://cloud.githubusercontent.com/assets/1042283/6996982/bbca8952-db6d-11e4-8b30-98a45e9c104c.PNG)

grey

![grey](https://cloud.githubusercontent.com/asset

[2015-04-05 14:07] serundeputy commented on #842
#000;

[2015-04-05 15:07] pablo-romero commented on #842
I like black, too. But admin-bar loses too much contrast.
I would either tweak the default admin-bar css if using black, or use any other color for the header (e.g. grey header and black footer).

[2015-04-05 15:33] klonos opened #851 "Views basic settings (/admin/structure/views/settings): "Statistics location" label always shown."
The label is always shown even when the "Show information and statistics about the view during live preview" checkbox is not checked:

![views_basic_settings-stats_location_label_always_visible](https://cloud.githubusercontent.com/assets/2423362/6997392/0f1437fe-dbfd-11e4-847c-e5ecc229bba9.png)

[2015-04-05 15:42] klonos opened #852 "Views advanced settings: Only one page region, but still a drop-down."
/admin/structure/views/settings/advanced

Can we have it so that when there's only one region available, there is no drop-down menu. In fact, I don't know if it makes any sense at all to have it as an option since it's the only option:

![views_advanced_settings-only_one_page_region](https://cloud.githubusercontent.com/assets/2423362/6997437/6e545f36-dbfe-11e4-8eaa-b71cbc48270b.png)

[2015-04-05 15:45] klonos commented on #852
...perhaps this should be the case all over the UI when there's only one option. Is anyone aware of any other places where this might be happening?

[2015-04-05 22:21] quicksketch commented on #851
This is fixed in dev versions. See https://github.com/backdrop/backdrop-issues/issues/711.

[2015-04-05 22:21] #851 closed

[2015-04-05 22:27] quicksketch commented on #852
It's possible this used to display a list of theme regions, but wasn't updated for Layouts. Previously there were probably always at least a couple of regions.

[2015-04-05 22:36] quicksketch commented on #850
I think we'd end up in a situation where you may have a module used in 10-20 content types/terms/comments. That list of dependencies could get pretty long.

What if we combined this with the proposal at #849 and had the link say, "see field usage for this module" and linked to the field list with a filter for the providing module? Then you'd get the list of only relevant fields, and if your module

[2015-04-05 22:54] quicksketch commented on #840
I'm curious about the value of multiple formats with the same name as well. Other than l10n, I don't think it makes a lot of sense to have different "medium" formats. Let's discuss in the issue queue rather than Reddit, which should be for more casual conversation I think.

[2015-04-05 23:45] klonos commented on #852
Here's how the advanced settings UI looks like in D7 for views 3.x (no region option whatsoever):

![views3_d7-advanced settings](https://cloud.githubusercontent.com/assets/2423362/6999151/61a02aca-dc41-11e4-8b82-8007ca31907e.png)

Could this be something that we've added perhaps?

[2015-04-06 00:00] klonos commented on #852
...BTW, what happened to the "Disable views data caching" option in Backdrop?

[2015-04-06 04:17] BWPanda commented on #316
I'll second this request, however I'd also recommend adding the ability to display multi-valued fields as an HTML list (`<ul>` or `<ol>`).

Drupal's [Text list formatter](https://www.drupal.org/project/textformatter) module does this (and also lets you display the same field as a comma-delimited list).

[2015-04-06 12:32] pablo-romero opened #853 "Single sidebar width in 3/3/4 columns Layout"
When using 3/3/4 columns Layout with only one sidebar, blocks are displayed at 50% of screen size in the intermediate media query (from 560 to 850px).
We should specify to display the half-width only when both sidebars are used.

### Steps to reproduce/test

1. In Layout settings, choose **3/3/4 columns**.
2. Add some blocks to only one of the sidebars, and save.
3. Browse to your site and resize

[2015-04-06 12:40] pablo-romero commented on #853
Sent PR #812

Tests look fine on my side now.

[2015-04-06 15:06] quicksketch commented on #853
Thanks! Great idea! PR is at https://github.com/backdrop/backdrop/pull/812 (it wasn't linked up properly).

This needs a manual testing to confirm the change, but the code looks great to me! I'll give it a try soon.

[2015-04-06 17:59] clickbox commented on #779
![field ui_wireframe1](https://cloud.githubusercontent.com/assets/6590017/7008742/5d862f6c-dc63-11e4-931c-a0a5c9b5afd7.png)
![field_ui_wireframe2](https://cloud.githubusercontent.com/assets/6590017/7008745/613da13a-dc63-11e4-8833-03c66b43e75b.png)

I should had some descriptions for more context but this is a wireframe of an idea I have for the field ui. My goal is to achieve a more graphical appr

[2015-04-07 01:29] sirkitree opened #854 "[UX] Allow people to overwrite existing files without visiting 'Manage files'"
I'm logging this as a potential bug because the way I'm thinking it should work is different than what I'm experiencing and I'd like to understand why it works the way it does, and possibly discuss changing to how I think it should work.
## Scenario 1
1. Upload a new file to a file or image field.
2. Immediately remove the file.
3. Re-upload the same file.

Note that the resulting filename in step

[2015-04-07 01:36] quicksketch commented on #854
The file is not deleted when you click "Remove". It's deleted when you click "Save" on the node. Otherwise if a user edits a node, removes a file, but doesn't click save (closes the window instead), no changes should be made and the file should remain.

So while the file is removed from the node form but not deleted from disk, when a second file is uploaded with the same name, there are two files

[2015-04-07 01:59] sirkitree commented on #854
I'm glad to know it's supposed to work that way, but it would seem this might be a bug since it's *not* removing the file upon a node save.

My second note under scenario 2:

So that's one issue. Not sure If perhaps I should split that out into a new issue or if I should log a new issue for this next part. Let me know what you want.

---
As for the second (overwriting a file), it I wonder if a new

[2015-04-07 02:16] quicksketch commented on #854
Ah, I think this behavior changed in early D8/Backdrop. The file instead is marked "temporary" in the database and cleaned up on cron jobs. This makes it so you can delete thousands of nodes and not have to worry about the relatively expensive file cleanup during the current PHP request.

The problem with this is if the image is embedded into a WYSIWYG, the current path would have to be used to di

[2015-04-07 02:21] quicksketch commented on #854
This module uses a novel solution of simply swapping the file location places: https://www.drupal.org/project/upload_replace, that seems like something that might work and has probably been tested (around 1000 installs) for any odd side-effects caused by this approach.

[2015-04-07 02:25] sirkitree commented on #854
Ah, ok. I see now that it does delete on cron. Thank you.

Also I'll give that module a go. We can close this if you'd rather this was solved by contrib. I'll probably have better luck porting that module than modifying core anyway. :wink:

[2015-04-07 02:28] quicksketch commented on #854
I think this would be a nice core improvement. The file renaming problem has been plaguing us since 2007 at least when I was the maintainer of ImageField for D5/6.

I'm not sure the contrib module is free of security holes... it seems like you could accidentally (or intentionally) replace a file owned by a different node or user just by naming it the same thing. Tread with caution. :wink:

[2015-04-07 08:24] jdanthinne commented on #841
What about https://github.com/jdanthinne/backdrop/commit/8ca2a4ddb4d7210a182c771df531617fbb84ebc6 ? Working for me.

[2015-04-07 16:51] docwilmot commented on #842
Actually liking the blue now.

I think without the Bartik rounded tabs and without the gradient, it looks quite sufficiently non-Drupal, and looks quite modern/flat-design-y, and satisfies @quicksketch's concern about the acceptability of plain black.

[2015-04-07 17:19] docwilmot commented on #519
Should we also add this node as an entry in the Main Menu? For similar reasons, it lets the new Backdropper know that the menu exists, and leads them there if they want to learn more about menus, or to delete or modify it.

[2015-04-07 20:47] quicksketch commented on #842
Yeah one item that modernizes the whole theme is if you make the header a flat color and remove the gradient. In our situation, that means just setting the top and bottom color to the same thing, and boom, more modern theme.

[2015-04-07 22:02] quicksketch commented on #841
I think that would work in most situations, but you don't necessarily need to put the main content block in the `<main>` area of the page. There's nothing preventing a user from moving the main content into the sidebar region for example, in which case the contextual link will float up to the top right again.

[2015-04-07 23:38] serundeputy commented on #519
sounds good to me.  @quicksketch what do you think?

[2015-04-07 23:58] quicksketch commented on #519
What should the menu item say, "About" or "Example"? node/1 is usually an about page for me. It may be less frustrating for a new user to just modify the content of the node to be an about page than find the menu settings on the node form.

[2015-04-08 07:17] jdanthinne commented on #841
Then that seems impossible with CSS without a wrapping div around the system-main block. Was there a special reason for removing it in Backdrop, apart from removing unnecessary code and divs?
But Instead of reverting that, could we just do
[code]
instead of the current
[code]
?

[2015-04-08 14:18] Drupaldise opened #855 "Documentation of Configuration Management"
Hi, where can I find some docs about the configuration management?
How can i work with the staging dir in files/config/staging - or what is this?
What is the best practice to work with GIT (or other version control) with my exported config files?
In other words how can I deploy my config changes without uploading a file - instead using the filesystem?

Thanks for enlighten me. ;-)

[2015-04-08 20:03] docwilmot opened #856 "Is config() cached?"
Can I use `config_` functions as freely as I used to use `variable_` functions? I was [designing a module](https://github.com/backdrop-contrib/joyride) which frequently used `config_get_names_with_prefix()` followed by `config()` and wondered if I should add static caching.
I dont see caching with `config_get_names_with_prefix()`. How about `config()` though?

[2015-04-09 00:01] quicksketch commented on #856
Generally, calls to config() should be considered equivalent to doing a database query. That is, it's going to be hitting the disk. Configuration is considered extremely low-level by Backdrop, it doesn't require cache back-ends or even the database. `config_get_names_with_prefix()` is similarly not cached and does a directory scan when called.

If you're reading out a list of config files frequent

[2015-04-10 01:43] jenlampton commented on #779
Keep in mind that we also have the Layouts UI that can be used in place of "Manage display" long term if what we end up wanting is drag-and-drop that includes laying out content on the page. Field configuration (Manage fields) could become the same pattern as adding and configuring a block.

[2015-04-10 01:43] jenlampton commented on #316
love it!

[2015-04-10 01:44] jenlampton commented on #774
:+1:

[2015-04-10 01:55] jenlampton opened #857 "Add the ability to schedule publishing of content in the future."
A feature WordPress users really enjoy is the ability to schedule a post to go live at 6am and not have to wake up at 6am to push the publish button.  It would be nice if we could do something similar in core.

I think it would be reasonable to use the post-date for this, if the date is in the future, schedule the post to go live at that date.  If not, then publish right away.

However, if we want

[2015-04-10 02:30] quicksketch commented on #855
Hi @Drupaldise! We have an article coming out in Drupal Watchdog next month that includes some details, but I think generally speaking we don't have documentation on managing config via the file system. We need to figure out even where this documentation would go between the API docs and the Backdrop handbook, but generally I think I can sum it up. Perhaps once we have a place to put it, we can ge

[2015-04-10 02:51] quicksketch commented on #839
Thanks this looks great! I'll test this out locally and see if I find any issues.

[2015-04-10 03:13] quicksketch commented on #841
I think the suggested code would work. I had thought about making that `<div>` conditional as well:

[code]

The general expectation was that this div was almost always going to be redundant/unnecessary, so we removed it to help divitis, but yeah... looks like we need it for contextual links. What do you think about making it conditional like this? Unfortunately it probably won't be quite this eas

[2015-04-10 03:21] quicksketch commented on #847
Fixed in https://github.com/backdrop/backdrop/pull/811. Thanks @Graham-72!

[2015-04-10 03:21] #847 closed

[2015-04-10 03:36] quicksketch commented on #839
Works great, thanks @Drupaldise! It looks like Farbtastic doesn't yet officially support touch events :frown: but it has a PR at https://github.com/mattfarina/farbtastic/pull/20.

When Farbtastic is updated, it'd be great to get the new version merged into Backdrop.

This fixes the overlap problem, thanks so much and welcome to Backdrop. :smile:

[2015-04-10 03:36] #839 closed

[2015-04-10 03:50] jenlampton commented on #855
### The extra config directory approach

@quicksketch That's an interesting approach, and one we hadn't thought of before!

**Configuration of config directory**
[code]

** Additional set up **
1) Move `config` outside of files (and preferably outside the docroot)
1) Update settings.php to point at the new locations of `active` & `staging`

**Deploying to prod - moving upstream**
1) local: overwri

[2015-04-10 04:17] jenlampton commented on #380
I just wrote up a comparison of our three leading candidates for handling config in backdrop with Git over at https://github.com/backdrop/backdrop-issues/issues/855#issuecomment-91419775 if anyone is curious.

[2015-04-10 08:11] Drupaldise commented on #855
Hey Guys, thanks for pointing this out. It makes it more clear for me now. In my opinion there must be a topic for that on backdropcms.org Handbook. This feature is so important.

[2015-04-10 09:54] jdanthinne commented on #841
Conditional approach is good I think. But one thing I don't understand is that the contextual-links-region class is added to the main page wrapper (ie. div class="layout--one-column layout contextual-links-region") and not to this block--system-main…

[2015-04-10 14:56] klonos opened #858 "Update the version of Farbtastic that ships with core once it supports touch events."
Just a reminder issue assigned to 1.x-future for what @quicksketch said in https://github.com/backdrop/backdrop-issues/issues/839#issuecomment-91418677

[2015-04-10 15:14] docwilmot commented on #519
I think the menu entry should be the node title.

[2015-04-10 16:49] pablo-romero commented on #857
+1, I was about to suggest it too.

There's also a problem in the current scenario:

If you set a future date (even by mistake) in the **Authored on** field when creating or editing content, that content gets published straight away (if **Published** checkbox is checked, which is by default).
Not sure if anyone has ever used it that way on purpose, but the result never made much sense to me: havin

[2015-04-10 17:25] heyrocker commented on #855
Not that my 'figure 8' idea stems from the very early stages of CMI, and I don't think it translates well to the way that the modern system (in Drupal or Backdrop) is architected and the thought-work that has gone into it since then. I hadn't considered the third directory option. It's a solid solution but I wish we had something a little more seamless. The whole thing of git status being out of d

[2015-04-10 22:26] jenlampton commented on #855
@heyrocker what is it about the figure-8 that doesn't translate well to now Drupal 8 & Backdrop are architected? What is it about the other two options that translates better? I still prefer the figure-8 approach since it removes the need for copying anything anywhere (and needing to carefully think about where to copy it).  Also, this set-up lends itself nicely to having more than 2 environments

[2015-04-10 22:37] quicksketch commented on #858
:+1:

[2015-04-10 23:10] serundeputy commented on #843
- [ ] #2386037 by gobinathm: Incorrect foreign key tables in users.install
Looks like backdrop does not have a `role` table, but rather a `users_roles` and schema seems fine in `user.install`
@quicksketch / @docwilmot / @jenlampton  can someone confirm #2386037 is moot for backdrop?

[2015-04-10 23:20] serundeputy commented on #843
- [ ] #2371759 by Valentine94, angel.angelio: The docblock for user_help() should read "Implements hook_help()."

I see no instance of `user_help()` in `user.module` or in `backdrop/`.
I believe #231759 is moot for backdrop.  Can anyone confirm and check the boxes?

[2015-04-10 23:30] quicksketch commented on #843
Yes, moot. We don't have hook_help() in Backdrop. :smile:

Yep, also moot. Our roles are managed in config, so we have no role table.

[2015-04-11 01:02] serundeputy commented on #843
- [ ] #2283717 by joshi.rohit100, amitgoyal, g3r4, er.pushpinderrana: Remove user_access function calls on hook_permission functions so the Permissions page consistently links to other admin pages for all users

PR: https://github.com/backdrop/backdrop/pull/813 ;
- [x] Travis passed.

[2015-04-11 06:34] jenlampton commented on #89
@docwilmot points out that this now exists: https://github.com/backdrop-contrib/joyride

Let's see if we can get a set of useful tours made for Backdrop, and if so we can re-open this issue for 2.x :)

[2015-04-11 07:57] klonos commented on #854
Other than that, the solution of appending ```_[increment]``` to old files instead of new ones seems perfect for this fundamental Drupal architectural issue. Do we have any way to track file ownership (for example through the owner of the node to which the file is attached to)? If so, we could perhaps handle this with permissions ("replace own files"). Or would this be easier if files were entitie

[2015-04-11 08:07] klonos commented on #462
Fair enough. Now that I thought this over and after your remarks, a UI for jQuery + older versions does seem more fitting in contrib land. I think *jQuery Legacy* sounds better than downgrade though :wink:

[2015-04-11 08:09] klonos commented on #462
...does this though mean that this whole issue is a won't-fix?

[2015-04-11 08:12] klonos opened #859 "Procedural entity handing functions need to be updated [part 2]"
...follow-up of #848:

~~1) These functions are no longer deprecated, comments in the docblock need to be removed~~
2) Remove $entity_type, the first parameter, and create change records for these changes
3) Check the core codebase and make sure no calls to these functions pass in $entity_type

Point ! above done in parent issue in Backdrop 1.x. This one is to take care of points 2 and 3.

[2015-04-11 08:13] klonos commented on #848
Done! :wink:

[2015-04-11 12:35] serundeputy commented on #859
@klonos did you mean points 2 and 3?

[2015-04-11 16:14] klonos commented on #859
Yep, fixed. Thanx @serundeputy Sleep deprivation kicking in. :sleepy:

[2015-04-11 17:09] klonos commented on #836
Noticing the mixed back and forthslashes in the error message makes me want to shamelessly promote #265 again.

[2015-04-11 17:18] pablo-romero opened #860 "Can't install Backdrop in other languages"
From #827

When trying to install Backdrop using any other language, I get this error:

[code]

Besides, st() function doesn't seem to be working: after selecting the new language in the dropdown, installation continues in English.

[2015-04-11 17:24] pablo-romero opened #861 "Fatal error when editing language strings"
Steps to reproduce:

1. Install Backdrop in English
2. Add a custom language
3. Either import a .po file or visit some admin pages to bring a few translation sources.
4. Go to interface translation page and edit any untranslated string.
5. Click Save, and get the error below.

[code]

[2015-04-11 17:37] klonos commented on #829
:+1:

[2015-04-11 18:55] klonos opened #862 "Add entity_save and entity_delete to core."
This was mentioned in https://github.com/backdrop-ops/contrib/issues/71#issuecomment-76859926

[2015-04-11 18:57] klonos opened #863 "Add entity_access in core."
This was mentioned in https://github.com/backdrop-ops/contrib/issues/71#issuecomment-76859926

[2015-04-11 18:59] klonos opened #864 "Add entity_var_export and entity_var_json_export in core."
This was mentioned in https://github.com/backdrop-ops/contrib/issues/71#issuecomment-76859926

[2015-04-12 06:12] jenlampton commented on #519
@cellear mentioned over in another issue that WordPress uses the following as default content:

My thoughts....  Wouldn't this information also be useful to a second or third person, even after this first piece of content has been updated, and the information removed?

WordPress assumes that the person building the site will be the person creating / editing content. So the message in a default nod

[2015-04-12 06:19] jenlampton commented on #462
I think so.  If we get a UI proven in contrib we can open a new issue to move that into core :)

[2015-04-12 06:19] #462 closed

[2015-04-12 10:07] klonos commented on #462
Once again, fair enough.

[2015-04-12 15:42] serundeputy commented on #87
- [x] /admin/config/search/path/patterns form now displays for `Content Paths`, `Taxonomy Term Paths`, and `User Paths`.
  - [x] Form saves
- [x] node/add/% `URL path settings` Vertical Tab shows the `pathauto` version of the form
  - [ ] On `Save` does not apply the alias for `Generate automatic URL alias`
  - [x] If `Generate automatic URL alias` is unchecked normal alias is applied (fill out al

[2015-04-12 20:25] quicksketch commented on #864
Hi @klonos, thanks for keeping tabs on making issues when I'm just mentioning things in passing (and didn't make an issue). But in this case, I think I was suggesting that we *wouldn't* need to add these functions, because we already have acceptable alternatives in core.

[2015-04-12 20:26] quicksketch commented on #862
:+1:

See also #402.

[2015-04-12 21:38] findlabnet opened #865 "Fix or (preferred) remove extra meta tags"
In core/modules/node/node.module and core/modules/taxonomy/taxonomy.pages.inc we have calls of backdrop_add_html_head_link() put "canonical" and "shortlink" meta tags.
But canonical links:
- need only for the duplicated pages (now for any node or taxonomy page);
- "href" will be absolute path (not relative as now) .
Use backdor path (e.g "node/123") as "href" for "shortlink"? AFAIK "shortlink" it

[2015-04-12 22:02] quicksketch commented on #865
Hi @findlabnet! Thanks for opening this issue. Let's go through the two issues one at a time:

In Backdrop, it's already possible to view a path-aliased node in at least 6 places. Say the alias was set to "contact" for node 1:

- `/contact`
- `/?q=contact`
- `index.php/?q=contact`
- `/node/1`
- `?q=node/1`
- `index.php/?q=node/1`

In addition to that, there may also be reasons for tacking on addit

[2015-04-12 22:21] quicksketch commented on #861
Thanks @pablo-romero! We've solved this already in dev, it should be in 1.0.6. See https://github.com/backdrop/backdrop/pull/791.

In the mean time you can just add this line to the top of `locale_translate_edit_form_validate()`, line 354 in `locale.pages.inc`:

[code]

[2015-04-12 22:21] #861 closed

[2015-04-13 17:39] quicksketch opened #866 "thrown EntityStorageException passes incorrect (string) error code parameter"
When throwing an `EntityStorageException`, we have several places where the code will cause an additional error. When exception handling throws its own error, the errors cascade into complete failure (uncaught exception while handling exception).

Our current code reads:
[code]

But getCode needs to be a method:
[code]

But further strangeness, because of inconsistency in PHP, `getCode()` may some

[2015-04-13 19:11] klonos commented on #864
Good thing issues can be closed then ;)

[2015-04-13 19:42] findlabnet commented on #865
Thank you for detailed answer, @quicksketch !
 You're right, 6 (or more) "shades" of path-aliased node is a good reason to keep "canonical" in place.
But about absolute path - also by Google: https://support.google.com/webmasters/answer/139066?hl=en#2

If we decide to use absolute path in "canonical" - only one attribute need to be changed in `url` function's parameters.

Second: if I understand c

[2015-04-13 23:31] quicksketch commented on #865
You're right! We should be using absolute URLs, definitely. Do you have any ideas on how we should handle HTTP vs. HTTPS? I believe Backdrop will use whichever one you're currently on, resulting in two "canonical" URLs. I've had a lot of unfortunate experience with Facebook and Pinterest considering HTTP and HTTPS "different" URLs as far as indexing likes, pins, etc.

Correct. Let's kill the short

[2015-04-13 23:34] quicksketch commented on #864
If we *do* need these for any reason, let's reopen and state the reasons. Thanks!

[2015-04-13 23:34] #864 closed

[2015-04-15 01:14] serundeputy commented on #842
@docwilmot fire up a pull request!

[2015-04-15 05:07] findlabnet commented on #865
To avoid  two "canonical" URLs we can define field in settings for "canonicals base URL" - same way it work in Drupal's contribs such as  "nodewords". Additionally, sitemap.xml must contain only one from two concurrent in protocols links.
And back to subject - Shall I prepare PR?

[2015-04-15 05:23] quicksketch commented on #865
Any idea where we would put such a setting? It seems relatively related to Clean URLs, but currently that has its own path. Maybe we could rename the "clean-urls" path to just be "URL handling" (or something)?

Sure, let's do the easy part if you're up for it (removing shortlink). But I'd like to figure out where we're headed with handling the canonical meta tag. A setting sounds fine if it comes

[2015-04-15 10:32] philippejadin opened #867 "Add "group" functionality to core"
Of course the first idea that comes to mind is "just port organic group". But I think that backdrop can provide something new here, by providing a base "group" feature in core that would be extended by modules.
- most sme's, associations, target users of backdrop need a group feature
- belonging to a group is a facet of content and other site features (like menu, views, blocks). The same as intern

[2015-04-15 18:39] findlabnet commented on #865
You right, under renamed to "URL handling" menu item we can have additional checkbox  titled "Use HTTPS for canonical URLs" - and when checked - add "https" parameter to `url` call.
If this scenario looks acceptable, during weekend I can prepare complex solution for PR.

[2015-04-15 20:24] quicksketch commented on #865
Sounds great!

[2015-04-15 20:30] quicksketch opened #868 "Add an option to redirect to "canonical" URL"
This issue is a bit of a followup to https://github.com/backdrop/backdrop-issues/issues/865, where we identified that URLs in Backdrop can be accessed a number of places. Say the alias was set to "contact" for node 1:
- /contact
- /?q=contact
- index.php/?q=contact
- /node/1
- ?q=node/1
- index.php/?q=node/1

We should have an option to akin to the "Global Redirect" module in core to make it so th

[2015-04-15 20:31] quicksketch commented on #865
This issue got me thinking about other "URL handling" options we could add. I filed a new issue to followup after this one: https://github.com/backdrop/backdrop-issues/issues/868

[2015-04-16 04:12] docwilmot commented on #856
thanks

[2015-04-16 04:12] #856 closed

[2015-04-16 18:51] quicksketch commented on #867
Hi @philippejadin, thanks for taking the time to write this all down.

We're trying to bring some focus to the core development cycle (as in https://backdropcms.org/roadmap), so this is the sort of thing that we could consider for a minor release or (more likely) the 2.0.0 release, as I expect this would require some API changes.

However from the current description, it's a bit too nebulous to ma

[2015-04-16 19:22] klonos commented on #868
:+1:

[2015-04-16 19:44] klonos opened #869 "Make it possible to directly upload an image file from the camera of mobile devices."
Some android/iPhone apps allow uploading/attaching files directly from the camera of mobile devices. So the current workflow is something along the lines of:

1. Start creating content that allows or requires image(s) uploaded.
2. Switch to camera and take photo(s).
3. Switch back to browser.
4. Upload file through the "upload" button of the image field.
5. Browse local files in order to find the

[2015-04-16 19:47] klonos commented on #869
...BTW, I would love to see this added to 1.1.0, but I'll leave it up to you guys to decide with regards to the roadmap.

[2015-04-16 19:58] biolithic commented on #869
I have done this html5 bit in a couple Phonegap apps using an API such as
Flickr or AWS as a store.  I should look at how to use a Drupal managed
file system to store them

There are definitely logistics on how to limit/preview/etc as the thought
is good but the implementation and care for this can go very wrong.

On Thu, Apr 16, 2015 at 2:47 PM, Gregory Netsas <notifications@github.com>
wrote:

[2015-04-16 23:19] docwilmot opened #870 "[UX] Create a project browser for modules, themes, layouts etc"
See https://github.com/backdrop-ops/backdropcms.org/issues/56#issuecomment-93853228

So that users can simply select projects to download within update module, rather than the not-so-friendly cutting and pasting of zip file urls.

I would personally like to suggest the ability to select multiple projects for download in one go, and related, automatically attach dependencies.

Any ideas?

[2015-04-17 00:31] quicksketch commented on #870
There's actually a really great Google SOC project that built out this functionality years ago in Drupal 7: https://www.drupal.org/project/project_browser

We could check out the feasibility of that project as a candidate for core. I'm also in support of this idea.

[2015-04-17 04:48] quicksketch opened #871 "Content types owned by modules other than "node" have incorrect "Delete" link"
After installing [Project module](https://github.com/backdrop-contrib/project) I wanted to delete the "Project" content type it came with to set up my own different types. However, I found that on `admin/structure/types`, the link to Delete the "Project" content type actually was linking to the form to delete the Page content type! This obviously could cause some accidental data loss if the user w

[2015-04-18 01:23] quicksketch opened #872 "Field storage "details" saved in field config files unnecessarily"
The field storage "details" are added in _field_info_prepare_field() after a field is initially loaded. These details are unnecessary to store in config, since they are loaded every time the config is read from disk. Although it does no serious harm, the unnecessary data in the config files makes for extra JSON parsing and clutters up the diffing interface when doing an import.

We already do a sm

[2015-04-18 04:58] quicksketch commented on #872
PR filed at https://github.com/backdrop/backdrop/pull/816.

[2015-04-18 05:26] #872 closed

[2015-04-18 05:32] quicksketch commented on #853
Thanks @pablo-romero! Merged in the PR finally.

[2015-04-18 05:32] #853 closed

[2015-04-18 05:34] quicksketch commented on #833
Merged in the PR. Thanks again @docwilmot!

[2015-04-18 05:34] #833 closed

[2015-04-18 06:19] #866 closed

[2015-04-18 06:24] quicksketch commented on #838
I've merged in https://github.com/backdrop/backdrop/pull/805. Thanks @jdanthinne for his work on this!

We re-categorized this as a bug in the PR due to this preventing Date module from supporting the same types it did in Drupal 7, so this should be in our next bugfix release 1.0.6.

[2015-04-18 06:24] #838 closed

[2015-04-18 11:19] findlabnet commented on #865
Created PR #817

[2015-04-18 14:14] Graham-72 opened #873 "[UX] Add some explanation for Add Date Time Format in Regional and Language admin"
I think it would help the user to understand the admin page at admin/config/regional/date-time/formats/add if there was an introductory sentence such as "If you are creating an additional date format then give it a suitable name as a label, then specify its format using a string of standard PHP date and time codes".
I have successfully tried this code in core/modules/system/system.admin.inc at lin

[2015-04-18 22:10] quicksketch commented on #873
Hi @Graham-72! I took a look at this page and I see what you mean. The two field "Label" and "Format" fields can be a bit intimidating. Adding help text may help, but the example you provided doesn't seem to say very much. As a user, I already know I need to provide a label and format from the fields there. The help text doesn't give me anything new.

Perhaps instead we could improve the UX by eit

[2015-04-18 22:39] quicksketch commented on #784
Merged in https://github.com/backdrop/backdrop/pull/763 to 1.x-new-style.

[2015-04-18 22:39] #784 closed

[2015-04-18 22:42] quicksketch commented on #737
Hi @wesruv, I've been working on th1.x-new-style branch today and I realized that the 1px hairline is there *even without this PR*. So it's an existing issue that was probably introduced after our font changes. Would you be fine with me just merging this as-is and then we can take a look at the hairline problem in a separate issue?

[2015-04-18 23:32] quicksketch commented on #759
Thanks @Lowell20! You're right, it's the extra div that's causing test failures. Rather than depend on theme_item_list(), we could also just manually assemble the `<ol>` as theme_breadcrumb() does currently. I think that may be a more reliable approach and easiest to understand when reading. I'm working with the existing PR and I can update to get this working.

[2015-04-18 23:41] quicksketch commented on #759
Filed a new PR at https://github.com/backdrop/backdrop/pull/818. We'll see what Travis says.

[2015-04-18 23:56] klonos commented on #873
I personally like the idea of placeholders, but have there been any user testing reports previously to support the assumption that they help and not confuse instead? I mean, I know that the suggestions have a faded out color, but do all users know the difference or do they assume that the fields are already prefilled in for them?

[2015-04-19 00:07] quicksketch commented on #873
There are lots of articles on how placeholders can be misused (e.g. instead of a field label), but I haven't found any studies on the topic of using them properly (as an example).

Adding a description to the "Label" field might provide just as much value and be less controversial. The best uses of placeholders are when it's clear that the placeholder is an example (e.g. `you@example.com` for an e

[2015-04-19 00:16] quicksketch commented on #865
Thanks @findlabnet! The PR looks great! I added a few items of feedback on the PR.

This issue is also slightly related to https://github.com/backdrop/backdrop-issues/issues/635, which is currently unresolved in terms of what solution we should use there. I'm all for iterating as we progress though. It looks like this is going to get finished shortly, afterwards we may move this menu item again if

[2015-04-19 00:22] quicksketch commented on #635
Some issues related to this one that we should take into consideration:

- In https://github.com/backdrop/backdrop-issues/issues/865, we're renaming this menu item from "Clean URLs" to "URL handling", and making it a clearing house for URL options.
- That issue also adds a new option that does actually affect meta tags (determining if HTTPS should be used for the `canonical` meta tag).
- There's a

[2015-04-19 00:24] quicksketch commented on #759
Yay, that worked well. Merged https://github.com/backdrop/backdrop/pull/818 into the 1.x-new-style branch. Tests pass and I manually reviewed the appearance. Nice job!

[2015-04-19 00:24] #759 closed

[2015-04-19 00:46] quicksketch commented on #740
Merged in 5592b21e816a6ca2c6a1f2ada1d9910f642dbd70. Thanks!

[2015-04-19 00:46] #740 closed

[2015-04-19 01:04] klonos commented on #873
Then lets just go ahead with it and revert in case of complaints about it. :wink:

[2015-04-19 01:30] klonos commented on #740
I just downloaded a copy of the 1.x-new-style, upgraded a 1.0.5 installation and cleared all caches. The tables seem to be missing upper/left/right borders (for example the modules page and the status report page) while the [Style guide](https://backdrop-ops.github.io/styleguide/#table) shows that there should be there.

Also, in the Style guide there is a hover-over effect (personally don't like

[2015-04-19 02:19] jenlampton commented on #737
I agree that we should call this good and merge it as is. Better is the enemy of done!

[2015-04-19 02:24] quicksketch opened #874 "New admin theme missing table border and hover"
Followup to https://github.com/backdrop/backdrop-issues/issues/740#issuecomment-94219453 and part of overall meta for new admin theme in https://github.com/backdrop/backdrop-issues/issues/736.

Reference the Styleguide for implementation style: https://backdrop-ops.github.io/styleguide/#table

[2015-04-19 02:29] quicksketch commented on #740
Thanks @klonos! Good eye. I didn't even see the border, you have to look *VERY* closely. I filed a followup at https://github.com/backdrop/backdrop-issues/issues/874. To help move the styleguide implementation as a whole, I made a section for "followups" in the summary of the meta (https://github.com/backdrop/backdrop-issues/issues/736).

[2015-04-19 02:29] jenlampton opened #875 "Re#736 - Fonts"
Adding the Open Sans font to core is blocking all of the other admin theme / style guide changes, but it;s currently bundled up with https://github.com/backdrop/backdrop-issues/issues/738.  It looks like there are a lot of other element style changes in that issue that are preventing it from getting done, which is blocking all our other progress too.

I'm going to split the fonts out, and add it o

[2015-04-19 02:31] jenlampton commented on #738
Since getting the fonts in is blocking our progress on all the other admin theme / styleguide issues, I'm going to split the fonts out into their own issue, here: https://github.com/backdrop/backdrop-issues/issues/875

[2015-04-19 02:33] jenlampton commented on #875
For reference, first PR from @ronnienorwood https://github.com/backdrop/backdrop/pull/777

[2015-04-19 02:34] jenlampton commented on #875
comment from @quicksketch  For the pull request (thanks for filing that!) We will want to include a local copy of the font Open Sans directly in the theme, rather than require an internet connection to Google Fonts.

[2015-04-19 02:34] jenlampton commented on #875
Response from @ronnienorwood

I'm not sure how to do this if I don't use the import statement in the seven.base.css file.  I can do some more research.  Is that what you are referring to ??

[2015-04-19 02:35] jenlampton commented on #875
from @quicksketch

Yes, instead of doing an @import to a CSS file hosted at Google, you can either do an @import to a local CSS file that points at the same fonts, or just include the font-face definitions directly in the seven.base.css file. You can select and download the font with the right font weights at http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans (there's a icon in the uppe

[2015-04-19 02:36] jenlampton commented on #875
from @ronnienorwood

Ok @quicksketch,

Thanks for the direction.  I downloaded the zip file with the fonts from Google and placed them in a fonts folder.  I copied the font-face defs directly into the seven.base.css file and modified the url on each.  The first one looks like this:

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),

[2015-04-19 02:36] jenlampton commented on #875
from @quicksketch

I think the issue is that within CSS files, paths are relative to the css file itself. So the path should probably be `url(../fonts/OpenSans-Light.ttf)`.

[2015-04-19 02:37] jenlampton commented on #875
from @wesruv

@dariusgarza maybe you could save me some brain power... what weights are we using with Open Sans?
We have the option of: 300, 400, 600, 700, 800
I'm hoping to chop out a few for load reasons, but if we want to use them all it's not that big of a deal.

[2015-04-19 02:38] jenlampton commented on #875
from @wesruv

Here's a PR that just adds the font and sets it to the body element.
https://github.com/backdrop/backdrop/pull/785

@ronnienorwood  Did you want to take it the rest of the way? If you setup my backdrop repo as a remote you should be able to grab my branch/commits and finish it off. If not that's cool, I can finish it up.

[2015-04-19 02:39] jenlampton commented on #875
from @quicksketch

I merged in https://github.com/backdrop/backdrop/pull/785 into the new `1.x-new-style` branch. It looks like we still need to do additional work here to do all the element styles themselves, no? Headings, paragraph margins, etc.

[2015-04-19 02:40] jenlampton commented on #875
from @ronnienorwood

where did you get all those fonts? All I got from google was the .ttf

[2015-04-19 02:40] jenlampton commented on #875
from @wesruv

I kept trying to get the source files from Google, but that was a total pain. I ended up going to Font Squirrel. Their `@font-face` CSS wasn't what we wanted, but everything else was spot on.

[2015-04-19 02:41] jenlampton commented on #875
fromt @wesruv

PR to get body font size in to fix admin tabs issue:
https://github.com/backdrop/backdrop/pull/797

[2015-04-19 02:43] jenlampton commented on #875
from @ronnienorwood

@wesruv @quicksketch @jenlampton
The highlighted words in the emphasis and italic sentences are not slanted like the master styleguide.  I thought that since they were html tags, they would automatically be slanted.
The master styleguide has the quotes tag set to none so there are no quotation marks in the sentence.  I'm not sure why it was done that way.
On the master stylegu

[2015-04-19 02:43] jenlampton commented on #875
from @wesruv

@ronnienorwood I've also noticed that our bold doesn't match some of the style guide's bold. I have more weights in the repo, but didn't set all of them up. I can add semi-bold to the available font weights (right now we only have bold).

[2015-04-19 02:43] jenlampton commented on #875
from @ronnienorwood

That would be great.

[2015-04-19 02:44] jenlampton commented on #875
from @wesruv

Looks like that's also an issue with how the font was included with @font-face, I'll fix it up.

[2015-04-19 03:01] jenlampton opened #876 "Clean up the recent log messages table even/odd styles"
This is a follow-up from https://github.com/backdrop/backdrop-issues/issues/739. The same icons are used both for messages and for recent log messages. We adjusted the background colors to match the messages, but there is now some color clashing between the "Seven red" and the "Error red":

![recent log messages l backdropdev com](https://cloud.githubusercontent.com/assets/5607236/6627669/2f4eb6a0

[2015-04-19 03:05] quicksketch opened #877 "New style primary tabs have a 1px gap in Firefox"
Followup to https://github.com/backdrop/backdrop-issues/issues/737 and part of the overall new style meta at #736.

In Firefox 37.0.01 (latest version) on Mac OS X Yosemite 10.10.3 (latest version) there is a 1px hairline gap between the primary tabs and the content below:

![hairline](https://cloud.githubusercontent.com/assets/100206/6634211/dc16ab32-c911-11e4-8111-7eab9895a052.png)

This problem

[2015-04-19 03:06] quicksketch commented on #737
Okay, merged in https://github.com/backdrop/backdrop/pull/795. I'll file a new issue for the hairline problem that still persists. I filed a new followup at https://github.com/backdrop/backdrop-issues/issues/877.

[2015-04-19 03:06] #737 closed

[2015-04-19 03:08] jenlampton opened #878 "Italics are not working with our new admin theme font, OpenSans"
Italics are not working with our new admin theme font, OpenSans.  In a previous issue, @wesruv said...

This is a follow up from https://github.com/backdrop/backdrop-issues/issues/875

[2015-04-19 03:14] jenlampton commented on #875
Since this PR has already been merged into the new theme branch, I have created a follow-up to fix the italics problem over at https://github.com/backdrop/backdrop-issues/issues/878

[2015-04-19 03:14] #875 closed

[2015-04-19 03:16] jenlampton commented on #757
Closing this issue since there is nothing to do here :)

[2015-04-19 03:16] #757 closed

[2015-04-19 03:20] quicksketch commented on #739
Okay, this conversation ended up all over the place (sorry everyone).

First PR: https://github.com/backdrop/backdrop/pull/769
Replacement PR: https://github.com/backdrop/backdrop/pull/796

In both pull requests, we had discussions about these new message styles affecting the database logging (watchdog) table styling. We decided to separate that into a new issue at https://github.com/backdrop/back

[2015-04-19 03:20] jenlampton commented on #785
@wesruv if you are still working on this please feel free to re-assign to yourself, I just un-assigned since it's been a whole month :)

[2015-04-19 04:00] quicksketch opened #879 "Account for new/larger font in the installer"
The new larger Open Sans font in Seven creates some issues with the installer:

The labels now wrap on desktop:
![installer-seven](https://cloud.githubusercontent.com/assets/100206/7218094/e103d534-e60d-11e4-9e85-98d04fcae25b.png)

Text is cut off mobile:
![installer-seven-mobile](https://cloud.githubusercontent.com/assets/100206/7218095/e43c91be-e60d-11e4-96b3-576e7dc5ec2f.png)

[2015-04-19 04:47] quicksketch commented on #876
After merging in the table styles, this looks quite a bit better, but it still needs some consideration. It makes no sense why some cells are green or blue while the first column is either lacking color entirely or is yellow:

![error-log](https://cloud.githubusercontent.com/assets/100206/7218184/d4cf0a80-e613-11e4-9ed1-f552b5613580.png)

For those curious, there are actually *seven* levels of err

[2015-04-19 05:33] Graham-72 commented on #873
I hope you will include something explanatory. When I first came across this page I wondered what sort of label I was expected to provide. Of course, now that I have used the form and experienced what it does, I have no such problem. As you say, it is a bit intimidating, both for the first time user and one coming back after many months. I would like the placeholders as well.

[2015-04-19 05:54] jenlampton commented on #753
I updated the style guide to unblock this issue.

[2015-04-19 06:39] klonos commented on #740
That's why we are all together in this. If one misses a detail, another will catch it. :wink:

[2015-04-19 10:15] klonos commented on #739
I don't know if you want to reopen this or file a new issue, but the status message text is not vertically aligned when it's 1 line:

![status_message_not_vertically_aligned_when_one_line](https://cloud.githubusercontent.com/assets/2423362/7219036/ba58cbd8-e6d0-11e4-9da9-59db64f4b271.png)

...looks fine when it spans more than one line though:

![status_message_ok_when_more_then_one_line](https://

[2015-04-19 10:28] klonos commented on #876
Buckets please! Will be easier to implement too. :wink:

We should have two shades of each color (in order to account for ```.even```/```.odd```). Not sure if we need different color for ```.active```?

[2015-04-19 13:04] docwilmot commented on #873
I think if the placeholders actually say "example" (or "e.g." as in this case) that should be sufficient. I would also an explanation as well though, especially with a link to somewhere explaining what those formats - F j y - actually are. Like php.net or we write our own article in the API site.

[2015-04-19 13:13] docwilmot commented on #876
Three buckets, please. That kaleidoscope up there is not gonna work out.

[2015-04-19 17:42] cellear commented on #870
The story told in this thread about Wildkatana's attempt to get Project Browser functionality into Drupal is a fascinating look into the Drupal infrastructure.  I'm amazed and very impressed by his patience and perseverance.

https://www.drupal.org/node/1243332

It strikes me that most of the objections raised in this thread don't really apply to us.  Perhaps we should give some encouragement to W

[2015-04-19 19:09] klonos commented on #873
:+1: for a link to https://php.net/manual/en/function.date.php#refsect1-function.date-parameters

[2015-04-19 21:20] wesruv commented on #759
Nice, thanks for knocking that out, getting caught up on silly crap :/

[2015-04-19 21:23] wesruv commented on #878
Nice, thanks!

[2015-04-19 21:29] wesruv commented on #739
Hrmmm... if I remember right I put a min-height on it so the icon wouldn't get snipped, but that seems like it's too tall. I'll take a look.

[2015-04-20 02:25] wesruv opened #880 "Status Message Layout/Spacing under different circumstances Related to #739"
From @klonos
Vertically space 1 liners
![status_message_not_vertically_aligned_when_one_line](https://cloud.githubusercontent.com/assets/2423362/7219036/ba58cbd8-e6d0-11e4-9da9-59db64f4b271.png)

This seems to work, but does it look good in Bartik/other themes
![status_message_ok_when_more_then_one_line](https://cloud.githubusercontent.com/assets/2423362/7219042/ce31347e-e6d0-11e4-9861-f1319cdd4ba

[2015-04-20 02:26] wesruv commented on #739
Unfortunately I wasn't able to spend the night working on backdrop as I'm having local env woes. On the bright side, I think have a very good long term solution.

I did get a bit to look at this as I ended up setting up my site multiple times and got quite a few error messages while doing so.

The biggest factor in these two screenshots is the font size difference between Seven and Bartik, I notic

[2015-04-20 02:27] wesruv commented on #785
@jenlampton I'm not, thanks for catching that!

[2015-04-20 04:22] Graham-72 commented on #760
In PR 819 I have modified the styles for class .marker but the commit has failed Travis CI

[2015-04-20 04:40] Graham-72 commented on #785
In PR 819 backdrop/backdrop/pull/819 I seem to have added a commit that I was expecting to become a separate PR. I will get these PRs right one day :worried: And the commit has failed Travis CI :worried:

I found that the arrow worked better in Chrome than in Firefox, but is much improved if enlarged slightly. Also I capitalised the text to match the styleguide.

[2015-04-20 05:41] Graham-72 commented on #878
I can see that the italics problem is caused by seven.fonts.css linking to the Light font files when it means to link to the Italic font files. (Lines 17, 19, 20, 21, 22 of seven.fonts.css)

[2015-04-20 13:38] Graham-72 commented on #753
I have added a commit to PR https://github.com/backdrop/backdrop/pull/819 in order to modify relevant styles in core/themes/seven/css/styles.css

[2015-04-20 13:44] Graham-72 commented on #878
I have added a commit to PR https://github.com/backdrop/backdrop/pull/819 that makes the necessary changes to file names in core/themes/seven/css/seven.fonts.css

[2015-04-20 15:21] quicksketch commented on #870
Thanks @cellear, that thread is indeed very interesting. It looks like the project browser functionality has pretty much been "ready" for a long time, with the main holdup being getting access to a complete development environment. :frowning:

And yes, I think the main hold-ups don't apply to us. For our initial pass, we could have the search box use the built-in search functionality instead of So

[2015-04-20 15:23] Drupaldise commented on #870
This would be great!

[2015-04-20 15:36] quicksketch commented on #878
Hi @Graham-72! Thanks for your work on these issues. Could you make a separate branch per issue and file the pull requests individually? The fix for this issue looks great, but the other issues look like they need additional work. Separating them will let me merge the ones that are ready.

[2015-04-20 16:49] quicksketch commented on #739
Thanks @wesruv!

[2015-04-20 18:27] jenlampton commented on #738
@ronnienorwood I've un-assigned you from this issue since it's been 20 days since you've worked on it last.  @Graham-72 has some time and might be able to help us wrap this up.

[2015-04-20 18:31] docwilmot commented on #870
Very cool. Would be fantastic addition.
Have left a note on the issue queue for the contrib project on D.org.

[2015-04-21 00:50] serundeputy commented on #843
- [ ] #1946240 by hampercm, eiriksm, David_Rothstein, rpayanm, rszrama, Yaron Tal, dgtlife, madhusudanmca, er.pushpinderrana, Cottser: Remove the hardcoded 0 index in theme_status_messages()

PR: https://github.com/backdrop/backdrop/pull/820

- [x] Travis passed.

[2015-04-21 02:15] ronnienorwood commented on #738
Hi @jenlampton,

I'm going to try to get to the bold/italic issues by tomorrow night.

@wesruv was going to add more bold & italic entries to the fonts file so I was waiting on that to finish this out.

The last thing I had done was change the page bg color.

[2015-04-21 06:42] Graham-72 commented on #878
Hi @quicksketch - I apologise for my struggles in using GitHub. I have now produced three separate pull requests at
https://github.com/Graham-72/backdrop/pull/1
https://github.com/Graham-72/backdrop/pull/2
https://github.com/Graham-72/backdrop/pull/3
and when doing the first of these the page invited me to merge pull request, so I did, which I guess was a mistake! Do you need a separate branch for

[2015-04-21 08:07] Drupaldise commented on #876
Why do we not remove the background color from the first col or change the icon?
I am not sure if the bucket solution makes the log better readable.

[2015-04-21 08:13] Drupaldise commented on #870
I am interested in working on that... not sure if we need the old Drupal version.

[2015-04-21 12:33] pablo-romero commented on #843
- [ ] #2462223 by helmo: Typo in comment in node_access_test.module

Has PR: backdrop/backdrop#821

Also, this one does not apply to Backdrop:
- [ ] #2411227 by chx: Remove chx from the Drupal 7 MAINTAINERS.txt file.

[2015-04-21 14:22] Graham-72 commented on #785
I have spotted two problems that don't seem to show up on the styleguide page.

1. The width of the column is not sufficient for the text in some circumstance e.g. see the operations column in admin/modules/list so I suggest style #system-modules td.operations on line 90 of system.admin.css should be width 125px or perhaps greater.

2. The admin page for editing layouts [admin/structure/layouts/ma

[2015-04-21 15:11] Graham-72 commented on #785
And on that admin page for editing layouts, the font size seems very large. Is this really what is intended by the styleguide?

[2015-04-21 18:24] docwilmot opened #881 "Ship Backdrop with a 'Blog' profile"
From https://github.com/backdrop-ops/backdropcms.org/issues/58#issuecomment-94113280

Response from @quicksketch:

Reasonable response, and I am not pushing, but to explain my motivation: The current normal profile is more a Swiss-Army-Knife approach which gives you a relatively non-discrete 'website' which has to be modified to suit whatever purpose you have in mind, regardless. Its a list of pos

[2015-04-21 18:43] findlabnet commented on #865
https://github.com/backdrop/backdrop/pull/817 replaced with https://github.com/backdrop/backdrop/pull/822

[2015-04-21 19:39] Graham-72 commented on #738
I have been reviewing the styles in admin and the style guide today and identified some changes to branch 1.x-new-style. I have not yet made a PR for more changes to styles.css because I had better wait for my PR for issue #753 Form Elements to be checked.

[2015-04-21 20:15] Graham-72 commented on #881
I think that having it set up as a ready-to-use blog is an excellent proposal.

However, it does remind me of my early frustration with Wordpress in the days when it was primarily a blog and it was hard, at first, to understand how to get conventional pages. But I am sure we are well on top of that one.

Can we start with a simple question something like "Is your initial aim to start your own blog

[2015-04-21 23:25] quicksketch commented on #865
Looking great! Instead of replacing your PRs, you can force push to your existing branch to update the PR with any changes.

The new PR looks great to me. It's only missing an update hook to set the default value of the new canonical_secure option. The new option should be added in system.install `system_update_1037()`.

[2015-04-22 00:10] serundeputy commented on #843
- [ ] #2305017 by David_Rothstein, slashrsm, marcingy: Add a 'file_public_schema' variable to allow bypassing file download access checks in managed file upload fields

PR: https://github.com/backdrop/backdrop/pull/824
  - [ ] Travis passed.

This works a bit differently in backdrop, but the OP on the dupal issue #2305017 was a reproducible bug; I believe the PR allows for the editing of taxonomy

[2015-04-22 03:22] wesruv commented on #785
@Graham-72 good points! In the future screenshots would be helpful, I'm a big fan of "[Awesome Screenshot](http://awesomescreenshot.com/)", which I believe is available for every major browser.

In general I really like that we're increasing the font-size, but as you're pointing out it's bringing up some issues in how some pages are styled/marked up.

Per 1: That's not ideal, @dariusgarza and @qui

[2015-04-22 03:24] wesruv commented on #739
For the record, my local environment issues were related to Vagrant, not Backdrop :D

[2015-04-22 03:33] quicksketch commented on #785
On the modules page, I think we could simply specify a minimum width for the "Operations" column. Drop buttons in particular have been tricky to style in the past. There's already an open issue for this at #370, they just don't work well in inline-block situations right now.

In a situation as specific as the Layout administration, markup changes should be fine if they are necessary, especially if

[2015-04-22 03:46] wesruv commented on #876
Funny story, more date columns would be in a color other than gray except the `tr.odd` class has a higher specificity than the status bg colors. *facepalm*

Anyway I took a quick stab at doing something a little nicer that won't involve too much time/work. My gut is that we shouldn't spend too much time on this page at this point. Not say it's not important, I just think there are more impactful p

[2015-04-22 04:16] wesruv commented on #878
@Graham-72 I didn't see a PR for the italics so I added one in myself to make sure this gets fixed sooner rather than later.
https://github.com/backdrop/backdrop/pull/825

[2015-04-22 04:19] wesruv commented on #738
@ronnienorwood sorry it took me so long, I got crazy busy. Just got a PR in to fix the italics here: https://github.com/backdrop/backdrop/pull/825

Once it's merged into `1.x-new-style` you can update and keep moving. We're shooting to get these admin theme tickets **done** by the end of the month. If you don't have time between now and then push up what you have and I'll finish it off, thanks so

[2015-04-22 04:21] wesruv commented on #785
Assigning to @Graham-72 to prevent confusion

[2015-04-22 04:22] wesruv commented on #753
Assigning to @Graham-72 to prevent confusion

[2015-04-22 04:22] wesruv commented on #760
Assigning to @Graham-72 to prevent confusion

[2015-04-22 05:08] quicksketch commented on #878
Thanks guys! Thanks @wesruv for helping with the PRs. We're a little all over the place.

I've merged in https://github.com/backdrop/backdrop/pull/825. Thanks!

[2015-04-22 05:08] #878 closed

[2015-04-22 07:48] pablo-romero commented on #843
- [ ] Issue #843: Drupal 7.36 meta #1018618 by manfer, joshi.rohit100: Wrong assertions in block.test

PR: backdrop/backdrop#827

[2015-04-22 08:10] pablo-romero commented on #843
- [ ] #2453321 by TravisCarden: Typo in @see reference: drupal_decode_exception() should be _drupal_decode_exception()

Also checked this one, and it's already fixed in Backdrop.

[2015-04-22 08:17] Bojhan commented on #870
I actually did the design and mentoring of this project for core. For some reason we never got there. The challenge isn't really the d.o part, although in the Drupal world it is.

Outside the Drupal world the challenge should be, a nice experience - which is kinda tricky with uploading and enabling. I find the Wordpress browse experience quite nice, but then installing it feels "Drupally".

[2015-04-22 08:36] Bojhan commented on #758
This is indeed a bit much.

Changing mid-way through is a bit much. Some approaches:

![screen shot 2015-04-22 at 10 33 33](https://cloud.githubusercontent.com/assets/209807/7270253/200ee1fe-e8db-11e4-82ae-52ba82864cf2.png)

![screen shot 2015-04-22 at 10 35 01](https://cloud.githubusercontent.com/assets/209807/7270276/50536128-e8db-11e4-8fb8-41907cfef9cc.png)
![screen shot 2015-04-22 at 10 35 26]

[2015-04-22 08:38] Bojhan commented on #755
A small FYI, the reason we have a > in Core - is because of a11y. You can't otherwise see that its something you can open. Which is a requirement for a11y.

[2015-04-22 14:05] Graham-72 commented on #760
I have created a new PR at backdrop/backdrop/pull/828

[2015-04-22 14:30] Graham-72 commented on #785
I have created a new PR at backdrop/backdrop/pull/829

[2015-04-22 14:55] Graham-72 commented on #753
I have produced a new PR backdrop/backdrop/pull/830
There are other changes to come for style.css as I review other issues
e.g. https://github.com/backdrop/backdrop-issues/issues/738

[2015-04-22 15:32] Graham-72 commented on #738
I have made a new PR at https://github.com/backdrop/backdrop/pull/831
to make changes to one of the stylesheets in 'seven'
and modify the following in accordance with styleguide:
    background color
    para line height, list line height,
    blockquote

[2015-04-22 16:17] docwilmot commented on #845
Update (excuse the delay). Removed all features except level and depth. Please review.

Note that all calls to  system_menu_block_tree_output() were replaced by the pre-existing core function menu_tree_output() as the former was a copy of the latter with some extra classes and menu-specific theme overrides.

We could directly add these classes and overrides to menu_tree_output() if this is needed.

[2015-04-22 17:19] Graham-72 commented on #785
Thanks @quicksketch for your tip about "Awesome Screenshot".

I have given this a try and unfortunately it produces inconsistent results in the operations column, as here..
![modules - backdrop starter 2015-04-22 18-10-59](https://cloud.githubusercontent.com/assets/10559274/7280601/bfe580ee-e91b-11e4-8e55-be1a5567123c.png)

This is just a first look and I will try other possibilities.

[2015-04-22 17:28] docwilmot commented on #842
Tried this. It seems that color module cant mix flat and gradient. I attempted to have a default with flat but keep the gradients in color.inc in case someone wanted this still. but It seems color module needs to be able to replace color1 and color2 (top and bottom in this case) from color.inc with the gradient colors in colors.css (maybe vice versa).

Trying to have two same colors causes all the

[2015-04-22 19:41] findlabnet commented on #865
Done and travis-ed. Thank you for patience.

[2015-04-22 21:54] quicksketch commented on #738
Thanks @Graham-72! This looks pretty good to me. I tested it out and I'm glad to see the background color getting set.

It looks like this is going a bit beyond "base" styles in some places, such as:

[code]

Should the base.css file be kept to just element styles? Or are overridding core-provided styles like this allowed? @wesruv and @jenlampton would have a better idea then myself.

[2015-04-23 00:03] ronnienorwood commented on #738
@wesruv,

Looks like @Graham-72 is finishing this up now.

[2015-04-23 00:13] serundeputy commented on #843
- [ ] #1018618 by manfer, joshi.rohit100: Wrong assertions in block.test
  PR: https://github.com/backdrop/backdrop/pull/832

- [ ] Travis passed.

[2015-04-23 00:42] quicksketch commented on #845
I'm in favor of this instead of having two nearly identical functions.

I think our current menu theme overrides are sufficient. We don't need to inject "menu_block" in the theme hook names.

Our current theme call is this:
[code]

Which will already call `theme_menu_link_[menu_name]()` if it exists, and fallback to `theme_menu_link()` otherwise. The same sort of fallback applies to the `#theme_wr

[2015-04-23 01:49] quicksketch commented on #843
Thanks guys! @serundeputy, that last PR (https://github.com/backdrop/backdrop/pull/832) overlapped with @pablo-romero's PR (https://github.com/backdrop/backdrop/pull/827), so that's why it's closed and not showing as merged.

[2015-04-23 01:51] quicksketch commented on #879
PR for this at https://github.com/backdrop/backdrop/pull/833. Thanks @wesruv! It looks great.

[2015-04-23 01:52] wesruv commented on #879
Hah, you're quick! No prob :)

[2015-04-23 01:53] quicksketch commented on #879
:smile: Merged into 1.x-new-style. Thanks!

[2015-04-23 01:53] #879 closed

[2015-04-23 02:00] wesruv commented on #785
*shakes fists in the sky* TAAAAABBBBLLLEEEESSS!!!

Best of luck, they're not always cooperative.

[2015-04-23 02:11] wesruv commented on #738
@quicksketch @Graham-72
Ugh. When I look at the name of the file, I agree with quicksketch, when I think about being DRY, I like Graham-72's solution better. I loathe that core is styling `.block ul` and `.item-list ul` because it makes things awkward downstream.

I vote to keep things DRYer and go with what @Graham-72 Graham has there. That said if we go that way we should get rid of this declara

[2015-04-23 03:08] serundeputy commented on #843
(thumbsup);

[2015-04-23 03:53] jenlampton commented on #760
Thanks @Graham-72 !

Sorry to do this to you, but Darius and I had a quick review of all the assumptions I made to unblock issues, and apparently I got this one wrong :(  He would prefer to use the colors from the green status message, light green bg and the dark gray text. Do you want to give that a whirl?

[2015-04-23 03:59] quicksketch commented on #738
Sounds good to me @wesruv. I was leaning towards keeping it base.css too. @Graham-72, could you remove those lines from style.css then? We also need to make sure the RTL styles are removed and maintained in the base.css file adequately. I'll add a comment to the current PR.

[2015-04-23 04:13] quicksketch commented on #865
Thanks to you @findlabnet! This is looking great. Tests are passing and it looks like the update runs well. Thanks for optimizing the submit handler config saving as well.

![url-handling](https://cloud.githubusercontent.com/assets/100206/7290474/6fb7dfa4-e934-11e4-8cc0-c189b6bc5fdb.png)

The only problem I encountered during testing is that now Admin Menu shows *both* items in the admin bar. I'm

[2015-04-23 04:42] jenlampton opened #882 "Add three core classes for use on form-submit buttons"
There are several places in core where we want fancy submit buttons.  In order to have them, we need a class.

1) add the ~~`dangerous`~~ `danger` class to indicate when clicking a certain button will do something dangerous. All confirm forms, by their nature, do something dangerous.  The submit button on any confirm form should have the `danger` class. There should be no other examples of dangero

[2015-04-23 04:50] jenlampton opened #883 "Re#736 - Form Elements, fancy buttons (Pt 3)"
**Blocked**
There are some comments related to Buttons at backdrop-ops/styleguide#11

**Blocked again**
This issue is also blocked by https://github.com/backdrop/backdrop-issues/issues/882 which will add classes everywhere we need a fancy submit button.

Implement special button styles:
* Primary button styles (blue?)
* Dangerous button styles (red?)
* Other button styles (may appear next to prima

[2015-04-23 04:55] jenlampton commented on #754
I moved the more complex button styles over into https://github.com/backdrop/backdrop-issues/issues/883 to unblock this issue.  The rest of the items in this issue are now ready for implementation.

[2015-04-23 05:09] Graham-72 commented on #760
@jenlampton - No problem (I hope!). I will do it today.

[2015-04-23 05:40] Graham-72 commented on #760
@jenlampton @quicksketch Thanks for comments on my PR. I have revised it and I hope I have done this the right way. backdrop/backdrop#828

[2015-04-23 05:44] quicksketch commented on #760
Looks pretty good to me! Some times it's helpful to squash the commits together into a single one. You can do this by modifying the last commit with `git commit --amend`, or afterwards with `git rebase -i` (see https://backdropcms.org/develop/pull-requests#clean-requests), but in this case, both commit messages are good and they modify the same lines, so it's not necessary to squash them together.

[2015-04-23 06:08] Graham-72 commented on #738
@quicksketch - I have modified my PR https://github.com/backdrop/backdrop/pull/831 and will make a new PR for removing lines from style.css

[2015-04-23 07:00] Graham-72 commented on #738
Something that doesn't seem to show up on the style guide page is a problem with line spacing of text within a vertical tab. Here is what it looks like at the moment -
![basic page - backdrop starter 2015-04-23 07-57-00](https://cloud.githubusercontent.com/assets/10559274/7291935/7f914e6a-e98e-11e4-9b21-31633d8879fa.png)

I will gladly produce a PR to alter line height which is currently set at 1

[2015-04-23 08:49] findlabnet commented on #865
After short investigation I've found this as an existing menu item under "management "(or "Administration menu") - `admin/structure/menu/manage/management`. It was on only one of four my test installations and I found it after update core via replacing "core" directory. DB tables `menu_links` and `cache_menu` have records for it (should be removed when renamed?).
Maybe I need check menu clean-up o

[2015-04-23 09:47] pablo-romero commented on #843
- [ ] #2382801 by er.pushpinderrana, Liam Morland: Improve documentation for module_exists()

PR: backdrop/backdrop#836

[2015-04-23 09:59] Graham-72 commented on #754
I have made PR https://github.com/backdrop/backdrop/pull/837 in order to apply the styleguide CSS to select.form-select in style.css

[2015-04-23 12:33] docwilmot commented on #845
OK, all changes made, rebased and pushed. Not sure if this should have been a new PR; updated existing instead.

[2015-04-23 18:54] Graham-72 commented on #754
I have made PR backdrop/backdrop/pull/838 in order to apply the styleguide to the buttons. With this PR all the form buttons (Submint, Preview, Confirm and Search) have the same revised appearance and I assume that specific colours will be assigned in a future PR.

I have had a look at checkboxes and radio buttons and it seems that no changes are needed

[2015-04-23 18:59] quicksketch commented on #865
Ah! In that case, maybe we should do a deletion from the `menu_links` table in our hook_update()? The caches are already cleared and the menu rebuilt after an update.php run, so I think we just need to delete that link from the table.

[2015-04-23 19:17] quicksketch opened #884 "Allow Emoji (Switch MySQL encoding from utf8 to utf8mb4)"
The most [recent release of WordPress](https://wordpress.org/news/2015/04/powell/) switched the default encoding from utf8 to utf8mb4 in MySQL. This allows MySQL to store additional characters that it otherwise will crop and mangle. utf8mb4 enables MySQL to store the full range of UTF-8 characters, including Emoji characters.

Apparently utf8mb4 has [been available since MySQL 5.5](https://mzsanfo

[2015-04-23 19:18] klonos commented on #758
Good one!! :laughing:

[2015-04-23 20:00] quicksketch commented on #480
I've resolved all the test failures in @jenlampton's PR in a new branch: https://github.com/quicksketch/backdrop/tree/jenlampton-480-token-in-core

I've also added the update hook to disable the contrib Token module (if present) and alter the module list to prevent the contrib Token module from being enabled.

![token-disabled](https://cloud.githubusercontent.com/assets/100206/7306215/649e4cd2-e9b

[2015-04-24 01:29] quicksketch commented on #754
Hi @Graham-72! I looked at your PR for .form-select (and other inputs). Everything looks pretty good. I checked in Safari, Chrome, Firefox, and IE10. The only problem I noticed was that Safari didn't take the changes to the select list:

![select](https://cloud.githubusercontent.com/assets/100206/7310654/baa8a498-e9e4-11e4-8ff2-440fc6f17333.png)

Unfortunately this gets us into a whole bag of worm

[2015-04-24 01:30] jenlampton commented on #546
In this case it's more templates adding more markp, all of which is unnecessary. If people want a nav tag, they can add one in the blocks UI, or by overriding `block--book--navigation.tpl.php`.  There's no reason for this extra layer of theme overrides.

New PR removes the nav tag entirely - but because we've now got a markup change going on, this may need to wait for 2.x?

[2015-04-24 01:59] quicksketch commented on #738
I merged in https://github.com/backdrop/backdrop/issues/835 before I saw this last comment @Graham-72. Let's make a follow-up for styling vertical tabs.

I think we're done with this issue and all the parts in it. Is there anything not yet done that's listed in the original post?

[2015-04-24 02:00] jenlampton commented on #684
New PR at https://github.com/backdrop/backdrop/pull/727

[2015-04-24 02:01] quicksketch commented on #738
Actually I take that back. I'll cherry-pick the commit from https://github.com/Graham-72/backdrop/commit/09e640f31031d2fa0cb5746a04aad0a4c1289f53.

[2015-04-24 02:06] quicksketch commented on #738
Okay merged in the Vertical Tabs change as well. Let's close this issue up and make new issues for remaining pieces. The number of PRs referencing this issue are getting a bit confusing.

[2015-04-24 02:06] #738 closed

[2015-04-24 02:26] quicksketch commented on #760
Merged https://github.com/backdrop/backdrop/pull/828. Thanks!

[2015-04-24 02:26] #760 closed

[2015-04-24 02:34] jenlampton commented on #764
just pushed some updates to https://github.com/backdrop/backdrop/pull/748 that solve the issues pointed out in [nate's comment](https://github.com/backdrop/backdrop-issues/issues/764#issuecomment-75503512)

[2015-04-24 04:05] jenlampton commented on #753
I used @Graham-72's PR to generate a new one that's a little closer to the code we were using on http://backdrop-ops.github.io/styleguide so the end result should look more similar.

[2015-04-24 04:08] jenlampton commented on #754
We should have a single PR here that includes all changes (if necessary) for
* Select (add new style)
* Checkboxes (confirm default styles don't need tweaking)
* Radio buttons (confirm default styles don't need tweaking)
* General buttons (add new style)

@Graham-72 it looks like https://github.com/backdrop/backdrop/pull/838 covers the buttons and https://github.com/backdrop/backdrop/pull/837 incl

[2015-04-24 07:52] jenlampton commented on #754
trying this again, since my PRs seem al SNAFU tonight

[2015-04-24 08:01] jenlampton commented on #754
Alrighty, I think I finally got those up there correctly.  Phew. So, heres what I did for this one:
- combined @Graham-72's two previous commits, plus minor updates
- added a 5px right-margin to radios and checkboxes,
- added a vertical-align: middle to the labels of radios and checkboxes
- switched out the inner box-shadow for a border on select elements (which still look almost default on safari

[2015-04-24 09:04] pablo-romero commented on #843
- [ ] #2383491 by er.pushpinderrana, Sweetchuck: Inaccurate documentation - hook_image_toolkits()

PR: backdrop/backdrop#845

[2015-04-24 12:05] findlabnet commented on #865
Added to system_update_1037()

[2015-04-24 13:16] klonos opened #885 "Allow tokens to be used in the default value of fields."
From https://github.com/backdrop/backdrop-issues/issues/480#issuecomment-71490612

I am closing the respective issue from the contrib module queue (https://github.com/backdrop-contrib/token/issues/2) and moving it to core since token is planed for addition to core soon (in 1.1.0).

- Respective issue in d.org for D8: https://www.drupal.org/node/1070878
- D7 module: [Field Default Token](https://ww

[2015-04-24 14:08] pablo-romero opened #886 "Locale module importing targets as sources"
Locale module is somehow importing many **target** strings as **sources**. Here is an example for Spanish:

![locale-bug](https://cloud.githubusercontent.com/assets/1876841/7319785/53704aba-ea98-11e4-9503-d3c4a6760ea7.png)

Legend:

1. There are more "fake" string sources (red, already in Spanish) than "genuine" ones (blue, in English).
2. They mostly come from a .po file import so these texts sho

[2015-04-24 14:48] pablo-romero opened #887 "[UX] Improve current Language System"
This is some kind of feature request to improve the language system in Backdrop (maybe for **2.x**?), also related to issues #827, #860 & #886.

It could be a good opportunity to simplify the whole thing by moving interface texts from DB into flat config files.
Some examples of other language systems out there:
- Modern framework-based CMSs (Bolt, October, etc.) use .yml files.
- ProcessWire uses

[2015-04-24 17:03] docwilmot commented on #842
Went ahead and made a PR to change Bartik to use flat colors and no tabs.

[2015-04-24 19:50] docwilmot commented on #845
Pretty sure Travis laughed at my first attempt at this. 1400+ exceptions!
Passed now though.

[2015-04-24 23:13] serundeputy commented on #843
- [ ] #2380143 by Lendude, pwolanin: Contact forms set an incorrect name and e-mail address on the global user object after the form is submitted.

PR: https://github.com/backdrop/backdrop/pull/847

- [ ] Travis passed.

[2015-04-25 00:53] klonos commented on #842
Screenies?

[2015-04-25 01:06] docwilmot commented on #842
Unchanged from above, essentially.

![screenies](https://cloud.githubusercontent.com/assets/1042283/7330859/6700cbd4-eabd-11e4-8930-a6384e37315f.PNG)

[2015-04-25 01:17] quicksketch commented on #843
I marked a few more issues N/A.

For those curious, [our favicon](https://raw.githubusercontent.com/backdrop/backdrop/1.x/core/misc/favicon.ico) includes 16x16, 32x32, and 64x64 pixel varieties. :smile:

[2015-04-25 02:02] quicksketch commented on #842
I think we're going to have to find a more compatible way of implementing this change. I don't think we can remove the ability to have a gradient at all mid-release. Even though we might not be affecting very many existing sites, this wouldn't set a good precedent.

Ahhh, I think I see what you're saying. The way color module works is replacing the "default" color with the selected color from the

[2015-04-25 02:06] quicksketch commented on #842
What if we left the default color.css exactly as-is and just set a default color scheme during the default profile installation?

The color module API is not very good. I already separated the CSS generation in the existing issue at https://github.com/backdrop/backdrop-issues/issues/792, but it's waiting on tests. After that is complete, we could just call the new `color_save_configuration()` func

[2015-04-25 02:28] quicksketch commented on #842
Which by-the-way, I think we should provide a set of less-dated color schemes as well.

We may need to find a way to make the removal of tabs compatible as well. I see the current PR makes a new color for "Active menu item" (good idea), maybe we should make another one for "Menu item"? That's definitely making a lot of options (and a lot of rope for users to hang themselves with bad color schemes)

[2015-04-25 02:56] klonos commented on #785
I understand that the styleguide dictates using UPPERCASE for our buttons, but the dropbutton innovation came to existence in order to save us horizontal space. By using UPPERCASE we increase the width of the "Operations" column though. Regression?

Also, (just a heads-up because I have not actually checked the PR itself - just the [styleguide](https://backdrop-ops.github.io/styleguide/#dropbutton

[2015-04-25 03:38] docwilmot commented on #842
What if we renamed this PR effort as jen_bartik, (or quick_bartik, or even bartik_sketch) and put bartik in contrib?

Or how about 'nearly flat' with a gradient of `#27ace2` to `#27ace1`?

Would this default need to be a gradient still or will we be able to make a non-default two-same-color 'gradient' and save that as default?

Frankly if we had such tags, I'd tag this critical; I'd be wrong, but

[2015-04-25 04:49] Graham-72 commented on #785
Interesting. I am not seeing this in my test site with PR applied and I have checked in Firefox, Chrome, Safari and IE (all on PC), but maybe some other change is causing this.

[2015-04-25 04:56] quicksketch commented on #842
I'm not opposed (and I don't think anyone would be) to making a new default theme mid-cycle. As long as it's an additive process (i.e. Bartik sticks around in core for everyone using it). I think we should do the least amount of change possible to modernize what we have, and save any major change for a new default theme.

[2015-04-25 05:07] Graham-72 commented on #842
I am probably being awkward saying this, but as a Drupal user I found it strangely re-assuring to find trusty Bartik there in Backdrop! I felt I was in familiar territory. But I have never found Bartik's colour changing arrangement particularly inviting, and a 'Bartik plus' that offered a few check button options might be nice.

[2015-04-25 05:46] quicksketch commented on #887
Thanks for opening this issue @pablo-romero. I'd like to investigate the option of using `.po` files directly. I think it's absurd that Drupal uses the database for string translation, but I'm sure there's some historical reason for it. WordPress's approach actually isn't even custom, `.po` file support is built *into PHP itself*. Their main translation function is the double-underscore function `

[2015-04-25 06:06] quicksketch commented on #886
Thanks for opening this @pablo-romero! I admit, I'm not very familiar with the normal functionality of Locale module, so I'm glad to have your reports on these problems. We changed *very* little about the inner workings over Locale, so I'm surprised to see that we would have introduced such a regression (and that this either isn't being tested or the test is incorrect). Could you provide a link to

[2015-04-25 11:23] docwilmot commented on #842
How about a little subtheme - bartik_flat - with nothing but color and CSS changes?

[2015-04-25 11:30] Graham-72 commented on #842
Yes, and could it have a checkbox to choose whether to have main menu tab borders showing or not?

[2015-04-25 12:03] klonos commented on #785
As I said...

[2015-04-25 21:08] Graham-72 commented on #754
@jenlampton From your PRs I have built myself a fresh local version of style.css, Though I had to do quite a bit of it manually because of a problem with commit 8c8f772 failing for me - something wrong in line numbering. I will try and track this down.

Anyway, the result is that the styleguide demo page is now looking excellent (in Firefox at least). If it helps, I will review 'normal' admin page

[2015-04-25 21:13] Graham-72 commented on #754
@jenlampton From your PRs I have built myself a fresh local version of style.css, Though I had to do quite a bit of it manually because of a problem with commit 8c8f772 failing for me - something wrong in line numbering. I will try and track this down.

Anyway, the result is that the styleguide demo page is now looking excellent (in Firefox at least). If it helps, I will review 'normal' admin page

[2015-04-26 00:24] quicksketch commented on #865
Thanks @findlabnet! I merged this manually to optimize the update hook. There's no need for a separate SELECT and DELETE statement when you could just put a condition on the DELETE statement.

This was merged in https://github.com/backdrop/backdrop/commit/f1024b70ce62b3514eaa37ae77a304f6c05e2667. Thanks for your work on this. It's a small feature but opens the door to additional exciting options s

[2015-04-26 00:24] #865 closed

[2015-04-26 00:29] quicksketch commented on #753
I've merged in https://github.com/backdrop/backdrop/pull/843 to move this forward. Let's keep iterating on top of these changes with any additional fixes needed.

[2015-04-26 00:29] #753 closed

[2015-04-26 00:30] quicksketch commented on #754
Let's merge this in and continue iterating in followups. The code looks great and we can keep improving or fixing missing pieces.

[2015-04-26 00:32] quicksketch commented on #754
Merged in https://github.com/backdrop/backdrop/issues/844. Thanks @Graham-72 and @jenlampton!

[2015-04-26 00:32] #754 closed

[2015-04-26 01:04] serundeputy commented on #87
update:
seems that on a fresh install of `backdrop` on branch [87/add-pathauto-to-core] (https://github.com/serundeputy/backdrop/tree/87/add-pathauto-to-core) the automatic aliases work for `basic page`, `article`, `taxonomy` terms, and `users`, but if you hit:
[code]
and change say separator to `-` and save then the automatic paths stop working?

so this branch `sometimes`™ works.

Any ideas welc

[2015-04-26 02:53] docwilmot commented on #868
Great that this is moving along. I Googled what canonical means, and I kinda get that its a good idea. I would ask though that we find a simpler easy to grasp description to go with this option, or change the label itself from `[ ] Redirect to canonical URL` to something simple. I'd give suggestions but I've forgotten again what exactly it means.

[2015-04-26 04:24] Graham-72 commented on #868
LOL here!

[2015-04-26 12:14] pablo-romero commented on #886
I've been testing this locally so I have no links, but I'll send you something for your tests.

[2015-04-26 12:16] pablo-romero commented on #887
Thanks for the answer @quicksketch.

That contextual translation example is exactly what I think BD needs. It would probably fix all current issues.

Then, WP is the best example. There's also an old patch for D7 in [this article](http://al.quimia.net/en/blog/improving-drupal-performance-using-native-gettext-for-translations "Using native Gettext for Translations"), not sure how much it could help

[2015-04-26 12:23] pablo-romero commented on #801
I don't want to look like some sort of "IE8-hater", but I'd go with the last option. IMHO the first option is not worth the effort.

A JS Polyfill could also be fine, because the performance penalty only applies to IE8 users.

I used *respond.js* some time ago and it works pretty well with css3 media queries & IE8.

The only problem with Respond is that it only covers that part, so most of the tim

[2015-04-26 12:29] tarekdj commented on #801
:+1: @pablo-romero I think a JS Polyfill is totally fine

[2015-04-26 13:12] pablo-romero commented on #843
- [ ] #2453311 by TravisCarden: Fix a couple more "the the"s in the codebase

PR: backdrop/backdrop#849

[2015-04-26 14:44] Graham-72 commented on #785
I have added a note to https://github.com/backdrop/backdrop/pull/829 about the latest situation concerning the appearance of the drop buttons.
My note says :

![dropbuttondown](https://cloud.githubusercontent.com/assets/10559274/7337690/e45d7f5a-ec2a-11e4-8b1f-179a187afb2b.png)
![dropbuttonup](https://cloud.githubusercontent.com/assets/10559274/7337691/e4632504-ec2a-11e4-9fec-099c881565fd.png)

[2015-04-26 15:47] Graham-72 opened #888 "Form styles and admin tables"
When reviewing test sites that use the current 1.x-new-style I see three possible issues at present:
- excessive row spacing (perhaps a matter of opinion)
- black up and down arrows not showing well in heading of sortable column
- hidden text in drop-down selectors
These are minor issues but it would be nice to get them looking good straight away.

Here are some screenshots:
A. 'Content' page as i

[2015-04-26 17:55] docwilmot opened #889 "Create a new default theme, as a subtheme of Bartik"
See https://github.com/backdrop/backdrop-issues/issues/842
A subtheme would allow us to:
- have a more modern-looking default theme
- keep Bartik for easier upgrade
- minimize the work needed to achieve this by making (mainly) only minor CSS color adjustments

Branch at https://github.com/docwilmot/backdrop/tree/bartik-flat does just this. The default tabs are also removed (this is the only non-co

[2015-04-26 19:27] klonos commented on #888
I'm with you here. Way too much vertical space gone to waste and more scrolling required. Not good.

:+1: for the white (same as the text) sorting arrows in table column headers.

As for the drop-buttons, I've recently expressed my opinion in https://github.com/backdrop/backdrop-issues/issues/785#issuecomment-96122931:

[2015-04-26 20:41] nortmas opened #890 "uuid and entity import / export"
Hello guys, I'm a developer from Adyax company. I think that Backdrop it's a really cool idea. If you do not mind, I would like to offer some features.
Would be great if backdrop could export / import (synchronize between sites) a certain nodes, taxonomy terms etc. Like it is possible in drupal via module Universally Unique IDentifier (https://www.drupal.org/project/uuid).

For example in the enti

[2015-04-26 21:11] quicksketch commented on #801
We already include html5.js for IE8, so we're covered for making it recognize HTML5 elements at least. If respond.js does an adequate job, that seems like the least work. We're committed to IE8 support for the 1.x release.

[2015-04-27 03:12] wesruv commented on #874
@klonos @quicksketch
In the styleguide there is no top, right or left border? Should we add one? With the background color between the body and table, striping and th bg color, I think it's fine.

[2015-04-27 03:30] wesruv commented on #874
Pull request for hover color, let me know if the border should be added: https://github.com/backdrop/backdrop/pull/850

[2015-04-27 03:37] wesruv opened #891 "[UX] Fix up spacing and hierarchy of Layout page"
@Graham-72 called out some goofiness on this page, going to do a quick cleanup.
![layout-edit-page-1-5x-new-style](https://cloud.githubusercontent.com/assets/5607236/7266775/31562dfe-e87d-11e4-90dc-07665fb013f9.png)

[2015-04-27 04:02] Graham-72 commented on #891
@wesruv I'm glad you are looking at this. I have been trying to tidy up dropbutton widths on other pages and have just been thinking about this one. I am trying adding the following in core/misc/dropbutton.css

#system-modules .dropbutton-wrapper div,
#layout-edit .dropbutton-multiple div,
#layout-list .dropbutton-wrapper div {
  min-width: 140px;
}

It is doing what I would like to do to the appe

[2015-04-27 04:45] quicksketch commented on #874
There is one, it's just *very* subtle:

![table](https://cloud.githubusercontent.com/assets/100206/7341791/7b0adca4-ec5d-11e4-93c4-b312fdc5f3d0.png)
![tr](https://cloud.githubusercontent.com/assets/100206/7341801/982fc01a-ec5d-11e4-832f-2b61f77f54be.png)

[2015-04-27 04:47] quicksketch commented on #874
Oh I see what you're saying, there really is not border on the top. But the right and left borders are on the `<tr>` tag as shown in the screenshot. I think we're fine without the top border with the thead there.

[2015-04-27 05:12] wesruv commented on #891
@Graham-72 I took a crack at cleaning up the interface a bit, was there anything specific you see that I didn't address?
![draft-of-layout-page](https://cloud.githubusercontent.com/assets/5607236/7341981/dc47ba8c-ec71-11e4-9d71-29f6b3b60cac.png)

Here's the PR for what I've got:
https://github.com/backdrop/backdrop/pull/851

[2015-04-27 06:06] Graham-72 commented on #891
@wesruv - I think this is now looking very good, thank you. I wonder what happens when you have a block with a longer title in the sidebar. Does it the dropbutton drop below the title like this
![edit -default layout- - graham s backdropcms trial 2015-04-27 06-42-41](https://cloud.githubusercontent.com/assets/10559274/7342420/b875db9a-ecab-11e4-9177-9a1fa705b88a.png)
I guess I should apply your pa

[2015-04-27 06:09] quicksketch commented on #842
We can make the two colors the same to effectively remove the gradient. It's already possible to use the same color twice in a color scheme, it's just not possible to use the same color twice in the Bartik-provided "colors.css" file.

So the fix in this issue is simply to set the color scheme in `standard.install` that will immediately override the `colors.css` file in Bartik by saving a new palet

[2015-04-27 06:10] quicksketch commented on #889
I don't think we should add another theme to core that looks almost identical to the current theme in core. From an end-users point of view, these appear as totally separate options in the UI, which would lend the expectation that they would actually be different in some substantial manner. With the only significant difference being the removal of tabs (we can remove the gradient in the standard i

[2015-04-27 06:18] quicksketch commented on #868
How about:

[code]

After thinking about this functionality and the possible trouble you could get into with it, I don't think we should try to handle HTTP/HTTPS redirects, or any redirects involving domain name changes (e.g. www/non-www or old-domain.com to new-domain.com). The potential for redirecting to broken URLs or loops conflicting with .htaccess redirects seems too high. Redirecting to cl

[2015-04-27 11:07] Drupaldise commented on #890
"Also would be great if we could add a node display as block into layout."
Hi @nortmas, I think you can do that with views.

[2015-04-27 11:37] nortmas commented on #890
Hi @Drupaldise, sure, you're right, but anyway we need to use UUID, because you should use NID to select a certain node and NID could be different in other environments (stage, production etc).
It's just my opinion, but I think that it's a too simple (and often necessary) block, to create additional view for this.

[2015-04-27 12:17] docwilmot commented on #891
@wesruv @Graham-72 while you're at it see this comment from @jenlampton https://github.com/backdrop/backdrop-issues/issues/373#issue-46063420 (point number 4). I think that  makes a lot of sense and would clean up the interface even better. Slightly different than a quick cleanup, but would be nice.

[2015-04-27 12:25] docwilmot commented on #891
For reference:
![layout](https://cloud.githubusercontent.com/assets/397895/4674583/1d53b092-557f-11e4-9f6f-65af59e06535.png)

[2015-04-27 18:17] quicksketch commented on #890
Hi @nortmas, thanks for creating this issue and welcome to Backdrop!

Backdrop already includes a [UUID class](https://api.backdropcms.org/api/backdrop/core!includes!uuid.inc/1) in core, but I think the only place we're using it is for instances of blocks in Layouts.

I'd love to see UUIDs used in more places. At least all entities (nodes, users, files, terms), so we could start using them in refe

[2015-04-27 18:24] quicksketch commented on #877
Fixed in https://github.com/backdrop/backdrop/pull/848.

[2015-04-27 18:24] #877 closed

[2015-04-27 18:27] quicksketch commented on #874
I've merged in https://github.com/backdrop/backdrop-issues/issues/874, which adds the hover color. We still need the borders on the left/right/bottom.

[2015-04-27 18:43] wesruv commented on #874
Oooooooh, weird. I suppose that's so it isn on the th tags.... Sly boots...

I'll get it added.

[2015-04-27 18:45] quicksketch commented on #785
I merged https://github.com/backdrop/backdrop/pull/852, which was simple enough and ready to just remove the background color.

[2015-04-27 21:21] Graham-72 commented on #785
I have provided PRs https://github.com/backdrop/backdrop/pull/853 and https://github.com/backdrop/backdrop/pull/854 to set the minimum width of drop buttons where appropriate on system modules admin, layout list and layout edit forms.

[2015-04-27 21:56] wesruv commented on #874
@quicksketch https://github.com/backdrop/backdrop/pull/855

[2015-04-27 23:06] docwilmot commented on #842
I understand and I think that's good enough for now; at least better by far than the old gradient. Would have been nice to be able to offer the user more than one flat-color option though. On which note I have one last option, then I'll stop being annoying. Have a look at this; its a gradient from #48a9e4 to #48a9e3, and I find the difference imperceptible. Is it acceptable to cheat like that?:

!

[2015-04-27 23:56] quicksketch commented on #842
I think we can still provide the user multiple flat-color options as different color schemes in the UI. I haven't looked into how this works, but I think it's possible.

I think it's acceptable.

This could be added via a setting mid-cycle yes, though I'd like to get others' feedback on it.

[2015-04-28 02:21] serundeputy commented on #884
PR: https://github.com/backdrop/backdrop/pull/856
This allows for a new install to go through with utf8mb4, but `someone`™ will have to think about an `update_hook`.

In particular points brought up here: https://mathiasbynens.be/notes/mysql-utf8mb4 . Especially point 4.

~Geoff

[2015-04-28 03:29] wesruv commented on #891
Oh snap! Thanks for linking to that ticket @docwilmot, I wasn't aware it existed! That looks A LOT better. I'll see if I can get that implemented.

[2015-04-28 03:32] wesruv commented on #801
The current large scale client I'm working for that QA's the crap out of everything is using respond.js for this exact thing and they don't have any complaints.

I'm for it!

[2015-04-28 05:01] Graham-72 commented on #888
I have submitted PRs https://github.com/backdrop/backdrop/pull/853 and https://github.com/backdrop/backdrop/pull/854 to set widths in the operations column. See also https://github.com/backdrop/backdrop-issues/issues/785.

[2015-04-28 05:19] Graham-72 opened #892 "Forms dropbutton on Views Admin List"
This dropbutton has been made smaller for the views ui edit form (rightly so) but should be normal size in the views list.
![views - backdrop starter 2015-04-28 06-08-42](https://cloud.githubusercontent.com/assets/10559274/7363193/6de97686-ed6e-11e4-82bd-c12aeb90e1f8.png)

[2015-04-28 05:29] Graham-72 commented on #892
I have submitted a PR https://github.com/backdrop/backdrop/pull/857 to target the style just for the edit form.

[2015-04-28 05:46] Graham-72 commented on #888
I have submitted a PR https://github.com/backdrop/backdrop/pull/858 as my suggestion for reducing the row spacing.

[2015-04-28 09:41] quicksketch commented on #892
Thanks @Graham-72! This has bothered me for a while!

[2015-04-28 09:44] quicksketch commented on #884
Thanks @serundeputy, that's a great reference! Several gotchas in there I wouldn't have thought of myself.

[2015-04-28 13:20] docwilmot commented on #842
You're absolutely right, I just checked. As long as the default color scheme has two gradient colors, it all works fine. The others can have the same hex code for the 'top' and 'bottom' gradient color, no problem.

So we can set the default to be a near gradient (`#27ace2` to `#27ace1` for example) and/or set the default using `color_save_configuration()`, and then set the other color schemes to n

[2015-04-28 14:07] klonos commented on #842
I rarely use Bartik. So, not leaning towards one way or another specifically, but I am all for progress/improvement even if that means to "sacrifice" backwards compatibility when it comes to themes. Functionality (i.e. modules and core) is another story.

If we go with this, then a UI option would be best I believe.

@docwilmot: Did I say well done on coming up with the near gradient solution? Goo

[2015-04-29 00:05] serundeputy commented on #884
here is the patch link in case anybody else gets an interest or bandwidth towards this issue:
https://patch-diff.githubusercontent.com/raw/backdrop/backdrop/pull/856.patch

[2015-04-29 00:19] quicksketch commented on #874
Thanks @wesruv! I think we're done here.

[2015-04-29 00:19] #874 closed

[2015-04-29 00:28] quicksketch commented on #736
Hi everyone, I just wanted to say excellent job on moving this forward. We have about 2 weeks until the 1.1.0 release, and I think we've gotten this to a point where it's very-nearly acceptable. Let's continue pounding through the remaining issues and look for a merge into 1.x next week. Some remaining tasks (e.g. the progress bar) may not reach completion by 1.1.0, but that's acceptable for us to

[2015-04-29 02:29] quicksketch opened #893 "Fix Travis CI failures caused by April 2015 migration"
Travis CI recently attempted an update to their infrastructure that [supposedly has been rolled back](https://www.traviscistatus.com/incidents/h91j8ft0qs2l), but we're still seeing failures similar to those reported in https://github.com/travis-ci/travis-ci/issues/3781

The temporary work-around that shouldn't cause any harm for us is to switch the MySQL connection string from using `localhost` to

[2015-04-29 03:04] #893 closed

[2015-04-29 03:04] quicksketch commented on #893
Confirmed this does indeed solve our testing failures. Merged into 1.x and cherry-picked into 1.0.x.

[2015-04-29 04:52] Graham-72 commented on #888
@quicksketch I have got into difficulties trying to create a PR that provides new versions of the arrow files using an off-white so that they show up on the near-black background so, whilst I sort myself out, here are my suggestions for replacing arrow-asc.png and arrow-desc.png. I have made them slightly grey rather than white so that they are noticeable on a white background.
![arrow-asc](https:

[2015-04-29 05:00] quicksketch commented on #480
I finished up these changes tonight with the following modifications: token_menu_link_load () is now _token_menu_link_load(), but it no longer duplicates core functionality. Instead of being a copy of `menu_link_load()`, `menu_link_load()` now takes a parameter for `$skip_access_check` (which defaults to FALSE). Tokens can now use this directly to get the same behavior from D7.

I also moved `_tax

[2015-04-29 05:04] quicksketch commented on #480
This is also done.

[2015-04-30 01:14] serundeputy commented on #843
- [ ]  #2377879 by er.pushpinderrana, yakoub: hook_user_view documentation has incorrect piece

PR: https://github.com/backdrop/backdrop/pull/860

[2015-04-30 01:30] serundeputy commented on #843
- [ ] #2392543 by awm: Fix documentation for hook_taxonomy_term_view_alter

Mooty moot; someone confirm and check the box here and in OP list please.
lines 259 to 261 in `taxonomy.api.php`
[code]

[2015-04-30 01:47] quicksketch commented on #480
I've read through the PR 2 more times to correct various typos and clean up the docblocks (https://github.com/quicksketch/backdrop/commit/dceaaadbb06bc2f13fe1efa2d396fb88becaaa0b) and ensure that we maintain the existing tokens even though they are deprecated (https://github.com/quicksketch/backdrop/commit/c6d621445708882e56b63abfe063cb54741c50f8).

This is a great enhancement to core. My own read

[2015-04-30 01:48] #480 closed

[2015-04-30 01:50] quicksketch commented on #87
Thanks @serundeputy. Token has now been merged into core in https://github.com/backdrop/backdrop-issues/issues/480. I'm going to pick up your current branch and give it a spin.

[2015-04-30 01:54] serundeputy commented on #87
:+1:

[2015-04-30 09:20] quicksketch commented on #87
Lots of great progress on this today. I should be able to put up a pretty good PR for this by the weekend I hope.

Great job @serundeputy on the port so far. You identified a bunch of problems with merging these two together, and the notes made it easy to see what you'd done when things got a little weird.

In my work, I'm trying to consolidate some of the weirder characteristics of Pathauto into

[2015-04-30 14:09] klonos commented on #480
So great! Backdrop is truly becoming what Drupal 7 was supposed to be. The mere fact that once installed, you (will) get views, token, pathauto, admin_menu (+ lets not forget the removal of overlay!!!) is so convenient. And all those little improvements and illumination of annoyances! So exciting!!! Thank you guys. :+1:

[2015-04-30 15:27] docwilmot commented on #480
:+1:

[2015-04-30 20:21] wesruv commented on #891
Here's the latest and greatest @docwilmot and @Graham-72, let me know what you think.
![draft-of-layout-page](https://cloud.githubusercontent.com/assets/5607236/7421697/e1faa788-ef54-11e4-9dcd-7e21d39f1573.png)

[2015-04-30 20:34] jenlampton commented on #891
@wesruv omg <3 <3 it looks beautiful!!!!!!!!

[2015-04-30 20:37] jenlampton commented on #889
I agree, if we are going to add a new theme to core I'd rather it be a fancy modern-looking theme, one that people would actually use on production sites, maybe something bootstrappy?  What's the hotness these days?  I think we should move away from themes that are similar to Bartik. If we want something similar, let's just alter Bartik (but maybe not too much during the 1.x release cycle ;)

[2015-04-30 20:37] #889 closed

[2015-04-30 21:05] Graham-72 commented on #891
Very good! Thanks.

[2015-04-30 22:05] jenlampton commented on #881
I also agree that a single-user blog profile would be a great one to start with, and makes sense if we want to compete with WP. :+1:

[2015-04-30 22:17] serundeputy commented on #843
#2208649 by joachim, er.pushpinderrana: document queue worker callback
This one was committed, but then directly followed by an - oops - https://www.drupal.org/node/2208649#comment-9396989https://www.drupal.org/node/2208649#comment-9396989

Does Backdrop wait for the final or work with the committed patch?

[2015-04-30 22:21] docwilmot commented on #891
Very nice.

[2015-04-30 22:23] docwilmot commented on #889
Yep, agreed this got a bit out of hand from the original "change color to black" proposal.

[2015-04-30 22:23] jenlampton opened #894 "[UX] Adjust (token) dialogs to work better on small viewports"
Dialogs could use some improvements for small viewports.  Can we adjust .ui-dialog to get a larger width on smaller screen sizes? 50% seems unreasonably narrow on a (vertical) tablet or any smartphone.

[2015-04-30 22:41] jenlampton commented on #785
Thanks @Graham-72!

Let's try to keep the number of PRs to a minimum - Nate's our bottleneck with reviewing all the PRs at the moment, and the less he has to review the better. I've closed your two most recent PRs as duplicates of https://github.com/backdrop/backdrop/pull/829, so let's continue working on that one until it's ready to be merged.

To update a PR:
* Checkout the branch the PR was mad

[2015-04-30 23:38] quicksketch commented on #843
We usually wait for the final version if necessary, especially if the "oops" caused regressions. If it gets messy and we need a chain of patches, it's best to separate out that into it's own issue.

[2015-04-30 23:47] jenlampton commented on #785
@klonos

I don't think it's a regression, I actually think it's a UX improvement.  On small devices really tiny links are hard to get at with fingers. Having a single button is certainly an space-saver over listing each action in a horizontal row, but also helps with the finger problem :)

[2015-04-30 23:55] quicksketch commented on #894
I'll work on correcting this.

[2015-04-30 23:59] quicksketch opened #895 "Token "restricted" don't inherit from their parents"
Right now if you have a token dialog that is supposed to hide "restricted" tokens, it only hides the parent token and not its children. e.g. `[user:one-time-login-url]` is restricted but its child tokens `[user:one-time-login-url:brief]` and `[user:one-time-login-url:path]` are not considered restricted, resulting in weird parent-less tokens in the dialog.

Screenshot coming shortly.

[2015-05-01 00:22] quicksketch commented on #895
![token-restricted](https://cloud.githubusercontent.com/assets/100206/7424975/871eced0-ef5d-11e4-8259-7a875a54da48.png)

[2015-05-01 00:30] jenlampton opened #896 "[DX] Replace drop-button theme wrapper madness with a simple theme function"
As much as possible, we should simplify things so each concept gets it's own theme function. There's no reason to extend theme_links with extra theme hook suggestions to build a dropbutton. It should be a separate (simplified) piece of code.

[2015-05-01 00:57] jenlampton commented on #785
I'm going to take a stab at solving this and https://github.com/backdrop/backdrop-issues/issues/370 in the same PR - without changing markup it could be a bit of a pain.

[2015-05-01 01:35] wesruv commented on #880
I think I got this tackled: https://github.com/backdrop/backdrop/pull/862

@klonos, love to hear your feedback if you have some time.

[2015-05-01 08:02] dariusgarza commented on #755
PDF design for fieldsets. A draft of this was actually buried in the original sketch file.

https://www.dropbox.com/s/dfj293gb3eel78u/BackdropCMS-Fieldsets-01.pdf?dl=0

[2015-05-01 08:14] dariusgarza commented on #883
Latest and greatest button scheme: https://www.dropbox.com/s/27xcd47d6sgd4a9/BackdropCMS-Buttons-01.pdf?dl=0

[2015-05-01 08:47] jenlampton commented on #370
I took a good stab at cleaning up the CSS for drop-buttons over in https://github.com/backdrop/backdrop-issues/issues/785 so I'm re-purposing this issue to focus on the markup.  It looks like @tjdjours has made great progress on that already, so I don't want to derail this issue with various CSS fixes for 1.x. Tagging this issue appropriately.

[2015-05-01 08:51] jenlampton commented on #785
zomg.  what a headache!  I now have a deeper appreciation for all @Graham-72 was trying to accomplish in this issue :)  New PR over at https://github.com/backdrop/backdrop/pull/829

[2015-05-01 08:53] jenlampton commented on #892
This issue will be fixed with the drop-button style cleanup in https://github.com/backdrop/backdrop-issues/issues/785

[2015-05-01 08:53] #892 closed

[2015-05-01 08:59] jenlampton commented on #888
Is there any chance we can change these buttons to draw the arrows with CSS now instead of using images?  That would allow us the ability to change the colors easily (both now, and in the future) and it's what we've been doing elsewhere in core.  Here's the code we used for the arrows in dropbuttons:
[code]

[2015-05-01 09:17] dariusgarza commented on #758
Updated status bar: http://codepen.io/anon/pen/VLLrRV

[2015-05-01 18:47] dariusgarza commented on #883
Added a cancel button style if necessary - https://www.dropbox.com/s/27xcd47d6sgd4a9/BackdropCMS-Buttons-01.pdf?dl=0

![backdropcms-buttons-01](https://cloud.githubusercontent.com/assets/7042667/7435342/dc738be2-eff7-11e4-9d0f-4096c18ce0ee.png)

[2015-05-01 21:03] quicksketch commented on #883
I think these look great!

So to be clear:

- Blue button: primary form submit button (usually saves data)
- White/Gray button: secondary form submit button (e.g. the old "Preview" on the node form)
- Gray/Green button: generic button (e.g. "Upload" file or "Add another" field)
- White/Red button: primary button on deletion/confirmation forms

[2015-05-01 21:13] dariusgarza commented on #883
Yup, that's exactly what I had in mind! :+1:

[2015-05-01 21:34] quicksketch commented on #758
This looks a lot better. The animation is a little jumpy when it repeats, but I think that's probably an implementation issue. The current bar also only works in Chrome, but I think that's just missing the appropriate properties for other browsers.

[2015-05-01 21:42] quicksketch commented on #755
Cool, thanks @dariusgarza! This design may have a few issues:

- The triangle with a circle around it (in my mind) is the symbol for "play a video".
- We often have fieldsets mixed in with other form elements (or even nested), so margins around fieldsets is probably a requirement.

Here are a few of the more awkward fieldset examples. We can "fix" individual situations where we shouldn't be using

[2015-05-01 21:54] jenlampton opened #897 "Allow non-administrative users to view unpublished nodes"
Out of the box, the only way someone can view unpublished content is if they have "Administer nodes".  This is way too much access to grant someone who just needs to be able to see something.

Let's add some permissions that allow people access to view unpublished content.
- view own unpublished content
- view all unpublished content

Drupal module that solves this problem: [view_unpublished](http

[2015-05-02 00:21] klonos commented on #758
Yep, I opened the link provided above in firefox last night to check how it looks and all I got was a grey bar.

[2015-05-02 00:52] klonos opened #898 "[AX] Support favicon versions"
Before I start, do you guys like the new "[AX]" tag I came up with for "**A**dministrator E**x**perience"?? :smile:

See there's this annoying issue that when you upload a (new) favicon for the website, the browser tab still shows the drupal/backdrop one (or the old version of your favicon if you had one). Nothing works to show you that the favicon was indeed updated no matter how many times you r

[2015-05-02 01:31] klonos commented on #755
Same thought here too.

[2015-05-02 05:40] pablo-romero commented on #87
If Path and Pathauto are going to be merged into one single module, will it include any kind of basic transliteration feature?

[2015-05-02 05:57] quicksketch commented on #87
Not in the initial pass, but I think including transliteration module's functionality into core is also a great idea. Pathauto itself doesn't seem to include any direct transliteration support. However, these days, isn't including all kinds of characters in URLs entirely common? With entire domain names being in Chinese or Arabic, it seems like transliterating URLs might be something of the past.

[2015-05-02 06:00] pablo-romero commented on #842
@docwilmot I don't mind keeping the tabs as long as we keep Bartik, until there's a new default front-end theme. I never use Bartik either (except for some local tests).

Instead of removing the tabs, I'd just "modernize" them a little bit, and make them degrade better on small screens (css only). There's also an issue @BWPanda wrote about sub-items at #726.

[2015-05-02 06:20] pablo-romero commented on #87
I think that if it does not include it, maybe it could be good to display a note/warning, in case the site is not (or not only) in English.
I've had issues in the past when titles contain tildes and other characters like *ü, ó, è, ñ*, etc. that are quite common in Spanish, German, French, etc. Pathauto converts those characters by default into un-semantic strange ASCII strings (not good for SEO),

[2015-05-02 06:26] Graham-72 commented on #888
It looks to me as though this would require a change to core/includes/tablesort.inc in order to do this with styles rather than images. Would this be acceptable or would it cause other issues?

[2015-05-02 08:16] jenlampton opened #899 "[UX] Pathauto follow-up: duplicate path pattern settings on entity-type forms"
This has been a long-time pet peeve of mine.  Steps to create a new content type on an existing site:
1) node/types - add a type
2) user/permissions - configure permissions
3) pathauto/settings - set up aliases
etc, etc for redirect, metatag, whatevs.

Can we *please* put the settings for these things in a convenient location - like, oh, I dunno, the node type page!!! Yes - Drupal users expect to

[2015-05-02 08:20] jenlampton opened #900 "[UX] Better node-type permissions"
We have fabulous access control in Backdrop for nodes. I would also like to see a fabulous UI for these permissions, starting with putting them someplace convenient, like the node-type settings form.

Please see my rant at https://github.com/backdrop/backdrop-issues/issues/899 for why we should put things where people expect to find them (as well as in a central location).

Task:
Add a vertical ta

[2015-05-02 08:22] jenlampton commented on #382
I also want better UX for permissions. Can I pretty please have a vertical tab on the vocab config form that adds the permissions for terms in this vocab? See related: https://github.com/backdrop/backdrop-issues/issues/900

[2015-05-02 08:23] jenlampton commented on #384
Yes please!  I also want better UX for these new permissions. Can I pretty please have a vertical tab on the menu config form that adds the permissions for menus there? See related: https://github.com/backdrop/backdrop-issues/issues/900

[2015-05-02 09:08] klonos commented on #87
Not at all. Although non-latin domain names are allowed nowadays, some browsers support them better than others. So, it is a matter of browser choice and although this fact makes this a non-issue (80/20 case argument if people use the most popular instead of some "exotic" ones), you need to consider that URLs are not "consumed" only by browsing applications.

Then again, risking you to say that th

[2015-05-02 09:30] klonos commented on #899
Yes please! If not a vtab, then perhaps a new "Manage Permissions" local menu?

[2015-05-02 09:33] klonos commented on #900
Yes please! If not in a vtab, then perhaps a "Manage permissions" local menu?

[2015-05-02 10:39] klonos commented on #611
...still in the same WTF situation with this. I am logged in as admin (so have all permissions) and I do not have clean URLs enabled. Can somebody else test and either confirm or not?

@quicksketch ? @jenlampton ?

[2015-05-02 11:14] klonos opened #901 "[UX] Automatic menu link creation for nodes."
Use case: Force nodes of a specific content type to have links created under a specific menu (without allowing the end user to change parent menu or to not create a menu link). For example, each time a content author creates a new "Service" or "Product" node, there should **always** be a respective menu link created under the "Services"/"Products" menu items.

As it is now, this is not possible. T

[2015-05-02 11:17] klonos commented on #901
...I was thinking perhaps now with token in core, allow the menu link title field to accept tokens?

[2015-05-02 11:20] docwilmot commented on #611
works fine for me, WAMPserver, Win 7, PHP 5.5.12. Is menu.admin,js being included on this page for you?

[2015-05-02 12:50] klonos commented on #901
The [NodeAutoMenu](https://www.drupal.org/sandbox/wojtha/1331132) sandbox (a D7 fork of [Auto Menu](https://www.drupal.org/project/automenu)) does all this in a very nice way I think:

![nodeautomenu-ui](https://cloud.githubusercontent.com/assets/2423362/7441096/a4ac1650-f11b-11e4-803f-e61a83574a05.png)

The "Default the "Provide a menu link" item to checked." checkbox in the screenshot is because

[2015-05-02 16:52] wesruv commented on #758
Yeah, I think we can fix that in implementation, at minimum IE8 and some older browsers will get a green bar. All modern browsers should get a kickass smooth animation.

[2015-05-02 20:10] dboulet opened #902 "Improve front end performance of admin bar"
Hi Nate, Jen and everyone,

One of the first things that I notice when using Backdrop is the janky way that the admin bar appears on the screen as the page loads. The way that things jump around as the bar is loaded is really jarring—not so much on fast page loads, but very perceivably on a slow connection.

I recreated the loading of the admin bar in slow mo using an animated GIF, to illustrated

[2015-05-02 22:48] quicksketch commented on #902
Hi @dboulet, lots of good suggestions here. I think you're right that we can find several ways to improve the loading of the admin bar, though I think some of the suggestions are going after more difficult or trade-off implementations.

In speeding up the admin bar perceived performance, I'd like try to approach it with these specifications:

- The loading of the admin bar should not significantly

[2015-05-02 22:55] quicksketch commented on #902
Ah, I remember why we're not doing this. The AJAX request is *already cached* by the browser. Because the admin bar HTTP response sets a long cache lifetime, it's only loaded once and then all subsequent requests it's already in place. I usually have "Disable caches" turned on when the developer tools are open in my browser, but turning back on caching shows that the AJAX request is skipped on all

[2015-05-02 23:12] wesruv commented on #758
@dariusgarza and whoever's interested, look good?
http://codepen.io/wesruv/pen/vOOQRz?editors=010

[2015-05-03 00:32] dboulet commented on #902
Thanks for the feedback, @quicksketch. If you’re set on keeping the client-side caching, that’s totally fine—there are definitely things that we can still do to improve the loading time of the bar, and I like the suggestions that you made.

Making an earlier request for the admin bar markup is definitely a good idea, there’s no reason to wait until the document has loaded.

I still think it’s weir

[2015-05-03 04:49] wesruv commented on #758
Here's a PR for what I came up with. Increased the height to 40px per the original styleguide, let me know if that isn't what we want in the final.
https://github.com/backdrop/backdrop/pull/866

[2015-05-03 09:15] pablo-romero commented on #843
- [ ] #1081902 by zealfire: DrupalEntityControllerInterface::load - doc needs to clarify $conditions

This one is now in Entity module.

PR: backdrop/backdrop#867

[2015-05-03 09:29] pablo-romero commented on #843
- [ ] #1904528 by Heine, GoddamnNoise: Language switcher (User interface text) Block generates invalid XHTML+RDFa 1.0

I've also been checking out this one and I think we should not apply it, since Bartik is already using HTML in BD (not XHTML) and RDF Module is gone.

[2015-05-04 04:30] docwilmot commented on #842
Thanks @pablo-romero; latest try should please most people:
- leaves all the original options in Bartik available
- plus, installs with a basic flat color header
- plus adds a toggle to turn tabs on and off'
- plus adds a couple new theme color options

[2015-05-05 05:42] pablo-romero commented on #843
@serundeputy:

I've taken a look into **#1734716**. In Drupal, `$element['#id'] . '-ajax-wrapper'` is replaced with `$original_id . '-ajax-wrapper'`. Note that `$original_id` is added/declared above:

[code]

This is done to make the ID of the element include the *-upload* suffix (for accessibility). Since `$element['#id']` now includes the `'-upload'` part, you also need to change:
[code]
to:
[co

[2015-05-05 16:29] sirkitree commented on #854
I think the workflow I'd like to work towards here is this:

1. Choose a file to upload.
1. If a duplicate is detect, alert the user and ask what they want to do: Rename or Overwrite.

[2015-05-06 05:14] quicksketch commented on #902
Super, thanks for the PR @dboulet! I've been traveling the past few days but I'll take a look at this tomorrow. Thanks!

[2015-05-06 09:11] Drupaldise commented on #870
Sooo... how should we go further with that?

[2015-05-06 17:05] quicksketch commented on #870
@Drupaldise: If you're up for it, we can get you access to the backdropcms.org server so you can make a database dump and set up a local installation of the site with the content types for modules, themes, etc. all set up; then work on porting the Project Browser Server module. Then you can set up a second installation of Backdrop to point at your local server, and start porting the Project Browse

[2015-05-07 00:11] quicksketch opened #903 "Single-language sites now set $node->langcode to site default language instead of LANGUAGE_NONE"
In pre-fork issue [#540294: Move node language settings from Locale to Node module](https://www.drupal.org/node/2484411), the language settings were moved from locale.module to node.module. An apparently accidental change occurred at the same time, where new nodes that are created on a single-language site are now always the site default language, instead of LANGUAGE_NONE.

This causes some new is

[2015-05-07 06:12] quicksketch opened #904 "[D8] Add Transliteration to Core"
In https://github.com/backdrop/backdrop-issues/issues/87, we added Pathauto to core, including dependencies on Transliteration module. Instead of depending on the contributed module, we should build this functionality into core.

Transliteration should be integrated into a number of places in core:
- Transliteration of uploaded files (as provided by Transliteration in D7).
- Replacing the "Machine

[2015-05-07 06:13] quicksketch commented on #904
We don't have time to include this in 1.1.0. For the time being we'll anticipate porting (if it's not done yet) Transliteration module from Drupal 7, then build in Transliteration into core as soon as possible. I've marked this as a 1.2.0 target, but we'll see what happens.

[2015-05-07 06:24] quicksketch commented on #87
Thanks @pablo-romero and @klonos for that great input. I've filed a followup for including Transliteration in core (https://github.com/backdrop/backdrop-issues/issues/904). Unfortunately it looks like this task is fairly involved, so we'll have to do it post-1.1.0.

As far as Pathauto in core goes, I've taken @serundeputy's initial work and consolidated a bunch of functionality into the entity sys

[2015-05-07 07:03] quicksketch commented on #895
PR filed at https://github.com/backdrop/backdrop/pull/870.

[2015-05-07 07:40] #895 closed

[2015-05-07 08:57] Drupaldise commented on #870
Ok, but I am not sure if I can handle this alone... maybe there is someone else there, who would be interested in working on that.

[2015-05-07 09:23] Graham-72 commented on #870
@Drupaldise It looks a very interesting and worthwhile project. I would be interested in working on it.

[2015-05-07 14:04] klonos commented on #87
:tada:

[2015-05-07 16:35] docwilmot commented on #87
Are these new hooks replacing the originals or in addition to the originals? I'm thinking change records.

[2015-05-07 16:37] docwilmot commented on #901
Wouldnt that be better off in contrib though? Not a terribly common requirement, I'd think.

[2015-05-07 16:39] docwilmot commented on #900
I like this. Makes a lot of sense.

[2015-05-07 20:05] quicksketch commented on #87
The changes to use hook_entity_[action]() are all within path.module and shouldn't affect the API of any other module. The changes up above in https://github.com/backdrop/backdrop-issues/issues/87#issuecomment-97716995 are replacements for the old `hook_pathauto_*` hooks.

[2015-05-07 22:01] jenlampton opened #905 "Add custom redirects functionality (Redirect module) to core"
We're rapidly coming across several areas where redirecting to a pages canonical path would be ideal, and wonder if this kind of functionality should be added to core.

There is a path(auto) setting that retains a previous alias when a new one is created. Ideally that old alias would redirect visitors to the new one, preventing the "wrong" path from being indexed, linked to, or bookmarked. Now tha

[2015-05-08 00:00] serundeputy commented on #87
installed beautifully on a fresh backdrop 1.x;
update.php ran great!

  aliases for
    * Article
    * Basic Pages
    * Users
    * Taxonomy Terms

I can manually set aliases (uncheck the box), and reset to auto (check the box) all working perfectly.

working as expected.  Respecting patterns and tokens from `/admin/config/search/path/patterns`.
Respecting character separator.

Spun up a few hun

[2015-05-08 00:04] quicksketch opened #906 "_field_token_info() incorrectly checks the "token type" property"
In our new token integration, if you generate content using Devel you get a notice saying that the property "token type" is undefined. This is because we have a mixed up variable in `_field_token_info()`:

[code]

We should be checking `$entity_info['token type'];` not `$entity['token type'];`.

[2015-05-08 00:04] quicksketch commented on #87
Great, thanks @serundeputy! It looks like that particular issue is a problem with the token integration, not this set of Pathauto changes. I filed a new issue at https://github.com/backdrop/backdrop-issues/issues/906.

[2015-05-08 00:18] quicksketch commented on #906
PR filed at https://github.com/backdrop/backdrop/pull/871.

[2015-05-08 00:31] quicksketch commented on #902
I've merged in the first PR at https://github.com/backdrop/backdrop/pull/865. Great job @dboulet! From the looks of things, we should still keep this issue open to allow for further improvements, correct? Any idea what improvement you'd like to see next?

[2015-05-08 00:34] quicksketch commented on #785
Thanks! Merged in https://github.com/backdrop/backdrop/pull/864. Are there any remaining sub-issues here?

[2015-05-08 00:43] quicksketch commented on #519
I've closed the in-progress PR at https://github.com/backdrop/backdrop/pull/713 until it can be updated to fix the remaining test failures. We're making progress here!

That may true, and there's no way we can guarantee the first user won't modify the node. It sounds like this would be describing an entire introduction experience, not just providing a default node in the standard profile. I think

[2015-05-08 00:44] quicksketch commented on #454
Let's close this issue. It was a crazy idea that in hindsight doesn't seem like a very good idea.

[2015-05-08 00:44] #454 closed

[2015-05-08 00:50] #305 closed

[2015-05-08 00:51] quicksketch commented on #305
Great, thanks! Merged into 1.x in https://github.com/backdrop/backdrop/pull/764.

[2015-05-08 01:07] quicksketch commented on #842
Thanks @docwilmot! I gave the PR a spin. I ran into a few issues:

- The PR contains a few tabs instead of spaces.
- We probably need an upgrade path to set the "Main menu tab style" setting, or we need to assume an empty value means "rounded corners". I went to the bartik settings page and saved it without making any changes and I lost the rounded corner look because no default value was set.
- T

[2015-05-08 01:21] serundeputy commented on #87
with pathauto contrib and then `git co 87/pathauto`:
![screen shot 2015-05-07 at 9 19 58 pm](https://cloud.githubusercontent.com/assets/6763671/7528966/07de8884-f4ff-11e4-9537-a8ed65f65429.png)

[2015-05-08 01:26] docwilmot commented on #842
Ecstatic that you liked those.

Will do, because I agree, no sane person should use this.

Will fix shortly

I could swear I'd done this. I'd added default settings in the `bartik.info` file. Would that do? I'm not sure how an upgrade path works in themes.

I struggled with this. The menu link color is a property of the color module setting, which is independent of the new tab style setting, so I

[2015-05-08 01:35] quicksketch commented on #842
Apparently that didn't do the job (though perhaps it should). I think the problem was specifically with the theme settings form that didn't receive a default. Everything was fine until I saved the form. Perhaps this set of radios should also be made required, so a value must be selected. Apparently no value results in squared-off menu links.

Hm, I see. Perhaps the black-ish font color should alwa

[2015-05-08 02:09] serundeputy commented on #87
I think this could be a `settings.php` and `files/conf_` more than `pathauto`, `token` upgrade problem.

I'll try to detangle tomorrow.

[2015-05-08 02:35] docwilmot commented on #842
New PR with above changes.

[2015-05-08 03:54] #906 closed

[2015-05-08 03:56] quicksketch commented on #880
Merged in https://github.com/backdrop/backdrop/pull/862. Thanks @wesruv!

[2015-05-08 03:56] #880 closed

[2015-05-08 04:04] quicksketch commented on #888
I've merged in the change to reduce table row padding (https://github.com/backdrop/backdrop/pull/858).

The PRs for setting table row widths were no longer necessary after we merged in https://github.com/backdrop/backdrop/pull/864.

So what remains here is updating the tablesort icons. I think we should leave tablesort.inc alone and replace these styles specifically in Seven. Short-term, we can si

[2015-05-08 05:08] dboulet commented on #902
Thanks, @quicksketch. We can definitely follow this up with a few more improvements. Ideally, we want the admin bar to be in place before the page is rendered, so that the user doesn’t see anything jump after the page has loaded. Maybe the next step should be to see if we can make the AJAX request happen earlier in the page loading process, not having to wait until the document ready event has fir

[2015-05-08 05:37] quicksketch commented on #902
Sounds like a plan. I can't remember any reason why this behavior would need to come last. It may be the window.setTimeout() of 0 seconds that causes this to come last, as Admin Bar should be one of the first behaviors fired (starting with the letter A).

[2015-05-08 05:40] quicksketch commented on #201
Looks like this is now a duplicate of https://github.com/backdrop/backdrop-issues/issues/736. There's no need to have both of these issues.

[2015-05-08 05:40] #201 closed

[2015-05-08 05:42] quicksketch commented on #876
I think this looks great @wesruv. @dariusgarza could you give this a thumbs-up if needed?

I also just realized that we have this exact same icons problem on the Status Report page. Perhaps the same solution would work there as well?

[2015-05-08 07:16] pablo-romero commented on #843
- [ ] #2439287 by jmsv23, jonathan_hunt: Fix typo in inline docs for field_sql_storage_field_storage_write().

PR: backdrop/backdrop#873

[2015-05-08 07:20] pablo-romero commented on #904
Awesome!

@quicksketch: D7 Transliteration was ported by @jdanthinne: https://github.com/backdrop-contrib/transliteration

[2015-05-08 08:17] pablo-romero commented on #843
- [ ] #495930 by fietserwin: Translated strings not correctly marked in the administrative interface when the default language is not English

This one might also be related to #886. However, some of the changes are now affected by the new *Translate English* feature in Backdrop (conditional `if (!locale_translate_english())`).

Sent a PR so that you can check it out: backdrop/backdrop#874

[2015-05-08 08:46] Graham-72 commented on #888
I have found another thing in an admin form that puzzled me at first, that is the use of the configure icon when managing the display setting for an image. At first sight I didn't realsie that this was what I should click to configure the style for the image, perhaps because it is so far to the right of the text. Is this something to be changed?
![article - www revivalwoodbridge org uk 2015-05-08

[2015-05-08 14:31] klonos opened #907 "Typo in field.tokens.inc: "$entity_into" instead of "$entity_info"?"
Is that a typo?:

https://github.com/backdrop/backdrop/pull/871/files

[2015-05-08 14:48] docwilmot commented on #870
In my excitement I had started porting the client module. I've got the initial backdrop work here:
https://github.com/docwilmot/project_browser
Please fork at will.

[2015-05-08 15:09] quicksketch commented on #907
Ha! Yes it is. At least the variable is consistent so it's not causing any issues. But let's get it fixed to "info". Thanks!

[2015-05-08 15:33] docwilmot commented on #870
And start for project_browser_server too.
https://github.com/docwilmot/project_browser_server

[2015-05-08 15:36] docwilmot commented on #870
This is the return that project_browser expects from the server (page 1); Dump from a Drupal install. We could hardcode that into project_browser as $results_raw (line 486) to get the client module to at least display something useful while testing.

Cant help more than this for now.
[code]

[2015-05-08 15:42] Graham-72 commented on #870
@docwilmot Thanks very much for these - will you have time to answer any questions I may have once I study them?

[2015-05-08 16:29] docwilmot commented on #870
Hi @Graham-72, I smile to see you ask that. I am no quicksketch sir. I'm pretty sure @Drupaldise and yourself are just as capable and very likely more so than I am. I was just trying to help, and give a start.
But if you ask, and I know the answer, will be glad to help. :smile:

[2015-05-08 18:15] jenlampton opened #908 "[UX] disable "upload" button on file widget until file has been selected"
I experience this UX problem a lot with new Drupal / Backdrop users. When presented with a file field on a form, they click the upload button before selecting a file, expecting the upload button is step 1 of the process and not step 2.

I think it might help if the upload button were disabled (or invisible?) until the user had selected a file.
Here is a Drupal project that does exactly that: https

[2015-05-08 18:22] docwilmot commented on #908
Thats a great idea.

[2015-05-08 18:52] dboulet commented on #902
The problem is not necessarily the order in which the behaviors are executed, but the fact that all behaviors are attached to jQuery’s `.ready()` function, which means that nothing is run until the DOM is fully loaded. In this case, we could detach the AJAX request from a behavior, and instead send the request immediately, as the script is being executed, to give it a head start while we wait for

[2015-05-08 19:00] quicksketch commented on #882
I think to match Bootstrap's semi-universal name, we could shorten "dangerous" to just "danger": http://getbootstrap.com/components/#btn-dropdowns-single

However, unlike bootstrap, we don't have the convention of abbreviations, so instead of "btn-danger" we'll use "button-danger". We'll also need a secondary button style to match the mocks (and I think this is a good idea as well): https://github

[2015-05-08 19:30] quicksketch commented on #758
Thanks @wesruv! A few things I noticed in testing:

- For some reason the background color is black in Firefox and the gradient is stretched across the bar:

![progress](https://cloud.githubusercontent.com/assets/100206/7543942/fa225cd4-f585-11e4-8578-6d140a3962ef.png)

- Could we add a transition to the `width` property so that the bar doesn't jump between iterations? It's common for something li

[2015-05-08 19:46] quicksketch commented on #882
I filed a PR at https://github.com/backdrop/backdrop/issues/875 that includes all these classes and the styling from https://github.com/backdrop/backdrop-issues/issues/883#issuecomment-98203847.

Here they are in action:
Primary/secondary buttons:
![button-node](https://cloud.githubusercontent.com/assets/100206/7544144/cf8763e6-f587-11e4-8099-a1bbdd2e35fc.png)
![button-views](https://cloud.githubu

[2015-05-08 19:51] jenlampton commented on #882
In general I think these look fabulous.   huge improvement over what we have now!

I do think we should open a UX follow-up that focuses on how to tell which button is active.

[2015-05-08 20:00] quicksketch commented on #882
Great, merged in https://github.com/backdrop/backdrop/pull/875. We're really close to complete implementation!

[2015-05-08 20:00] #882 closed

[2015-05-08 20:09] quicksketch opened #909 "[A11Y][UX] Button focus is difficult to determine"
In https://github.com/backdrop/backdrop-issues/issues/883 and https://github.com/backdrop/backdrop-issues/issues/882, we added new button styling to Seven. However, a side-effect of implementing this change is that we lost the ability to easily tell which button has focus (when navigating via the keyboard). Things are worse because of the styling we use, where some buttons are solid-colored and ot

[2015-05-08 20:10] quicksketch commented on #883
These styles have all been implemented as part of https://github.com/backdrop/backdrop-issues/issues/882. Thanks @dariusgarza!

One issue I found is that focused buttons are very difficult to determine. Using the mouse, things are just fine on hover and click, but a focused button (via the keyboard) is very difficult to see. I filed a followup at https://github.com/backdrop/backdrop-issues/issues/

[2015-05-08 20:10] #883 closed

[2015-05-08 20:20] quicksketch commented on #909
@dariusgarza, this is an issue where your insight would be appreciated. :smile:

[2015-05-08 20:24] quicksketch commented on #898
I think this is a great idea. It's the same trick we already use to cache-bust CSS and JS files when aggregation is turned off.

Seems like AX would be a subset of UX (as all administrators are users). Perhaps we should keep it to UX to avoid creating new Backdrop-specific vocabulary.

[2015-05-08 20:43] wesruv commented on #876
I'll take a look!
On May 8, 2015 1:42 AM, "Nate Haug" <notifications@github.com> wrote:

[2015-05-08 21:10] quicksketch opened #910 "Theme debug mode setting causes ConfigException on fresh installs"
The config_get() call to theme_debug in theme.inc doesn't catch Exceptions that are thrown if Backdrop is not yet installed. This causes errors when doing an installation of Backdrop that does not already specify config directories in its settings.php file.

[2015-05-08 21:12] quicksketch commented on #722
I'm going to take a look at this issue today.

[2015-05-08 21:24] quicksketch commented on #722
It looks like this was an issue introduced in #413. I've filed a PR at https://github.com/backdrop/backdrop/issues/878 to resolve this problem.

[2015-05-08 21:28] #910 closed

[2015-05-08 21:35] #722 closed

[2015-05-08 21:39] docwilmot opened #911 "Why doesnt backdrop_parse_info_file() list "settings" as an allowed key?"
This isnt urgent, just curious.

`drupal_parse_info_file()` says the following are the (allowed? usual?) keys, and gives Bartik as an example. But Bartik also has a `settings[color] = true`. Drupal is the same. Should `settings` be in the "information stored in a theme .info file" list as well?

(and this does need some cleanup, as we no longer support "regions"; not sure about "features" either)

[2015-05-08 21:53] quicksketch commented on #911
Thanks, you're correct. "settings" should be added and both "regions" and "features" should be removed. Features were consolidated into the new header block. Regions are provided by layouts of course.

[2015-05-08 21:55] quicksketch commented on #785
Let's close this and make a new issue for any followups.

[2015-05-08 21:55] #785 closed

[2015-05-08 21:58] quicksketch commented on #736
With 1 week remaining until release, I think it's time to merge in this new branch into the main 1.x branch. The TODO list above is looking great, with only progress bars in the 1.1.0 target. I'd love to get this into 1.x to get maximum exposure before our release. Do you guys think we're ready? @wesruv, @Graham-72, @jenlampton, et al?

[2015-05-08 22:34] wesruv commented on #736
I feel good about it
On May 8, 2015 5:58 PM, "Nate Haug" <notifications@github.com> wrote:

[2015-05-08 22:48] serundeputy commented on #87
@quicksketch seems i'm still getting the error in the screenshot: can not redeclare `token_type_load()`.

here is what i did.
 * installed backdrop-1.0.5
 * installed token
 * installed pathauto
 * made a page ; checked to see that it had automatic alias

pulled down a copy of backdrop 1.x in a different directory;
  * moved the core directory out of my backdrop-1.0.5 installation
  * replaced wit

[2015-05-08 22:50] quicksketch commented on #87
Hi @serundeputy, I made a few fixes in the 1.x branch that might help prevent WSOD on the update.php page, including #910 and #722. I tried this all from scratch again today:

- Fresh install of 1.0.5. Install Pathauto and Token latest releases.
- Configure Pathauto to add aliases for different types of content. Adjust any settings as well.
- Git checkout 87/pathauto to replace 1.0.5.
- Visit the

[2015-05-08 22:57] quicksketch commented on #87
Hi @serundeputy, I was writing the above post when you posted as well. I'm not sure what to do here. It doesn't seem possible that we could totally prevent duplicate function errors between token.module and token.inc unless we rename the functions (thus causing more compatibility breaks). Historically, errors on your site prior to running update.php have been considered "normal", so if we can at l

[2015-05-08 23:15] quicksketch commented on #87
Ah! I got it. We can add the list of merged modules into `module_list()`, specifically removing ones that have been merged into core. That will make it so that Backdrop does not load the .module file for these modules. I'll update the PR and then we can give this another go.

[2015-05-08 23:23] docwilmot commented on #736
Looks good. Go for it.

[2015-05-08 23:30] behindthepage commented on #732
I have wanted this on a number of sites where we were making some big changes to the structure of the site. They were large sites and the client had not cleaned up after themselves.

+1 from me.

Regards
Geoff

[2015-05-09 00:02] quicksketch commented on #87
@serundeputy This latest commit should prevent the old Token or Pathauto modules from be executed, even if they are still enabled and present:
https://github.com/quicksketch/backdrop/commit/42811dbe6f810efa2b89d4d9aa05bc6912ff7306

In my testing, this prevents all critical errors on the site before update.php is executed. It should correct the problems with update.php itself as well, as the duplic

[2015-05-09 03:34] quicksketch commented on #736
We are merged!! https://github.com/backdrop/backdrop/commit/391131b2d27b62b9567925c73e23117b8e1c97a5

Great job everyone! Let's continue to finish up the lingering issues we know of and also file new issues as we come across them.

[2015-05-09 03:46] quicksketch commented on #758
The PR at https://github.com/backdrop/backdrop/pull/866 has been closed (boo!) because I deleted the 1.x-new-style branch after we merged into 1.x (yay!) We had some feedback that needed to be addressed anyway, but when you get the chance please file again directly against the 1.x branch.

[2015-05-09 03:48] quicksketch commented on #891
We had some good conversation in https://github.com/backdrop/backdrop/issues/851, but that PR is now closed after I merged 1.x-new-style into 1.x and deleted the old branch. We need a new PR directly against 1.x if this is ready.

[2015-05-09 04:06] quicksketch commented on #907
PR at https://github.com/backdrop/backdrop/pull/879, we'll let it run tests. What keen eyes you have @klonos! I feel a little foolish "fixing" the bug but not even reading the name of the variable.

[2015-05-09 04:14] quicksketch commented on #908
I'd also be up for just removing/hiding the upload button entirely and having it clicked via JS when the file element value changed. In the past I'd avoided this because some files (like videos) are very large and you might want to give the user the opportunity to change the value after they selected it. However, this is exceedingly uncommon. If anything, we should provide a Cancel button after th

[2015-05-09 04:29] #907 closed

[2015-05-09 04:45] quicksketch commented on #902
Thanks @dboulet! I tested your PR and added this special condition to Backdrop.attachBehaviors() to emulate a bunch of slow behaviors:

[code]

This revealed some interesting behavior, essentially running each behavior one at a time in slow-mo.

The admin bar *margin* was applied immediately, so fast it wasn't visible. However the admin bar itself was pokey to load, because it was still being call

[2015-05-09 04:58] quicksketch opened #912 "[UX] Enable module confirmation should use new "button-primary" class, not "button-danger" class"
When enabling a module with dependencies, the confirmation form should not use the "danger" class, because there's nothing particularly dangerous about enabling another module.

![enable](https://cloud.githubusercontent.com/assets/100206/7548769/a9870fb8-f5d5-11e4-9dc3-50a256b296c4.png)

[2015-05-09 05:24] klonos commented on #907
Yes, I know. [proudly stretches trouser suspenders in a very cocky manner]..

![yes_i_know_suspenders](https://cloud.githubusercontent.com/assets/2423362/7548852/814e783a-f65f-11e4-9290-1af25df81505.jpg)

[2015-05-09 06:12] dboulet commented on #902
Hey, @quicksketch. Unfortunately, we can’t insert the admin bar immediately because when we run the script in the `<head>`, the body element is not absolutely guaranteed to exist by the time the AJAX request completes. It works fine most of the time, but in certain cases the admin bar may end up not being inserted at all, because the there is no body element to insert into. As an example: another

[2015-05-09 06:37] quicksketch commented on #902
Thanks @dboulet! Very thoughtful. You're right that about 1 out of 20 times, I wouldn't get an admin bar at all. I thought it was a caching issue, but your explanation makes a lot more sense. Localstorage could indeed help this situation. Or perhaps we try the other suggestion and do the AJAX request early but only append it when the body tag loads. I can't think of a way to do the latter as of ye

[2015-05-09 06:56] Graham-72 commented on #736
That is really good news to wake up to here in the UK. Much better (for some) than our election results yesterday morning. My brain is still a bit addled from all the recent news/propaganda/misinformation of recent weeks. How/where do we record the lingering and new issues? I added one yesterday to https://github.com/backdrop/backdrop-issues/issues/888 but maybe this was the wrong place?

[2015-05-09 10:15] klonos commented on #87
I manually patched the files from commit https://github.com/quicksketch/backdrop/commit/42811dbe6f810efa2b89d4d9aa05bc6912ff7306 because I was getting the same ```Cannot redeclare token_type_load()``` fatal error as @serundeputy

The site loads fine, but trying to visit the site status page (/admin/reports/status) throws another fatal:

[code]

[2015-05-09 10:25] klonos commented on #87
...also tried downloading the whole tree, but same thing and another fatal when trying the "Run updates" page (/core/update.php?op=info):

[code]

[2015-05-09 12:37] docwilmot commented on #736
Brilliant, looks fantastic!
Issues: I upgraded by simply copy/pasting the "core" folder. Didnt have pathauto or token contrib installed.

**Issue 1:**
But first thing I did, for no reason was flush all caches, and I got this:
`PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'bd.cache_token' doesn't exist: TRUNCATE {cache_token} ; Array ( ) in backdrop_flush_all_caches() (li

[2015-05-09 12:40] docwilmot commented on #736
One more: the hover color for table rows is a bit too yellow.

[2015-05-09 13:30] docwilmot commented on #480
I feel foolish asking this,but where can I test this? is there a UI somewhere?

[2015-05-09 15:41] serundeputy commented on #736
this looks great!  thanks for all the hard work; so cool.

[2015-05-09 18:38] quicksketch commented on #480
The only place it's visible (until we merge pathauto) is on the form for Account Settings, where you set up all the e-mails for password reset, new accounts, etc. Instead of listing 6 tokens in the description, there is now a link for "Browse available tokens".

[2015-05-09 18:44] quicksketch commented on #87
Thanks @klonos! I hadn't thought that we'd need to do the same thing to prevent .install files from being loaded, but now that you mention the problems it seems obvious that this would happen. I'll work on finding a way to prevent token.install from loading as well.

[2015-05-09 18:55] quicksketch commented on #87
I've updated the PR to include a fix to prevent .install files for "merged" modules from being loaded in update.php or the status report page. I amended the last commit, so if you're applying things manually the only thing that changed was the addition to `backdrop_load_update()`: https://github.com/quicksketch/backdrop/commit/118e9006c930c7c63d890af8c33d1d83bae4e007#diff-eb90f57f441b14b60d6f4670b

[2015-05-09 20:05] quicksketch commented on #894
This problem is specifically relevant for dialogs that do not auto-resize or auto-recenter, like the token dialog. Other dialogs (like the Layout or Views dialogs) already display and resize fine on smaller screens.

[2015-05-09 21:12] serundeputy commented on #87
this works beautifully ; thanks so much @quicksketch
  [ ] upgraded from 1.0.5 to 87/pathauto w/ no contrib modules
  [-] upgraded from 1.0.5 to 87/pathauto w/ token installed
  [-] upgraded from  1.0.5 to 87/pathauto w/ token and pathauto installed
    * preserved existing paths

:smile: :bow: :smile:

[2015-05-09 21:31] quicksketch commented on #87
Woot woot! I'll probably merge this in later this evening. Everything else we can get in before Friday will just be icing on the :cake:.

[2015-05-10 01:26] klonos commented on #882
Just a quick question: wouldn't it be better to have two classes added instead of a single two-word class? I mean instead of:

.button-primary
.button-secondary
.button-danger

have it be

.button .primary
.button .secondary
.button .danger

This way, we can target all buttons in css by ```.button``` instead of ```.button .primary, button .secondary, .button .danger``` while still being able for e

[2015-05-10 01:38] klonos commented on #898
Yeah, I was just being a smart ass as always - trying to get some attention and make youz smile a bit.

Changing issue title...

[2015-05-10 02:21] klonos opened #913 "Add a routine in our tests that recursively visits each link in the admin bar and checks for fatals/WSODs"
I don't know the internals of our testing framework, so I can't really tell if this is possible at all, but this idea came to me because of the fatals @serundeputy and myself were coming by as we tested various things in #87...

If there was a way to automate visiting all available links in admin bar (at the very least) and made sure they don't return fatals or WSODs, we'd be able to catch bugs so

[2015-05-10 02:21] klonos commented on #87
Manually patched diff and now the "Status report" and "Run updates" pages are accessible once again. Thanx!

PS: While running the update.php, the section of the pending updates reads:

- 1000 - Upgrades Drupal 7 Pathauto variables to Path config.
- 1001 - Moves Backdrop Pathauto configuration to Path module configuration.

Is the "Drupal 7" intentional there? Asking because my test site was not a

[2015-05-10 02:29] klonos opened #914 "$info['types']['menu-link'] not defined but has tokens"
After manually patching my Backdrop test site to include the changes in #87 and running update.php/cron + clearing all caches, I get this warning in my site status report:

[2015-05-10 03:13] klonos opened #915 "Add warnings in site status page (end elsewhere?) to remove contrib module folders if added to core."
After #87 and #480, we might run into more cases where people upgrade Backdrop to newer versions that have included contrib modules in core but leave the respective old contrib module folders in their ```/modules``` directory. Now, we already have tried to make sure that these left-over modules are not called, but we can never be really sure of what issues might be caused by leaving duplicate modu

[2015-05-10 03:17] klonos commented on #915
...I just noticed that there is warning in the modules page. That's great, but I feel that there should be a warning in the status page too as well as a message shown in every ```/admin``` page (like the critical updates warnings).

[2015-05-10 03:25] klonos opened #916 "Make sure the token browser modal is centered on screen."
Screenshot:

![token_browser_modal_not_centered](https://cloud.githubusercontent.com/assets/2423362/7552974/fa70b54e-f717-11e4-9e2a-ac0d76743e16.png)

[2015-05-10 03:29] klonos opened #917 "[node:source:title] invalid token after upgrade to core Token and removing contrib Token."
Error:

[2015-05-10 04:21] quicksketch commented on #915
Some of the problems we were having was because we couldn't get to the update.php script. As part of the updates to move pathauto and token into core, we delete the entries from the "system" table, effectively disabling them. Then making it so you can then no longer turn them back on, these old modules are no more dangerous than having an unported Drupal 7 module in your modules directory, which i

[2015-05-10 04:22] quicksketch commented on #914
Hm, interesting, thanks @klonos! I'll have a look into it.

[2015-05-10 04:24] quicksketch commented on #87
Yes, "Drupal 7" is intentional. We provide an upgrade path directly from Drupal 7 AND Backdrop 1.0.0. So if regardless of whether you used Backdrop's Pathauto or D7's Pathauto, both are migrated.

[2015-05-10 04:52] #894 closed

[2015-05-10 04:58] quicksketch commented on #916
Yikes! Well this might be inadvertently fixed by #894.

What browser are you using so I can reproduce?

[2015-05-10 04:59] quicksketch commented on #917
Thanks, "source" is related to translations, is it not? We shouldn't have removed any tokens as part of this conversion, so this is a bug.

[2015-05-10 05:05] quicksketch commented on #917
Looks like the "type" property was missing in node_token_info(). This PR should fix it: https://github.com/backdrop/backdrop/pull/884.

[2015-05-10 05:18] quicksketch commented on #913
The troubles we experience in #86 were a little bit of exceptional situations, where the WSODs were caused by both a contrib and core version of Token module being loaded at the same time. We already have tests that load the Pathauto interface, lots that use the node form, and a few that check the status report, but none of these were failing because the WSODs required a set of conditions outside

[2015-05-10 05:24] quicksketch commented on #87
From the looks of the bug reports @klonos and others have been filing (here and in other issues), most of the problems introduced are due to Token's merging (because of either function overlaps or misported tokens). Pathauto itself so far seems to be working well. To get us "feature complete" and able to test everything together, I've merged this into 1.x. woot woot!

[2015-05-10 05:29] #87 closed

[2015-05-10 06:01] quicksketch commented on #914
This was a porting bug it looks like. Easy to fix. PR at https://github.com/backdrop/backdrop/pull/885.

[2015-05-10 06:06] quicksketch commented on #459
Well this hit a pretty serious snag when Select2 removed support for textfields (and thus our primary use-case), see https://www.drupal.org/node/2346973#comment-9518139. But it looks like support has been restored in the more recent release. We won't have time to implement this before 1.1.0 (due next week) so I'm moving this back into the general 1.x pool.

[2015-05-10 06:07] quicksketch commented on #440
I'd love to get this in the next release, as we don't have time for this in 1.1.0.

[2015-05-10 06:25] quicksketch commented on #334
It doesn't look like we'll have time for this in 1.1.0 (due next week). This isn't a particularly prioritized feature, even though I'd still love to see it as soon as possible. Moving into general 1.x queue until we get a volunteer here.

[2015-05-10 06:26] quicksketch commented on #145
This should still be done asap, but we don't have time for it in the 1.1.0 release due next week. Moving to 1.2.0.

[2015-05-10 06:28] quicksketch commented on #277
It'd be nice to have this but we're not going to make it for 1.1.0. This isn't a high priority but still would be very nice to have. Moving this into the general 1.x pool.

[2015-05-10 06:29] #914 closed

[2015-05-10 06:33] quicksketch commented on #898
Thanks! :wink:

[2015-05-10 06:42] quicksketch commented on #882
Hmm, not sure. We already have a class for input buttons (.form-submit), but as I found out, we also have a separate class for button tags (.form-button). We also already use `.button` on links (or at least provide support for it in Seven), so you can have `a.button`.

I think some of the reason for having more specific classes is because it reduces accidental overlap. We already have a small prob

[2015-05-10 06:47] quicksketch commented on #916
I tried this in Chrome and Firefox but I couldn't reproduce. I noticed that it looks like you have the new styleguide images (the error icon is white) but the CSS on the page is still the old Seven theme. This may simply be a stale CSS problem? In which case, a cache clear or running update.php may solve the problem, which will iterate the query string on CSS files.

[2015-05-10 07:08] quicksketch commented on #870
Thanks @docwilmot! Anyone who's interested in getting this rolling, I think it'd be a great idea to move these repositories into the backdrop-contrib group so that all contrib authors can collaborate together on it. I believe all 5 of us (so far) are already part of the contrib authors group, so moving it into contrib would let everyone commit on it. To follow procedure, it'd be great to list thos

[2015-05-10 07:09] #917 closed

[2015-05-10 07:11] quicksketch commented on #297
It doesn't look like we'll have time for this in 1.1.0, due next week. This isn't a particular priority, but if it gets completed we can get it into any point release.

[2015-05-10 07:14] quicksketch commented on #604
With only a week until release, we might not be able to finish this issue. However, it's trivial to implement, so perhaps there's still a chance. I'll leave this open for a few days more, but this issue is relatively low priority.

[2015-05-10 07:34] quicksketch commented on #519
I'm still up for including this in 1.1.0 if we can get it done in the next couple of days. Any takers?

[2015-05-10 07:35] quicksketch commented on #603
I'm still up for including this in 1.1.0 if we can get it done in the next couple of days. Any takers?

[2015-05-10 07:36] quicksketch commented on #684
Looks like this PR is passing. I'll give this a look in the next couple of days and see if we can make this in 1.1.0 (out Friday).

[2015-05-10 07:37] quicksketch commented on #742
I'm up for including this relatively simple change in the 1.1.0 release, but getting this done could require more time than we have (I believe a lot of tests may be affected). Is anyone interested in taking this on?

[2015-05-10 07:47] quicksketch commented on #888
Thanks @Graham-72, great observations. It looks like we should:

- Align the gear left(?) so that it's next to the summary column.
- Definitely set the background color on that gear so that it's more visible when highlighted or within a gray row. Maybe just a white background (to match our dropbuttons) would be appropriate.

[2015-05-10 08:16] pablo-romero opened #918 "[META] Port Drupal 7.36 and 7.37 issues to Backdrop"
## Remaining issues from Drupal 7.36
- [x] | N/A | [de8762b](http://drupalcode.org/project/drupal.git/commit/de8762b201863542b1867737997a45c7100b8f2f) | [Issue #2380143 by Lendude, pwolanin: Contact forms set an incorrect name and e-mail address on the global user object after the form is submitted.](http://drupal.org/node/2380143)
- [x] | https://github.com/backdrop/backdrop/pull/905 | [76e3d53](

[2015-05-10 10:36] klonos commented on #914
Yep, fixed! Thanx.

[2015-05-10 10:39] klonos commented on #917
Yep, fixed too! Thanx again.

[2015-05-10 10:44] klonos commented on #916
It's on Firefox 40.0a1 latest x64 nightly. The second time I visited the page, the last position of the dialog was remembered. Still not centered, but at least where I last moved it and thus within view. Clear caches was the first thing I did before I filed this issue.

[2015-05-10 10:49] klonos commented on #916
...not sure about the images. I compared directories between what I have and 87/pathauto and merged files but the ```message-32-*.png``` and ```message-*.svg``` under ```/core/misc``` are missing from the 87/pathauto, so I did not touch them.

[2015-05-10 10:50] klonos commented on #916
...yep, that was it. Anyways, I think that the images thing is irrelevant to the reported issue.

[2015-05-10 10:53] klonos commented on #916
Can't reproduce now either. Lets close it and I'll re-open if I manage to reproduce again.

[2015-05-10 10:53] #916 closed

[2015-05-10 10:55] klonos commented on #87
Thanx, that's great!

[2015-05-10 11:21] klonos commented on #901
It is relatively common for most of my customers' sites. They keep coming back to me with the request to either have the option checked by default (because they forget to enable it the first time they create a piece of content and then they have to re-edit the same content just to add it to a menu) or because they find content authors having placed the menu links in the wrong (sub)menu and it mess

[2015-05-10 13:12] serundeputy commented on #519
@quicksketch
one of the failures is in `bootstrap.test` for `assertTitle` (line 209) looking for `class="title"` which exists when there is no content on the front page, but does not when there is.

Since this puts content on the front page `class="title"` DNE, should we just remove this line from the test?

[2015-05-10 19:34] docwilmot commented on #519
`assertText` instead for the "Your first article!" string?

[2015-05-10 19:40] docwilmot commented on #870
Transferred to backdrop-contrib

[2015-05-10 19:59] clickbox commented on #742
i'll give it a shot

[2015-05-11 01:17] docwilmot commented on #334
done.

[2015-05-11 06:30] Graham-72 commented on #870
I have just modified project_browser.info and installed the module on a test site and it runs, giving me an excellent listing of Drupal modules and themes. Thanks @docwilmot for porting. I will now try to arrange for a listing of Backdrop modules and themes.

[2015-05-11 12:04] docwilmot commented on #870
Cool.

What's the plan? How you going to get that done?

[2015-05-11 13:52] Graham-72 commented on #870
I see that project_browser_server includes an example with some static data for a few Drupal modules, so I am thinking that it would be best to get both modules fully ported, then get some static data for a few Backdrop modules pasted in manually, for test and demo purposes.

After that, we have to find out how we get the live data for backdropcms.org (I presume) once the lists are available there

[2015-05-11 15:59] Graham-72 commented on #870
Question ... in project_browser.admin.inc he has

What, if anything, should we use in place of <MAINSITE_URL> ?
Otherwise, I think porting is now complete.

[2015-05-11 18:11] sirkitree commented on #854
So... I know this may not be the correct way to go about this, but after digging a while I noticed that within  the `file_managed_file_submit()` function, it checks for status of a file before deleting it. I simply removed this check so that if you remove a file it actually deletes it... I'm not sure why that status check is even necessary.

[2015-05-11 18:35] sirkitree commented on #854
So that totally backfired because it doesn't remove the field usages and the node still thinks there is a field in the field_data_ table for that field and throws errors when you try to save. Back do the drawing board.

[2015-05-11 19:09] docwilmot commented on #870
I think we can ignore that for now; doubt we'll be using any other servers than the default once its up.

I am thinking though that the server just sends a list of available projects, but the project_browser actually has to do the fetching and downloading. I'd say the important task is to get the browser actually fetching projects from GitHub. And installing them. Once that's done we can get the s

[2015-05-11 19:16] docwilmot commented on #870
Another small thing: I think the changes youve made so far directly to the project browser are reasonably obviously necessary, so this doesnt apply:

But I think when we start actually trying to make things work and write new code, that it may be best to to the changes in branches in a fork on your GitHub acct and send as PR to the Backdrop contrib repos. Sort of like how patches are proposed on D

[2015-05-11 21:11] Graham-72 commented on #870
@docwilmot

Yes, maybe. Though I am partly thinking that backdropcms.org will be collecting this information from GitHub and so project_browser_server might be replaced by some equivalent module on backdropcms.org if all the data we need is already there. We need to find this out.

Yes indeed. I was being lazy with this basic 'standard' porting stuff and will now start to use PRs for anything more

[2015-05-11 21:35] docwilmot commented on #870
The way I understand it, project_browser_server  will be installed on backdropcms.org and will do the job of querying data from project module there and sending it to project_browser on client sites. Thats what @wildkatana has been trying to accomplish on D.org for the last couple years. On D.org the same would likely apply as here: project_browser_server  would query project module, which in turn

[2015-05-11 21:47] wildkatana commented on #870
If y'all have any questions, feel free to hit me up. Project Browser Server doesn't assume anything about the backend, it is just an API, so it is pretty extensible.

Regarding the multiple servers line, that was so that people could potentially host their own module repos/marketplaces down the line. Think Eclipse plugin repos, for example.

[2015-05-11 22:58] quicksketch opened #919 "[UX] Layout conditions have "Cancel" button as the primary button"
Layouts for some reason don't match convention of having the primary button be the first button on the form. This is counter to the Views UI (which also uses dialogs) and all other forms in Backdrop where the primary button is the first button in the form.

![cancel-button](https://cloud.githubusercontent.com/assets/100206/7576795/9289258a-f7f6-11e4-9f3f-3a9deacff8ec.png)

[2015-05-11 23:04] quicksketch opened #920 "Path JS does not properly reflect Auto/Manual state in summary on taxonomy term form"
When adding or editing a Taxonomy term, the "summary" in the fieldset always says "Automatic alias", even when specifying a specific alias or no alias at all.

[2015-05-11 23:06] #920 closed

[2015-05-11 23:08] quicksketch opened #921 "Add a confirmation form for bulk deleting paths"
Right now when you bulk delete paths, there is no confirmation despite this being a highly dangerous action. This should run through a confirmation.

[2015-05-11 23:56] #919 closed

[2015-05-11 23:57] #903 closed

[2015-05-12 00:03] quicksketch commented on #334
Nice job @docwilmot! The PR looks great to me.

[2015-05-12 00:05] quicksketch commented on #334
Merged into 1.x, so this will make it into 1.1.0 after all. Thanks!

[2015-05-12 00:05] #334 closed

[2015-05-12 00:07] quicksketch commented on #909
This issue appears to only be a problem in Firefox. Chrome includes a browser-specific style for focus that works on all inputs.

[2015-05-12 13:41] Graham-72 commented on #888
@quicksketch I have added PR #891 to change the alignment of the gear and text - had to use align right for the text and align left for the button to get them close together. Also included a version of the gear with a white background, though maybe the whole icon needs a white interior background. I hope this may be of some help.

[2015-05-12 14:40] sirkitree commented on #854
My current working theory is that if we add a 'Replace' button alongside of the 'Delete' button, we could detect it's key in `file_managed_file_submit()` and somehow trigger whatever needs to happen there. Still trying to figure out what all needs to happen though. I think we want to delete the original file, remove all reference to it in whichever field_data_ table it happens to be within (though

[2015-05-12 16:24] sirkitree commented on #854
After looking through core for occurrences of `file_delete()`, it would seem that files are pretty much never deleted actually.

**file.module**
* this only deletes a file if it's temporary (status == 0)

**image.field.inc**
* this only deletes a default image from the admin form

**user.entity.inc**
* this only deletes user pics so has nothing to do with fields

Seems like a bug to me if core nev

[2015-05-12 16:38] biolithic commented on #854
A bug with core...who will you file it for?

Drupal 7?  Will you need to check it if applies to Drupal 8 as well?

Backdrop?

Anyways, this is an interesting thread to read through this morning.
Thanks for the effort!

On Tue, May 12, 2015 at 11:24 AM, Jerad Bitner <notifications@github.com>
wrote:

[2015-05-12 16:42] Graham-72 commented on #888
I have now added replacement pale grey arrow images for themes/seven/images to the PR https://github.com/backdrop/backdrop/pull/892. I believe they are only used in the one situation which is with a black background.

[2015-05-12 17:07] sirkitree commented on #854
This is for Backdrop. I looked through Drupal 7 and it's so different that I'm not even going there. And I'm not even prepared to look at Drupal 8 at this point.

[2015-05-12 17:28] docwilmot commented on #854
Doesnt https://www.drupal.org/project/upload_replace solve this problem though? Add an arbitrary flag to old versions of the file and have them cleaned by cron?

[2015-05-12 17:32] sirkitree commented on #854
That module only works on a node save, so I don't think it does. I think this should be solved before a node save (or at least that is the expectation from my users).

[2015-05-12 17:55] docwilmot commented on #854
You sure? It implements `hook_file_update()`. Quick look says that hook is called by `file_save()` which is called by `file_move()` which happens during filefield uploading a file, not just on node save.

If users are confused by the fact that both `my_file` and `my_file_0` are still there, can we modify the process of renaming to call old files `my_file_old` or `my_file_expired` or something equa

[2015-05-12 18:25] sirkitree commented on #854
I put a `dpm` within an implementation of `hook_file_update` and got nothing back on removing a file or uploading a new one, but only on node save, so my assumption was that it's only called on node save. I'd be happy to be wrong. The module itself (with basic conversion to Backdrop) still gives me a fatal error on a node save.
`EntityStorageException: SQLSTATE[23000]: Integrity constraint violati

[2015-05-12 21:45] quicksketch commented on #888
Awesome! I'm going to check it out now.

[2015-05-12 21:47] #921 closed

[2015-05-12 22:34] quicksketch commented on #888
Hi @Graham-72! Thanks for working on this. With the first PR at https://github.com/backdrop/backdrop/pull/891, I don't think the gear png icon actually needs to be updated, it's just the button background color that needs to be changed from gray to white. Unfortunately, there's not a good selector on that button to target. Maybe we need to modify the markup to give it a good class so we can target

[2015-05-12 22:40] quicksketch commented on #888
The gray arrows look great though. I've merged in your commit from https://github.com/backdrop/backdrop/pull/892.

[2015-05-13 06:45] Graham-72 opened #922 "Missing /div from templates/layout.tpl.php ?"
Is there not a missing /div from core/modules/layout/templates/layout.tpl.php where I see this at line 28
`
 <?php if ($content['header']): ?>
    <header class="l-header" role="banner" aria-label="<?php print t('Site header'); ?>">
     <div class="section clearfix">
      <?php print $content['header']; ?>
    </header>
  <?php endif; ?>
`

[2015-05-13 09:24] Drupaldise commented on #870
Hi @quicksketch I am not part of the contrib authors group. Can you add me?

[2015-05-13 15:24] Graham-72 commented on #888
@quicksketch

Shall I leave this for you to do, or shall I see if I can propose something?

[2015-05-13 19:41] klonos commented on #922
Yep, good catch there @Graham-72 :+1:

[2015-05-13 22:25] wesruv commented on #882
@klonos
I prefer one class, especially since we're working on a system that people will want to build upon.
The lower the specificity in core, the better. That way people who may not be as front-end savvy will have an easier time overriding styles.

Even if we're talking about Seven or Bartik, there's a chance people will use it as a sub-theme and lower specificity will be desirable.

If we plan o

[2015-05-14 08:21] cellear commented on #881
Would this be a good time to ponder what are some of the broad use-cases that Backdrop will be (or even already is) suited for?

The "Audience" statement at https://backdropcms.org/philosophy identifies 4 targets.

- small to medium sized business
- non-profits
- educational institutions
- companies/organizations on a budget.
- ...and since we're contemplating a blog profile, it seems reasonable t

[2015-05-14 14:56] Graham-72 commented on #870
Things are progressing well I think. I have written a brief summary of where we are at here:- https://github.com/backdrop-contrib/project_browser/issues/6.

[2015-05-14 17:54] docwilmot opened #923 "Views UI missing "Create a block""
In the latest code, only "Create a page" checkbox is available.

[2015-05-14 17:58] docwilmot opened #924 "Add new view "Create a page" checkbox cannot be unchecked"
On the add new view page, if you uncheck the create a page checkbox itcompletely disappears; you're not allowed to change your mind.
![before](https://cloud.githubusercontent.com/assets/1042283/7638204/c6bea926-fa38-11e4-87de-d6d2c40453fd.PNG)
After unchecking:
![after](https://cloud.githubusercontent.com/assets/1042283/7638213/d364c80e-fa38-11e4-9ea6-382180a985b5.PNG)

[2015-05-14 20:55] kreynen commented on #47
Trying to figure out where this is at/going.  Was a backdrop.drush.inc started?

[2015-05-14 22:17] heybenji opened #925 "Can't translate content even through Backdrop ships with Content Translation module"
Hey there. I'm new to Backdrop but I'm trying to set up a basic bilingual (English, Spanish) site and I'm failing to grasp how I would actually translate content with Backdrop out of the box even through it ships with the Content Translation module.

I've set up an install of Backdrop. I've enabled the Locale, Language, and Content Translation modules.

I create a node, but I see no "Translation"

[2015-05-14 22:18] greg-1-anderson commented on #47
I was asking around at DrupalCon LA, and wasn't able to find anyone working on this.  Presumably, something will be posted here when someone picks this up.

[2015-05-14 23:50] serundeputy commented on #923
this seems to be controlled by this:
`backdrop/core/modules/views_ui/wizards/views_ui_base_views_wizard.php`

[code]
and the corresponding lines for the page display, but I'm not sure the right course of action to correct it?

[2015-05-15 00:07] quicksketch commented on #925
Hi @heybenji! Thanks for trying out Backdrop! To create multilingual content, you must edit the content type and under "Publishing settings", use set "Multilingual support" to "Enabled, with translation". You must also have set up at least two languages. Now when you edit a node of that content type, there should be a language select list. Set the language to English or Spanish, and then the "Tran

[2015-05-15 00:11] serundeputy commented on #923
this technique works: https://github.com/backdrop/backdrop/pull/893

something tells me @quicksketch will have a cleaner/better way to do it.

[2015-05-15 00:25] serundeputy commented on #924
This `PR`: https://github.com/backdrop/backdrop/pull/893 addresses #923 and #924.

there maybe a more elegant way of handling this.  If people have thoughts please chime in.

[2015-05-15 00:32] quicksketch commented on #924
This problem has the exact same causes as https://github.com/backdrop/backdrop-issues/issues/923, let's consolidate this issue with that one. Thank you for pointing out both problems individually. :+1:

[2015-05-15 00:32] #924 closed

[2015-05-15 00:43] docwilmot commented on #923
There is in fact a much cleaner technique: delete the `#attributes` on the container. Solves both problems. But I dont know why. Can you figure it @serundeputy?

[2015-05-15 01:58] docwilmot commented on #923
And I can confirm that putting an #attributes property on any FormAPI container element with #states causes the same issue.

[2015-05-15 02:29] heybenji commented on #925
Thanks! That worked!

Benji Mauer
617-283-5764
@heybenji
www.heybenji.co

[2015-05-15 03:37] biolithic commented on #881
Hey Luke,nice to see you.
It's always good to think about these things as people review it for the
release of 1.1, though I'm not in a position in the company(s) to make
decisions on Backdrop.

I'm not too concerned that Heroku can't run Drupal or Magento...because
it's always there when I need to run Node+Angular through Yeoman and that's
all.
I'm not too concerned with the SEO or linking of Angu

[2015-05-15 05:40] #746 closed

[2015-05-15 05:49] BWPanda opened #926 "Default config for user-created entities"
My [Simplify](https://github.com/backdrop-contrib/simplify) module has default config files for nodes, comments, etc. but these are all empty as each config inside these files is grouped by content type (and I don't know what content types a user has got on their site until they submit the content type settings form and populate the config file).

If they don't do this, Simplify won't hide any fie

[2015-05-15 06:19] BWPanda commented on #926
Is it recommended to do something like the following pseudo code in a module's .install file, or is there a better way?

[code]

[2015-05-15 14:05] klonos commented on #746
Now with Token (soon to be) in core, perhaps we should just implement #885 and then simply allow that field to accept tokens? Just an idea.

[2015-05-15 17:35] docwilmot commented on #926
I think that sounds reasonable. Youd probably need a hook to set defaults for new user-created node types as well right?

Alternatively, (pseudocode) in the module somewhere
[code]
would account for all.

[2015-05-15 20:43] quicksketch commented on #888
This would be great to get done before release. @wesruv is here at the DrupalCon sprint, I'll see if he's available to take on this.

[2015-05-15 21:15] wesruv commented on #888
@quicksketch I'll have some time in a few :smile:

[2015-05-15 21:32] quicksketch commented on #923
Wow, that is very odd. I'll see if I can get to the bottom of this. Maybe we could fix the functionality of #states directly and leave the entire Views UI as-is.

[2015-05-15 21:35] quicksketch commented on #885
This sounds like a great idea to me. Token is now in core and the 1.1.0 release is later today. I'd love to see this in the next minor release.

[2015-05-15 22:28] serundeputy commented on #923
`PR`: https://github.com/backdrop/backdrop/pull/894
added `.options-set` selector to `misc.js`

[2015-05-15 22:30] wesruv commented on #888
@quicksketch Ready to go: https://github.com/backdrop/backdrop/pull/895

[2015-05-15 22:38] quicksketch commented on #923
@serundeputy: Ah! You found the same problem I did. I think it'd be cleaner to just add "form-wrapper" to the list of classes on the container elements

[2015-05-15 22:39] jenlampton opened #927 "[UX] Manage display: use the 'dirty' form flag when field settings are changed, in order to indicate that the form needs to be saved."
One of the saddest UX failures of Drupal (and now Backdrop) is when someone updates field display settings four or five times with no effect. Usually this is because they click the "Update" button thinking their settings will update, but they don't.  Not unless they also hit "Save".  And the "Save" button is usually below the fold, so the poor unsuspecting user may not even know there _is_ a save

[2015-05-15 22:39] serundeputy commented on #923
@quicksketch will do;

[2015-05-15 22:49] jenlampton commented on #603
meeeee!

[2015-05-15 22:54] wesruv commented on #888
Here's what we did with that button. After some live-crits we're getting rid of the cog in favor of descriptive text.
![new-configure-button](https://cloud.githubusercontent.com/assets/5607236/7663151/aec4dcc2-fb33-11e4-8577-d507f77ef679.png)

[2015-05-15 22:56] serundeputy commented on #923
updated to add `form-wrapper` to the views wizard form containers for block and page.  I left the class `options-set` in there.

should that class be removed?  I don't know if it is used for styling or anything.  :fried_shrimp:

[2015-05-15 23:00] quicksketch commented on #923
It looks like Views uses `options-set` for styling, so let's leave it in place.

[2015-05-15 23:10] quicksketch commented on #923
Thanks! Fixed in https://github.com/backdrop/backdrop/pull/894.

[2015-05-15 23:10] #923 closed

[2015-05-15 23:29] dboulet commented on #902
Added a new commit to my PR today, which allows the AJAX request to be sent as early as possible:

https://github.com/backdrop/backdrop/pull/876

If we can get that in, then I think that the only thing left to do would be to look into using localstorage to cache the admin bar in the browser.

[2015-05-15 23:35] quicksketch commented on #758
Thanks, this looks great @wesruv! I tested the installer and simpletest running and everything works the way I would expect. Great job!

[2015-05-15 23:35] #758 closed

[2015-05-15 23:37] wesruv opened #928 "Admin Tabs not laying out correctly in IE8 and Seven"
Tabs are below the gray header
![backdrop-ie8](https://cloud.githubusercontent.com/assets/5607236/7663514/92946a58-fb39-11e4-9ea5-bd50a2855be1.png)

Can't peg what's going wrong, think I'm going to do an IE8 only style with selector fanciness

[2015-05-15 23:38] quicksketch commented on #902
Thanks @dboulet! We don't have the time to fit this in before 1.1.0, but I'll give this a review next week and we can fit it into the next bugfix release.

[2015-05-15 23:44] quicksketch commented on #888
Thanks @wesruv! Passed tests and looks great. Merged in https://github.com/backdrop/backdrop/pull/895.

[2015-05-15 23:44] #888 closed

[2015-05-15 23:44] quicksketch commented on #888
I think we're totally done here. If we have any remaining tasks, let's open a new issue to make the flow of conversation easier to follow.

[2015-05-15 23:49] dboulet commented on #902
Of course, thanks @quicksketch. There’s no big hurry with this, as it’s not a critical issue.

[2015-05-15 23:57] serundeputy commented on #604
I don't know how to test this but I gave it a shot: https://github.com/backdrop/backdrop/pull/897
:8ball:

[2015-05-15 23:59] BWPanda commented on #885
:+1:

[2015-05-16 00:02] BWPanda commented on #926
@docwilmot I already have code that saves the config for a content type (https://github.com/backdrop-contrib/simplify/blob/1.x-1.x/simplify.module#L218), so this will work for new content types as they're created. It's just the ones that exist before Simplify's installed.

Also, I did think of doing something similar to your pseudocode, but then I'd have to do that everywhere config_get is used...

[2015-05-16 00:18] quicksketch commented on #604
Thanks @serundeputy! I think we could start using this in a few places where we're calling `language_list()` and looping through them.

It also looks like the `$is_enabled` parameter may not be taken into account when returning a option list array.

[2015-05-16 00:20] quicksketch commented on #891
Merged in https://github.com/backdrop/backdrop/pull/882.

[2015-05-16 00:20] #891 closed

[2015-05-16 00:21] quicksketch commented on #742
Let's kick this to 1.2.0. The release of 1.1.0 is imminent.

[2015-05-16 00:32] serundeputy commented on #604
updated for coding standards and `$only_enabled`
rebased.

[2015-05-16 00:37] quicksketch commented on #603
Great, thanks! This was the last issue for Backdrop 1.1.0!

[2015-05-16 00:37] #603 closed

[2015-05-16 01:00] jenlampton commented on #742
Very well, at least there is  PR now for testing :)

[2015-05-16 01:08] docwilmot commented on #926
true, I'd go with your way.

[2015-05-16 04:35] klonos opened #929 "[UX] Add a quick search field in the "Add block" dialog."
The list of available blocks will inevitably grow over time and people prefer to filter down to what they are looking for instead of scrolling endless lists. Lets do the same thing we do for Views and the "Add fields" dialog by adding a quick search field and perhaps a "category" drop-down (so for example people can limit the list to only menu blocks).

[2015-05-16 04:59] klonos opened #930 "[UX] Views UI redesign to match the rest of the admin UI."
Open two tabs in your browser... for example `/admin/structure/layouts/manage/default` and `/admin/structure/views/view/node_admin_content` and notice the difference in font sizes for same elements like page title, button text and size etc. Makes the whole UI experience very inconsistent. ...and just to be clear: I think we should brink the Layout font size down to what Views UI has - not the othe

[2015-05-16 07:33] klonos opened #931 "Notice: Undefined index: clean_url in system_urls_settings_submit() line 2151 of system.admin.inc"
After running the clear URLs test:

[2015-05-16 10:04] klonos commented on #927
Alternatively, we could do the same thing we do for the Views UI and elsewhere with the "dirty" flag and prompt the user to save unsaved changes. That + #789 would suffice I think.

[2015-05-16 11:42] docwilmot opened #932 "How to get a list of PRs merged in a release?"
Wanted to see all thats been merged in 1.1.0, but cant figure how.

[2015-05-16 11:58] serundeputy commented on #932
I think this does it @docwilmot : `git log v1.0.0..1.1.0`

output to a file for convienient perusal: `git log v1.0.0..1.1.0 > /path/to/log/file/name_of_file`

~Geoff

[2015-05-16 12:01] docwilmot commented on #515
https://www.drupal.org/project/vertical_tabs_responsive

[2015-05-16 19:17] docwilmot commented on #881
to remind me: https://github.com/backdrop/backdrop-issues/issues/239

[2015-05-16 22:53] klonos commented on #932
:wink:

[2015-05-16 22:56] docwilmot commented on #932
:+1:  @klonos thanks for the cleanup, again.

It would be good to have that list online somewhere.

[2015-05-17 00:27] serundeputy commented on #912
`PR`: https://github.com/backdrop/backdrop/pull/904

[2015-05-17 05:04] quicksketch commented on #926
I'm not certain what's being requested here, but you can store settings for node types directly in the `node.type.[type].json` file if that would be more appropriate. You can do so by form_altering the node type form, then adding your settings. I believe all settings are saved automatically into the node type config file.

In addition to the form_alter(), you should add `hook_node_type_load()` to

[2015-05-17 05:07] #505 closed

[2015-05-17 05:12] quicksketch commented on #926
Hmm, well this might not work well because entity types are not yet consistent. You'd have to implement hook_taxonomy_vocabulary_[name]() as well, and I don't think there is anything at all for "user types" where similar data could be saved.

So it looks like saving for all entity types in a single config file might be the best approach. It's what the new path integration does as well, as it is in

[2015-05-17 05:17] quicksketch commented on #932
You can also see the list on GitHub for all changes since a release version to the present. Click on the number of of commits next to each release's authoring information here: https://github.com/backdrop/backdrop/releases

For Backdrop 1.1.0, there were 233 commits on top of 1.0.6: https://github.com/backdrop/backdrop/compare/1.0.6...1.x

[2015-05-17 05:53] BWPanda commented on #926
@quicksketch This question related more to the fact that there's no way to specify the default value for entities if you don't know what entities exist.

For example, here is Simplify's current node config file on my sandbox site:
[code]

Ideally, the default config file that ships with Simplify would look something like this:
[code]
but there's no guarantee that those content types will exist of

[2015-05-17 10:02] klonos opened #933 "[UX] Make node title a proper (sortable too) field. a.k.a. Title module in core."
Let's correct another D7 annoyance and get [Title](https://www.drupal.org/project/title) in core pretty please.

Converting node title fields to the Field API would allow them to be treated as the rest of the fields instead of being special-cased and would also allow them to be sortable in the Field UI.

D7 module: [Title](https://www.drupal.org/project/title)

[2015-05-17 12:15] serundeputy commented on #912
I've added the `class` subkey.  It seems this can also be accomplished by unsetting the class array:
[code]
I'm not sure if there is an advantage to one way over the other.  Let me know your thoughts or if this way is the right way of course merge away! :bow: