[2021-04-28 02:04] alanmels opened #5071 "Horizontal dropdown or mega menu with the core Smart Menus"
Because the core drop-down style menu lacked some features, yesterday I've pushed the new [Smart Menu](https://github.com/backdrop-contrib/smart_menu) module. However, even with all the smartmenus options considered, it's still impossible to easily get, as different users call them differently, _horizontal dropdowns_, _multi-column sub-menus_ or _megamenus_.

Unfortunately, Smartmenus documentatio

[2021-04-28 02:12] jenlampton commented on #5071
I've had a fair amount of success building mega menus with smartmenus, following the MegaMenus example on this page: https://www.smartmenus.org/wp-content/cache/all/about/themes/index.html#demos-6

I know the demo there isn't working right now (I did file a ticket about it with them), but I copied the HTML structure on my own site, and was able to get the mega-menu functionality working as expecte

[2021-04-28 02:47] bugfolder commented on #5067
Grrr, well, it was supposed to be there. Appears that got lost in the shuffle of trying to merge and rebase with other commits to 1.x. It's back in the latest update to the PR.

But I'm having second thoughts about passing $router_item. All the reasons I gave above are applicable; but one of the testing errors was because `layout_get_multiple_by_path()` was getting called in `dashboard_menu()`, an

[2021-04-28 04:54] alanmels commented on #5071
@jenlampton, thanks for the input. Unfortunately, getting the drop-down layer aligned to the left was not possible using styling, so instead of requesting change in the jquery file in the core (as it could take forever), it was easier to port another module: https://github.com/backdrop-contrib/superfish which made aligning peace of cake.

[2021-04-28 05:46] alanmels commented on #5046
Any updates on this? It would be really nice to get this fixed.

[2021-04-28 08:39] klonos commented on #5071
That was done back in 2016, and when we evaluated various options, SmartMenus was ticking all the boxes. See #2107

[2021-04-28 08:42] klonos commented on #5071
@alanmels at some point I suggested that we use the in-built functionality of SmartMenus to provide mega menus in core OOTB, but we decided that it wasn't an 80% use case, and left it for contrib. See #2208

[2021-04-28 13:30] bugfolder commented on #5067
And one more tweak added: the previous version of `layout_get_layout_by_path()` statically cached its result based on the system path (`$router_item['path']`). But the layout for a given system path might vary due to visibility conditions resulting from contexts. So I've changed the caching to be based on the normal path (`$router_item['href']`).

[2021-04-28 14:00] bugfolder opened #5072 "Layout save doesn't properly save context"
Saving a Layout on which you've set a context doesn't always save the context properly.

This can be demonstrated with the attached module, which creates pages at two paths: `demo-1/%node` and `demo-2/%`. Both pages expect the path placeholder to be a valid node nid, and both pages properly handle the case where it's not.

[demo.zip](https://github.com/backdrop/backdrop-issues/files/6392286/demo.z

[2021-04-28 15:56] bobchristenson opened #5073 "Old (uninstalled) Theme Throwing Errors"
I migrated a site from D7 -> Backdrop and previously had the Zurb Foundation theme installed in D7.  When I moved to Backdrop I removed that theme.  I don't remember, honestly, if I uninstalled it in Drupal or whether I uninstalled it in Backdrop.  Regardless, it was removed and the files no longer exist in the themes directory at all.

Yet, I'm getting an error constantly in the logs:
`Notice: Un

[2021-04-28 16:31] bobchristenson commented on #5073
Weird. I had an old D7 theme in my themes directory that was using foundation...but it wasn't enabled and wasn't even ported to Backdrop. I removed that and the errors went away. Not sure whats up with that...

Will continue to monitor this to see if the errors pop back up.

[2021-04-28 17:41] alanmels commented on #5071
@klonos, thanks for the links.

With the https://backdropcms.org/project/menu_attach_block ported yesterday that's now easily possible. However, it has one problem - you can not align the drop-down layers to the left. The same problem is with the in-built megamenu feature - all the drop-downs are positioned just under their parent menu items. Would be wonderful if someone could fix this.

[2021-04-28 18:26] herbdool commented on #1602
@bugfolder your explanation helps. I tested and indeed it does work that way. A View with a path `list/%` creates a system path in menu_router table of the same. And creating a layout for `list/%` works. But a View path of `list/1` doesn't work with the same layout.

[2021-04-28 21:11] bugfolder commented on #1602
@herbdool, I've started working on the roadmap for Layout Wildcard, putting some introductory comments and explanation into [this issue](https://github.com/backdrop-contrib/layout_wildcard/issues/19). They might be helpful. The View scenario you're describing is one of the example scenarios.

[2021-04-29 06:04] indigoxela commented on #5073
@bobchristenson many thanks for reporting.

Strange indeed. Do you have direct access to the database? Like, for instance, with phpmyadmin?

Try: `SELECT * FROM system WHERE type = 'theme';` Does it still show up? As enabled (in the "status" column)?

If so, you might have forgotten to disable it in D7. If not, the problem should be solved.

[2021-04-29 07:12] jenlampton commented on #2518
I ran into this today on a Drupal 7 upgrade for a site that started in Minimal.

Since we have Minimal in Backdrop, that particular issue seems like a bug. Why doesn't minimal return any results for `system_get_info('module', $profile);` (Line 36 of `system.install`)?

[code]

[2021-04-29 07:32] indigoxela commented on #2518
@jenlampton the "minimal" profile is a hidden one:

[code]
It's not supposed to be selected nor used and is a candidate for getting dropped. That's why my PR switches it to "standard" - to prevent problems.

[2021-04-29 07:49] jenlampton commented on #2518
All "Hidden" means is that it won't show up in the installer. Minimal is not a candidate for getting dropped, it's there for the experts who would like to be able to use minimal instead of standard. But hiding it from the installer is done so that it doesn't get in the way of novices who won't understand what an install profile is, or why they need to select one just to get Backdrop installed.

Mi

[2021-04-29 07:54] indigoxela commented on #2518
Then this should get fixed. Does this make my PR invalid? Not sure.

I'm for sure not a novice, but I didn't know that.

[2021-04-29 08:23] indigoxela commented on #2518
FTR: this is why I assumed that "minimal" might get removed: https://github.com/backdrop/backdrop-issues/issues/1999

[2021-04-29 13:06] bobchristenson commented on #5073
Nope, the Foundation theme wasn't listed in my system table.   Not sure if that might get automatically removed after I remove the theme files (?) but I don't see it there now.

[2021-04-29 13:50] indigoxela commented on #5073
I'm not sure, but maybe we should make the theme recognition a bit more robust, or should I say picky in what's considered a valid Backdrop theme?

[2021-04-29 13:55] bobchristenson commented on #5073
Yeah, I would think it should have a valid Backdrop info file to even be looked at (?).  This isn't very helpful, but it's POSSIBLE i had the Backdrop version of Foundation installed when I first tried to get this running. It's possible that this scenario occurred:

1. I migrated the site, Drupal version of Foundation in place.  Backdrop didn't detect it.
2. I removed the Drupal version, put the B

[2021-04-29 15:37] herbdool commented on #5070
That function sets attributes to be an empty array by default so I assume it shouldn't be an issue. Maybe the hook needs to be fixed?

Do you have some simple steps to replicate this?

[2021-04-29 19:01] jenlampton commented on #2518
Thanks, I either hadn't seen that issue, or had forgotten about it!

[2021-04-29 21:07] quicksketch commented on #2134
I also added a code review to the PR that has a few suggested changes: https://github.com/backdrop/backdrop/pull/3422#pullrequestreview-644192994

[2021-04-29 22:05] bugfolder commented on #5070
Steps to reproduce: Add this implementation of `hook_css_alter()` to any module (crashing example adapted from Bootstrap Lite module):
[code]
Load any page, immediate crash. Uncomment the 'attributes' line and it works.

[2021-04-30 05:59] indigoxela commented on #5052
I don't actually think that benchmarks are an answer to my question.

I do understand why someone added the static cache there, but I think it was based on wrong assumptions. A function that's supposed to reset caches, currently also the one in use *in that function*, should not use static caching.

What it needs IMO is to make sure that the function only runs *once*. And that's not hard.

[2021-04-30 07:21] indigoxela commented on #5070
I confirmed the same behavior in themes - with a really minimal subtheme of basis, which actually only consists of an info and a template.php file.

in template.php:
[code]
Result: WSOD on every page when this theme is enabled and the default one.

In dblog: Error: Unsupported operand types in backdrop_pre_render_styles() (line 3955 of .../core/includes/common.inc).

Then I applied [the patch](htt

[2021-04-30 14:12] indigoxela commented on #5070
I see that @herbdool and @klonos already did a review. And so I did now – wrapping in `isset()` was actually what I had in mind. :+1:

RTBC from my side.

[2021-04-30 14:30] klonos commented on #5070
I've left a suggestion re text wrapping in the docblock, but otherwise still RTBC.

[2021-04-30 14:31] klonos commented on #5070
Which @bugfolder lightning-merged 😓

[2021-04-30 15:10] jenlampton commented on #5052
But if there are four systems that need to rebuild module data that all
activate one one page request, we really need to only rebuild the data
once. The static cache makes sense.

On Thu, Apr 29, 2021, 11:00 PM indigoxela ***@***.***> wrote:

[2021-04-30 15:15] herbdool commented on #5070
I still have niggling problem that I don't understand why the problem is happening and that this PR might be just papering over it.

I thought that `backdrop_css_defaults()` would have solved the issue by always ensuring that the attributes is set to at least an empty array. I can't figure out why the alter hook is messing that up. I was going to look into that but I haven't had a chance. But perh

[2021-04-30 15:21] indigoxela commented on #5052
@jenlampton  I'll give it another try...

This popped up with an issue, where two different modules run the same cache rebuild on the same page. And my suggestion was to let the module that "owns" the page (defines it in hook_menu) do the refreshing. And the other one should not interfere.

But digging a bit deeper caused me to raise this question here: A function that **resets** caches is IMO no

[2021-04-30 15:33] indigoxela commented on #5046
Again a hint, why I think the double run happens by mistake:

The system module already takes care of preventing stale data on /admin/modules _and_ /admin/modules/list - which are basically the same page on different paths.

The updater module flushes caches, too, on page /admin/modules, but not on /admin/modules/list.

So, here's a provocative (ironic) suggestion: If people are so convinced that

[2021-04-30 15:42] indigoxela commented on #5070
@herbdool probably because backdrop_css_defaults() get's called in backdrop_add_css(), but the problem occurs with hook_css_alter().

[2021-04-30 16:17] herbdool commented on #5070
Sorry I still don't understand. I'll look up more later when I'm at a computer. But from what I can tell, `backdrop_get_css` calls `backdrop_add_css` and then triggers the alter hook. So I assume it should be setting the defaults before the hook is triggered.

[2021-04-30 21:53] quicksketch commented on #5070
Yes, that's correct. What I think it happening is a module or theme is adding an _entirely new_ entry into the list of CSS files. So while defaults are set on all files in the list, if a module adds a new CSS file by manually specifying every possible key, it wouldn't have known to add `attributes` prior to this patch.

Now that we have `backdrop_css_defaults()`, any module that adds a CSS file in

[2021-04-30 22:36] jenlampton commented on #5052
But there's no way that system A can always know which of systems B, C, D, or E (or any other) might also need to reset the cache on that same page or not.

[2021-04-30 23:43] herbdool commented on #5070
Makes sense to me now, and I agree with the pr. I was assuming that the alter hook could only edit existing entries.

[2021-04-30 23:44] klonos commented on #5070
It feels that this should be documented in https://github.com/backdrop/backdrop/blob/1.x/core/modules/system/system.api.php#L416 and that code snippet provided as an example. No?

...having said that, shouldn't we be doing that whole adding of `backdrop_css_defaults()` for all implementations of `hook_css_alter()`, instead of expecting developers to know that they need to do it?

[2021-05-01 01:48] quicksketch commented on #2134
I implemented my suggested changes that build on the current PR: https://github.com/docwilmot/backdrop/pull/6

@docwilmot will need to review that PR to merge it into his branch. Or if needed I can make a new PR that incorporates it separately. I'd just love get @docwilmot's feedback before creating a new one.

[2021-05-01 02:52] klonos commented on #2134
@quicksketch I've asked a question in your PR re constants + a suggestion of what _I think_ might be an oversight.

[2021-05-01 05:29] indigoxela commented on #5070
Documenting things with a code snippet for sure makes sense - but only for new implementations of that hook. IMO we still should take care that existing implementations don't break. And as this currently results in WSOD it seems even more important to me.

I'm all for making attributes optional, and that core takes care of catching possible problems.

[2021-05-01 05:34] indigoxela commented on #5052
This all happens in core. The problem is caused by two core modules. System, which is always on, and Update which is not necessarily on. I'm convinced that there's a clean and elegant way to resolve things without breaking page performance by calling an expensive function twice per request.

And I'm still sure that the static cache is no solution for a function that resets caches. I really tried t

[2021-05-01 14:59] jenlampton commented on #5052
This one example you're looking at now is in core, but the function to
reset module data could also be called by any number of contrib projects,
which is why it needs the static cache. :)

On Fri, Apr 30, 2021, 10:35 PM indigoxela ***@***.***> wrote:

[2021-05-02 00:56] quicksketch commented on #2134
Thanks @klonos! Answered the question and nice catch on the mistake I made there. I filed the complete changes in a new PR at https://github.com/backdrop/backdrop/pull/3611 so that I can get the test suite running against it.

[2021-05-02 01:02] #5070 closed

[2021-05-02 01:04] quicksketch commented on #5070
I was thinking about if we should instead add the defaults, such as `$item += backdrop_css_defaults()` rather than doing several `isset()` checks. But I don't think it's better than the current solution. I've merged https://github.com/backdrop/backdrop/pull/3610 into 1.x for 1.19.0. Thanks @indigoxela for reporting the issue and thanks @bugfolder for the fix!

This feature is not in the 1.18.x bra

[2021-05-02 01:28] quicksketch commented on #2714
I'm going to work on getting the tests passing and any minor changes that would need to be made to get this mergeable. I'd love to still have this completed for the next release, we can iterate on it further as needed.

[2021-05-02 02:57] klonos commented on #2714
Thanks @quicksketch 🙏🏼 ...please give me 5-10min to push some changes from my local before you start working on this.

[2021-05-02 02:59] quicksketch commented on #2714
I already pushed up a PR to your branch at https://github.com/klonos/backdrop/pull/6. I can adjust further if we get conflicts between your changes and mine. Thanks!

[2021-05-02 03:08] klonos commented on #2714
OK, cool 👍🏼 ...I'll merge your changes shortly, since I just saw that my local has many changes that I need to weed through (what happened to me committing/pushing small changes often 🤦🏼 )

[2021-05-02 03:15] klonos commented on #2714
...I've reviewed and merged your PR @quicksketch. Now waiting for the tests to run.

I then plan to implement @indigoxela's suggestion from https://github.com/backdrop/backdrop/pull/3451#discussion_r571448630 and then manually re-add my changes from my local (too many conflicts to work through otherwise).

[2021-05-02 09:18] indigoxela commented on #2714
Tests are still failing. Please have another look.

[2021-05-02 11:12] indigoxela commented on #5028
I suppose, this also needs an `@since` and a change record, because field_associate_fields() now has a second (optional) param.

Code is looking good, RTBC from my side. :+1:

[2021-05-02 11:25] indigoxela commented on #4600
@jenlampton some (possibly unrelated) tests failed and the links point to 404 - mind to close/open your PR to re-run Zen.CI?

[2021-05-02 11:33] indigoxela commented on #5073
Ha! We already tried to fix this: https://github.com/backdrop/backdrop-issues/issues/3981

I wonder if this fix would also prevent the problem you describe... I'll have a closer look. However, I'm closing this one as "duplicate" - I hope that's OK for you @bobchristenson

[2021-05-02 12:28] indigoxela commented on #3981
The PR does not fully catch the problems with "undefined index". Not sure if it should.

I tried to find a way to reproduce/simulate and this was my approach: I created a minimal module with following code:

[code]
Enabled it, visited front page, flushed caches - and got two notices as expected:

- Notice: Undefined index: in theme_get_setting()
- Notice: Undefined index: nosuchtheme in theme_get_

[2021-05-02 12:42] indigoxela commented on #3780
Here's a screenshot from the sandbox:

![aligned-taxonomy-numbers](https://user-images.githubusercontent.com/842066/116813542-7563a800-ab54-11eb-9ac9-e7f1548f0ef3.png)

Works for me. :+1:

@BWPanda I've left a tiny suggestion re code formatting, otherwise your PR looks good.

[2021-05-02 13:08] indigoxela commented on #3122
Looks like there's consensus here. I see that text changes have been requested - remove the superfluous "all" from two strings.

@klonos are you able to do these tiny changes? Shouldn't be too time consuming.

[2021-05-02 20:39] herbdool commented on #2134
I've realized that I don't understand the best way to test this again. I thought that it might expose fields like author, but I guess that's a pseudo field. Since it's specifically the author of the node I'm not sure if anything is exposed in a block. Currently is it just visibility condition that it provides more options?

[2021-05-02 20:39] BWPanda commented on #3780
Thanks @indigoxela. PR updated.

[2021-05-02 20:47] herbdool commented on #2134
I've answered my own question. I added a field on the user account, then added it to the layout, with using the context of the author. Shows up correctly.

[2021-05-02 21:43] jenlampton commented on #3780
Beautiful! RTBC :)

[2021-05-02 21:52] klonos commented on #5073
@indigoxela I would still like to try to reproduce this, and make sure that it is not due to human error (forgetting to uninstall the theme in D7), plus I don't think it's exactly the same as #3981.

The error thrown here is around `theme_has_settings()`, whereas the other issue is around `theme_get_setting()`. They could be related, but perhaps not.

[2021-05-02 21:54] klonos commented on #3981
It might not be the same issue @indigoxela, as the error message in #5073 is different.

[2021-05-02 23:03] klonos commented on #2548
Each time I have to work on issues like #2714 that involve working with functions that pull module/theme/layout info, these inconsistencies are doing my head in 🙄

In function `update_get_projects()`, there's this bit of code:

[code]

All 3 functions return arrays of objects, and while there is relevant consistency for modules and themes, there are things missing from the layout template objects:

[2021-05-02 23:09] jenlampton commented on #3122
Rebased and removed the two "all"s: https://github.com/backdrop/backdrop/pull/3613.

[2021-05-03 00:42] klonos commented on #3122
Thanks @indigoxela and @jenlampton for reviving this 🙏🏼

I cannot mark this RTBC, since I worked on the code, but reading through this thread, there's only one UX that remains:

![chase-checkbox](https://user-images.githubusercontent.com/2423362/116833372-6b2bc300-abc1-11eb-8b44-b5d6bafbdfaa.gif)

^^ ticking/unticking that checkbox moves it from under your cursor, which is a UX no-no. I proposed t

[2021-05-03 00:44] jenlampton commented on #2714
I ran the failing tests locally, and they all passed (on PHP7) I'll try them again on php 5.3.

I've added some commits to @klonos's PR that do the following:

* add a button on the top of the 'Available updates' report to the page where updates can be performed.
* Changed link text on dashboard block from `Updates` to `Manage system updates`.
* Changed the page title from `Updates` to `System upd

[2021-05-03 00:48] jenlampton commented on #3122
I like it, nice clean solution.

[2021-05-03 01:11] jenlampton commented on #3122
Okay, I pushed this change to the PR: https://github.com/backdrop/backdrop/pull/3613

[2021-05-03 01:15] jenlampton commented on #2714
Okay, I found one failing test and fixed it...  testing again now. 🤞

[2021-05-03 01:15] quicksketch commented on #2134
I updated the PR at https://github.com/backdrop/backdrop/pull/3611 with final changes suggested by @herbdool and all tests should now be passing again.

- User from Node has been renamed to "Author from Content" everywhere in the front-end UI (internally it's still AuthorFromNode, which is fine/consistent with other references to nodes).
- I simplified the API a bit so that `Layout::getContexts()`

[2021-05-03 01:45] jenlampton commented on #2134
Code review looks great, my only feedback are suggestions for user-facing text, which shouldn't block the merge. Doing some manual testing now :)

[2021-05-03 01:52] quicksketch commented on #4772
I merged in @klonos's PR to include the missing portions of the D7 patch. All tests should now be passing.

We discussed this during the last weekly call and no one objected to the "merge now, iterate later" approach for this initial PHP 8 support PR. So I'm removing the "needs work" and I think this initial work is ready to go.

[2021-05-03 01:57] jenlampton commented on #2134
Manual testing review:

1. There seem to be two `UL` tags with the class `action-links` being added to the page, rather than two links in the same list:
<img width="1057" alt="Screen Shot 2021-05-02 at 6 49 21 PM" src="https://user-images.githubusercontent.com/397895/116835637-35162100-ab78-11eb-8ea6-3dd0ee7d1003.png">

[2021-05-03 02:38] #2134 closed

[2021-05-03 02:40] quicksketch commented on #2134
I merged https://github.com/backdrop/backdrop/pull/3611 into 1.x for 1.19.0! :tada:

Thank you SO MUCH @docwilmot for taking on this complex need and making it happen!

Minor UI changes like combining the action links as suggested by @jenlampton can be done before the 1.19.0 release. We have a number of follow-ups that we could build on here, such as adding support for the other reference handlers

[2021-05-03 02:43] herbdool commented on #2134
@jenlampton should we have a follow-up issue for your two suggestions so we don't lose track of them?

[2021-05-03 02:48] jenlampton commented on #2134
I'm working on a PR for the action links now, hoping we can get it in tonight.

[2021-05-03 02:49] #4991 closed

[2021-05-03 02:49] quicksketch commented on #4991
Merged https://github.com/backdrop/backdrop/pull/3562 into 1.x for 1.19.0. Thanks @indigoxela for bumping this up for visibility!

[2021-05-03 02:52] #4904 closed

[2021-05-03 02:52] jenlampton opened #5074 "Fix layout action links so additional links can be added to the list."
**Description of the bug**

There seem to be two `UL` tags with the class `action-links` being added to the page, rather than two links in the same list:

<img width="1057" alt="Screen Shot 2021-05-02 at 6 49 21 PM" src="https://user-images.githubusercontent.com/397895/116835637-35162100-ab78-11eb-8ea6-3dd0ee7d1003.png">

This is happening because both links fake the action-links `UL` by adding it

[2021-05-03 02:53] jenlampton commented on #5074
I'm working on adding a new theme function, `theme_layout_action_links()` that will allow us to use it in a renderable array.

[2021-05-03 02:54] quicksketch commented on #4904
Thanks @indigoxela and @klonos! The final PR looks great. I appreciate the moving into `entity.module` rather than this being `comment.module` specific. I merged https://github.com/backdrop/backdrop/pull/3514 into 1.x and 1.18.x. Thanks!

[2021-05-03 03:02] klonos commented on #2714
@jenlampton I really like the various messages you've added for the update checking frequency and email recipients, but the "Review settings" link was being added only to the email message, while it also applies to the frequency message. When everything is OK, and both messages are `info`, that does not present much of an issue (although still odd); but when the frequency message is a warning, you

[2021-05-03 03:20] jenlampton commented on #2714
I don't really mind the duplicated links. (You can see from the code that I assumed the same link would appear multiple times on the page, so generated it only once and shared it across all messages).

I didn't think it was a good idea to tell people something is wrong (by showing them a warning) without giving them a way to fix that problem along with the warning.  I'd rather not have to guess th

[2021-05-03 03:23] jenlampton commented on #2714
Idea: What if we integrated the link more discreetly, by linking existing text within the message?

[2021-05-03 03:27] klonos commented on #2714
Agreed 👍🏼

Yup, that'd work best 👍🏼

[2021-05-03 03:31] #3780 closed

[2021-05-03 03:32] klonos commented on #2714
...how about this?:

- Automatic update checks [are configured](url) to run @frequency.
- Automatic update checks [are disabled](url) and will need to be run manually.
- [Email notifications](url) are disabled for available updates.
- No email address has been provided for [notifications about available updates](url).
- [Update notifications](url) for this site will be sent to:

[2021-05-03 03:33] BWPanda commented on #3780
Thanks @klonos, @indigoxela & @jenlampton for help with this. I've merged https://github.com/backdrop/backdrop/pull/3485 into 1.x and 1.18.x.

[2021-05-03 03:44] jenlampton commented on #2714
What if we made every link a complete sentence on its own:

- [Automatic update checks are configured to run @frequency](url) .
- [Automatic update checks are disabled](url) and will need to be run manually.
- [Email notifications are disabled](url) for available updates.
- [No email address has been provided](url) for notifications about available updates.
- [Update notifications will be sent](ur

[2021-05-03 03:46] klonos commented on #2714
Yup, lets go with that, and we can follow-up if we want to tweak further 👍🏼

[2021-05-03 03:47] quicksketch commented on #2714
Separate from the link discussion: Would this new page be better if it were located under "Developer" rather than "System"? Seems like configuring updates is in the same vein as "Maintenance Mode".

[2021-05-03 03:53] klonos commented on #2714
Well, I think we've discussed that already 😅  ...besides, performing updates is not a developer-only task; site admins/owners may do it as well.

Performing updates via FTP, or composer etc. would feel like a developer task, but doing it via the admin UI feels like a site builder (non-coder) task. As a non-developer or site builder, I would first check under Configuration -> System, rather than un

[2021-05-03 03:56] jenlampton commented on #2714
I think that I would have found the page if it were under developer tools. I looked there. I did not look under System.

True, but anyone who's doing updates should have access to the "Developer" section of the menu. That does't define who the tasks are for -- just the sorts of tasks they are. If you need to use "developer tools" to put the site in maintenance mode, and maintenance mode is recomme

[2021-05-03 03:57] quicksketch commented on #2714
Yeah, perhaps separate out that problem. I think Maintenance Mode and Updates should be in the same place, whichever that is. Cron however, should be under Developer (it's currently under System). Seems like System vs. Developer needs revisiting entirely.

[2021-05-03 03:59] jenlampton commented on #2714
My vote is for eliminating "system" entirely :) but...  not in this issue ;)

[2021-05-03 04:00] #4772 closed

[2021-05-03 04:02] klonos opened #5075 "[UX][DX] Revisit items placed under the "Development" and "System" menu items"
This is a follow-up so not to block #2714 for the upcoming 1.19.0 release.

@quicksketch

@klonos

@jenlampton

@quicksketch

@jenlampton

[2021-05-03 04:02] klonos commented on #2714
Agreed 👍🏼 ...follow-up: #5075 🙂

[2021-05-03 04:03] quicksketch opened #5076 "[META] Full PHP 8 Support"
Meta ticket to track complete PHP 8 Support

Issues:

* [x] #5325
* [x] #5312 Layout: Layout Interface Test (LayoutInterfaceTest) 1201 passes, 91 fails, 10 exceptions
* [x] Installer (module): Installer UI tests (InstallerBrowserAdministrationTestCase) 139 passes, 12 fails, 0 exceptions (fixed in https://github.com/backdrop/backdrop-issues/issues/5205)
* [x]  #5319 Upgrade path: Language upgrade t

[2021-05-03 04:05] quicksketch commented on #4772
I have merged https://github.com/backdrop/backdrop/pull/3412 into 1.x. As this would make for a good 1.19.0 promotional feature, and the likelihood of regressions is higher than a normal bug fix, I would prefer not to merge this into 1.18.x.

We still have more work to do here, I filed https://github.com/backdrop/backdrop-issues/issues/5076 as a full meta so we can start tracking follow-ups.

[2021-05-03 04:12] quicksketch commented on #5074
Review posted to https://github.com/backdrop/backdrop/pull/3615#pullrequestreview-650072131

[2021-05-03 04:32] herbdool commented on #2134
Thanks for explaining bitwise operators in the PR comments @quicksketch. I see now why it made sense to use for the context usage types. It seemed wrong at first.

[2021-05-03 06:06] quicksketch commented on #2714
PR at https://github.com/backdrop/backdrop/pull/3451 is now passing all tests (thanks for your patience with the testbot @klonos!) There are some small things yet to be worked out in follow-ups: minor string changes and possibly moving the menu item, but this seems like it's ready to go. And we managed to include the update to the dashboard block after all.

I'd love to have a second approval, bas

[2021-05-03 06:56] indigoxela commented on #5074
@jenlampton was there a special reason to put this in milestone 1.19.0 instead of 1.18.4? This rather looks like a bugfix than a new feature.

[2021-05-03 07:02] jenlampton commented on #2714
I gave it another test with themes and layout templates, and it's working great! I also did a code review, RTBC from me!

[2021-05-03 07:04] jenlampton commented on #5074
@indigoxela the current PR changes the relationships feature that went into 1.19.0, where I noticed it, which is why it was a follow-up to that one. We could add it into 1.18.4 also, but then it would take a smidge more work.

[2021-05-03 07:08] #2714 closed

[2021-05-03 07:10] quicksketch commented on #2714
Merged https://github.com/backdrop/backdrop/pull/3451 into 1.x for 1.19.0. Yay and we still have almost an hour before it's feature freeze in Hawaii. :stuck_out_tongue_winking_eye:

Thanks folks for all the work leading up to this and those providing the last minute oomph.

[2021-05-03 08:01] indigoxela commented on #2714
I also quickly checked an update to current HEAD. Works as expected. :+1:

On a pre-existing 1.18.2 install I replaced the core by the fresh one and ran update.php (which wasn't necessary, actually).

The outdated update links vanished as they should, /admin/config/system/updates was the only remaining one. Installed an outdated version of a module, visited the dashboard. Hit the refresh button ("

[2021-05-03 13:25] klonos commented on #3122
Thanks @jenlampton 👍🏼 ...I've re-reviewed the code, and it LGTM; also tested things, and I could not spot anything obviously wrong or any UX issues.

Since I co-wrote the PR, I cannot mark as WFM or RTBC; anyone else give it a final round of testing/review please?

[2021-05-03 13:30] klonos commented on #5076
Some of them are already linked as PRs in #5042 😉 ...I would like to get those cross-ports out of the way, and then move on to the next chunk please (issue to be created).

[2021-05-03 13:53] klonos commented on #4600
The tests are failing indeed, but links to test details do not 404 for me 🤷🏼

@jenlampton I like all the code simplification/cleanup in block.text.inc 👍🏼 ❤️

[2021-05-03 14:07] klonos commented on #4600
...I've added a suggestion that should fix all failing tests: https://github.com/backdrop/backdrop/pull/3287/files#r625110525

[2021-05-03 14:18] klonos commented on #4600
I'm reading through this thread, trying to understand if we have consensus on the string changes, and if there is anything else to be done as part of this...

Re this comment:

I agree with @stpaultim 👍🏼 ...lets solve this UX issue here now.

I think that this idea has merit and will improve both UX and DX (I'm a big fun of UI consistency and code reuse where possible). @philsward can you please o

[2021-05-04 00:34] bugfolder commented on #4986
Attached is a simple module that can be used to demonstrate the scenarios above.

[foo.zip](https://github.com/backdrop/backdrop-issues/files/6418499/foo.zip)

If backward compatibility were not an issue, I would suggest that all confusion could be eliminated by adopting the convention that a module-provided system path always takes precedence over a layout-provided path when it comes to what gets

[2021-05-04 00:39] #5057 closed

[2021-05-04 00:41] quicksketch commented on #5057
Thanks @bugfolder for reporting and fixing this issue!! Thanks @indigoxela and @klonos for reviewing. Definitely an oversight in the code of Layout, because we never encounter that situation in core, that code branch has probably never really been executed. The fix looks correct to me and thanks to your folks' testing I feel good about merging this. Merge https://github.com/backdrop/backdrop/pull/

[2021-05-04 00:44] #5041 closed

[2021-05-04 00:45] quicksketch commented on #5041
Thanks folks! Merged https://github.com/backdrop/backdrop/pull/3587 into 1.x and 1.18.x.

[2021-05-04 00:50] quicksketch commented on #5037
@indigoxela Could you check my comment on the PR? I think there's still a further edge-case where this problem could occur even with the proposed fix: https://github.com/backdrop/backdrop/pull/3586/files#r625452136

[2021-05-04 01:05] bugfolder opened #5077 "Added: Distinguish layout-created/module-provided/missing-callback paths on the layout listing page."
This is a follow-on to https://github.com/backdrop/backdrop-issues/issues/4986, which noted that for pages that have both a module-defined page and a layout with the same path, the page callback that actually gets called depends on the chronological order of the module-enabling and layout-creation that happened in the past. In that issue, I question whether we should have that past-history depende

[2021-05-04 01:18] #5028 closed

[2021-05-04 01:20] quicksketch commented on #5028
Looks great @hosef! Thanks @indigoxela for the PR review!

The passing `$fields` by reference seems a little hokey but this function is called from exactly one place in all of core. Seems like this optimization is a definite win with very little chance of impacting contrib with the addition of the new parameter (which has a fallback check anyway).

I merged https://github.com/backdrop/backdrop/pul

[2021-05-04 01:25] quicksketch commented on #5028
I'm unsure if this warrants a change record. The old behavior still works as before (no need to actually pass in a `$fields` value). And this isn't a function that many modules (if any at all) would be calling in the first place. `field_sync_field_status()` is the parent function that is actually called in a lot of places.

Seems like this might just be noise to developers keeping track of relevan

[2021-05-04 01:32] bugfolder commented on #5072
I just checked this against 1.x after the flurry of PR mergings of 2021-05-03, and am not seeing the problematic behavior any more. Hooray!

(I suspect it got fixed as a side effect of adding Relationships to contexts per https://github.com/backdrop/backdrop-issues/issues/2134 via https://github.com/backdrop/backdrop/pull/3611.)

[2021-05-04 01:50] quicksketch commented on #2300
I updated the issue summary here to better reflect the options we have. Now that files have menu paths (i.e. `file/[fid]`) we also have the option of making `File::uri()` consistent with other entity types, rather than making the wider-impacting change of modifying `url()` and `l()` to support file paths.

[2021-05-04 01:53] #4950 closed

[2021-05-04 01:55] quicksketch commented on #4950
Really `File::uri()` and `$file->uri` won't ever match, because the method version returns an array (with keys "path" and "options"), while the property returns a string. Changing `$file->uri` would be a huge task with enormous compatibility consequences, since we inherited that from Drupal 7, I don't think that's a viable option. `File::uri()` on the other hand is much newer, less-used, and not p

[2021-05-04 02:01] quicksketch opened #5078 "Backdrop 1.19.0-preview Release"
Scheduled for May 3, 2021 6-10pm PT

## Pre-release tasks

- [x] Merge commits (quicksketch)
- [x] Create a new minor release milestone (quicksketch)
- [x] Move all unfinished issues to the next minor release milestone (quicksketch)
- [x] Draft Release notes (quicksketch)
  - [x] Include a short, descriptive summary of the release, for example:
    - This is the preview release of Backdrop 1.16.0.

[2021-05-04 03:02] bugfolder commented on #5072
Yes, this is definitely fixed in 1.19.0-preview.

[2021-05-04 03:08] klonos commented on #5072
Lets close this one then :) ...anyone still able to reproduce this should feel free to reopen.

[2021-05-04 03:08] #5072 closed

[2021-05-04 03:12] philsward opened #5079 "Add and Utilize Label and Description for the Admin Interface and Consolidate Help Text"
See: #4600 for context

Long story short, it would be a good idea to extend the admin label and description to be consistent across all of backdrop.

There should be a standard API to the way it works on BD and it should be available to contribs if they want to use it, but not a requirement.

I also feel like we need to figure out how the wording will work for "most" use-cases throughout backdrop,

[2021-05-04 03:14] klonos commented on #5028
@indigoxela what @quicksketch said above re a change record make sense to me. Do you still think we need one? If not, then please feel free to remove the "needs - change record" label.

[2021-05-04 06:10] indigoxela commented on #5037
Sure, many thanks for having a look, please see my answer / question there.

[2021-05-04 06:16] indigoxela commented on #5028
I get the point and am happy to remove the 'needs change record' label.

[2021-05-04 12:32] BWPanda commented on #3402
Status of this issue? Can we get a review of the PR?

[2021-05-04 15:16] klonos commented on #3402
@BWPanda there are still test failures and needs to be rebased.

The changes in `core/modules/field_ui/field_ui.theme.inc` account only for Node, whereas they should be for all entity types. I've filed a PR against your branch here:https://github.com/BWPanda/backdrop/pull/14 (the actual changes I'm proposing are in https://github.com/BWPanda/backdrop/pull/14/commits/5b5e625ebcd4814b62f177898e846f4

[2021-05-04 15:23] klonos commented on #3402
...also not sure that the "required" indicator for anon and authenticated roles in ??? now seems that it gets too much prominence:

![image](https://user-images.githubusercontent.com/2423362/117027615-8a336d80-ad05-11eb-9560-3b47d6789d9f.png)

(and I don't thing that "Status" for the column header is appropriate, but don't have any suggestions at the moment 🤔 )

...for reference, here's how these

[2021-05-04 17:13] klonos commented on #1043
Should this now be moved out of the core issue queue, and into https://github.com/backdrop-ops/docs.backdropcms.org/issues (as part of https://github.com/backdrop-ops/docs.backdropcms.org/issues/125)?

[2021-05-04 17:18] klonos commented on #1663
There are still some pretty good ideas here (will need child-issues created for each one of them, as time permits and people have the energy/time to work on them).

[2021-05-06 14:03] bugfolder commented on #5065
Just checked to confirm that recent changes to Layouts in 1.x and 1.19.0-preview still produce the issues above. There's a slightly simpler sequence of actions to demonstrate:

1. Go to Add layout. Pick any name and template.
2. Set the path to foobar/%.
3. Set the context type to Node.
4. Click "Create Layout."
5. Click "Configure Layout" tab.
6. Click "Add visibility condition"
7. Select visibil

[2021-05-06 14:30] klonos opened #5080 "[D8] Add crop anchor option to Scale and Crop image effect"
This is the equivalent of https://www.drupal.org/project/drupal/issues/1252606 which was introduced in Drupal 8.6.0 ([change record](https://www.drupal.org/node/2972030)).

Before:

![image](https://user-images.githubusercontent.com/2423362/117315888-c6dfa000-ae90-11eb-9892-be5d4ad0c48c.png)

After:

![image](https://user-images.githubusercontent.com/2423362/117315904-cba45400-ae90-11eb-9058-de8ad

[2021-05-06 14:33] klonos commented on #5080
...we already have #4489 and #1774, but these issues seem rather harder to implement or at least will most likely take longer, since we'd be implementing things from scratch. Perhaps backporting the D8 implementation will take less effort/time, and at the same time we'd provide feature parity and familiar UI.

[2021-05-06 16:16] klonos opened #5081 "[WP] Allow (optionally?) a limited set of HTML markup in node titles."
This is basically a request to include the functionality of https://www.drupal.org/project/html_title into core, to allow _portions_ of the node title to be italicized/bolded/sub-superscripted etc.

[2021-05-06 16:18] klonos commented on #5081
Do people think that this is better left for contrib, or something that would annoy people when they discover that Backdrop breaks the formatting of their titles when copy-pasting them from other sources?

[2021-05-06 16:27] klonos commented on #5081
WP allows that OOTB. You can add some allowed HTML in the title when creating/editing content:

![image](https://user-images.githubusercontent.com/2423362/117332739-dbc42f80-aea0-11eb-9b71-38be63b945d3.png)

And it is rendered as expected:

![image](https://user-images.githubusercontent.com/2423362/117332813-f3031d00-aea0-11eb-9ec2-dc04e9164f75.png)

[2021-05-06 16:32] klonos commented on #5081
The resulting page (and menu items) when you attempt the same in Backdrop is this:

![image](https://user-images.githubusercontent.com/2423362/117333494-a79d3e80-aea1-11eb-8258-070dc35a058b.png)

...and path is `this-is-a-test-title-in-backdroptm`

[2021-05-06 17:03] bugfolder commented on #5067
## More changes

After an extensive Zulip discussion with @**docwilmot**, we came up with a modified approach that adds only a single hook, `hook_layout_layouts_alter()`.

One of the important considerations for the addition is that we are not **just** moving the layout alterations for node preview pages into the node module without messing up any existing behavior (though we certainly want to acc

[2021-05-06 17:36] klonos commented on #5080
Turns out that there was intention to backport this to D7, but was blocked because of string changes (🙄 )... the D7 patch has been tested by a few users, who reported it to be working as expected. I created a PR based on [that patch](https://www.drupal.org/project/drupal/issues/1252606#comment-8305805): https://github.com/backdrop/backdrop/pull/3619

[2021-05-07 06:02] indigoxela commented on #5067
I really like that elegant single-hook approach. I'll try to play with the new PR soon.

@bugfolder and @docwilmot many thanks for working on it.

[2021-05-07 10:32] BWPanda commented on #5081
Related: https://github.com/backdrop/backdrop-issues/issues/2050

[2021-05-07 10:38] BWPanda commented on #5081
It seems @klonos has changed his mind since [2016](https://github.com/backdrop/backdrop-issues/issues/2050#issuecomment-238422346) when he said:

😋

[2021-05-07 10:41] BWPanda commented on #1043
Yes, its certainly not part of core.

[2021-05-07 10:51] BWPanda commented on #5069
Agreed, but definitely an API change.

[2021-05-07 10:56] BWPanda commented on #5061
For those of us too lazy to go looking through an actual site to see what you're talking about, can someone please add screenshots to the OP of the two pages referred to there?

[2021-05-07 11:15] BWPanda commented on #5061
I'm kind of ambivalent about this.

In this case though, from what I saw, there aren't a 'bunch of settings', just one (the layout template), So I can't really see the benefit of staying on the same page. Indeed, I imagine most people will, after changing the layout template, want to see the new template in action and the blocks assigned to the different regions (or at least confirm that the block

[2021-05-07 11:19] BWPanda commented on #5048
Do people actually print websites...!? 🤯😆

[2021-05-07 11:25] BWPanda commented on #5047
Drupal supports MySQL, Postgres, etc., but Backdrop chose to officially support only MySQL. Is it the same with servers? Do we officially just support Apache, or Apache & nginx? Or do we officially support IIS too?

[2021-05-07 13:40] bugfolder commented on #5061
Also the title, the path, the contexts (and now) the relationships.

I admit that I was influenced by the behavior in 1.18.x noted in https://github.com/backdrop/backdrop-issues/issues/5072, that saving didn't always save one's settings; so I wanted to come back to the settings page to see whether the changes actually "took". But with the change in behavior in 1.19.0 (fixing that issue), that ince

[2021-05-07 13:47] klonos commented on #364
Sorry for taking so long to provide feedback @wesruv ...I inspected the source of the page you linked to, and played with the attributes of these new `<b-icon>` tags. It seems pretty straight-forward to me, but I'd love some input from others that are doing more site-building and theming, or those who have chimed in this thread in the past.

Lets start by pinging @jenlampton @stpaultim @BWPanda @o

[2021-05-07 14:05] klonos commented on #5081
Yeah ...I seem to have mixed feelings (or a split personality some might say) 😅

What actually happens is that I keep forgetting that we are talking about allowing _portions_ of that text to have markup. So yes, it'd be preferred to handle markup that applies to the _entire_ title (or site name/slogan in the case of #2050), but it's really tricky to apply markup only to specific words/letters (req

[2021-05-07 14:07] klonos commented on #5067
Thank you for the detailed description of the solution you have agreed to go forward with @bugfolder 👍🏼

[2021-05-07 14:20] klonos commented on #5061
How we solve similar UI issues is by placing a set of two submit buttons, one that saves and redirects to the listing + another that saves and edits.

- Creating a new view:
![image](https://user-images.githubusercontent.com/2423362/117463255-20f76880-af58-11eb-8365-12410f7565a7.png)

- Creating a new content type:
![image](https://user-images.githubusercontent.com/2423362/117463124-032a0380-af58-

[2021-05-07 14:22] klonos commented on #5069
...unless we figure out a way to make this backwards-compatible. Right?

[2021-05-07 15:12] klonos commented on #5048
I often print web pages to pdf (usually receipts from online transactions etc.).

[2021-05-07 15:14] klonos commented on #5047
Our official doco says "Apache (recommended) or Nginx": https://docs.backdropcms.org/documentation/system-requirements

[2021-05-07 15:20] laryn commented on #3415
Sorry to report but @jenlampton PR still isn't working on the site that I keep getting hit with this on. I end up having to use @klonos patch to revert it to a LEFT join after each update in order for my view with an "OR" filter grouping to work.

[2021-05-07 15:46] laryn commented on #3415
Here's some testing I've done in the sandbox. I set up a vocabulary to be used with Post content and a vocabulary to be used with Page content. I added a term from the respective types to the default Post/Page content. I set up a View with an "OR" filter group, that should pull any published Post content that has the Post tag, OR any published Page content that has the Page tag. Here are some scre

[2021-05-07 15:51] laryn commented on #364
I really like this idea -- thanks for working on it @wesruv!

[2021-05-07 16:40] bugfolder opened #5082 "Visibility condition options incomplete for layouts with non-string contexts"
On the "Configure Layout" page, when creating a layout with a path with a placeholder and a non-string context (like Node) for the placeholder, the visibility conditions options don't include all possible options.

To reproduce:

1. Go to admin/structure/layouts.
2. Select "Add layout".
3. Enter a layout name and select a template.
4. For the Path, enter "foobaz/%".
5. Under Contexts, select Type

[2021-05-07 18:47] alanmels commented on #5046
@indigoxela, I've noticed you closed https://github.com/backdrop/backdrop/pull/3600#issuecomment-834228756 With all due respect to practices around here, I still scratch my head when some issues are decided by the prevalence of just one opinion. What about Backdrop consensus? Maybe you should've wait for review of more core committers? I wonder what @quicksketch and others think about this issue?

[2021-05-07 20:56] BWPanda commented on #5061
Oh OK. I was looking at the default layout. I guess other layouts have more settings... Someone feel free to update the screenshot above then.

[2021-05-07 20:59] BWPanda commented on #5048
'Printing to PDF' should really be 'saving as PDF' IMO. But yes, I get your point.

[2021-05-07 22:30] jenlampton commented on #1043
Or the outreach repo?

[2021-05-08 02:43] klonos commented on #5048
Agreed, but AFAIK, that's how it works (using virtual printers) ...at least on Mac and Windows. In both cases, you specify `@media print` in CSS, and that's what's being used.

[2021-05-08 10:32] indigoxela commented on #5046
There is no consensus and it seems impossible to me. @docwilmot insists on multiple runs with (repaired) static cache, I think the only clean solution is running that cache refresh only once.

I won't block his approach, but I won't do anything to get it in.

I tried to get attention from the core committers (via chat), but they completely missed the point. We're on our own, more precisely, you're

[2021-05-08 10:37] #5052 closed

[2021-05-08 17:47] klonos commented on #4767
Can we please move this discussion out of the core issue queue now that we have https://github.com/backdrop-ops/backdrop-community?

[2021-05-08 19:17] olafgrabienski commented on #364
So far, I've never used icon fonts. Usually I use not more than three or four icons for a site. However, if Backdrop provides easy to use and easy to style icons, that would be great!

[2021-05-09 00:00] quicksketch commented on #5046
Hi folks, I apologize that I haven't given this the time to review fully. I didn't realize this issue was at an impasse.

I read through this entire issue and the separate discussion on @indigoxela's PR. I left a comment there on that approach: https://github.com/backdrop/backdrop/pull/3600#issuecomment-835573932

The takeaway here is that I think https://github.com/backdrop/backdrop/pull/3600 uni

[2021-05-09 00:16] quicksketch opened #5083 "[UX] Reduce Update Status module's nagging messages on admin/* pages"
**Description of the need**

The Update Status module displays error messages on all administrative pages when security updates are available, such as on the /admin/modules page:

![image](https://user-images.githubusercontent.com/100206/117556581-47cca200-b01f-11eb-847c-cf741cded61f.png)

This behavior has been in place since Backdrop 1.0, something we carried over from Drupal 7.

---

Backdrop n

[2021-05-09 00:17] quicksketch commented on #5046
I filed a new issue to discuss refactoring when we show update notifications at https://github.com/backdrop/backdrop-issues/issues/5083.

[2021-05-09 06:35] klonos opened #5084 "[UX] Move updates settings under the new consolidated "System updates" page"
With #2714 we now have a unified page where people can check for and perform updates, under Configuration -> System -> System updates (`admin/config/system/updates`). Settings for these updates though are still located under Reports -> Updates -> Settings (`admin/reports/updates/settings`).

I think that no settings page should be under "Reports" (the updates settings page is the only one currentl

[2021-05-09 06:48] quicksketch commented on #4753
I adapted a GitHub Action script from a client project to run against Backdrop core. You can see the in-progress results at the PR at https://github.com/backdrop/backdrop/pull/3620

I set this up to get an idea of the general run-time we can expect from GitHub Actions. The GitHub free servers are not incredibly powerful ([see specs here](https://docs.github.com/en/actions/using-github-hosted-runne

[2021-05-09 07:07] BWPanda commented on #4753
From my quick & dirty research, it seems Aria is the modern equivalent of MyISAM in MariaDB: https://mariadb.com/resources/blog/storage-engine-choice-aria/ Could we use that instead...?

[2021-05-09 07:23] quicksketch commented on #4753
Thanks @BWPanda, that's a great suggestion. I'm still sorting out the benchmarking of how fast things run. Looks like the ARIA engine exists by default on GitHub runners, which simplifies things, and just a quick flipping of "Engine=MyISAM" to "Engine=ARIA" seems to work in our testing scripts. It looks like a promising alternative at first glance.

[2021-05-09 08:10] indigoxela commented on #4767
Sure, is it (technically) possible to move an issue thread to another repo? Or do we have to copy/paste?

[2021-05-09 09:21] klonos commented on #5084
Hmm 🤔 ...apparently this would require the Installer module to be responsible for the updates settings page, whereas now the Update module is responsible for it (as well as the "Available updates" report).

[2021-05-09 09:27] klonos commented on #5084
...well not entirely true. The "Check for available updates" and "Update Notifications" sections under `admin/reports/updates/settings` hold settings relevant to the Update module, whereas the "Self-updates" section holds settings for the Installer module 🤔 🤔 🤔

[2021-05-09 12:35] indigoxela commented on #4767
@klonos no, that's for sure foo much effort, I copied the Issue description over. :smile:

I'm not sure, what comments other people want to transfer over to the other repo.

[2021-05-09 20:23] quicksketch commented on #4753
Looks like it's actually MySQL 8.0.23 (on Ubuntu 20.04). Although we could really probably run anything we wanted if we brought custom images into the mix. Right now I'm just using the MySQL/Apache/PHP directly on the runner (which is already a container itself).

Here are some timings based on my tests so far:

| Concurrency | InnoDB Engine | ARIA Engine | InnoDB on SHM | ARIA on SHM |
| --- | --

[2021-05-10 01:29] alanmels commented on #5046
@quicksketch I supposed there is a reason behind @docwilmot's insisting on his take of the issue, but really wanted to see some kind of proof-case. Which you've given on https://github.com/backdrop/backdrop/pull/3600#issuecomment-835573932 with plenty of details. Still I find your alternative suggestion to solve this much appealing: displaying update messages on the Available Updates and the Statu

[2021-05-10 13:54] klonos opened #5085 "[UX] System updates form: Merge the manual updates section into the main updates table"
The form under `admin/config/system/updates` seems too busy when the "Manual updates" option is disabled, having two sections/tables, and some help text in between:

![image](https://user-images.githubusercontent.com/2423362/117669939-1afbc480-b1b0-11eb-9c8f-08d2103ddf4f.png)

How about something like this instead?:

![issue-5085-merge-manual-updates-section](https://user-images.githubusercontent.

[2021-05-10 17:28] klonos commented on #5085
...or make it even more minimal, by moving the manual core updates info text into a more/less toggle thingy:

![more-less-core-manual-updates-info](https://user-images.githubusercontent.com/2423362/117700136-4a212e80-b1ce-11eb-9b30-8436bd8063e9.gif)

[2021-05-11 22:24] stpaultim commented on #3939
Here is another post in the forum:

https://forum.backdropcms.org/comment/2836#comment-2836

[2021-05-12 10:16] olafgrabienski commented on #3122
Finally found some time to have a look at the sandbox website. Works for me!

[2021-05-12 14:22] indigoxela commented on #5042
Re "theme_table() should accept an optional 'footer' variable and produce <tfoot>", PR https://github.com/backdrop/backdrop/pull/3588

That's a nice one (tfoot, yay!).

I did a quick local check in a template file with this array:

[code]
Works like a charm. @klonos I've left some comments on your PR.

[2021-05-12 14:36] indigoxela commented on #5042
Re "Skip module_invoke/module_hook in calling hook_watchdog (excessive function_exist)", PR https://github.com/backdrop/backdrop/pull/3589

Code LGTM :+1:

[2021-05-12 15:05] indigoxela commented on #5042
Re "In backdrop_http_request(), allow passing data as array", PR https://github.com/backdrop/backdrop/pull/3590

Code LGTM :+1:

[2021-05-12 15:13] indigoxela commented on #5042
Re " Issue 3055805: .htaccess file generated by file.inc doesn't cover PHP 7", PR https://github.com/backdrop/backdrop/pull/3596

Code LGTM :+1: (I was actually surprised that this isn't in B core yet.)

[2021-05-12 18:06] klonos commented on #5084
PR up for review: https://github.com/backdrop/backdrop/pull/3622

The "Self-updates" fieldset from `admin/reports/updates/settings` is now moved under a new `admin/config/system/updates/settings` form:

![image](https://user-images.githubusercontent.com/2423362/118023114-d2860780-b365-11eb-9ee8-4b1ac1da0533.png)

Now these 2 forms save settings that belong to the respective module.

[2021-05-12 21:23] mikesoltis commented on #4923
Did anyone have a chance to reproduce? It would be nice to know if this is a bug or if I am missing an easy fix.

[2021-05-13 02:02] klonos commented on #4923
Hello @mikesoltis and sorry for not responding earlier.

I have broken down your steps and tried to reproduce, but I could not. Here's what I've done on a vanilla installation of Backdrop:

1. go to `node/add/page`
2. add "Page" as title
3. leave all other things as they are, and scroll to the bottom of the page
4. save the node -> the page is created with title "Page", and a menu item also called

[2021-05-13 09:48] indigoxela commented on #5042
Re "Create "scripts" element to align rendering workflow to how "styles" are handled"

I agree it's not applicable. The D7 commit introduces function drupal_pre_render_scripts(), but backdrop_pre_render_scripts() already exists, as we inherited it from early D8. Nothing to do for us, I think. Marking as NA.

[2021-05-13 10:00] indigoxela commented on #5042
Re "SA-CORE-2019-007 by Blaklis, oliver.hader, alexpott, mlhess, tim.plunkett, dsnopek, xjm".

Backdrop took a different approach regarding phar, see [this commit](https://github.com/backdrop/backdrop/commit/a62c56aef1a650852fb871d38c70058cfcacb841). I agree, it's not applicable. But maybe @quicksketch could better explain that.

[2021-05-13 10:32] indigoxela commented on #5042
Re "Issue #2966335 by mcdruid, dvandijk, David_Rothstein: Avoid DrupalRequestSanitizer not found fatal error when bootstrap phase order is changed".

The problem isn't reproducible with Backdrop, as the Domain Access module hasn't been ported.

But it's not applicable anyway. The fatal error because of a missing include as in D7 can never happen with Backdrop. In our case function _backdrop_bootst

[2021-05-13 12:16] indigoxela commented on #5042
Re backdrop/backdrop#3598 | 4d080b6fc0 | Issue #2171113 by Pol, wiifm, mw4ll4c3, David_Rothstein, douggreen, Fabianx: Settings returned via ajax are not run through hook_js_alter()

I have trouble to reproduce. Somebody else please take over...

[2021-05-13 12:18] indigoxela commented on #5042
Re  backdrop/backdrop#3599 | 63473379cd | Issue #2902430 by stefanos.petrakis, joseph.olstad, SergFromSD, kiamlaluno, Ayesh, mcdruid, alexpott: [PHP 7.1] A non-numeric value encountered in theme_pager()

Same problem, I've no clue how to reproduce it in Backdrop

[2021-05-13 12:19] indigoxela commented on #5042
Re backdrop/backdrop#3597 | 44fecf2115 | Issue #3025335 by mcdruid, mfb, joseph.olstad, Fabianx, kiamlaluno, Pol: [PHP 7.3] Cannot change session id when session is active

I belief, this has already been fixed in https://github.com/backdrop/backdrop-issues/issues/3700

[2021-05-13 13:33] klonos commented on #5042
I could be wrong, but https://github.com/backdrop/backdrop/pull/3597 seems like a follow-up + adds tests.

[2021-05-14 15:22] narcisgarcia opened #5086 "Step 3.5 of installation does not support strict CSP-SOP configuration"
**Description of the bug**

I've tested Backdrop 1.18.3 it on a Debian 10 server (Apache 2.4 PHP 7.3) and page "Installing Backdrop CMS" does not walk forward by itself.

[code]

If I disable all CSP & SOP policies, installer wizard runs well.
WYSIWYG editor does not work with strict CSP & SOP too.

[2021-05-14 18:27] findlabnet commented on #5086
Do you have any other web application working well with your "CSP & SOP policies"?

[2021-05-14 21:09] docwilmot commented on #2245
I'm wondering if this could be revived for core inclusion for next minor release?

[2021-05-14 22:23] jenlampton commented on #2245
I think we need to address the issues with the contrib module, but I personally would be open to including something like this in core.

[2021-05-15 03:39] mikesoltis commented on #4923
That worked for me too.  I can no longer reproduce the problem from scratch (drugs?).

I wound up deleting the current layout for any page that still displayed this issue.  As soon as the default layout was being used, the page title and menu title showed correctly (different).  I made new layouts for these pages and the page title and menu title remained correct (different).  So I was able to fix

[2021-05-15 05:16] klonos commented on #2245
I'm also supportive of including the features of copy_blocks in core 👍🏼

Although the usage stats of the contrib module are low, I think that it's one of those cases where if people knew it existed, they'd use it more.

Having a common header/footer set of blocks that can be updated from a single place and changes reflected for (almost) all layouts is a very common use case IMO.

[2021-05-15 05:39] klonos commented on #4923
😆

It would be great if you had a backup of the configuration of those problematic layouts. We could try to figure out what caused that issue, and then perhaps make it so that it doesn't happen for others.

Anyway, glad that my detailed steps helped you sort the issue out @mikesoltis. Let's close this issue for now, and we can reopen if it if anyone else reports the same in the future.

[2021-05-15 08:23] indigoxela commented on #5042
Fair enough, makes sense.

[2021-05-15 08:58] indigoxela commented on #3122
The code is looking good :+1:

One thing worries be a bit: the form structure slightly changed, which might have impact on existing hook_form_alter() implementations. However, I've no idea what policies apply regarding that - if there are any.

The form structure change:

- `$form['options']['sticky']` turns to `$form['options']['additional']['sticky']`
- `$form['options']['promote']` turns to `$f

[2021-05-15 09:26] indigoxela commented on #5086
@narcisgarcia first of all: welcome to the Backdrop community! :vulcan_salute:

One question comes to my mind: at the time you try to install Backdrop on your Debian - do you already have a valid certificate set up and https works properly on your vhost? If that's not the case, then your (non-csp part of) setup might be the culprit.

[2021-05-15 13:53] klonos commented on #4083
@BWPanda I've updated my PR with the latest patch provided in the d.org issue, and I'm gonna start testing things.

Having said that, we should be mindful of https://github.com/backdrop-ops/docs.backdropcms.org/issues/132 when using '#disabled' in forms 🤔

[2021-05-15 17:15] klonos commented on #3122
One of them does work @indigoxela. Care to have another try: https://github.com/backdrop/backdrop/pull/3613#issuecomment-830978105

[2021-05-15 23:21] #5042 closed

[2021-05-15 23:56] jenlampton opened #5087 "Backdrop 1.18.4 Release checklist"
Release scheduled for May 15th, 2021 5pm - 7pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Create the next bugfix milestone @jenlampton
- [x] Move all unfinished issues to the next bugfix release milestone @jenlampton
- [x] Review all closed issues in milestone: @jenlampton
      - Issue titles sould be in complete sentences, ending with a period.
      - Bug fixe issue titles

[2021-05-16 00:03] jenlampton opened #5088 "Backdrop 1.19.0 Release checklist"
Scheduled for May 15, 2021 5am - 7pm PT

## Pre-release tasks

- [x] Merge minor release commits @quicksketch
- [x] Move all unfinished issues to the next minor release milestone @quicksketch
- [x] Review all closed issues in milestone: @jenlampton
      - Issue titles sould be in complete sentences, ending with a period.
      - Bug fixe issue titles should start with "Fix" and include a complete

[2021-05-16 00:27] jenlampton commented on #5087
Draft release notes:
---

Maintenance release for Backdrop CMS. This update contains bug fixes and usability improvements only.

**Notes for updating**
* No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
* The database update script does not need to be run.

## Changes since 1.18

[2021-05-16 00:59] jenlampton commented on #5048
Google really penalizes sites that use media queries (in a single file) over those that only load the CSS files that are needed for a given media. I think if we have the option to add something new, we should do it the same way Drupal did it, in a separate file, so don't bring down the pagerank of Backdrop sites.

I feel differently about device width -- a single page-load can result in multiple w

[2021-05-16 01:14] jenlampton commented on #5048
Pr ready for review at https://github.com/backdrop/backdrop/pull/3625

[2021-05-16 01:53] quicksketch commented on #5048
I checked the network inspector and I was surprised to see that browsers download CSS files even if they're not going to parse them (in the case of `media="print"`). There's a StackOverflow discussion on why this might be: https://stackoverflow.com/questions/6311235/why-do-all-browsers-download-all-css-files-even-for-media-types-they-dont-sup

But as this only applies to users that can see that ad

[2021-05-16 01:57] jenlampton commented on #4981
Change record created (but needs review, and likely needs work)
https://docs.backdropcms.org/change-records/backdrop_add_css-can-now-accept-attributes

[2021-05-16 02:03] quicksketch commented on #5042
Thanks to the extraordinary teamwork between @klonos and @indigoxela, every one of these PRs has been reviewed and is ready to go. I did a few minor adjustments:

- https://github.com/backdrop/backdrop-issues/issues/5048 is not yet fixed, but we have a dedicated issue for it, so we can close this main porting issue.
- I made a [change record](https://docs.backdropcms.org/change-records/backdrop_ht

[2021-05-16 02:05] #4981 closed

[2021-05-16 02:09] jenlampton commented on #5084
@klonos I don't think this is an improvement. As a user, I don't want to have my "Update settings" spread across two different forms. I don't care which module is responsible for which values, it's far easier to only need to find one obscure location to enter my settings.

[2021-05-16 02:15] herbdool commented on #4981
@jenlampton thanks for the change record. It needs a tweak in the after example. There needs to be an attributes array for the backdrop_add_css() example whereas currently the attributes are mixed in with other elements.

[code]

[2021-05-16 02:17] jenlampton commented on #5085
I think this is an improvement, but I have some suggestions for improved text. I'll do the code review first.

[2021-05-16 02:26] jenlampton commented on #5085
Hm. Actually, this may need more work than we can do before the 1.19.0 release.

In the world of Backdrop updates, we already use the word "Manual" to mean something else:
<img width="1209" alt="Screen Shot 2021-05-15 at 7 22 16 PM" src="https://user-images.githubusercontent.com/397895/118383482-ed00f080-b5b2-11eb-9b17-b43d04726638.png">

In the settings form (see screenshot) "Manual" means that s

[2021-05-16 02:33] jenlampton commented on #4981
Ah thank you! Updated: https://docs.backdropcms.org/change-records/backdrop_add_css-can-now-accept-attributes

[2021-05-16 02:42] #5048 closed

[2021-05-16 02:43] quicksketch commented on #5048
I merged https://github.com/backdrop/backdrop/pull/3625 into 1.x and 1.18.x. Thanks folks!

[2021-05-16 02:46] quicksketch commented on #5087
All issues are merged for this release. I cut the release tag at https://github.com/backdrop/backdrop/releases/tag/1.18.4

[2021-05-16 02:50] jenlampton commented on #5087
Release notes added, and release published: https://github.com/backdrop/backdrop/releases/tag/1.18.4

[2021-05-16 02:50] #5087 closed

[2021-05-16 03:14] jenlampton commented on #5088
Release notes draft:
---

This release contains several new features as well as a number of bug fixes that have accumulated since the 1.18.3 release.

**Notes for updating**

* No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
* Running `update.php` should not be necessary when u

[2021-05-16 03:37] #5074 closed

[2021-05-16 03:43] quicksketch commented on #5078
Closing this issue as we're doing the final release today: https://github.com/backdrop/backdrop-issues/issues/5088

[2021-05-16 03:43] #5078 closed

[2021-05-16 03:49] jenlampton commented on #5078
okay, I copied all unfinished items over to the official release issue.

[2021-05-16 03:50] quicksketch commented on #5088
https://github.com/backdrop/backdrop/releases/tag/1.19.0 tag is cut. Release notes looks good. It might be worth noting that although update.php does not need to be run, caches do need to be cleared.

[2021-05-16 03:54] jenlampton commented on #5088
Release notes added, and release published:
https://github.com/backdrop/backdrop/releases/tag/1.19.0

[2021-05-16 04:29] klonos opened #5089 "[UX] UI terminology: Decide what "manual updates" refers to, and fix admin pages that use it"
This came up in #5085

@jenlampton

[2021-05-16 04:40] klonos commented on #5089
I saw that too, but thought that it could be a separate follow-up (this issue here), because I feel that it will need a whole discussion of its own. The current behavior is to call the section I'm trying to merge into the main table in #5085 "Manual updates required".

Anyway, we currently have:

1. automatic updates: this feature is not available yet (#414)
2. manual updates: we currently use tha

[2021-05-16 04:41] klonos commented on #5085
@jenlampton do you mind moving the discussion for this in #5089 instead? I feel that it might get really long 😅

[2021-05-16 04:50] klonos commented on #5089
...I'm throwing a few ideas here (not particularly fond of any one specifically):

- Installer updates
- Project Installer updates
- admin UI updates (calls for more ambiguity IMO)
- assisted updates
- push-button updates

[2021-05-16 05:11] klonos commented on #5085
...considering that:
- we can fix the terminology independently in the follow-up #5089 (pre-existing issue - not introduced here)
- the PR here does not change existing text/terminology, just improves the UI by merging two tables into one + hides the lengthy help text inside a more/less toggle within the table

Can we then please not block this UI improvement over the terminology clarification?

[2021-05-16 05:48] drupol commented on #4981
Nice to see this in!

[2021-05-16 06:07] klonos opened #5090 "[UX] [DX] Consider replacing the more/less toggle links in the admin UI with "details" HTML elements"
We currently use these more/less toggles in:

- the modules listing page at `admin/modules` (to show/hide dependency info):
  ![modules-more-less-toggle](https://user-images.githubusercontent.com/2423362/118386789-8ddac480-b622-11eb-8844-6abb4a3f2884.gif)
- the site status report (to show/hide additional info for errors/warnings):
  ![status-page-more-less-toggle](https://user-images.githubusercon

[2021-05-16 06:35] klonos commented on #5088
@jenlampton I don't have permissions to edit the release notes, can you please consider making the following changes:

- The current text for "Add support for a 'nolink' class..." has a "within" without specifying what the thing within is. Can we change that to something like: `Text filters: Add support for a 'nolink' class, to prevent URLs and email addresses from being converted to links.`
- the

[2021-05-16 07:22] klonos commented on #5037
@docwilmot since you reported this, could you have a look at the now updated PR and review/test? Thanks.

[2021-05-16 08:26] klonos opened #5091 "Drupal 7.70-7.75 commits: crossport or mark as NA"
- [x] N/A | [8833480c8c](https://cgit.drupalcode.org/drupal/commit/?id=8833480c8c818860f0162c5112e26a782be6b036) | Back to dev
- [x] N/A | [97bd4f7203](https://cgit.drupalcode.org/drupal/commit/?id=97bd4f7203e0fda6309f0a7aa4b107c48a908985) | Back to dev.
- [ ] #xx | [edb77684bd](https://cgit.drupalcode.org/drupal/commit/?id=edb77684bd5868fce3fd4415e3be0c8471d2be52) | [Issue #3084935 by kiamlaluno,

[2021-05-16 09:17] indigoxela commented on #3122
Ah, right, the Tugboat sandbox works again.

Tentatively marking as RTBC. See my previous comment for the reason (form structure).

[2021-05-16 10:59] indigoxela opened #5092 "Fixed: Wrong url to update.php if language prefix in use"
**Description of the bug**

On multilingual sites the first link on the status page to run update.php is wrong, as it includes the language prefix - it shouldn't.

**Steps To Reproduce**

On a site that uses language prefixes:

1. Install a module update manually (on the file system)
2. Go to admin/reports/status
3. Click on *the first link*

![status-page-right-and-wrong-url](https://user-images.

[2021-05-16 11:16] indigoxela commented on #5090
I'd vote for the usage of `<details>`, but it would look slightly different. So I'm not 100% sure, details elements could fully replace all more/less toggle links.

[2021-05-16 13:01] indigoxela commented on #5092
I just realized that I've been involved (testing), when this line of code has been touched last time - and I didn't check for multilingual. Shame on me. :disappointed: So let's really-really fix it this time.

[2021-05-16 16:20] jenlampton commented on #5088
I didn't link the follow up issue numbers because they are linked above,
and I didn't want people clicking on them thinking those were the links for
the issue. I will make the other changes though :)

On Sat, May 15, 2021, 11:35 PM Greg Netsas ***@***.***> wrote:

[2021-05-16 17:51] klonos commented on #5091
[Issue #3119875: Add tests for DrupalRequestSanitizer to Drupal 7](http://drupal.org/node/3119875) has basically added https://git.drupalcode.org/project/drupal/-/blob/7.x/includes/request-sanitizer.inc with [dc2c0c3257](https://cgit.drupalcode.org/drupal/commit/?id=dc2c0c3257e60c27766e4f53ea4ba310c4713a88), which is meant to be the same as the tests we've added with https://github.com/backdrop/ba

[2021-05-16 18:26] klonos commented on #5091
I think that https://git.drupalcode.org/project/drupal/commit/23b14e9dfc87bff0429a2d2e6470475e48de4d30 is N/A to Backdrop. We have  https://github.com/backdrop/backdrop/commit/62a34fcfd736d43395b59e2fd59f830c63601241in place since 2016 + tests for it, and no problems reported.

I could be wrong though, so need someone to double-check and confirm.

[2021-05-17 00:35] LubomirKurpel opened #5093 "Ckeditor sometimes randomly switches to "Raw HTML" instead of "Full HTML""
**Description of the bug**

Now I am not sure how exactly that happened but I probably know why it is happening.

As the title says, I am making blocks, nodes and all and when I save them and edit, sometimes (not all the times) it randomly switches to "raw HTML" format in ckeditor instead of "full HTML".

**Steps To Reproduce**

I created "Plain HTML" file format as well, that might have somehow d

[2021-05-17 06:32] indigoxela opened #5094 "Potential regression for contrib (backup_migrate) caused by initial php 8 support"
**Description of the bug**

Several users reported a problem with backup_migrate after updating to Backdrop 1.19.

https://github.com/backdrop-contrib/backup_migrate/issues/63

`Error : Cannot access protected property DatabaseConnection_mysql::$pdo`

`Error : Call to undefined method DatabaseConnection_mysql::exec()`

**Steps to reproduce:**
* Install backdrop 1.19.0
* Install and enable backup a

[2021-05-17 07:15] indigoxela commented on #5093
@LubomirKurpel many thanks for reporting this.

I think, I can help with your confusion regarding "full HTML" format. The label of that format has been changed to "Raw HTML" recently, but the machine name full_html had to stay the same. So, that's one of the formats Backdrop ships with.

Your own "full html" got the machine name full_html_2, because these machine names must be unique.

One thing w

[2021-05-17 12:10] BWPanda commented on #5088
Tugboat has been updated. Note that I've updated the process so that Tugboat always points to the latest release now, so the steps to update Tugboat demos have been greatly reduced: https://github.com/backdrop/backdrop-issues/blob/main/procedures/update--tugboat.md (i.e. no more editing the Tugboat repo, making a new tag, creating a new base preview, updating BackdropCMS.org).

[2021-05-17 12:55] LubomirKurpel commented on #5093
Hello, yeah I understand that full_html is "native" one, but in my case "Raw html" has machine name "full_html" somehow and "Full html" has machine name "full_html_2". I see why it switches but I do not understand how that happened.

Weights are like that:

![aaa](https://user-images.githubusercontent.com/23285406/118491929-c4e2d000-b71f-11eb-83ee-64e745cc0c55.png)

Also I only have "admin" and no

[2021-05-17 12:58] LubomirKurpel commented on #5093
Also attaching the configuration of both Raw html and Full html formats. In that point I am not sure whether one of them I created or not.

![raw_html](https://user-images.githubusercontent.com/23285406/118492498-5a7e5f80-b720-11eb-8313-2fef053fc2dd.png)

![full_html](https://user-images.githubusercontent.com/23285406/118492504-5d795000-b720-11eb-980e-8d66a1180b19.png)

[2021-05-17 13:19] indigoxela commented on #5093
Sorry, I should have been more clear: That the native format "full_html" has the label "Raw HTML" is by intention. This has been changed in Backdrop version 1.18.0. Actually to prevent confusion, but... :thinking:

Another question: are you actually using both formats? full_html (raw) and full_html_2 (full).
If you do not need both, it would be possible to disable the unused one.

I see that both

[2021-05-17 13:48] LubomirKurpel commented on #5093
Well I use both actually. Sometimes I need to have a block with pure html inside so I use Raw HTML format, but I prefer Full HTML to be preset in creating new blocks or nodes. It works like that for years in Drupal but it looks like I messed something up in Backdrop. Not sure.
I mean, it is not a big deal in a presentation website like that one when they would hardly ever edit something, but if it

[2021-05-17 14:13] indigoxela commented on #5093
I see...

To fix this - in case it's a bug - we really need steps to reproduce it. So far, I haven't been able to. Any idea, what's necessary to get this odd format switch? Do you remember, when that happened first?

[2021-05-17 16:03] klonos commented on #5088
Wow! Thanks for simplifying that so much @BWPanda 🙏🏼

[2021-05-17 16:34] herbdool opened #5095 "[SR][UX] Provide more guidance on password strength required"
**Description of the need**

Currently the description under the password field states that "Weak passwords will be rejected".

![current-password-description](https://user-images.githubusercontent.com/1071483/118522952-a45c4b00-b70a-11eb-8890-d547b64c0ab6.png)

I've gotten feedback that it's not clear how strong the password needs to be in order to be accepted. What is "weak" in this context? Plu

[2021-05-17 16:59] jenlampton commented on #5088
This is grammatically correct. When there isn't anything after the "within" it points backwards to what came before. In `A donut box, with delicious items within.` the meaning is the same as repeating "within the donut box".

[2021-05-17 18:29] jenlampton commented on #5085
Sorry @klonos, I hadn't seen (or forgotten about) the other issue.

[2021-05-17 18:30] jenlampton commented on #5089
I like this!

[2021-05-17 18:34] jenlampton commented on #5089
Well, we currently *also* use this term to mean "updates that are done via the admin UI". Hence the problem. I don't think one of these things requires using your hands more than the other, so I'm not sure "manual" is really a good term for either.

I would love if we could differentiate between "push-button updates" and "FTP / File replacement" updates.

[2021-05-17 20:49] olafgrabienski commented on #5089
Sounds okay in English but I'm not sure how to translate it to German. Apart from that, in the [list above](https://github.com/backdrop/backdrop-issues/issues/5089#issuecomment-841766076) I don't see the term "Self-update", which we already use ("Manual self-update" vs. "Automatic self-update"). It's still a convenient term, in my opinion. If "manual" is problematic, we could drop the prefix and j

[2021-05-17 21:02] BWPanda commented on #5089
I think 'manual' in the OP screenshot is wrong. If Backdrop is adding/removing files, then that's a form of automation. If there's any automation involved then I don't think we should use the word manual at all.

So I think 'automatic' for full-automation, 'manual' for no automation, and then something like 'semi-automatic' for this hybrid option...

[2021-05-17 21:33] klonos commented on #5089
I think that this term needs to still be used, but only to distinguish updates for Backdrop core vs contrib projects.

So we'd have core _self-updates_, as well as contrib project updates. Both of these could be:
1. "manual", which would be used to describe scenarios like the following:
  - download by visiting b.org → extract in local computer → upload to the server via FTP
  - download by visiti

[2021-05-17 21:39] klonos commented on #5088
Yes, I'm aware of this, but the text was previously:

^^ see? That's what did not make sense to me.

[2021-05-17 21:40] jenlampton commented on #5088
It works just like the donut box, only in this case it's within the `nolink` class.

[2021-05-17 22:05] jenlampton commented on #5089
The problem with `Scheduled` is that there is no schedule -- releases can come out at any time. The word is incorrect, but I get the intent, and I like it better.

* 'automatic' for full-automation,
* 'manual' for no automation, and then something like
* 'semi-automatic' for this hybrid option...

I dislike these three options because even though we can discect them in this issue, they won't mean

[2021-05-17 23:12] BWPanda commented on #5088
How about:

[2021-05-17 23:26] jenlampton commented on #5088
Titles for new features are supposed to start with "Add" or "Added", but I much prefer the rest of this. Maybe...

[2021-05-18 01:58] stpaultim commented on #5089
My thoughts.

- Manual Updates (use FTP / File replacement)
- User Applied Updates (updates initiated through the UI)
- Automatic Updates (Updates without user involvement)

I'm not sure that "semi-automatic" will be understood or that it's really accurate. If I have to push the button and apply them, I don't think about them as automatic.

I agree with @jenlampton that "Scheduled" updates instead

[2021-05-18 02:06] jenlampton commented on #5088
Winner!

[2021-05-18 03:37] stpaultim opened #5096 "Problem with Backup and Migrate Module - conflict with 1.19.0"
**Description of the bug**

The changes to Backdrop 1.19 seem to have uncovered a bug in the Backup and Migrate module.
https://github.com/backdrop-contrib/backup_migrate/issues/63

This bug in the module has already been fixed and released. However, I've found that this bug maybe causing errors that are not obviously connected to Backup and Migrate. For example, I tried to enable the HoneyPot mod

[2021-05-18 03:49] stpaultim commented on #5096
I just tried to edit a view on another site with 1.19 (where i had not yet updated Backup and Migrate) and the entire site is now crashed. As a site admin, I'm not sure that there is any obvious indications that updating Backup and Migrate would solve this problem, unless I find one of the mentions of this problem in the forum or here.

[2021-05-18 05:59] indigoxela commented on #5096
@stpaultim are you aware of this issue? https://github.com/backdrop/backdrop-issues/issues/5094

[2021-05-18 07:36] olafgrabienski commented on #5094
In the meantime, more reports came up, amongst others https://github.com/backdrop/backdrop-issues/issues/5096 with three suggestions how to handle the situation:

- Issue some kind of notification warning users that they need to upgrade Backup and Migrate module if they use 1.19.
- Release 1.19.1 with some fix that remediates the problems with Backup and Migrate.
- Assume that users that update Ba

[2021-05-18 07:58] indigoxela commented on #5094
I don't think that there's an easy fix, I might be wrong, though.

What worries me about that is that users, who aren't on GitHub (or follow on Twitter) will not be aware of the problem - and it's a fatal one.

[2021-05-18 08:15] indigoxela commented on #5096
Hm. Can we close this issue as duplicate?

[2021-05-18 08:24] olafgrabienski commented on #5096
I think so. Closing in favor of https://github.com/backdrop/backdrop-issues/issues/5094.

[2021-05-18 08:24] #5096 closed

[2021-05-18 09:32] indigoxela commented on #4240
More than a year later... :smirk: I'd like to revive this issue. Those logs in dblog are just too annoying.

There was a question, how this could get tested and I provided a tiny script that people could use.

And: yes, of course, this problem is caused by malicious scripts/bots/kiddies. And no, besides the PDOException there's no problem, but I consider any exception a problem. :bug:

@quicksketc

[2021-05-18 11:27] olafgrabienski commented on #5088
Created the 1.19 language template file for the translation server.

[2021-05-18 12:29] klonos commented on #5094
Just chiming in to say that https://backdropcms.org/project/usage/backup_migrate reports 650+ installation of the module. So it seems like ~40% of Backdrop sites have it installed, and will potentially be effected by this.

PS: if we check again in a week or so, and the reported usage shows most sites already having switched to v1.x-1.0.16 of the module, then perhaps we don't need to do anything 🤷

[2021-05-18 14:36] indigoxela commented on #5094
Yes, that's potentially a lot of people running into problems ... or maybe not, if they update the module in time.

@klonos regarding the usage pages: unless you have access to uncached / more recent data, these pages are worthless. The usage stats there usually lag behind two weeks, so I wouldn't recommend to rely on them.

[2021-05-18 20:09] docwilmot opened #5097 "Allow to trigger the site status alert (red button) remotely"
**Description of the need**

We recently did a minor update to 1.19.0 which broke Backup Migrate module. We were worried that there would be a high chance that users would be upgrading their sites *before* they upgrade BaM, at which point it would crash the site. There were discussions then about how to warn users who were planning to upgrade core that they should upgrade BaM first. That is diffic

[2021-05-19 03:08] stpaultim commented on #5096
@indigoxela - Sorry, I did not see your issue (not sure how I missed it).

[2021-05-19 03:19] stpaultim commented on #5094
My issue was a duplicate. As I think about it, I think I opened "Problem with Backup and Migrate Module - conflict with 1.19.0" - because I wanted an issue with a very obvious name that might catch the attention of anyone in trouble with this problem.

I think that the title of this issue might be overlooked by someone grappling with this issue. But, this is not important.

I've been posting notic

[2021-05-19 03:23] stpaultim commented on #5094
@jenlampton - asked in Zulip about possible language for the release notes:

How about:

[2021-05-19 03:45] stpaultim opened #5098 "Highlight "New" Dashboard Notifications"
**Description of the need**

In my opinion, Dashboard notifications are a pretty powerful and potentially useful tool for communicating with the community. However, it's so very easy to overlook them,especially given that they don't change very often.

Could we do something to draw attention to NEW notifications when they first arrive?

**Proposed solution**

If a user views the dashboard and ther

[2021-05-19 03:47] jlfranklin commented on #4607
Rerolled the PR to match changes in 1.19.x.

[2021-05-19 04:34] domaingood commented on #5098
+1

[2021-05-19 05:30] robertgarrigos opened #5099 "wrong link to updates available after update to 1.19.0"
**Description of the bug**

The first "updates available" link in status page, after applying update 1.19.0, is wrong. It goes to admin/config/system/updates, instead of admin/modules/update

The second link, within the text, is ok.

[2021-05-19 06:15] indigoxela commented on #5094
One minor suggestion: also mention the exact version 1.x-1.0.17. Because of update data caching, it might take a little time, until the most recent version shows up in the list - depending on the update check frequency setting.

And possibly a little shorter? But that hint is for sure helpful. :+1:

[2021-05-19 06:18] indigoxela commented on #5094
FTR: I did some testing yesterday - it seems to be OK to update both, core and module in the _same_ update run via UI.

@stpaultim which changes to this issue's title would you recommend to make it easier to discover?

[2021-05-19 06:29] robertgarrigos commented on #5051
Thanks. I'll have a look.

[2021-05-19 06:30] indigoxela commented on #5099
That's not a bug, it's a feature. :smirk:  All those update pages have been unified, so now there's only one page for doing updates for all types.

See [this issue](https://github.com/backdrop/backdrop-issues/issues/2714) for details.

TLDR it was considered confusing, that there are so many different pages that do exactly the same thing. And even more confusing, that it was, for example, possible

[2021-05-19 10:32] robertgarrigos commented on #5099
mmm the problem is that there are two different links for the same destination and text "updates available" in the same place (the title and inside the text. This is confusing.

[2021-05-19 10:44] klonos commented on #5099
Perhaps we needed an update hook with #2714 to clear caches 🤔

[2021-05-19 10:49] klonos commented on #5097
I'm in favor of this of course 👍🏼

I'd love it if we could remotely trigger dismissible messages in the admin UI (something like #4617 or #4571), and also control their severity (green status / yellow warning / red error). The reasons why I am suggesting dismissible messages instead of the red dot or the dashboard "Backdrop news" block:

- people might disable the admin bar, or replace it with a c

[2021-05-19 10:51] klonos commented on #5098
Not intentional, but that would help. Separate issue?

[2021-05-19 11:57] olafgrabienski commented on #5097
Like this idea as well. @klonos For #4617 or #4571 it makes sense to allow multiple statuses or places, but here I'd prefer to focus on the red button and the status report.

If people disable or replace the admin bar, the message would at least be in the status report.

[2021-05-19 12:03] docwilmot commented on #5098
Cookies?

[2021-05-19 12:11] docwilmot commented on #5098
I had made [a PR that made the icon into a dropdown](https://github.com/backdrop/backdrop-issues/issues/639#issuecomment-170393205) back when we were coming up with this idea. Maybe do that?

Or a separate method for news notifications?

[2021-05-19 12:44] indigoxela commented on #5099
Strange, I updated several times now, and never had a problem with stalled content / links. But maybe because I did it via admin UI.

@robertgarrigos what are your usual steps to update (core or modules)?

[2021-05-19 15:18] indigoxela commented on #5095
Fair enough, it's really a bit vague. Even more if the threshold has been adapted. I'm confident, that our "UX task force" will take care of the details.

Off topic: are there any plans yet for an admin interface for user_password_strength_threshold? Or is that feature hidden by concept? If we already have an issue for that - I either forgot or totally missed it.

[2021-05-19 15:25] herbdool commented on #5095
@indigoxela I do have a PR if you're interested in testing.

I didn't have plans for an admin interface for user_password_strength_threshold. It could be left to contrib. There's also a hook so that might mean contrib could make it even more dynamic: different for each role, for example.

[2021-05-19 15:43] olafgrabienski commented on #5090
Reminds me https://github.com/backdrop/backdrop-issues/issues/324.

[2021-05-19 15:46] indigoxela commented on #5095
It's not urgent, I'm short on time anyway.

Do you mean hook_user_password_reject_weak_alter()? I think that only alters validation - after form submission. Or does that also have influence on the dynamic help text?

[2021-05-19 16:34] klonos commented on #5095
That setting could live under #3624

[2021-05-19 16:36] klonos commented on #5095
@herbdool I've left a couple of comments in the PR, but generally looks good. Thanks 👍🏼

[2021-05-19 17:34] herbdool commented on #5095
@indigoxela yes, that's the one (I was just going by memory before). I think `user_password_reject_weak()` and the alter hook just decide if the password should be checked or not for a particular user. And the help text only shows if it's true. So maybe that's good enough.

@klonos thanks. I kinda like that we're not exposing that setting in the UI, because most people won't need/want to change it

[2021-05-19 22:53] jenlampton commented on #5094
I have added the following to the release notes:

`Please update Backup and Migrate to 1.x-1.0.17 along with this core update. Some people have reported a conflict with earlier versions of the module.`

[2021-05-20 06:54] indigoxela commented on #5095
I'll try to do some local testing with a custom hook implementation soon - out of curiosity and for better understanding.

I think the dynamic text is helpful for users. :+1:

Re the admin interface for setting user_password_strength_threshold:
That could be part of another core issue, but I also get the point of @herbdool - "most people won't need/want to change it" - I agree, this might as well

[2021-05-20 07:47] robertgarrigos commented on #5099
These have been my steps to updating backdrop, again, in my lando environment:

1. created a new backdrop install with v. 1.18.0
2. installed an outdated contrib module (backup_migrate v. 1.x-1.0.16)
3. updated core only
4. got this message (ok):
![Status_report___backdrop_lndo_site](https://user-images.githubusercontent.com/105581/118938132-9a2a8e80-b94e-11eb-8143-b64b194ee5d0.jpg)
5. Tried the f

[2021-05-20 08:35] indigoxela commented on #5099
These two links on the status page are supposed to point to different pages, the first one to /admin/config/system/updates - to run updates (but only if the updater and installer module are turned on), the second one to the update listing on /admin/reports/updates.

Looking at your second screenshot I realized that there's no item "System updates", so I suppose you have module Project Installer tu

[2021-05-20 11:04] robertgarrigos commented on #5099
Thanks @indigoxela this was just a fresh install with lando of an outdated backdrop with backup and migrate. Project Installer was as default, which I don't know whether it is on or off. I guess we can close this issue, then.

[2021-05-20 11:25] BWPanda commented on #4011
Hmm, this isn't as easy as I thought... The `priority-low` class only applies to a certain breakpoint, which is narrower than what's needed here because of the two columns...

[2021-05-20 11:38] indigoxela commented on #5099
@robertgarrigos ... wait, not so fast. :smirk: You took the time to open an issue, so I'd really like to figure out it there's a bug or not.

To be honest, I never used lando and can't tell, how it installs Backdrop. If doing a regular install, the updater module is turned on - but then the path to the update page exists, and it also shows up as an item on /admin/config/system. (path has been /adm

[2021-05-20 15:01] klonos commented on #5090
Here's a PoC PR, which includes #324: https://github.com/backdrop/backdrop/pull/3629

It's rough and needs polishing, but it works as expected and I'd love to get feedback before I work further on it.

There's many things to decide, but most of them belong in #324 - not here. The main things we need to decide here is do we need the arrows that exist for the more/less toggles in the modules listing

[2021-05-20 15:28] robertgarrigos commented on #5099
Lando just installs backdrop as you would do it in any other server, but locally and easier ;-). Project Installer and Update Manager are indeed on.

I've done a new update, from v. 1.18.2, without an outdated Backup and Migrate, and went as expected, well. No message of updates available, of course, but, I couldn't get admin/config/system/updates. It needed to clear the cache. Then yes, you can g

[2021-05-20 16:05] indigoxela commented on #5090
Why combining the **core form item** and the toggle PR? Doesn't that make it more likely, that someone kills this issue, too? :stuck_out_tongue_winking_eye:

Anyway, I had a quick look in the sandbox - hey, that replacement might actually work! I have to admit, I only checked the status page and needed a moment to realize, that the more/less thingies are now details elements.

[2021-05-20 16:28] klonos commented on #5090
Because this is a PoC 😉 ...if people agree that this is a nice thing to have, then I'll work on #324, first, and then once that's in I'll return here to remove any bits of code that aren't needed (basically the `'#type' => 'details'` Form API implementation and the `theme_details()` implementation + `form_process_details()` and `form_pre_render_details()` functions).

Glad you like it 🙂 ...I'm doi

[2021-05-20 18:31] klonos commented on #5099
Hey @robertgarrigos 👋🏼

- the first link is provided by this code: https://github.com/backdrop/backdrop/blob/1.x/core/modules/update/update.install#L159 (`$updates_path = 'admin/config/system/updates';` if the Project Installer module is enabled - otherwise it points to `$updates_path = 'admin/reports/updates';`)
- the second link is provided by this code in the Update Manager module: https://gith

[2021-05-20 19:59] stpaultim commented on #5098
I agree that a date stamp is probably a good idea. I'm a little surprise that we let that slip (I searched the original issue for any mention of that idea and did not find any).

I also like the idea of possible using the date stamp to simply highlight any RECENT announcements (maybe within 2 weeks?). Thanks @indigoxela!

Yes, I recognize that this block is easily disabled. But, I suppose the more

[2021-05-20 20:17] quackers8me opened #5100 "Backdrop 1.19 no longer has direct calls to PDO methods"
Due to a issue with the backup_migrate module restore function https://github.com/backdrop-contrib/backup_migrate/issues/64
it does not appear that there is a way to make a native prepare() call to allow for excluding substitution of, for example, braces

The D7 dev branch of database.inc has this call and I'm wondering why it wasn't included in B 1.19's version?

 /**

   ** Proxy possible direct

[2021-05-20 21:09] quicksketch commented on #5100
Thanks for filing this issue. We already have an issue at https://github.com/backdrop/backdrop-issues/issues/5094 that tracks this same problem. Could we join over there?

[2021-05-20 21:09] #5100 closed

[2021-05-20 21:11] jenlampton commented on #5090
I can't believe how seamless the change is.

[2021-05-20 21:23] jenlampton commented on #4345
It looks like this issue got moved into a bug-fix release, but it should really be a new feature. I'm advocating for another issue in 1.20, so I've pulled the milestone for now, but I will add it back if I can get that other issue resolved :)

[2021-05-20 21:54] jenlampton commented on #2846
I'm unable to reproduce the issue @olafgrabienski reported, here's my recent test page:
http://2982.backdrop.backdrop.qa.backdropcms.org/jens-test-page

Markup looks like this:
[code]

[2021-05-20 22:04] quackers8me commented on #5094
A related issue is that due to the PHP 8 changes, you cannot run restores from backup_migrate backdrop-contrib/backup_migrate#64
Restoring from the command line from a backup made with backup_migrate still works.

The issue may not be able to be solved without a change to B 1.19 core database.inc because it no longer allows to call prepare(), only prepareQuery() which strips out `{}` from a backup

[2021-05-21 06:15] indigoxela commented on #5090
FTR: the details element has good support in browsers, except for IE and Opera Mini: https://caniuse.com/details

Here's the link to the polyfill repo on GitHub: https://github.com/rstacruz/details-polyfill

[2021-05-21 06:37] indigoxela commented on #5099
If doing an update via UI, caches do get cleared. At least, that has worked for me several times.

If doing an update via filesystem (or ftp), which means to simply replace the files (core or contrib), caches do not get flushed automatically. Admins have to do that manually. I don't think, there's a possible fix for that. Backdrop does not "observe" the file system for changes - and couldn't.

Why

[2021-05-21 07:46] robertgarrigos commented on #5099
@indigoxela Yes, I update by replacing core files. Understood. Thanks for your time and explanations.

[2021-05-21 07:47] #5099 closed

[2021-05-21 15:55] olafgrabienski commented on #2846
@jenlampton Thanks for having a look at the issue. The empty paragraphs only appear when you *add a caption* to the image. I've verified this again on a [new test page](http://2982.backdrop.backdrop.qa.backdropcms.org/olafs-test-page). Result:

[code]

Btw, for an image with a caption it doesn't matters if the image is centered or not.

Back to "needs work", I guess.

[2021-05-21 21:34] klonos opened #5101 "[UX] Automatically clear caches after manual upgrades"
#5099 is the inspiration of this feature request.

In the words of @indigoxela:

I would like to confirm if that is the case, and if it applies to both core and contrib.

I think that updating via drush behaves the same as performing the update via the UI, so caches are cleared. I could be wrong about it though, so I would like to confirm that.

In any way, I would like us to automate that, so tha

[2021-05-21 21:36] klonos commented on #5101
I would like thoughts on the above recommendation please. Do people have concerns re performance? Do you think that this is a feature worth having in core?

[2021-05-22 12:14] indigoxela commented on #5101
Yes, that works correctly for both, core and contrib.

I'm no expert regarding performance, but there might be concerns. Because this means, the version check has to happen *on every page load*. And if we implement something similar for contrib, potentially a lot of checks have to be done on every page load. Means: reading all info files of all installed contrib modules and comparing to database e

[2021-05-22 13:51] laryn opened #5102 "Allow autocomplete on CKEditor image insertion"
**Description of the need**

I had a few minutes and was going to start puzzling over https://github.com/backdrop/backdrop-issues/issues/3293 and this line in the code jumped out at me in the image form in CKEditor:

I thought about @BWPanda's great solution for autocomplete textfields and wondered how easy it would be to repurpose for images. Turns out very easy!

**Proposed solution**

PR https:

[2021-05-22 14:00] laryn commented on #5102
![image-autocomplete](https://user-images.githubusercontent.com/871421/119229156-2c13d200-badc-11eb-8598-5ab9d7464926.png)

[2021-05-22 14:03] laryn commented on #5102
Maybe it would be good to use the space after the filename _(where it currently says "(File: Images)")_ to show the uploaded date instead (and sort by uploaded date with newer files first) -- anyone have thoughts on that?

[2021-05-22 15:51] laryn commented on #5102
What would be amazing would be if we could begin to filter the image library on the right at the same time as the autocomplete results began to show up...

[2021-05-22 16:33] olafgrabienski commented on #5102
Nice, looks very promising, and the PR works for me!

One thought: ​I guess for most people it won't be clear that the field is an autocomplete and can be used to filter existing images. Maybe we can add a description, something like `Start typing to get suggestions from the library.`

Regarding the space after the filename, I like the idea showing the date and sorting by it. Will it be possible t

[2021-05-22 16:34] olafgrabienski commented on #5102
Out of curiosity: would the approach also work for image fields?

[2021-05-22 16:42] klonos commented on #5102
Great idea @laryn! 👍🏼

Yeah, the the "File: Image" bit provides no real value when selecting a file in the "Insert image" dialog - all results will be images (plus we also show the file extension, which I am assuming is enough for most people to tell the file type). I think that the use case of people having added a file and then wanting to embed it is the most common one, so sorting by most-recen

[2021-05-22 17:13] olafgrabienski commented on #5102
Indeed, was also thinking about it, and allowing to exceed the width sounds like a good alternative.

Btw, my Mac trims the center instead of the ending of file names (see below). Is this possible in PHP?

<img width="300" alt="mac-os-trim-filename" src="https://user-images.githubusercontent.com/14188307/119235124-3613f000-bb31-11eb-8efb-46fb5ca87594.png">

[2021-05-22 17:26] klonos commented on #5102
@olafgrabienski I'm sure there is a way to do it, but we'd still have the same issue. For example in the screenshot you provided in your last comment, the dimensions could be at the very end of the filenames (after the image number), which would lead to the same problem of not being able to tell which image is which.

Allowing image thumbnails in the dropdown with the results would be a nice-to-ha

[2021-05-22 18:51] klonos commented on #5101
Agreed. But the current version is a constant in bootstrap.inc, which IIUC is loaded and available all the time anyway. It is also my understanding that variables loaded in the state storage system are also available at all times (whether the site is in maintenance mode for instance). So we'd basically be comparing 2 numbers that are always available. I could be wrong though 🤷🏼

Yeah, that could g

[2021-05-22 21:24] klonos commented on #1837
I was working on #4585 and kept being annoyed by this 🙄 ...lets get this oldie but goodie UX issue out of the way, shall we?: https://github.com/backdrop/backdrop/pull/3632

[2021-05-23 12:07] indigoxela commented on #5095
Works for me (except for some silly interface text, which isn't a blocker for me). Code review should be done by someone else. :wink:

[2021-05-23 18:23] klonos commented on #5095
Code LGTM in general, but the logic could be improved. For instance, I see this bit being repeated twice:

[code]

Any reason why we couldn't (conditionally) include the "Password must be..." text in `_user_password_policy_help()`, so that it's part of the `<ul>` that that function returns? If this entire conditional + also the `$threshold_label` logic get moved to `_user_password_policy_help()`,

[2021-05-23 19:19] klonos commented on #5095
@herbdool here's a PR against yours: https://github.com/herbdool/backdrop/pull/14

It changes this:
![image](https://user-images.githubusercontent.com/2423362/119272121-2d90e780-bc0d-11eb-9ed6-856f7b7e26a0.png)

...to this:
![image](https://user-images.githubusercontent.com/2423362/119273526-04278a00-bc14-11eb-8d66-f92e04c68dc4.png)

And also this:
![image](https://user-images.githubusercontent.co

[2021-05-23 21:41] Retsell commented on #4185
A work-around for this issue was reported in the Forum by amilenkov. It is to install the File Resumable Upload module,
[https://backdropcms.org/project/file_resup](url). See: [https://forum.backdropcms.org/forum/upload-images-not-working-ios-devices](url)

[2021-05-23 22:25] klonos commented on #5098
Here's a PR for it: https://github.com/backdrop/backdrop/pull/3633

Adds dates to the announcements + a "new" marker to those that are less than 2 weeks old (same marker as used to denote new content in `admin/content`) + a handy `is-new` class, so people can easily target them and theme those that are new the way they like.

![image](https://user-images.githubusercontent.com/2423362/119278184-511

[2021-05-23 22:29] klonos commented on #5098
...I consider this a task rather than a new feature, so I think it can go in with the next bug fix release. Feel free to change the milestone if you think otherwise.

[2021-05-24 08:43] indigoxela commented on #5098
I like it! Displaying the date feels like a real improvement. :+1:

The custom date format (`M j, Y`) is probably a compromise (short, yet recognizable for people used to different formats) - and the notifications are in English, anyway, so it seems OK. Works for me.

Agreed, as we only display information that already existed (timestamp), but wasn't displayed for unknown reasons.

[2021-05-24 09:48] klonos commented on #5098
We just didn't think of this at the time this block was introduced 🤷🏼

[2021-05-24 09:58] klonos commented on #4185
Thanks for that info @Retsell ...I still want us to fix this in core properly. It's just that last time I had a look, it wasn't as simple as it seemed, and since this requires testing in multiple devices/browsers, it'll take some time. I still want to get back to this eventually.

[2021-05-24 12:38] klonos commented on #1837
...I've updated the PR to change this (3rd step when uploading a file from `file/add`):
<img width="45%" height="45%" src="https://user-images.githubusercontent.com/2423362/119347224-e6a20100-bca3-11eb-851e-1c3bb2d2f738.png">

to this:
<img width="70%" height="70%" src="https://user-images.githubusercontent.com/2423362/119347292-00dbdf00-bca4-11eb-866f-79a131ca1f3d.png">

In general, wherever the

[2021-05-24 12:50] Retsell commented on #4185
@klonos, Yes, the issue still must be resolved. The work-around only applies to image fields, but not to image uploads using Ckeditor, or for image fields on Webforms.

[2021-05-24 17:17] laryn commented on #5102
Thanks @olafgrabienski and @klonos. I just pushed additional changes -- are you willing to test again?

@elmuche I'd love to get your testing on this one as well as I may have solved https://github.com/backdrop/backdrop-issues/issues/3293 at the same time!

[2021-05-24 17:21] laryn commented on #3293
Update: this issue looks to be solved by the PR in https://github.com/backdrop/backdrop-issues/issues/5102

Please test and provide feedback there.

[2021-05-24 18:18] laryn commented on #5102
Other notes:

 - Not yet added: field description "Start typing to get suggestions from the library"
 - Not yet implemented: What to do if the autocomplete line is longer than the available width? Trim the filename somehow? Allow the width to go beyond the field's width?
 - RE: file fields, with the latest version there is an exposed filter in the file field library implementation -- perhaps that

[2021-05-24 18:46] klonos commented on #4585
@stpaultim I thought we should get this one out of the way as well: https://github.com/backdrop/backdrop/pull/3634

Here's what I have so far:
![image](https://user-images.githubusercontent.com/2423362/119393264-64343400-bcd9-11eb-9bd1-5c9dd8bc6a1c.png)

...and with some more directories + private dir configured:
![image](https://user-images.githubusercontent.com/2423362/119392978-14ee0380-bcd9-11

[2021-05-24 19:10] klonos commented on #4585
...feedback I'm looking for:

- Does "Storage" make sense for the middle column? The alternative was "Scheme", which I don't find particularly "human-friendly".
- Are the "Public files"/"Private files" cells readable/scannable enough, or too similar? The alternative was to use plain "public"/"private". Here's how that would look:
![image](https://user-images.githubusercontent.com/2423362/119395843

[2021-05-24 19:53] jenlampton commented on #4185
If this is not a problem in D7, perhaps a quick fix would be to revert the change we added to make uploads work on mobile devices?

[2021-05-24 20:20] Retsell commented on #4185
I can confirm that in D7 image uploads work properly on iOS devices.

[2021-05-25 06:59] indigoxela commented on #4585
I did some super sloppy testing in the sandbox. The first thing that caught my eye:

[code]

[2021-05-25 10:53] klonos commented on #4585
@indigoxela thanks for testing this. I can do some defensive coding, but curious to know how you managed to trigger that error.

[2021-05-25 11:02] indigoxela commented on #4585
Nothing special, I turned on error display and went to https://pr3634-05xu7lvykqhrckpa6sgi8q3sg7agcb9r.tugboat.qa/admin/reports/file_upload_dir_list

[2021-05-25 11:07] klonos commented on #4585
Huh 👀

[2021-05-25 11:28] klonos commented on #4585
Thanks @indigoxela 🙏🏼 ...fixed.

[2021-05-25 22:21] stpaultim commented on #5098
I reviewed the test site and love the changes. I think that this is a real improvement. One comment, should the ALERT say "recent" instead of "new."

If we are flagging anything in the last two weeks and the user visits the page several times in that time frame, the message won't be "new" each time. But, the message will remain "recent" regardless of how many times they see it.

This isn't critica

[2021-05-25 22:26] klonos commented on #5098
I agree with the reasoning of new vs recent, but don't the dates that are added provide a means to tell what's recent and what's not? 🤔 ...perhaps I should work on a way to mark anything "unread" as "new" ...perhaps using cookies as @docwilmot suggested.

[2021-05-25 22:37] stpaultim commented on #4585
I'm just looking at this in the sandbox. Looks helpful.

I have not had time to process what I'm seeing yet, as I'm a bit overwhelmed with other things right now, but have some quick feedback.

Would "Access" work better than "Storage"? It might not be technically correct, but it feels like public/private is an access issue, although different than other access issues in Backdrop. I think that "St

[2021-05-25 22:42] stpaultim commented on #5098
I'm confused . You are currently checking for anything in the last two weeks, right?

For me, anything in the last two weeks is "recent", but not necessarily "new." If I've visited the site 5 times in the last week a recent item might not necessarily be new. Yes, I can tell what is recent by reading the dates, but the point of the flag is draw attention to the dates (isn't it).

I think that the l

[2021-05-26 00:48] jenlampton commented on #4029
I have rebased the PR, added a little more language cleanup (`User` becomes `User account`), and tested again. I don't think any issues remain other than the one we'll tackle in  #4594

[2021-05-26 02:25] klonos commented on #4585
Right ...I meant to mention @olafgrabienski, since he was the one that requested this; sorry I mentioned you instead @stpaultim but thanks for taking the time to test anyway 😅

In theory, there may be more "[stream wrappers](https://www.drupal.org/node/555118#s-streamwrapper-notation-for-all-files)" than just public/private, so I'm not sure "Storage" would cover all these cases.

The temp director

[2021-05-26 02:46] herbdool commented on #5102
Looks like you'd need to do json_decode and then the data element has some html in it.

[2021-05-26 07:10] indigoxela commented on #5098
Actually, I agree - "recent" seems like a better fit. But I'm fine with "new", too.

I think, that's a valid point. Let's not overdo it. Displaying the dates with a small marker for a recent one is a real improvement.

[2021-05-26 07:23] indigoxela commented on #4585
IMO "storage" is correct. (Not a native speaker, though.)

I took a look at the file system settings page (help text):

[code]

So, "storage" seems consistent to me - we're using the same term there.

But if files get stored there (wherever it is), it's also a "storage", right?

[2021-05-26 08:05] olafgrabienski commented on #4585
@klonos Thanks for working on this issue! I'm also busy with other things and can't test right now. I wanted however mention that I didn't "request" anything in regard of this issue, see the discussion starting at https://github.com/backdrop/backdrop-issues/issues/4583#issuecomment-683414706.

[2021-05-26 08:08] indigoxela commented on #5098
Probably not without (too) big effort, at least that's what @stpaultim and me think. Nodes for instance get their new/updated/read states saved in the "history" database table - which requires a node ID. ((@olafgrabienski nicht mit Kanonen auf Spatzen schießen :laughing:))

[2021-05-26 08:22] olafgrabienski commented on #5102
Looks promising! Below is a screenshot of the current state. I guess the main change is the `Filename` field and how it works together with the autocomplete: When I type something in the autocomplete, the same string gets applied to the `Filename` field and filters the images respectively.

![backdrop-pr3631-autocomplete-b](https://user-images.githubusercontent.com/14188307/119627080-25eb6180-be0c

[2021-05-26 09:44] klonos commented on #4585
Yup, that's where I was getting at 👍🏼

Oops! Sorry if I interpreted that this way. Still a nice feature though, right? 😅

I'll wait for people to have more time to test this and get more feedback/ideas/thoughts then. Thanks everyone for having a look 🙏🏼

[2021-05-26 10:49] klonos opened #5103 "[SR][D7][D9][WP] Add Permissions-Policy header to block Google FLoC"
Although there exists [a contrib module for this](https://www.drupal.org/project/flocblock) that we could port to Backdrop, it seems that our Drupal brethren have decided to take action in core:

- D7: https://www.drupal.org/project/drupal/issues/3209976 ([commit](https://git.drupalcode.org/project/drupal/-/commit/eb66609d55ae8e0e70186550a70bd5d73982e783))
- D9: https://www.drupal.org/project/drup

[2021-05-26 11:28] indigoxela commented on #5103
OMG, the data :octopus: strikes again... "FLoC is a part of the Chrome browser’s source code and it helps them do cookie-less and consent-less ad targeting."

Further reading:
- https://plausible.io/blog/google-floc
- https://www.eff.org/deeplinks/2021/03/googles-floc-terrible-idea

I vote for getting this into Backdrop core.

[2021-05-26 16:34] herbdool commented on #5103
Sounds like WordPress will also be adding the header.

[2021-05-26 18:46] klonos commented on #5103
PR: https://github.com/backdrop/backdrop/pull/3635

Draft change record for Backdrop: https://docs.backdropcms.org/change-records/header-added-by-default-to-disable-floc

[2021-05-26 21:36] jenlampton opened #5104 "Backdrop 1.18.5 Release checklist"
Release scheduled for May 26, 2021 3pm - 4pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Draft Release notes @jenlampton
  - [x] Include a short, descriptive summary of the release, for example:
    * "Maintenance release for Backdrop CMS. This update contains bug fixes and usability improvements only."
    * or, "Security release for Backdrop CMS. This release fixes 1 securit

[2021-05-26 21:39] jenlampton opened #5105 "Backdrop 1.19.1 Release checklist"
Release scheduled for May 26, 2021 3pm - 4pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Create the next bugfix milestone @jenlampton
- [x] Move all unfinished issues to the next bugfix release milestone @jenlampton
- [x] Review all closed issues in milestone: @jenlampton
  - Issue titles should include a complete, but very brief summary of the problem.
  - Issue titles sould

[2021-05-26 21:47] jenlampton commented on #5104
Draft release notes:
---

Security release for Backdrop CMS. This release fixes 1 security vulnerability:

This release fixes a security vulnerability. Sites are urged to upgrade immediately after reading the notes below and the security announcement:

* Backdrop core - Moderately critical - Cross Site Scripting - [SA-BACKDROP-CORE-2021-003]()

No other fixes are included.

**Important update info

[2021-05-26 21:49] jenlampton commented on #5105
Draft release notes:
---

Security release for Backdrop CMS. This release fixes 1 security vulnerability:

This release fixes a security vulnerability. Sites are urged to upgrade immediately after reading the notes below and the security announcement:

* Backdrop core - Moderately critical - Cross Site Scripting - [SA-BACKDROP-CORE-2021-003]()

No other fixes are included.

**Important update info

[2021-05-26 21:54] jenlampton commented on #5105
SA draft: https://backdropcms.org/security/backdrop-sa-core-2021-003

[2021-05-26 21:54] jenlampton commented on #5104
SA draft: https://backdropcms.org/security/backdrop-sa-core-2021-003

[2021-05-26 22:09] jenlampton commented on #5103
Code looks good, but still needs testing. Not likely for 1.19.1.

[2021-05-26 22:20] quicksketch commented on #5105
Release notes and SA look great.

Tag is cut at https://github.com/backdrop/backdrop/releases/tag/1.19.1

[2021-05-26 22:24] jenlampton commented on #5105
Release is out: https://github.com/backdrop/backdrop/releases/tag/1.18.5

[2021-05-26 22:24] jenlampton commented on #5104
Release is out https://github.com/backdrop/backdrop/releases/tag/1.18.5

[2021-05-26 22:24] #5104 closed

[2021-05-26 22:26] jenlampton commented on #5105
Release is out: https://github.com/backdrop/backdrop/releases/tag/1.19.1

[2021-05-27 02:45] quicksketch commented on #5103
I supposed technically this may be an API change, but considering FLoC is so new and is very likely not going to be a desirable default behavior, enabling this in a bug fix release seems fine.

The implementation all looks really good to me. I made a minor edit to the change record to provide an example settings.php value.

[2021-05-27 02:52] quicksketch commented on #5103
I posted a minor request that the new tests use the `testing` profile instead of `standard`: https://github.com/backdrop/backdrop/pull/3635#pullrequestreview-669694167

[2021-05-27 03:08] quicksketch commented on #3122
I'm uncertain about the "Additional Actions" wrapper as well. Although it's less likely that someone would need to form_alter() these options now that sticky/promote can be enabled/disabled per content type, I could still see situations where they might be modified for other reasons (change the label, adding descriptions, changing to radios, setting `#access` for certain roles, etc). Form structur

[2021-05-27 03:41] quicksketch commented on #5101
This idea seems... mostly safe. I agree that it would have a low likelihood of causing a performance impact. The `BACKDROP_VERSION` constant and the values from `state_get()` are available almost every page load. Though when the state system gets initialized depends on that page (the first call to `state_get()`). Common actions like CSS aggregation or loading a form will include a call to `state_g

[2021-05-27 03:52] quicksketch commented on #5097
I like this idea. Though I also think focusing on the "red dot" is a preferable approach. While I like the idea of dismiss-able messages, I don't want to bombard site admins with messages regardless of the page they're on, similar to why I am advocating for the removal of Update messages in #5083.

Implementation-wise, the "Backdrop News" feed is currently owned by Dashboard module. I think we cou

[2021-05-27 04:17] quicksketch commented on #5083
I filed a PR at https://github.com/backdrop/backdrop/pull/3638 that makes this change.

I couldn't see any other changes necessary to `hook_cron()` or `hook_requirements()`. Seems as though just removing `hook_init()` is really all that is needed here.

Testing this on a sandbox isn't very viable, you may need local testing to simulate having installed old versions of modules or core to trigger th

[2021-05-27 04:42] stpaultim commented on #5097
Just making sure that everyone looking at this issue is also aware of this issue: https://github.com/backdrop/backdrop-issues/issues/5098, which is about simply adding a "New" or "Recent" flag to recent notifications on the dashboard.

I don't think that proposal conflicts with this one, but they are related and both inspired by the same need to draw attention to new or important notifications.

[2021-05-27 05:59] stpaultim commented on #5094
Given that the Backup and Migrate module is the most popular contrib module for Backdrop CMS and that without "restore" functionality, it's value is greatly reduced to users - I'd like to put this issue on the agenda for our dev meeting tomorrow.

[2021-05-27 11:18] klonos commented on #5103
Thanks @jenlampton ...I've merged the change @quicksketch proposed, so you might wanna do a follow-up CR when you have the time (unless anyone else has the capacity to do it before you get to it).

Yeah, my rationale exactly. The Chrome version that introduced this privacy-invasive "feature" has been out since March, so I thought that we may want to provide Backdrop site owners with the means to p

[2021-05-27 14:41] indigoxela commented on #5103
Some local testing. I applied the changes and ran update.php.

Opened the browser developer tools and inspected the network analysis result - header was there.

![screenshot-response-header](https://user-images.githubusercontent.com/842066/119846009-0b97ad80-bf0a-11eb-9294-ca66ff70aef9.png)

Then I set `$config['system.core']['block_interest_cohort'] = FALSE;`, another request, checked again - hea

[2021-05-27 14:54] indigoxela commented on #5103
Another note on the actual problem we're trying to solve: I don't think we can. It's just a http header, Google is free to ignore it if they decide to at some point.

I still belief, we should do it. IMO the whole concept of "personalized ads" - an euphemism for prejudice as a business model - is the wrong way.
We can't stop them doing it, but we can send clear signals, that we disapprove. And the

[2021-05-27 17:14] jenlampton commented on #3122
Yeah, let's see what it looks like without the wrapper.

[2021-05-27 18:58] jenlampton commented on #4799
The underlying problem here is that we're checking the list of modules for a profile, but in the profile's `.info` file we have `type = profile`.

[2021-05-27 19:47] jenlampton commented on #4799
Well, I just ran the upgrade again and it started enabled, and ended enabled. I don't know what's going on here. But once `minimal` was enabled I didn't get any of the undefined index issues.

[2021-05-27 20:46] klonos commented on #3355
Well, necessity causes things to get done 😅 ...after the [recent 1.19.1 security update](https://github.com/backdrop/backdrop/releases/tag/1.19.1), we're now in the most recent v4.16.1:

- https://github.com/backdrop/backdrop/pull/3636
- https://github.com/backdrop/backdrop/pull/3637

[2021-05-27 21:10] BWPanda commented on #5103
(Source: https://en.m.wikipedia.org/wiki/Federated_Learning_of_Cohorts)

A privacy initiative by Google is an oxymoron, IMO.

I'm glad to read:

[2021-05-27 22:19] klonos opened #5106 "Site status report: Show whether webp support is enabled"
This is a follow-up to #4509 and related to issues like #4998 and #4937

I think that it would be useful to show that info in the site status report, so that people don't have to go digging into their php/server details in order to figure it out.

[2021-05-27 22:24] klonos commented on #4585
Note to self: from the dev meeting today, @quicksketch suggested making sure that contrib can use this feature, to add any locations in the filesystem that are configured to store files uploaded. It could be something similar to https://github.com/indigoxela/backdrop/blob/1.x/core/modules/image/image.api.php#L160

[2021-05-28 01:20] stpaultim commented on #5094
This was discussed during the dev meeting today, see recording of meeting: https://youtu.be/_W_s1yt8fFs. The discussion of this issue takes place at the 16:50 minute mark.

It was my understanding that @quicksketch has ideas on how to proceed and that he plans to update this issue.

[2021-05-28 03:29] klonos commented on #5106
PR up for review: https://github.com/backdrop/backdrop/pull/3639

[2021-05-28 03:38] klonos opened #5107 "[D8] Image styles: add "Convert" effect/action"
This is something that D8/9 seem to support out of the box:

<img width="50%" height="50%" src="https://user-images.githubusercontent.com/2423362/119925722-a7fb9780-bf7e-11eb-8303-dba707083bc5.png">

<img width="50%" height="50%" src="https://user-images.githubusercontent.com/2423362/119925754-b8ac0d80-bf7e-11eb-9524-e0b3bc3bfec0.png">

And they also support converting to the WebP format (if suppo

[2021-05-28 04:30] klonos opened #5108 "Image fields: consider allowing .jpe and other variants as possible extensions for the image/jpeg mime type"
While filing #5107, I noticed that Drupal includes this extension in their "Convert" effect for image styles:

<img width="50%" height="50%" src="https://user-images.githubusercontent.com/2423362/119925754-b8ac0d80-bf7e-11eb-9524-e0b3bc3bfec0.png">

Turns out that this is actually a thing: https://www.keycdn.com/support/difference-between-jpg-and-jpeg

Here's the d.org issue that resulted in addin

[2021-05-28 05:29] quackers8me commented on #5094
I watched the dev meeting and just to add colour to the issue here are the
details of events:
When B 1.19 was released, the removal of “extends PDO” from database.inc
caused a prepared statement to fail. This caused a complete site crash and
an error message related to backup_migrate to display.
In speaking with the D7 module maintainer, this code in question was
removed recently due to a MySQL 8

[2021-05-28 06:25] indigoxela commented on #5106
Honestly, I'm not sure if this is a good idea...

Webp isn't by no means substantial for a Backdrop install. It's available or not, but that's no problem per se.
@klonos You made it a requirement warning - why? It does no harm if it's not available.

Another concern: is Webp really that important, that we need to have it on the status page? The phpinfo page is linked from there and it contains the

[2021-05-28 07:23] findlabnet commented on #5106
Me too.

[2021-05-28 08:40] olafgrabienski commented on #1837
@klonos The sentences for content editors about Public and Private files both start with the same phrase:

This way, it's hard to see the differences between the options. Let's put the differences in the beginning, e.g.:

- Public files
  Deliver uploaded file(s) directly, without access control.

- Private files
  Restrict access to the uploaded file(s).

(I guess, the exact wording needs more wo

[2021-05-28 09:06] indigoxela commented on #1837
Yes, wording will be tricky in this case, because "Public files" and "Private files" look soo similar. Not sure, if there's a smart solution for that.

I like the direction of this issue - which gained momentum recently.

Regarding the plan to add a link to all field settings, that opens the file system settings form via ajax... Personally, I'm not a big fan of these nested workflows. They tend to

[2021-05-28 11:48] klonos commented on #1837
Yeah, I've created this issue back in 2016, and back then I had a mindset of trying to limit the times people have to pogo-stick through the admin UI in order to complete a single task.

[2021-05-28 12:00] klonos commented on #5106
I agree that it is not substantial, but consider this: a person is developing their site on their local, with a PHP version that has WebP support. So they start configuring fields and other settings with that in mind. When they deploy the settings to their actual webhost, the PHP version available on the server does not support WebP. They would need to know then. Right?

Another similar scenario i

[2021-05-28 12:17] indigoxela commented on #5106
Valid points, for sure. But displaying that warning for each and every site, even if there's no problem, doesn't seem right to me, either.

Could we use a "smarter" way to check, if there actually *is* a problem? Like, for instance check field settings for configured extensions... :thinking: That might be overdone...

What I'd like to avoid is to worry admins, that have no problem at all, but stil

[2021-05-28 12:22] findlabnet commented on #5106
Sorry, just curious: who is this "less technical person" who builds CMS based websites, knows how to change hosting and even the difference between WebP and other formats?
For me this is someone mystical, but I could be wrong.

[2021-05-28 12:52] indigoxela commented on #1837
I see. But the private file system is configured once, and only once. A hint (as text) is nice, in case they're not aware of that option, but links/ajax seem unnecessary here. Again - maybe just my personal opinion. :smiley:

[2021-05-28 13:17] klonos commented on #1837
Oh, I thought you were only referring to the AJAX bit, which I might have mentioned in the original issue summary back in 2016, but I did NOT implement in the PR.

But you seem to also be concerned about the "File system setttings" link in `admin/structure/types/manage/%/fields/%/field-settings`:

<img width="70%" alt="Screen Shot 2021-05-28 at 4 12 20 pm" src="https://user-images.githubuserconten

[2021-05-28 13:21] indigoxela commented on #1837
No, everything's fine with that link, I updated my previous comment. :+1:

[2021-05-28 13:40] klonos commented on #5108
To be clear: I realize that .jpe and the rest of the variants aren't as popular as .jpg and .jpeg + there has been no complaint in the past years re anyone missing this functionality. So I don't have particularly strong feelings of whether we should implement this or not. My thinking is that if it only takes a relatively small change to save time/effort for people using Backdrop, then we should do

[2021-05-28 13:45] laryn commented on #5107
I am definitely interested in this feature. I'd love for it to be in core -- originally was going to try to adjust the "change file format" effect in Image Effects module (which doesn't actually change the file extension, which is a bit strange).

 - https://github.com/backdrop-contrib/image_effects/issues/8

[2021-05-28 15:05] klonos commented on #1837
Yup, that how I feel as well 👍🏼 ...that's how I've implemented this in the current PR. I did that mainly because that would take longer and it would be a bigger change, but also because it is complicated, and we don't have such a pattern elsewhere in core that I can think of.

To be fair though (and why the whole AJAXy thing may be a follow-up - not to this feature here specifically, but as a gene

[2021-05-28 20:05] bugfolder commented on #3103
In addition to adding this information to core entities, `hook_entity_info()` documentation needs to be updated to note their new requirement.

https://docs.backdropcms.org/api/backdrop/core%21modules%21entity%21entity.api.php/function/hook_entity_info/1

[2021-05-28 21:00] BWPanda commented on #5108
I've never even heard of this. If it was a new format with improvements over .jpg (like .webp seems to be) then I'd say yes. But it looks like something that's been around for years, no one's heard of, so why bother?

[2021-05-28 21:10] klonos commented on #5108
Yeah 🤔 ...so the JPEG and the JPG extensions that are on that dropdown in the screenshot are basically the same mime type as JPE. So say we are to implement #5107, people coming from Drupal-land might wonder why we "are missing a format". The only reason I raised this is for parity.

[2021-05-28 21:21] BWPanda commented on #4585
I like the idea. Some thoughts:

- Public/private are very similar, probably not fixable though. But I think we should capitalise the terms here.
- The last column's text seems unnecessarily verbose. Can we simplify that?

[2021-05-28 21:24] klonos commented on #4585
Easy 👍🏼 ...do others agree with this though? (so that I don't go back and forth in making changes to the PR)

Sure. Suggestions? ...please keep in mind that my main goal with that text was to provide inks to the places where each respective path can be edited.

[2021-05-28 21:45] BWPanda commented on #4585
I don't think we need to add 'files' to public/private. That just adds more similar text that makes it harder to distinguish.

As for re-wording, how about just:
- Documents field, Page content type
- Documents field, Tags vocabulary
- Filtered HTML text format
- etc.

[2021-05-28 22:09] klonos commented on #4585
Thanks @BWPanda 👍🏼 ...please note that I also output the field type. So unless you have a better idea, I was thinking this:

- Private docs **file** field, Page content type
- Avatar **image** field, User account user account type
- Filtered HTML text format **images**

[2021-05-28 22:24] klonos commented on #4585
...I've updated the PR. Here's what we have now:

![image](https://user-images.githubusercontent.com/2423362/120047024-36722680-c01c-11eb-9a25-5efe75763e21.png)

[2021-05-28 23:31] klonos commented on #4585
...last tweak (not in the PR yet): does everyone think that the indicators for default dirs is fine as a bullet point, as in the screenshot in the comment above, or like so:

![image](https://user-images.githubusercontent.com/2423362/120050384-e5ffc680-c025-11eb-89d9-e92eb9d3d3d4.png)

...or does anyone have any better idea re how to indicate those in the list?

[2021-05-28 23:42] BWPanda commented on #4585
Ooh, I like that last one better!

[2021-05-28 23:46] klonos commented on #4585
I think I like it better too. I'll wait for some more feedback, and will then update the PR accordingly.

[2021-05-29 09:31] indigoxela commented on #1837
Again: the private file system is configured once, and only once. After it's done, that configure form won't ever be needed again.

But actually that's off topic here, anyway. I got confused by the issue description and am happy that this ajax thing hasn't been implemented.

[2021-05-29 10:13] indigoxela commented on #5086
@narcisgarcia I took a look. The culprit about your CSP are probably this:

`script-src 'self';` You'll need 'unsafe-inline', too. Otherwise the js settings won't work. Which is probably also the reason, why CKEditor doesn't work with that policy. I didn't try it out, though, it's only an assumption.

IMO this is a wontfix. And as @findlabnet already stated - you'll have trouble to get any web CMS

[2021-05-29 10:37] indigoxela commented on #5083
Interesting - and sooo silent.

I tested locally by applying the patch, then installed an outdated module (webform 1.x-4.20.1), ran cron.

- The red dot in the admin menu appeared as expected.
- No messages at all - to be honest, that was a bit irritating. At least, unfamiliar.

Do we want Backdrop to be *that* silent? Or do messages on certain pages make sense (which ones)? I agree, that the curr

[2021-05-30 09:29] indigoxela commented on #5067
Not sure if this is useful testing... :smile:

I created two layouts with path `node/%`. To distinguish them, I added custom blocks with some text.

Then I created a custom module with this minimal hook implementation:

[code]
Seems to work as expected.
All nodes get the 'node_custom' layout except for promoted posts, which get 'node_custom_two'.

So, works for me - but for sure needs more testing

[2021-05-30 09:32] indigoxela commented on #5067
@bugfolder Both of your PRs are still open, which could be a bit confusing for testers. Mind to close the first (replaced) one?

[2021-05-30 09:51] indigoxela commented on #5067
Oh, I should note: I also tested the actual node preview solution in the sandbox - works like a charm. :+1:

[2021-05-30 11:40] bugfolder commented on #5067
@indigoxela yes, old PR is closed. Thanks for testing!

[2021-05-30 22:46] prettydiff commented on #5066
I just found this issue from search engine results.  I am getting the same error messaging on an unrelated project.

It appears, according to Mozilla, to be error messaging about missed events in a browser extension.: https://bugzilla.mozilla.org/show_bug.cgi?id=1643186

I suggest disabling all your Firefox extensions and then attempting to reproduce the error.

[2021-05-31 09:24] olafgrabienski commented on #4585
I also like the version *without* bullet point better. In this case, I'd prefer a normal font-weight.

[2021-05-31 09:33] olafgrabienski commented on #5083
Even not in the status report? That's the place where I'd expect such messages.

[2021-05-31 09:57] indigoxela commented on #5083
The status page does show the pending security update, of course, but no messages above.

Here's a screenshot from the sandbox:

![status-page-warning](https://user-images.githubusercontent.com/842066/120176216-4ef26480-c207-11eb-83ba-b13081f62f87.png)

[2021-05-31 10:11] olafgrabienski commented on #5083
Thanks for sharing the screenshot! In my opinion, the notice about the pending security update is enough.

[2021-05-31 11:04] klonos commented on #5066
Thanks for taking the time to chime in @prettydiff 🙏🏼

@alanmels do you agree that this is browser-related? We had nobody else report this, and we cannot reproduce it.

[2021-05-31 11:25] klonos commented on #5083
I could get used to this, but my issue with showing this only via the red dot in the admin bar is that the core Administration Bar module can be disabled. Admittedly, this would be an odd case, and people would most likely replace the core module with something like https://github.com/backdrop-contrib/navbar, which also supports the red dot indicator.

[2021-05-31 11:45] indigoxela commented on #5083
That sounds a bit like you "could resign to it". :smirk:

I agree, having *only* the red dot could be a bit too silent. And the change compared to the current behavior might be a bit too radical. Most D and B users are used to the nagging - at least, I am.

Where are those messages essential? On which pages do people expect them to appear? All admin pages? Some admin pages?

[2021-05-31 11:46] klonos commented on #5106
@findlabnet this less technical person could be the site owner, which is not necessarily a web developer, but could take a backup of their files and database via cPanel or similar tool, then try to upload that in a new hosting provider (to reduce cost of running their site, or because they want better tech support, or whatever other reason). This persona could have hired developers to build/config

[2021-05-31 12:00] klonos commented on #5106
As more browsers support this format and more hosting providers are switching to newer versions of PHP or make sure that WebP support is compiled in older versions, this will not be an issue I believe.

Right 👍🏼 ...I think I can implement an additional check for any image field that has been configured to allow .webp extensions + any effect that may be using WebP (#5107). I don't think that it wou

[2021-05-31 12:14] indigoxela commented on #5106
@klonos You needed *a lot* of words to describe the possible situation, when this nagging on the status page could ever be useful. :grin:

But I really get the point of @findlabnet - I'd assume that a person who knows how to do all these things is also able to click a link.

Regarding the comparison to GD library warnings - oh, that's an unfair comparison! If GD is not installed at all there will

[2021-05-31 12:21] findlabnet commented on #5106
Sorry, whats wrong in the effects configuration om "Image styles" page where it is now? Or I missed something?

And about my previous question: I just think such person should not be named "less technical". Maybe not programmer, but at least self learned admin, so technically competent person.

[2021-05-31 14:24] klonos commented on #5106
You misunderstood @findlabnet. In Zulip, [you suggested this](https://backdrop.zulipchat.com/#narrow/stream/218635-Backdrop/topic/WebP.20support.20in.20PHP/near/240827051):

You see, we already have this in the site status report (which is similar to the new entry about WebP I am suggesting to add):

![image](https://user-images.githubusercontent.com/2423362/120206604-15841e00-c234-11eb-80df-a5132

[2021-05-31 14:26] indigoxela commented on #5106
OK, time for a little summary and a list of alternatives we have. :smiley:

First of all: We shouldn't assume that Webp is available in all hosting environments. Keep in mind, that Backdrop supports old PHP versions (5.4 and older).

I assume that @klonos actually wants the warning for the future feature [Convert effect](https://github.com/backdrop/backdrop-issues/issues/5107) - that correct? Beca

[2021-05-31 14:30] klonos commented on #5106
👍🏼

👍🏼 ...I think that #4617 would be a nice solution.

I actually thought that we could add a "Do not check for or warn about WebP support" checkbox there. If that checkbox is checked, no warning would be shown on the site status page.

[2021-05-31 15:03] klonos commented on #5106
...mockup:

![image](https://user-images.githubusercontent.com/2423362/120212262-6e56b500-c23a-11eb-94ea-92659481958a.png)

[2021-05-31 15:30] indigoxela commented on #5106
@klonos many thanks for the mockup. However, some things seem odd to me at first sight.

As you turn the text "The GD toolkit is installed and working properly." into a message (why that?), there seems to be some contradiction.

1. Hooray, working properly
2. Oops, it's broken

The checkbox seems to toggle warning display - according to the label. But the help text claims that the type gets disabl

[2021-05-31 20:56] BWPanda commented on #4571
In case it wasn't mentioned or obvious already, this is also a functioning contributed module for Backdrop: https://github.com/backdrop-contrib/dismiss

[2021-06-01 16:15] klonos commented on #4571
Thanks @BWPanda 🙏🏼 ...there seem to be conflicts in the PR. Care to rebase/update and then let us know so we can test?

[2021-06-01 16:21] herbdool commented on #5095
I've incorporated @klonos suggested changes with some tweaks. I had to fix the CSS class since it was going to be a translated word which could easily break the CSS.

Also, I do not think we should confuse the indicator threshold for the criteria. The calculation takes into account: username, email, length and complexity. The *output* of that is a number and it must pass a threshold. That threshol

[2021-06-01 19:11] herbdool commented on #3006
I've got a PR https://github.com/backdrop/backdrop/pull/3640. It still needs some changes but it works for image fields and for uploading images in the editor.

- [ ] automated tests
- [ ] ensure it works with Insert module? (eim module does but I simplified it)
- [ ] add update hook to ensure no undefined variables with new settings

[2021-06-01 19:22] herbdool commented on #3006
My simplified version does work with Insert. Maybe not the same way EIM does it, but I think it makes sense. It still allows an Insert to insert an image into the editor if the alt isn't filled in yet, but I think that's a better job for Insert (or EIM) to solve.

[2021-06-01 19:50] herbdool commented on #3006
One issue I noticed is the image dialog in the editor can't handle a field being required:

![Screenshot from 2021-06-01 15-46-42](https://user-images.githubusercontent.com/1071483/120381783-e1bafe00-c2f0-11eb-8bfe-08c6d3be9aa4.png)

[2021-06-01 21:04] herbdool commented on #3006
The image dialog might be a more general issue. I couldn't get anything else in the image dialog to trigger an error so couldn't confirm but I suspect that it doesn't handle any form errors well.

[2021-06-01 21:06] herbdool commented on #3006
Okay got it trigger a different error. As suspected it gets messed up with any error in the dialog.

![Screenshot from 2021-06-01 17-06-04](https://user-images.githubusercontent.com/1071483/120390478-be498080-c2fb-11eb-868f-393ea61d0d43.png)

[2021-06-02 00:45] jenlampton commented on #3006
I can't tell from the screenshots what the problem is in the modal. It looks like the required fields are properly failing validation when empty?

[2021-06-02 03:18] PadminiRai commented on #4635
I'd like to work on this issue.

[2021-06-02 04:58] herbdool commented on #3006
@jenlampton the set of tabs is showing up twice

[2021-06-02 06:12] indigoxela commented on #3006
I can confirm the double tabs when the error is triggered in the dialog, so this still needs some work.
Besides that the PR seems to be working fine.

[2021-06-02 11:29] klonos commented on #5095
Thanks @herbdool 🙏🏼 ...good call on the CSS class 👍🏼

Tested quickly and the only thing that I'd like us to fix is to hide the "The current password must be entered to set a new password." from the "New password" field when a user is being edited by admins:

<img width="70%" src="https://user-images.githubusercontent.com/2423362/120472054-20fb5480-c3ae-11eb-94e1-a41466119e68.png">

Since admins ar

[2021-06-02 11:35] herbdool commented on #3006
@indigoxela I actually think that bug should be a separate issue. See my screenshot above where I triggered the bug with any error message. So this PR didn't create the bug per se.

[2021-06-02 11:53] indigoxela commented on #3006
If that were the case, I'd be fine with that, too. - But I can't reproduce it on a clean install. Whatever I do to trigger an error (wrong file type upload, non-existent or empty url, ...) - no tab duplication caused by form errors.

I can only reproduce it in the sandbox. So, to my understanding, this *is* a newly introduced problem.

[2021-06-02 11:56] indigoxela commented on #3006
UPDATE: wait, now I found a way to trigger errors, that actually duplicates the tabs. Back to needs code review. :smile:

[2021-06-02 12:06] indigoxela opened #5109 "Form validation failure in image dialog can cause duplicate tabs to get rendered"
**Description of the bug**

This popped up in an [otherwise unrelated issue](https://github.com/backdrop/backdrop-issues/issues/3006)
In an image dialog opened from CKEditor, a validation error causes the form to behave weird.

When entering an invalid url (e.g. with spaces), the tabs in the dialog get duplicated.

**Steps To Reproduce**

1. Go to node/XXX/edit or node/add/whatever
2. Click on the

[2021-06-02 12:08] indigoxela commented on #5109
Another way to trigger the problem: enter a silly big number into the image size number field, like 99999999999999999999999. Same problem - duplicate tabs.

[2021-06-02 14:27] herbdool commented on #3006
@indigoxela thanks for creating the new issue.

What I gathered from reviewing the comments above was that on *new* fields make ALT attributes enabled by default and make required an option (though some preferred required be enabled when first creating new fields).

[2021-06-02 14:31] indigoxela opened #5110 "Function system_image_toolkit_settings_submit() prevents nested form arrays from saving properly"
**Description of the bug**

For a long time there was no additional image toolkit, which is probably the reason, why it took so long until this was discovered.

Now there is one. And there's [a problem](https://github.com/backdrop-contrib/imagemagick/issues/6) with this function.

**Steps To Reproduce**

Provide an additional image toolkit and nest your form items, for instance in a fieldset.

**A

[2021-06-02 14:34] indigoxela commented on #3006
Maybe you want to update the issue title, to make that clearer? (I thought the new title fits, but maybe it's still misleading.)

[2021-06-02 15:29] herbdool commented on #5109
It seems that we'd need to prevent the toggle from being triggered when the modal is reloading. Not sure how at the moment.

[2021-06-02 18:06] herbdool opened #5111 "[A11y] Broken skip link with flexible layout templates"
**Description of the bug**

Flexible layout templates need the Page Title block to be added manually. However, the Page Title block won't include a `#main-content` anchor for the "skip link". I've noticed when being warned by https://wave.webaim.org/ that the skip link is broken on a home page using a flexible layout template.

**Steps To Reproduce**

To reproduce the behavior:
1. Create a flexibl

[2021-06-02 18:09] herbdool commented on #5038
The code looks good to me.

[2021-06-03 09:30] indigoxela commented on #5103
Oops, D7 was faster: https://www.drupal.org/node/3215877 :stuck_out_tongue_winking_eye:

[2021-06-03 11:55] indigoxela opened #5112 "Consider group and write permissions before switching to FTP mode when updating via UI"
That's a [longer thread](https://backdrop.zulipchat.com/#narrow/stream/228714-Community-Chat.20.28other.20topics.29) in our Zulip chat. The outcome was that the Backdrop files had the wrong owner. A chown fixed it.

But... the group permissions would have made updating possible. Should we also consider the group?

Directories / files with permission 775 / 664 should not require the owner to also b

[2021-06-03 11:59] cptX commented on #5112
Well I'm very glad you raised this important subject!!
According to the majority of installation guides for the web servers (eg nginx) it's suggested that the owner of the files should be the user himself and the www-data should just have group permissions!
I really would feel more safe if backdrop was checking the group permissions and not the ownership to decide if it would use the ftp or not...

[2021-06-03 12:00] olafgrabienski commented on #3006
For reference, this is the new help text for the "*Alt* field required" option:

I agree with the direction but it doesn't cover the rare cases where an alt attribute doesn't improve accessibility at all (e.g. decorative images). What about something like this?

[2021-06-03 12:03] olafgrabienski commented on #3006
Hm, several people above already said they didn't want "alt" required by default. Do you have new thoughts about this question?

[2021-06-03 12:05] indigoxela commented on #5112
Honestly, I doubt that. What is this "majority of installation guides" you refer to? :smirk:

Anyway, if we find consensus here that we should also check for group and/or write perms, then maybe we can also support slightly uncommon setups out there. But let's wait for some feedback here.

[2021-06-03 12:07] cptX commented on #5112
I now have changed the onwer to the server and in my local environment I now need to edit the files as root in order to be editable... Before, as I was the owner of these files I could edit them directly. This is another argument to not have the owner of the files to be the webserver.

[2021-06-03 12:13] cptX commented on #5112
Can you tell us where in the code is the ownership checked? I want to understand how does this work.

[2021-06-03 12:14] indigoxela commented on #5112
I already linked that in the issue description.

[2021-06-03 12:55] cptX commented on #5112
I want to mention another issue on this subject: after applying an update through the UI the system applied the r and x permissions to "others" on the updated module folder which is a security risk!!!
I suggest to study and check the permissions applied automatically from backdrop core from scratch once more to ensure that updates through UI are really safe and correct. Personally, after making th

[2021-06-03 13:06] indigoxela commented on #5112
If you think that this is a problem, please create a new issue for that. It seems unrelated to me here.

[2021-06-03 14:24] herbdool commented on #3006
@olafgrabienski thanks. I hadn't thought about decorative images. Just reading up on it here: https://webaim.org/techniques/alttext. Your sentence helps, though I'm wondering: would help to be more specific or is that too much information?

[2021-06-03 14:42] herbdool commented on #5095
Both @klonos and I worked on the code, so would be good to get someone else to review the code. @indigoxela are you up for it?

[2021-06-03 14:49] laryn commented on #3103
From @docwilmot in [another thread](https://github.com/backdrop-contrib/ubercart/issues/274):

[2021-06-03 21:58] jackaponte commented on #4635
Awesome, @PadminiRai! I think you can feel free to assign this ticket to yourself and take a crack at it. Let folks know here if you need any help with it!

[2021-06-03 21:58] jackaponte commented on #4635
(And thank you for working on it!)

[2021-06-03 22:02] laryn commented on #5102
Here's a 2min screencast of the current version. Still hoping for more feedback and maybe a boost on the Ajax Delivery callback...

https://vimeo.com/555256951

[2021-06-03 22:46] laryn commented on #5102
So I played around and ended up making my own delivery callback that only contained:

`print backdrop_render_page($page_callback_result);`

However, the strange style issue (where Basis styles get pulled in when the image library is clicked/loaded) occurs just the same. **Anyone have any ideas on what is causing that?**

[2021-06-03 23:58] docwilmot commented on #5102
Thinking, maybe the new path `filter_image_library_ajax` isnt an admin path so its bumping off the admin theme? Change to `admin/filter_image_library_ajax` and see? Or implement `hook_admin_paths()` for it?

[2021-06-04 07:47] PadminiRai commented on #4635
Created the pull request.

[2021-06-04 08:01] cptX commented on #5112
After applying the correct permissions to allow the system to make updates through the UI I realized that I cannot use the brush tool anymore as I cannot open the site's folder from the command line... So with the current implementation, UI updates exclude the capability to use command line tools, something that in my eyes is not very convenient. I think the implementation should be changed in suc

[2021-06-04 08:12] indigoxela commented on #5095
@herbdool I see, yes, in this case I should do the review.

Code looks good, RTBC from my side. Many thanks for working on this. :+1:

[2021-06-04 08:19] indigoxela commented on #5112
I should be noted that these problems only occur *with special setups*, and could be worked around easily (recursive change of ownership to www-data:yourowngroup - where www-data is the webserver user and your own group is ... well, :smirk:, and perm as you already have 775 / 664)

[2021-06-04 12:29] cptX commented on #5112
@indigoxela I don't consider the use case so special. In fact the majority of people I know having root access would consider these permissions problematic and not usual. You told me that you work only by the UI which maybe adequate for your needs but everyone that has root access will need to do more tasks on the file system and then should have a consistent permission strategy across his server.

[2021-06-04 16:04] laryn commented on #5102
@docwilmot Thanks! That may have done it for the style issue. I'm sure there are still other rough edges so anyone interesteed feel free to try again.

Not yet implemented pending more feedback:

 - Field description "Start typing to get suggestions from the library"
 - What to do if the autocomplete filename line is longer than the available width? Trim the filename somehow? Allow the width to go

[2021-06-04 16:34] docwilmot commented on #5102
TBH I think `admin/filter_image_library_ajax` seems neater then the hook, but glad it worked. Also, having both the autocomplete and the filter textfield seems like overkill to me. Is the a case where a file would exist that wouldnt be found on autocomplete but would need the filter? Or vice versa?

[2021-06-04 17:16] laryn commented on #5102
Removing the autocomplete (ie. closing this issue and going back to just https://github.com/backdrop/backdrop-issues/issues/3293 is definitely an option at this point, I think. Do others agree?

I did the hook instead of the `admin/` path because I was thinking of people that may not be administrators but have permission to add content on the front end. (ie. non-admins accessing an `admin/` path c

[2021-06-04 17:41] docwilmot commented on #5102
Actually, rethinking, it may not really be a problem to keep the autocomplete: if a user knowns which file they want, may be faster. The JS copying of the filename is definitiely not needed, I think. I dunno. I think the exposed filter is more useful since you'd actually see the image results. Wonder what others think?

Also minor: we tend to use dashes usually for paths, so `admin/filter-image-li

[2021-06-04 18:08] laryn commented on #4635
@PadminiRai Thank you! I've made some suggestions in your PR.

[2021-06-04 19:34] herbdool commented on #1678
I have a feeling that this wasn't addressed. The code that's in the patch in https://www.drupal.org/project/drupal/issues/2678822 doesn't exist in Backdrop. And it was marked as NA in the related issue here.

[2021-06-04 20:33] herbdool commented on #1678
Maybe this wasn't seen as an issue because files get uploaded automatically now? That seems to be the case. When I prevent the automatic uploading via ajax, I can repeat the steps above and get the same error.

The related Webform issue is also fixed by the Drupal patch (though the steps are different).

[2021-06-04 21:02] herbdool commented on #1678
Here's the commit to Drupal core https://git.drupalcode.org/project/drupal/commit/6b6bc1b which I'll adapt for here.

[2021-06-04 21:23] herbdool commented on #1678
I've created a PR. It's not ready for review yet since I need to look at the test again. The idea is that we can currently (without the PR) reveal the bug by commenting out the line 'js' => array($file_path . '/js/file.js'), in `file_element_info()`. This will prevent the automatic file uploading which is hiding this bug.

I just need to figure out how to replicate this in the test so that I can f

[2021-06-05 09:50] PadminiRai commented on #4635
Got it. Working on it.

[2021-06-05 12:35] Aryamanz29 commented on #4711
I would like to work on this @BWPanda

[2021-06-05 12:37] aliya-rahmani commented on #5111
@herbdool  Can I work on this issue?

[2021-06-05 14:04] herbdool commented on #5111
@aliya-rahmani sure!

[2021-06-05 14:13] cptX opened #5113 "Can transliteration system recognise dipthongs?"
Hi, I'm preparing the modification for the greek transliteration of backdrop explained here https://github.com/backdrop/backdrop-issues/issues/4947
My question though is not language dependent so I'm asking it here. Can the backdrop transliteration system recognize dipthongs? For example in greek we have the difthongs "ει, οι, αι, ου, ευ, αυ" which we may want to replace it with a single latin let

[2021-06-05 17:04] cptX commented on #2871
This functionality (global redirect) is super critical and we should include it in the core. I think this issue should get much higher priority! It's 3.5 years old already!

[2021-06-05 22:54] jenlampton commented on #2871
Thanks for your comment @cptX!

If you would like a feature request to get into Backdrop core, you might consider becoming an advocate for it: https://backdropcms.org/news/become-an-advocate-for-a-new-feature-in-backdrop-core

[2021-06-07 08:55] olafgrabienski commented on #5102
I think I agree, also because the exposed filter applies to the file field as well.

[2021-06-07 20:34] klonos commented on #4711
@Aryamanz29 please go ahead, and do let us know if you need help/direction with anything. Cheers!

[2021-06-07 20:37] klonos commented on #4635
@PadminiRai thank you for working on this 👍🏼 ...can you please edit the first comment in the PR, to add this?: `Fixes https://github.com/backdrop/backdrop-issues/issues/4635` (that will "link" the PR to this issue here 😉 )

[2021-06-07 20:54] klonos commented on #5112
🤔

[2021-06-09 07:36] cptX commented on #5113
I have implemented inside a custom module code that runs a second pass on the transliterated path and converts the diphtongs to my desired result, so it's possible but not with the standard backdrop mechanism.

[2021-06-09 15:36] klonos opened #5114 "When multiple file fields are present on the same form, auto-upload is triggered only for the first one"
**Steps To Reproduce**

To reproduce the behavior:
1. On a vanilla Backdrop installation, edit the default _Post_ content type.
1. Add another file/image field to it (leave defaults as is)
1. Start creating a node of type _Post_
1. Add a title
1. Click the "Choose file" button on the widget of the first file field.
1. Try adding a file type that is not allowed to be uploaded on the field (for exam

[2021-06-09 15:44] indigoxela commented on #5114
This seems familiar to me... Is [that issue](https://github.com/backdrop/backdrop-issues/issues/4284) related?

[2021-06-09 15:46] indigoxela commented on #5114
No, [that one](https://github.com/backdrop/backdrop-issues/issues/3396) is it, right?

[2021-06-09 17:22] laryn commented on #4635
LGTM - thanks @PadminiRai

[2021-06-09 21:49] klonos commented on #5114
Yup 👍🏼 ...sorry for the duplicate.

[2021-06-09 21:49] #5114 closed

[2021-06-10 02:20] quicksketch commented on #5067
I did a code review and this looks great! I really appreciate your attention to detail @bugfolder and the work put in to expand the documentation.

The only major suggestion I have is that the hook should be renamed to clarify when it is getting called. See the PR for my suggestion and reasoning. https://github.com/backdrop/backdrop/pull/3618#pullrequestreview-680270792

[2021-06-10 02:47] quicksketch commented on #5095
I have merged https://github.com/backdrop/backdrop/pull/3628 into 1.x, thanks so much @herbdool, @indigoxela, and @klonos!

Should this be pulled into 1.19.2? As a UX improvement seems like it could be included any time.

[2021-06-10 03:53] quicksketch commented on #5102
The big problem previously was that the AJAX within the view did not work. By some change you made in the PR, the view AJAX filtering now works perfectly. I even tried adding a new filter to the view for "File ID", and that works as well. Same with the Pager. Great job fixing that!

I agree that we should probably nix the auto-complete field. Having two fields that effectively do the same thing is

[2021-06-10 06:47] indigoxela commented on #5095
IMO it could easily go into 1.19.2. @herbdool you probably set the label back from task to "feature request" for a good reason - mind to explain?

[2021-06-10 14:55] laryn commented on #5102
@quicksketch I took your feedback and will incorporate it into a PR in the original #3293 -- I'll close this issue which is technically about autocomplete (which everyone seems to agree is not needed if the views exposed filter works).

[2021-06-10 14:55] #5102 closed

[2021-06-10 21:55] olafgrabienski commented on #3293
Back to the roots: @laryn said over in #5102, feedback from there will be incorporated into a PR here.

[2021-06-11 06:39] himanshu007-creator commented on #4870
hi, I would like to work on this issue!

[2021-06-11 09:01] bharathk005 commented on #4500
@klonos do you mean browser cookies?
Steps 4,8,11 what do you mean by Clear caches?

[2021-06-11 13:07] klonos commented on #4500
Hello @bharathk005 Backdrop uses the same caching mechanics as Drupal. You can clear caches via the admin UI if you:
- use the admin menu: Home → Flash all caches:
  ![image](https://user-images.githubusercontent.com/2423362/121690470-8ea23180-cace-11eb-8170-8e3979142fa3.png)
- navigate to Configuration → Development → Performance and click the "CLEAR ALL CACHES" button:
  ![image](https://user-im

[2021-06-11 13:11] klonos commented on #4500
...were you asking out if curiosity @bharathk005, or were you planning to work on this issue?

[2021-06-11 15:50] herbdool commented on #5095
It can be 1.19.2. I don't often think about difference between feature and task, I chose one that seemed close.

[2021-06-11 19:21] herbdool commented on #3006
@olafgrabienski maybe the wording is fine. I was just editing an image field in Drupal 9 And it looks like:

![Screenshot from 2021-06-11 15-18-23](https://user-images.githubusercontent.com/1071483/121738575-5f88c180-cac8-11eb-8fc2-1b8a93aadc44.png)

I noticed the description for the Title field. It actually recommends *not* enabling it for screen readers. Plus Drupal 8/9 makes the "Alt field requ

[2021-06-11 22:40] BWPanda commented on #1589
Closing old issue.

[2021-06-11 22:40] #1589 closed

[2021-06-11 22:41] BWPanda commented on #1669
Closing old issue.

[2021-06-11 22:41] #1669 closed

[2021-06-11 23:01] klonos commented on #5095
Thanks @herbdool ...I think that we should merge it into 1.19.x as well then.

[2021-06-12 03:03] klonos opened #5115 "CKEditor5 Sections"
I know we're still on CKEditor 4.x, but I just saw this [demo video](https://www.youtube.com/watch?v=i3jJDA1Y4FQ) of the [CKEditor5 Sections](https://www.drupal.org/project/ckeditor5_sections) D8 module, and I liked the editor experience. I'm adding this issue as a placeholder, to consider once we move to CKEditor 5.x (which I realize we may or may not do, and that there is no ETA - see #4122 for

[2021-06-12 03:10] klonos commented on #4122
We should keep an eye on https://www.drupal.org/project/wysiwyg/issues/3123281 and https://github.com/enu-sav/RS/tree/cke5

[2021-06-12 06:03] shruti1421 commented on #4705
Can I work on this issue?

[2021-06-12 06:09] shruti1421 commented on #4429
Can I work on this issue?

[2021-06-12 14:07] SruthiSathya commented on #1107
I have been working on this issue and changed the label "Name" to "Author" in the \backdrop\core\modules\node\config\views.view.node_admin_content.json file but while I try to test it by restarting the Apache in  XAMPP the changes are not reflected in my localhost.

[2021-06-13 18:54] klonos commented on #1107
Hello @SruthiSathya and thanks for working on this 🙏🏼

That file takes effect when you install Backdrop. What you should do to confirm it works, is to drop/destroy your database, clear all files from your `/files/config_[random_string]/active`, and then re-install Backdrop from scratch.

We usually do not update views for existing sites, but we could try to add an update hook in `node.install`, wh

[2021-06-13 18:57] klonos commented on #4429
Yes, please feel free to work on this @shruti1421, and let us know if you need any help.

[2021-06-13 19:03] klonos commented on #4705
Sure @shruti1421, please go ahead, and let us know if you need any help.

[2021-06-14 02:22] bugfolder opened #5116 "Views: In "Unformatted list" format, Row classes don't render field tokens"
**Description of the bug**

In a View display as Unformatted list, one of the possible settings is "Row class", whose instructions say

The problem is that most of the tokens listed in "Replacement patterns" do not work for most fields.

**Steps To Reproduce**

To see the problem, on a basic Backdrop site (with Post content type predefined),

1. Create a few Posts with images.
2. Create a View wit

[2021-06-14 02:23] bugfolder commented on #3695
WRT your problem #2: in D7, this field supports space-delimited multiple classes (so I agree that it should be titled "Row classes"). But the functionality is broken; see https://github.com/backdrop/backdrop-issues/issues/5116.

[2021-06-14 06:17] indigoxela commented on #5116
@bugfolder I didn't test yet, but for clarification: it works in D7 if entity_token is installed? Also: would it work in B if entity_token is installed, or is this completely unrelated to that?

[2021-06-14 07:27] stpaultim commented on #4390
I just ran into this same problem. I'm willing to give my site editor permission to edit the layout, however this doesn't seen like it should be necessary.

Also, it took me a little while to figure out why a site editor that has permission to use contextual links and to edit custom blocks, was unable to do so (until I gave them permission to edit layouts).

Not sure of the best solution, but want

[2021-06-14 07:37] indigoxela commented on #4390
FTR: I recommend to use nodes instead of blocks. They ship with a functioning contextual link for all people with permission to edit them. And then there's no need for granting the layout permission to less privileged editors. Since rabbit hole went into core, there's almost no need for custom blocks anymore (IMO). We probably only use them out of habit - in Drupal they're more important.

[2021-06-14 07:40] stpaultim opened #5117 "Confusing conditions around "Administer Custom Blocks" Permission"
edit: issue moved to security queue.

[2021-06-14 09:40] olafgrabienski commented on #3006
Okay! For me it's hard to say, as I'm not a native English speaker, but if nobody objects ...

Re "Alt field required" in Drupal 8/9, that was already mentioned in the issue description, so shouldn't change anything in my opinion.

Regarding the Title field description, are you considering to drop the option to make title fields required or do you suggest to change the text for Backdrop?

[2021-06-14 14:08] bugfolder commented on #5116
I think this is unrelated to entity_token (which doesn't exist by that name on D7). The field tokens are presented as possible replacement patterns in Views even with no token-related modules installed (in D7 or B).

However, on further investigation, I've found that most of the field tokens do NOT work in "Row classes" even in D7. In fact, the only one I've found that does is "List (integer)", wh

[2021-06-14 14:49] indigoxela commented on #5116
Hm... I just got it working in Backdrop.

1. Created a list field (integer) in a content type
2. Created a view of that type
3. Added the list field, display the _key_, not the value
4. Added an override for that field: `foobar-[field_integer_list]`
5. Successfully used the row class with `[field_integer_list]`, that resulted in "foobar-27"

I'm not 100% sure if every step of the above is necessar

[2021-06-14 15:27] olafgrabienski commented on #5116
I've quickly tested most Backdrop core field types. Apart from the types mentioned above, the following work without problem:

- Boolean
- List (text)
- Short text
- Title

Actually, the last *has* a problem if it's linked which is the default field configuration in Views. Similarly, many other field types work generally, but the output with default field configuration isn't really helpful. Exampl

[2021-06-14 15:50] laryn commented on #3293
@olafgrabienski The PR is linked at the top. @docwilmot and @elmuche have provided feedback in the PR conversation with some issues that come up when using the PR.

I've got a busy month or two ahead of me -- if anyone wants to iterate on the PR or file something different to keep this issue moving towards the 1.20 release, please feel free. Otherwise I will get back to it but just not imminently.

[2021-06-14 16:27] klonos commented on #5116
The initial report claims that "This works on D7, not on Backdrop.". @bugfolder can you please edit it, to have it reflect what is a fact after recent comments/investigation?

Yeah, it is sad, but we are heavily behind on Views 7.x crossports. Whatever solution we come up with here, I would like us to first try and bring Backdrop core Views in parity with Views 7.x, then see if things are as broke

[2021-06-14 17:27] klonos commented on #5116
... https://www.drupal.org/project/views/issues/1414592 seems related (or another manifestation of the same issue). Can anyone please confirm?

[2021-06-14 18:11] bugfolder commented on #5116
Updated.

[2021-06-14 19:59] elmuche commented on #3293
Hi @larin
I have been exploring other ways to be able to insert the filters in the image library without producing nested forms, which I think is the big problem. Among those ways, I found one that would seem to be the one: use an IFRAME. As on other occasions, I pass on the steps I followed and their corresponding "patches" so that you can investigate them further.

----------------------
1 - Ima

[2021-06-14 20:04] elmuche commented on #3293
Correction
In step 4 (insert iframe) the markup should say:

`'<div class="library-view" data-editor-library-view="true"><iframe id="iframelibrary" style="border:none;" width="100%" height="700px" src="/backdropcms/bdpru/imagelibrary"></iframe> </div>'`

[2021-06-14 20:16] elmuche commented on #3293
Correction 2 (I'm sorry but when I paste the codes some are erased and I don't know how to do it right)
In step 5 - Patch 1 should say:
`// Patch 1: append filter.css to iframe. Maybe there is another method from backdrop to do this
$('#iframelibrary').contents().find('head').append('<link rel="stylesheet" href="/backdropcms/bdpru/core/modules/filter/css/filter.css" type="text/css" />');`

[2021-06-14 20:48] elmuche commented on #3293
Fixes (now I preview it looks good)

5 - Modify filter to recognize iframe

core/modules/filter/js/filter.js
from line 193

var libraryShown = $('.editor-image-fields').find('[name="attributes[src]"]').is(':visible');

`

      if (libraryShown) {
        // Toggle state is set to show 'select an image'
        // so add library view to dialog display.
        // But only for filter-format-edit-im

[2021-06-15 00:43] elmuche commented on #3293
In step 3 - Add Layout
- add block "Principal content"

![image-library-layout-block](https://user-images.githubusercontent.com/75767688/121976082-77c33f80-cd59-11eb-93f6-8a96c5bacc26.jpg)

[2021-06-15 00:55] elmuche commented on #3293
And this is the screen of the library image with iframe

![image-library-iframe](https://user-images.githubusercontent.com/75767688/121976909-2a47d200-cd5b-11eb-9514-21585bc7f316.jpg)

[2021-06-15 15:58] laryn commented on #3293
@elmuche Interesting approach! How does the iframe respond to different screen widths?

[2021-06-15 16:09] elmuche commented on #3293
@laryn
I have not tried it yet. But I think it's not a problem. Maybe should make a template in views (views-view - image-library.tpl.php?) that includes this possibility. With this template, the layout would also not be necessary. I'll try that side.

[2021-06-15 16:22] laryn commented on #3293
My worry with an iframe is that if users customize the view (adding more images per page, etc) or on a smaller width the number of rows increases, then there would be a scroll required to see everything, which is not a good user experience.

[2021-06-15 16:45] elmuche commented on #3293
I see. Well. I will try it and let you know.

[2021-06-15 18:30] elmuche commented on #3293
@laryn
You are right. When adding more images per page and exceeding the height of the iframe, the pager is not visible. Therefore, the first problem to solve is the height of the iframe and not the width. I will work a little more on this point. Greetings

[2021-06-16 07:09] elmuche commented on #3293
@laryn
Suggested solution: IFRAME Responsive.
Let's see

In core / modules / filter / filter.pages.inc (see step 4 above, Build and insert the IFRAME):

`if (empty($view)) {
  $view = t('The view "@view_name" is not available.', array('@view_name' => $view_name));
  if (user_access('administer views')) {
  $view .= ' ' . t('Check the <a href="!url">Views administration page</a> to enable or create

[2021-06-16 14:08] olafgrabienski commented on #5117
In my opinion, part of the problem (or another aspect) is the quite broad permission "Administer Layouts" which reminds me the similarly broad "Administer content" permission. However, content related permissions are all listed under the `Node` section of the Permissions page, which makes configuration a bit easier. In contrast, "Administer custom blocks" and "Administer Layouts" are listed in dif

[2021-06-16 16:07] olafgrabienski opened #5118 "Change `admin/people` dropbutton operation from "Cancel" to "Cancel account""
**Description of the bug**

The dropbutton operation for cancelling a user account on the `admin/people` page is called "Cancel". While the single term "Cancel" in this context means "Disable or delete", it means "Stop or abort an action" in most (I guess all) other places of the Backdrop interface.

This isn't a (big) problem in an English interface: readers are usually able to get the meaning of

[2021-06-16 16:16] olafgrabienski commented on #5118
Possible approaches:

- Add string contexts to the term "Cancel" (see below)
- Change the term "Cancel" in the dropbutton to "Cancel account"

I prefer to change the term as it improves the situation for English as well.

---

[String contexts](https://docs.backdropcms.org/api/backdrop/core%21includes%21bootstrap.inc/function/t/1) could look like this:

`t('Cancel', array(), array('context' => 'St

[2021-06-17 06:29] indigoxela commented on #5118
+1 for changing the text in the dropbutton. A screenshot might better explain, why:

![cancel-dropbutton](https://user-images.githubusercontent.com/842066/122341235-89683b00-cf43-11eb-88ca-6e8edd62fe17.png)
Pretty ambiguous, no?

While on that page it can be assumed, that "cancel" means "delete or disable" in this context, "Cancel account" would be less ambiguous.

I'd suggest a minimal change onl

[2021-06-17 15:51] laryn commented on #5118
I agree 'Cancel account' is more clear.

[2021-06-17 20:01] klonos commented on #5091
@bugfolder this is the list :)

[2021-06-17 20:44] jenlampton commented on #5090
Related: https://github.com/backdrop/backdrop-issues/issues/324

[2021-06-17 20:59] quicksketch commented on #5067
The PR at https://github.com/backdrop/backdrop/pull/3618 has been updated by @bugfolder and is ready for another round of review it seems.

[2021-06-17 21:01] jenlampton commented on #5117
closing.

[2021-06-17 21:01] #5117 closed

[2021-06-17 21:20] jenlampton commented on #5094
@indigoxela  I added a guess at steps to reproduce this problem in the Original Post, but do you remember at which step the errors would appear? Has anyone else

[2021-06-17 21:43] quicksketch commented on #5094
The D7 dev branch of database.inc which has changes related to PHP 8 has the following code that may work:

[code]

This approach would probably work, though I strongly dislike magic methods like this because IDEs cannot follow the call stack through them. It also makes documentation nearly impossible because there is no place to put docblocks. This results in neither machines nor humans being abl

[2021-06-17 21:47] quicksketch commented on #5094
If we wanted to comprehensively use this approach, we'd also need to wrap the following methods (from [the PDO documentation](https://www.php.net/PDO)):

- PDO::beginTransaction — Initiates a transaction
- PDO::commit — Commits a transaction
- PDO::errorCode — Fetch the SQLSTATE associated with the last operation on the database handle
- PDO::errorInfo — Fetch extended error information associated

[2021-06-17 21:58] quicksketch commented on #5067
After a few more grammatical fixes in the code comments, I think the PR at https://github.com/backdrop/backdrop/pull/3618 is ready to go.

[2021-06-18 07:46] indigoxela commented on #5094
@quicksketch many thanks for the PR, I've left a comment regarding wording.

How should this get tested? Is verifying, that the BaM restore works correctly sufficient?

[2021-06-18 08:03] indigoxela commented on #5118
A [PR](https://github.com/backdrop/backdrop/pull/3647) is available for testing and review.

A screenshot in German:
![dropbutton-text-new](https://user-images.githubusercontent.com/842066/122527784-f0592300-d01b-11eb-841c-3180ae81b837.png)

BTW this does *not* need any translation update, because the string "Cancel account" already exists and this correct translation is used.

(Off topic: my firs

[2021-06-18 08:50] quicksketch commented on #5094
Correct. To test:

* Install Backup and Migrate module
* Create a backup at `/admin/config/system/backup_migrate`, Download the file
* Restore the backup by uploading the file at `/admin/config/system/backup_migrate/restore`
* Confirm that no errors occurred.

[2021-06-18 09:15] olafgrabienski commented on #5118
Oh, sure, that's great! Thanks for checking.

[2021-06-18 09:22] olafgrabienski commented on #5118
Many thanks for the PR! Works for me in the sandbox. Here a screenshot of the English interface:

<img width="363" alt="backdrop-pr-cancel-account" src="https://user-images.githubusercontent.com/14188307/122539002-6c0c9d00-d027-11eb-99ce-de0b59b1e0c6.png">

[2021-06-18 12:45] jlfranklin commented on #5118
Given the new meaning "cancel" has, especially when applied to people, perhaps a better term can be used.  "Cancel" isn't the right term in the first place.  Cancelling an action anywhere else in the site means the effect is not applied.  You may be half-way through a "create new thing" wizard, click Cancel and the new thing never exists.  Similarly, cancelling an order means the order is dropped

[2021-06-18 12:48] indigoxela commented on #5118
@jlfranklin This term is used for cancelling accounts throughout Backdrop. If you want the term to get changed everywhere, please open a new issue for that and don't block this fix for sites in other languages. Otherwise we discuss here for ages and in the meantime many translators wait for a simple fix.

[2021-06-18 13:19] olafgrabienski commented on #5118
I also stumbled upon the meaning of the term "Cancel" and I'd be interested to discuss alternatives in a separate issue.

[2021-06-18 14:04] quackers8me commented on #5094
I can confirm that the changes in the PR works correctly with the Backup
and Migrate module.

On Fri, Jun 18, 2021 at 1:50 AM Nate Lampton ***@***.***>
wrote:

[2021-06-18 15:04] indigoxela commented on #5094
@quackers8me many thanks for confirming.

I also did a quick check in the sandbox, these were my steps:

- Install Backup and Migrate
- Create a private file system
- Took a backup
- Edited the first post (added some text)
- Restored from the backup
- Verified that there were no errors and the first post has the initial text again

Also works for me. :+1:

[2021-06-18 15:17] indigoxela commented on #5094
Regarding the approach - pass-through vs. magic method in D7 - I agree, that this is more comprehensive and that a proper doc block has high value.
I'm no expert regarding PDO or the Backdrop database abstraction layer in general, so maybe a second pair of eyes to review the code would be helpful to identify potential side effects (if any).

But people are waiting for a fix, so they can safely use

[2021-06-18 18:18] bugfolder commented on #4500
@klonos's recommended fix does indeed fix the issue. PR submitted.

[2021-06-18 18:35] stpaultim commented on #5094
Just to confirm that people are waiting on a solution. Here is a link to a comment posted today in the forum: https://forum.backdropcms.org/comment/2907#comment-2907

[2021-06-18 18:51] herbdool commented on #3006
@olafgrabienski I was wondering if we add a similar description for Title: "The title attribute is used as a tooltip when the mouse hovers over the image. Enabling this field is not recommended as it can cause problems with screen readers."

[2021-06-18 20:41] stpaultim commented on #5118
I support this change. I also wonder if @jlfranklin has a point about the overall use of "Cancel" for accounts. I've wondered about this myself. But, I also agree that is a bigger issue and should be handled separately.

[2021-06-19 03:38] IC1101Virgo commented on #4891
Can I work on this?

[2021-06-19 07:26] indigoxela commented on #4891
@IC1101Virgo yes, sure, you're welcome, just go for it. :smiley:

[2021-06-19 08:51] IC1101Virgo commented on #4891
Thanks a lot! On it 🥰

[2021-06-19 11:17] indigoxela commented on #4429
@shruti1421 many thanks for providing a pull request. It still needs a little work, though, because the automated test related to that form error message is currently failing. The new text should get used in that test, too.

This is the failing test: https://github.com/backdrop/backdrop/blob/08f9bf83c717088a7544325c2e4b05a626e55a50/core/modules/comment/tests/comment.test#L1190

Updating tests can

[2021-06-19 11:43] sg7801 opened #5119 "Typos in README.md"
There are some typos in the documentation ( some grammatical errors and some typing mistakes)

[2021-06-19 11:51] indigoxela commented on #5119
@sg7801 Now I get it, there was no pre-existing issue for that, you acted proactively. :smirk_cat:

[2021-06-19 11:54] sg7801 commented on #5119
I directly came to the project and saw errors in documentation, hence I started contributing by correcting the documentation.

[2021-06-19 17:32] klonos commented on #4500
Thanks @bugfolder 🙏🏼

...one would think that `backdrop_flush_all_caches()` should be clearing all caches, as the function name suggests, but it seems that that is not the case with token caches. That must be most likely because in D7 the Token module was a separate thing, and we either must have missed to integrate `token_cache_clear()` into `backdrop_flush_all_caches()` when we merged the token

[2021-06-19 17:42] klonos opened #5120 "[DX] Wrap PDO::* methods in new DatabaseConnection::* methods, for consistency"
In #5094, we have resorted to wrapping the PDO::prepare() method in a new DatabaseConnection::prepare() method, in order to avoid using magic methods (which is what D7 has done in database.inc to support PHP 8).

As @quicksketch explained:

For consistency, it was suggested that we use the same approach everywhere else where applicable. So we'd also need to wrap the following methods (from [the PD

[2021-06-19 17:44] klonos commented on #5094
Follow-up issue created here: #5120 😉

[2021-06-19 17:46] klonos commented on #3006
@herbdool yes please 👍🏼 ...although please also add a comma there: `... not recommended, as it can ...`.

[2021-06-19 17:58] klonos opened #5121 "[UX] Use consistent and appropriate wording for the action of "canceling" user accounts"
@jlfranklin brought this up in https://github.com/backdrop/backdrop-issues/issues/5118#issuecomment-864011695

@indigoxela provided the following argument:

Here's that confirmation screen with the various options:
![image](https://user-images.githubusercontent.com/2423362/122651380-10cecd80-d141-11eb-9f06-7b3c19d7a2ff.png)

[2021-06-19 18:16] klonos commented on #5121
I agree with @jlfranklin that "cancel" seems odd in this context (and in this specific form, having both a "Cancel account" and a "Cancel" link side by side does feel odd).

Having said that, I see @indigoxela's point re different ways to "cancel" an account, so there may be valid reason for it to remain as is. For instance, we provide the options to either "disable" or "delete" an account, and ri

[2021-06-19 18:21] klonos commented on #5118
IKR? 🙄 🤷🏼

Here you go: #5121 😉

[2021-06-19 18:38] klonos commented on #4429
I've made a suggestion re adding commas to the if/then text conditionals (not code - grammar), but I'm not sure that using the word "post" is ideal 🤔

The original suggestion for the error message by @alanmels is this:

...if you add the commas to it, it becomes:

I'm suggesting this instead:

[2021-06-19 18:42] bugfolder commented on #4500
Restarted sandbox, tests pass.

[2021-06-19 18:46] klonos commented on #5119
Thanks you @sg7801 🙏🏼 ...please see my comment in the PR re `webserver` vs `web server`. Otherwise, looks good 👍🏼

[2021-06-19 18:53] klonos commented on #4500
Thanks @bugfolder ...tested and now things work as expected of course :) 👍🏼

[2021-06-19 20:34] stpaultim commented on #5119
@sg7801 - Thanks for jumping in and offering a PR. We appreciate it!

[2021-06-19 22:26] BWPanda commented on #4635
@PadminiRai I've requested a few changes to bring the code up to standard (I've provided links to our documentation standards where appropriate).

[2021-06-20 09:03] indigoxela commented on #5121
Maybe not a big problem, but another situation needs to be considered: the word appears in the form to let the user "cancel" their own account. And also for admins to "cancel" other peoples accounts. And there's a permission "Select method for cancelling own account", so some roles may have the choice how to delete (or block/disable) their account and others have not.

[2021-06-20 14:46] olafgrabienski commented on #5121
Thanks for opening the issue @klonos! Let's see if we find a term which is able to replace "cancel" (and "block"). As an experiment, I've looked up "to cancel" in an English-German dictionary, picked convenient German translations and re-translated them to English: The result is a list of alternative terms. However, I'm not a native English speaker, so for me it's hard to say which terms if any fr

[2021-06-20 15:04] olafgrabienski commented on #3006
@herbdool Thanks for the feedback! I'm sort of undecided about the title field (non-)recommendation because I don't know much about the question, but the warning seems to be right for must use-cases, so I'd be fine with it.

[2021-06-20 20:05] klonos commented on #5121
- "suspend" is a good alternative for "block", which is already used in other software/services; but it cannot be used instead of "delete" (it is something temporary, which can be reverted, by "unsuspending" or "restoring" an account)
- "terminate" is a good alternative for "delete", but it cannot be used instead of "block" (it implies a permanent action)
- "unsubscribe" implies an action that the

[2021-06-21 06:34] klonos commented on #89
Can we Please reconsider this for 1.x? Drupal 9.2 ships with a solution based on https://shepherdjs.dev

[2021-06-21 11:18] indigoxela commented on #3293
Back after some time of silent following, to do a little testing of what we currently have (in the sandbox).

Interesting! The nested form problem is solved. And it almost works. :tada:

Two problems appear, I tested with both, the image field and the editor dialog.

**Image field:**

After the first time an image file has been selected, the filter functionality breaks. Inserting image keeps on wo

[2021-06-21 12:20] jlfranklin commented on #5121
I can't think of any word that would apply to both the permanent and non-permanent actions.  I suspect the Drupal devs couldn't years ago when they added this feature, and settled on "cancel".

I can see two possible ways forward here: relabeling the existing single menu item "Suspend / Delete" (or "Suspend / Terminate"), OR splitting it into two menu items, one for "Suspend" the other for "Delete

[2021-06-21 16:18] jenlampton commented on #89
Can we instead open this as an issue in the contrib queue? If/when we get a
suitable module candidate there, we can open an "include X in core" issue
with the pros/cons of doing so.

Since Tour module has proven unsuccessful in Drupal core, I don't think
starting with this premise is worth pursuing anymore.

Or did you have any new information to add that might change our previous
decision?

On Su

[2021-06-21 19:00] himanshu007-creator commented on #4870
@klonos can you please share the function to be documented? i cant find the source of function <code>hook_layout_api()</code>
like <a href="https://docs.backdropcms.org/api/backdrop/core%21modules%21layout%21layout.api.php/function/hook_layout_info/1">here</a> documentation of function <code> hook_layout_info</code> is given. Where can i find the description of function <code>hook_layout_api() </c

[2021-06-22 11:36] BWPanda commented on #5038
Concerns were raised about needing to edit the CSS for this change, but then a PR was made and nothing was mentioned about the CSS changes included... Are these CSS changes ok as-is? What's our stance on CSS changes currently?

[2021-06-22 12:33] indigoxela commented on #5038
The scope of the CSS changes is very limited. Unlike other changes that potentially apply in many different places (which always has to be handled very carefully), these changes only affect the dashboard. A too greedy selector has been replaced with a more specific one.

If this CSS applies anywhere else, please let me know.

[2021-06-23 01:16] jenlampton commented on #1107
I think we should include an update hook. There's a great example of this in `node_update_1022()` (at the bottom of `node.install`)

[2021-06-23 01:20] jenlampton commented on #3759
The PR here looks great, and since it's only a documentation change, it does not need to be tested. RTBC!

[2021-06-25 20:33] bugfolder commented on #5077
In some discussion with @quicksketch, he suggested that as an alternative to the above, we could clarify whether the page for a given path is layout-provided or module-provided by noting (or highlighting) what's in the "Operations" column of the gray path row on the layout page.

If it is layout-provided, then it will have a "MENU SETTINGS" button in that column. If it was provided by a module and

[2021-06-26 02:24] bugfolder commented on #5077
So, I added a second PR implementing the solution in the previous comment:
* Added a parenthetical to the "path" column
* Added some formatting so the parentheticals are distinguishable from the path itself
* Kept the red formatting when the menu router item is missing, also added a parenthetical.

Here's a screen shot showing examples. Path "foo" is missing its router item; path nodes/% is module

[2021-06-26 03:43] docwilmot commented on #4986
I think:
- scenario 2: if you already created a layout-provided page with custom blocks and whatever, and you enable a module, you may not actually intend to wrap that path in a layout. In fact you may not even know this module provides the same path as your layout page. If the page then started using that layout, it would mess up your page. Ideally Backdrop should warn you that this path already

[2021-06-26 09:12] indigoxela commented on #5077
Personally, I'm in favor of the second approach (text instead of formatting). :+1:

IMO formatting alone doesn't actually provide enough information about (possible) problems. Color is even more problematic - think of people with trouble to distinguish some colors (not so rare, actually). Especially red is difficult. And the red text on the darker grey will have less contrast than required, I supp