[2022-02-10 05:13] irinaz commented on #5496
@indigoxela, I will reach out to you on zulip - I am not sure what is best way to apply both patches in the same way.  thanks in advance!

[2022-02-10 05:14] #5035 closed

[2022-02-10 05:17] quicksketch commented on #5035
I merged https://github.com/backdrop/backdrop/pull/3585 into 1.x and 1.21.x. I wasn't sure about holding off on this until the next minor release either, but like @herbdool says it's uncommon to hold off cross ports until minor versions. So as a task and crossport putting this in 1.21.2 makes sense to me.

Thanks @klonos, @indigoxela, and @herbdool! Great work putting this together, including the

[2022-02-10 05:22] #3650 closed

[2022-02-10 05:23] quicksketch commented on #3650
Perfect @BWPanda. Looks great now. I merged https://github.com/backdrop/backdrop/pull/3925 into 1.x and 1.21.x. Thanks!

[2022-02-10 05:30] quicksketch commented on #4838
Thanks @indigoxela and @herbdool! Any chance one of you (or @klonos) would take on writing up the change log? We have a separate issue for that at https://github.com/backdrop/backdrop-issues/issues/4946.

I've merged https://github.com/backdrop/backdrop/pull/3497 into 1.x and 1.21.x. This qualifies as a "bugfix" since it's currently broken, we shouldn't have the option in core at all.

[2022-02-10 05:30] #4838 closed

[2022-02-10 06:03] BWPanda commented on #3274
I originally considered two ways to word this:
1. *Where* the project would be downloaded (e.g. root directory, site-specific directory)
2. *What* sites the project would be available for (e.g. all sites, this site)

I went with the first one, but I'm happy to try the second.

I'm happy to try different wording, but I disagree with that premise. This field is only shown for multisites, and if some

[2022-02-10 06:56] indigoxela commented on #5497
Yes. It's a matter of order. The order of update hooks can _by accident_ be correct - in that case (table already altered) no problem appears. But as the update dependency currently isn't defined, it can happen that the user update hook runs *before* the system update hook, leading to the exception. Only a dependency definition prevents that. Especially when a lot more than just the core update ho

[2022-02-10 07:06] indigoxela commented on #2590
Personally, I find the PR a bit confusing.

The [official docs](https://docs.backdropcms.org/form_api#help) state that `#markup` is necessary to let this API item do anything useful, so the `isset` seems redundant.

I totally agree with that. The "undefined index" happens because of some faulty usage of that FAPI type.

Checking for a `<p>` before wrapping seems useful, but that's not actually wha

[2022-02-10 07:10] klonos commented on #5466
Congrats on your first core commit @yorkshire-pudding !! 🎉 ❤️

[2022-02-10 07:35] indigoxela commented on #3274
TBH, I actually liked the direction of @klonos' suggestion, though not ideal (yet). But I usually can't help much with wording.

And I still find the word "Root" misleading and rather confusing (even for the "slightly more technical user"). :wink:

[2022-02-10 07:39] indigoxela commented on #5495
@djzwerg this probably has been your first core contribution. Congrats! :1st_place_medal:

[2022-02-10 09:05] olafgrabienski commented on #3274
@BWPanda I agree the examples shouldn't be changed but they don't match what I [had in mind](https://github.com/backdrop/backdrop-issues/issues/4253#issuecomment-1008326477). I don't think, labels and options have to be individual sentences. However, *if* there are sentences,

Incomplete sentences like `Download project(s) to the appropriate folder in the` are hard to understand for people transla

[2022-02-10 09:08] BWPanda commented on #3274
Thanks @olafgrabienski, that makes more sense.

[2022-02-10 09:41] klonos commented on #3274
Yes, what @olafgrabienski said ^^ ...sorry I failed to explain things properly. That's what I meant.

[2022-02-10 10:11] djzwerg commented on #5495
@indigoxela thanks! But this was just a very small contribution ;-)

[2022-02-10 10:34] BWPanda commented on #3274
PR updated. How's this?

![image](https://user-images.githubusercontent.com/2385329/153388761-0ba72215-a4a0-4def-99ed-9cc762407a24.png)

[2022-02-10 10:42] indigoxela commented on #3274
A lot better!

One thought: Is the "/app/www" part of the example path actually helpful? How about "/modules/" and "/sites/example.com/modules/"?

[2022-02-10 10:57] BWPanda commented on #5484
Thanks guys. That 'help' element seems like much better markup @klonos 👍🏻

Here's just the form API change:
![image](https://user-images.githubusercontent.com/2385329/153391314-3d9adea8-7550-404a-8909-e3b545142091.png)

And here's it with some top margin:
![image](https://user-images.githubusercontent.com/2385329/153392457-fad28009-0844-49ae-8b00-805224784b8e.png)

And here's the fieldset with top

[2022-02-10 11:00] klonos commented on #3274
Yup, very much better @BWPanda 👍🏼  ...and I like @indigoxela's suggestion too 👍🏼  (changing the `/multisite/` bit to `/example.com/` - don't have any strong feelings re removing the `/app/www/` bits).

[2022-02-10 11:04] BWPanda commented on #3274
So that's dynamically generated based on the actual site. The root path is obtained using `BACKDROP_ROOT`, while the site-specific path uses `conf_path()`. So this'll show the user the actual path to their actual directories.

The reason for the `/app/www/` part is that it was included by default (for me) with `BACKDROP_ROOT`. Whereas `conf_path()` was just `./sites/multisite`. It looked weird hav

[2022-02-10 11:11] klonos commented on #3274
In that case (and sorry I didn't check the actual code before commenting), I believe that it is indeed worth having those there 👍🏼

[2022-02-10 11:15] klonos commented on #3274
...or replace them with `i.e.`s instead, which is more accurate?

[2022-02-10 11:47] BWPanda commented on #3274
The reason I used `e.g.` is because the `/modules` part is hard-coded.

[2022-02-10 13:34] klonos commented on #3274
Right 👍🏼 ...I missed that.

[2022-02-10 14:39] olafgrabienski commented on #933
I'd like to revive the discussion because none of the mentioned workarounds would solve an issue with *Existing content* blocks. This was [a blocker of a favorite approach](https://github.com/backdrop/backdrop-issues/issues/4903#issuecomment-1001644392) for the new hidden-path content type (Cards) in core:

[2022-02-10 15:42] indigoxela commented on #5475
I think, that's the safer choice. And of course, it works for me.

Should we create a follow-up for the default property and/or new method?

[2022-02-10 16:34] olafgrabienski commented on #933
I see! This sounds plausible from a technical point of view. From the perspective of a site owner / site architect, the limitation seems however strange, not understandable, and in some cases it's hard to work around. It's not user friendly at all, i.e. not Backdrop like.

I haven't really thought through the idea, but wouldn't it be possible to do such comprehensive changes only for new installs?

[2022-02-10 17:05] djzwerg opened #5498 "Fixed: The "langcode" column in the node table should not be emptied when upgrading from Drupal 7"
## Description of the bug

A short description of what the problem is.
While ugrading from Drupal 7 the column `language` will be renamed to `langcode` but the values are gone. So this column is empty in my case (using German language).

## Steps To Reproduce

To reproduce the behavior:
1. Use a website with German language (maybe all languages instead of English?)
2. Upgrade your website to Backd

[2022-02-10 17:28] olafgrabienski commented on #5498
Hm, I've recently upgraded a German-English site from Drupal 7 to Backdrop and just checked the node table: `language` has been renamed to `langcode`, and the values are still there.

Differences: The upgrade was 3 months ago, so Drupal and Backdrop versions were a bit older, and I don't use MySQL 8.

[2022-02-10 18:56] herbdool commented on #5492
I agree with disabling by default. Or even put them into a separate module that isn't enabled by default. I don't think they meet the 80% of people threshold.

[2022-02-10 20:57] #5472 closed

[2022-02-10 22:18] klonos commented on #4903
IMO that kinda defeats the whole purpose of this whole issue, which is to showcase pageless nodes (things that do not link to anything).

[2022-02-10 22:19] olafgrabienski commented on #4903
@herbdool Thank you for your suggestions. Are you answering indirectly to https://github.com/backdrop/backdrop-issues/issues/933#issuecomment-1034998790? I guess speaking of a "blocker for the new hidden-path content type" was too unclear. I was referring to the Existing content block approach which we have dropped for various reasons (one of them the title reorder issue). The current approach is

[2022-02-10 22:20] olafgrabienski commented on #4903
And, I like the idea of a link field for a call to action button. We should consider to add it.

@klonos The link wouldn't go to the pageless node but to another page of the site (or an external URL).

[2022-02-10 22:27] bugfolder opened #5499 "Add the ability to enable Backdrop-only required modules during an upgrade from Drupal 7."
There are modules (e.g., Entity Plus, Entity UI) that didn't exist in D7 and are required by Backdrop versions of D7 modules. Examples of B modules that need Entity Plus (E+, for short), for example, are Rules, Ubercart, and [the modules in this list](https://github.com/backdrop-contrib/rules/issues/138#issuecomment-1032112517).

A problem arises when upgrading a D7 site that uses those modules. I

[2022-02-10 23:39] docwilmot commented on #5499
I'm not seeing quite why this is a problem though. Both `hook_enable()` and `hook_modules_enabled()` in that case would only be passed the `entity_plus` and `entity_ui` modules right, so unless those two actually implement those hooks, then nothing "bad" should happen?

Thinking about update.php though, there should never normally be a time when a module is running updates and finds that it newly

[2022-02-11 00:14] argiepiano commented on #5499
@bugfolder, thanks for this very thorough summary.

@docwilmot, the idea of asking the user may be a bit confusing. Basically, there is no option. Either you enable E+, or you can't use Rules or Ubercart in your migrated site (or even worse, you'll get undefined functions all over the place). If a user is migrating a site with Rules or Ubercart, it's because they want the site to be as functional

[2022-02-11 01:13] klonos commented on #5495
Every contribution regardless of "size" and type always counts and is appreciated in our community @djzwerg

[2022-02-11 01:26] docwilmot commented on #5499
I understand. The issue here though is this will apply in any future situation where a user runs an update and a module requires a disabled module, which would otherwise be automatically enabled if we dont ask. I again confess I cant think why this would ever happen, but I would prefer if it did the user be warned. If not a checkbox, at least something like a message "module E will be enabled, sin

[2022-02-11 02:43] docwilmot commented on #5499
Good catch. I'm still feeling that catching dependencies would be preferable to a new `enable_on_migration` key (which would have no other purpose apart from first upgrade yet persist forever in the info file, and which would also duplicate the `dependencies` key in the info file). Furthermore, for users who dont recognize they need E+ for example, and dont place it in the modules folder, they wou

[2022-02-11 03:08] bugfolder commented on #5499
How about instead of putting more info in the .info file (which, as noted, persists _visibly_ forever) if we add a hook, like `hook_declare_upgrade_required_modules($modules)` in the install file, where a module could declare B modules that should be lite-enabled? Then we wouldn't need to ask the user anything, and while that code would persist forever, like `hook_update_N()` calls, it can live in

[2022-02-11 03:23] argiepiano commented on #5499
Actually, the update script currently stops the process if Entity Plus (or any other dependency declared in the info file) is not present in the modules folder.  The issue we are trying to catch is when the E+ is present, but the database doesn't have it as enabled (because it did not exist in D7).

That seems like a good strategy. I'm going to try putting something together along these lines toni

[2022-02-11 03:35] bugfolder commented on #5077
I think that's good! PR updated.

[2022-02-11 04:39] #5475 closed

[2022-02-11 04:43] quicksketch commented on #5475
Thanks @argiepiano and @indigoxela. I think you're both right that this got out of hand. Going back to the simplified approach and separating out the methods/properties into a follow-up is a much better idea to get this unblocked.

In the end, I merged https://github.com/backdrop/backdrop/pull/3920 into both 1.x and 1.21.x. I think it can qualify as a bug that Taxonomies act differently than every

[2022-02-11 05:06] quicksketch commented on #3720
I tried to see if I could discover any new functionality in Views after the final patch in https://github.com/backdrop/backdrop/pull/2661, and I was not successful. The code seems to make sense but I can't tell where it would have any effect. I tried assembling a view starting from a "Content Revisions" table and a view from the "Content" table and joining over to revisions, but in both cases I ca

[2022-02-11 05:10] argiepiano commented on #5499
I have created a PR (https://github.com/backdrop/backdrop/pull/3950) as a first step. This PR:

1. Only runs during the migration process, on the very first update.php of a D7 database
2. Gets all enabled modules from the database
3. Invokes `hook_migrate_required_modules_info()` - a new hook that must be placed in the install file
4. Gathers a list of all modules to be enabled. If they are not pr

[2022-02-11 05:21] klonos commented on #5475
@argiepiano or @indigoxela do you feel like creating that follow-up ticket? You'd be much more qualified to put together a proper issue summary that I.

[2022-02-11 05:23] klonos commented on #5492
_I think_ that I'd be fine with what @olafgrabienski and @herbdool suggested above ^^

[2022-02-11 06:02] klonos commented on #4533
[`update_fix_requirements()`](https://docs.backdropcms.org/api/backdrop/core%21includes%21update.inc/function/update_fix_requirements/1) has recently been brought to my attention:

This seems like a good place to hook into for making a note of the fact that this is a D7 -> Backdrop upgrade. Not sure if we could still grab the exact D7 version (or if we really care to do that in the first place). I

[2022-02-11 06:03] argiepiano commented on #5499
I've modified the PR a bit to remove duplicate modules from the array of modules to be enabled, and to remove modules that are already enabled.

This takes care of my comment re: stub modules in the previous comment, and makes the enable process more efficient by passing an array with unique values.

[2022-02-11 06:11] klonos commented on #5499
I don't think that this argument should be a show-stopper for any suggested solution in this thread. It is safe to assume that if sites are to upgrade from D7, then that will happen in the 1.x cycle of Backdrop. If we don't want this special-casing, we can remove it in Backdrop 2.0. Right?

I agree that that would be useful 👍🏼

That's great then! ...I could test things and find out myself, but sin

[2022-02-11 07:07] indigoxela commented on #5498
@djzwerg Is English is disabled in your D7? So German is the only enabled language?

Two update hooks are involved:

- node_update_1002() - which renames the column without touching any contents
- node_update_1010() - which changes all values to "und" (LANGUAGE_NONE) on monolingual sites

Can you also check the langcode column in your url_alias table?

... Wait a minute, these two db_query() in no

[2022-02-11 07:38] indigoxela opened #5500 "Consider adding $original as property to all entity classes or adding a new getOriginal() method"
Follow-up to #5475.

While adding `$vocab->original` as on-the-fly property to `TaxonomyVocabulary` (for consistency with D7 and with entities), it has been discovered that `$original` isn't autocompleted by IDEs and also not actually documented in the classes.

However, adding these means that the property is always there, even nested in the "original" itself. For example:

[code]

Having it alwa

[2022-02-11 07:39] indigoxela commented on #5475
Sure, here it is:  #5500

[2022-02-11 09:31] olafgrabienski commented on #4903
@jen @stpaultim @bugfolder Have you seen https://github.com/backdrop/backdrop-issues/issues/4903#issuecomment-1033916562? As you commented on the images topic the last time, please chime in again and give a thumbs up to your favorite: photos or icons?

[2022-02-11 09:48] BWPanda commented on #4302
Here's an initial attempt at a PR: https://github.com/backdrop/backdrop/pull/3951

It still needs some work though; e.g. choosing to create a revision and saving a node without a log message, you're shown an error and remain on the node edit form. However the 'Create new revision' checkbox is now empty (which doesn't make sense.

Happy for someone else to run with this if there's interest. Don't w

[2022-02-11 10:22] indigoxela commented on #5498
A [PR](https://github.com/backdrop/backdrop/pull/3952) is available for testing and review.

To test, you actually need to run a D7 upgrade, and the D7 site must be set up monolingual like that:

- In D7 enable the locale module, _add another language and then disable English_
- Add some content
- After that try to upgrade to Backdrop

Then make sure that the columns "langcode" in the "node" and "

[2022-02-11 10:24] BWPanda commented on #4911
I made a PR (https://github.com/backdrop/backdrop/pull/3953) just so the work I did on this a while ago wouldn't be lost, but I'm not sure I ever got this working...

[2022-02-11 10:50] olafgrabienski commented on #4903
@stpaultim I'm finally making some text suggestions.

First, for comparison, the current texts:

| Organize your content  | What is a Card | The home page layout |
| :--- | :--- | :--- |
| Backdrop CMS includes 3 pre-defined types of content: Pages, Posts, and Cards. Any number of custom [content types](https://docs.backdropcms.org/documentation/content-types) can also be added. | Cards are one of

[2022-02-11 13:48] docwilmot commented on #5499
A hook works better, but still feels unnecessary IMO. Backdrop already knows that module X requires module Y: its in the info file, as `dependencies[]`. Adding a hook, though less visible I guess than another info file declaration, still duplicates. And I feel that any situation where this occurs would then benefit from a dialog, even if the disabling was accidental or bug or a D7-B upgrade, to le

[2022-02-11 13:59] argiepiano commented on #5499
I can see your point, @docwilmot. To me this hook feels like a safety measure - the developer is explicitly telling update.php that indeed, we need to enable a module that did not exist with that name in D7.

In a typical migration situation most of the modules listed in `dependencies[]` are modules that existed in D7 with the same name in D7 and are already enabled in the D7 database. Therefore c

[2022-02-11 14:03] argiepiano commented on #5499
When you get this error message in the current version of update.php you are supposed to go back and put the missing modules in the modules folder, then restart (the bottom of this says "Check the messages and try again"

In the situation we are trying to fix with this PR there is basically nothing you can do to fix the problem. If you put a dialog saying something like "The migration script needs

[2022-02-11 14:14] argiepiano commented on #5499
You can look at it this way:

In a normal Backdrop or D7 site, if you have Rules enabled, you simply can't disable Entity API or Entity Plus. The UI does not give you that option. Its checkbox is grayed out. There is a reason for this. You basically have no option. You MUST have Entity Plus or Entity API enable.

This is a similar situation, except that during the migration process Entity API is n

[2022-02-11 14:25] argiepiano commented on #5499
After further thought: give me a day or two and I'll try to put something together that:
1. Has a way to inform the user that this enabling is happening
2. Uses dependencies[] instead of the new hook

I do think those options are really worth considering and I appreciate your suggestions, @klonos and @docwilmot

[2022-02-11 14:41] djzwerg commented on #5498
Thanks for your work @indigoxela! I'm sorry but this does not solve my issue.

[2022-02-11 15:11] BWPanda commented on #4302
We don't have a way to enforce revisions, just to enable them by default. Need a separate issue for that...

[2022-02-11 15:35] bugfolder commented on #5499
Not entirely. The idea of the hook was that this was a way of declaring module dependencies that could be _automatically_ enabled if the module code was present, as opposed to the default behavior of not auto-enabling non-enabled upstream modules (and therefore disabling the downstream modules).

But I am inclined to agree with @argiepiano's argument that in proper use, the user would have no choi

[2022-02-11 19:05] kiamlaluno commented on #4362
The documentation for type hinting (a.k.a. type declarations) has been moved to https://www.php.net/manual/en/language.types.declarations.php.

[2022-02-11 19:43] kiamlaluno commented on #4362
Adding type declarations to a method parameters isn't a BC change.

Note also that, while the documentation contains the following sentences, that isn't always.

For example, the following code would cause a fatal error in PHP 5.3 and any higher versions, but not in PHP 7 (*Catchable fatal error: Argument 1 passed to test() must be an instance of int, string given*).
[code]

[2022-02-11 21:50] jenlampton commented on #933
This is why this issue is tagged with the 2.x milestone. I think it's important but might make a mess of things for front end devs if we tried to do it in a backwards-compatible way.

[2022-02-11 22:02] bugfolder commented on #5077
OK, here's where we're at. The majority view is in favor of using the two-tables approach, which is that in the current PR. And I've added a warning to the confirmation page if the layout being deleted is for a layout-created page AND is the last layout for that path. And I've rebased the PR on the current state of Backdrop core, and added some fixes for tests so that they're coming up green.

So,

[2022-02-11 23:52] bugfolder opened #5501 "NULL layout paths (e.g., Default layout) cause problems in PHP 8.1"
## Description of the bug

In PHP 8.1, if we pass a NULL path to various `path.inc` functions like `path_is_admin($path)` (and any function that ends up at `backdrop_match_path($path, $patterns)`, in PHP 8.1, any automated test that does this will fail with this error:

[code]

This showed up when working on PR https://github.com/backdrop/backdrop/pull/3955, and that contains a workaround. But the

[2022-02-11 23:57] bugfolder commented on #5501
Here's the PR: https://github.com/backdrop/backdrop/pull/3958

[2022-02-12 01:10] klonos opened #5502 "Why not set a specific language instead of LANGUAGE_NONE (undefined) in monolingual sites?"
#5498 brought me to #903, which at the time it was committed I could not understand. Now that I know more, I have to ask: why not be setting the language to whatever the language that the site was originally installed is? If additional languages are added in the future, the language of existing content/aliases would need to be updated anyway (because none/und will not be technically true then).

F

[2022-02-12 01:14] klonos commented on #5502
https://docs.backdropcms.org/api/backdrop/core%21modules%21node%21node.install/function/node_update_1010/1

[code]

Can someone please explain that logic ^^ to me? Why are assuming that there may be previously-multilingual sites that have been converted to monolingual (and how do we accurately tell that?), and why are we not considering how this may affect sites that start as monolingual, but may

[2022-02-12 01:18] klonos commented on #5498
Although I agree with the need to fix this bug, and that the solution here is accurate/proper, I'd like to get some answers here please: #5502

Thanks in advance.

[2022-02-12 01:24] argiepiano commented on #5502
I'm not arguing with your reasoning, but just want to point out that, as a coder who has written many custom modules with forms for my sites for several years in D7 and now, porting them to  Backdrop, if we proceed with the change you are proposing, all my modules that access fields -- you know, the usual `field_name[LANGUAGE_NONE][0]['value']` -- in all my form submit and `#default_value` etc, et

[2022-02-12 02:01] klonos commented on #5502
To clarify: I'm not proposing that we arbitrarily change things without careful planing. See how I also said "If that breaks things ..., then we should also fix all these broken things."? ...what I meant was that we should make sure that the change is as "transparent" as possible, and as backwards-compatible as possible. We're all a smart bunch I trust, so we'll figure things out; I'm sure 🙂

[2022-02-12 02:43] bugfolder commented on #5282
Just waiting on a response to the "preferred" vs "chosen" question (2 comments up) before marking this RTBC.

[2022-02-12 03:42] klonos commented on #4302
@BWPanda the culprit in this situation is this bit of code: https://github.com/backdrop/backdrop/blob/1.x/core/modules/node/node.pages.inc#L249

You see, that bit of code there is so that when you start typing in the "Revision log message" field, the "Create new revision" gets automatically ticked:

![states-magic](https://user-images.githubusercontent.com/2423362/153625439-1dc4cfc0-57d8-4f83-83f3

[2022-02-12 03:57] klonos opened #5503 "[UX] Vertical tabs and fieldsets that contain required fields should have a required indicator"
Came across this UX flaw while working on #4302, but this UX improvement is broader than just that issue:

When editing a form that has required fields "hidden" in vertical tabs that are not selected by default, or fieldsets that are collapsed by default, there is no indication that there are in fact any required fields, so the user will most likely skip these tabs/fieldsets, and click the submit

[2022-02-12 03:58] klonos commented on #4302
Follow-up issues:
- #5503
- upon form validation failure, automatically select the vtab that contains the required field

[2022-02-12 04:17] klonos commented on #5503
PR ready for review: https://github.com/backdrop/backdrop/pull/3959

[2022-02-12 04:26] klonos opened #5504 "[UX] Form validation does not select the tab/fieldset that contains the required field"
I came across this while working on #4302, and it is closely related to #5503.

When the form validation error is thrown, someone with no Backdrop/Drupal experience has to guess where the required field is located:

![image](https://user-images.githubusercontent.com/2423362/153695582-5eea2cd5-f611-467f-af06-1c02d8901663.png)

We should make it so that if the _first_ field mentioned in the form val

[2022-02-12 04:34] klonos commented on #5504
Done some quick research, and found some relevant posts/issues in d.org that may help:
- [Vertical tabs - show required fields indicator - highlight tabs when validation fails](https://www.drupal.org/forum/support/module-development-and-code-questions/2016-04-27/vertical-tabs-show-required-fields)
- [Correct vertical tab does not focus on form validation](https://www.drupal.org/project/drupal/issu

[2022-02-12 04:45] klonos opened #5505 "[UX] Idea: Bigger "required" indicators for fields (a red ❌ next to the field) plus a red focus "halo" around the field."
This is related to #1040.

I'm wondering if the UX would be better if instead of this:

1. fill form in a rush, but fail to notice the tiny red asterisks in some fields
2. click "save"
3. page reloads
4. see validation errors
5. fix errors
6. click save again

...we provided a better UI that guided people to this:
1. fill form in a rush, but still fill in required fields because "required" indicat

[2022-02-12 04:48] klonos commented on #5505
...I realize that this may bleed into some sort of inline/live/AJAXy validation (similar to the password strength indicator), but I was thinking of something more "light": it will only handle the "required" bit - not the actual (and potentially more complex) validation.

[2022-02-12 04:50] argiepiano opened #5506 "Eight core modules are never enabled during D7 migration"
## Description of the bug

While working on #5499 I discovered that there are 8 core "Backdrop-only" modules that are never enabled during migration of a D7 site. All of these are actually declared as dependencies of `standard.module`, yet they are never enabled.

- ckeditor
- date
- telemetry
- email
- installer
- link
- redirect
- views_ui

(These modules did not exist in core in D7).

Normally

[2022-02-12 04:53] argiepiano commented on #5499
While working on this issue I discovered that there are 8 core modules (all of them declared as dependencies of `standard.install`) that are never enabled during the migration. See #5506. The PR I'm creating would solve that issue too.

[2022-02-12 04:57] BWPanda commented on #4302
Thanks @klonos! PR updated.

[2022-02-12 04:58] klonos commented on #4302
Thanks @BWPanda ...the problem now is that I cannot be the one to test/review this 😅

[2022-02-12 05:01] klonos commented on #5506
The question is: should we be enabling all these modules regardless of the installation profile that was used in D7? ...is it safe to assume that the Standard installation profile should always be used for upgrades? What if the D7 site was built using the minimal profile?

[2022-02-12 05:07] argiepiano commented on #5506
Those are all good questions, @klonos. To answer some of those: these 8 modules did not exist in any core installation of D7 (neither minimal, nor standard, etc).

[2022-02-12 05:07] klonos commented on #5506
...perhaps a middle ground would be a confirmation page, where we list all these modules, along with checkboxes next to them, and allow the user to select which ones they'd like enabled.

The confirmation message could be saying something like "Hey, Backdrop now includes certain modules/features out of the box. We are about to enable them, but would like to give you a chance to have a say."

Alter

[2022-02-12 05:11] argiepiano commented on #5506
I hear you. The checkboxes sound like a good alternative, although I must say this may be difficult to accomplish during the update.php script running, as this is not a "normal" Backdrop environment.

Then there is also the fact that all 8 are required modules in the standard installation of Backdrop (they are all dependencies).  Not enabling them upon installation of a standard profile (whether i

[2022-02-12 05:12] klonos commented on #5506
Yeah, I'll give you that 🤔

[2022-02-12 05:20] klonos commented on #5506
...wondering if we could take advantage of [`hook_modules_installed()`](https://docs.backdropcms.org/api/backdrop/core%21modules%21system%21system.api.php/function/hook_modules_installed/1)? Like detect which modules have been installed vs those that haven't, and then act accordingly 🤔

[2022-02-12 05:26] argiepiano commented on #5499
I have updated the PR

- There is an informational message that tells the user that some modules had to be enabled. This includes the 8 core required modules that were not enabled during migration - see #5506
- The disabled required modules are all enabled using `module_enable()` rather than the "lighter" `update_module_enable()`. This was necessary because some of the modules need to create table

[2022-02-12 08:22] BWPanda commented on #5428
@quicksketch Is the idea that choosing "Expanded links" would then show you all links and let you select which ones should be expanded? How would the UI for this look (considering some menus can be quite large...)?

[2022-02-12 10:55] BWPanda commented on #2830
@quicksketch I can't replicate this... I can create an image style with a space at the end of the name, but it saves fine with no errors. I suspect it may be to do with the machine name, as that's saved without a space. But even if I try to manually add a space to the end of the machine name, I get this error:

Can you still replicate this, or has it already been fixed?

[2022-02-12 13:48] indigoxela commented on #5480
Tests are passing.

The access method now takes over the job, file_access is a wrapper plus takes care of the optional $file param. It may still be a little early (I'll re-review my own code after a little pause, especially re the 'create' op), but an additional pair of eyes would be great.

[2022-02-12 14:57] argiepiano commented on #5480
Thanks, @indigoxela. I can review and test probably tonight or tomorrow.

[2022-02-12 15:16] klonos commented on #5499
Thank you for working on this @argiepiano 🙏🏼

Can we please make the modules in the message a proper `<ul>` list (using `theme_item_list()`), and have the human-readable names of the modules there?

[2022-02-12 15:31] bugfolder commented on #5503
This issue happens when setting up Ubercart for the first time, so it will be great to get this addressed.

[2022-02-12 18:27] VasasA commented on #3646
Wrong closing. Sorry.

[2022-02-13 03:58] klonos opened #5507 "Provide an option to customize text for the "required" indicator and validation error for fields."
In #5348 I've been working towards custom form validation errors for required Form API elements via a `#required_error` property. I believe that we should also allow people to customize the default "This field is required" text added to the "required" indicators (red asterisks) for fields added to content types and other entities:

![image](https://user-images.githubusercontent.com/2423362/1537378

[2022-02-13 04:02] klonos commented on #5507
...what I'm trying to say is that #5348 is a developer feature, on the Form API level. This feature request is to expose the same functionality to non-coder site builders in the admin UI.

[2022-02-13 04:10] klonos opened #5508 "[UX] Indicate required fields in the "Manage fields" and "Manage displays" pages"
This is effectively a request to implement the same functionality as https://www.drupal.org/project/required_field_display in core. It should be a very minimal yet also very helpful change:

![image](https://user-images.githubusercontent.com/2423362/153738242-fd4d8307-3bb3-43f9-ac90-c75ec723a01b.png)

[2022-02-13 06:24] klonos commented on #5508
PR up for review: https://github.com/backdrop/backdrop/pull/3960

- `admin/structure/types/manage/%/fields`:
  ![image](https://user-images.githubusercontent.com/2423362/153741106-62e114a5-fa16-4905-8f0f-d76dda2068e5.png)
- `admin/structure/types/manage/%/display/%`:
  ![image](https://user-images.githubusercontent.com/2423362/153740328-20962134-f327-4879-a9f2-e1e7003b4633.png)
- `admin/reports/fi

[2022-02-13 06:37] klonos commented on #5508
Things to note:
- The PR adds a new `'required'` option (optional) to the variables passed to `theme_label_machine_name()`. Do we need a change record (and an `@since` in the docblock) for this?
- I though that this new `'required'` option may be useful to other things, so I've added it to the existing theme function in `system.theme.inc`. Should it be added to a `theme_label_machine_name_node_fie

[2022-02-13 07:26] klonos commented on #5503
The current PR works great for vertical tabs, both when rendered in their "full" form as well as when they are collapsed into regular fieldsets (fallback for when viewed in narrow screens). But:

- The current implementation is done in `core/misc/vertical-tabs.js`, which means that we need to check how things work in situations where JS has been disabled.
- The above also means that "regular", non

[2022-02-13 09:37] indigoxela commented on #5480
@argiepiano that's great!

The diff may be a little hard to understand, as I moved code around. Three functions are involved:

- [function file_access](https://github.com/indigoxela/backdrop/blob/7f8044853bc640db53746f8d28e348ed17dbf9ce/core/modules/file/file.module#L2797)
- [function file_file_access](https://github.com/indigoxela/backdrop/blob/7f8044853bc640db53746f8d28e348ed17dbf9ce/core/module

[2022-02-13 11:40] BWPanda commented on #206
PR updated with @klonos' suggestion for making `module_load_include()` a wrapper for `backdrop_load_file()`.

I suggest moving the `form_load_include()` discussion to a follow-up issue.

[2022-02-13 11:42] BWPanda commented on #206
Note that the link to the change record doesn't exist yet, so the record needs to be created just before we merge this, then the PR updated with the actual link.

[2022-02-13 14:13] klonos opened #5509 "Be consistent with the style of details summaries and fieldset legends"
While working on #5503, I noticed that fieldset legends have `text-decoration` on hover, while the summary link on `<details>` has no underline on hover.

We should be consistent with this, so either remove the underline from fieldsets, or add it to details.

* `<fieldset>` element: See "Administration" (or any other project group) on the page at `admin/modules/list` uses http://backdrop.local/cor

[2022-02-13 14:41] klonos commented on #5503
...PR updated to support "free-standing" fieldsets and `<details>` elements besides vertical tabs:

![image](https://user-images.githubusercontent.com/2423362/153757884-08d83aca-c074-472a-aaf1-2dc19d4d66c2.png)

<img width=50% src="https://user-images.githubusercontent.com/2423362/153757931-c219b215-4d2c-4854-b950-5fa4b86a07af.png">

PS: I've introduced a new `_element_has_required_children($eleme

[2022-02-13 15:31] argiepiano commented on #5506
I need feedback, please.

I did some further checking regarding these 8 disabled core modules when migrating a Standard D7 install. Although these modules are marked as dependencies in Backdrop's `standard.info`, you can still manually disable them in a normal Backdrop standard install without any disastrous results.

So, I'm wondering if leaving those 8 disabled after migrating a barebones D7 sta

[2022-02-13 17:49] argiepiano commented on #206
A couple of quick comments:
- I believe the word 'include' in `module_load_include` makes it easy to relate this function to PHP's `include_once`, which is a staple of PHP. In some ways `module_load_include` is an extension of  `include` and `include_once`. So, I'm wondering if it would make sense to call the new function `backdrop_include_file` instead of `backdrop_load_file`. Personally, with th

[2022-02-13 18:53] klonos commented on #206
I like that suggestion 👍🏼

[2022-02-14 01:46] argiepiano commented on #5480
@indigoxela thank you for providing this PR. It's looking great. I added a few comments (and questions) in the PR itself. Feel free to respond here so that others can also comment.

[2022-02-14 01:51] argiepiano commented on #5480
Regarding your question in the PR whether we should use __METHOD__ or the name of the old function where the `backdrop_static()` was originally user: I don't know. I'm inclined to say __METHOD__. I don't see any instance of `backdrop_static_reset('file_access')` anywhere in core of the contrib modules in backdrop-contrib. I guess it's possible that someone's custom module may use it, in which case

[2022-02-14 07:12] indigoxela commented on #5480
@argiepiano many thanks for taking a look. I answered your questions/concerns in PR comments.

There is one in core, although only in the functional test (file.test). However, there could be implementations in contrib or custom modules, so it doesn't seem safe to me to change the static cache name. I could get convinced that it's safe, but am rather cautious.

[2022-02-14 07:52] indigoxela commented on #5506
I suspect, that's the case. Think of CKEditor - if it wasn't enabled on a D7 site, it was probably by intention. In this case enabling it on upgrade doesn't make much sense. If on the other hand the wysiwyg module was in use (with ckeditor library), then enabling could make sense.

Another example: the installer. I don't see a real reason to not enable it. Date, link, email? Maybe not. Redirect? N

[2022-02-14 16:08] indigoxela commented on #5480
I also had some questions and posted them on the PR next to the related code. Is anyone able to answer?

[2022-02-14 21:25] catorghans commented on #3903
This works:

`# Redirect common PHP files to their new locations.
RewriteCond %{REQUEST_URI} ^(.*)?/(update.php) [OR]
RewriteCond %{REQUEST_URI} ^(.*)?/(install.php) [OR]
RewriteCond %{REQUEST_URI} ^(.*)?/(cron.php)
RewriteCond %{REQUEST_URI} !core
RewriteCond %{REQUEST_URI} !civicrm
RewriteRule ^ %1/core/%2 [L,QSA,R=301]`

[2022-02-14 21:51] herbdool commented on #3903
@catorghans thanks for this - this might help anyone who wants to edit their own .htaccess file. Though changing core, we'd need to find a way to fix this without making the fix specific to any one non-Backdrop application. So it can't mention civicrm.

[2022-02-14 21:54] catorghans commented on #3903
Well, I do think civicrm is not yet another app for backdrop, but I see your point. It should be more specific.
But I see the reason for ending with cron.php etc, because backdrop can start from a subdirectory, so we can not do ^/cron.php

[2022-02-15 01:11] klonos commented on #5077
I really like where this is going! Thank you @bugfolder 🙏🏼

I would like us to do the following please:
- Provide another button in the confirmation form, that disables the layout instead of deleting it.
- Change the message to somethings like this: `Deleting this layout will permanently delete the page at /%path. This action cannot be undone. If you are unsure, then consider disabling the layout

[2022-02-15 02:49] jenlampton commented on #5077
@klonos Can you move your suggestions into follow-up issues if they are not directly applicable to the current PR? Disabling a layout might be considered a new feature, and may need additional tests added. This is just a UX cleanup task as it is now so I wouldn't want to block its progress :)

[2022-02-15 10:04] BWPanda commented on #4739
Here's a PR, though I'm not sure it works... Don't know exactly how to test this either. Just putting it here so it's not lost, and so maybe others can help with it if possible...

https://github.com/backdrop/backdrop/pull/3824

[2022-02-15 10:22] stpaultim commented on #4903
As you know, I'm pretty swamped, but I do want to get this issue complete.

I like your changes @olafgrabienski and will try to update the PR as soon as possible. If anyone else has time to take over this PR, please feel free. I expect I can get to this in 1-3 days, if I don't sleep much (which I won't).

[2022-02-15 12:44] klonos commented on #4739
Code looks good @BWPanda thanks 🙏🏼

Pinging some others that come to mind for a code review and pair of 👀  @backdrop/core-committers @indigoxela

[2022-02-15 15:38] AlexHoebart-ICPDR opened #5510 "Support for secondary non-MySQL databases"
## Description of the bug

I understood that Backdrop core only works on MySQL, but the documentation suggests that it is still possible to "connect to non-MySQL databases for specialized applications, such as using PostgreSQL for spatial searches or querying a corporate MS SQL server" (see https://docs.backdropcms.org/documentation/database-configuration#other-databases). But it does not work.

#

[2022-02-15 17:11] klonos commented on #5510
Yeah, AFAIK the database abstraction layer was removed from Backdrop, and we only support MySQL/MariaDB. If you need support for other databases, then [Silkscreen](https://www.silkscreencms.org) is the way to go.

If there's any place in our documentation that says that other databases are supported, then we should fix (remove) that.

[2022-02-15 17:13] klonos commented on #5510
@AlexHoebart-ICPDR https://docs.backdropcms.org/documentation/database-configuration#other-databases means to say that you can connect to _additional_ non-MySQL databases for other purposes - NOT as the main database for a Backdrop site to be installed on. Sorry if that was not clear.

[2022-02-15 17:36] AlexHoebart-ICPDR commented on #5510
@klonos it seems you did not read my post completely: I did not say I want to achieve non mysql database as main Backdrop database.

So, is the documentation wrong or not?

Related to Silkscreen: why is this done only in a fork of the fork? why not directly in Backdrop? Anyway, I have no problem with installing Backdrop in MySQL or MariaDB - it can easily live together with PostgreSQL.

I can also

[2022-02-15 17:46] bugfolder opened #5511 "Add more explanation and options to layout deletion confirmation form"
This is a follow-up to https://github.com/backdrop/backdrop-issues/issues/5077, collecting some suggestions made in that issue about the confirmation page for the "Delete Layout" action (function `layout_delete_form()` and its processing). Suggestions from that issue:

* If the layout creates a page AND it's the last layout with that path, on the confirm form, add "Warning: the page at path mypage

[2022-02-15 17:46] bugfolder commented on #5077
The current code for `layout_delete_form()` suggests that we can:

[code]

I'll echo @jenlamption's suggestion that we move the addition of the disable button to a follow-up issue, and will suggest that the change of warning message to suggest disabling also should happen there.

And I'll add a further suggestion for that follow-up: that in addition to checking whether for layout-created pages thi

[2022-02-15 18:31] bugfolder commented on #5511
Thinking about the last bullet: what should happen if the user attempts to delete a page-creating layout whose path has been used for the home, 404, or 403 pages. on `admin/config/system/site-information`.

My thought is that we should put up a warning message on the deletion form informing them of the issue and linking to `admin/config/system/site-information` and disable the submit button; basic

[2022-02-15 18:58] bugfolder commented on #5511
I did a search for "Are you sure" throughout core to see if these types of questions are presented as warning messages or as the `$question` argument in `confirm_form()`. I find it to be the latter case in (partial listing):

* `field_ui.admin.inc`
* `file_admin.inc`
* `file_pages.inc`
* `filter_admin.inc`
* `image.admin.inc`
* `language.admin.inc`
* `locale.pages.inc`
* `menu.admin.inc`
* `node.a

[2022-02-15 19:28] klonos commented on #5511
Thanks @bugfolder for splitting all these suggestions from #5077 into this separate follow-up 🙏🏼

[2022-02-15 19:32] klonos commented on #5077
Thank you @bugfolder 🙏🏼 ...all that makes absolute sense of course.

[2022-02-15 20:01] BWPanda commented on #5510
See:
- https://github.com/backdrop/backdrop-issues/issues/278
- https://github.com/backdrop/backdrop-issues/issues/279
- https://github.com/backdrop/backdrop-issues/issues/61
- https://github.com/backdrop/backdrop-issues/issues/48

[2022-02-15 21:12] bugfolder commented on #5511
OK, this is going to need some automated tests for all the possible checks, but before I go adding those, I'd like to get feedback on the current PR and behavior.

In particular, if we're deleting the last layout-created page for a path, and that path is used has home, 403 or 404 page, I'm currently just disabling the delete/disable buttons, but leaving them visible. Should they be removed entirel

[2022-02-15 21:33] AlexHoebart-ICPDR opened #5512 "Fixed: Views hooks are not invoked without a defined `path` in `hook_views_api()`."
## Description of the bug

According to documentation of **hook_views_api**, the **path** parameter is **_optional_**, see https://docs.backdropcms.org/api/backdrop/core%21modules%21views%21views.api.php/function/hook_views_api/1

However, if it is not specified in the hook, it is not set at all and consequently the hook is not invoked as it should be.

## Steps To Reproduce

1. Define a **hook_vi

[2022-02-15 21:50] AlexHoebart-ICPDR commented on #5510
I just want to emphasize that I do not question the dropping of support of installation of Backdrop in non MySQL databases.
However, I think it is not very wise to completely cut the possibility to connect to other external databases in contrib or custom modules.
I looked into Silkscreen and after some digging found their pgsql driver (well hidden), dropped it into Backdrop and voilá: I could conn

[2022-02-15 21:57] herbdool commented on #3903
@catorghans even if the site was installed in a subdirectory, wouldn't the .htaccess still be in the subdirectory too? I can't recall exactly how that works.

At any rate maybe there's a way to take one level of subdirectory without including civicrm's cron. I think this would work: `^(.[^\/]*\/){1,2}(cron.php)`. It includes `/cron.php` and `/subdirectory/cron.php` but ignores `/modules/civicrm/bi

[2022-02-15 22:13] herbdool commented on #5510
Looks like we need to either 1) update the documentation with an example that actually works, 2) update the documentation to say it isn't supported, or 3) include a driver to make it work.

I'd be interested in 1) if there's any other standard way to query a Postgres database. And would that mean using PDO directly and setting up a connection in a different way?

[2022-02-15 22:51] bugfolder commented on #4839
Just noting for reference: we can use `#ajax` to realize the dynamically-updating text. For the expanding/collapsing example details, use the technique in https://github.com/backdrop/backdrop-issues/issues/5090 once it is merged (so that issue is something of a blocker for this one).

[2022-02-15 22:53] bugfolder commented on #5090
So the conclusion is that we will live with the blue/gray underline, squashed into a flat line between the toggle words and the toggled stuff? This is a really useful idiom, so I suspect it will get used a lot (e.g., https://github.com/backdrop/backdrop-issues/issues/4839).

[2022-02-15 22:57] stpaultim commented on #5510
I flagged this as a possible topic for discussion at next DEV meeting.
https://forum.backdropcms.org/forum/feb-17th-weekly-meeting-agenda-items#comment-3814

[2022-02-16 00:21] klonos commented on #5090
We might be able to get rid of it @bugfolder ...I'm sure that there is a CSS trick out there - just didn't have the time to research/test further.

[2022-02-16 01:00] bugfolder commented on #5090
Is is possible to put a class on the `<summary>` element only when the toggle is used inline at the end of a line? Then it could be removed via CSS in those circumstances where it would be squashed to a line, but allowed to show when it's mimicing a fieldset?

[2022-02-16 02:35] bugfolder commented on #5090
How about basing the outline on whether there's a custom more/less toggle? Suggested alteration in the PR for form processing and CSS.

[2022-02-16 06:33] catorghans commented on #3903
Yeah, I was trying to find how .htaccess can find files in #current# directory. Have failed sofar.
Your  proposal then would make this the only reason backdrop can not be installed in
/public_html/dir/subdir/subsubdir/backdrophome

Probably very rare, but still, hard to explain what happens then and why.

Finding "current" dir in .htaccess would be the best imo.
And if not possible.... move this t

[2022-02-16 08:38] indigoxela commented on #5512
Hi @AlexHoebart-ICPDR, I just verified the problem with a module I maintain (realname). Heck, how could we miss that?

Mind to file a pull request? Are you familiar with GitHub forks and pull requests, or do you need any guidance. If so, please let us know.

[2022-02-16 10:07] AlexHoebart-ICPDR commented on #5512
I'm still in phase of finding out if Backdrop is usable for my projects. If it is, I will have to get more familiar with GitHub and will do the pull request. However, if you would like to get that fixed soon, I would appreciate if somebody could just add my snippet of code to the right place as indicated in my post.

[2022-02-16 10:48] indigoxela commented on #5512
@AlexHoebart-ICPDR  I'm confident, it is. :smiley:

You'll get all the help you need.
To not put you under pressure in the evaluation phase, I'll take over the task here, no problem.

[2022-02-16 11:13] indigoxela commented on #5512
A [PR](https://github.com/backdrop/backdrop/pull/3963) is available for testing and review.

I decided to put the fallback for the optional (as documented!) path into function views_module_include() instead. However, there's an open question based on the function comment:

[code]
@quicksketch do you happen to remember, what the initial plan to handle file inclusion was? It doesn't only affect core

[2022-02-16 12:17] AlexHoebart-ICPDR commented on #5512
Thanks @indigoxela for taking this over and preparing the pull request. I can confirm that your, slightly different, approach also solves the issue in my use case.

I'm not sure about Backdrop, because of the small community and related sustainability (compared to Drupal 9) - I'm coming from Drupal 7 and I would have a lot of custom modules to be ported and probably would need to port some other c

[2022-02-16 12:36] indigoxela commented on #5512
We hear that "small community" argument regularly - it's a hen-and-egg problem. One important note: the community is constantly growing. It may not be huge, but it's vibrant and welcoming.

Regarding sustainability: aren't more than seven years of constant work convincing enough? :wink:

The upgrade path is still work in progress. It needs people to report problems to be able to fix and improve. S

[2022-02-16 15:22] laryn commented on #5512
Setting to WFM based on @AlexHoebart-ICPDR report. Code looks good to me but I'll leave as needs code review since there's an open question:

[2022-02-16 15:51] klonos commented on #5512
I'll leave it to @quicksketch to actually respond, but looking at [the respective function in Views 7.x](https://api.drupal.org/api/views/views.module/function/views_module_include/7.x-3.x), I'm assuming that this `@todo` has to do with moving away from the CTools dependency in a more performant/appropriate way. Perhaps the current form of the function in Backdrop was a "quick 'n' dirty" solution

[2022-02-16 18:06] jenlampton opened #5513 "Backdrop 1.21.2 Release checklist"
Release scheduled for MM DD, 2022 11am - 1pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Create the next bugfix milestone @klonos
- [x] Move all unfinished issues to the next bugfix release milestone @klonos
- [x] Review all closed issues in milestone: @klonos
  * Issue titles should include a complete, but very brief summary of the problem.
  * Issue titles sould be in comple

[2022-02-16 18:07] jenlampton opened #5514 "Backdrop 1.20.5 Release checklist"
Release scheduled for MM DD, 2022 11am - 1pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Draft Release notes @jenlampton
  - [x] Include a short, descriptive summary of the release, for example:
      * "Security release for Backdrop CMS. This release fixes 1 security vulnerability:"
      * Include a list of SA's for commits to this release
  - [x] Include a section containin

[2022-02-16 19:19] quicksketch commented on #5514
https://github.com/backdrop/backdrop/releases/tag/1.20.5 is cut.

No changes other than the security patch.

[2022-02-16 19:23] klonos commented on #5514
I've marked as a security release in b.org 👍🏼

[2022-02-16 19:26] jenlampton commented on #5514
hold onto those horses...  :)

[2022-02-16 19:26] quicksketch commented on #5513
The tag for https://github.com/backdrop/backdrop/releases/tag/1.21.2 is now cut.

[2022-02-16 19:29] jenlampton commented on #5513
Release notes draft:

---

Security release for Backdrop CMS. This release fixes 1 security vulnerability:

* [BACKDROP-SA-CORE-2022-001](https://backdropcms.org/security/backdrop-sa-core-2022-001)

**Notes for updating:**

- No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
- Th

[2022-02-16 19:29] jenlampton commented on #5514
Release notes draft:

---

Security release for Backdrop CMS. This release fixes 1 security vulnerability:

* [BACKDROP-SA-CORE-2022-001](https://backdropcms.org/security/backdrop-sa-core-2022-001)

**Notes for updating:**

- No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
- Th

[2022-02-16 19:35] quicksketch commented on #5513
Update.php _does_ need to be run this release, due to https://github.com/backdrop/backdrop-issues/issues/5035.

[2022-02-16 19:42] jenlampton commented on #5514
https://github.com/backdrop/backdrop/releases/tag/1.20.5 is out!

[2022-02-16 19:42] #5514 closed

[2022-02-16 19:48] jenlampton commented on #5513
https://github.com/backdrop/backdrop/releases/tag/1.21.2 is out!

[2022-02-16 20:54] bugfolder commented on #5504
Code looks good. Add "Fixes " to the first comment in the PR.

[2022-02-16 21:28] olafgrabienski commented on #5484
Nice! Tested in the sandbox, works for me.

[2022-02-16 23:56] quicksketch commented on #5510
Thanks @AlexHoebart-ICPDR for the report and summary.

Looking at `Database::openConnection()` in `database.inc`, I can't fathom how the documentation would have been correct. It's possible that the original documentation was written when we decided to support only MySQL _in policy_ but before we removed the PGSQL and SQLite implementations.

I don't think there's any way in core currently to make

[2022-02-17 02:53] bugfolder commented on #5504
Here's a test where I would have expected it to work but it doesn't.

* Go to `node/add/page`.
* Enter a title and body.
* Click on "Authoring information" and enter "foobar" as the "authored by" name.
* Click "Save".

We do get the error "The username foobar does not exist" properly, but the selected vertical tab is "Publishing actions," not "Authoring information," as here:

![test](https://user

[2022-02-17 02:58] bugfolder commented on #5504
I do find that it works for the scenario described above: visit `admin/structure/types/manage/page` and leave the comments per page blank.

If I leave out two required fields ("Title field label" in the first tab, "Comments per page" in the last tab), both missing fields are reported and the first tab with an error is selected (which seems appropriate).

[2022-02-17 04:51] klonos commented on #5504
That's right. And no, you are not expecting too much - any `:invalid` non-required field should also work. I'll adjust the PR and let you know when ready for another round of testing.

[2022-02-17 04:54] klonos commented on #5504
During the Office Hours meeting today, I thought that perhaps we should somehow be indicating other "problematic" tabs too. I'll have a think about it and see if I can come up with something that works nicely.

[2022-02-17 04:58] klonos commented on #5510
...and by "Pressflow", I'm sure that @quicksketch meant "Silkscreen". I actually think that we should consider updating our official documentation and link to Silkscreen if non-MySQL connections is what people are after. Silkscreen is a "friendly" in-place replacement/fork, so we should be fine 😉

[2022-02-17 05:02] klonos commented on #5484
Code looks good too 👍🏼

[2022-02-17 06:24] herbdool commented on #5510
@klonos I agree. That will resolve this issue. The bug is actually the documentation. @AlexHoebart-ICPDR I know this is not your preferred resolution but if you'd like Backdrop to support other DBs instead of using Silkscreen I recommend opening a new feature request issue.

[2022-02-17 09:53] olafgrabienski commented on #4903
As of today 9 people expressed their preference: four voted for photos, and five voted for icons. That's not a big difference. I'd suggest however to use icons for the time being, e.g. in the next PR. Apart from individual preferences, the icons have two advantages: they are much smaller in file size, and they have been created by one of us (more easy to give credit in an uncomplicated way).

[2022-02-17 10:13] AlexHoebart-ICPDR commented on #5510
Related to the documentation, if I may suggest, you could replace the current section "Non MySQL Databases" with two sections:

**1. External MySQL Databases**
This still works in Backdrop as in Drupal 7, nicely described e.g. here: https://www.webomelette.com/how-connect-external-databases-your-drupal-7-site

Please consider that being able to connect to external databases opens a lot of use case

[2022-02-17 10:17] olafgrabienski commented on #4903
Attaching the icons as PNG files, I've 'tinified' them a bit. – [card-icons-tinified.zip](https://github.com/backdrop/backdrop-issues/files/8087734/card-icons-tinified.zip)

Idea: can and should we use SVG files? Not sure if they're supported im image fields. Advantage: the colors could be adapted via CSS. Or just use icon images without background color and define the background via CSS?

[2022-02-17 10:36] indigoxela commented on #5510
I agree with that.

Re Silkscreen and https://github.com/silkscreencms-contrib/database_pgsql

Wow, I wasn't actually aware of that, either. I wonder what @jlfranklin thinks about providing it (also) in backdrop-contrib?
PostgreSQL may not be an 80% use-case in Backdrop (core), but having it available in contrib might be a big win.

[2022-02-17 11:10] indigoxela commented on #4903
@olafgrabienski if you need a different format or whatever modification (scaled?) of the images, just let me know. I have them as svg.

We can't use them in image fields, though. And we also couldn't use webp images (smaller size), as we can't assume they're supported on all servers (php/gd version).

Keep in mind: If Basis needs CSS to let them look good, then *all* themes need additional CSS to

[2022-02-17 12:31] klonos commented on #4083
I'll need to revisit this. Hope to do so soon.

[2022-02-17 13:15] olafgrabienski commented on #4903
Thanks @indigoxela, and agreed: let's stick with PNG.

Regarding different format, I think 800 x 533 px would be good. In my demo site I've created a Card image style `Scale and crop 800x533` for sharp images also on high resolution displays and with different screen sizes. Works good in Basis because of `max-width: 100%` and `height: auto` for images. Hm, wait, can we assume that most other theme

[2022-02-17 13:32] indigoxela commented on #4903
We can't. We should either use "original", or one of the default core styles, like "Large". If people use different images, they'll very likely have to create a custom image style, but that's not our task here, right?

We'll check the other themes, too.

[2022-02-17 14:07] indigoxela commented on #4903
@herbdool mind you explain that? Why should images, that can not be larger than the surrounding block level element look bad? Max-width 100% is an essential part of responsive images and nowadays state-of-the art in themes.

[2022-02-17 20:04] klonos commented on #3824
@jenlampton things look really good now, but tests are failing.

[2022-02-17 20:18] jenlampton commented on #3824
okay, I've rebased and pushed a new PR. If tests are still failing I'll dig back in deeper :)

[2022-02-17 23:27] argiepiano commented on #5499
Thanks, @klonos. The current PR does that (I'm aware of your suggestions in terms of formatting the notice with bullets - I'll get to that soon).   I also need to take a look at the failing tests with this PR to see what's going on.

I am also interested in creating an alternative PR that shows a form with checkboxes, which is more or less what @docwilmot  suggested above.  I hope to work on this

[2022-02-18 03:26] kswan opened #5515 "[UX][D9] Unfiltered Text area (multiple rows) doesn't allow line breaks in spite of being labeled "Plain text""
## Description of the bug

When using a multiline (text area) field with plain text processing, it is expected that line breaks will apply to the rendered page, but they don't. Drupal 8/9 inserts `<br />` tags.

## Steps To Reproduce

1. Add a field with a "Text (long)" field type and "Text area (multiple rows)" widget.
2. Set the Text processing to "Plain text"
3. Create content using the new fie

[2022-02-18 04:04] BWPanda commented on #599
Removing myself as advocate as I don't think I'll be getting back to this anytime soon. Happy for anyone else to take over.

[2022-02-18 07:41] klonos commented on #4302
FTR, while discussing #5503 and #5504 during the dev meeting today, @jenlampton suggested that we should generally be providing sensible defaults for required fields that are "hidden" inside vertical tabs (to ensure that validation errors do not happen in the first place). I could not think of a good default for the revision message field, but @jenlampton suggested a default like "Updated on [date

[2022-02-18 07:52] klonos commented on #4302
Yup, that is the UX issue I'm trying to address with #5503. Even if content editors chose to keep ignoring the vertical tabs that have "required" indicators (because they expect default values to have been added by the developers), we then have #5504 which will focus the vertical tab(s) that need attention.

[2022-02-18 07:59] indigoxela commented on #4302
@BWPanda I'm late here, I know, but why does this have to go into core? It's contrib in D7, with only 288 installs.

If we merge it into core, we probably also have to take care of the migration path: variable to config, mark that module as "merged into core"... Should the PR also cover that?

[2022-02-18 08:31] BWPanda commented on #4302
I disagree with the idea of giving this a default value. As stated above, it defeats the purpose. If @jenlampton is adamant that we can't put required fields into vertical tabs*, then I guess the only option is to move this field out of the vertical tab...

* However, based on the discussion in the meeting, it seems (and Jen even admitted) that she was in the minority. The majority of us thought y

[2022-02-18 10:37] klonos commented on #4302
Disclaimer: I'm on the "majority" camp on this.

I wanted to clarify that the UX problem is not "putting required fields in vertical tabs or collapsed-by-default fieldsets" - that is absolutely fine. The actual problem manifests itself **_when such fields do not have a default value set_**.

[2022-02-18 10:51] indigoxela opened #5516 "Outdated documentation regarding entity label callback"
## Description of the bug

If one reads this https://docs.backdropcms.org/api/backdrop/core%21modules%21entity%21entity.module/function/entity_label/1, one might think that "label callback" actually exists. But it doesn't. Try to implement it in a hook_entity_info_alter() – it never runs.

Grepping through code, there seem to be some leftover "label callback" mentions.
[code]
That the doc block st

[2022-02-18 11:07] indigoxela commented on #5516
Aha! It DID happen by intention: https://github.com/backdrop/backdrop-issues/issues/164

In case, someone's interested, what the trigger for this debug journey was: https://github.com/backdrop-contrib/i18n/issues/65

[2022-02-18 22:50] laryn commented on #5510
If it's a small core change that doesn't increase core maintenance, with no effect on the standard use of Backdrop, and we have folks interested in this added functionality for contrib, I'd be for it.

[2022-02-18 23:09] kswan commented on #5515
I should clarify that this issue is related to Plain text _processing_ not the Plain text _format_.

[2022-02-19 00:17] jenlampton commented on #4302
I am certain that nearly all Drupal developers were never told why vertical tabs were added to core, or even explained the various problems that were being solved by adding them.  Developers have been using them however they like ever since, and the abuse of vertical tabs is something that I have a very strong personal distaste for (as was obvious by my reaction to the other issue) mostly because

[2022-02-19 06:54] jenlampton commented on #5151
Rebased against the latest 1.x, and patch still being applied to b.org.

[2022-02-19 10:05] indigoxela commented on #5515
@kswan many thanks for taking the time to file a pull request.

However, I don't agree with your approach. I adds processing that belongs to filters (formats) to a function that's only supposed to do sanitizing. With nl2br() you turn it into html, but it's supposed to be plain text.
If you need a format, you're supposed to add a filter that does what you need.

[2022-02-19 10:44] indigoxela commented on #5515
Here's some explanation of what I think you misunderstood.

There's a "plain text" processing format, but you can not choose that in the select list. (Questionable, but that's how it is in B...)

![only-fallback](https://user-images.githubusercontent.com/842066/154797516-8341dea7-efa2-48ec-b559-8668426eecf4.png)

If you want a format with line breaks (as html), you have to create a custom one whic

[2022-02-19 11:26] BWPanda commented on #5515
@kswan I suggested opening an issue for this when you said Drupal did things differently, but I tested this on one of my D7 sites, and it appears to work the same as Backdrop...

![image](https://user-images.githubusercontent.com/2385329/154798854-b8b59e30-50ae-4fff-8c66-874dc8874b71.png)

![image](https://user-images.githubusercontent.com/2385329/154798862-8cec2e86-d46c-4981-96f2-fb6b664027e9.png

[2022-02-19 17:08] kswan commented on #5515
@indigoxela, I agree that the Plain text processing setting is actually a format with less markup than the Plain text format.

My main argument for this change is that a multiline field with plain text processing is counter intuitive to most users. Also, I want to control a field to multiline plain text content (only br tags), but currently the only options are no tags (unusable as a multiline fie

[2022-02-19 17:12] catorghans commented on #3903
current-dir in .htaccess I did not find.

I now think excluding "modules" is a proper solution
`RewriteCond %{REQUEST_URI} !modules`

Any custom/contrib module in either /modules or /sites/[site]/modules can then have it's own cron.php/update.php/install.php
wdyt?

[2022-02-19 18:35] BWPanda commented on #5515
https://github.com/backdrop-contrib/preferred_text_format

[2022-02-19 20:47] BWPanda commented on #5510
I don't see this as a bug.

[2022-02-20 00:24] jromine commented on #3360
Echoing @stpaultim's comment that just now _I went to check which version of CKEditor that we are using in core_ and had to dig through the ckeditor.module file to find it, and would very much like to see this merged.

[2022-02-20 09:47] indigoxela commented on #5515
@kswan core lets you set the default, but doesn't _enforce_ it by default. There are contrib modules for that. @BWPanda already mentioned preferred_text_format, but you might also want to have a look at [simplify](https://backdropcms.org/project/simplify).

The confusing thing might be that the *format* Plain text (which isn't selectible via dropdown) seems to do the same as no processing at all (

[2022-02-20 09:51] indigoxela commented on #5510
@BWPanda it's a documentation bug. The example given is simply wrong and won't work, which causes frustration. We should fix documentation. OR provide the ability to actually use other db types without hacking core. The latter can be seen as feature request (with some BC impact).

[2022-02-20 10:03] BWPanda commented on #5515
Ha ha, both my modules! 😄

[2022-02-20 10:05] BWPanda commented on #5510
Sure. That's why I left the `type - documentation` tag and removed the `type - bug report` one.

[2022-02-20 10:07] indigoxela commented on #5480
Seems a little difficult to get feedback from core committers on this one.

Let's proceed with testing instead.

How to test:

- It should be possible to do testing via the Tugboat sandbox and the Devel module, hook_file_access needs an implementation, though
- Create a user or several users with different roles/permissions
- Create some files
- Check access via file_access *and* File::access - th

[2022-02-20 12:40] indigoxela opened #5517 "Is there a way to standardize the various *_access wrapper functions for core entities?"
What we currently have:
[code]
(Function user_access does something different and rightly has different params.)

Not two of those specific entity access functions use the same parameter handling. I'm aware that all this code has grown over time, but wasn't there a base concept initially? If so - what did it look like? And most of all - would it be possible to standardize?

Here some more specific

[2022-02-20 20:17] bugfolder commented on #1602
I've been pondering this topic for a while. What I'd envisioned (and hope to work on) is adding a new field to layouts, named something like "URL paths", that, like visibility paths, can accept any combination of text and `*`'s and can match either normal paths or URL aliases (with some exceptions, see below). The idea being that this field behaves just like the "URL paths" field of block and layo

[2022-02-20 20:44] herbdool commented on #3903
Sure that seems reasonable.

[2022-02-20 22:21] jlfranklin commented on #5510
@AlexHoebart-ICPDR says:

That's a fair criticism.  The Silkscreen documentation can and should be updated to make it easier to deploy a site that talks to PostgreSQL, either as the primary or as a secondary database.

[2022-02-21 06:02] argiepiano commented on #5499
I have modified the PR  as follows:
- The user is informed of modules that will be enabled BEFORE they are enabled. This is included together with the "info" screen that is shown before the updates
- The modules are enabled right before the list of updates is shown, before the user proceeds with the update

As before, the automatic enabling ONLY happens if we are migrating from D7.

Regarding the

[2022-02-21 06:04] argiepiano commented on #5499
This is a partial screenshot of the "info" screen with the list of modules needed to be enabled.

<img width="706" alt="Screen Shot 2022-02-20 at 11 03 32 PM" src="https://user-images.githubusercontent.com/9938978/154898220-c0265c50-221a-4a13-a785-26db5af811e4.png">

[2022-02-21 06:04] stpaultim commented on #5510
I tend to agree that a if the documentation is actually telling people something that is wrong, that is a bug in our system. Simply marking something as documentation does not convey any sense of urgency. If we have information that is incorrect and frustrating users, I think it should be tagged in a way that conveys that urgency.

[2022-02-21 08:39] indigoxela commented on #5517
An alternative would be to create new methods in all core entity classes to check access without an entity given (globalAccess() or accessAllBundles()...).

This has been discussed in  #5474 to provide a way for entity_access to do checks independently from an existing entity. If a user has permission to bypass access control, or to do the operation on any type/bundle, anyway, an entity isn't nece

[2022-02-21 09:27] AlexHoebart-ICPDR commented on #5510
Thanks for all your considerations. Just one more note on this:

The driver path in Backdrop code still includes the driver name, so e.g. pgsql driver needs to be in core/includes/database/pgsql - that's still the same logic as in Drupal7, it still works in Backdrop. Installation of a driver might not be possible with the installer - it's not a module (although there might be an accompanying modul

[2022-02-21 21:30] kswan commented on #5515
@indigoxela  and @BWPanda I appreciate your suggestions.

I still believe this issue and PR are valid and should be committed. Drupal 8 and 9 implement this behavior and Drupal 7 probably would except the Drupal community had moved past Drupal 7 by the time the behavior was addressed. Also, I don't follow @indigoxela's use case for a "one-liner" using a "Text area (**multiple rows**)" instead of a

[2022-02-21 23:02] echozone opened #5518 "Error opening socket ssl://updates.backdropcms.org:443"
Checking available updates results in: "Failed to get available update data"

Logs report:
HTTP request to https://updates.backdropcms.org/release-history/[LISTS_MODULE_OR_CORE]failed with error: Error opening socket ssl://updates.backdropcms.org:443.

On two local BD versions of the site, update data is working normally, but I just put an installation on a remote subdomain for further testing, wi

[2022-02-22 02:48] bugfolder commented on #5499
I set up a D7 installation with Rules enabled, then set up a Backdrop upgrade using the core code from the PR. The upgrade proceeded successfully, and at the end of it, Rules, Entity UI, Entity Plus, and Entity tokens were all enabled. But not all modules were listed as being enabled. Here's what that screen showed. No "Entity Plus", etc.:

![enabled](https://user-images.githubusercontent.com/2921

[2022-02-22 02:55] argiepiano commented on #5499
@bugfolder thank you for testing. This is very strange. Are you sure that your D7 site didn't have the "stub" modules for Entity Plus and Entity UI enabled before the migration? The code actually loops through all enabled modules in the D7 database (including Rules), and checks that the required modules for those are also enabled. The only case in which Entity Plus would not be shown would be if t

[2022-02-22 03:01] bugfolder commented on #5499
Thought I didn't have them present, but I'll double-check tomorrow.

[2022-02-22 07:09] indigoxela commented on #5515
@kswan I respect your point of view. However, the approach chosen for the PR isn't valid. It abuses a sanitize function to turn something that's supposed to be plain text (= is not allowed to contain any markup) into HTML.
If you want markup (like automatic `<br>` and `<p>`), you need text processing.

If you want to enforce a format, simplify is the proper solution. (If you want a specific format

[2022-02-22 07:22] indigoxela commented on #5518
Hi @echozone,

many thanks for taking the time to report.

We had similar observations reported in the forum (see [this one](https://forum.backdropcms.org/forum/available-updates-failed-get-available-update-data)), and were able to identify two possible causes:

1. An expired root cert on your server
2. Quirky IPv6 handling (routing or firewall) on your server

In both cases you probably need to c

[2022-02-22 07:56] echozone commented on #5518
Thanks so much! I did see the other posts, but being about local didn't quite nail it, although me and my host have been working on it with no luck. I will take this info to her and see where we can get.

[2022-02-22 08:16] BWPanda commented on #4436
What's the status of this initiative?

[2022-02-22 16:28] bugfolder commented on #5499
Oh that was interesting! Although I had disabled and uninstalled the stub modules in my Drupal->Backdrop test rig before starting the upgrade, they still had entries in the `system` table (listed as uninstalled), where they were set to uninstalled. But the upgrade still worked, properly enabling E+, EUI, and ET.

I also did a full Ubercart upgrade this morning, and that, too, worked (but interesti

[2022-02-22 16:37] argiepiano commented on #5499
Thanks @bugfolder.

Regarding your first paragraph: did the upgrade script still not show E+, EUI and ET in the list of modules needed to be enabled?

Regarding Ubercart: it's most likely shown there because the D7 version did not have a `ubercart.module` like the Backdrop version does. In [D7 Ubercart](https://git.drupalcode.org/project/ubercart) you have to enable the modules marked as REQUIRED

[2022-02-22 17:30] echozone commented on #5518
Host replied, "The server cert is not expired. We spent quite a bit of time going around to each server when the original root was expiring to replace the root cert." She included 2 ways to check, and the A rating from ssllabs.

The SSL version from /admin/reports/status/php on that host:
SSL Version	OpenSSL/1.0.2k-fips

So we know it's not an expired cert on either side, what else can it be? The

[2022-02-22 19:46] bugfolder commented on #5499
Nope. And now I've run an upgrade from a completely fresh install of Drupal with just these modules:

![modules](https://user-images.githubusercontent.com/29214084/155206995-177c1c94-235d-4f64-80c3-fd75b449d16e.jpg)

And I confirmed that prior to starting the upgrade, the system table did not contain any entries for E+, EUI, or ET.

Nonetheless, here's what the upgrade screen showed:

![enabled](h

[2022-02-22 20:09] djzwerg commented on #4356
Same to me. Maybe it is the same issue like https://www.drupal.org/project/drupal/issues/1705788 with a possible solution at https://drupal.org/node/460408#comment-7468630.

[2022-02-22 21:55] stpaultim commented on #4284
The user that originally reported  this issue, just asked for an update in the Forum.
https://forum.backdropcms.org/comment/3830#comment-3830

[2022-02-23 06:00] cellear commented on #4436
well, I recently released a site for which I didn’t technically create a custom theme — though I did inject a good chunk of custom CSS into it, so I’m not sure if that counts.

https://dreamspeak.com/

[2022-02-23 06:55] indigoxela commented on #5518
Maybe some connectivity problem...

Does the host connect via IPv4 or IPv6?

updates.backdropcms.org has address 66.175.208.83
updates.backdropcms.org has IPv6 address 2600:3c03::f03c:91ff:fec2:d257

Are both IPs reachable from that webserver?

Could we get the full message from dblog re that problem (from /admin/reports/dblog).

[2022-02-23 07:38] echozone commented on #5518
I sent your message back to my host again. I get through on the first, I don't know how to test the second.

The complete log contains my first or last module like this, or BD itself:

HTTP request to https://updates.backdropcms.org/release-history/webform/1.x?site_key=NX4XWV70ASyiUQrby6NZHmvA8zynpXkK_K3-4DyES3k&version=1.x-4.24.2&list=webform failed with error: Error opening socket ssl://updates.

[2022-02-23 09:41] klonos commented on #4302
Counter-argument (not for this use case specifically, but in general): if people knew that these things exist in contrib, they may have been using them more, and that usage count could have been higher.

As for the 80% rule, we could use telemetry to prove this, but there is already a set of similar options in that same form that I bet aren't 80% either:
<img width=50% src="https://user-images.git

[2022-02-23 10:12] klonos opened #5519 "[UX] Allow site admins to specify which menu is to be used in the admin bar."
This is basically a request to add https://www.drupal.org/project/admin_menu_source into Backdrop core:

![image](https://user-images.githubusercontent.com/2423362/155298816-2cab4def-9571-4500-899d-66db5ed568a5.png)

This would be a nice solution for what this person is trying to achieve in https://forum.backdropcms.org/forum/flyout-menu (aside from the vertical placement of the admin bar).

This

[2022-02-23 15:52] eric2pin opened #5520 "Broken table drag & drop: Tabledrag.js fallback to clientX / clientY not calculating correctly."
## Description of the bug

If in your theme / jQuery version pageX and pageY aren't defined in tabledrag.js line 632, the fallback to clientX / clientY is not working as expected which results in sudden page scrolling while trying to drag and drop tabledrag items.

## Steps To Reproduce

While performing a table drag (webform configuration in my case, using the webform module, but any tabledrag do

[2022-02-23 15:59] indigoxela commented on #5520
Hi @eric2pin and welcome to Backdrop.

Currently Backdrop core ships with jQuery v1.12.4. May I ask why your theme ships with an older version? I can't think of any benefit, but am curious enough to ask. :wink:

[2022-02-23 16:04] eric2pin commented on #5520
Hi @indigoxela thanks for the reply. Our custom theme is a child-theme of the Stanford Light base theme, a child of the Open Framework theme. They have some very particular and outdated dependencies. Both were converted from Drupal 7. This particular theme setup is a client requirement, although at some point those themes could and should be updated to more modern versions.

Updating to a later jQ

[2022-02-23 16:12] indigoxela commented on #5520
I see, you're trapped. (Are you aware, that 1.9.1 has security issues?)

However, it seems like you already have a solution. Mind to file a pull request? Are you familiar with GitHub and pull requests? Please let us know if you need any guidance. It might be tricky to test, tough.

[2022-02-23 20:20] argiepiano commented on #5499
@bugfolder I've looked at why Entity Plus is not listed in the modules to be enabled.

Here's a question: are you perhaps using a version of Rules patched with the [PR 172](https://github.com/backdrop-contrib/rules/pull/172)  of Rules? If so, that patch includes an implementation of hook_requirements() that enables Entity Plus before the new code in update.php gets to it. Can you please check?

[2022-02-23 20:50] bugfolder commented on #5499
Yup, that's it. The .info file says it's 1.x-2.2.0, but the .install file contains `rules_requirements()` with that patched code, so yeah, I must have tested the patched version in the past and then forgot I'd done that and so re-used the module. (Pretty good sleuthing there!) Will run again with a fresh download of 1.x-2.2.0.

[2022-02-23 20:58] bugfolder commented on #5499
Success:

![enabled](https://user-images.githubusercontent.com/29214084/155407116-9eda052d-badc-4581-a1e5-9677f43097b4.jpg)

And we'd previously established that it works for Ubercart, so, I'd call this LGTM. But maybe there's other scenarios that should be tested?

[2022-02-23 21:07] argiepiano commented on #5499
Thanks @bugfolder.  We still need to make sure the tests don't break. I'm hoping to get to that soon.

[2022-02-23 21:31] olafgrabienski commented on #5499
Reminder regarding the wording, so that it doesn't get lost:

[2022-02-23 21:36] argiepiano commented on #5499
Yes, thanks @olafgrabienski. I've already made that change and it will be included in the next PR.

[2022-02-23 23:53] jenlampton commented on #4302
That argument is the same for everything in contrib, and yet most of the projects people really use have higher usage statistics. I'm uncomfortable sacrificing the editor experience for this.

[2022-02-24 01:27] BWPanda commented on #2782
For those still really wanting this, there is a port available: https://github.com/backdrop-contrib/menu_expanded

[2022-02-24 03:52] BWPanda commented on #3317
I was just about to post an issue about this! 😄

[theme_table()](https://docs.backdropcms.org/api/backdrop/core%21includes%21theme.inc/function/theme_table/1) says:

(emphasis mine)

That's always indicated to me that you can't sort arbitrary tables, they have to have data pulled from the database in order to be sortable.

But today, when researching this myself for something I'm working on, I fou

[2022-02-24 05:57] klonos opened #5521 "token_embed_views in core."
We've had [this request in Zulip](https://backdrop.zulipchat.com/#narrow/stream/218635-Backdrop/topic/Token.20or.20Data.20Selector.20to.20reference.20a.20View/near/273024260) today:

@argiepiano then ported the token_embed_views module: https://github.com/backdrop-contrib/token_embed_views

Looking at the code of the module, I noticed that it was very minimal - only 40 lines. With both Views and T

[2022-02-24 20:40] klonos commented on #5519
WIP:
![image](https://user-images.githubusercontent.com/2423362/155603811-a57f056c-db8e-4d2e-9934-8c186f6ed213.png)

[2022-02-24 20:44] bugfolder commented on #5511
Recommendation from 2022-02-24 design meeting: don't disable the buttons, but add a post-delete (or post-disable) warning that the person needs to edit the site information page if needed.

[2022-02-24 20:46] jenlampton commented on #5519
I don't think this is an 80% use-case. I think most editors use the admin bar and all the built-in access control checks without any issue. I could see how this would be valuable to those who want something different, so it would be a great contrib project.

[2022-02-24 20:55] jenlampton commented on #5519
I'm going to brainstorm here (but this will certainly end up being a different issue) but I could see a better solution where a top-level menu item that has only one child link (like "Structure" containing only "Menus") would automatically roll that child item up to the top level. Then, when a new feature is added that allows an editor access to something else, the top-level item would automatical

[2022-02-24 21:54] BWPanda commented on #1248
I was looking at updating my PR here, but then I thought of something...

What if there's a site that has setup a custom page/layout/view/etc. at the path `/login`? This issue change would conflict/overwrite that, right?

Is there a way to make this change only for new sites? If not changing every single instance, what about just setting up the new `/login` path and then a redirect from `/user/log

[2022-02-25 00:58] BWPanda commented on #1684
PR updated, tests passing.

[2022-02-25 05:07] BWPanda commented on #1887
Good point @stpaultim, PR updated.

[2022-02-25 05:25] argiepiano commented on #5499
The tests are now passing 🎉

At the risk of repeating some of the things that @bugfolder said in the OP, I feel I need to explain what this PR does. I'd like some feedback, as I feel a bit uneasy about a couple of things below.

What this PR does
------------------
In a nutshell, it gets all the enabled modules from the D7 database, and checks to see if their Backdrop counterpart modules have depe

[2022-02-25 10:15] BWPanda commented on #2158
PR updated. I added the 'minor' milestone as that gives more time for this PR to get reviewed and hopefully merged without needing to change the version number when this was deprecated.

[2022-02-25 10:23] BWPanda commented on #2339
PR updated. See if tests work better now...

[2022-02-25 10:29] BWPanda commented on #2351
PR updated. Let's try and get this reviewed/tested...

[2022-02-25 10:49] BWPanda commented on #2351
@olafgrabienski It's a bit hard by default, since the core themes seem to override the breadcrumb settings ([as is their right](https://github.com/backdrop/backdrop-issues/issues/3822#issuecomment-505842098)), but you can play around with the breadcrumb block, see the new settings form, and see what options you can get working. You can also try installing a different theme that maybe doesn't overr

[2022-02-25 13:00] jlfranklin commented on #1248
Why don't we create a contrib module with `hook_menu_alter()` to change the paths.  This would be a good way to gauge interest in this change with the community.

[2022-02-25 13:24] klonos commented on #1684
Is `'title'` in `hook_menu()` entries automatically being passed through `t()`? I think so, but I just want to make sure.

[2022-02-25 13:48] indigoxela commented on #1684
Yes it is.

[2022-02-25 17:07] klonos commented on #1684
Thanks @indigoxela 🙏🏼  ...I should have checked myself really:

[2022-02-25 17:08] klonos commented on #1684
I think that `Log message #123 details` is better.

[2022-02-25 17:15] klonos commented on #5511
Yes, I think that during the UX/design meeting we all agreed that:
- removing/disabling the submit button(s) is NOT a good idea - it would cause frustration to those that understand the risks and still want to perform the action
- adding the warnings is a good idea 👍🏼
- adding a second submit button that allows disabling the layout instead of deleting it is also a good idea
- depending on the acti

[2022-02-25 23:24] docwilmot commented on #5499
I was going to suggest we modify `update_module_enable()` to check for schema and install. But I see this line already there that I dont understand: `$function = $module . '_schema_0'`. What is that?

[2022-02-26 00:00] BWPanda commented on #1684
PR updated:

![image](https://user-images.githubusercontent.com/2385329/155818969-f9deb1e1-714a-4225-ad6d-a93da804f1f5.png)

[2022-02-26 01:23] argiepiano commented on #5499
Yeah, from what I've been able to gather, `update_module_enable()` and `hook_schema_0()` is a 10-year old relic from the initial development of D8, and it was there to help the upgrade from D7 into D8.

That function doesn't exist anymore in Drupal (in any version). You can see [some remaining issues that address it](https://www.drupal.org/project/drupal/issues/1239370#comment-6505768)

So, from t

[2022-02-26 23:15] argiepiano commented on #5499
I'd like to get the conversation going here to see what we need to do next.

As I see it, we have two options:

1. Use `module_enable()` to enable the required modules, like in the latest PR. These calls happen early in the upgrade process (which may be a cause for concern), but ONLY when upgrading from D7, not when updating. In my several tests, and in the provided automated tests, this has not p

[2022-02-27 10:36] BWPanda commented on #3038
I posted in the PR, but not here: PR updated as per @klonos' suggestions. Needs review/testing.

[2022-02-27 11:27] stpaultim commented on #4903
I fixed a couple of tests. Here is one that someone could look at.

![image](https://user-images.githubusercontent.com/3144571/155880505-80ff0035-9bf5-4735-8790-d8e00c64696e.png)

It seems that the test it uploading a new file and then testing the image size. I am pretty sure that the problem is that the tests do not expect there to be any pre-exiting files in the system, but now there are. It's t

[2022-02-27 11:47] BWPanda commented on #3993
Closing based on above comments and due to no further feedback.

[2022-02-27 11:47] #3993 closed

[2022-02-27 16:32] olafgrabienski commented on #4451
Is there a good way to test the PR in the sandbox? I can look for terms or phrases I know of in the UI, e.g. the former "Master display" vs. "Default display" in Views, but I guess I don't know more places :-/

[2022-02-27 16:50] olafgrabienski commented on #2978
Thanks for updating the PR @BWPanda . I've tested it in the sandbox, works like a charm.

One suggestion regarding the placement of the views setting: Currently the new setting with label "Which display(s) to create by default" is the first on the page - see screenshot at https://github.com/backdrop/backdrop-issues/issues/2978#issuecomment-707023208. Directly below there are two settings *without*

[2022-02-28 00:28] BWPanda commented on #2978
Thanks @olafgrabienski. I'm not sure I like putting this setting in amongst the other settings, so I've instead added it into its own fieldset (which makes sense since then we could possibly add other wizard-related settings in future):

![image](https://user-images.githubusercontent.com/2385329/155906738-49da3a0d-449c-4b51-8c3f-ebeb33113ceb.png)

PR updated as such.

[2022-02-28 05:50] BWPanda commented on #4113
PR merged into 1.x and 1.21.x.

[2022-02-28 05:54] BWPanda commented on #4208
@jenlampton Existing sites (that use Basis) would be affected, but as to whether or not they'd notice any visible difference...? I don't know.

[2022-02-28 08:47] olafgrabienski commented on #2978
What's the reason you don't like to have the new setting amongst the others?

[2022-02-28 09:34] stpaultim commented on #2978
I am just seeing this issue for the first time, I think. It seems like a nice feature, but as someone that very rarely uses the views settings page (or some reason, I'm basically oblivious to it. I totally forget it's there for years at a time), I'm not sure this will have a huge impact on me.

I may start using this page, to change the default to "block" which makes me think that I like having th

[2022-02-28 09:47] BWPanda commented on #2978
To me, the wizard is the first thing you see in Views, so that's why I put it at the top of the settings form. However I don't mind if it's placed at the bottom instead. I just didn't want it mixed up with the other settings. Because they're for configuring the normal Views page, and because people might be used to the order they're in already, so putting something unrelated in the middle might be

[2022-02-28 10:10] olafgrabienski commented on #2978
I agree, that makes sense, but I'm skeptical about using a fieldset because we *could* add related settings in the future and/or to fix a problem with other settings. In my opinion, the settings form is already quite chaotic and could in any case need an overhaul. My suggestion is to keep the wizard setting at top, for the time being with or without fieldset (both not ideal), and to add a follow-u

[2022-02-28 11:18] BWPanda commented on #4313
I don't think this is an issue any longer...

Here's the block with available updates:
![image](https://user-images.githubusercontent.com/2385329/155974357-07614943-56c2-4b4b-b4cf-6f33b669c61d.png)

And here it is with no updates:
![image](https://user-images.githubusercontent.com/2385329/155974451-acd0d20b-e77e-45af-88da-ba56ba630b47.png)

So I'll close this issue now. If anyone's still experienc

[2022-02-28 11:31] BWPanda commented on #4523
This is no longer relevant as the linked issue was reverted, so none of the STR apply now. Closing.

[2022-02-28 11:31] #4523 closed

[2022-02-28 12:44] BWPanda commented on #5519
Deja vu: https://github.com/backdrop/backdrop-issues/issues/347

[2022-02-28 12:48] BWPanda commented on #726
Closing due to lack of interest/need.

[2022-02-28 17:59] jenlampton commented on #2978
Another thing we *could* do right now is add a 3rd fieldset, so everything on the settings page is inside one. One for wizard, one for "normal Views page" (We'd need to name it) and one for Preview. (We could also do this in the follow-up issue...)

Text change recommendations:
* we don't call people "users" in Backdrop :)
* Also, this setting doesn't "enable" a display. A block display wasn't the

[2022-02-28 23:52] BWPanda commented on #2978
I agree with adding a third fieldset for the existing settings. This makes it much more tidy, and matches the look of the Advanced Settings page (where all settings are also in fieldsets). Someone obviously thought about this in advance, since the code was practically there and ready to go 🙂

Not really. The Views wizard hasn't changed with this PR by default. For example, here's what it currently

[2022-02-28 23:53] BWPanda commented on #2978
Pr updated for the new fieldset, here's what it now looks like:

![image](https://user-images.githubusercontent.com/2385329/156078553-5746e134-0675-4e5d-924d-dccbbac43c85.png)

[2022-03-01 00:09] jenlampton commented on #2978
We always call them people. In this case, adding "by people" doesn't add any value to the description, so the recommendation is to leave that out entirely.

Ah, I think we are taking about different things. I was talking about the *displays* on the actual *view* that is created, it looks like you are talking about the user-interface having enabled and disabled *options*?

Here's the default behavi

[2022-03-01 01:31] klonos opened #5522 "[SR][UX] Flood control: Better workflow and allow users to self-serve"
Modern web apps and services work this way nowadays. GitLab for example blocks your account for 10min, and sends this email:

I find this workflow much better for both site admins and registered users:
- less emails/phone calls for site admins to unlock user accounts -> less overhead
- people don't have to raise tickets or email/call their site admin to unblock their user account, nor do they have

[2022-03-01 02:39] jromine opened #5523 "[UX] Display container style on rows in flexible layout template builder."
## Description of the need

In the layout flexible template builder, you can click the per-row menu to configure settings for the row, including setting the row style width type to be one of Fixed maximum width, Fluid width, or Full width. It would be convenient if this container style were displayed on the label of the row.

## Proposed solution

Show the row container width style on the row labe

[2022-03-01 05:21] BWPanda commented on #2978
I've updated the PR with the following description text (to hopefully clarify things (note that the screencast below was made before I did this change, so it shows the old text)):

**"Which display options to enable by default. Note that these options can still be manually enabled/disabled before creating the view."**

@jenlampton No, I'm not referring to enabled/disabled *displays* in the Views U

[2022-03-01 09:56] olafgrabienski commented on #2978
Same here, great suggestion!

I've tested the updated PR in the sandbox, still works for me (I'm going to add the label).

Maybe we can still clarify the description a bit by mentioning the place where the new setting applies, even if it's already mentioned in the fieldset label. In my opinion, we don't need the additional explanation that the setting can still be manually changed (which is kind o

[2022-03-01 10:14] olafgrabienski commented on #5523
Nice idea! I've tested it in the PR's sandbox, works for me.

[2022-03-01 10:20] olafgrabienski commented on #5523
Screenshot of what the PR does: https://github.com/backdrop/backdrop/pull/3967#issuecomment-1054942553

Maybe add some more space between Row name and container style information? Or, do we have already a UI pattern for this case?

[2022-03-01 11:25] BWPanda commented on #4750
Here's a new PR that I think does a better job of accounting for all situations in one function: https://github.com/backdrop/backdrop/pull/3968

[2022-03-01 11:31] olafgrabienski commented on #2351
Thanks @BWPanda. I've played around with the breadcrumb settings in the PR sandbox. In *Basis*, the settings work nicely, with the exception of the separator (characters to display between breadcrumb items).

Overview re Basis:

- `Separator` - doesn't work
- `Add the current page title to the end of the breadcrumb trail` - works √
- `Hide the breadcrumb trail if the only breadcrumb is 'Home'` - w

[2022-03-01 12:23] eric2pin commented on #5520
Hello again @indigoxela , I did attempt to file a pull request here: https://github.com/backdrop/backdrop/pull/3969

Please let me know if I need to take other steps with this / if something about that request doesn't meet standards.

[2022-03-01 12:52] klonos commented on #726
@BWPanda I don't think that we should be closing issues with confirmed bugs just because we have other priorities. This issue is also marked `good first issue`, so it might be fixed by a person that is looking to dip their toes into contributing to Backdrop.

I think that the only reasons bug reports should be closed should be:
- cannot reproduce the issue
- the issue has become obsolete/outdated

[2022-03-01 13:11] klonos commented on #4313
For posterity, this was addressed as part of #2714. See https://github.com/backdrop/backdrop/pull/3451/files#diff-592f90d2cc1517eb0988e105cf4ceb16c280dd29fb4780922a94f833c7943a7fR167

[2022-03-01 13:17] klonos commented on #4523
For posterity, here's what the UI that allows you to tweak the date format used in the logs looks like now:

![image](https://user-images.githubusercontent.com/2423362/156175872-0e788b5f-7f89-436b-8312-f8dd6c6ced36.png)

[2022-03-01 13:20] klonos commented on #5523
Actual screenshot:

<img width=70% src="https://user-images.githubusercontent.com/350497/156096450-67f46e45-f694-4e6a-836d-99db68182aa2.png">

[2022-03-01 13:29] klonos commented on #5523
I like this 👍🏼

Yeah, not sure whether there is a similar UI pattern, but we need to figure out a better way to display that. How about either some spacing as @olafgrabienski said, or wrap it under the "Row" label + also perhaps enclosing the container width text in brackets?

The closest I could think of where secondary information is displayed alongside the main thing is the new style we use for

[2022-03-01 13:37] indigoxela commented on #2351
A word of warning: I suspect these settings won't work at all with any theme (contrib or custom) that overrides theme_breadcrumb().

[2022-03-01 15:07] indigoxela commented on #5520
@eric2pin cool, many thanks.

One thing, that I can't do myself: approve the workflow, so automated tests can run (GitHub insists on that with first contributions). I already notified people via our Zulip chat. Someone will take care of that soon.

Another thing I can't fix - we're over quota with our Tugboat sandboxes. Somebody will take care of that soon, too. These sandboxes come very handy for

[2022-03-01 15:38] eric2pin commented on #5520
I don't think I know how to approve the workflow. Could you point me to how to do that? I don't think I understand your fixes comment — I'm pretty new to GitHub. Responded to that other comment on the issue.

[2022-03-01 15:43] indigoxela commented on #5520
You can't. I can't either. We have to wait for someone with sufficient permissions. Stay tuned.

[2022-03-01 15:43] laryn commented on #5520
I approved the workflow run (I think that's just needed for first time submitters).

I also took the liberty of editing the initial comment to include the "Fixes XX" line:

Which then automatically links the issue to the PR in the sidebar:

[2022-03-01 15:44] eric2pin commented on #5520
Ah thank you I understand that part now.

[2022-03-01 17:28] laryn commented on #5520
@eric2pin I have invited you to the Backdrop Documentation team here on Github, just FYI. This gives you some additional permissions in the issue queue.

[2022-03-01 18:20] jromine commented on #5523
Looking at other places that use draggable, one with text under the label is text editor filters:

![image](https://user-images.githubusercontent.com/350497/156225946-21ff0c8a-a9f8-4d75-a893-e8a00057631d.png)

Another is content types > manage fields:

![image](https://user-images.githubusercontent.com/350497/156226080-494b6453-0995-4968-96a6-efaafdaf6e93.png)

However, both will make the row heig

[2022-03-01 18:40] eric2pin commented on #5520
Ok great, thanks.

[2022-03-01 20:05] klonos commented on #5520
@BWPanda has been pinged to cleanup the Tugboat space. Once that's done, we'll need to close the PR, wait 1-2min, then reopen the PR. That should create a PR sandbox ready for testing.

Welcome to the community from me too @eric2pin 👋🏼  ...sorry that your first contribution seems to be hitting some issues on our end. We'll sort these out soon.

[2022-03-01 20:08] klonos commented on #5520
Yup, just a small coding standards issue with the inline comment.

[2022-03-01 22:18] eric2pin commented on #5520
Oops, I didn't consider comment standards. Will double check next time. I found some Contributing to Backdrop docs and will review. Thanks,

[2022-03-02 14:57] laryn commented on #5502
In general it seems to make sense to tag content to the language it is, I agree. But, one thought to add on current/default functionality: if you have a monolingual site and then add a new language, at the moment all existing content (`und`) will show up in both languages. If your monolingual site specifies a language code for all content and then you add a new language, you'll see a completely em

[2022-03-02 15:00] #5498 closed, assigned to nobody

[2022-03-02 15:27] klonos commented on #5502
Thanks for chiming in @laryn 🙏🏼 ...the scenario/situation you describe is a perfectly valid one, and it could end up in undesired behaviour. However, I was under the impression that we provided an option to fall back to the site default language (original language the content was created in) if the content was not yet translated to the language being viewed. Right? If we don't provide that option,

[2022-03-02 15:30] indigoxela commented on #5502
Personally, I'd vote for LANGUAGE_NONE. I have both, monolingual and multilingual sites and the language neutral approach causes less work.

[2022-03-02 15:32] indigoxela commented on #5250
Just ran into that problem again. I really hope, someone can fix it. I wasn't able to collect more info than we already have. Just have another workaround. :disappointed:

[2022-03-02 15:55] klonos opened #5524 "Telemetry: Properly detect LightSpeed/OpenLightSpeed and IIS instead of "other""
Although not as popular as apache/nginx, it would be nice to get a better understanding of the percentage of sites using these web servers. These are both dropped into the "other" bucket currently in https://backdropcms.org/project/backdrop/telemetry:

![image](https://user-images.githubusercontent.com/2423362/156398264-a6641e7b-3598-4817-a5b5-ebdef4fc1319.png)

---

PR https://github.com/backdrop

[2022-03-02 16:08] indigoxela commented on #5524
Maybe interesting for evaluation: https://w3techs.com/technologies/overview/web_server

IIS is not really relevant for Backdrop, I guess. LiteSpeed seems to be trendy.

[2022-03-02 16:20] klonos commented on #5524
Thanks @indigoxela 🙏🏼  ...IIRC, we did have a few issues in the queue related to IIS (most notably #5047 and #4743, but others too), so I guess not completely irrelevant - although not officially supported, I know. Gathering metrics for it wouldn't hurt though. It would help us make better-informed decisions 😉

[2022-03-02 21:45] argiepiano opened #5525 "Cached anonymous page and "background fetch" cause site rendering issues on LiteSpeed server"
## Description of the bug

When using  "background fetch" (see admin/config/development/performance) of stale anonymous cached pages, Backdrop (or the LiteSpeed server?) seems to send headers and content twice.

I've been able to reproduce in a LiteSpeed production server with different sites, ~~including a clean Backdrop install~~. Have NOT been able to reproduce on a local Apache one.

This issu

[2022-03-02 21:47] klonos opened #5526 "Backdrop 1.20.6 Release checklist"
Release scheduled for MM DD, 2022 11am - 1pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Draft Release notes @jenlampton
  - [x] Include a short, descriptive summary of the release, for example:
      * "Security release for Backdrop CMS. This release fixes 1 security vulnerability:"
      * Include a list of SA's for commits to this release
  - [x] Include a section containin

[2022-03-02 21:51] klonos opened #5527 "Backdrop 1.21.3 Release checklist"
Release scheduled for MM DD, 2022 11am - 1pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Create the next bugfix milestone @klonos
- [x] Move all unfinished issues to the next bugfix release milestone @klonos
- [x] Review all closed issues in milestone: @klonos
  * Issue titles should include a complete, but very brief summary of the problem.
  * Issue titles sould be in comple

[2022-03-02 21:51] klonos commented on #5513
Closing this in favor of #5527.

[2022-03-02 21:51] #5513 closed

[2022-03-02 22:50] quicksketch commented on #5527
With today's release being security-focused, I've merged the (only) PR for release. I think we're ready to close the 1.21.3 milestone and transfer issues to 1.21.4.

[2022-03-02 22:51] jenlampton commented on #5526
Draft release notes:

---

Security release for Backdrop CMS. This release fixes 1 security vulnerability:
* CVE-2022-24590 (@todo - needs link to SA)

**Notes for updating**
- No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
- The database update script does **not** need to be

[2022-03-02 22:52] jenlampton commented on #5527
Copying draft release notes from 1.20 lssue:

---

Security release for Backdrop CMS. This release fixes 1 security vulnerability:
* CVE-2022-24590 (@todo - needs link to SA)

**Notes for updating**
- No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
- The database update script

[2022-03-02 22:52] quicksketch commented on #5526
Release notes look good. This is a security-only release for 1.20.x.

The tag is cut and ready for release at https://github.com/backdrop/backdrop/releases/tag/1.20.6

[2022-03-02 22:57] quicksketch commented on #5527
We should also include https://github.com/backdrop/backdrop-issues/issues/5498 in the release notes (the only other commit for this release).

Tag is cut and ready for release at https://github.com/backdrop/backdrop/releases/tag/1.21.3

[2022-03-02 23:01] jenlampton commented on #5527
Draft SA could use a review: https://backdropcms.org/security/backdrop-sa-core-2022-002

[2022-03-02 23:07] jenlampton commented on #5526
SA needs review: https://backdropcms.org/security/backdrop-sa-core-2022-002

[2022-03-02 23:08] laryn commented on #5527
Since this SA is released after the fix is out, would it be more appropriate to change "Backdrop CMS doesn't sufficiently sanitize data..." to "Previous versions of Backdrop CMS did not sufficiently sanitize data..."?

[2022-03-02 23:11] jenlampton commented on #5527
@laryn the SA and the release will come out at the same time (neither are out yet). The CVE was out before the SA and the fix (which is unusual).

[2022-03-02 23:13] laryn commented on #5527
Okay, fair enough -- my point still stands though. The SA was not out before the fix so using the past tense regarding the vulnerability still makes sense to me. But it's just a suggestion, I realize there's a history and tradition of how to write these...

[2022-03-02 23:14] jenlampton commented on #5527
No, neither the SA or the fix are out yet. They will both come out at the same time (in a few minutes).

[2022-03-02 23:17] quicksketch commented on #5527
I agree that the verbiage on security announcements are confusing. However, they've always been written in present tense. I suppose because they are "announcements" they're meant to be read at the time of release? Perhaps we can discuss this a general pattern for them and consider switching them to past tense. I frequently read them well after the release for reference, and by that time the securi

[2022-03-02 23:17] laryn commented on #5527
I was just trying to give the draft SA a review, not open a can of worms. 😓

[2022-03-02 23:18] quicksketch commented on #5527
I made minor updates to the SA including adding Tim as a coordinator and rephrasing. (I left the verb tense alone however).

[2022-03-02 23:19] jenlampton commented on #5527
Oh! was Tim involved? Sorry if I missed that :)

[2022-03-02 23:27] jenlampton commented on #5527
I've also edited and removed the question marks from the release numbers. Are we ready to release?

[2022-03-02 23:40] jenlampton commented on #5526
https://github.com/backdrop/backdrop/releases/tag/1.20.6 is out 🎉

[2022-03-02 23:40] #5526 closed

[2022-03-02 23:41] jenlampton commented on #5527
https://github.com/backdrop/backdrop/releases/tag/1.21.3 is out! 🎉

[2022-03-02 23:58] jenlampton commented on #5527
all b.org sites updated.

[2022-03-03 01:44] argiepiano commented on #5525
A quick update: I'm not able to reproduce this issue in a clean install (despite what I said earlier).

So this may actually be an interaction with an installed module.

[2022-03-03 05:13] jromine opened #5528 "Fixed: Administrator Role form saves wrong value on sites with numeric role machine name"
## Description of the bug

Upgrading a Drupal 7 site creates roles where the machine name is a number, like "3". This breaks the code that generates the Administrator Role form element in user_admin_roles() form. Specifically the call to array_unshift() renumbers numeric keys of the $roles array.  The select element generated is:
[code]
The option value for the "Administrator" choice should be "3"

[2022-03-03 05:19] BWPanda commented on #5528
I don't think this is correct. I think the situation is that in D7, roles have an ID (as opposed to a machine name), and perhaps Backdrop isn't properly converting those IDs to machine names... It's not that we're creating roles with numerical IDs.

[2022-03-03 05:20] argiepiano commented on #5528
Thank you @jromine ! I think we should consider assigning a proper machine name to the Administrator (and other roles) upon upgrade from D7. There are several places where the roles array is used, and I can imagine it would have similar problems, with numerical keys

I'm wondering what the rationale behind not assigning proper machine names in user_update_1007() . That's where the role table is ma

[2022-03-03 05:25] BWPanda commented on #5528
I guess with numerical IDs in Drupal it's technically possible to have, e.g.:
[code]
Since the numerical IDs are different, the two 'Administrator' roles are different. But in Backdrop if we try to convert them to machine names, they'll have the same machine name and cause all sorts of problems...

Just a guess.

[2022-03-03 05:33] jromine commented on #5528
The same bug happens if you create a new role with a name like "7".

[2022-03-03 05:33] jromine commented on #5528
PR submitted https://github.com/backdrop/backdrop/pull/3971

[2022-03-03 05:34] argiepiano commented on #5528
Not quite. D7 doesn't allow you to use the same name for two roles, despite the fact that it stores them keyed by numerical Role ID

[2022-03-03 05:37] BWPanda commented on #5528
Ok, good to know.

[2022-03-03 05:37] argiepiano commented on #5528
So it would have been straightforward to use D7's name and use it as machine name in Backdrop... Now the question is: do we create a new user_update_N() to take care of converting those numerical machine names into proper machine names, or do we just focus on the issue that @jromine reported here (with a partial fix that focuses on the select box he refers to)?

[2022-03-03 05:38] jromine commented on #5528
I am curious now if the upgrade process correctly assigned my "Administrator" (machine name: 3) role as the user_admin_role for the site. I will need to re-test an upgrade to see.

[2022-03-03 05:38] argiepiano commented on #5528
Yes, it did. I checked that. It gets messed up (to "1") when you submit that form with the select box

[2022-03-03 05:40] jromine commented on #5528
@argiepiano one less thing to fix after an upgrade. Just don't look at the config page. 😉

[2022-03-03 05:54] laryn commented on #5528
*Maybe* the RID was saved instead of converting to a proper machine name in case contrib modules needed it later in their upgrade process? That's a guess.

[2022-03-03 06:46] indigoxela commented on #5525
Is turning on the error display essential for the steps, or does the duplication happen regardless?

Also, a list of installed contrib modules might help to further investigate.

If that happens only on specific pages - which blocks does that layout contain?

[2022-03-03 07:00] indigoxela commented on #5528
That's exactly what happens, and I think it's by design.

In system_update_1025() two roles (anonymous and authenticated) get a "machine name" assigned, but additional roles (including admin) keep their numeric keys.

That's in https://github.com/backdrop/backdrop/blob/1.x/core/modules/system/system.install#L2385 I guess.

So after an upgrade from D7, roles other than anonymous and authenticated s

[2022-03-03 07:47] indigoxela commented on #5528
@jromine nice catch! Right, array_unshift() does a bad job here because of the renumbering. No problem for native Backdrop sites, but problematic for migrated ones.

The code looks good. :+1:

A small suggestion: you prepended a "Fix for:" to the issue link in your PR comment, but it should be `Fixes `, to let Github do some magic, like back-linking the PR here and closing the issue, when the code

[2022-03-03 07:50] indigoxela commented on #5528
Another suggestion: there seems to be a (random?) test failure of LayoutUpgradePathTest.

@jromine can you close the PR, wait a minute, then reopen it, so tests can run again?

[2022-03-03 08:37] yorkshire-pudding commented on #5525
I was able to reproduce on my test site (which is hosted on the same host, using LiteSpeed Web Server, as my live site) following the steps exactly.  Here are installed and enabled modules:
![image](https://user-images.githubusercontent.com/20357797/156527451-cb130da1-d96d-46eb-92f9-584f35fc278e.png)

[2022-03-03 08:50] olafgrabienski commented on #5525
The list on the page `admin/reports/updates`  is much shorter. No Core modules, and it doesn't show every sub module.

[2022-03-03 13:24] argiepiano commented on #5528
@jromine did you post a PR? I don't see it.

[2022-03-03 13:54] argiepiano opened #5529 "admin/dashboard doesn't exist upon D7 upgrade"
## Description of the bug
Upon upgrading a Standard installation of a D7 site, the Dashboard module is enabled, but admin/dashboard doesn't exist. Also there is no Dashboard link in the admin bar.

## Steps To Reproduce

Upgrade a Standard installation of a D7 site.

## Actual behavior

The Dashboard link is not shown, and navigating to `admin/dashboard` will  actually send you to `admin` (I think

[2022-03-04 01:52] argiepiano commented on #5525
@yorkshire-pudding thanks so much for testing. In a way, it's a good thing that you are able to reproduce - it tells me it's not just my site or my hosting company.

@indigoxela: since the bug is throwing an error, I wanted to see if anyone testing would get the same errors. Turning on the error display doesn't make a difference in the bug. But if you turn off error display, you have to go to the

[2022-03-04 05:03] argiepiano commented on #5525
@indigoxela , it turns out you are right:   turning error display IS actually essential to reproduce the error!   If you disable all error/warning message display, the error doesn't happen.

So, it looks like the issue happens because PHP throws a warning, and that somehow re-triggers the headers and content being send a second time. Those warnings are never logged into watchdog - so, you never kn

[2022-03-04 07:47] indigoxela commented on #5525
I'm not able to reproduce with Apache. I think, I followed the steps exactly:

![cache-settings](https://user-images.githubusercontent.com/842066/156721074-02a53dfe-a725-4755-b372-ff536a1cccad.png)

And error display turned on, of course.

Very odd.

[2022-03-04 13:22] klonos commented on #5455
FTR, we mentioned this issue during the weekly dev meeting yesterday. We discussed the possibility of redirecting `http://updates.backdropcms.org/release-history/backdrop/1.x` to the HTTPS equivalent instead of 404.

In the meantime, I'll work on a PR to implement the insecure fallback override in settings.php, which I think would be a good workaround (accompanied with strong warning re security o

[2022-03-04 13:23] klonos commented on #5455
...I feel that this qualifies as a task, which could get into a future bug release.

[2022-03-04 13:28] argiepiano commented on #5499
@bugfolder - could you test and do a code review of the latest PR? We are losing momentum. I feel this is an important fix for a problem many D7 upgrades will face.

[2022-03-04 18:24] klonos commented on #5455
@larsdesigns thank you for enabling HTTP for http://updates.backdropcms.org/release-history/backdrop/1.x for us 🙏🏼  ...it doesn't 404 any more 👍🏼

@echozone while we're working on a PR and because this may take time to get merged and into an official Backdrop core release, can you please try the following and report whether that works for you or not?: manually edit your `update.settings.json` file

[2022-03-04 18:33] echozone commented on #5455
@klonos It WORKS!!!

[2022-03-04 18:43] klonos commented on #5455
Thank you for testing and confirming @echozone 🙏🏼  ...pull request coming up shortly.

[2022-03-04 18:48] echozone commented on #5455
Error also occurs on /admin/modules/install  Install New Modules. "Encountered an error when trying to fetch results from Backdrop. Error 0 : Error opening socket ssl://projects.backdropcms.org:443"

[2022-03-04 19:06] klonos commented on #5455
Initial PR up for review: https://github.com/backdrop/backdrop/pull/3972 (only adds a setting in settings.php and handles the Update Manager bit for now)

[2022-03-04 19:21] laryn opened #5530 "Link fields conflicting with language codes"
## Description of the bug

I have a link field on a content type that can autocomplete with local content information. I'm finding that if I use that link field in a view (as "URL absolute" for example) and browse the site in a language that is not the default language, the language code gets prepended twice to the URL which produced a Page Not Found error when clicked.

Similar but different: htt

[2022-03-04 19:22] laryn commented on #5342
Milestone?

[2022-03-04 19:54] herbdool commented on #5515
I can confirm that Drupal 9 will add line breaks. I'm not sure if we want to add a potentially backwards breaking change, but I'm open to different approaches.

It seems that in `_text_sanitize()` it could perhaps use a new function instead of `check_plain()` as they fallback to sanitize.

[2022-03-04 20:00] klonos commented on #5455
That may or may not be related to this: https://www.drupal.org/project/drupal/issues/1879970

[2022-03-04 20:02] bugfolder commented on #5499
I was kinda hoping that folks with more experience in the innards of updating would  chime in, but time has passed, so here goes. If we do (2), then in addition to it being extra complication to manually install config files, all `hook_update_N()`s will be called for the module, which seems unnecessary since that wouldn't happen if the user had simply enabled the module manually prior to the upgra

[2022-03-04 20:23] bugfolder commented on #5499
A few small code comments, but otherwise looks good, code-wise. I'll run one more upgrade test.

[2022-03-04 20:32] docwilmot commented on #5499
Not an expert, but also agree with option 1. I've stared at the code and can't think of any complications right now.

[2022-03-04 21:10] laryn opened #5531 "Views exposed filters reset button doesn't work in a block"
## Description of the bug

This D8 issue sounds remarkably similar to what I'm finding:

In my case I'm being redirected back to the homepage when I press "Reset". I do have the "Inherits path" set to "Yes" and there are no page displays on this view, just block displays.

[2022-03-04 21:40] laryn commented on #5502
This is a related setting provided by `i18n`:

![Screen Shot 2022-03-04 at 3 38 15 PM](https://user-images.githubusercontent.com/871421/156845394-410c87e4-f56a-4661-a9ca-89584eb5afa8.jpg)

[2022-03-05 02:46] klonos commented on #5502
Thanks @laryn 🙏🏼 ...I haven't used i18n in a while, so I wasn't aware (or had forgotten) about that option. It's a bit confusing why the default option is not also the recommended 🤔

@indigoxela can you please elaborate on that with some examples please?

[2022-03-05 05:15] stpaultim commented on #5284
I have removed the assignment on this issue. If anyone else would like to work on it, please jump in.

[2022-03-05 05:22] stpaultim commented on #4475
This issue is available to work on. Feel free to copy the previous Pull Request and make changes as suggested.

[2022-03-05 07:09] RakeshPotnuru commented on #5003
@docwilmot
Can I work on this issue?

[2022-03-05 07:13] stpaultim commented on #5003
@RakeshPotnuru - You do not have to ask to work on an issue, unless you can see that someone else is already working on it. Just post a note saying that you are working on it and get started. If you have any questions, please feel free to ask here.

[2022-03-05 07:21] stpaultim commented on #5003
@RakeshPotnuru - If you need help getting started. Feel free to try our chat channel: https://backdrop.zulipchat.com/
If you have not read this yet, this is a good place to get started: https://backdropcms.org/news/openforce-2022-getting-started

[2022-03-05 07:22] aniketh-varma commented on #4475
Hi, I am a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-05 07:46] stpaultim commented on #4475
@aniketh-varma - Welcome to our issue queue. Please, do not hesitate to ask questions either here or in our Zulilp chat room! Good luck with this issue and don't hesitate to ask for assistance in getting set up or figuring our where to start.

[2022-03-05 10:19] indigoxela commented on #5455
Both of these D issues look interesting.

I'm a bit hesitant to confirm the current approach. HTTP is second best. At least, a warning on the status page might make sense. Otherwise people just set it and forget about it, and the site does something not ideal without any warning.

The proper way would be to fix the ssl problem on hosting. The fallback should really be the last resort, if everythin

[2022-03-05 10:23] indigoxela commented on #5502
@laryn pretty much describes the use-case:

[2022-03-05 10:56] RakeshPotnuru commented on #5003
@stpaultim
Can you share relevant links for this issue?

[2022-03-05 13:17] klonos commented on #5525
@argiepiano this is easy to test with our demo sandboxes, since they run on Apache (v2.4.38 currently). Here's what I did:
1. Spun up a demo via https://backdropcms.org/demo
2. Navigated to `/admin/config/development/performance` and:
   - made sure "Cache pages for anonymous users" is on
   - disabled "Compress cached pages"
4. Navigated to `/admin/config/development/logging`, and set all message

[2022-03-05 17:41] echozone commented on #5455
Agreed best to have it working on SSL.
SSL Version OpenSSL/1.0.2k-fips

[2022-03-05 19:25] klonos commented on #5525
Since we seem to have pretty much narrowed this issue down to a specific web server issue, would a temporary solution be to disable background fetch if LiteSpeed server is detected? (with a `@todo` added to further investigate this in the future)

[2022-03-05 20:29] klonos commented on #5455
Yes 👍🏼  ...I'll update the PR to implement that.

Agreed. I'll add that in the wording of the status page warning.

[2022-03-05 21:35] stpaultim commented on #5003
@RakeshPotnuru is looking at Backdrop CMS for the first time, can anyone provide any tips or pointers at how to get started on this issue. I won't have time until tomorrow.

[2022-03-05 21:36] yorkshire-pudding commented on #5525
The problem only manifests with that enabled and errors set to display. As most production sites should have errors disabled from display, please can we only have background fetch disabled if:
[code]

[2022-03-05 22:29] VasasA commented on #5003
1. If you open the `admin/modules` page, you can see "more" links in the descriptions of the modules. Open the first.
2. There is a line with "Tags:..." string. It is generated by `core\modules\system\system.theme.inc` Search `Tags:` string in this file (`function theme_system_modules_fieldset()`).
3. There is a `$requirements` variable. You should expand the `$requirements` with some new lines co

[2022-03-05 22:54] bugfolder commented on #5499
I've run another test (upgrade with Rules and Ubercart). Worked like a charm, so testing-wise, LGTM. (Would still like to see the tiny code tweaks requested).

I'll advocate for this issue.

[2022-03-06 02:08] klonos opened #5532 "[UX] Fix inconsistencies in the Project Installer UI when it fails to fetch results."
Noticed these things while working on #5455.

![image](https://user-images.githubusercontent.com/2423362/156906041-1decbbf8-728c-422e-bc63-e51c62c4601d.png)

Issues:
- The message should be an error instead of status.
- The server name (`Backdrop`) in the message could use some improvement, such as calling it `Backdrop CMS Projects` of something like that.
- The totals summary "Showing 0 to 0 of 0

[2022-03-06 02:18] klonos commented on #5455
@echozone thank you for getting your hosting provider to set up a test server for us. I was able to figure out solutions for both issues.

I was thinking to split the issue with the Project Installer to a separate PR/issue, but the actual root cause is the same for both (misconfigured/problematic SSL certificates on the hosting provider end), and the solution is similar for both issues (adding an

[2022-03-06 02:31] echozone commented on #5455
I think they should be together since if you have one issue, you'd have the other (so far, everywhere I saw it, I saw both). That might make naming harder, how about something with "ssl bypass"?

[2022-03-06 04:22] jenlampton commented on #185
A PR that contained a solution was closed in 2014, but it's now 2022 and there's still no alternative solution to this problem. Can we maybe revisit merging that PR now, and implementing a different solution in 2.x?

[2022-03-06 06:56] Girlwithasmile commented on #5330
Hello I am a contributer at openforce 2022. Shall I work on this if its still open?

[2022-03-06 07:02] Girlwithasmile commented on #5284
Hello I am a contributer at openforce 2022 can i try to work on this issue as I am a beginner?

[2022-03-06 07:12] stpaultim commented on #5284
@Girlwithasmile - Yes, this might be a good issue for you to work on.

For most issues, it is best to get Backdrop working on your local computer to test your work, but this issue might be easy enough to do the following:

1) Create a demo site here to see the problem: https://backdropcms.org/
2) Clone the Backdrop repo and find the place where this needs to be fixed, make the change, and create a

[2022-03-06 09:17] klonos commented on #5455
I've updated the PR. There are now 2 options in the settings.php file (commended-out by default):

[code]

The first is used in `_update_build_fetch_url()`; the latter in `installer_browser_fetch_results()`.

The question now is: is there a case where only one of these options needs to be enabled?

[2022-03-06 09:28] klonos commented on #5455
@echozone thanks for the suggestion. Although naming the option(s) something as simple as `ssl_bypass` may seem like a good idea, it is too generic, and is not self-explanatory as per where it's being used (by which module). As an example, settings.php also has an option called `update_free_access`, which is used by the Update Manager module (which has a machine name of `update`, so the `update_`

[2022-03-06 09:38] klonos commented on #5455
...I've done some testing on the problematic server instance provided by the hosting company used by @echozone:

1. I've enabled both settings:
[code]

   Everything worked without any issue 👍🏼  ...I was able to retrieve updates, and list/install modules via the Project Browser/Installer.

2. Then I've set the 2 settings as follows:
[code]

   This had the following result (besides not being able

[2022-03-06 09:49] indigoxela commented on #5455
These settings do pretty different things, though.

One disables the verification, but still fetches via HTTPS, the other one does an insecure fetch. Both at a time... does that make sense, anyway?

[2022-03-06 10:24] BWPanda commented on #4808
To reproduce/test:

1. Install and enable the 'Styleguide' contrib module
2. Go to `/admin/appearance/styleguide#links`
3. Look at the HTML classes of the links:

![image](https://user-images.githubusercontent.com/2385329/156919064-103021be-109d-4144-8de7-df63eb5a7cea.png)

[2022-03-06 10:28] BWPanda commented on #4808
PR updated:

![image](https://user-images.githubusercontent.com/2385329/156919219-89438f87-fc76-4142-869f-33412f2adc7c.png)

[2022-03-06 10:42] indigoxela commented on #4887
@BWPanda you should warn contribs about that change, at least devel would get damaged:

https://github.com/backdrop-contrib/devel/blob/f5ea492ec97a51d639e99d086ea0dffeea3bbff5/devel.module#L1727

[2022-03-06 11:13] klonos commented on #5455
@indigoxela yeah, and if we were to combine them, then I wouldn't know a suitable prefix to use for the name 🤷🏼  ...do you reckon we keep the settings separate, but group them together in the settings.php file? (the docblocks and security warnings are pretty much the same for both settings)

[2022-03-06 11:16] indigoxela commented on #5455
Same here.

[2022-03-06 15:20] oadaeh commented on #4887
It looks like four total:
https://github.com/search?q=org%3Abackdrop-contrib+core%2Fincludes%2Futility.inc&type=code

[2022-03-06 15:20] argiepiano commented on #5499
PR updated with suggestions. Thanks @bugfolder.

[2022-03-06 15:35] bugfolder commented on #5499
Code looks good!

[2022-03-06 15:54] alceil commented on #5443
Hi, I am Ashish Tom, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-06 17:46] klonos commented on #5455
PR updated again:
- I've kept the 2 settings separate, but grouped them together under the same docblock in settings.php.
- I've added a warning in the status page if any of the 2 settings is enabled in settings.php:
  ![image](https://user-images.githubusercontent.com/2423362/156935195-bea19137-874b-4718-a57a-d58fe1be1415.png)

[2022-03-06 18:10] findlabnet commented on #5455
Maybe just cancel and close without any further action?

[2022-03-06 18:46] klonos commented on #5455
@findlabnet I understand where you are coming from. The actual issue here is misconfigured SSL on the hosting provider's end, so that's where this should be fixed. We all agree on that 👍🏼 ...however, hosting providers are usually "blaming" the application, so people come to the Backdrop forum and/or issue queue saying that "Backdrop doesn't work properly". These settings will help with troubleshoo

[2022-03-06 18:51] klonos commented on #5443
Thank you for contributing to our project @alceil 🙏🏼  ...please let us know if you need any help with anything, such as setting setting up your local, or a way to trigger a message/warning with a bullet point etc.

[2022-03-06 19:01] klonos commented on #5532
PR up for review: https://github.com/backdrop/backdrop/pull/3974

![image](https://user-images.githubusercontent.com/2423362/156936956-fe98c9d8-90b8-46bb-be21-d8a53ac90035.png)

To simulate an error when fetching the list of projects:
1. Navigate to `admin/config/development/configuration/single/import`
2. In the "Paste your configuration here" field, paste the following (the URL is intentionally

[2022-03-06 19:03] a-tanvi commented on #5509
Hey ! Can i take on this issue ?

[2022-03-06 19:10] klonos commented on #5525
@yorkshire-pudding yes 👍🏼  ...I meant to introduce a `backdrop_is_litespeed()` function to be used in #5524 and elsewhere anyway 😉

[2022-03-06 19:25] BWPanda commented on #4887
Should be easy enough to create PRs in those 4 repos then if/when this one is merged.

[2022-03-06 19:54] findlabnet commented on #5455
I guess less technical people won't go into that kind of detail, but we still have a problem if the server software is 5 years out of date.
But this and many other vulnerabilities are beyond our very limited resources.

[2022-03-06 20:05] klonos commented on #5455
Agreed @findlabnet ...but I'm sure that @echozone has appreciated our help to get to the bottom of this, and that is what we're here for, right?

[2022-03-06 20:14] findlabnet commented on #5455
I'm sure too, but in this case we can/should expand the troubleshooting documentation / FAQ, but not the software itself (IMHO).

[2022-03-06 20:36] argiepiano commented on #5455
This is probably the best reason to provide this functionality. Some of us have been in this situation. D9 provides for this option, for this reason. And yes, it would be helpful to also have better documentation.

I agree that in a perfect world this would not be needed.

[2022-03-06 21:16] bugfolder commented on #2978
Code reviewed. LGTM.

[2022-03-06 21:41] BWPanda commented on #2978
PR updated:

![image](https://user-images.githubusercontent.com/2385329/156943282-977aafae-68b7-45a2-a1a1-d13f2d887f10.png)

[2022-03-06 21:48] BWPanda commented on #2978
Better yet, I've made it link to the wizard now:

![image](https://user-images.githubusercontent.com/2385329/156943488-58e7d418-06aa-445e-8db2-8ec88bc8235f.png)

[2022-03-06 22:12] bugfolder commented on #2978
Re-tested (still works), and re-reviewed the code (still looks good). RTBC.

[2022-03-07 01:28] jenlampton commented on #2978
The interface wording still needs some love.

Thank you for clarifying what I said @BWPanda. As you noted, I do understand what the intent was. :) The problem is the words we're using, as these words mean other things too -- and when we use the same words for different things we are likely to confuse people.

Does anyone else think we should try to describe what the interface is doing, rather than

[2022-03-07 03:35] stpaultim commented on #5509
@a-tanvi - You should feel free to work on this issue. Post questions here is you need help.

Start by reading this blog post: https://backdropcms.org/news/openforce-2022-getting-started

[2022-03-07 04:38] a-tanvi commented on #5509
Thank you! I can't seem to find the right CSS files please help me with it.

[2022-03-07 06:46] klonos commented on #5003
Thank you for working on the PR @RakeshPotnuru 🙏🏼

There are some test failures, but before you work further on the PR...

I had a quick look, and suggested the following:
- The new `div` introduced to hold the links has a class of `admin-requirements` (same as the `dvi` that holds the module tags) - I suggested that we also add another class; perhaps `project-links`.
- Instead of "module's detail

[2022-03-07 07:11] RakeshPotnuru commented on #5003
@klonos
Those changes are ok.
As per the issue, we just need to add links for more information about modules. So why do we need to show project information?

[2022-03-07 07:54] klonos commented on #5003
@RakeshPotnuru the information shown in the `https://backdropcms.org/project/MODULE_NAME` links is the same as the project info in the pop-up dialog. For example:

- `https://backdropcms.org/project/devel`:
  <img width=50% src="https://user-images.githubusercontent.com/2423362/156989723-2ae1d0a5-3e72-41ea-9f75-55bd86734417.png">
- and the respective pop-up with the details/info from the Project B

[2022-03-07 09:06] olafgrabienski commented on #2978
I'm fine with the last PR update of https://github.com/backdrop/backdrop-issues/issues/2978#issuecomment-1060045340, but I agree it can still be improved starting with Jen's last comment. No hard feelings in either direction.

[2022-03-07 09:16] yorkshire-pudding commented on #5330
Hi @Girlwithasmile - Any that are open, unless there is a comment suggesting someone is actively working on it then is fine to look at.

[2022-03-07 10:44] indigoxela commented on #5455
Currently, with the (usual) problem (ca-certificates didn't get updated on the web-host :roll_eyes: ), always both settings are needed.

I see a chance to provide a way to still update via https (only suppress cert verification), by adapting _update_process_fetch_task().

[2022-03-07 11:03] BWPanda commented on #2978
@jenlampton I see your point, and while I still disagree with it, I'm willing to yield mine in an effort to avoid bikeshedding and get this PR merged.

PR updated:

![image](https://user-images.githubusercontent.com/2385329/157019167-473be059-9706-446f-8e4e-1bc7d8961edd.png)

[2022-03-07 11:58] indigoxela commented on #5525
I still wonder, what makes LiteSpeed choke on messages + background fetch.

I don't see an obvious reason for that.

[2022-03-07 12:00] yorkshire-pudding commented on #5525
I agree - my host said it should be a drop-in replacement, so there must be a very subtle difference.

[2022-03-07 12:01] klonos commented on #5455
@indigoxela interesting. Would it be a completely different approach, or supplementing my PR? Depending on the answer, please either file an alternative PR, or a PR against mine. We can discuss/decide then.

[2022-03-07 12:17] indigoxela commented on #5455
I'm assuming, it would be supplementing, but have to admit, that I didn't try anything out yet.

Function _update_process_fetch_task() also does a [backdrop_http_request](https://github.com/backdrop/backdrop/blob/75c6028e13535a8b23f2ab511c72675a13799cc2/core/modules/update/update.fetch.inc#L161), which could take the same options - based on settings.

This enables us to still provide https fetch (

[2022-03-07 12:55] klonos commented on #5455
Sounds plausible 🙂 ...I'd say please go ahead and give it a go 👍🏼

[2022-03-07 13:09] ayushi424 commented on #5143
Hi, I am Ayushi, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you. Would also seek some guidance on working on it.

[2022-03-07 13:42] argiepiano commented on #5525
I spent a bit of time on Saturday trying to figure that out. It's very difficult to debug, unless you have LiteSpeed installed in your local. For example, watchdog doesn't have any effect at that point (probably not bootstrapped yet to that level). Same thing with dpm.

I did find out a couple of things in the duplication: the first elements are sent from cache (I manually modified  it to test), w

[2022-03-07 13:44] klonos commented on #5143
Welcome to our community @ayushi424 👋🏼

I have updated the steps to reproduce the problem in the issue summary to be more detailed. I hope it helps.

I'll follow up shortly with some further information...

[2022-03-07 14:07] Girlwithasmile commented on #5330
Just a confusion, where is the dropdown menu needed? In the actual site or the site user will prepare?

[2022-03-07 14:20] yorkshire-pudding commented on #5330
Hi @Girlwithasmile

![image](https://user-images.githubusercontent.com/20357797/157051609-41ddddb4-71f5-485f-916a-bfcc7b180e12.png)

The header block, which also contains logo, sitename, slogan if applicable also has the option to contain a menu.  However, that menu will never be a dropdown.

[2022-03-07 14:47] indigoxela commented on #5455
My problem is, that I'm currently very short on time. @klonos you already started working, so you'd be quick in also adding the verification bypass in function _update_process_fetch_task. (And also: if I'm not contributing to it, I can review it :wink: )

[2022-03-07 14:56] indigoxela commented on #5455
All of our research (also in the chat) suggest, that it's just yet another problem with the expired Letsecrypt root (CA) cert (back in 2021).

[2022-03-07 15:11] bugfolder commented on #5511
I've updated the PR and its behavior, which is now:

* Added a disable option to the "Delete layout?" confirmation page.
* If deleting (or disabling) a layout would remove a page that is used on the site info page, a warning is issued on the "Delete layout?" confirmation page, and after confirming deletion or disabling, a warning message is put up directing the user to the site info page to make t

[2022-03-07 15:45] larsdesigns commented on #5455
Oh, this is news to me. Which domain/subdomain is this certificate for?

[2022-03-07 15:49] indigoxela commented on #5455
@larsdesigns to not derail this issue too much, mind to read the issue description, and possibly the related [Zulip thread](https://backdrop.zulipchat.com/#narrow/stream/218635-Backdrop/topic/Failed.20to.20get.20available.20update.20data)? It's about updates.backdropcms.org - which has a valid and properly working LE cert. Just some (few) webservers fail to connect.

[2022-03-07 17:11] jromine commented on #5523
@olafgrabienski that looks good.

[2022-03-07 17:29] klonos commented on #5330
@Girlwithasmile to supplement what @yorkshire-pudding said above, and to specifically answer your question, when you install a fresh Backdrop site the header block is configured to hold the "Account menu". That menu has the following links available out of the box (see `/admin/structure/menu/manage/user-menu`):
- My account (shown only to logged-in users)
- Login (shown only to logged-out users)
-

[2022-03-07 19:12] larsdesigns commented on #5455
Okay, fair enough. Let me know if I can help out on the server side.

[2022-03-07 22:06] jenlampton commented on #1742
Considering that most sites don't even use revisions, I don't think adding more revision features to core is an 80% use-case. it sounds like there's already a great solution in contrib!

[2022-03-07 22:26] stpaultim commented on #4903
@indigoxela, @herbdool, @olafgrabienski, @jenlampton, @docwilmot, @laryn, @klonos, @mazzech - Any feedback available OR help with tests?

[2022-03-08 01:49] klonos commented on #1742
Right. And given there has been no interest/activity in this issue for 6 years, let's go ahead and close this.

FTR, the module seems to have been ported to Backdrop contrib about 6 years ago, but is now unmaintained, and there's no official release: https://github.com/backdrop-contrib/custom_pub ...I like this module, so I am considering to adopt it 🙂

[2022-03-08 01:49] #1742 closed

[2022-03-08 02:25] jromine opened #5533 "search_theme() has two 'file' keys"
## Description of the bug

Around line 71 of search.module, search_theme() definition array has two '**file**' keys; the second one will override the first.
[code]

[2022-03-08 03:06] stpaultim commented on #5003
I've reviewed the PR in sandbox and I like it. My initial reaction to the pop-up idea was that it's unnecessary and I don't want to derail the PR of our enthusiastic new contributor.

But, then I thought about the fact that this pop-up is displaying the README, which often has instructions on how to use a module. Wouldn't it be nice to have those instructions available right on the module page.

T

[2022-03-08 03:10] stpaultim commented on #4475
@aniketh-varma - Do you have any questions that we can help you with?

[2022-03-08 03:13] stpaultim commented on #5284
@Girlwithasmile - Let us know if you have any questions?

[2022-03-08 03:25] stpaultim commented on #5509
@klonos - I tried to help out here, but I'm not actually sure what you are talking about.

Can you (or someone) provide a specific example of:
1) fieldset legend with "Text Decoration"
2) Summary Link on <details>

[2022-03-08 03:48] stpaultim commented on #1981
What is the next step for this issue? Is there something for an OpenForce2022 contributor to do here or has the "Good First Issue" work already been done?

@jenlampton or @BWPanda

[2022-03-08 03:54] stpaultim commented on #4834
I'm assuming that @Siddharth1010 is no longer available, so this might be an excellent issue for OpenForce2022.

We already have a PR, but apparently it no longer works merges due to changes in the 1.x branch. We just need someone to create a new PR with the same change and submit it.

[2022-03-08 03:58] stpaultim commented on #2410
@jenlampton - I'm looking at issues for our OpenForce2022 participants.

Is this one still a "Good First Issue"?

It's not clear to me that we can make these changes without potentially breaking sites. What do you think?

I'm going to remove the "Good First Issue" tag - someone can add it back if we decide this is possible and provide some instructions.

[2022-03-08 03:59] stpaultim commented on #3214
This looks like another good issue for OpenForce2022. Please, let us know if you have any questions?

[2022-03-08 04:07] stpaultim commented on #5003
Also, I just noticed that the PR creates links for core modules that do not work - because they do not have project pages. I think that we can only have links for contrib modules, how much harder is that?

[2022-03-08 04:09] RakeshPotnuru commented on #5003
@stpaultim
[code]

[2022-03-08 04:13] RakeshPotnuru commented on #4834
I am working on this

[2022-03-08 05:09] stpaultim commented on #4834
I have reviewed this issue and am going to take the unusual step of doing a code review as well. This issue is uniquely easy enough for me to review.

I'm going to mark this RTBC. @BWPanda - can you review my review?

[2022-03-08 05:13] stpaultim commented on #4834
Wait, remove my license. I reviewed the wrong PR.

This one still has problems.

[2022-03-08 05:56] developer-diganta commented on #5269
Hello! Is this issue still open? Then I would like to work on it.

[2022-03-08 06:11] stpaultim commented on #5269
@developer-diganta - Yes, this issue is still open. The previous comment was from a prior hack-a-thon and the work was not completed. Feel free to work on this issue and to let us know if you have questions.

You can sometimes reach me in the OpenForce2022 discord channel as well.

[2022-03-08 07:11] VasasA commented on #5003
@stpaultim

I think it is a speciality of the sandbox. Try without sandbox. There is a tag in every released module's `.info` file: `project = `
Only in the core modules: `project = bakcdrop`

[2022-03-08 07:18] stpaultim commented on #4834
OK, let's try again. RTBC.

[2022-03-08 07:23] stpaultim commented on #5003
@RakeshPotnuru - Don't forget to restore this PR so that folks can review it and see your work.

[2022-03-08 07:35] BWPanda commented on #1981
I think it's no longer a GFI as we need someone with a knowledge of template files to tell us if we need to add more variables to the list, or if the ones in the current PR suffice.

[2022-03-08 08:42] stpaultim commented on #5143
@ayushi424 - I see you created a PR. Thanks very much!!!!!

If you create a PR, it's good to make a note in the issue letting folks know that a PR is available to review. I'll change the labels for you.

[2022-03-08 09:06] aniketh-varma commented on #4475
No questions as of now, but will surely reach out to you if I feel stuck somewhere.

[2022-03-08 09:21] purohitmansi commented on #5515
Hello @kswan!

I am an openforce 2022 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 09:41] purohitmansi commented on #5443
Hello @klonos!

I am an openforce 2022 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 09:42] purohitmansi commented on #5284
Hello @klonos!

I am an openforce 2022 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 09:44] purohitmansi commented on #4705
Hello @klonos!

I am an openforce 2022 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 09:51] purohitmansi commented on #3400
Hello @olafgrabienski!

I am an openforce 2022 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 10:59] klonos opened #5534 "#4475"

[2022-03-08 11:21] klonos commented on #5443
Hello @purohitmansi and welcome to our community 👋🏼

@alceil has already claimed that they will be working on this issue, so perhaps you can reach out to them so that you two can collaborate 🙂

[2022-03-08 12:06] klonos commented on #4705
Sure @purohitmansi 👍🏼  ...please let us know if you need help with anything.

[2022-03-08 12:11] developer-diganta commented on #5269
@stpaultim in the system.module, where shall I make the changes? I did not get which element shall I add the aria-current to...

[2022-03-08 13:30] indigoxela commented on #5515
Hi @purohitmansi,

many thanks for trying to help. However, this isn't an easy task and actually not marked as "good first issue". The direction here is still unclear, as it would break backwards compatibility.

[2022-03-08 14:48] klonos commented on #5269
@developer-diganta I've updated the issue summary:

[2022-03-08 15:00] bugfolder commented on #5509
Hi @a-tanvi (and @stpaultim), here's examples of both:

* `<fieldset>` element: See "Administration" (or any other project group) on the page at `admin/modules/list`
* `<details>` element: See "How layouts work" at the top of the page at `admin/structure/layouts`

[2022-03-08 16:39] alceil commented on #5443
@klonos I would need some help on how to set the project locally. Can you give me some pointers?

[2022-03-08 16:57] yorkshire-pudding opened #5535 "Deprecated Drupal function in core file.module function file_view_multiple"
## Description of the bug

While investigating https://github.com/backdrop-contrib/paragraphs/issues/128 and determining that the cause is having backdrop_drupal_compatibility set to False (so that 'element_sort' can't be found) it was identified that there is a line in Core that also uses the element_sort function, which will either cause a warning or an error.

https://github.com/backdrop/backdr

[2022-03-08 17:06] yorkshire-pudding commented on #5534
Not up to your usual high standard of documenting issues @klonos

[2022-03-08 17:25] laryn commented on #5535
There are also a few lines in core (outside of the drupal compatibility layer) that reference `element_sort` that may be better cleaned up.

Here's the deprecation notice: https://docs.backdropcms.org/api/backdrop/core%21includes%21drupal.inc/function/element_sort/1

So the `uasort` line likely needs to be adapted to work with `backdrop_sort` instead.

(I'll mark as "Good first issue" in case any

[2022-03-08 22:36] stpaultim commented on #4834
For our new contributors, here is what happens next.

Once an issue has been marked RTBC by someone in the community, then one of our core committers must review it and decide if it is actually ready to be committed, then they can merge it into the main 1.x branch. We currently have 5 core committers. See https://backdropcms.org/leadership

[2022-03-08 23:36] BWPanda commented on #3252
I agree that permission warnings should be more prominent, and I like the simple approach of making the warnings show on a new line and with a bold 'Warning' prefix. I think the majority also prefer this.

I therefore recommend going forward on this issue with that approach, and opening separate issues for other suggestions (e.g. deprecated permission warning, etc.).

@klonos Can you please clarif

[2022-03-08 23:37] stpaultim commented on #2566
#OpenForce2022 participants. If you are interested in this issue, the goal is to replace the word "user" with other terms like "author", "person," etc.

In this case, we're looking at the views UI, which can be found here:
https://github.com/backdrop/backdrop/tree/1.x/core/modules/views_ui

[2022-03-09 00:05] #4834 closed

[2022-03-09 00:07] BWPanda commented on #4834
Thanks @RakeshPotnuru for the PR (and to @Siddharth1010 for the original attempt)! I've merged https://github.com/backdrop/backdrop/pull/3976 into 1.x and 1.21.x.

[2022-03-09 02:36] stpaultim commented on #4834
@RakeshPotnuru - Congratulations on your core commit for Backdrop CMS.

[2022-03-09 04:34] jenlampton commented on #1981
If you do a `print_r(array_keys($variables))` in [`template_preprocess_page()`](https://docs.backdropcms.org/api/backdrop/core%21includes%21theme.inc/function/template_preprocess_page/1) you should be able to get a list of everything that's available. I think verifying that the old list in the Original Post is still accurate is a GFI, but documenting each of them might require someone with more ex

[2022-03-09 10:23] olafgrabienski commented on #3400
Hello @purohitmansi Thanks for considering to work on this issue. While it shouldn't be too hard to fix the issue code-wise, I'm not sure if it's still a "good first issue". The reason: there is a valid concern that tweaking Basis might lead to unexpected changes to existing sites that are using Basis as their only theme. See https://github.com/backdrop/backdrop-issues/issues/4167. You can however

[2022-03-09 10:52] RakeshPotnuru commented on #3214
Issue opened 4 years ago, is this still not resolved?

[2022-03-09 11:12] BWPanda opened #5536 "[UX] Provide details about why a permission 'has security implications'."
## Description of the need

When I see that a certain permission "has security implications", I wonder what those implications are, and how much they'll affect my site/users...

## Proposed solution

I'd like to propose allowing developers to write an additional description for permissions that describe what the security implications are.

## Alternatives that have been considered

Backdrop alread

[2022-03-09 11:22] BWPanda commented on #5536
Here's an example of the proposed functionality, and how it differs from the current functionality...

**Current (without 'warning')**:
[code]
![image](https://user-images.githubusercontent.com/2385329/157430944-334d045f-12f3-441c-b783-9790b35f55f0.png)

**Current (with 'warning')**:
[code]
![image](https://user-images.githubusercontent.com/2385329/157431590-75b49f17-4bd5-478e-8041-cc96044849f5.pn

[2022-03-09 11:24] BWPanda commented on #5536
Here's a PR that provides the above functionality (without the addition of 'warning' text for permissions that didn't already have some - should that be added here or in a follow-up?): https://github.com/backdrop/backdrop/pull/3979

[2022-03-09 20:21] stpaultim commented on #3214
@RakeshPotnuru - We have over 2000 open issues in the issue queue, many of them are several years old, some older than this one.

The best thing to do in this situation - is to test the problem and see if is still a problem. If you can not recreate the problem, you can post a note with your findings and close the issue (which is a really helpful contribution).

For this issue, @klonos gave pretty

[2022-03-10 00:17] stpaultim commented on #3214
I see now that someone tried to recreate this issue and failed. I'll see what I can do to see if this is still a problem unless @klonos is around and can help before me.

[2022-03-10 03:03] stpaultim commented on #3798
Needs "Feature Request" tag to show up on survey.

[2022-03-10 04:31] stpaultim commented on #4475
I may not have looked close enough at this issue. I thought that there were problems with the existing PR and it needed more work. But, as I review the comments here and the comments on the PR itself, it's not clear to me if we need a new PR or just need to test and review this one.

Can someone test the existing PR to see if it does what it is supposed to?

[2022-03-10 05:18] stpaultim commented on #5003
I put this on the dev meeting agenda for tomorrow. We have a PR that needs testing, feedback, and review.

https://forum.backdropcms.org/forum/mar-10th-weekly-meeting-agenda-items?page=0%2C0#comment-3875

[2022-03-10 05:25] stpaultim commented on #5143
I've reviewed this PR. It is a small change to the help text, which is something I can say works for me and approve the code change. :-)

[2022-03-10 05:38] #5143 closed

[2022-03-10 05:39] BWPanda commented on #5143
Thanks for the PR @ayushi424! And thanks to @docwilmot for spotting this. I've merged https://github.com/backdrop/backdrop/pull/3977 into 1.x and 1.21.x.

[2022-03-10 05:58] stpaultim commented on #5443
@alceil - I have provided detailed steps on how to reproduce this problem.

For instructions on how to get up the project locally, see our documentation (still being written).
https://docs.backdropcms.org/documentation/setting-up-a-local-development-environment

Here are three possible tools you can use:
Lando = [docs.lando.dev/backdrop](https://docs.lando.dev/backdrop/)
DDev = [backdropcms.org/ne

[2022-03-10 06:01] stpaultim commented on #5143
@ayushi424 Congratulations on your first merged commit to Backdrop CMS. We hope that you will try another one.

[2022-03-10 06:15] stpaultim commented on #3214
@RakeshPotnuru - I am able to recreate this one, you can test this with any site even a demo site. https://backdropcms.org/demo

1) Open the site and make it narrow enough that the hamburger menu is exposed.
2) Start to tab through the site.
![image](https://user-images.githubusercontent.com/3144571/157600453-24875e83-2424-4318-8711-24713653e1da.png)

3) Hit tab again
![image](https://user-images.

[2022-03-10 06:36] stpaultim commented on #336
I was checking this issue because it's marked good first issue. It seems that the work is done and we just need to decide if we consider this backward compatible. I put this on the agenda for meeting tomorrow, maybe we can wrap this up.

I will remove the good first issue tag, since I don't think there is anything for a new contributor to do right now.

[2022-03-10 08:05] AnjaliJha1221 commented on #5397
Hello, I'm participating in OpenForce. I would like to work on this issue, please guide me further on how to get started, as I am a total beginner.

[2022-03-10 10:10] BWPanda commented on #5003
@klonos
I disagree with having a popup showing the module's README. If a contrib module is able to be installed, it's already on the system, so someone's already put it there (and presumably knows what it does). The only exception to this is core modules (some people might know know what they do), but ironically they don't have READMEs to show anyway. So I think ditch the popup idea and just go wi

[2022-03-10 17:53] eric2pin opened #5537 "Settings file configuration override not respected when no $key is specified in Config::get()"
## Description of the bug

If a configuration value is loaded entirely by core / modules without a value for $key, the override system isn't properly implemented.

## Steps To Reproduce
Install and enable the Maillog module on a Backdrop CMS install. Add $config['system.mail']['default-system'] = 'MaillogMailSystem'; to your settings file. Visit admin/config/system/mailsystem to see your override

[2022-03-10 18:43] jenlampton commented on #336
@klonos I'm not sure the use-case you brought up here is a valid one. The only way this could be a problem is if you have people who have permission to administer settings, without administering comments themselves. Not only is this likely to be a very rare scenario, but because the settings-only permission did not exist before this change, the liklihood of that affecting existing sites is zero. (

[2022-03-10 18:44] jenlampton commented on #336
@stpaultim  this issue both needs code review and testing. And since the code change is minimal, those are both realistic for first time contributors. I'm going to add the label back since we have a shortage of people helping to test issues.

[2022-03-10 19:58] VasasA commented on #5003
@BWPanda Thank You for better and elegant way to check for core modules: I found a solution:
Insert this row into `core\modules\system\system.admin.inc` into line 789:
[code]
And the fixed code in the `core\modules\system\system.theme.inc`:
[code]
(Remove this line: `$module_data = system_rebuild_module_data();`)

[2022-03-10 20:14] bugfolder commented on #4903
I've just taken a look with fresh eyes (meaning, it's been a while since I last looked at this 😉). I think it looks good. The images are clean and won't look dated very soon, and the text is clear and to the point.

[2022-03-10 20:17] bugfolder commented on #5003
I, too, don't think the module's README should be in the popup, for the reasons articulated by @BWPanda.

[2022-03-10 20:59] quicksketch commented on #336
This looks good to me. We now have precedent for adding/splitting permissions and have done the same thing in a few other places, such as:

* https://github.com/backdrop/backdrop-issues/issues/313
* https://github.com/backdrop/backdrop-issues/issues/382

There was a fair amount of permissions additions added throughout File module's history too.

[2022-03-10 21:55] jenlampton commented on #3270
I'm going to re-open this issue (perhaps temporarily) until I can get some feedback on...

Since we now have a pretty good relationship with the Cetnter for Accessible technology, I'd like to ask them about mailto links and obvuscators, and see if they have any advice for us.

As the president of the board and the person who built my NP's website, I felt horrible knowing that our board members wer

[2022-03-10 23:53] echozone commented on #5469
I get same Notice plus the second Notice, on config manger single export screen, but comment module is installed + I did not uninstall it. It's a D7 migrated site.

`Notice: Trying to access array offset on value of type null in field_config_label_instance() (line 435 of __/core/modules/field/field.module).
Notice: Trying to access array offset on value of type null in field_config_label_bundle()

[2022-03-11 01:26] BWPanda commented on #5534
Closing, until more info can be provided.

[2022-03-11 01:26] #5534 closed

[2022-03-11 01:31] BWPanda commented on #5515
Marking this as a feature request since functionality we don't have is being requested.

[2022-03-11 02:51] quicksketch commented on #5525
The main location of Backdrop's background fetch cache code is in `_backdrop_bootstrap_page_cache()`. The central concept is that when a cached page expires, Backdrop serves one stale copy back to the browser, but keeps the PHP process open to generate a fresh cache for the next request.

This section of code in particular is responsible for closing the connection between the web server and PHP. W

[2022-03-11 02:56] quicksketch commented on #5525
I don't have a LiteSpeed server set up to test, but I think this PR should solve the fundamental problem: https://github.com/backdrop/backdrop/pull/3981.

[2022-03-11 03:41] quicksketch commented on #5499
Overall I think the concept looks good.

I found a few small issues in the PR: https://github.com/backdrop/backdrop/pull/3950#pullrequestreview-906728443

[2022-03-11 04:10] argiepiano commented on #5525
I've reviewed and tested on my LiteSpeed server, and this patch solves the issue.   LGTM 👍🏽  Thanks, @quicksketch!

I'm not sure how to mark this issue if it's not considered a bug. Feature request? Task?

[2022-03-11 05:41] RakeshPotnuru commented on #5535
@laryn , @yorkshire-pudding
I am an OpenForce participant and would like work on this

[2022-03-11 06:33] RakeshPotnuru commented on #3214
I am working on this

[2022-03-11 07:15] indigoxela commented on #5525
Fair enough. Then it's (sort of) a new feature. I think, we should support LiteSpeed, as its usage [seems to increase](https://w3techs.com/technologies/history_overview/web_server/ms/q).

[2022-03-11 08:07] indigoxela commented on #5537
@eric2pin many thanks for reporting, but I have two requests: can you provide an example without contrib module involved? And can you point to the code lines you're referring to in the additional infos?

As for the maillog module - I suspect, you mixed config with settings. Things added to the settings.php file are handled via [settings_get](https://docs.backdropcms.org/api/backdrop/core%21include

[2022-03-11 08:13] stpaultim commented on #4475
@jenlampton or @klonos - If either of you are able to comment on the status of this issue, it would be very helpful.

@aniketh-varma - I think that it will be important to set up a local environment for this issue, because I think that is the only way to to really test it. The next step on this issue is, I think to determine if the current PR is working. If you can help with that, it would be grea

[2022-03-11 08:29] aniketh-varma commented on #4475
@stpaultim Surely, I can help with testing the existing PR.

[2022-03-11 08:30] stpaultim commented on #5397
@AnjaliJha1221 - If you are able, here is a chance to get some help.
https://events.backdropcms.org/sessions/writing-your-first-pr-for-backdrop-cms

[2022-03-11 08:41] yorkshire-pudding commented on #5525
I've tested on my LiteSpeed Server and it fixes the issue.  I agree that we should support LiteSpeed going forward; my host, Kualo, has moved to it and more and more are using it.  If we want to badge Backdrop as being suitable for shared hosting, then we should probably support this as more shared hosts implement it.
There is an open source version (Open LiteSpeed).

[2022-03-11 08:44] yorkshire-pudding commented on #5535
Hi @RakeshPotnuru - feel free.  I can't offer much help as I haven't been able to produce an error from this code with Drupal compatibility set to off.  If you find what it breaks (something to do with files), it would be good to document here which will then facilitate testing.

[2022-03-11 10:02] indigoxela commented on #5537
Ah, wait, I have to correct myself :wink:

Looking at Config::isOverriden, one clearly sees that the key is not optional.
[code]
If there's no key, then it's not overridden.

Neither is the key optional in [Config:getOverride](https://github.com/backdrop/backdrop/blob/1.x/core/includes/config.inc#L699)

I suspect, the missing key has to get addressed in the contrib implementation, didn't look at t

[2022-03-11 10:08] indigoxela commented on #5537
A quick question: Why using settings.php, anyway. The value is available via config - wouldn't it be easier to switch to config->set() instead? Then everything is feasible via UI, and no fiddling with settings.php is necessary.

[2022-03-11 11:02] klonos commented on #4475
Sorry everyone for not getting to this issue earlier 😞

The existing PR from @xla233 seems to be looking good. The only problem was that there was a random failure in the GitHub automated tests.

[2022-03-11 11:56] eric2pin commented on #5537
@indigoxela Thanks for the quick reply!

With my hosting setup (Pantheon) my config is not writeable on test or prod environments and has to be changed in the repo only, then deployed. It seems defensible that config should be static on production, but that's a big and different topic.

I am using a settings.local.php style implementation to provide some configuration overrides for distinct enviro

[2022-03-11 12:37] indigoxela commented on #5537
I've zero experience with Pantheon, but that seems very "business" and also very inconvenient to me. :wink:
Does that mean, you can't even override the site name or add a date format without the deployment run?

Sure, that's one of the cool features of Backdrop.

config_get() works nicely without key.

getOverride() without key can not work. You can only override something that's defined by a key.

[2022-03-11 14:03] klonos commented on #4475
...I had to close and re-open the PR a couple of times, but eventually every test passed.

When public is the default, and the file system is writable:
<img width=70% src="https://user-images.githubusercontent.com/2423362/157867843-03cf69c3-ab22-4bc2-89e4-c46bd3d601c5.png">

...when private is the default:
<img width=70% src="https://user-images.githubusercontent.com/2423362/157868176-134bb621-fdb

[2022-03-11 14:06] klonos commented on #4475
@xla233 I am assuming that you most likely have lost interest in working on this (sorry that we failed to test this thoroughly and provide feedback to you earlier).

@aniketh-varma is the feedback I have provided above clear and thorough enough? Are you still interested in working on this, and would you need any help?

[2022-03-11 15:17] gitressa commented on #5156
This was added, and being used in https://docs.lando.dev/backdrop/getting-started.html so closing this issue. Thanks @laryn, @klonos and @reynoldsalec!

[2022-03-11 15:17] #5156 closed

[2022-03-11 15:28] xla233 commented on #4475
Hi @klonos, no worries and yea sorry I've been a bit busy and haven't replied earlier. I did see that my PR was passing the tests, but I didn't know if I should be the one to merge it or not. I was a little bit confused as to how the issue should be resolved, and eventually lost track of the issue. My apologies.

And if my PR requires more work, anyone is free to take my PR and start from there. :

[2022-03-11 15:51] AnjaliJha1221 commented on #5397
Sure, thanks

[2022-03-11 22:12] quicksketch commented on #336
One more comment @BWPanda if you could take a look: https://github.com/backdrop/backdrop/pull/3370/files#r825147313

[2022-03-11 23:02] BWPanda commented on #336
Done.

[2022-03-11 23:56] jackaponte opened #5538 "Add check that active configuration directory is writable to system_requirements"
## Description of the need

I've gotten bitten a few times when file ownership or permissions gets set incorrectly on `config/active` such that the active configuration directory isn't writable. Since some modules still incorrectly store states in config instead of in the states storage system, that can lead to surprisingly broken sites with entire pages failing to load and displaying "Failed to w

[2022-03-12 00:23] jenlampton commented on #4408
just had a thought: we could add a "reset" button that could restore the weight of the filter from the providing module. And use the reset feature every time a filter is enabled (the first time also). We'e need to explain why the reset button is necessary (and maybe choose a better name) but this might solve a lot of frustration for people who had changed the order of items previously, not underst

[2022-03-12 03:32] quicksketch commented on #5499
Added this to the 1.22.0 milestone and added @bugfolder as the advocate in the summary.

[2022-03-12 03:36] klonos commented on #5534
I honestly don't know what happened there 🤷🏼

[2022-03-12 03:36] quicksketch commented on #4229
We already allow direct image embedding that is very similar to what's shown in the video, including a views-based image browser.

We don't provide generic media type embedding, like videos or PDF documents though. However, in those cases often a filter like https://backdropcms.org/project/video_filter can do the job for externally hosted videos.

Could you clarify which type of functionality you'

[2022-03-12 04:14] #4229 closed

[2022-03-12 04:21] jenlampton opened #5539 "Automatically create a node/% layout when one is created for node/NID"
I was thinking that when someone did create a layout by typing in `entity/numeric`, we could use a submit handler to switch it to the expected use: a layout at `node/%` with a visibility condition limiting it to the single entity, either by ID or path.

That way nobody needs to learn a new behavior, but we deliver the feature we intended, and it will work closer to how they expect.

This is a foll

[2022-03-12 04:29] jenlampton commented on #2636
I'm not sure we should fix this issue. If we provide a "main page content" block on a page that has no main page content, then that block would print nothing, so it would not show up at all. This might create an even more confusing experience than not being able to add the empty block to the page.

I've created https://github.com/backdrop/backdrop-issues/issues/5539 to address the issue of what ha

[2022-03-12 04:40] jenlampton commented on #2006
Based on my experience with usability testing, the longer a form becomes, the more stressful the experience. The same goes for lead conversion: the more fields you add to a form, the fewer people will complete that form (and the fewer leads convert).

If anything, we should be moving towards decreasing the number of items in each page in order to make the interface less overwhelming.

[2022-03-12 04:53] jenlampton commented on #867
I don't think group functionality meets the 80% requirement for a core feature, this is probably best left to contrib. On the upside, we now have a version of organic groups for contrib! https://github.com/backdrop-contrib/og

[2022-03-12 04:53] #867 closed

[2022-03-12 05:24] tanisha-tech360 commented on #4705
Hey @klonos
I am an Openforce 2022 Contributor.   I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you"

[2022-03-12 05:41] tanisha-tech360 commented on #4670
Hey  I am an OpenForce 2022 Contributor . I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you"

[2022-03-12 05:59] aniketh-varma commented on #4475
Hi @klonos
Yes, I will start working on the issue. Would seek help on the Zulip chat or on this thread if I get stuck.

[2022-03-12 06:55] quicksketch commented on #5499
I don't think using `module_enable()` will work reliably for a couple of reasons:

* Firing module install hooks (like `hook_modules_installed()`) probably isn't safe at the point of a D7 database that hasn't yet had any updates applied. Modules will be expecting a fully updated database at the time they enable, not a Drupal 7 database structure (with virtually no configuration files yet created).

[2022-03-12 07:06] stpaultim commented on #336
I tested the Pull Request and it seems to work as expected.

I created a TEST account and gave them editor role.

When I gave them Administer comments permission they were able to access to the admin/content/comment page.
When I gave them Administer comments settings permission they were able to access to the comment settings vertical tab on nodes.

It all seems to work as expected.

(I did this a

[2022-03-12 07:39] stpaultim commented on #2062
As part of a OpenForce2022 I did a PR demo and we created a PR for this issue.

Please, take a look and give us feedback.

[2022-03-12 10:23] BWPanda commented on #2062
FTR, here's what it looks like with the above PR:

![image](https://user-images.githubusercontent.com/2385329/158014267-c233be58-1c8f-40de-849d-b6d618d39549.png)

[2022-03-12 10:31] BWPanda commented on #2062
I'd personally prefer something like this instead:

![image](https://user-images.githubusercontent.com/2385329/158014449-82a1cc8d-02d4-449b-9b7f-4e2b960d5a1f.png)

And here's a PR that does just that: https://github.com/backdrop/backdrop/pull/3983
- Removes 'width/height' text from description
- Adds placeholder text instead
- Reduces width of number fields to look more natural

[2022-03-12 21:15] stpaultim commented on #2062
@BWPanda - excellent improvement. I closed my PR in favor of yours and tested it. I will mark it "Works for Me."

[2022-03-12 21:23] stpaultim commented on #4670
@tanisha-tech360 - Welcome to the Backdrop CMS issue queue. Please, feel free to post questions here. We would like to help you solve this problem.

[2022-03-12 21:29] argiepiano commented on #2062
I do have a question about the latest PR by @BWPanda. When values are input into the fields, you don't know which field is for width and which for height. It may not too be problematic, but I think it's helpful to know at a glance.

[2022-03-13 03:24] quicksketch commented on #4903
I pushed a commit to @stpaultim's PR at https://github.com/backdrop/backdrop/pull/3862 that fixes all tests related to the difference in default content. Rather than adjusting the tests for 3 additional nodes, I deleted all default content in associated tests, which should make the tests more robust and less likely to break if we add/change any other default content in the future.

[2022-03-13 05:04] quicksketch commented on #4903
@stpaultim I found a few other issues in the way this is set up. Since these changes are bit more opinionated I'll leave them for your review. I filed a PR against your branch at https://github.com/stpaultim/backdrop/pull/3

* Move most CSS out of `skin.css`, which is supposed to be used only for colors, into a dedicated `components/cards.css` file.
* Change the default image style to crop top-cen

[2022-03-13 05:08] stpaultim commented on #4903
@quicksketch - Thanks for this review. Your suggestions all look pretty good. I'm going bed now, but will review them tomorrow. We're getting close on this one.

[2022-03-13 06:22] quicksketch commented on #5524
Filed a PR at https://github.com/backdrop/backdrop/pull/3984. I'm not sure if this counts as official support (combined with https://github.com/backdrop/backdrop-issues/issues/5525). But in any case I agree that it would be useful to track how many LiteSpeed servers are in use.

I'm surprised in general with the resurgence of LiteSpeed. I remember it from decades ago and it was always a bit player

[2022-03-13 06:34] #5525 closed

[2022-03-13 06:36] quicksketch commented on #5525
Thanks @argiepiano and @yorkshire-pudding! Could either (or both) of you take a look at the other LiteSpeed issues we have open?

- https://github.com/backdrop/backdrop-issues/issues/5524
- https://github.com/backdrop/backdrop-issues/issues/3584
- https://github.com/backdrop/backdrop-issues/issues/3386
- https://github.com/backdrop/backdrop-issues/issues/5150 (@yorkshire-pudding filed this one)

I

[2022-03-13 06:41] quicksketch commented on #5150
We can definitely change this error message, but you may be better of _uninstalling_ the `uploadprogress` PHP extension and just let the built-in client-side progress bar take over, which works in all browsers and does not require any special server-side software. Backdrop uses any server-side software installed first before it uses the client-side approach, but the client-side one is probably the

[2022-03-13 06:48] quicksketch commented on #5150
I filed a PR at https://github.com/backdrop/backdrop/pull/3985, but it depends on LiteSpeed being properly detected through the PR for https://github.com/backdrop/backdrop-issues/issues/5524.

[2022-03-13 06:58] #5528 closed

[2022-03-13 06:59] quicksketch commented on #5528
Thanks folks for the discussion and fix. I think you landed on the correct reasoning why upgraded roles keep using the numeric ID instead of trying to automate a new machine name. The role ID is used all over the place for assigning permission (such as in views, block visibility, etc) and continuing to use the numeric ID makes it so that those places don't also need to be remapped. I also had conc

[2022-03-13 07:01] RakeshPotnuru commented on #3214
I researched and found that `label` is not a focusable element.

[2022-03-13 07:11] RakeshPotnuru commented on #5431
Hey, all the participants! I am overwhelmed seeing the number of issues this project has. So as part of the OpenForce 2022 program, I want to help as many issues as possible get closed.
So what about this issue? Users or People or have to change only some parts?

[2022-03-13 07:17] RakeshPotnuru commented on #5284
Hey @purohitmansi, @Girlwithasmile
What is the progress? Do you need any help?

[2022-03-13 07:31] RakeshPotnuru commented on #5261
Hey everyone
Is this discussion still going on?

[2022-03-13 11:31] RakeshPotnuru commented on #2566
@stpaultim
I think this issue is resolved
[https://github.com/backdrop/backdrop/blob/1.x/core/modules/views_ui/views_ui.module#L734](https://github.com/backdrop/backdrop/blob/1.x/core/modules/views_ui/views_ui.module#L734)

[2022-03-13 12:22] RakeshPotnuru commented on #5213
@klonos
I am able to reproduce this issue. Can you tell how we find if a user has no Administration permission?

[2022-03-13 13:41] ElusiveMind opened #5540 "TaxonomyTerm Not Creating Term Hierarchy Reference"
## Description of the bug

When using TaxonomyTerm::save for a new term, the term is not showing up on the backend of Backdrop.

## Steps To Reproduce

I am using the following code in my module:

[code]

I had to add the following code to my module to facilitate:

[code]

## Actual behavior

The term is created and is in the taxonomy_term_data table, but is not viewable on the UI. The term count

[2022-03-13 13:59] oadaeh commented on #5213
You have to be logged into the site with an account that has at least some administrative permission (the first user, or user ID (UID) 1 has that) and click the "User accounts" menu item in the admin bar at the top of the page. The path is /admin/people.
That page has a list of all user accounts on the system.

![image](https://user-images.githubusercontent.com/376249/158063058-ba24f6d2-6130-4075-

[2022-03-13 14:06] RakeshPotnuru commented on #5213
@oadaeh
Sorry it's my mistake for unclear comment. I actually asked code to find admin or user so that I can hide the button.
I successfully reproduced this issue.

[2022-03-13 17:11] RakeshPotnuru commented on #726
@BWPanda, @klonos
I think this issue resolved
<img width="229" alt="image" src="https://user-images.githubusercontent.com/70439799/158070948-ba08a1c5-f63c-439e-9bf1-b910f3c7c7d3.png">

[2022-03-13 17:56] RakeshPotnuru commented on #909
We have to stick to the default focus style. Firefox adds a small dotted border as the default focus. But if you want a large focus then we must use `:focus` pseudo-class.
From [here](https://hacks.mozilla.org/2019/06/indicating-focus-to-improve-accessibility)
![Screenshot 2022-03-13 232131](https://user-images.githubusercontent.com/70439799/158072656-7a5aa664-651d-40f9-81af-e9cac8b8be91.png)

[2022-03-13 19:47] stpaultim commented on #3214
@klonos or @jenlampton  - Do you have any ideas about how to solve this problem?

[2022-03-13 20:17] jenlampton commented on #5431
Yes, the words "users" and "people" are synonyms. There's no difference in
meaning.

People who are logged out are "anonymous users", so they are still users.

Beacuse people don't like being called users, and that's one of the things
that makes software feel robotic and unfriendly, we've already changed
nearly every instance of "users" to "people" in Backdrop core.

This issue is because we overl

[2022-03-13 20:21] stpaultim commented on #5431
@RakeshPotnuru - If you look through the discussion so far, you will see the focus here is on replacing the word "User" with "People" when this makes sense. We will still refer to user accounts as user accounts.

A good start on this issue would be to search through the code base and find a couple of examples, then post them here for feedback. I would not try to solve this problem all at once, unt

[2022-03-13 20:25] stpaultim commented on #5431
NOTE: I see that @jenlampton originally specified the UI, so I don't know if we need to change the comments in code that I listed, but I don't think it hurts any.

[2022-03-13 20:39] stpaultim commented on #5261
@RakeshPotnuru - We have lots of open discussions like this and we don't remember the status of each one. You can help us, but reading through the issue and summarizing:

1) What is the problem
2) What is the recommended solution or solutions
3) Suggesting what you think the next step should be.

Often times, we just need someone to create a Pull Request based upon the discussion so far, with the

[2022-03-13 20:49] stpaultim commented on #2566
@RakeshPotnuru - No, I still see the issue.

![image](https://user-images.githubusercontent.com/3144571/158078659-34b68912-a9f0-4c70-9025-ebf614bb9868.png)

I will add steps to recreate in the original issue.

[2022-03-13 21:09] stpaultim commented on #726
@RakeshPotnuru - Your screen shot shows the menu on mobile. This issue is about the desktop view.

However, I am also having trouble to recreate this issue. Here are the steps that I THOUGHT would recreate it.

1) Spin up site and enable Bartik and make it the default theme. /admin/appearance
2) In the theme settings for Bartik, enable rounded tabs /admin/appearance/settings/bartik

[2022-03-13 22:39] stpaultim commented on #5213
The current PR works as expected, in terms of hiding the button from users that do not have the "View site reports". However, even those with that permission are unable to use the button, so I think we are looking at the wrong permission.

My experimentation suggests that a person with the `Administer site configuration` role is able to manually check for updates and that this would be a better ro

[2022-03-13 22:44] stpaultim commented on #4903
It has been pointed out that the link the "Cards" block is incorrect. That is because we have yet to generate the appropriate documentation that we would want to link to. I don't know if we want to create that documentation yet, since this decision is not yet final.

Maybe it's time we create it, but keep it unpublished until the feature is released.

[2022-03-13 23:07] bugfolder commented on #4903
To help keep this issue on-track, I'm going to open a separate issue for the documentation in the docs queue. Since cards (presumably) won't appear to users until 1.22 in May, that will give some time to get the documentation ready, which a quick perusal suggests includes both editing existing pages, as well as (possibly) adding a new page.

https://github.com/backdrop-ops/docs.backdropcms.org/iss

[2022-03-13 23:10] jen commented on #4903
Hi all, I’m @jen, but the wrong Jen for this project.

On Mar 13, 2022, at 3:44 PM, Tim Erickson ***@***.***> wrote:

[2022-03-13 23:19] bugfolder commented on #4903
@jen (AKA "the other Jen") you got included due to an erroneous mention a few comments up (which I just edited to the proper Jen), and that subscribed you to the issue. There's an Unsubscribe button in the right sidebar of this issue, so you can unsubscribe using that if you like. (I think. Haven't tried that myself.)

[2022-03-14 02:18] SHIKHER09 commented on #5539
hello, Can I work on it

[2022-03-14 02:31] argiepiano commented on #5540
I have been able to reproduce this by following the steps. The saved taxonomy term is accessible through the regular path and through the alias, and it can't be edited, but it's not shown in the  term list for the vocabulary.  If you edit the term through the UI and save it again, it will appear.

Any thoughts on what may cause this? Do you think you can debug it?

(One detail, unrelated to this i

[2022-03-14 02:40] argiepiano commented on #5540
OK, I've debug this a bit.

It seems like `parent` MUST be an array of parents. It can't be a numeric value.

If you try the following, the term will be saved normally:

[code]

So, it looks like this is not a bug after all?

[2022-03-14 02:42] argiepiano commented on #5540
However, the documentation for this property is wrong. It must be either fixed, or the `postSave()` method has to account properly for a value of 0.

[code]

[2022-03-14 02:54] argiepiano commented on #5540
Rather than changing the documentation, I believe the most efficient way to fix this is to typecast `$entity->parent` as an array. This will allow parent to be a 0 value. PR coming.

Another way is to fix the documentation to clarify that parent should always be an array... let me know if that's preferable and I'll scrap the linked PR.

[2022-03-14 02:55] argiepiano commented on #5540
PR https://github.com/backdrop/backdrop/pull/3989

[2022-03-14 03:35] BWPanda commented on #5536
I've updated the PR to include warnings for all restricted core permissions. The only two I'm not sure about are `Administer fields` and `Administer tests`. Can someone shed some light of the security implications of those?

[2022-03-14 07:03] indigoxela commented on #5540
Personally, I'm not a huge fan of typecasting. A variable should have one type and ideally not multiple, I'm aware this is often not the case in core. Currently I'd rather prefer to fix the documentation. Let me explain:

[code]

The confusing part is: `An entry of 0 means this...`. However, also note the `@var array`. It should be an array and only array.

IMO this should rather be: `An entry of

[2022-03-14 07:15] indigoxela commented on #5213
Maybe it's rather `'use installer browser'`? ('Install and update modules, themes & layouts')

[2022-03-14 09:33] yorkshire-pudding commented on #3584
As mentioned on #5525 I'm checking this.  I have not experienced this on my LiteSpeed hosting so I guess it is (or was) limited to OpenLiteSpeed.  A quick search shows a number of discussions after this one on various sites which suggests that OpenLiteSpeed may now support some aspects of .htaccess.  I'm not clued up enough about docker to test this and Lando doesn't have the option.

[2022-03-14 09:51] ElusiveMind commented on #5540
I'll add my .02 on the documentation issue. I think the issue for me, was the documentation at

https://docs.backdropcms.org/api/backdrop/core%21modules%21taxonomy%21taxonomy.entity.inc/class/TaxonomyTerm/1?title=&title_1=&object_type=&order=summary&sort=desc

was not clear in my initial reading that this should be an array. I didn't look through the code, admittedly. As for the typecasting, would

[2022-03-14 10:10] yorkshire-pudding opened #5541 "Add support for SVG images."
## Description of the need

At present, if you have uploaded SVG files to use on site, these show as though the file can't be found:
![image](https://user-images.githubusercontent.com/20357797/158149670-fb088e45-55ac-4096-a02d-5e36f36e39e1.png)

As a content author
I want to be able to preview SVG images when I go to add an image to a content item through the "Select from Image Library dialog"
So

[2022-03-14 10:19] indigoxela commented on #5540
That is technically possible, also via UI, but to be honest, I've no real world use-case for that.

UI:
![multiparent](https://user-images.githubusercontent.com/842066/158152446-ec134d5d-0dd5-441b-91df-b0cba5f819cd.png)

Debugging:

[code]
Outcome:
[code]
So, I can't provide anything useful for `TAXONOMY_HIERARCHY_MULTIPLE`, only that it seems to be possible.

I'm still no fan of typecasting, when

[2022-03-14 10:37] indigoxela commented on #5541
The main problem with SVG: it's not an image format, but SVG's are **documents**. Possibly they even contain **scripts** - which is a security problem.

The second problem: the GD library can't handle SVG. GD is the default image handling library in Backdrop (and other php based CMS).

[2022-03-14 10:48] yorkshire-pudding commented on #5525
Thanks @quicksketch - I've looked at all those:  I've tested #5524 and #5150 and both work.  I've added comments to #3584 and #3386 to confirm that I do not experience these issues on LiteSpeed.  I think they are/were limited just to OpenLiteSpeed.  It may be that these are now sorted, but I'm not sure how to test that as setting up a test server outside lando is a bit beyond me.

[2022-03-14 11:19] indigoxela commented on #5541
Out of curiosity I played around a bit with svg. All necessary support seems to be in core already. The culprit here is the way, the image library view handles things (hardcodes to img tag). That one would need a complete rewrite - which is probably not backwards compatible.

My experiments:

1. Create a custom file type SVG with "image/svg+xml"
2. Configure the display for that file entity type
3

[2022-03-14 11:23] yorkshire-pudding commented on #5541
For the first problem, I'm going to take a look at https://www.drupal.org/project/svg_sanitizer

Thanks for looking.  I've been using SVGs for logos without too much difficulty.  I spotted this while testing something else on that view and thought it's worth looking at.

I can't see a problem with this being contrib as its probably not something that the majority will try to do.  Added label

[2022-03-14 12:13] RakeshPotnuru commented on #726
@stpaultim
It's looking fine, I think it's fixed.
<img width="956" alt="image" src="https://user-images.githubusercontent.com/70439799/158169657-939baa72-aab4-4177-924b-9370796b6cfd.png">

[2022-03-14 12:18] RakeshPotnuru commented on #5261
@stpaultim
Yes, I understood the problem. But they are discussing which colour to use. So I asked.

[2022-03-14 12:32] argiepiano commented on #5540
I agree with you, @indigoxela . I had missed the `@var array` last night. I'll scrap this PR and will provide  a fix for the doc as you suggest

[2022-03-14 12:57] indigoxela commented on #5540
@argiepiano Same here. :wink: A tiny coding standard fix and I think we're done (see my PR comment).

@ElusiveMind would the example `array(0)` have helped you to understand what's needed? Any other recommendation for the current [doc block](https://docs.backdropcms.org/api/backdrop/core%21modules%21taxonomy%21taxonomy.entity.inc/property/TaxonomyTerm%3A%3Aparent/1) to make developer lifes easier?

[2022-03-14 13:23] argiepiano commented on #5540
Fixed coding standard. Thanks @indigoxela.

[2022-03-14 13:28] ElusiveMind commented on #5540
It would have helped.

From a developer standpoint, anything defensively we can contribute to remove warnings helps. Or some kind of sanity checking to make sure the variable being passed is the correct type would be a benefit. But I'll leave this to your discretion.

[2022-03-14 13:49] indigoxela commented on #5540
That seems a bit tricky here - TaxonomyTerm::create overrides Entity::create. Silently replacing wrong types with `array(0)` might lead to unexpected results, when there should actually be a parent.

I get the point. Currently there's only a pretty generic php warning: "Warning: Invalid argument supplied for foreach() in TaxonomyTermController->postSave() (line 281 of ...core/modules/taxonomy/taxo