[2022-03-14 16:11] aniketh-varma commented on #2566
Hi, I would like to work on this issue.

[2022-03-14 16:30] indigoxela commented on #2566
Hi @aniketh-varma,

yes, sure, you're welcome! Let us know, if you need any guidance regarding code or Github or anything related to the workflow.

[2022-03-14 17:06] klonos commented on #1416
I've created and published this change record to go with the `watchdog_deprecated_function()` function: https://docs.backdropcms.org/change-records/function-user_validate_mail-has-been-removed

@BWPanda do you have capacity to update your PR?

[2022-03-14 21:08] jenlampton commented on #726
Thank you both for confirming, and for the screenshots!

[2022-03-14 21:08] BWPanda commented on #726
The issue still exists:

- Set Bartik as the default theme
- Choose 'Rounded tabs' as the Main Menu Tab Style in the theme settings
- Edit the Default layout and set the Primary Navigation block to use 'Hierarchical tree' as the Menu Style
- Add a new menu item as a child of 'About' (e.g. `posts/your-first-post`)
- View the About page (`about`) to see the issue with the child menu item:

![image](

[2022-03-14 21:10] jenlampton commented on #726
restoring tags, thanks @BWPanda!

[2022-03-14 21:38] BWPanda commented on #1416
Happy for someone else to take over.

[2022-03-14 22:00] larsdesigns commented on #3584
This looks like useful documentation for getting started with Lightspeed with Docker: https://docs.litespeedtech.com/cloud/docker/

[2022-03-14 22:22] ElusiveMind commented on #5540
I think the documentation will be good. My only other thought is that if people see that warning in the future they may report it. I think it'll be OK since my usage is somewhat of an edge case. I think we can make the doc update and close the issue. Thanks for listening and discussing!

[2022-03-14 23:36] klonos commented on #1416
Grabbing this then ✋🏼

[2022-03-15 01:18] stpaultim commented on #4645
Adding the good first issue, because I think getting a PR for this would stimulate discussion and move us towards a decision.

[2022-03-15 01:56] stpaultim commented on #5003
@RakeshPotnuru - We discussed this at our meeting last week and the consensus was that we should get your last Pull Release working properly and treat the suggestion by @klonos as a new issue.

I think we should start with the links and then discuss if we want more later. Are you interested in updating your last Pull Request with the feedback that has been provided, but staying with the same idea.

[2022-03-15 01:59] stpaultim commented on #5330
@Girlwithasmile - Any questions?
We have office hours this week, if you need help: https://backdropcms.org/news/events/office-hours-2

[2022-03-15 02:00] stpaultim commented on #5509
@a-tanvi - Any questions?
We have office hours this week, if you need help: [backdropcms.org/news/events/office-hours-2](https://backdropcms.org/news/events/office-hours-2)

[2022-03-15 02:01] stpaultim commented on #5397
@AnjaliJha1221 - Any questions?
We have office hours this week, if you need help: [backdropcms.org/news/events/office-hours-2](https://backdropcms.org/news/events/office-hours-2)

[2022-03-15 02:48] BWPanda commented on #4645
I was literally just thinking about this issue today...

[2022-03-15 03:00] klonos commented on #5524
Thanks @quicksketch 🙏🏼 ...you beat me to it 🙂

RTBC 👍🏼 (I've set the milestone label - can someone please add the actual milesotne?)

I think that we should stick with apache/nginx in the official documentation.

[2022-03-15 03:01] klonos commented on #5524
PS: I've also setup one of my cousins on an EU-based shared hosting provider, and they also use LiteSpeed.

[2022-03-15 04:00] quicksketch commented on #1380
That would be wonderful @BWPanda. Take a look at https://github.com/backdrop/backdrop-issues/issues/440 instead... there's already a mostly working PR over there. We should close this issue.

[2022-03-15 05:01] stpaultim commented on #5213
I tested this and it works for me.

This is what a person logged in with the default editor role will see.

![image](https://user-images.githubusercontent.com/3144571/158309826-dfe99247-1b13-4d79-8a12-8b842932959e.png)

This is what a person logged in with the editor role AND the permission `administer site configuration` will see:

![image](https://user-images.githubusercontent.com/3144571/158309

[2022-03-15 05:18] stpaultim commented on #5213
@RakeshPotnuru - I went ahead and marked this RTBC (Ready to be committee). It's a pretty simple Pull Request and will get another final review by core committer.

[2022-03-15 05:22] BWPanda commented on #5213
Users require the `View site reports` permission to see updates via the `/admin/reports/updates` page. I think we should hide the block entirely if they don't have that permission.

And then (as already pointed out) they need the `Administer site configuration` permission to use the button to check for updates.

So the PR is good in that it addresses the second part, but needs to also address the

[2022-03-15 05:23] BWPanda commented on #5213
Also, I think the fact that this shows an access denied message indicates this is a bug.

[2022-03-15 05:34] klonos commented on #1416
PR up for review: https://github.com/backdrop/backdrop/pull/3990

Nothing to test.

[2022-03-15 05:47] BWPanda commented on #3872
[PR](https://github.com/backdrop/backdrop/pull/2753) has been updated to address above comments/suggestions . Please let me know if I missed anything. Note that I didn't properly read through the 'brain dump', as it seems mostly out-of-scope for this issue.

[2022-03-15 06:16] BWPanda commented on #1380
Seems so.

[2022-03-15 06:16] #1380 closed

[2022-03-15 06:54] indigoxela commented on #5540
@ElusiveMind many thanks for reporting and feedback.

Setting label to RTBC. Many thanks @argiepiano for your quick fix.

[2022-03-15 07:02] indigoxela commented on #5524
Milestone set.

We can revisit "official support" with a mention in the system requirements documentation after we gathered some telemetry data. :wink:

[2022-03-15 07:07] quicksketch commented on #1380
I'll update the weekly agendas and survey, I think that's why this issue continues to receive so much attention.

[2022-03-15 07:08] #5524 closed

[2022-03-15 07:10] quicksketch commented on #5524
Thanks @yorkshire-pudding, @klonos, and @indigoxela for reviewing! I've merged https://github.com/backdrop/backdrop/pull/3984 into 1.x and 1.21.x.

[2022-03-15 07:10] indigoxela commented on #3872
This is what the PR provides:

![account-vertical-tabs](https://user-images.githubusercontent.com/842066/158325075-6b8fcb20-b426-4b34-ae6a-e38ee5307ee8.png)

[2022-03-15 07:15] klonos commented on #1380
The scope of the 2 issues is different though. #440 is about implementing the "multiple" HTML5 attribute in file upload fields, whereas this here is a feature request to implement a "dropzone"-like upload method.

[2022-03-15 07:37] klonos opened #5542 "Clearing cache shouldn't redirect, nor remove the ?destination="
## Steps To Reproduce

To reproduce the behavior:
1. Navigate to `admin/people` and edit any user account
2. Notice the `?destination=admin/people` in the URL
3. Clear caches via the menu item available in the admin toolbar...

## Actual behavior
Caches are cleared 👍🏼   ...but you are redirected to `admin/people` (and if you have edited any field, your data is now lost) 👎🏼 👎🏼

## Expected behavior

[2022-03-15 08:00] klonos commented on #3872
That's fine, I'll file follow-ups as/if needed 👍🏼

Feedback after testing:
- the vtab label is `Region and language` instead of `Regional and language`, also the `and language` bit should only be added if the option for the language is available (if the Locale module is enabled)
- The help text says "Select the desired local time and time zone." although allowing only to select timezone - no optio

[2022-03-15 09:25] VasasA opened #5543 "[PS] Removed unnecessary condition in `views_fetch_fields()`."
## Description of the bug

There is a line (599) in `core\modules\views\includes\utility.inc` contains an unnecessary condition:
[code]

## Expected

[code]

[2022-03-15 10:16] BWPanda commented on #3872
I did that because `Regional` sounded weird without the word `settings` after it...

So the name of the tab will be 'Regional' if Locale isn't installed, 'Language' if it is but the setting for user timezones is disabled, and 'Regional and language' if both are available? Won't that be confusing? Imagine trying to write a how-to:

- Edit the user account
- Scroll down and click on the 'Regional' t

[2022-03-15 10:21] BWPanda commented on #440
That's disconcerting... If @docwilmot is struggling with this, how can mere mortals hope to contribute to this issue? 🙂

[2022-03-15 10:50] olafgrabienski commented on #3872
I agree. Also, the title of the page `admin/config/regional` is alway "Regional and language", even if *Locale* and *Language* are not enabled.

[2022-03-15 10:58] BWPanda commented on #3872
Ah, didn't realise that. In that case I see the benefit in consistency and have updated the PR to change the tab name back to 'Regional and language'.

[2022-03-15 13:26] aniketh-varma commented on #5543
Alright! Thanks for the prompt review.

[2022-03-15 15:14] indigoxela commented on #5543
Automated tests have run, code looks good, time for a milestone.

@aniketh-varma many thanks for your PR! :pray:

[2022-03-15 21:40] BWPanda commented on #4645
Here's a PR that (for new sites only) adds new default date formats in d/m order, and adds the USA ones (in m/d order) separately: https://github.com/backdrop/backdrop/pull/3992

![image](https://user-images.githubusercontent.com/2385329/158477289-49fb6865-999c-4cbb-aba0-3aeda531571e.png)

[2022-03-15 22:06] BWPanda commented on #5543
Ha, weird. Blame @merlinofchaos: https://www.drupal.org/project/views/issues/1135918 😉

[2022-03-15 22:09] #5543 closed

[2022-03-15 22:10] BWPanda commented on #5543
Thanks @aniketh-varma for the PR and to @VasasA for spotting this! I've merged https://github.com/backdrop/backdrop/pull/3991 into 1.x and 1.21.x.

[2022-03-15 23:51] jenlampton commented on #3270
Lindsay did some testing for us with common obfuscaters, and none had any problems for screen readers: https://codepen.io/silverli/pen/GRygPqO. It's safe to proceed with this feature.

[2022-03-16 00:50] jenlampton opened #5544 "Add better description text for `administer blocks`"
Comments from @stpaultim:

![image](https://user-images.githubusercontent.com/3144571/158504745-7ae2aeb6-3c4d-4584-9e82-3b206e3d297b.png)

[2022-03-16 00:55] jenlampton commented on #5544
We definitely need better description text than `Administer Custom Blocks` for this permission.

I don't think `Access the custom blocks listing page` is quite enough though, because this permission also allows people to configure blocks from that page. We have other similar "Access the ___ page" permissions that don't include the ability to manage things on that page, and because this permission

[2022-03-16 00:57] stpaultim commented on #1301
Recently the discussion seems to have swung in the direction of Entity Reference. But, I'm still unclear where this is going.

[2022-03-16 01:04] stpaultim commented on #5213
I see your point @BWPanda, I guess I was too focused on only part of the issue and missed the other part. @RakeshPotnuru is working on a revision to the PR.

[2022-03-16 01:13] jenlampton commented on #5431
Updating code comments is a good idea too, but since very few people will see those, my priority was for the UI.

Love it

Love it

Love it

Agree.

Using 'viewers' here is important, since we're specifically talking about the people who are actively viewing the comment. How about: `The following applies only to viewers who have registered accounts:`

[2022-03-16 01:15] stpaultim commented on #4645
Thanks @BWPanda, this one seems like a easy win.

Personally, I would remove the time from the short format. I think that the use cases for a showing a date and time are much fewer than the use cases with a time.

I think that we should have at least one date format with a time on it, but would be happy to simply see the time removed from the short format.

[2022-03-16 01:23] jenlampton commented on #4645
We need to be careful about removing time from existing formats because there are some places where the time part is mission critical (like on the dblog page).

If we want to add new formats without time, that's a safer thing to do, because people won't have the same expectations about where they can use "Short" safely.

[2022-03-16 01:26] stpaultim commented on #4645
Than maybe two "Date only" formats. I almost always create a "Date only" format MM/DD/YYYY for all my sites. We could that and DD/MM/YYY.

[2022-03-16 01:28] BWPanda commented on #4645
@stpaultim What about also a 'time-only' format? I suspect though with the 'date-only' and 'time-only' ones we're getting too specific for default core functionality. Users can easily add their own formats.

[2022-03-16 01:45] jenlampton opened #5545 "[SR] Security hardening: provide a mechanism to expire sessions"
These recommendations are from @jlfranklin:

I think we should start by adding a way to explicitly expire other sessions, with permissions for admins to expire a single user's sessions and for a user to expire their own. if there is a contirb module that already adds a "logout other devices" buttons, we should consider pulling it into core. If not, it's a simple enough thing to write.

I don't thi

[2022-03-16 01:57] jenlampton commented on #3214
Can we try this?

From https://stackoverflow.com/questions/5978239/anyway-to-have-a-label-respond-to-focus-css#:~:text=Have%20the%20label%20element%20follow,%7B%7D%20to%20target%20the%20label.

[2022-03-16 02:00] stpaultim commented on #4645
I agree that "Time Only" is too specific for core. I seldom need that and rarely see that used on sites. On the other hand, I use "Date Only" far more than all the other time formats combined and I suspect that is true for most people.

I'm going to do a random check of 5+ sites listed in our showcase right now.

0) We use a data only format for the showcase itself.
1) https://www.takemeoutsidensw

[2022-03-16 02:46] stpaultim commented on #5544
@jenlampton

How about `Access and administer custom blocks on the administrative listing page.`

I also like your idea:

`Configure custom blocks from the administrative listing page`

[2022-03-16 02:50] stpaultim commented on #1829
It's not in core, but this contrib modules DOES make sub-theming easier.
https://backdropcms.org/project/devel_subthemer

[2022-03-16 02:52] jenlampton commented on #5544
I generally dislike `administer` since it's so vague. We can also create them, delete them, and clone them, maybe even export them too? Administer is really more accurate here. What about...

`Administer custom blocks and access the administrative listing page`

[2022-03-16 02:53] BWPanda commented on #4083
@klonos What else is needed here? I've tested the PR and it passes the 'checkbox test' ™️ , so marking this WFM.

[2022-03-16 02:59] stpaultim commented on #4849
There is so much progress on this issue: https://github.com/backdrop/backdrop-issues/issues/4903

That I would like to close this issue right here. By the time we are done with #4903 - this discussion will be quite different and to the extent it is still relevant it will probably need a fresh discussion.

[2022-03-16 02:59] #4849 closed

[2022-03-16 03:01] stpaultim commented on #4217
Since we have figured out the other issues that allow for config recipes using a module, this issue is not nearly as important to me. I considered closing it, but I think it's still a bug and someone might have to deal with this in the future.

[2022-03-16 03:32] BWPanda commented on #1981
Done. I've verified that the list in the OP is still up-to-date. However I don't believe all of them need documenting (e.g. `theme_hook_original`, id`), so working out the relevant ones and what to write about them is the tricky bit...

[2022-03-16 03:36] stpaultim commented on #2516
@klonos or @jenlampton - I think the redirect thing makes sense, assuming it's not too difficult to do - and I'm assuming it's not. I might have someone to work on this, can anyone provide a quick pointer on how to add the "redirect" thing?

Unless @BWPanda has the time and inclination to update the current PR.

I'm good with the PR as it is, but the redirect does make sense.

[2022-03-16 03:59] stpaultim commented on #3360
Just reread this issue and I think the issues raised have all been addressed and the PR seems to work for me.

[2022-03-16 04:09] ayushi424 commented on #5544
Hi, I am Ayushi, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-16 04:14] stpaultim commented on #2626
I am so anxious to see this get into core! I tested today and I think it's working as expected. I'm going to mark WFM.

[2022-03-16 04:18] stpaultim commented on #5544
@ayushi424 - This issue could potentially be fixed by creating a PR through the Github interface, without even setting up a local environment. See: https://backdropcms.org/news/creating-pull-requests-against-core-the-easy-noob-way

Let us know if you have any questions.

[2022-03-16 04:19] stpaultim commented on #5543
Congratulations @aniketh-varma. Thanks for the help with the Backdrop CMS project.

I'm going to change the tags on this issue.

[2022-03-16 04:48] BWPanda commented on #2516
I tried doing the redirect, but couldn't work it out...

The 'Cancel' button is currently a form button (as opposed to a link). As such, when I try to get the `HTTP_REFERER` path to redirect to after pressing 'Cancel', it redirects back to the view form itself, since that's where you were when you clicked 'Cancel'.

This doesn't happen with other form (like nodes), I think because their 'Cancel' b

[2022-03-16 05:18] BWPanda commented on #1439
PR updated for latest test suite.

[2022-03-16 05:30] ayushi424 commented on #5544
Thankyou for assiging this issue to me.
I'm unable to find the file where better description text need to be added. Any guidance for the same please.

Also, the text that need to be added is:

Please confirm.

[2022-03-16 06:00] stpaultim commented on #726
I am working on this issue with the Triplo team in our first Office Hours for folks on the other side of the globe.

[2022-03-16 07:11] stpaultim commented on #726
![image](https://user-images.githubusercontent.com/3144571/158535352-ba1e44ee-a6e1-4471-bb04-c3f4a6d97982.png)

The Triplo team was working on this issue tonight and we did an exploratory Pull Request to get additional feedback, because we're not sure about the best solution

1) We are not experienced with Hierarchical menu's and are not sure what the expected behavior is. Please check to see if t

[2022-03-16 07:41] indigoxela commented on #2626
Cool, we're almost done. One problem: tests on php 5.3 fail. I'm aware that we're dropping support for that old version, but that's not merged yet, so the tests should still pass.

Temporarily back to "needs work".

[2022-03-16 07:47] BWPanda commented on #726
@stpaultim I would recommend putting each level of the hierarchy on a line below its parent, with siblings sitting next to each other (rather than below each other like you currently have).

[2022-03-16 07:53] stpaultim commented on #5213
@RakeshPotnuru has submitted an updated PR that should fix the problem raised by @BWPanda. It should be a really simple change, but the diff file is a mess. I assume that this is because so many lines of code were indented. Isn't there a cleaner way to manage that diff?

If anyone has time to look at this and provide feedback, it would be appreciated. I won't have time until much later today to te

[2022-03-16 07:54] indigoxela commented on #5544
@ayushi424 I belief, that's in [block.module](https://github.com/backdrop/backdrop/blob/1.x/core/modules/block/block.module#L12)

See also the documentation for [hook_permission()](https://docs.backdropcms.org/api/backdrop/core%21modules%21system%21system.api.php/function/hook_permission/1)

In addition to the "title" there can also be a "description". I think, this is what's requested here.

[2022-03-16 09:43] BWPanda commented on #726
Ah OK, thanks for the clarification.

Things should be pushed down, not covered. The only time I expect things to be covered is with a drop-down menu, and here we've specifically chosen otherwise.

[2022-03-16 10:22] BWPanda commented on #5213
Aaand then I just realised you can do the same in GitLab itself 🤦🏻‍♂️

Here you go: https://github.com/backdrop/backdrop/pull/3988/files?diff=unified&w=1

[2022-03-16 11:29] BWPanda commented on #5221
Is the intention to add this icon to all columns other than the sorted one? If so I think that might be too much visually...

[2022-03-16 13:25] olafgrabienski commented on #4645
If I understand the description correct, the main goal of the issue is to add a common European date format, and I think, most common in Europe for the short format is the usage of dots instead of slashes and a 24 hours time format (with or without leading zero) - see https://en.wikipedia.org/wiki/Date_and_time_notation_in_Europe. Proposal for the short format:

`16.03.2022 - 8:37`

[2022-03-16 13:25] Amulya-coder commented on #5544
Hi, I'm Amulya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-16 13:32] findlabnet commented on #4645
I've use `2022-03-16 08:37` - no way to be confused IMHO.

[2022-03-16 14:02] aniketh-varma commented on #5544
Hi, I would like to work on this issue if it's still up for grabs.

[2022-03-16 14:16] bugfolder commented on #1829
It's mentioned in the relevant place in our docs: https://docs.backdropcms.org/documentation/creating-sub-themes.

[2022-03-16 14:41] indigoxela commented on #5544
Hi @ayushi424 and @Amulya-coder and @aniketh-varma,

thank you all so much for offering help. Now there's three people ...

Are you planning to do this together as a team, or did we run out of "good first issues" and you grab what you can get? :smile:

[2022-03-16 17:16] quicksketch commented on #5536
Administer fields was added here: https://www.drupal.org/project/drupal/issues/611294#comment-9542671

The explanation isn't clear but I could guess the following reasons:

* Administer fields allows setting up fields that contain text formats like Full HTML. Though access to actually _use_ Full HTML is controlled by a separate permission.
* It also allows configuring the uploading of files, which

[2022-03-16 20:28] #5540 closed

[2022-03-16 20:55] quicksketch commented on #1380
@klonos All browser already support drag and drop uploads if you drag a file onto an upload field. If #440 is completed, then you'd also be able to drag multiple files onto a single upload field (also natively supported by browsers). Then this issue becomes one of just styling an upload field, if that's something we want.

[2022-03-16 21:03] jenlampton opened #5546 "Backdrop 1.21.4 Release checklist"
Release scheduled for Mar 16, 2022 2pm - 4pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Create the next bugfix milestone @jenlampton
- [x] Move all unfinished issues to the next bugfix release milestone @jenlampton
- [x] Review all closed issues in milestone: @jenlampton
  * Issue titles should include a complete, but very brief summary of the problem.
  * Issue titles sould

[2022-03-16 21:05] jenlampton opened #5547 "Backdrop 1.20.7 Release checklist"
Release scheduled for Mar 16, 2022 2pm - 4pm PT

## Pre-release tasks

- [x] Merge commits @quicksketch
- [x] Draft Release notes @jenlampton
  - [x] Include a short, descriptive summary of the release, for example:
      * "Security release for Backdrop CMS. This release fixes 1 security vulnerability:"
      * Include a list of SA's for commits to this release
  - [x] Include a section heading `

[2022-03-16 21:17] quicksketch commented on #4267
We keep bumping this issue to the next release. I believe we're dependent on https://github.com/backdrop-contrib/search_api/issues/24 to be completed first, before this should be merged in core? Or can we merge it at any time?

[2022-03-16 21:19] #5484 closed

[2022-03-16 21:21] jenlampton commented on #1416
A added a comment to the PR.

Adding back the function as only a wrapper, but not actually providing the previous validation, would lead to a scenario where a drupal module that relied on this function would simply not validate at all anymore. This could be a security issue.

If we're going to deprecate the function, let's deprecate the whole function. Otherwise, let's not add it back so that site

[2022-03-16 21:31] jenlampton commented on #5546
Draft release notes:

---

Security release for Backdrop CMS. This release includes several bug fixes, and fixes 1 security vulnerability:
- SA-BACKDROP-CORE (link me)

**Notes for updating**
- * No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
- The database update script does

[2022-03-16 21:35] jenlampton commented on #5547
Draft release notes:

---

Security release for Backdrop CMS. This release fixes 1 security vulnerability:
- SA-BACKDROP-CORE (link me)

**Notes for updating**
* No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
* The database update script does **not** need to be run.

[2022-03-16 21:52] jenlampton commented on #5547
SA and release notes ready for review.

[2022-03-16 21:52] jenlampton commented on #5546
SA and release notes ready for review.

[2022-03-16 22:04] BWPanda commented on #5536
I agree, I don't like the word "people" either. But @jenlampton thinks differently and apparently we shouldn't be using the word "user": https://github.com/backdrop/backdrop-issues/issues/5431

I've updated the PR based on @quicksketch's suggestions, though for now I've tried to keep consistency with the other warning descriptions. Once we have consensus on the whole "users" vs. "people" wording s

[2022-03-16 22:09] jenlampton commented on #5547
release is out: https://github.com/backdrop/backdrop/releases/tag/1.20.7

[2022-03-16 22:12] #5547 closed

[2022-03-16 22:15] jenlampton commented on #5546
Release is out: https://github.com/backdrop/backdrop/releases/tag/1.21.4

[2022-03-16 23:49] klonos commented on #5543
Thank you from me too @aniketh-varma 🙏🏼

@stpaultim we do remove other labels when closing tickets, but please keep `type - *` and `status - has pull request` (that way we known which issues got fixed by a code change).

[2022-03-17 00:09] klonos commented on #3245
I'll have a look at the PR soon, I promise.

Yeah, I just run the recent security update for core and got this:

![image](https://user-images.githubusercontent.com/2423362/158710719-66f264f4-2de3-4fc4-9366-ed9ac9b26da9.png)

I would suggest a few improvements:
- split the 2 different things (update finished successfully / out of maintenance mode) into separate messages
- use the human name of the

[2022-03-17 01:18] jenlampton commented on #5536
For the record, "User accounts" is perfectly fine. If we are referring to the thing people use to access their website. If, however, we are referring to them, we should call them "people". In Drupal the word "users" was used for both, which not only makes it very confusing to everyone, but it also makes people unhappy, because people do not like being called users.

I will update that issue title

[2022-03-17 01:39] BWPanda commented on #5536
FTR, I don't mind being called a 'user': https://tron.fandom.com/wiki/User 😉

[2022-03-17 02:51] klonos commented on #5536
Same here ✋🏼

[2022-03-17 03:09] stpaultim commented on #5544
@ayushi424 was assigned this issue first. I recommend that @Amulya-coder and @aniketh-varma look for another issue. Maybe start with the oldest "Good First Issues" and find one that does not have anyone that has asked to work on it in the last 30 days.

See: https://github.com/backdrop/backdrop-issues/issues?q=is%3Aopen+label%3A%22good+first+issue%22+sort%3Aupdated-asc

[2022-03-17 03:20] stpaultim commented on #5213
@BWPanda Thanks for sharing those tricks. That is nice.

I've tested this PR with the following test user:

UN: Test User
PW: test1234
Role = Editor

This user is NOT able to view the report or check for updates by default. If I provide them with permission to `View Site Reports`, they are able to view the available updates, but not check for available updates.

If I add the permission to `Adminis

[2022-03-17 03:21] klonos commented on #5536
I've left some wording suggestions in the PR.

While at it, can we please also remove this useless description:

![image](https://user-images.githubusercontent.com/2423362/158729879-fe163a68-4dc8-48f1-bafe-9a17156ee226.png)

[2022-03-17 03:23] klonos commented on #5536
I don't see why this cannot go into the next bug fix release. This is a UX improvement, and doesn't really introduce anything new - we are updating descriptions and reusing already-established UI patterns (the more/less toggles etc.).

[2022-03-17 03:32] Wylbur commented on #5546
Docker Image pull request in process

[2022-03-17 03:40] klonos commented on #5213
Thanks @RakeshPotnuru ...this is RTBC 👍🏼

[2022-03-17 03:44] klonos commented on #5527
Closing in favor of #5546

[2022-03-17 03:44] #5527 closed

[2022-03-17 03:44] stpaultim commented on #4645
If most people are more likely to use date formats without a time stamp - which is suggested my informal research above - then it seems if we are not really solving a problem that our users have. Rather, we are just providing a format that allows us to say that we have non-US centric date formats.

Since it's just as easy to edit a US centric date format as a non US centric date format, the only a

[2022-03-17 04:11] stpaultim commented on #2902
I just did a quick test and it appears to me that upon creation of a new content type or after adding a image field to an existing content type, that the field labels are currently hidden by default. Maybe this issue has been solved elsewhere.

I think that this might still be an issue with views, but that would be a different issue.

[2022-03-17 04:11] #2902 closed

[2022-03-17 04:27] stpaultim commented on #1349
The PR by @klonos seems to work for me. I tested the two examples provided in the initial description of the problem and looked for other similar pages but could not find any.

[2022-03-17 06:15] stpaultim commented on #5269
@jenlampton or @klonos - Are either of you able to look at this? I'm not sure how to test this or if I understand the original instructions clear enough to tell if this is correct?

[2022-03-17 06:17] stpaultim commented on #5443
@alceil - Are you still interested in working on this issue? Do you have any questions?

[2022-03-17 06:19] stpaultim commented on #5003
@RakeshPotnuru - Are you able to restore this PR?

[2022-03-17 06:20] stpaultim commented on #4475
@aniketh-varma - Are you still interested in working on this issue and do you need any help?

[2022-03-17 06:21] RakeshPotnuru commented on #5003
I will open a new one. I can't restore.

[2022-03-17 06:36] ayushi424 commented on #5544
Hi, I have created the PR for this issue.
https://github.com/backdrop/backdrop/pull/3995
Kindly review my PR and if there are any other modifications to be done, please let me know.
Thankyou.

[2022-03-17 07:25] BWPanda commented on #4645
If we add a date-only format, I think we should do it for both regular and US formats. But that'll take us from 3 default formats to 8!

But if we were to implement my suggestion from https://github.com/backdrop/backdrop-issues/issues/4645#issuecomment-1068634607, then we'd only have 4 default formats, yet still be covering most scenarios...

So I might try looking into that possibility.

[2022-03-17 07:26] alceil commented on #5443
Ya

[2022-03-17 08:04] stpaultim commented on #4645
Reminder to self - We didn't think to compare how Basis does the same thing, which could be instructive. Let's be sure to check that.

[2022-03-17 08:14] indigoxela commented on #4645
@BWPanda I actually like the suggestion to add formats based on timezone setting when installing. Usually one of the first things I have to do is to get rid of the US formats, which are unusable here in central Europe. :wink: One concern is, that this may derail this issue.

@stpaultim I'm confused, themes don't play any role here, or am I missing something?

[2022-03-17 08:59] yorkshire-pudding commented on #3245
I'd like to reiterate [my suggestion](https://github.com/backdrop/backdrop-issues/issues/3245#issuecomment-985324465) that the process should handle maintenance mode for the database updates. If we recommend (and I agree with the recommendation) that they put the site into maintenance mode for the database updates, then we should help them with that.

[2022-03-17 09:12] klonos commented on #2902
...FTR, this was done as part of #317, with commit https://github.com/backdrop/backdrop/commit/7ec8b7522e8f984638493a7f49895a3131aeb642

[2022-03-17 09:23] klonos opened #5548 "[DX] Date formats API changes"
I would start this as a documentation task over in the docs.b.org issue queue, but we most likely need to add wrapper functions for backwards compatibility (where/if possible)...

I've noticed that some date-related functions are missing compared to D7 core. For example [`system_default_date_formats()`](https://api.drupal.org/api/drupal/includes%21date.inc/function/system_default_date_formats/7.x)

[2022-03-17 09:44] klonos commented on #5269
Code-wise this looks good 👍🏼  ...thanks @developer-diganta 🙏🏼

I have tested and confirmed that the markup is as expected when using `theme_breadcrumb()`, but there are other places where the "You are here" text is being added:
- `core/themes/seven/template.php`
- `core/themes/basis/template.php`

We should fix those too.

[2022-03-17 10:52] BWPanda commented on #5213
Ah, very good question @stpaultim! After a bit of research, it seems that indeed there is:

[code]

[This function](https://docs.backdropcms.org/api/backdrop/core%21modules%21layout%21includes%21block.class.inc/function/Block%3A%3AcheckAccess/1) returns `TRUE` or `FALSE` based on whether the block should be shown or not. I think this is a much more elegant solution than just wrapping the whole `ge

[2022-03-17 10:58] RakeshPotnuru commented on #5213
@BWPanda Where can I find this function?

[2022-03-17 13:36] Amulya-coder commented on #2061
Hi, I would like to take up this issue, I am a contributor to OpenForce 2022. Thanks

[2022-03-17 15:53] developer-diganta commented on #5269
@klonos shall I do those two then?

[2022-03-17 15:54] klonos commented on #5269
Yes please @developer-diganta

[2022-03-17 16:49] stpaultim commented on #4645
@indigoxela - you are absolutely correct. I posted my comment in wrong issue and have deleted it to avoid further confusion.

[2022-03-17 16:53] klonos commented on #4645
Just a thought: why aren't we tying various date formats to languages/locales?

In D7, there was the [`system_default_date_formats()`](https://api.drupal.org/api/drupal/includes%21date.inc/function/system_default_date_formats/7.x) function, which returned the available default (not added by the user) formats, and each format array included a `'locales' => array()` in it. For example:

[code]

This

[2022-03-17 17:52] jenlampton commented on #5544
The PR looks great, code review looks good. And testing shows that it works as intented. Nice work @ayushi424 :)

I took a look at the sandbox, however, and I'm not thrilled with the result:
<img width="1218" alt="Screen Shot 2022-03-17 at 10 49 22 AM" src="https://user-images.githubusercontent.com/397895/158864409-07efc1d0-dd0b-4b6e-92de-09a178f1a9e9.png">

"Administer custom blocks" is repeated

[2022-03-17 18:30] laryn opened #5549 "D7 Upgrade: undefined function entity_load() in user_load_multiple()"
## Description of the bug

I spun up a fresh Drupal 7 site, installed one module that I'm working on and then tried the upgrade process. I ran into this error unexpectedly while trying to run `update.php`:

[code]

It looks like `entity` is enabled (status = 1) in the system table at this point, with a schema of 0.

[2022-03-17 18:32] laryn commented on #5549
The module I'm working on has nothing to do with users, by the way (Conditional Fields).

[2022-03-17 18:38] argiepiano commented on #5499
I made the changes suggested by @quicksketch . Anything else we are waiting for?

[2022-03-17 18:42] argiepiano commented on #5499
OK, I just read @quicksketch's last comment.

I'm stumped now. This is a catch 22. We can't use `module_enable` and we can't use `update_module_enable()` either as explained in the PR. The latter one will produce fatal errors since it doesn't actually load the `entity` module.

This means that we are back to square 1? I'd be happy to let others solve this, unless someone can point me in the right

[2022-03-17 18:46] laryn commented on #5549
Just to keep my current project moving forward, I've hacked the line above to use `require_once` to load `user.module` and that works for me for now. The upgrade completes at this point, although another strange warning:

[2022-03-17 18:46] argiepiano commented on #5549
OK. Then this is something I haven't seen before. TBH the D7 upgrade process is getting so little attention and seems to be so fraught with problems, yet it's such an important aspect; the future of Backdrop may very well rely on a smooth experience upgrading from D7

[2022-03-17 18:58] argiepiano commented on #5499
So, as I see it, we are struggling with two different issues:

1. Enabling `entity` early on in the upgrade process to allow other required modules that need `entity` to be enabled. This could be done with `module_enable()` as in the current PR (in `update_upgrade_enable_dependencies()`, OR with a combination  of `update_module_enable('entity')` and `backdrop_load('entity')` to actually load the c

[2022-03-17 19:18] bugfolder commented on #5499
@quicksketch wrote:

But these modules that are being enabled via this special processing are modules _that didn't exist in Drupal D7_. They _should_ have the module schema at the latest version. In most cases, they should not have `hook_update_N()` functions (and the use cases that are driving this issue—Entity Plus, Entity UI, Ubercart—don't.)

So perhaps we could continue to use `module_enable(

[2022-03-17 19:29] argiepiano commented on #5499
@bugfolder said:

However, @quicksketch has a point. With Redirect, we would need to  redirect_update_1000 to run.  `module_enable()` won't run it:

@quicksketch  said:

[2022-03-17 19:53] jromine opened #5550 "Doc block for node_type_set_defaults() refers to hook_node_info(), which was removed"
## Description of the bug

In [node.module at or around line 757](https://github.com/backdrop/backdrop/blob/1.x/core/modules/node/node.module#L757), the doc block for node_type_set_defaults() refers to hook_node_info(), which is removed

[2022-03-17 20:01] argiepiano commented on #5499
So here's another thought:

This thread was started with the intent to automatically enable required contrib modules that did not exist in D7 (specifically Entity Plus and and Entity UI).  We could go back to that **original intent** of this thread and provide a PR that only focuses on Entity Plus and Entity UI.  And leave alone all Backdrop core modules required by the Standard installation that

[2022-03-17 20:11] laryn commented on #5549
Yes, I agree we should make sure the red carpet is rolled out for D7 upgrades...

[2022-03-17 20:15] bugfolder commented on #5499
I wonder if there's some way within a module that it can indicate "I'm safe to auto-enable as part of a D7 upgrade," so that other modules (e.g., Ubercart) can take advantage of the option.

[2022-03-17 20:40] developer-diganta commented on #5269
@klonos Shall I remove that and add `aria-label="Website Orientation"`?

[2022-03-17 20:40] argiepiano commented on #5499
@bugfolder said:

You had proposed something along those lines (but not quite) earlier in this thread. You had suggested a new hook, `hook_declare_upgrade_required_modules()` to declare modules that needed to be enabled. Maybe worth revisiting this idea?

[2022-03-17 21:25] klonos commented on #5269
@developer-diganta yes, the change in both theme templates should be similar to the changes you have already made in the `core/includes/theme.inc` file.

[2022-03-17 21:39] laryn commented on #3245
@klonos I'm still interested in this but won't have time to look at it in the near future. Feel free to take over if you wish!

[2022-03-17 22:19] BWPanda commented on #2626
All tests passing now, thanks to @indigoxela's suggestion 👍🏻

[2022-03-17 23:02] kswan opened #5551 "Views cache causes validation errors"
## Description of the bug

The References module can use a view to list valid users or nodes. Views caching can cause validation failures.

## Steps To Reproduce

To reproduce the behavior:

1. enable the references module
2. create a view that returns a list of some users including "user a" and "user b"
3. set the view to cache its results, time-based, 1hour
4. create a content type with a user r

[2022-03-17 23:15] stpaultim commented on #5544
I confer. There is one other permission description we want to update, I'll open a new ticket for that one, but maybe we can convince @ayushi424 to provide a PR for that one as well.

[2022-03-17 23:23] stpaultim opened #5552 "Add better description text for administer layouts"
## Description of the bug

While changing the permission description for https://github.com/backdrop/backdrop-issues/issues/5544 `administer blocks`, we determined that the `administer layouts` description could also use some improvements.

The administer layouts permission also allows a user to create blocks, which I think is worth specifying.

PERMISSION:
`Administer Layouts`

WAS:
`Add and modi

[2022-03-18 00:26] Wylbur commented on #5546
Docker image has been updated.

[2022-03-18 01:27] jromine opened #5553 "Add a configuration option for database log message display length."
## Description of the need

The database log report at admin/reports/dblog limits the log message length to 56 characters before truncation. This is inadequate for my use case and window size, and requires much clicking of links to see log details.

It was possible in Drupal 7 to alter the log display by overriding the dblog_message theme function, however that capability was removed in https://gi

[2022-03-18 01:29] jromine commented on #5553
![image](https://user-images.githubusercontent.com/350497/158920153-92cb7533-4297-4897-a454-8b8475ad5ae5.png)

[2022-03-18 01:44] bugfolder commented on #5553
I would love to have this ability (restored).

[2022-03-18 02:13] jromine commented on #5553
I think the problem is the log length setting is created in update.php, and some log messages are being generated before that can run. I'll update the PR to provide a default value.

[2022-03-18 02:23] jromine commented on #5553
I updated the PR. I'm not sure if I need to initiate a re-test, or that will happen automatically.

[2022-03-18 03:00] jromine commented on #5553
After updating the PR, the tests look good now.

[2022-03-18 03:08] ayushi424 commented on #5544
Hi @stpaultim, thankyou for considering me to provide a PR for issue #5552. I would be more than happy to work on it:)

[2022-03-18 03:11] ayushi424 commented on #5552
Hi @stpaultim, can you please assign this issue to me under OPENFORCE 2022 project. Thankyou

[2022-03-18 03:56] stpaultim commented on #3214
@RakeshPotnuru - are you still working on this issue? Did you see the suggestion by @jenlampton? Do you have any questions?

[2022-03-18 03:58] stpaultim commented on #4670
@tanisha-tech360 - Are you still interested in working on this issue? Do you have any questions?

[2022-03-18 04:02] stpaultim commented on #3959
This looks like a good issue for an OpenForce2022 participant. I recommend creating a Pull Request with the suggestions made in this issue and then it will be possible for us to provide more detailed feedback/suggestions.

Let us know if you have any questions?

[2022-03-18 04:08] RakeshPotnuru commented on #3214
@stpaultim
I tried many solutions, not able to fix it.
Can you share the HTML file of this menu? Maybe we have to change the HTML a little bit.

[2022-03-18 04:09] RakeshPotnuru commented on #5284
Can I finish this since those are inactive?

[2022-03-18 04:53] stpaultim commented on #5284
@RakeshPotnuru - Yes, I think you should go ahead. If @purohitmansi or @Girlwithasmile need help finding some new issues, we will help out.

[2022-03-18 05:10] tanisha-tech360 commented on #4670
Yes, I am still working on this issue. Actually I am a beginner can you tell give me some resources.

[2022-03-18 05:13] stpaultim commented on #5213
@RakeshPotnuru

I think that @BWPanda just means to add (1) instead of (2)

![image](https://user-images.githubusercontent.com/3144571/158941582-67a7a418-f707-4e88-ba62-09e43299e664.png)

Do I have this correct @BWPanda ?

[2022-03-18 05:27] BWPanda opened #5554 "Mark some Comment permissions as restricted"
In working on https://github.com/backdrop/backdrop-issues/issues/5536, I noticed that while permissions like `Administer content` are restricted (they have the security warning), equivalent Comment permissions aren't.

IMO, the following Comment permissions should be restricted:
- `Administer comments`
- `Administer comment settings` - allows approving and deleting comments
- `Skip comment approva

[2022-03-18 05:29] BWPanda commented on #5213
Yep. We should add the new `checkAccess()` function with the conditional, instead of wrapping the entire contents of the `getContent()` function in the conditional.

[2022-03-18 05:57] developer-diganta commented on #5269
@klonos Changed it!

[2022-03-18 05:58] RakeshPotnuru commented on #5213
Done

[2022-03-18 06:18] tanisha-tech360 commented on #4670
Please check pull request [#4000](https://github.com/backdrop/backdrop/pull/4000)

[2022-03-18 06:42] klonos opened #5555 "[SR] Escape all dots used in RewriteCond/RewriteRule within .htaccess"
This is the same security hardening task as https://www.drupal.org/project/drupal/issues/2989262 (change record: https://www.drupal.org/node/3269272)

[2022-03-18 07:07] indigoxela commented on #2626
Great work, RTBC!

Do we already have an issue for the hidden admin menu submenus on narrow screens? If not, IMO we should open one.

[2022-03-18 07:09] BWPanda commented on #2626
@indigoxela We do: https://github.com/backdrop/backdrop-issues/issues/4549 (was also linked above).

[2022-03-18 07:24] indigoxela commented on #5553
Great, many thanks for your PR.

I wonder, if the config value has to get removed from the system.core json, when uninstalling the dblog module. :thinking:
But I noticed, that this also doesn't happen with the other values.

[2022-03-18 07:27] ayushi424 commented on #5552
Hi, could you help me find the administer layouts ?
I'm unable to find. Apologies for that.

[2022-03-18 07:40] stpaultim commented on #5552
@ayushi424 - No, problem. Please, feel free to ask if you have questions.

Here is what I did.

1) I noticed that your previous PR about blocks was in the core/modules/block/block.module file.
2) Since this new permission is for layouts, I looked at core/modules/layout/layout.module. I searched for "permission" in this file and found line 756, which what you need.

Another approach would be to sea

[2022-03-18 07:43] stpaultim commented on #5555
OpenForce2022 participants. @klonos has linked to a patch in the Drupal issue queue. I believe that he is looking for someone to apply the same changes in that patch to Backdrop CMS core.

[2022-03-18 07:52] stpaultim commented on #4670
@tanisha-tech360 - I don't think your PR is doing the job yet, I believe it will need a little more work.

You can test your PR, by going to the PR page and logging into the sandbox.
![image](https://user-images.githubusercontent.com/3144571/158958955-e06d8ebb-1330-4988-93d2-b3a77c064cb5.png)

Once in the Sandbox, follow the steps to recreate the issue listed above (in the initial post). I think y

[2022-03-18 08:44] Amulya-coder commented on #2061
Hi, I have created the PR for this issue: https://github.com/backdrop/backdrop/pull/4001
Kindly review my PR and if there are any required changes to be done, please let me know.
Thank you

[2022-03-18 08:53] ayushi424 commented on #5552
Thankyou so much @stpaultim for your help, I was a bit confused with the large code base.
I have created the PR for this issue, Kindly review it and if there are any modifications to be done, please let me know.
Thankyou.

[2022-03-18 09:46] BWPanda commented on #5284
No bug here, changed to task instead. PR is simple and looks good. Do we want to insist on @klonos' suggestion of multiple help text, or leave that for a followup?

[2022-03-18 09:48] RakeshPotnuru commented on #5284
Yes, I saw that. But where to put those help texts?

[2022-03-18 10:44] BWPanda commented on #5536
I've re-worded nearly everything, trying to avoid use of the word 'people'. Also tried implementing some of @klonos' suggestions.

[2022-03-18 10:49] BWPanda commented on #5284
@RakeshPotnuru See [`node_type_form()`](https://docs.backdropcms.org/api/backdrop/core%21modules%21node%21node.types.inc/function/node_type_form/1) for an example of where we've done this before (the `status_default` radio buttons).

[2022-03-18 10:58] BWPanda commented on #5213
I've reviewed and tested and all looks good. RTBC from me!

[2022-03-18 11:11] klonos commented on #5551
Thanks for providing a PR @jromine 🙏🏼  ...I've left some feedback.

[2022-03-18 11:28] klonos commented on #5213
Good catch @stpaultim and @BWPanda 👍🏼

[2022-03-18 15:29] jromine commented on #5553
@indigoxela I agree, other settings for some core modules seem to go in system.core rather than their own module-specific config file, and don't get removed when uninstalling the module. The existing settings are also named log_* rather than dblog_*. I tried to follow existing practice.

[2022-03-18 17:14] aniketh-varma commented on #4475
Hi @stpaultim, Yes I am still working on this issue. Sorry for the delay, I will continue working on it.

[2022-03-18 21:17] stpaultim commented on #5555
@Amulya-coder - I have assigned you to this issue. There is no rush, but if it will take more than 7 days, please check in with us and post an update - otherwise we might assign someone else to work on the issue if they ask (only if someone asks and we do not hear back from you).

Ask us if you have any questions.

[2022-03-18 21:22] stpaultim commented on #5552
Thanks @ayushi424 - This Pull Request also contains the change in https://github.com/backdrop/backdrop-issues/issues/5544.

We can not have any changes except the one for this specific Pull Request. We could combine these two issues into one and use one Pull Request, but it might be easier if you just keep them separate and remove the change to the block module from this PR.

You should always use

[2022-03-18 22:48] bugfolder commented on #5552
A tip I learned from some of the more experienced Backdrop contributors is to prefix the name of each branch with the issue number (helpful to keep things organized when you start to work on multiple issues at the same time). So, for example, you might call the branch for this issue `5552_administer_layouts`, or something like that.

[2022-03-19 00:15] docwilmot commented on #440
I did attempt to pass this on to the Eternal @hosef but he did not heed my supplication. Perhaps I should sacrifice a goat. 🤔

[2022-03-19 00:46] jromine commented on #5551
PR up for review https://github.com/backdrop/backdrop/pull/3998

[2022-03-19 01:22] klonos commented on #5551
Thank you @jromine ...I've reviewed the code, and it looks good now 👍🏼

I've also tested this on the PR sandbox, using the steps mentioned in the issue summary, and things worked as expected, without any errors. @kswan can you please also test on your end and confirm that the issue is solved? Thanks.

[2022-03-19 01:23] jromine commented on #5523
PR for review https://github.com/backdrop/backdrop/pull/3967

[2022-03-19 03:13] stpaultim commented on #2061
@Amulya-coder - Thank you for this PR. As you can see, this issue is quite old and has been waiting for someone to take the step of creating an actual PR that others can respond to. Your PR has motivated me to weigh in on this issue for the first time and propose a slight modification to the earlier suggested text.

I recommend that we keep this issue focused ONLY on this page: admin/config/urls/p

[2022-03-19 03:20] stpaultim commented on #2061
**ORIGINAL:**
URL patterns automatically alias new content based on wildcards called tokens. For example the URL node/10 might be automatically aliased to blog/my-first-post using the pattern blog/[node:title].

**JEN PROPOSED & CURRENT PR**
Your site can have URLs generated automatically based on wildcards called <em>tokens</em> or <em>URL aliases</em> can be defined manually in the UI. For autom

[2022-03-19 03:38] stpaultim commented on #5269
@developer-diganta - Excellent. Thanks for your help! Feel free to work on another issue while we wait for feedback from @klonos or @jenlampton.

[2022-03-19 04:05] stpaultim commented on #5003
@RakeshPotnuru - Excellent work. I've tested this PR and it works for me.

The feedback from @VasasA has been incorporated and the PR no longer shows links to core modules.

@klonos - There is opposition to the idea of using the same UI pattern as we have in the project installer, so I recommend that you save that for a new follow-up issue if you wish to pursue. I believe that this issue can proce

[2022-03-19 04:09] stpaultim commented on #3214
@RakeshPotnuru - Thanks for trying. Feel free to work on other issues while you wait for feedback or additional ideas.

@jenlampton, @klonos, or @indigoxela - any ideas for @RakeshPotnuru?

[2022-03-19 04:39] klonos commented on #3214
@RakeshPotnuru @stpaultim as @jenlampton pointed out, there may be a possible solution/workaround, but it would mean that we'd need to change the way the smartmenus library outputs code. This means that we have the following options:
- "hack" the 3rd party library to output HTML in a way that will allow us to implement the workaround
- wait for the maintainers of the 3rd-party library to provide a

[2022-03-19 04:44] klonos commented on #3386
Yup, I now have an actual site hosted on LiteSpeed, and I can confirm that there is no issues with generating thumbnails on the image library dialog.

@dyrer are you still having this issue?

[2022-03-19 04:48] stpaultim commented on #3214
@klonos - That makes is seem as if this is no longer a "good first issue." Am I correct?

[2022-03-19 04:49] klonos commented on #3214
I think so ...unfortunately 😞

[2022-03-19 04:51] klonos commented on #3214
@RakeshPotnuru if you still wanna have a go at this, the smartmenus library we are using is located under `/core/misc/smartmenus`.

[2022-03-19 04:55] klonos commented on #5455
Related: there was a recent commit in the 7.x version of the [Stage File Proxy](https://www.drupal.org/project/stage_file_proxy) module, which also provided a way to bypass SSL verification (although they provided that via a checkbox in the UI). See: https://www.drupal.org/project/stage_file_proxy/issues/3008351

So if there are use cases where contrib projects may need this, perhaps it does make

[2022-03-19 05:59] RakeshPotnuru commented on #5284
@BWPanda Can you tell me help texts for other options?

[2022-03-19 06:31] dyrer commented on #3386
Yes, with Runcloud.io and working great with hestiaCP. Runcloud is with openlitespeed and hestiaCP nginx with Apache.
@klonos Your host is using Openlitespeed or Litespeed?

[2022-03-19 06:54] ayushi424 commented on #5552
Hi @stpaultim thankyou for your valuable suggestions.
I have done the required changes in the PR for this issue, please have a look.
And thanks @bugfolder, I'll take care while working with branches.

[2022-03-19 07:29] stpaultim commented on #5552
@ayushi424 - Very good. But, one more easy problem to fix.

When you fixed the change in the block module, you left two extra spaces. We are very careful about our coding standards and you will need to delete those two spaces.

I recommend that you always look at the files tab on the PR so you can see exactly what your PR is changing. In this case, the two spaces are pretty obvious and do not belo

[2022-03-19 08:03] ayushi424 commented on #5552
Oops, sorry for that. @stpaultim
I'll be extra careful next time.

[2022-03-19 08:05] Ardent10 commented on #4705
Hey, @stpaultim I would like to work on this as an OpenForce22 Participant.
Can you please let me know where exactly this is happening adding the webpage link would be helpful.

[2022-03-19 08:10] stpaultim commented on #5552
@ayushi424 - Congratulations on another PR. I've test this and will mark it Ready to be Committed.

There is still some change that someone will offer an idea on how to improve this text before we merge it. But, maybe not, because it's pretty simple and straightfoward.

[2022-03-19 08:24] stpaultim commented on #4705
@Ardent10 - We would love to have you create a Pull Request, although we should note up front that there is some disagreement over whether or not this is a good idea. However, if you create a Pull Request, we will have a sandbox to look at and decide if we actually like this change. So, this is very helpful.

Have you set up a local version of Backdrop CMS?
You can see this block on the dashboard

[2022-03-19 08:51] stpaultim commented on #5284
@RakeshPotnuru - Great job on the descriptions. I have a few ideas for improvement based upon other discussions happening in our project and an opportunity to make things more consistent.

I've actually changed some of the label names, because as I looked closer several of them could be labelled better. Some of these are slightly mislabeled, because of changes that have been made since Backdrop wa

[2022-03-19 09:03] RakeshPotnuru commented on #5284
Done

[2022-03-19 09:07] stpaultim commented on #5284
@RakeshPotnuru Great work. I would like to see 1-2 people agree with these changes and/or offer ideas for improvement, before we mark this "Works for Me."

[2022-03-19 09:09] RakeshPotnuru commented on #5284
@stpaultim
Can you just combine those two PRs, I don't know why commits are messing up

[2022-03-19 09:12] stpaultim commented on #3889
@klonos - I was going to put this in the OpenForce2022 project, but it occurs to me that some guidance on which type of description field is best would be very helpful to anyone working on this project.

Also, I wonder if they might want to fix 2-3 at a time, rather than trying to fix them all at once. How can we manage that?

[2022-03-19 09:17] stpaultim commented on #3834
I removed the "Good First Issue" tag, because it's not clear to me the status of this issue. It has a PR, but there is some unclear feedback about whether the ability `to create a second "Tags" vocabulary` is a feature or a bug.

Does this need to be fixed or not?

[2022-03-19 09:20] stpaultim commented on #3782
Thinking about our OpenForce2022 participants. Is it reasonable to assume that they would know how to find out which version of Bootstrap we are using.

Can anyone provide a few hints on how one might get started with this issue. With a few hints, this might actually get a PR in the next few days.

[2022-03-19 10:57] indigoxela commented on #5455
Do you mean a UI form instead of a (sort of hidden) option in settings.php? Maybe... but the whole certificate verification problem is rather an edge-case. Very annoying for people who have to deal with it, but not an 80% problem.

In the meantime a [contrib module](https://github.com/backdrop-contrib/cafilefetcher) exists, which uses a different approach. Instead of bypassing verification, it ena

[2022-03-19 12:18] klonos commented on #5455
Nope, if in core, this would still be in settings.php. Unless in the future we decide to expose it in the UI somewhere like a dedicated security section (#3624).

[2022-03-19 14:20] bugfolder commented on #3782
To add the information as a line in the Status report, add an entry to the `$requirements` array in `system_requirements()` in `system.install`.

To find what version of Bootstrap we're using (and not get sidetracked by the generic usage of "bootstrap" to describe the startup process), do a case-sensitive search for "Bootstrap" (which turns up in file `grid-float.css`, which contains all the grid

[2022-03-19 18:49] klonos opened #5556 "[UX] .htaccess not included in the .zip file of our core releases"
I've noticed that the `.htaccess` file is not included in the .zip files of our core releases. This causes issues with "pretty URLs" not being enabled by default out of the box. I've heard people say that we can exclude certain files from the packager, so wondering if this one is excluded because we have intentionally configured things that way, or if the .zip extension ignores hidden files (files

[2022-03-19 19:49] kswan commented on #5551
Thank you @jromine and @klonos . I tested the PR on my dev site and the original issue is resolved.

It looks good to me.

[2022-03-19 22:46] stpaultim opened #5557 "[UX] Book Outline - Make it easier to find and reorder book pages"
## Description of the bug

I was just working on a book and wanted to find the place where I could drag and drop pages to change the order. This "Outline" tab really confused me for a long time. It seemed like I was in the right place, but this page just doen't do what I think it should do.

![image](https://user-images.githubusercontent.com/3144571/159140678-f776dd76-6b86-49ad-a388-2a66b20e46b2.p

[2022-03-20 01:58] argiepiano commented on #5499
@bugfolder and @quicksketch: I've been doing more digging. Good news. Here's an update.

One of @quicksketch's concerns about using `module_enable()` during the upgrade "auto-enable" process (see [comment above](https://github.com/backdrop/backdrop-issues/issues/5499#issuecomment-1065829003)) was that, by using `module_update()` we would be skipping all `hook_update_N()` for the auto-enabled modul

[2022-03-20 02:21] bugfolder commented on #5499
This explanation seems pretty clear; thanks, @argiepiano, for explaining it! It would be get to get @quicksketch's concurrence, but then I think we can and should proceed  .

[2022-03-20 05:23] Amulya-coder commented on #5555
Hi, could you guide me please, I have to escape dots in rewrite condition only for these URLs install.php, rebuild.php within .htaccess, and `core/modules/system/tests/https.php`, `core/modules/statistics/statistics.php` in core modules can you please confirm?

[2022-03-20 05:45] stpaultim commented on #5555
@Amulya-coder - This is not my area of expertise, but it seems that we do need to escape the dots in these three lines (as in the Drupal example).

Line 116
Line 117
Line 118

I wasn't sure about these two lines, but I checked the same file in Drupal 9 and I can see that they did NOT escape either of these, so we should leave these are they are.

Line 19 - No change
Line 127 - No change

I recomme

[2022-03-20 06:53] stpaultim commented on #5555
@Amulya-coder - I don't think we need to touch these two files:

core/modules/system/tests/https.php
core/modules/statistics/statistics.php

Was there a reason that you asked about these two files. I did not see them mentioned anywhere else? Maybe I missed something.

[2022-03-20 07:04] Amulya-coder commented on #5555
Thanks, @stpaultim, Yes I agree with you I also didn't find these files as it is mentioned in the given link so I was a bit confused about these files, thank you for confirming.

[2022-03-20 07:35] Amulya-coder commented on #5555
Hi, I have created the PR for this issue here: https://github.com/backdrop/backdrop/pull/4004 let me know if there are any changes to be done in PR, Thanks

[2022-03-20 08:30] indigoxela commented on #5556
That seems to be a special case with cPanel. In regular zip downloads the htaccess file is included. So we might need to figure out why cPanel does not extract it. Is this always the case, or does that depend on hosting? (Not sure if this issue is in the right queue here.)

[2022-03-20 09:31] manekasingh05 commented on #5431
Hi I would like to work on this issue under Codeflow openforce 2022 as I am new to contributing, Can you please provide me the required material and guide me along this.

[2022-03-20 09:45] VasasA commented on #5003
I have tested and reviewed, it it correct. :+1:

[2022-03-20 13:41] argiepiano commented on #5529
This was also reported by @laryn in a comment [here](https://github.com/backdrop/backdrop-issues/issues/3888#issuecomment-965840374):

[2022-03-20 13:57] indigoxela commented on #5523
A nice improvement, I like it. :+1:

[2022-03-20 14:01] indigoxela commented on #1349
@klonos unfortunately your PR has conflicts that need to get resolved. And it really, really lags behind. So back to needs work.

[2022-03-20 14:20] indigoxela commented on #2062
Yes, that's the culprit with placeholders. With existing values they're pretty worthless. TBH adding back (width x height) also seems better to me.

![width-or-height](https://user-images.githubusercontent.com/842066/159166938-c4b10eba-d550-4581-ac71-20dce72c0f63.png)

Another tiny thing: the "size" attribute is [not officially supported](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i

[2022-03-20 14:32] argiepiano commented on #5499
I have discover one problem with the current approach:

1. Start with a Standard D7 install
2. Disable Dashboard in the D7 site
3. Proceed to a Backdrop upgrade

During the upgrade process the following error occurs: `Error: Call to undefined function layout_reset_caches() in dashboard_install() (line 11 of`

I believe this is generated because we are auto-enabling Dashboard before Layout is enabl

[2022-03-20 14:36] indigoxela commented on #5532
Oh yes, we should definitely make the messages more helpful - and if it only were to make our own lifes easier. :wink:

The PR works as described on the "install new modules" page, but doesn't solve the problem with the update report (/admin/reports/updates). No hint on that page, why the question mark icons are there, only a success message. Pretty misleading.

![unclear-result](https://user-imag

[2022-03-20 14:51] argiepiano opened #5558 "Some default layouts are never installed during a D7 Standard upgrade"
## Description of the bug
When upgrading a D7 Standard profile installation, the layouts `home` and `dashboard` are not installed. The config files `layout.layout.home.json` and `layout.layout.dashboard.json` are not moved to the site's config directory.

## Steps To Reproduce
1. Upgrade a D7 Standard site
2.  Visit Structure -> Layout to verify that Home and Dashboard are not listed
3. Visit the

[2022-03-20 15:10] indigoxela commented on #5558
I do have a concern regarding the home layout, though. The D7 site may have a completely different setup, the home/front page may be anything, like a view, the default blog, a node (possibly with translations)...

Enabling the home layout will override that - I'm not sure if that's smart. It might at least lead to some confusion. The home layout ships with the standard profile, so it's only suppos

[2022-03-20 15:46] argiepiano commented on #5558
@indigoxela these are good points. But:
- If your D7 home page looked a special way because of a D7 theme, you won't have that in Backdrop anyway, regardless of the Home layout
- If your D7 home page looked special because of a custom page.tpl.php template... those are not included in the upgrade, so you'll end up with a completely different look regardless of the Home layout
- If your D7 home pag

[2022-03-20 16:28] argiepiano commented on #5558
And one more thing regarding your concern about overriding D7's page setups: the upgrade process DOES create la Backdrop default layout (using Moscone Flipped), which will effectively override any D7 setup for internal pages.     So this override is already happening for internal pages after the upgrade.

[2022-03-20 19:11] bugfolder opened #5559 "Visiting /admin/config/development/configuration/sync/diff gives error"
## Description of the bug

Visiting the page  at `admin/config/development/configuration/sync/diff` results in an error.

## Steps To Reproduce

To reproduce the behavior:
1. Go to `admin/config/development/configuration/sync/diff`2, which is here in the admin menu:

![diff](https://user-images.githubusercontent.com/29214084/159178343-c435065a-da75-4f81-ba3b-fd9ca549f943.jpg)

## Actual behavior

[2022-03-20 20:10] argiepiano commented on #5558
Upon further examining `system.install` I realized that the absence of the `home` and the `dashboard` layouts may be by design. Check out `system_update_1025()`, where `default` and `admin_default` are created (but not home and dashboard). Further, `system_update_1059()` and `system_update_1060()` seem to indicate that `home` layout may not exist.

Closing this as "works as designed"

[2022-03-20 20:10] #5558 closed

[2022-03-20 20:32] stpaultim commented on #5555
@klonos (or anyone) - Can you take a look at this?

1) How do we test this?
2) How and when do we deal with change record (as tagged)?

[2022-03-20 20:34] stpaultim commented on #5003
@VasasA - Are you prepared to mark this RTBC or do you want to wait for another review?

[2022-03-20 20:40] stpaultim commented on #5509
@a-tanvi - I've removed your assignment, but feel free to let us know if you want to keep working on this. Please ask us if you need help. In the meantime, anyone can work on this.

[2022-03-20 20:40] argiepiano commented on #5499
After further consideration, and given the issue I discovered in the previous comment when using `module_enable()` I've decided to try a much "gentler" approach:
- Only required non-core, Backdrop-only modules are automatically enabled (e.g. Entity Plus)
- All enabling is now done with `update_module_enable()` which avoids triggering any hooks etc.

I've tested with D7 upgrades from a basic Standa

[2022-03-20 20:53] stpaultim commented on #5397
@AnjaliJha1221 - Are you still interested in working on this one. It could be quite easy and something you can do without even installing Backdrop CMS.

1) See this article: https://backdropcms.org/news/creating-pull-requests-against-core-the-easy-noob-way|
2) Create a fork of Backdrop CMS and create a branch for this issue.
3) Edit this file: core/modules/menu/menu.admin.inc (I did a string searc

[2022-03-20 21:01] stpaultim commented on #5184
As I work with our OpenForce participants to make lots of string changes, I worry a bit about the impact this is having on translations.

I would be very much in favor of finding out more about how many sites are using multilingual modules/translations. I would assume this would be pretty easy to check and might reveal some very interesting data that we could use now.

[2022-03-20 21:34] BWPanda commented on #5003
It works, and code looks good to me.

[2022-03-20 21:36] BWPanda commented on #5003
No advocate, but since this is RTBC now, adding to the minor milestone.

[2022-03-20 21:39] VasasA commented on #5003
It's great, thank You! :fireworks:

[2022-03-20 22:34] stpaultim commented on #5003
@RakeshPotnuru - Excellent work helping us make Backdrop easier to use and understand.

[2022-03-21 00:06] BWPanda commented on #5284
I'm not sure what happened between the above screenshot and the current PR, but the descriptions are messed up between the checkboxes (with one missing). Posted a review with some fixes and wording suggestions.

[2022-03-21 01:59] BWPanda commented on #4645
Here's a new PR that configures the default date formats based on the chosen timezone/country: https://github.com/backdrop/backdrop/pull/4005

**Default**

![image](https://user-images.githubusercontent.com/2385329/159196428-c11a9324-5045-4c1c-9f59-1573c39547fd.png)

**United States**

![image](https://user-images.githubusercontent.com/2385329/159196485-c90a6789-7d05-4757-8559-1cd77c854c7f.png)

[2022-03-21 02:12] bugfolder commented on #5499
Tested with a Rules upgrade (worked) and an Ubercart upgrade (no difference from same upgrade with stub modules). Will do some more testing tomorrow, but looking good!

[2022-03-21 02:35] stpaultim commented on #5284
Putting my original suggestions next to @BWPanda's proposed changes for easier comparison (see notes on PR).

PROPOSED:

Home menu - Provides a convenient link to the home page of the site, as well as quick links that allow you to clear the various caches, run cron, and run updates.
Administration menu - Displays the various administrative menu options in the admin bar.
Menu search - Provides a se

[2022-03-21 02:46] argiepiano commented on #5549
@laryn, I'm interested in looking further into this. So far I've been unable to reproduce this error. I'm wondering if the Backdrop codebase is a clean install? And are you starting up from a Standard D7 profile of the latest version? What D7 modules did you have enabled?

[2022-03-21 02:50] stpaultim commented on #5431
@manekasingh05 - Welcome.

Here are two resources to get yourself started.
https://backdropcms.org/news/openforce-2022-getting-started

If you are writing code and need to do local testing, you should see previous article for some information about setting up a local environment. For this specific issue, you could probably write the change in Github UI.
https://backdropcms.org/news/creating-pull-r

[2022-03-21 02:55] BWPanda commented on #5284
Me neither. What about just "Online" instead? Or "People online"?

[2022-03-21 02:56] argiepiano commented on #5549
Also, can you clarify when you see this message? In my testing `user_load_multiple()` is never called during the upgrade process of a clean Standard D7 site - it's only called when you try to log in after the update.

[2022-03-21 03:11] stpaultim commented on #4645
Thanks for indulging my concerns about "Date Only".

This is an interesting option, I think. I'd like to test it.

I am not sure if the PR is broken or if I am misunderstanding how it should work. The sandbox site is set up to use European times, if we go with this approach, it will be important that the site admin can change the setting. I tried changing the country to US and it did not have any

[2022-03-21 04:09] RakeshPotnuru commented on #5284
@BWPanda , @stpaultim
Should I confirm these changes?

[2022-03-21 04:09] BWPanda commented on #4645
The PR only changes the *default* date/time formats, it doesn't try to tie them to the country/timezone settings in general. I think if you wanted to do that, you'd need to go down the rabbit hole of making date/time formats have states like 'default' and 'overridden'. Then when you change the country it'd change only the 'default' date formats (not the 'overridden' ones). But I think that's a sep

[2022-03-21 04:12] stpaultim commented on #5284
@RakeshPotnuru - it's up to you. I expect it's likely that we'll get more suggestions regarding the text tomorrow. If I were you, I would hold off one more day.

But, if you decide to make the changes - it does give others something to test in the sandbox.

[2022-03-21 04:19] stpaultim commented on #4645
@BWPanda - That's makes perfect sense (now that I understand it) and seems like a smart solution. I'm anxious to hear what others have to say.

[2022-03-21 04:24] RakeshPotnuru commented on #5284
Looking fine 🤔
<img width="944" alt="image" src="https://user-images.githubusercontent.com/70439799/159205211-e2fe7a69-2e70-4204-ad72-863bbddc032b.png">

[2022-03-21 04:41] laryn commented on #5549
@argiepiano I believe it was just a vanilla D7 with conditional fields installed (and one conditional field defined in a content type). The error occurred during the database updates step.

[2022-03-21 06:40] BWPanda commented on #5284
Still some things that need fixing...

[2022-03-21 07:01] indigoxela commented on #5559
Confirmed. How could we miss that?

That sounds plausible.

[2022-03-21 07:15] indigoxela commented on #4645
@BWPanda many thanks for the alternate PR - tests are currently failing, though.

There's now two patterns (example short), which are both uncommon in central Europe. whether it's `d/m/Y - g:ia` or `m/d/Y - g:ia` doesn't make any difference for us here. We use `d.m.Y - H:i` (24 hour format).
So, TBH, the PR doesn't provide any improvement for us. :wink: But I don't oppose.

[2022-03-21 07:45] BWPanda commented on #4645
@indigoxela I can add another condition that changes this for Europe, assuming this is common across all of Europe (just targeting Central Europe might not be possible/feasible)... Also ping @klonos @olafgrabienski

[2022-03-21 07:52] indigoxela commented on #5559
A possible solution (if our guess, that it shouldn't have been a tab anyway) could be to set that page to `'type' => MENU_CALLBACK,`.

[2022-03-21 08:00] indigoxela commented on #4645
Maybe we should revisit the original task/question: what *are* the most commonly used date formats? :wink:

Re Europe: @VasasA or @robertgarrigos or @yorkshire-pudding  might want to share their thoughts. I don't actually think that one date format fits all Europe. But the 24 hour format is rather common here - with some exceptions.

[2022-03-21 08:10] findlabnet commented on #4645
How can people understand: is it January or February - 01/02/2022?

[2022-03-21 08:11] BWPanda commented on #4645
We are doing that, just for different regions of the world 😊

[2022-03-21 08:55] VasasA commented on #4645
Hungarian formats aren't most commonly used in Europe :thinking:
Short:
[code]

Medium:
[code]
(The month must be written in lower case. )

Long:
[code]
(The month must be written in lower case. )

[2022-03-21 08:59] yorkshire-pudding commented on #4645
If I saw that in the UK on UK paperwork or a UK site, I would know it was February.  If I saw on a US site I would presume it would be January.

@indigoxela - in UK it is typically dd/mm/yyyy with 24 hour time.  Some people use 12 hour with am/pm but it is not a commonly used one in written, though is in speech.

Long form would typically be as we would say it e.g. "Monday 21st March 2022", possib

[2022-03-21 09:27] olafgrabienski commented on #4645
I agree. According to https://en.wikipedia.org/wiki/Date_and_time_notation_in_Europe and https://en.wikipedia.org/wiki/Date_format_by_country  `dd.mm.yyyy` seems to be the most common short format in Europe, probably followed by `dd/mm/yyyy`, and the most common time format in Europe seems to be 24 hours. It's however difficult to find information about all Date formats (short, medium, long).

Fro

[2022-03-21 09:29] indigoxela commented on #4645
So, looking again at the previously linked [Wikipedia page](https://en.wikipedia.org/wiki/Date_format_by_country): DMY seems to be a widely used format, with two exceptions: US format is MDY and in China it's probably rather YMD (can anyone confirm the latter?). Re that (besides the various delimiters), the second PR seems like a very good starting point.

The tricky part is the 12-hour vs. 24-hou

[2022-03-21 10:41] BWPanda commented on #4645
PR updated to add European dates (`d.m.Y`) and fix tests.

As for 12/24 hour time, I recommend a new issue to add that option to the installer, then we can tweak the default time formats appropriately.

[2022-03-21 10:57] indigoxela commented on #4645
Did we have enough consensus for that? `'d.m.Y - g:ia'` ... I doubt it. :grinning: If you add a format specific for Europe, it should be in 24 hour format, otherwise it makes no sense. If you do not want to add any 24 hour format, then adding a format for Europe isn't actually useful. Also, the dots as delimiters maybe aren't optimal. Thoughts?

[2022-03-21 11:14] BWPanda commented on #4645
I was going off this:

and this:

Happy to revise if I misunderstood...

[2022-03-21 14:51] argiepiano commented on #5549
@laryn, I've done additional testing, and am still unable to reproduce this error.

1. In my D7 clean install, I enabled Conditional Fields, created a new content type, added two fields (one of them boolean) and created a dependency so that field B was shown if the boolean was set to true. All works well.
2. I created content.
3. I followed the usual upgrade steps with a Backdrop codebase that inc

[2022-03-21 15:53] indigoxela commented on #4645
I'm actually not sure. :grin:

For me (personally), a format like `d.m.Y - H:i` would be optimal, but ...

1. I can't decide that, because I'm one citizen, not a majority in Europe
2. Even if we find the perfect format for Europe - what about Africa, Asia...?

A possible compromise: `d/m/Y - H:i` (slashes as delimiter, but 24 hour format).

If that won't work for enough people/regions, or there ar

[2022-03-21 16:10] argiepiano commented on #5499
Thanks @bugfolder. I just committed your docblock suggestion.

[2022-03-21 16:20] argiepiano commented on #5499
One aspect that may need to be documented somewhere is that, if your module depends on a Backdrop-only module that needs to create a table, the new approach in the PR will not create it by default (since it uses `update_module_enable()` . The module needs to implement `hook_schema_0()` which is invoked during `update_module_enable()`.

`hook_schema_0()` is not documented anywhere. I'll add it to t

[2022-03-21 16:31] bugfolder commented on #5499
I think that should be a separate issue; since `hook_schema_0` is invoked by a public API function, it too is a public API function and should be documented, whether or not this particular issue calls for it. (And yes, `system.api.php`, where `hook_schema()` and `hook_schema_alter()` are documented, seems to be the right place.)

I would further suggest that a note be added to the documentation of

[2022-03-21 16:43] argiepiano opened #5560 "Document `hook_schema_0()`"
`hook_schema_0()` is invoked by `update_module_enable()`. This hook is currently not documented anywhere.
 It provides an initial table schema for modules that are enabled during update/upgrade processes. Unlike `hook_schema()`,  all `hook_update_N()` will be run after `update_module_enable()` creates the table with `hook_schema_0()`.

As per @bugfolder's [suggestion](https://github.com/backdrop/b

[2022-03-21 17:06] herbdool commented on #5537
I agree a fix is needed and @eric2pin's fix makes sense to me.

The only time `$key` would be `NULL` is when the entire configuration object is loaded, as far as I can tell. So it makes sense in that case to return all the overrides for that config object. However, I think it needs more. Unless you override all the items in the config object it will end up losing those other items.

So if in `sett

[2022-03-21 17:09] quicksketch commented on #5499
Thanks @argiepiano for the thorough explanation and testing of different situations! I left one more comment on the PR about the point at which we're enabling the new modules: https://github.com/backdrop/backdrop/pull/3950/files#r831343018

The separate issue for `hook_schema_0()` is a great idea, that way we'll be able to reference that issue in the future.

[2022-03-21 17:46] quicksketch commented on #5537
Rephrasing this again to check if I understand the problem correctly.

If `$config['system.mail']['default-system'] = 'MaillogMailSystem';` is in settings.php, then the following two examples return different things:

[code]

[2022-03-21 17:48] herbdool commented on #5537
@quicksketch correct.

[2022-03-21 17:56] herbdool commented on #5537
We might end up with a similar issue with `Config::getTranslated()`.

[2022-03-21 18:01] laryn commented on #5549
@argiepiano

I had nothing fancy configured on the D7 site, just as little as I could configure to test the CF update process. I can replicate it locally.

I took the `backdrop-ready.sql` database (compressed version attached below) and did the following:

1. Install a vanilla version of Backdrop in a lando container
2. Download Conditional Fields into the modules directory
3. Use `lando drush sql

[2022-03-21 19:43] argiepiano commented on #5499
@quicksketch I'm pasting my response to your comment to give others a chance to chime in if they wish.

@quicksketch said:

@quicksketch , I see the logic of your comment. One of the reason I decided to place this call later in the upgrade process was that the user would have a chance to see what modules would be automatically enabled before proceeding with the updates, giving them a chance to can

[2022-03-21 20:21] argiepiano commented on #5560
PR ready for review:
https://github.com/backdrop/backdrop/pull/4006

[2022-03-21 21:39] olafgrabienski commented on #5549
@laryn you seem to install Backdrop before the upgrade, and @argiepiano you do not, correct? (The docs recommend the latter, see https://docs.backdropcms.org/documentation/step-3-upgrade-the-drupal-site.) Could that make a difference here?

[2022-03-21 23:03] BWPanda commented on #4556
Related: https://github.com/backdrop/backdrop-issues/issues/1284

[2022-03-22 05:43] stpaultim commented on #5284
I believe that @RakeshPotnuru made the requested fixes.

[2022-03-22 05:51] argiepiano commented on #5549
@laryn, I tested an upgrade with the database dump you attached. I did not find any issue. I'm starting to suspect that the problem is with your setup. I'm using a manual clean, local install of Backdrop (I use MAMP for database and web server). I don't have/use lando, so I can't test that. I have the dev version of Backdrop's Conditional Fields. Since I don't have the admin credentials for the du

[2022-03-22 05:57] RakeshPotnuru commented on #5284
Yes

[2022-03-22 05:58] argiepiano commented on #5549
@olafgrabienski comment may be on to something. I'm not familiar with the drush command `sql-cli <`, but I would make sure that you "wipe out" the old Backdrop database before importing the new (D7) one.

[2022-03-22 06:25] BWPanda commented on #5284
PR still needs work.

[2022-03-22 07:50] BWPanda commented on #5284
Looks good now.

[2022-03-22 08:04] AlexHoebart-ICPDR commented on #5512
Is there a reason, why this bug fix has been postponed several times?
It's fixing a bug, nothing more, nothing less.
It does not influence the mentioned todo about some possible future ways to handle this differently.

[2022-03-22 08:23] indigoxela commented on #5512
@AlexHoebart-ICPDR it's still pending code review. That's pretty often the bottleneck in our queue, sorry for that.

[2022-03-22 10:27] BWPanda commented on #4556
Here's a PR that adds a fieldset of common date/time codes: https://github.com/backdrop/backdrop/pull/4007

![image](https://user-images.githubusercontent.com/2385329/159460163-2076e8b4-58a7-4676-b2d0-8cbc5bf277fc.png)

It was inspired by the [Date/Time Format Help](https://backdropcms.org/project/date_format_help) contrib module, though not a direct integration (I figured we don't need to show *a

[2022-03-22 11:38] indigoxela commented on #4556
Cool, love it!

Some suggestions:

- It could also be a details element, as this help item is new
- It might make sense to collapse it initially
- If the locale/language modules are enabled, one can "localize" these formats, but on that page the help isn't provided (/admin/config/regional/date-time/formats/long/localize)

That's all optional.

[2022-03-22 11:46] BWPanda commented on #4556
Thanks for the suggestions.

- What's the difference/benefit of 'details' over 'fieldset'?
- I was about to say that I considered collapsing by default, but didn't see any benefits in doing so (considering there's nothing below to scroll to), but then I checked and the submit button is down there! So yes, we can either collapse by default, or (preferably) move the fieldset below the submit button.

[2022-03-22 12:34] laryn commented on #5512
@klonos  did you raise this in the dev meeting?

[2022-03-22 13:47] bugfolder commented on #4556
The `details` element is supported natively in browsers, IIRC. We used it for a similar use case of "additional information", for the "How layouts work" expandable information on `/admin/structure/layouts`.

[2022-03-22 15:26] AlexHoebart-ICPDR opened #5561 "Fixed: `_views_tokenized_clean_css_identifier()` should clean the complete class."
## Description of the bug

The function [_views_tokenized_clean_css_identifier](https://docs.backdropcms.org/api/backdrop/core%21modules%21views%21views.module/function/_views_tokenized_clean_css_identifier/1)($class, $plugin, $row_index) splits classes into string and token parts, replaces the tokens with their values and then (wrongly) cleans the separated parts with [backdrop_clean_css_identifi

[2022-03-22 15:59] indigoxela commented on #5561
Funny, I never ran into this before, but can confirm it: if classes get directly assembled with tokens, one can end up with `foobar-_5` instead of `foobar-15`.

And I did a quick check, this is no problem with D7 views.

Seems like this issue here is a follow-up to #3428.

@AlexHoebart-ICPDR your approach seems promising. Mind to file a pull request?

[2022-03-22 16:55] quicksketch commented on #5537
I checked the core code base for any places where we're calling `config_get($config_name)` with no specific key, and looks like we only have 7 instances where config is loaded in this way, including:

* Loading layouts
* Loading custom blocks
* Loading text formats
* Loading the mail system settings

Seems like in the short-term we should change the way the mail system is loaded from `config_get('

[2022-03-22 17:54] herbdool commented on #5537
@quicksketch that crossed my mind too, just so long as it eventually gets done. I've added a PR.

[2022-03-23 01:45] argiepiano opened #5562 "Is version 2 of a module supposed to be listed as an "available update" from version 1?"
I'm seeing a situation with a module that has a new major version  (version 2).  On sites that have the major version 1 installed,  Backdrop is not listing version 2 as an "available update". Is this by design, or is this a bug?

If this is by design, is there a way to indicate that version 1 is unsupported or trigger a warning? I saw this functionality in D7 with contrib modules like Weight, were

[2022-03-23 02:13] BWPanda commented on #4556
PR updated to:

- Use `<details>` instead of `<fieldset>`
- Move the PHP codes below the form submit button
- Add the PHP codes to other forms as well:
  - 'Localize' tab for date formats
  - 'Logging and errors' form (`/admin/config/development/logging`)
  - Views' date fields (only visible when date format set to 'custom')

[2022-03-23 03:19] argiepiano commented on #5562
One inconvenience of this behavior is that you can't use Project Installer to install the next major version of a module. You are forced to uninstall and manually remove the old major version from the modules folder, and then install the next major version.

With Drupal 7, if the version was unsupported, you could use  the installer to upgrade.

[2022-03-23 03:24] jenlampton opened #5563 "Backdrop doesn't consider version 2 of a module to be an update of the latest version 1."
This problem came up after the rules + entity_token debacle.
See https://github.com/backdrop-contrib/rules/issues/178
(or maybe someone can write up a better description)

[2022-03-23 03:34] BWPanda commented on #5562
Looks like a bug: https://github.com/backdrop/backdrop-issues/issues/5563

[2022-03-23 03:35] BWPanda commented on #5563
Doesn't an issue need a near-ready PR to go into the next bug-fix milestone...?

Also, related: https://github.com/backdrop/backdrop-issues/issues/5562

[2022-03-23 03:35] argiepiano commented on #5563
Related to my question #5562. To reproduce:

1. Install an "old" major version of a contrib module. For example, [Entity Tokens version 1.1.0-beta](https://github.com/backdrop-contrib/entity_token/releases/tag/1.x-1.1.0-beta)
2. (The current supported version of Entity Tokens is version 2.0.1)
3. Visit admin/reports/updates. The old major version is listed as "Up to date", and version 2.0.1 is lis

[2022-03-23 03:36] BWPanda commented on #5562
Let's close this in favour of that issue.

[2022-03-23 03:36] #5562 closed

[2022-03-23 03:44] jenlampton commented on #5563
You're right. I just consulted the documentation, and it doesn't sate anything about critical bug fixes!  I'm going to remove the milestone for now, but after the documentation gets updated we can add it back.

[2022-03-23 05:15] #5544 closed

[2022-03-23 05:17] BWPanda commented on #5544
Thank you @ayushi424 for this PR! Thanks also to @jenlampton and @stpaultim for reviewing. I've merged https://github.com/backdrop/backdrop/pull/3995 into 1.x.

[2022-03-23 05:24] #5552 closed

[2022-03-23 05:25] BWPanda commented on #5552
Thanks @ayushi424 and @stpaultim for this PR! I've merged https://github.com/backdrop/backdrop/pull/4002 into 1.x and 1.21.x.

[2022-03-23 05:26] stpaultim commented on #726
For the record, we looked at this same menu display in Basis and it does not behave as @BWPanda suggested, which means that we are going to hold off on this issue until we get further clarification.

We added this to the next Design/UX agenda.

[2022-03-23 06:20] argiepiano commented on #5563
After a bit of digging inside the update module, I don't think this is a bug.  The idea is that a module could have two working major versions, and people could choose among versions (e.g. Commerce Kickstart - while not a module, but rather a profile - has both versions 1 and 2 as possible working versions).

However, I think there is a way for the team managing the project portal at Backdrop to m

[2022-03-23 06:55] stpaultim commented on #5557
I was originally considering removing either the vertical or horizontal tabs to avoid confusion, but after experimenting with this I think it might make things worse. Looking for feedback.

In the meantime, I did add a link to the "Outline" form that shows site editor where to find the full outline for the book. This link only shows up if the page is attached to a book.

This is a first draft PR -

[2022-03-23 07:13] indigoxela commented on #5563
Loosely related: https://github.com/backdrop-ops/backdropcms.org/issues/474

[2022-03-23 07:16] stpaultim commented on #5331
Was working on a new PR that fixes some of these problems, but then we found this one. This is really good. I've done a little testing and found one problem.

The "Reorder book pages" link should not show up unless the page has been added to an outline already. In it's current state, this link takes user to a broken page.

![image](https://user-images.githubusercontent.com/3144571/159643965-224d8e

[2022-03-23 07:18] stpaultim commented on #5557
This is a duplicate issue of https://github.com/backdrop/backdrop-issues/issues/5331 which already has a PR that needs additional testing. We'll work on that instead.

[2022-03-23 07:18] #5557 closed

[2022-03-23 07:21] indigoxela commented on #4556
Many thanks for updating. Still love it, although I find it a bit odd that the help for a form item appears sort of outside the form.

![funny-form-order](https://user-images.githubusercontent.com/842066/159644836-9d19b267-2966-4eaa-9551-842c246e0a4a.png)

Are we doing it that way somewhere else in core?

[2022-03-23 10:18] stpaultim commented on #5552
Thanks @ayushi424 !!!!

[2022-03-23 12:50] BWPanda commented on #5509
Also, the arrows are different...

[2022-03-23 13:52] bugfolder commented on #5563
There are settings for the project to both specify which major version is "Recommended" and also whether any given release is "Supported." Here's the page for Entity Token:

![supported](https://user-images.githubusercontent.com/29214084/159714937-2096cf08-8b4d-4d64-a2db-430aac301a06.jpg)

I will uncheck "Supported" for version 1. Does that give the desired behavior? I see that it is still offered

[2022-03-23 14:43] AnjaliJha1221 commented on #5397
Yes, I'm interested, had exams that's why I wasn't active.
Thanks for the briefing I'll start working

[2022-03-23 14:56] RakeshPotnuru commented on #5509
@klonos
I am working on this.

[2022-03-23 15:40] argiepiano commented on #5563
@bugfolder thanks for unchecking "unsupported" for Entity Tokens. I'm sad to report that this had made no difference in the status of the module in my test site (see attached). I've tried clearing caches and running cron.

The code in the upgrade module is supposed to account for unsupported modules and output something to indicate that. So there may actually be a bug there.
<img width="1190" alt=

[2022-03-23 15:49] argiepiano commented on #5563
@jenlampton, given that this was not a bug, and that your issue is now solved by @bugfolder setting version 1 of Entity Tokens as unsupported, I believe we can close this bug report. Please feel free to reopen if I'm missing something here.

[2022-03-23 16:49] bugfolder commented on #5563
I'll leave this issue closed, but it seems like there's two cases where b.org administrators need to step in to modify a project node directly, and module maintainers need to know they have to ask administrators to take action:

* When the major release version changes (e.g., from 1.x.x to 2.0.0);
* When an older major version needs to be marked as unsupported.

So I think some documentation is ca

[2022-03-23 17:13] laryn commented on #5549
I did try using `drush sql-drop` before the import command, with the same results. I'll try to test in a different (maybe non-Lando) setup another time. Not likely today though.

[2022-03-23 17:14] laryn commented on #5549
I suppose it's possible that having config files from a vanilla install still in the config folder could be part of the issue.

[2022-03-23 17:27] bugfolder commented on #5563
New text added to that page. If anyone sees anything amiss, please create an issue in the docs.backdropcms.org issue queue (or if it's small or obvious and you can, just fix it directly). Here's a copy of the new text (at the bottom of the section).

![new text](https://user-images.githubusercontent.com/29214084/159759686-d25dbc5c-b896-4d7a-acbf-1e00929b8962.jpg)

[2022-03-23 17:27] herbdool commented on #5331
@stpaultim thanks for trying this out. I've added a fix.

I guess the one downside of removing the Outline tab is that it makes it more awkward to edit the book outline. If someone adds a page to the book they won't see those links until the edit the node and go back to the vertical tab. Maybe only remove the outline tab for content types that aren't assigned to be parts of books? (There's an issu

[2022-03-23 21:18] jenlampton commented on #5563
This is definitely still a bug that needs to be addressed. Though it's supported to have both supported and recommended versions of modules, the project browser shouldn't fail quite so terribly for these kinds of updates. I'd like to think about how we might be able to provide the option to switch to different major version for one of their modules.

[2022-03-23 21:22] argiepiano commented on #5563
@jenlampton  once a major release is marked as unsupported, the installer will allow you to install the supported major version.  In the case that you cited in your OP, updating Rules will also update Entity Tokens to version 2, now that version 1 is unsupported.

[2022-03-23 21:53] AlexHoebart-ICPDR commented on #5561
OK, first time for me, here is the PR: https://github.com/backdrop/backdrop/pull/4011

[2022-03-23 21:58] quicksketch commented on #5537
The PR at https://github.com/backdrop/backdrop/pull/4008 looks good to me in code review. @eric2pin, could you check if that PR will solve your immediate problem?

[2022-03-23 22:37] eric2pin commented on #5537
@herbdool @quicksketch Yes, although it does leave in some counterintuitive (less important?) interface stuff. With this code in place anything that calls backdrop_mail_system() will return an instantiated mail class that respects your $config override in settings, which would divert mail to that system which is great.

The mail system admin form at admin/config/system/mailsystem won't reflect you

[2022-03-23 23:26] jenlampton commented on #5563
Because the problem remains for modules that have two (or more) supported major versions, we need to make the user-experience better for people in those scenarios.

[2022-03-24 01:20] kswan commented on #5537
I ran into this issue as well. @argiepiano pointed me to this issue. I tested the PR and it works correctly. With the PR applied the configuration in settings.php overrides the site configuration.

@eric2pin I don't have a page at admin/config/system/mailsystem. I believe that page is added by a module you have installed.

[2022-03-24 01:58] BWPanda commented on #4364
PR: https://github.com/backdrop/backdrop/pull/4013

[2022-03-24 02:01] jenlampton commented on #4175
I've merged your suggested change @quicksketch, this is back to RTBC.

[2022-03-24 02:16] BWPanda commented on #4257
Well that was easy: https://github.com/backdrop/backdrop/pull/4014

[2022-03-24 02:27] BWPanda commented on #3269
Question has been answered, closing.

[2022-03-24 02:27] #3269 closed

[2022-03-24 02:49] irinaz commented on #4401
Contrib module  for Views Bulk Operation that adds option "Modify entity values" sound like a perfect solution.  Should we open an issue for porting VBO module to Backdrop in https://github.com/backdrop-contrib ?

[2022-03-24 03:13] BWPanda commented on #4311
Here's a PR: https://github.com/backdrop/backdrop/pull/4015

However there's an issue:

![Peek 2022-03-24 14-12](https://user-images.githubusercontent.com/2385329/159834702-92db9d34-1b8e-48b9-a52b-79679a9b11cb.gif)

It seems that because of the modal window, it doesn't recognise that you've clicked in the field... Not sure how to fix that. Marking as 'needs work' for now.

[2022-03-24 04:04] stpaultim commented on #5397
@AnjaliJha1221 - I look a look at your Pull Request and there are two issues.

1) You need to fix the nested "single quotes" which are causing a problem.
2) Tests did not run on your PR. Try closing your PR and then reopening it again (wait 10 seconds). In theory, reopening your PR will trigger the automated tests.

[2022-03-24 04:59] stpaultim commented on #5397
@AnjaliJha1221 - It has now been suggested to me on the Pull Request that the tests may not have run because of the error, so before trying to restart the tests, be sure to fix the error. @BWPanda has provided the fix, you just need to accept it.

[2022-03-24 05:13] stpaultim commented on #5509
@RakeshPotnuru - Actually, for both fieldsets and details the item just hides or exposes content, in neither case is it a link to another page, so I don't think we should treat them as links.

I think we should remove the link from fieldsets.

To demonstrate @RakeshPotnuru - see the example provided by @bugfolder. admin/modules/list - these fieldset labels do not link anywhere, they just open and

[2022-03-24 05:22] RakeshPotnuru commented on #5509
Okay, I will remove underline then.

[2022-03-24 05:30] BWPanda commented on #4358
Closing this issue, as I've copied it over to https://github.com/backdrop-ops/backdrop-community/issues/22 instead.

[2022-03-24 05:30] #4358 closed

[2022-03-24 05:43] BWPanda commented on #4482
Here's a PR: https://github.com/backdrop/backdrop/pull/4016

[2022-03-24 08:10] olafgrabienski commented on #4401
Sounds interesting, but how would we handle it that parts of VBO are already in Backdrop core?

[2022-03-24 08:13] indigoxela commented on #5561
That's great! Welcome to the Backdrop contributors gang.

I took a look at the code change, and at first it looked good, but playing with it locally, I found a regression.

Previously underscores in typed text stayed untouched, but now they're converted to dashes. That's what the previous issue tried to address. (#3428)

- This is what I played with: `foobar-[nid]--[nid] the_second_class`
- This i

[2022-03-24 08:20] olafgrabienski commented on #4482
Tested in the sandbox, works for me!

One question for better understanding: at which point are date fields "loaded"?

[2022-03-24 08:39] AlexHoebart-ICPDR commented on #5561
@indigoxela but that's a different problem and handled in function backdrop_clean_css_identifier. By default, it replaces underscores with dashes "using Backdrop's coding standards". I assumed that this is the expected behaviour.

To achieve your expected result, the PR could be changed to call the cleaning with an empty array as second parm: backdrop_clean_css_identifier($class, array());

But I

[2022-03-24 08:50] indigoxela commented on #5561
I'm aware this is tricky and I don't have an instant suggestion.

You can't apply backdrop_clean_css_identifier() without filters on tokenized values, but you're supposed to do it with written values. They need to get treated differently, but if you apply backdrop_clean_css_identifier() directly on parts, values get mangled.

Honestly, no clue what the "Backdrop's coding standards" mean in this co

[2022-03-24 10:16] stpaultim commented on #5397
@AnjaliJha1221 - This looks good. RTBC (Ready to be committed)

[2022-03-24 10:25] BWPanda commented on #4364
Done, thanks!

[2022-03-24 10:30] BWPanda commented on #5397
@stpaultim I'm happy to merge the PR if you want to first add the bug fix milestone...

[2022-03-24 10:44] indigoxela commented on #4364
Many thanks for fixing, now this works properly. :+1:

[2022-03-24 11:13] AlexHoebart-ICPDR commented on #5561
I changed the approach in the PR to only fully clean the token values, but not the input string values (as per #3428). So, this should be BC now.
I also changed the variable name $subclasses to $substrings as this better describes its content.
I tricked the function backdrop_clean_css_identifier a bit to avoid the bug described in this issue.
A cleaner approach could be to add a parameter to backd

[2022-03-24 11:23] indigoxela commented on #5561
A temporary prefix - nice.

I'll try to test it soon, but I saw some coding standard issues. (This time it's the [php coding standard](https://docs.backdropcms.org/php-standards).) ... Spaces, comments and the like. I'll add some explaining comments on your PR.

[2022-03-24 11:34] eric2pin commented on #5537
@kswan You're right! It's the mailsystem module. This works great for core.

So for the mailsystem case would it be best to post an issue on that queue? Or just hold tight while changes to config.inc are considered?

[2022-03-24 12:10] BWPanda commented on #4549
Here's a PR that seems to work! https://github.com/backdrop/backdrop/pull/4017

![Peek 2022-03-24 23-07](https://user-images.githubusercontent.com/2385329/159913245-865a55da-5b9e-485b-8105-5f4423763c03.gif)

[2022-03-24 12:25] AlexHoebart-ICPDR commented on #5561
Coding standards, well, ok, done.
BTW, they don't mention a line length limit for comments, only for code and there is also an original comment line longer 80 chars.
But thanks for your guidance.

[2022-03-24 12:32] AlexHoebart-ICPDR commented on #5561
I received this: https://github.com/backdrop/backdrop/actions/runs/2033774926
But I have no clue how that "Module uninstallation" error is related to my code change.
Please advise...

[2022-03-24 12:49] indigoxela commented on #5561
I belief, we have a documentation issue for this somewhere, just can't remember where.
Standards are mostly the same as in Drupal, with some small differences. So if you have phpcs with the Drupal ruleset installed on your dev, you can use that as well. (Yes, we have lots of legacy code that doesn't comply to the standards yet, but we improve things as we go.)

I also see no relation. This might b

[2022-03-24 13:42] docwilmot commented on #5483
This is a simple one that could use another review.

[2022-03-24 13:45] docwilmot commented on #5482
Any thoughts anyone?

[2022-03-24 13:49] docwilmot commented on #5427
Review or milestone anyone please?

[2022-03-24 14:37] indigoxela commented on #5483
I'm impressed. This is how I tested:

On a vanilla Backdrop I added `debug('runs')` in both, Layout::getContexts() and Layout::getContextFromRelationship(). Then created a layout with path 'node/%' and a relationship for the author (and a visibility condition).

On the layout form there have already been several "runs". Same on any node page. But also on a custom layout without any relationship th

[2022-03-24 14:52] docwilmot commented on #4311
COuld we implement this as a CKEditor plugin with its own icon, instead?

[2022-03-24 15:05] indigoxela commented on #5561
Hm, tried to kick the tires by restarting the PR check runs ... and now another random test fails.

Anyway, it works for me.

[2022-03-24 15:05] docwilmot commented on #5483
Milestone though?

[2022-03-24 15:08] irinaz commented on #4401
I do not have a good answer from the coding perspective, but I know that in D9 there are two bulk operations modules - one is in core (node bulk) and another one adds other options, like "modify value"  (https://www.drupal.org/project/views_bulk_operations).  I think that it is very similar approach.

[2022-03-24 18:58] herbdool commented on #5537
Sounds like this has passed review and testing. Anyone want to update the labels and mark it RTBC? Or if you don't have access I can do it on your behalf (with your approval).

[2022-03-24 19:38] shabibalm opened #5564 "[UX] seven Formatting options fix rtl"
now

![Formatting options](https://user-images.githubusercontent.com/45591694/159995683-00ed86c7-c5bb-4c1c-b050-31710fe39560.jpg)

after fix
![Formatting options-rtl](https://user-images.githubusercontent.com/45591694/159996440-3334a006-34c9-4fb9-a626-a93729c690ad.jpg)

add
`[dir="rtl"] .fieldset-legend span.summary {
  left: 2em;
  right: unset;
}`
in core\themes\seven\css\style.css
line 756

tha

[2022-03-24 19:44] kswan commented on #5537
I would label it RTBC, but I don't have access.
Should it also get "Milestone candidate - bug"?

[2022-03-24 19:45] herbdool commented on #5537
thanks @kswan I've updated it.

[2022-03-24 20:02] findlabnet commented on #5564
I can confirm bug and resolution, just maybe new definitions should be placed to line 770 (after default "ltr").

[2022-03-24 21:27] shabibalm commented on #5564
problem with class fieldset-legend span.summary
https://github.com/backdrop/backdrop/blob/1.x/core/themes/seven/css/style.css#L756

before or after class ok but not line 770

[2022-03-24 21:28] BWPanda commented on #2626
FYI, the PR in https://github.com/backdrop/backdrop-issues/issues/4549 also fixes the problem here too:

![Peek 2022-03-25 08-27](https://user-images.githubusercontent.com/2385329/160013372-1a61613a-29fe-41cb-8e61-c9c5b0ffd9b6.gif)

[2022-03-24 21:36] irinaz commented on #4903
I think that it would be lovely to have a hero block background consistent with backdropcms front page and overall branding.  Current hero image does not look as modern as it was in 2017 - in design world things change so quickly!

<img width="1279" alt="backdropheroimage" src="https://user-images.githubusercontent.com/2497005/160014242-29e49674-cd6d-4ba6-88bc-a50ea3b8f288.png">

[2022-03-24 21:38] quicksketch commented on #4549
Seems good to pull into the next milestone.

[2022-03-24 21:39] schoenid opened #5565 "Missing a possibility to get a books mlid value for views"
## Description of the need

To create a books child content, the parent books mlid (menu link ID) is required.
With help of this ID it's possible to create a link, which let's make a new book child using the Prepopulate module and the mlid value.
The created link has to look like `/node/add/book?parent=[!mlid]`.

## Proposed solution

Add a views entry to file: book.views.inc

section:

    // men

[2022-03-24 21:42] stpaultim commented on #5397
Done. Although the discussion in Dev meeting today has me a bit confused about whether or not this is necessary.

[2022-03-24 21:48] BWPanda commented on #5397
@stpaultim Yes, still necessary to have different people add the label and the milestone:

(https://docs.backdropcms.org/documentation/adding-milestones-to-issues)

[2022-03-24 21:58] jenlampton commented on #5330
I'm not sure this is a good candidate for core, but I'd love to see it evolve as a contrib module.

I could see the module adding settings into the header block that match the settings in the menu block.

Then in `X_preprocess_header()` we'd override the variable `$variables['menu']` so instead of calling
[code]
we call `menu_tree_output()` to generate the menu markup like we do in `system_menu_bl

[2022-03-24 21:59] #5397 closed

[2022-03-24 22:05] jenlampton commented on #4903
Backdrop the product intentionally has a very different brand than the backdropcms.org website.

Backdrop the product needs to work for every possible kind of website. The goal was for it to appear almost brand-less -- similar to boostrap -- so that everyone could see it working for their own goals and audience.  Whereas, backdropcms.org has a specific goal and target audience.

Using branding fro

[2022-03-24 22:08] irinaz commented on #4903
Got it, thanks!

[2022-03-24 22:08] BWPanda commented on #5397
Thanks @AnjaliJha1221 for the PR! I've merged it into 1.x and 1.21.x.

[2022-03-24 22:30] bugfolder commented on #5559
That removes the problematic menu item, but it wipes out the breadcrumb trail for the standalone diff page:

as `MENU_LOCAL_TASK`:

![menu_local_task](https://user-images.githubusercontent.com/29214084/160020519-5866d56e-3db8-4d32-b19d-cb9af6a9757b.jpg)

as `MENU_CALLBACK`:

![menu_callback](https://user-images.githubusercontent.com/29214084/160020542-f7de7b3d-2b89-45b7-9fb6-145552b66bf0.jpg)

May

[2022-03-24 23:48] jenlampton commented on #4549
I've tested the sandbox and this is a great improvement. Code looks great too, RTBC  from me!

[2022-03-25 00:33] jenlampton commented on #5511
I think this looks really great!  I've given it a test and I think it's a great improvement :)

I left a few text change suggestions on the PR, mostly in an attempt to shorten the text and simplify the language a bit.

There is a lot of repeated text across all the various messages. I was thinking we might be able to create fewer strings to translate if we could separate the different parts of eac

[2022-03-25 01:50] BWPanda commented on #726
After listening to the Design/UX meeting discussion about this issue, I agree with @jenlampton's suggestion for just fixing the styling of sub-links in this issue, then open another issue for discussing the display of hierarchical menus in general.

I didn't realise there were two separate issues going on here.

So here's what it currently looks like when on a page that has sub-links:

![image](ht

[2022-03-25 02:18] stpaultim commented on #726
@BWPanda - Thanks. Feel free to submit your own PR. Otherwise, I think we'll revisit this issue at our next office UTC5 office hours. We can at least make a little progress on this and your screenshots help.

[2022-03-25 02:23] klonos commented on #4549
Amazing work @BWPanda at resolving this long-standing issue 👏🏼 🙏🏼 🎉

[2022-03-25 02:27] klonos commented on #4549
...one thing that we should fix is this case where the "flipped" child menu overlaps with the grant-parent men:

<img width="977" alt="image" src="https://user-images.githubusercontent.com/2423362/160042483-e2488a04-3701-4e64-a742-6224a708f894.png">

Since this is a huge improvement over the current problematic UX, this can be a follow-up issue.

[2022-03-25 03:12] BWPanda commented on #4549
@klonos Yep, that's a problem. I'm not sure what the fix would be though...

But yes, let's fix 95% of issues by merging this PR, then open a new issue to fix the remaining bugs like that one.

[2022-03-25 03:47] klonos opened #5566 "Views: Offer an option for the pager to start counting from 1 instead of 0"
This was brought up in our forum: https://forum.backdropcms.org/forum/how-fix-inconsistent-page-numbers#comment-form

"Chronic" Drupal/Backdrop users have explained that this is how things work, and that it's because the counter is zero-based, but this seems to be another "Drupalism" (and now "Bakdropism"). As the user went on to say:

Perhaps we could introduce an option in views that would allow

[2022-03-25 04:58] BWPanda commented on #4540
Here's a PR: https://github.com/backdrop/backdrop/pull/4020

I didn't include @olafgrabienski's suggestion as I want to get feedback on this way of doing it first.

[2022-03-25 05:00] stpaultim commented on #5427
@docwilmot - Just to be clear, one would need to write a custom module to test this, right?

To get a milestone, it either needs an advocate or be RTBC. You can list yourself as the advocate.

[2022-03-25 06:58] AnjaliJha1221 commented on #5397
Thanks for the help @stpaultim, and @BWPanda

[2022-03-25 07:03] indigoxela commented on #5566
Can we do this in core, though? Drupalism or not, changing the numbers would break existing links.

[2022-03-25 07:13] AnjaliJha1221 commented on #3959
Can I work on this @stpaultim?

[2022-03-25 09:00] yorkshire-pudding commented on #4903
@stpaultim - Is there any specific feedback you need?  I think this looks a great addition.
One thought, might be demand for people with existing sites to be able to add this content type - could that be a recipe?

[2022-03-25 09:05] yorkshire-pudding commented on #726
@BWPanda - your third option definitely looks right.

[2022-03-25 09:07] yorkshire-pudding commented on #5077
@bugfolder - is there any other feedback you need? Other than my [comment above](https://github.com/backdrop/backdrop-issues/issues/5077#issuecomment-1038917947) I think it is great.

[2022-03-25 09:51] olafgrabienski commented on #2626
That's great news, thank you very much!

[2022-03-25 11:16] BWPanda commented on #4885
Here's a very simple PR: https://github.com/backdrop/backdrop/pull/4022

It seems that only the Seven theme shows links in a different order than the Admin bar; other themes are fine. This is because Seven overrides the theme function for displaying admin block content, and does its own sorting there. This is a result of: https://github.com/backdrop/backdrop-issues/issues/2828 I'm not sure if we s

[2022-03-25 11:47] indigoxela commented on #5559
Oh, I see.

The current workaround is an improvement, but... the menu item is still there, which doesn't seem right.

If the page always needs an argument, shouldn't we be able to fix it with `'page arguments' => array(6),` and a placeholder in hook_menu?
I didn't try that yet, but I feel like there must be a more elegant solution.

[2022-03-25 12:08] indigoxela commented on #5559
That seems to do the trick:

[code]
The pointless menu item is gone, the dialog works, and the standalone page has the right breadcrumb.

@bugfolder want to give it a try and do some additional testing? Personally, I'm not using config sync often, so I might have missed something.

[2022-03-25 13:47] bugfolder commented on #5077
@yorkshire-pudding, I don't think more feedback is needed; just testing (hopefully ending in a "WFM" and removal of the "needs testing" label) and code review (hopefully ending in removal of the "needs code review" label and addition of the "RTBC" label).

[2022-03-25 15:06] indigoxela commented on #4645
@BWPanda I thought it over a bit - if you remove that `elseif (strpos($timezone, 'Europe') === 0) {...` it would "work for me".

A format like `d.m.Y - g:ia` isn't used anywhere in Europe (AFAIK), so adding it doesn't seem to make much sense.

[2022-03-25 15:50] bugfolder commented on #5077
@yorkshire-pudding, to address your comment above:

Yeah, that's kind of vague. But the answer, I think, would also still be vague, even if more detailed:

Doesn't seem to me like that extra bit of information "pulls its weight" relative to the amount of space it adds to the page (particularly considering that the same information is given in the "How layouts work" details section at the top of th

[2022-03-25 17:50] quicksketch commented on #5537
I merged https://github.com/backdrop/backdrop/pull/4008 by @herbdool into 1.x and 1.21.x. This solves the immediate problem with the mailsystem config not being overrideable. Thanks @herbdool, @eric2pin, @kswan, and @indigoxela for helping sort this out!

I am leaving this issue open because we still have the broader question of how to handle `config_get()` calls that load an entire file.

(@kswan

[2022-03-25 19:23] herbdool commented on #5537
@eric2pin I've created a PR for mailsystem as well: https://github.com/backdrop-contrib/mailsystem/issues/23

[2022-03-25 19:31] irinaz commented on #726
@BWPanda , third option looks correctly, thank you!
@stpaultim , to our conversation in UX meeting -  admin menu module provides standard design/UX for hierarchal menus

<img width="502" alt="Hierarchical-menu" src="https://user-images.githubusercontent.com/2497005/160188767-aa16e63e-b455-4736-ae67-da82a6da3c82.png">

[2022-03-25 20:31] jenlampton commented on #4885
The current PR just un-does the progress made in the other issue.

This was from the other issue:

[2022-03-25 20:46] stpaultim commented on #5509
@RakeshPotnuru - This is look pretty good. At first glance, it seemed like quite a bit of CSS for a small change, but it seems that most of the items are necessary. But, I'm not sure if the `width: 0; and height:0;` are doing anything.

[2022-03-25 21:00] stpaultim commented on #4903
@yorkshire-pudding - I think the main feedback we are looking for is some additional folks that say "This looks good, it's ready." After this much discussion with so many people involved, we need more than 1-2 people to sign-off on it.

I think this qualifies.

Since that last round of changes, the following folks have give affirmative signals and no one has objected, despite repeated requests for

[2022-03-25 21:10] stpaultim commented on #5566
Good question.

My quick read is that there must be backwards compatible ways of fixing this.

1) I think @klonos suggests an option in views  that would fix this. If a site editor has to enable the fix, then it would be backward compatible.
2) If the problem we are trying to fix is the wrong information showing up in the path. That just seems like a bug and fixing it for existing sites would not

[2022-03-25 21:21] BWPanda commented on #4885
Depends on your definition of 'consistent'...

You can either make the page links alphabetical, in which case they're consistent with other page links, but inconsistent with the same links in the admin bar; or you can make the page links match the order of the admin bar links (for consistency) and then all page links are also consistent with each other (they're all ordered according to the admin b

[2022-03-26 05:58] RakeshPotnuru commented on #5509
I hope I placed CSS in right place.

[2022-03-26 07:35] BWPanda commented on #1552
Question has been answered, closing.

[2022-03-26 07:35] #1552 closed

[2022-03-26 08:56] indigoxela commented on #5559
I think so, yes. Works for me! (But I'm now too involved to do the review.)

[2022-03-26 20:01] BWPanda commented on #2179
There seem to be quite a few of these, e.g.:
- `BackdropErrorHandlerUnitTest`
- `ImageDimensionsUnitTest`
- `ImageStylesPathAndUrlUnitTest`
- `MenuLinksUnitTestCase`
- etc.

There's ~15 test classes with 'Unit' in the name that extend the Web class...

[2022-03-26 20:04] BWPanda commented on #2179
Pinging the test masters: @quicksketch & @hosef

[2022-03-26 20:09] BWPanda commented on #2384
If we did, looks like we'd need to update `[system_list](https://docs.backdropcms.org/api/backdrop/core%21includes%21module.inc/function/system_list/1)`. But I'm wondering, are layouts stored in the DB at all...?

[2022-03-26 21:55] BWPanda commented on #4645
@indigoxela European formats fixed (PR updated). How's this?

[code]

[2022-03-26 23:10] BWPanda commented on #2309
Is this still an issue @klonos?

[2022-03-26 23:13] BWPanda commented on #2547
Since this question has been answered and there's been no followup, I'll close this issue.

[2022-03-26 23:13] #2547 closed

[2022-03-26 23:31] BWPanda commented on #291
I believe this is what @JayaJayanth is referring to:

![Screenshot_20220327-102027_Firefox](https://user-images.githubusercontent.com/2385329/160260357-23d8be79-b247-4c70-bddc-1a4c21f98e92.png)

This page is shown between adding a new text field, and the regular field settings form being displayed for the new field.

This page seems to be the Field Settings page (i.e. `/admin/structure/types/manag

[2022-03-26 23:36] BWPanda commented on #220
Tempted to close this due to age and lack of further details/support... Can we close or are their reasons to keep this open?

[2022-03-27 00:50] stpaultim commented on #220
@BWPanda - Thanks for drawing attention to this issue. I see the case for closing it - vague details and no activity for 8 years.

I'm going to make a case for keeping it open and/or seeking some way to either revive it OR come up with some way to put it on a "wish list" that needs more thought.

My case for keeping it open is this. I NEVER use the existing search feature, despite the fact that I

[2022-03-27 02:27] BWPanda commented on #291
Here's a PR: https://github.com/backdrop/backdrop/pull/4023

It simply skips adding the 'field settings' form as a destination when adding a new field.

[2022-03-27 03:08] klonos commented on #5537
...sorry for (re)adding/(re)removing the issue labels - as I was reading the thread, it seemed to me that they were missing, but then realized what's going on when I finally reached the end of the thread.

BTW, we have #4331 re indicating in the admin UI which settings in forms have been overridden via settings.php. There's no easy/elegant solution to it currently.

[2022-03-27 06:03] BWPanda commented on #220
We can already turn on and off the search bar and the admin menu. So if someone wanted just search, they could turn off the admin menu, and those who prefer the menu instead can turn off the search bar. All that's needed is to move the search bar to the left side...

[2022-03-27 07:00] BWPanda commented on #1012
We still want people to be able to edit admin views (add extra fields, etc.), but I don't see much difference between disabling a view, or editing it to remove the menu item, etc... Where do we draw the line?

[2022-03-27 07:02] BWPanda commented on #1026
I don't see a question here, so assume this was just sharing of information. Will close this now.

[2022-03-27 07:02] #1026 closed

[2022-03-27 07:10] BWPanda commented on #561
I think all these suggestions have been implemented now, so closing.

[2022-03-27 07:10] #561 closed

[2022-03-27 07:17] BWPanda commented on #1237
Guessing this has been fixed now. Question has been answered in any case.

[2022-03-27 07:17] #1237 closed

[2022-03-27 07:18] BWPanda commented on #1303
No followup, so assume the question was sufficiently answered.

[2022-03-27 07:18] #1303 closed

[2022-03-27 07:23] BWPanda commented on #1150
Are we really likely to change the name of this menu item/page at this point? I doubt it, so propose closing this as a "won't fix".

[2022-03-27 07:24] BWPanda commented on #1364
@jenlampton How do you feel about this suggestion now? Still worth pursuing?

[2022-03-27 09:01] indigoxela commented on #2384
No, only caching, which isn't relevant here. Layouts are config.

What would be the benefit of adding layouts to system_get_info?

[2022-03-27 09:31] indigoxela commented on #4645
With a pinch of humor: wouldn't you have to "fix European formats" [elsewhere](https://icu4c-demos.unicode.org/icu-bin/locexp)? :smile:

I'll try to give a quick and incomplete overview of commonly used formats:

<details>
<summary>Short datetime formats in several countries</summary>
<pre>
bg
Pattern s: j.m.y \г., G:i
Example s: 27.03.22 г., 14:20

hr
Pattern s: d. m. Y. H:i
Example s: 27. 03. 20

[2022-03-27 09:48] BWPanda commented on #4645
Ok, point taken. I've removed the European customisations.

[2022-03-27 09:53] BWPanda commented on #220
Ooh, just discovered that the menu search bar doesn't work if you disable the management menu! Interesting. That makes this issue a lot harder to solve then I think, since you can't make search the sole way of navigating the admin pages, as you'll still need the menu there anyway... At least not without substantial changes to how it all works.

[2022-03-27 10:03] ghost opened #5567 "Fixed: Admin bar's 'search' component doesn't work if 'menu' component is disabled."
## Description of the bug

If you disable the 'Management menu' component of the Admin Bar, the 'Search bar' component no longer works. This was discovered in https://github.com/backdrop/backdrop-issues/issues/220

![image](https://user-images.githubusercontent.com/2385329/160276237-89a45f7c-047b-4e81-b1f4-a71f637f4244.png)

## Steps To Reproduce

To reproduce the behavior:
1. Go to `/admin/config

[2022-03-27 10:04] BWPanda commented on #5567
Oh, and here's a screencast of the issue:

![Peek 2022-03-27 20-57](https://user-images.githubusercontent.com/2385329/160276474-36d30c45-e929-4820-9b7c-99a60c710b84.gif)

[2022-03-27 10:19] BWPanda commented on #5567
Here's a PR that fixes that: https://github.com/backdrop/backdrop/pull/4024 Basically makes it so that you can't have the search bar enabled without the menu also being enabled.

![Peek 2022-03-27 21-18](https://user-images.githubusercontent.com/2385329/160276936-f35d927f-1de4-4691-9787-09094b11622f.gif)

[2022-03-27 14:14] meghagangadhar13 commented on #5373
I would like to work on this under Openforce 2022

[2022-03-27 14:17] meghagangadhar13 commented on #3704
I would like to work on this issue under Openforce 22

[2022-03-27 18:26] jenlampton commented on #220
We shouldn't ever close an issue if the solution hasn't been implemented, unless we're positive that a solution will never be implemented in core. There's no downside to having lots of open issues, but closing issues without a solution in place will be a frustrating and disheartening experience for everyone involved in the original issue. It will also make the issue harder to find for everyone sea

[2022-03-27 18:32] jenlampton commented on #1364
I'm not a fan of using a constant. As a developer, I might search for a helper function but I wouldn't think to find a translatable sting in a function.

I'd prefer something like...

[code]

[2022-03-27 18:35] jenlampton commented on #1150
Yep! we change the name of menu items all the time. And we change their paths, thanks to `backdrop_goto_deprecated()`. These often lead to major UX wins most of the time :)

[2022-03-27 18:59] stpaultim commented on #5373
@meghagangadhar13 - Welcome. Please go ahead and let us know if you have any questions. Have you seen this blog post:
https://backdropcms.org/news/openforce-2022-getting-started or the update https://backdropcms.org/news/openforce-2022-update

[2022-03-27 19:01] stpaultim commented on #3704
@meghagangadhar13 - Thanks for your participation. Let us know if you have any questions?

[2022-03-27 19:01] jenlampton commented on #4583
I really dislike that the destination of files uploaded via the editor is configured on the text format pages. I'd prefer that those be moved somewhere else (and a link added in the text format section).  I still think that Configuration > Media is the right place for those.

Then, if any other module (like IMCE) wants to define where other files can go, they could form-alter that form to add thei

[2022-03-27 19:33] bugfolder commented on #1364
Maybe since it's a specialization of `backdrop_set_message()`, we could keep the same verb in the function name?

[code]

or

[code]

The latter would have the advantage of showing up next to `backdrop_set_message()` in the autocomplete field, making it a wee bit easier for developers to discover its existence.

[2022-03-27 19:40] BWPanda commented on #220
I'm sure if people involved in the original issue were in any way still interested in it, they'd have replied, commented, asked about progress, etc. at least once in the **7 years since** the last comment here. 7 years is a looong time to have no updates/interest in an issue... And if we closed it and then there was renewed interest in the idea, but the closed issue was never found, at worse a new

[2022-03-27 20:16] aniketh-varma commented on #1322
Hi, I would like to work on this issue. It would be really helpful if you can please tell me which file has to be referred for this. Thanks!

[2022-03-27 20:20] argiepiano commented on #1322
Thanks, @aniketh-varma. This is in `views_plugin_display.inc`. I hope this helps.

[2022-03-27 20:51] stpaultim commented on #1322
We have a PR for review. Thanks @aniketh-varma

[2022-03-27 20:56] stpaultim commented on #1322
Looks good to me. Thanks @aniketh-varma.

Does anyone want to add this to bugfix milestone.

[2022-03-28 05:29] stpaultim commented on #5509
@RakeshPotnuru - In fact, I don't think that the new CSS is in the right place. Sorry for not noticing this earlier. You have added it to the Layout module in Backdrop core, which would make sense if this were only for the layout page: /admin/structure/layouts

However, I believe that the request for this issue was to make "Details Summaries" in general consistent with fieldset legends. For this i

[2022-03-28 06:27] indigoxela commented on #5373
@meghagangadhar13 a word of warning, though: this isn't actually a "good first issue".

[2022-03-28 07:25] olafgrabienski commented on #5567
Thanks for the PR, works like a charm in the sandbox!

I'd suggest to make the relation between menu and search box on the configuration page even more clear:

- Rename "Search bar" on the config page to "Menu search" (like the placeholder text of the search box).
- Group the related settings somehow visually. See an example as mockup in the screenshot below.

**Mockup:**

![backdrop-pr4024-admin-

[2022-03-28 07:48] BWPanda commented on #5567
I see where you're coming from @olafgrabienski, but I disagree with your suggestions. The components are already being renamed as part of https://github.com/backdrop/backdrop-issues/issues/5284, and I don't think putting one checkbox horizontally next to another 'groups' them, especially when we have multiple other places in core where dependent fields are displayed below their 'parent'.

[2022-03-28 08:29] olafgrabienski commented on #5567
Oh, I wasn't aware of that issue. Even better!

I see! In my opinion, some way of visual grouping could still be useful here, but I don't know if we already have a suitable pattern for cases like this one, and I'm perfectly fine not doing that here.

[2022-03-28 10:15] BWPanda commented on #2370
I tried making a PR for this, but it wasn't working for me... Based on what I found here (https://www.smartmenus.org/docs/#collapsibleBehavior) it seems that we'd just need to set `collapsibleBehavior` to `link`, but I couldn't work out where to do this.

[2022-03-28 10:49] BWPanda commented on #5567
I agree, but not sure how best to do this. Only thing I can think of is indenting it slightly, but even that doesn't look like anything else we have in core...

![image](https://user-images.githubusercontent.com/2385329/160382463-1c343dd3-baec-40c0-a1ea-ccf6a26b56da.png)

[2022-03-28 12:20] olafgrabienski commented on #5567
Yep, so don't let us handle the grouping issue here. We can always open a separate issue for it.

[2022-03-28 12:53] aniketh-varma commented on #3959
Hi, I would like to work on this issue under OpenForce 2022.

[2022-03-29 00:22] BWPanda commented on #2431
This looks like a bug, since Backdrop doesn't have regions like Drupal did...

[2022-03-29 00:27] BWPanda commented on #3347
Sounds more like a feature request then...

[2022-03-29 00:30] BWPanda commented on #2425
I believe the FAPI documentation has been updated with these things since then. @klonos is this still an issue, or have recent updates answered this now?

[2022-03-29 01:01] BWPanda commented on #3518
The only reason I can think of is that https://docs.backdropcms.org/api/backdrop/core%21modules%21search%21search.admin.inc/function/search_admin_settings/1 invokes that hook halfway through the form, so perhaps the remainder of the form isn't meant to be altered...? But then I guess you can't really control that anyway.

[2022-03-29 01:05] BWPanda commented on #3705
I believe this question has been answered now.

[2022-03-29 01:05] #3705 closed

[2022-03-29 08:01] BWPanda commented on #3860
Hmmm, good question!

[2022-03-29 08:04] yorkshire-pudding commented on #3860
I don't know about performance, but I think this would make it better when deploying changes.

[2022-03-29 09:37] BWPanda commented on #3860
@indigoxela Unless I'm misunderstanding, I think the only thing under discussion here is moving the list of enabled/disabled modules from the `system` table to a config file... I don't believe any of the install schemas, update hooks, etc. should/would change.

[2022-03-29 09:46] indigoxela commented on #3860
Exactly. And when it's in config, it gets moved along with other config exports/imports.

Maybe you misunderstood my concern. It's not that the schema/update hooks change, but the imported config does not reflect the actual state of the current instance, but the state of another instance. Does that explain it better?

But maybe the other way round: what's the benefit of doing it "drupal8ish"? Is t

[2022-03-29 10:08] BWPanda commented on #3860
Yes, I was wondering the same...

Also, what happens in a scenario where you have a dev site with, say, Antobot installed. Then you export config and push it up to production. Now Antibot is 'installed' in production, but the module doesn't actually exist in the codebase (i.e. it was never downloaded). Then what happens? Sure, we have a Project Installer module, so we could technically trigger tha

[2022-03-29 11:51] yorkshire-pudding commented on #3860
I can imagine these applying whether the module enabled state is in the database or in config, but I imagine that code+config is more likely to be deployed between environments than database.

[2022-03-29 12:12] BWPanda commented on #2785
I've updated the PR that adds Stylelint rules to core (removing the deprecated stylistic ones): https://github.com/backdrop/backdrop/pull/3516
And the PR that applies these CSS standards to core and fixes a bunch of stuff: https://github.com/backdrop/backdrop/pull/4026

[2022-03-29 12:34] keiserjb commented on #3860
From the experience I've had Drupal sites break often when moving config from dev to live when modules are missing.  I then end up installing modules on live that I never intended to have there to get the site working.  I don't think I would vote for changing this in Backdrop.

[2022-03-29 16:40] BWPanda commented on #2437
I'm gonna call this question sufficiently answered.

[2022-03-29 16:40] #2437 closed

[2022-03-29 22:33] kswan commented on #4487
I am finding multiple weird issues related to the "View the administration theme" permission. I just enabled it for all Authenticated users which I expect to resolve my problems, but this permission doesn't work now so I think removing it is the best solution.

[2022-03-29 23:28] BWPanda opened #5568 "Add code formatting automation"
## Description of the need

It'd be nice to add an automation (GitHub Action) that formats code nicely for us in PRs. This'd not only make sure code is easy-to-read and consistent, but would prevent the back-and-forth, nit-picky reviews where we ask contributors to add some whitespace here, fix this comment to not overflow 80 characters, etc.

## Proposed solution

As discussed in https://github.c

[2022-03-30 02:43] BWPanda commented on #5568
[Prettier](https://prettier.io/) is one option, however it's *opinionated*, meaning it has its own set of rules by which your code will be formatted and you can't really change them.

Initially this struck me as a bad idea. I mean, we have a set of [coding standards](https://docs.backdropcms.org/documentation/coding-and-documentation-standards) that we've developed (inherited), so we'd need an aut

[2022-03-30 03:11] BWPanda commented on #2590
Since this is 'cannot reproduce', I've closed my PR and unassigned myself. I'd love to close this issue as well, but will let someone else do that.

[2022-03-30 03:15] BWPanda commented on #3274
So lots of feedback here, but anyone actually want to test/review? Or if you have already, tag it as such?

[2022-03-30 04:22] BWPanda commented on #206
I've updated the PR with suggested changes. Tests are still failing, and it's weird that PHP 8 works fine, but PHP 7 & 5 don't... Could use some help with debugging that please.

[2022-03-30 05:57] stpaultim commented on #3056
We are working on this issue during office hours tonight.

The basic goal of this issue (as I understand it) is to add a permission here that says:

`clear site logs`

![image](https://user-images.githubusercontent.com/3144571/160761080-6cd5d85f-104d-41c8-b307-7a1126e20088.png)

Users without this permission will not be able to access this option:

![image](https://user-images.githubusercontent.co

[2022-03-30 06:07] stpaultim commented on #3056
To find the place where this button is generated, I just searched for the string "This action will permanently delete the log messages" and found it at:

/core/modules/dblog/dblog.admin.inc line 421

So, we just need to create a new permission and require that permission before creating this button.

[2022-03-30 06:09] indigoxela commented on #5568
This suggestion seems to go a step further than https://github.com/backdrop/backdrop-issues/issues/5245 (where we tried to add a GHA to automatically comment on (but not fix) coding standard violations.

[2022-03-30 06:22] indigoxela commented on #206
It does not. Tests fail even harder when starting the profile cache with "Preparing database and configuration cache for profiles
TypeError: array_merge(): Argument #1 must be of type array, null given".

[2022-03-30 06:59] sudipto68 commented on #4249
We submitted a new pull request based on the feedback of @BWPanda.
Please provide your valuable feedback.

[2022-03-30 06:59] BWPanda commented on #5568
@indigoxela Yep. Coding standards (that affect bugs, functionality, tests, etc.) are different than stylistic changes. These can (and should, IMO) be fixed automatically. Who wants to see tests fail, and have to manually update their PR, because of a missing space, etc.?

[2022-03-30 07:02] BWPanda commented on #206
Then I'm confused...

![IMG_20220330_180120](https://user-images.githubusercontent.com/2385329/160771206-bb9972b5-4145-4b76-97a2-ba7b137d059d.jpg)

[2022-03-30 07:15] stpaultim commented on #726
@bdalomgir provided a PR that makes sense to me, but I'm still not certain it's what other people expect. He has indented 2nd level menu items as opposed to breaking them out by themselves as in the admin menu.

I think this might be sufficient for this task, feedback wanted.

![image](https://user-images.githubusercontent.com/3144571/160773336-a692278f-d974-4a1b-93be-148fc2d35293.png)

[2022-03-30 07:26] indigoxela commented on #206
That's understood, it's an edge case: Simpletests didn't even start to run. You see that when you expand the section.

![simpletest-not-running](https://user-images.githubusercontent.com/842066/160775110-83a7adfb-ade4-40e6-9e2d-942c2483e6b7.png)

There must be a severe regression somewhere, but at least Backdrop still seems to installs.

[2022-03-30 07:37] stpaultim commented on #726
While we have been putting work into this issue, we do still have the problem of how to make changes like this without breaking existing sites. This problem might be obscure enough and broken enough, that fixing it is relatively safe. But, can we be sure that we are not breaking existing sites?

https://github.com/backdrop/backdrop-issues/issues/4167

[2022-03-30 07:42] stpaultim commented on #4167
I'm making this a feature request, so that I can vote on it in our feature survey.

My colleagues and I were just working on a CSS issue for Bartik, but I'm really not sure that we can safely merge it, given this concern. There are quite a few outstanding CSS issues that I am avoiding until this is resolved.

Just a reminder, that we have several viable solutions to solving this problem. What we l

[2022-03-30 07:43] BWPanda commented on #206
Ah, thanks!

[2022-03-30 07:47] indigoxela commented on #726
I think this is a slight improvement, but TBH it still looks broken. This is (yet another) topic where we should avoid possible side-effects on existing installs (which in the end prevents lots of improvements).

Personally, I never use Bartik. Not even with D7, and I'd never consider using it with Backdrop (after upgrading). It looks so ancient. So maybe in this special case we should really cons

[2022-03-30 07:49] BWPanda commented on #1712
Do you still need help with this @bd0bd?

[2022-03-30 07:51] BWPanda commented on #4102
AFAIK, yes.

[2022-03-30 07:56] BWPanda commented on #1740
I don't recall seeing this lately... Is this still an issue @klonos ?

[2022-03-30 07:58] yorkshire-pudding commented on #726
@stpaultim - I changed the menu setting to dropdown (from hierarchical tree) and it works as you would expect.
![chrome_pS0RmMmNms](https://user-images.githubusercontent.com/20357797/160781430-2190e803-5ee4-4734-9a27-7691c1fb07f1.gif)

[2022-03-30 07:59] yorkshire-pudding commented on #726
So a significant improvement

[2022-03-30 08:02] RakeshPotnuru commented on #726
Just leaving a suggestion. Add a hover effect.

[2022-03-30 09:34] BWPanda commented on #2645
Due to lack of further information, I'm closing this issue.

[2022-03-30 09:34] #2645 closed

[2022-03-30 09:37] BWPanda commented on #1693
No further info, closing.

[2022-03-30 09:37] #1693 closed

[2022-03-30 09:42] BWPanda commented on #4190
Can we close this now?

[2022-03-30 09:43] BWPanda commented on #2779
Closing due to lack of further info.

[2022-03-30 09:43] #2779 closed

[2022-03-30 09:52] stpaultim commented on #726
@yorkshire-pudding - This was only intended to effect menus using the Hierarchical tree. To my knowledge the dropdown menu worked fine from the start.

This is a good point and I should probably have been clear - this was discussed at the last design/UX meeting and no one had any idea what this SHOULD look like or if it would be possible to make that kind of change. The thought was that we should

[2022-03-30 09:56] yorkshire-pudding commented on #726
@stpaultim - good point
I can't think why anyone would use hierarchical tree menus in that location

[2022-03-30 13:37] argiepiano commented on #3056
I'd suggest you do this permission check when the form is built in line 90 of that file. If the user/person doesn't have permission, don't build the form.

[2022-03-30 13:48] bugfolder commented on #5568
I love the idea that the nit-picky things like extra spacing or off-by-one indents would be automatically fixed without me having to go back and edit code and do a re-run of tests. But I'd also like to know what I missed, for future reference. Would the GHA issue a report of what it did? Or (even better) make its changes via a commit to the source of the PR, or something like that?

[2022-03-30 13:49] kswan opened #5569 "Files don't upload if a content type has more than one file field"
## Description of the bug

Files don't upload if a content type has more than one file field.

## Steps To Reproduce

To reproduce the behavior:
1. Open a clean install of backdropcms or create a sandbox
2. Add a file field (File1) to the Page content type (leave all default settings)
3. Add a file field (File2) to the Page content type (leave all default settings)
4. Create a new page content.
5.

[2022-03-30 15:05] irinaz commented on #726
This looks perfect.

[2022-03-30 18:09] wilburec commented on #3860
This trips me up when using backdrop almost every time I 'push' changes from local to prod.  You can capture everything else in code, but not the module list.  That has to be done manually.

[2022-03-30 19:31] wesruv commented on #4903
Heya, I was asked to take a look at the cards, I don't have enough time or brain space to parse the whole thread unfortunately.

I love the layout, and the addition of cards! I've been mentoring someone using Backdrop and I've been loving a lot of the new features and UI's :D

A few pieces of feedback on what I'm seeing here:
![New-Home-Backdrop](https://user-images.githubusercontent.com/5607236/1

[2022-03-30 19:47] wesruv commented on #4903
I forgot, on the icons:

I dig the first two.

Maybe the playing cards might be improved by the two outside cards being solid instead of outline?

If we can modify them, I think the house one is a bit "visually busy". I think removing a few 'areas of interest' would improve it, e.g.:
Get rid tight negative space spots, the squares, the line for the roof, and maaaybe the door?
![image](https://user

[2022-03-30 21:44] jenlampton commented on #4903
@wesruv the "card headers" are actually images, so they should be fairly easy for someone to customize, simply by deleting the image we provided, and uploading an image of their own.

That said, I am also nervous about using three new out-of-palette colors. It's unlikely that these 3 colors will work with all the color palettes for the Basis theme, and that could create a less-than-positive first

[2022-03-30 22:38] wesruv commented on #4903
Well that's a horse of a different color, could mess with the composition of the image to get some interest to the page?

![image](https://user-images.githubusercontent.com/5607236/160942482-88873921-020c-4f58-8034-abc8cfb71d51.png)

[2022-03-30 22:57] klonos commented on #4190
I think yes 👍🏼

[2022-03-30 22:57] #4190 closed

[2022-03-30 23:29] klonos commented on #5563
Life/work is crazy ATM, but taking the time to quickly go through some issues in the core queue, and this one caught my eye. Just wanted to quickly mention that Drupal now supports a `lifecycle` entry in .info.yml files (change record: [Info files can now contain 'lifecycle' and 'lifecycle_link' keys to convey the stability of a module/theme](https://www.drupal.org/node/3215042)). It seems that so

[2022-03-31 00:30] kswan commented on #5569
@indigoxela, yes, the file is uploaded when the node is saved. My problem is that I have multiple files per field that need to be uploaded so the only way is to use the preview multiple times or multiple saves.

I was looking at #4284 as well. I agree that it looks like the same issue.

[2022-03-31 00:33] klonos commented on #3269
I would like to reopen this and make it a feature request. I would like us to add another filter (most likely in `filter_filter_info()`), which can be enabled/disabled, and where people can either allow all empty HTML tags, or specify which HTML tags may be left empty and/or specific CSS classes that allow their HTML elements to be empty.

[2022-03-31 01:51] kswan commented on #5569
I was looking at core/modules/file/js/file.js and noticed this at line 135:
    // Temporarily disable upload fields other than the one we're currently
    // working with. Filter out fields that are already disabled so that they
    // do not get enabled when we re-enable these fields at the end of behavior
    // processing. Re-enable in a setTimeout set to a relatively short amount
    // of ti

[2022-03-31 02:11] BWPanda commented on #4482
Oops, this string is already being updated/fixed in https://github.com/backdrop/backdrop-issues/issues/4249. Closing this issue as a duplicate then.

[2022-03-31 02:11] #4482 closed

[2022-03-31 02:12] BWPanda commented on #4249
Ha, this other duplicate issue was also wanting to update some of this text: https://github.com/backdrop/backdrop-issues/issues/4482 I've closed that one, so we'll work on everything here.

[2022-03-31 02:36] BWPanda commented on #4249
I've made a suggestion in the PR for how to simplify a chunk of code.

[2022-03-31 03:47] stpaultim commented on #4903
@wesruv - Could we use a darker blue in the images. They feel a bit washed out to me.

[2022-03-31 04:32] #4549 closed

[2022-03-31 04:37] laryn commented on #4549
Thanks @BWPanda for filing and fixing this UX issue! Also thanks to @jenlampton, @klonos, @yorkshire-pudding, and @quicksketch for the testing, code review, and feedback.
Merged into `1.x` and `1.21.x`.

[2022-03-31 05:19] #2626 closed

[2022-03-31 05:26] laryn commented on #2626
Wow, I filed this almost exactly 5 years ago and that was a lot of comments, PRs, feedback and review. Great job, team! Thanks for the PRs so we could thoroughly test and review two different approaches, @BWPanda and @bugfolder. (As noted, the contextual link approach is still available for those who prefer it with a [contrib module](https://github.com/backdrop-contrib/layout_contextual_links) and

[2022-03-31 05:32] wesruv commented on #4903
In case it needs to be said: do what you think is right with the theme, I'm ridiculously out of there loop.

Could be time to try a theme with a different approach, or moving away from the original intentions of Basis, or we nailed it so hard why would we ever change directions.

Beats me :P

[2022-03-31 06:53] laryn commented on #5060
@indigoxela See if the latest changes in the PR get at what you mean.

[2022-03-31 07:21] olafgrabienski commented on #4903
@stpaultim FYI, the reasons to use icons for the PR: https://github.com/backdrop/backdrop-issues/issues/4903#issuecomment-1042765044

[2022-03-31 07:40] indigoxela commented on #5060
Yes, works like a charm now. If I recall correctly, we decided to let the "always hidden language field display" thing be a follow-up. I don't think, we created that yet, is that correct?

[2022-03-31 07:55] indigoxela commented on #5569
I'm pretty sure this is the same bug as in #4284, but I hesitate to close this one as duplicate, because it's about a different field type.

@kswan what do you think?

Yes, it's a Javascript bug, which means, we probably have nobody here to fix it.

[2022-03-31 12:35] indigoxela commented on #4284
Some more head scratching...

https://github.com/backdrop/backdrop/blob/c7b3b150369d47df2f786f6cf8da35052c7d3af2/core/modules/file/js/file.js#L23-L26

If I comment out the line that removes the Backdrop.file.autoUpload handler, things work as expected.

The problem seems to be that this `detach` runs twice - with different contexts.

1. The complete node form (!)
2. The current ajax wrapper

And t

[2022-03-31 13:20] indigoxela commented on #4284
I think, we're very close to a solution - here's a [PR](https://github.com/backdrop/backdrop/pull/4029).

There are still open questions, though. From the docs for that third param to function `detach`:

[code]

In context of the node form and auto-upload - isn't the whole detach pointless here?

1. unload - why removing handlers from something that gets removed anyway?
2. move - why removing hand

[2022-03-31 13:39] indigoxela commented on #4014
Nice, this works for me. Thanks for removing that misleading sentence.

[2022-03-31 15:24] indigoxela commented on #5569
@kswan the [other issue](https://github.com/backdrop/backdrop-issues/issues/4284) does have a PR! Mind to give testing a try?

[2022-03-31 16:46] olafgrabienski commented on #4903
In my opinion, for a positive *first* experience it's sufficient that the three colors look good with the *default* color scheme of Basis.

Agreed. If it helps, I'd also be fine with only one color, e.g. a darker blue, or the slate.

Re adapting the icons itself, I'm not sure. Some good ideas, but I think it's worth an own (follow-up) issue (to not derail this one).

[2022-03-31 17:05] kswan commented on #4284
@indigoxela I tested your PR and it is a big improvement. The auto-upload is working.

I should mention that my test case is a bit different from this issue, but I believe the underlying problem is the same. My issue is shown in #5569.

I minor issue I noticed is that the progress bar shows for the first field, but not the others.

Thank you for your work on this.

[2022-03-31 18:09] jenlampton opened #5570 "deprecated function taxonomy_get_term_by_name() does not return any value"
[code]
should be
[code]

[2022-03-31 18:39] jenlampton opened #5571 "Prevent PHP notices when there is no views grouping."
## Description of the bug

In the views module, within the function function `ensure_my_table()`, we are setting the variable $group to FALSE, and then immediately using the $group variable as an array key when we know it will throw PHP notices.

[code]
should be
[code]

## Steps To Reproduce

To reproduce the behavior:
1. Import this view:
2. Visit the page `` in your browser.

## Actual behavior

[2022-03-31 20:46] quicksketch commented on #3269
@klonos Maybe this should be a separate contrib module, or part of https://github.com/backdrop-contrib/font_awesome itself? I don't think empty HTML tags have common usage (outside of Font Awesome).

[2022-03-31 21:14] jenlampton commented on #5568
@bugfolder  I'd like to see it apply a PR to your PR that you then need to review + approve.

[2022-03-31 22:06] jenlampton commented on #5567
Code looks great, RTBC from me -- but let's make a follow-up issue to handle the grouping.

[2022-03-31 22:29] bugfolder opened #5572 "Up-shifted icon in new Page Links admin bar menu for layout info"
@BWPanda, I just rebased my core testing setup to 1.x HEAD follow the merge of https://github.com/backdrop/backdrop-issues/issues/2626, but I'm seeing that the icon for the new Page Links menu is misaligned (shifted upward) in the admin bar:

![From Clipboard](https://user-images.githubusercontent.com/29214084/161159849-9000616f-fe8d-4f03-b6c6-53dbd648dfcd.jpg)

Also, the menu overlaps the admin b

[2022-03-31 22:34] bugfolder commented on #5572
Never mind, cache flush fixed it.

[2022-03-31 22:34] #5572 closed

[2022-03-31 22:39] bugfolder commented on #3269
Also [Bootstrap Icons](https://backdropcms.org/project/bootstrap_icons) and [Bootstrap Lite](https://backdropcms.org/project/bootstrap_lite), both for the same reason. (Bootstrap Lite has FontAwesome built in.)

[2022-03-31 22:51] kswan commented on #4284
@indigoxela I tested removing the detach section from Backdrop.behaviors.fileUploadChange and Backdrop.behaviors.fileButtons. With the detach sections removed, the auto-upload and progress bar worked for all fields.

This is what I tested:
[code]

[2022-03-31 22:54] phershbe commented on #5570
I'm relatively new to contributing to open source, I can change this if you would like. I've already found the correct file in the repository. Let me know!

[2022-04-01 03:13] quicksketch commented on #1301
I did a code review of Entity Reference today, and my opinion is that the module is well situated to be pulled into core with minimal changes. It no longer has any dependencies (like CTools, Entity API, or Entity Plus). It leverages a plugin system similar to Views and Layout modules, with classes that provide grouped collections of functionality.

At this point I think it would be worthwhile to s

[2022-04-01 06:41] indigoxela commented on #5570
@phershbe That's great! Let us know if you need any instructions or help.

[2022-04-01 06:58] indigoxela commented on #4284
@kswan many thanks for testing! It's a bit uncommon to start a fresh PR when there already is one, though. Especially if it's more or less the same approach.

Re your change in Backdrop.behaviors.fileButtons ... I'm sure - this needs further testing and recherche.

[2022-04-01 07:03] indigoxela commented on #4903
I know I repeat myself, but it also shouldn't look bad with contrib themes, so IMO we shouldn't focus on Basis alone.

I'm also fine with only one color. Which one?

[2022-04-01 07:24] indigoxela commented on #4284
I updated my PR to reflect the latest findings. Yes, also in Backdrop.behaviors.fileButtons the detach is useless. For the same reasons like in Backdrop.behaviors.fileUploadChange - it makes no sense to remove handlers, no matter if the trigger is unload, move, or serialize. And especially with serialize it does harm (breaks progressbar).

[2022-04-01 08:10] indigoxela commented on #5571
@jenlampton which one? :grinning: Maybe it's sufficient to provide the minimum steps (how to configure grouping...).

[2022-04-01 08:19] BWPanda commented on #5497
From a coding point of view the PR looks good to me, though I can't test or confirm that it actually works.

[2022-04-01 08:30] BWPanda commented on #4226
It seems that's just how URLs work. See the example at the end of this section of the page: https://url.spec.whatwg.org/#url-representation

The question now is, how do you (or is it even possible to) specify a destination that includes a fragment...?

[2022-04-01 10:55] olafgrabienski commented on #4903
I like the blueish color from the home card of the current PR. It's also a good fit for Basis (important for first experience, and doesn't mean it looks bad with other themes). IIRC, in the comments above the color was called 'slate'. Hex code should be around `#7a9fb4`.

Hm, wait ... I've just changed the card top regions with my browser dev tools to be all this same color, and it doesn't look go

[2022-04-01 13:15] kswan commented on #4284
@indigoxela Excellent. Thank you.
Sorry for the unhelpful PRs.

[2022-04-01 15:38] stpaultim commented on #4903
@olafgrabienski - Your suggested color scheme works for me, I wonder if @wesruv has thoughts or if I scared him off again? ;-)

I think I would mix the order a bit, but I'll defer to your decisions on this. Once you have the input you need, we'll just need new images to move forward.

Does anyone else want to weigh in on this? (@jenlampton)

[2022-04-01 16:06] docwilmot commented on #4903
I think the colors on @olafgrabienski's suggestion are too bold again though. I would prefer choose the three palest colors from the hero block background. Or stick to one color.

[2022-04-01 22:14] olafgrabienski commented on #4903
Thanks for the feedback! I guess, the pale colors are too bright as background of the white icons. I plan however to make realistic screenshots of the various suggestios in the next days, to provide a better foundation for the discussion.

[2022-04-01 22:27] phershbe commented on #5570
@jenlampton @inidgoxela Thank you! It's done now. Sorry about the delay, I'm still learning GitHub and wanted to make sure that I did things correctly.

[2022-04-02 02:00] bugfolder commented on #5560
This looks fine (code reviewed), but one request: would you add `@see hook_schema_0()` to the docblock of `hook_schema()`, so that they're appropriately cross-linked?

[2022-04-02 02:11] bugfolder commented on #5536
Some tests failed under PHP 8.1. Random gremlin, or something real?

Testing-wise, checked and reviewed the permissons for the following:

* Synchronize, import, and export configuration
* Administer fields
* Bypass file access control
* Administer file types
* View private files
* Manage or replace any file
* Delete any file
* Administer text formats and filters
* Administer Layouts
* Administer

[2022-04-02 02:21] argiepiano commented on #5560
Thanks, @bugfolder. Added to the PR

[2022-04-02 02:22] argiepiano commented on #5499
@quicksketch  - any thoughts about my last question regarding moving this auto-enabling functionality earlier in the upgrade process?

[2022-04-02 02:24] bugfolder commented on #5536
Was random gremlin. Closed and reopened PR, now all tests pass.

Code reviewed, looks good. RTBC!

[2022-04-02 03:47] argiepiano commented on #5570
Thanks @phershbe! Code LGMT. Tests have not run since @phershbe is a first-time contributor. I think a one of the @backdrop/core-committers needs to approve the workflow?

@phershbe as a side note: please label your PRs starting with the words "Issue #XXX: [My PR label]" - this makes it easier to find the related issue in the backdrop-issues repository.  Also, in the description of the PR, use the

[2022-04-02 04:04] herbdool commented on #5570
I've kick-started the pr.

I guess we don't have a test for this one.

[2022-04-02 04:31] argiepiano commented on #4284
Code LGTM. I've tested in several different situations with single and multiple value image fields and the fix seems to do its job. Thanks @indigoxela and @kswan!   (I cannot help but wonder why those detach methods were added to those functions? They are inherited from D7).

[2022-04-02 05:37] herbdool commented on #1301
Thanks @quicksketch for reviewing the module. I'll attempt a pr and see what people think.

[2022-04-02 06:07] #5570 closed

[2022-04-02 06:14] quicksketch commented on #5570
Thanks @indigoxela, @argiepiano, and @herbdool for the help here!

The commit message is no big deal, since committers need to modify the message to include attribution on every merge anyway. But it is helpful if it's already formatted as close as possible. :smile:

I merged https://github.com/backdrop/backdrop/pull/4032 into 1.x and 1.21.x, so this will be in 1.21.5.

Welcome @phershbe to our pro

[2022-04-02 12:22] indigoxela commented on #4284
They're inherited, but Backdrop does things differently. The auto-upload functionality has been added in #1199, Drupal 7 does no automatic upload on file selection. Drupal 9 does, but limits the trigger to "unload". They remove the handler and then remove the element anyway. Which is odd, but does not break anything.

[2022-04-02 13:36] bugfolder commented on #5560
Testing LGTM, code WFM. RTBC.

[2022-04-02 14:27] bugfolder commented on #5512
It's now [on the agenda for the April 7 dev meeting](https://forum.backdropcms.org/comment/3941#comment-3941).

[2022-04-02 14:29] bugfolder commented on #5483
Code reviewed, looks good.

[2022-04-02 16:23] schoenid opened #5573 "Search form does not allow to be styled using icons"
## Description of the need

Sometimes it's required to use a search symbol instead of text in the search forms button. A possibility to use FontAwesome or locally stored icons would be practical.

Because for the search form button a `<input type="submit">` is used, it's not possible to style it, using pseudo elements like `:before` or `:after`.

## Proposed solution

It't would be required, to us

[2022-04-02 20:41] BWPanda commented on #5573
I think there are workarounds for doing this (the ways you mentioned, https://stackoverflow.com/questions/30577777/how-to-add-font-awesome-icon-into-input-button, etc), plus there's the option to override the theming of the existing search box/button (so you can use whatever HTML you want), so I'm not sure there's a need to change this... Happy to get feedback from others though.

[2022-04-02 20:58] BWPanda commented on #5573
For example, to override/customise the current search form, looks like you'd do a `hook_form_alter()` on https://docs.backdropcms.org/api/backdrop/core%21modules%21search%21search.module/function/search_box/1

[2022-04-02 21:06] BWPanda commented on #5512
Just saw this issue and it seemed familiar. Turns out it's a duplicate of one I posted back in 2018: https://github.com/backdrop/backdrop-issues/issues/3202 Guess no one found that one though...

Since there's more activity here I guess I'll close mine.

[2022-04-02 21:07] BWPanda commented on #3202
Closing as duplicate of this more recent, but also more activity, issue: https://github.com/backdrop/backdrop-issues/issues/5512

[2022-04-02 21:07] #3202 closed

[2022-04-02 21:59] phershbe commented on #5570
@quicksketch @indigoxela @argiepiano @herbdool Thank you everybody. Okay, noted on the PRs and thank you for adding me to the Backdrop issue queue triage team. I'm self-taught and haven't worked professionally in programming yet, but I'm confident enough in my full stack skills so I am studying up on your project now in order to be able to contribute more.

[2022-04-02 22:43] jenlampton commented on #5570
Wow, this issue was fixed so quickly! I only reported it 2 days ago. I came back today to create a PR for it -- but it's already fixed!  Thank you so much @phershbe for your quick work, and thanks to everyone else for the quick reviews, testing, and the merge!

[2022-04-02 23:27] bugfolder commented on #4903
Per https://github.com/backdrop-ops/docs.backdropcms.org/issues/192#issuecomment-1086740383, I'd like to suggest some naming changes for the elements of the Card-based home page created in the standard installation, to help emphasize to the reader of the documentation that "these things all work together to create the home page." For example, the Layout is titled "Home page," which is great. I'd l

[2022-04-02 23:37] bugfolder opened #5574 "Fixed: Documentation clarification on system_settings_form."
As reported by @ElusiveMind in https://github.com/backdrop-ops/docs.backdropcms.org/issues/199:

On the following page:

https://docs.backdropcms.org/api/backdrop/core%21modules%21system%21system.module/function/system_settings_form/1

There are references to 'default_setting' that should be 'default_value' in the example code.

Also - `settings_config` should be renamed `primary_config` in the ex

[2022-04-03 01:30] bugfolder commented on #5574
No testing needed, it's only a docblock edit.

[2022-04-03 01:48] bugfolder commented on #2978
Re-re-tested (still works), and re-re-reviewed the code (still looks good). RTBC.

[2022-04-03 03:12] BWPanda commented on #4226
Ah, here's the answer: https://drupal.stackexchange.com/a/192902

So I think this question has been answered now. @klonos Do you concur?

[2022-04-03 08:22] indigoxela commented on #5573
As an alternative you can do it via pure CSS. An example is provided by the [Snazzy contrib theme](https://github.com/backdrop-contrib/snazzy/blob/1.x-2.x/css/components/search.css).
![search-block-styled](https://user-images.githubusercontent.com/842066/161418878-a8470012-8290-4f3a-96a9-5cfa7cbf2edf.png)

Adding a complete (big) font for only one icon seems a bit overdone. :wink:

[2022-04-03 11:22] indigoxela commented on #5512
Oops, yes, I also wasn't aware of that one. Seems like "our" policy to keep issues open forever has reached its limits. At least, it doesn't seem realistic to me, that anyone searches a 2.3k+ queue for possible duplicates. :shrug:

[2022-04-03 12:11] BWPanda commented on #5512
@indigoxela I agree that issues shouldn't stay open forever. I'm often going through the issue queue trying to find and close old/outdated ones. But I often get push back from others about this ☹️

Having said that, it doesn't require looking through all 2.3k+ issues to find duplicates. Searching for `hook_views_api path` for example find just 4 results, one of which is this one, and one of which

[2022-04-03 14:02] bugfolder commented on #557
Tested, WFM (i.e., fields still work). Code reviewed, LGTM.

[2022-04-03 14:09] bugfolder commented on #1001
Tested: it does what was expected (menu is wider). As noted above, it's still possible for the menu to go off-screen to the right, but that's grist for a future issue. Code reviewed, LGTM.

[2022-04-03 14:19] bugfolder commented on #1105
I think we should be consistent within the page at what we call the admin theme: is it "admin theme" (used at the top of the Appearance page" or "Administration theme" (used at the bottom of the page)?

I note that in the Layouts listing, the corresponding layouts are called "Default Layout" and "Default Administrative Layout", which is yet another choice of wording (and capitalization).

(FWIW, I

[2022-04-03 14:25] argiepiano commented on #557
When I manually apply this patch in my local, the files and folders are not moved. Something is wrong with this patch, but I don't know enough about patch files to find out what the problem is.

[2022-04-03 14:29] bugfolder commented on #557
Ditto. They're in the right place in the original fork, but when I download the code from the PR, they're not.

[2022-04-03 14:37] argiepiano commented on #557
The only actual noticeable change after applying patch is the code change in line 9 of `options.test`.

[2022-04-03 14:43] bugfolder commented on #1461
Given the age, the PR https://github.com/backdrop/backdrop/pull/2390 probably needs rebasing, plus whatever magic is needed to invoke the new automated tests.

[2022-04-03 15:30] BWPanda commented on #557
That must just be something about the way patches/diff's work, 'cause everything looks fine in the vrach I'm merging: https://github.com/BWPanda/backdrop/tree/issue-557/core/modules

[2022-04-03 16:30] bugfolder commented on #557
Yes, I saw they were correct in the fork. So how about we go ahead and mark it RTBC, but then ask the PtB to verify that the changes "took" when the PR is merged? (Since files have been moved around before in PRs, I'm guessing they will "take".)

[2022-04-03 17:02] RakeshPotnuru commented on #4675
Can I go ahead with this? Domain autofill looking fine instead of placeholder, adding help text will be enough.

[2022-04-04 01:44] docwilmot commented on #1301
What should be the approach for handling `taxonomy_term_reference` though? We cant remove it; contrib may be implementing Field API alter hooks etc. Options?
- Leave it in and have both `Term reference` and `Entity reference` available in Field API?
- Leave it in and somehow "hide" `Term reference` from the UI and somehow "redirect" API calls to `Entity reference`?
- Remove `Term reference` and up

[2022-04-04 02:19] docwilmot commented on #2516
@BWPanda forms like `node_form()` do this by preparing the redirect destination in the form, not after clicking the link/button. Would that not work here?

[2022-04-04 05:59] indigoxela commented on #557
Hm... I don't see any code that actually moves directories, but maybe I just missed that.

To my understanding, the PR just move the directories, with one single change in one require_once. So updating core will lead to duplicate module directories, as core updates just unpack the new core over the old one. (See also  #4285 re core updates and obsolete files.)

Can anyone point me to the code that

[2022-04-04 09:45] olafgrabienski commented on #4903
Agreed, it would be helpful to show the connection between related elements through their names. At the same time, I see advantages in not being too specific, to allow an easy adaption for other use-cases. For example, while the view could keep its generic name, the block could be renamed to mention the Home page. And, let's also have a look how comparable elements are named, e.g. the Promoted con

[2022-04-04 10:13] RakeshPotnuru commented on #4675
@BWPanda
Guest?

[2022-04-04 11:18] ElusiveMind commented on #5574
This looks good and tests pass on this end.

[2022-04-04 11:24] indigoxela commented on #5574
@ElusiveMind many thanks for reviewing, so it's RTBC. :+1:

[2022-04-04 11:43] BWPanda commented on #5568
Here's a PR that adds the 'Prettier' code formatter as a GitHub action: https://github.com/backdrop/backdrop/pull/4035

It just adds a new commit to PRs that cleans up any core CSS/JS files the PR affects.

For example, see my test PR here: https://github.com/BWPanda/backdrop-prettier/pull/3
Someone wants to add some CSS to the Seven theme, but it's badly formatted, so this action cleans it up and

[2022-04-04 12:15] BWPanda opened #5575 "Add ability to skip running tests on PR"
## Description of the need

Sometimes a PR makes changes that doesn't require running tests on; e.g. documentation-only changes. In these cases, it'd be nice to save time by being able to skip the automated tests.

## Proposed solution

Update our GH action to only run if a certain keyword/phrase isn't present in the PR title/commit message (e.g. [skip ci], [skip tests], etc.). So you'd make your

[2022-04-04 14:29] bugfolder commented on #557
Wow, did not know that.

So maybe a `hook_update_N()` that looks for and removes the old directories? Would that be the (or a) way of handling this?

[2022-04-04 15:42] schoenid commented on #5573
Thanks @BWPanda - The stackoverflow method requires to have access to the way, the HTML code is created, means to know, how and where in PHP ... even the `function search_box`: I don't really understand, what happens there. This is for programmers or developers, not for users or designers.

Thanks @indigoxela - This is the way I was looking for: Putting a box with the icon over the search button,

[2022-04-04 15:42] #5573 closed

[2022-04-04 19:44] bugfolder commented on #4903
I'd suggest that since the renaming will happen via code changes in core, the discussion and changes should happen here, and then once the names are settled, the docs issue will be addressed by updating the docs to use the new (?) names.

[2022-04-04 20:34] BWPanda commented on #557
Does this help? https://github.com/backdrop/backdrop/pull/537/files That was the merged PR for https://github.com/backdrop/backdrop-issues/issues/204

[2022-04-04 21:07] quicksketch commented on #2516
The current PR looks good as-is to solve the missing Cancel button. Maybe we make a follow-up? Besides the redirect location, I'm also inclined to add a status message along the lines of "Changes to the view %name have been discarded." So you get some kind of confirmation. Like @BWPanda says this is a button rather than a link, because Views have persistent storage while you're editing. Clicking t

[2022-04-04 21:13] quicksketch commented on #1301
I was thinking something along these lines:

1. Add Entity Reference to core.
2. Separate the Term Reference field from Taxonomy module.
3. Update install profiles to use Entity Reference.
4. Disable Term Reference module by default.
5. Provide _either_ a core conversion tool or contrib module to convert from term reference to entity reference.
6. In Backdrop 2.x: Remove Term Reference module. Mov

[2022-04-04 22:54] BWPanda commented on #2516
I like the idea of making the redirect a follow-up. I've updated the current PR to display an info message re. the changes being discarded ('info' because neither 'status' nor 'warning' seemed appropriate).

![image](https://user-images.githubusercontent.com/2385329/161645604-ad57e72e-8e5f-4d59-a135-eb2708f57867.png)

[2022-04-05 01:12] BWPanda commented on #5575
So it seems that GitHub already supports skipping the CI process entirely using certain strings like `[skip ci]`: https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/

However that skips everything, not just tests. Is there a use-case for skipping tests but not Tugboat? Or once we have code formatting checks in there too, it might be nice to st

[2022-04-05 06:11] indigoxela commented on #557
I'm not sure. That also happened before core updates via UI got implemented. And it's only about functional tests. Back in 2015, when this issue was opened, moving modules around may have been an easy task, but since then a lot of things happened.

What exactly happens, if one updates via UI and the modules are in two places - even if it's only until an update hook runs to remove them? - And we al

[2022-04-05 06:40] BWPanda commented on #5575
Ha, fixed it! [This PR](https://github.com/backdrop/backdrop/pull/4036) is even its own example of how it works:

![image](https://user-images.githubusercontent.com/2385329/161693538-36a518cf-951d-40c5-a19a-864117188674.png)

For the life of me I couldn't work out how to get the commit message, so I did it based on the PR title instead. So what this does is makes it so that if the PR title contain

[2022-04-05 07:33] BWPanda commented on #557
I think I found the problem: you either need to move files using your OS, then **add the new location** to git **and remove the old**, or use git itself to move files (which handles all that for you): https://githowto.com/moving_files

I'll update the PR soon. I don't think update hooks, etc. are necessary.

[2022-04-05 07:38] indigoxela commented on #557
I suspect, you missed the base problem, so again: when updating via UI, the new code gets unpacked over the old code, so modules will be in both locations after that.

And the system table contains the old paths in system.filename - like `core/modules/field/modules/field_sql_storage/field_sql_storage.module`.

So there **has** to be code to fix both. The problem has nothing to do with git, it's ab

[2022-04-05 07:41] BWPanda commented on #557
Ah, very well.

[2022-04-05 12:01] BWPanda commented on #5568
I think the PR failure is coming from the fact that this PR is based on a forked repo, and there's security around that... See "Use in forks from public repositories" here: https://github.com/stefanzweifel/git-auto-commit-action#advanced-uses

Their recommendation is:

This makes sense. Running Prettier on any code pushed to the `1.x` branch (as opposed to code in PRs):
- Negates the need for secu

[2022-04-05 13:24] indigoxela commented on #5568
Oh crap... Isn't that already too late then? Doesn't that also mean that people providing PRs never see, what they could have done better? Core committers already know what things should look like.

[2022-04-05 14:18] bugfolder commented on #557
Badness and confusion can happen (especially if the modules aren't truly identical), and https://github.com/backdrop/backdrop-issues/issues/5464 now puts a warning on the status page.

[2022-04-05 14:22] bugfolder commented on #5575
Nice! Just added a label to remind to document this bit of magic, probably under "Working on issues" on https://docs.backdropcms.org/documentation/how-to-use-the-core-issue-queue (since that's where PRs are mentioned).

[2022-04-05 21:40] BWPanda commented on #5568
I was thinking about this last night, and I realised that it's not ideal having code be formatted only on push and not also in PRs...

Consider this: someone submits some code that is very far away from our standards, formatting-wise. When reviewing their code, how do we decide what needs to be fixed now, and what will be fixed automatically on merge? Over time we may learn what Prettier fixes and

[2022-04-06 02:44] BWPanda commented on #4739
I tested this in my own repo, and I found the reason why it wasn't working (an issue with the Tugboat token set in Tugboat itself). That's been fixed, and I've updated to PR to expire previews after 2 months (which is closer to when we're hitting our quota currently (we can easily change this if/when we get more quota)), and to add a note to the PR comment about when the preview will expire:

![im

[2022-04-06 02:56] herbdool commented on #4739
I agree. The code looks good. I say go ahead and merge.

[2022-04-06 03:26] #4739 closed

[2022-04-06 03:26] BWPanda commented on #4739
Thanks @klonos and @herbdool for the reviews. I've merged https://github.com/backdrop/backdrop/pull/3824 into 1.x.

[2022-04-06 04:02] ghost opened #5576 "Use GH Actions for triggering Tugboat previews"
In an effort to avoid hitting our Tugboat quota, I'd like to make it so that you can 'skip' building a Tugboat preview site for certain PRs (e.g. documentation-only changes, updates to CI tests, etc.). In cases like these it doesn't make sense to have a Tugboat preview, so you would add specific text to the PR title or commit message (e.g. `[skip tugboat]`), then Tugboat wouldn't run (this saves b

[2022-04-06 08:03] zubaer56 commented on #3056
I created a pull request that allows anyone with clear logs permission to clear the logs.

[2022-04-06 08:13] stpaultim commented on #3056
I tested this PR and it seems to work. We created a test user with:

UN: Test User
PW: test

This user has the role = editor and we have the editor the role to `View site reports` and they are able to see the log report, but not see or use the clear logs button.

![image](https://user-images.githubusercontent.com/3144571/161927721-12376bb2-044c-4a1a-a3c6-d3c15a39551a.png)

![image](https://user-im

[2022-04-06 09:09] stpaultim commented on #4249
Updated PR available for review.

[2022-04-06 10:39] olafgrabienski commented on #4903
As announced [some days ago](https://github.com/backdrop/backdrop-issues/issues/4903#issuecomment-1086376886), I've made screenshots of various card header image suggestions. I'm only posting the screenshots here, will add my comments later.

**(1) three background colors and white icons (current PR)**

![backdrop-cards-01-three-colors-pr](https://user-images.githubusercontent.com/14188307/1619561

[2022-04-06 11:03] olafgrabienski commented on #4903
Now, as we can compare the suggestions for the card images, let's find a decision based on voting (to avoid too complicated discussions).

Idea: everyone interested mentions (a) their favorite(s) and (b) acceptable screenshots from above

[2022-04-06 11:05] olafgrabienski commented on #4903
To make a start:

- favorite: 1
- acceptable: 2, 3, 5

[2022-04-06 12:49] albanycomputers commented on #4903
1 and 5 for me.

[2022-04-06 13:42] bugfolder commented on #4903
* favorite: 1
* acceptable: 5, 2

[2022-04-06 14:45] yorkshire-pudding commented on #4903
favourite: 2
acceptable: 7, 4, 1, 5

[2022-04-06 16:56] quicksketch commented on #4903
favorite: 5
acceptable: 1, 7

[2022-04-06 17:22] argiepiano commented on #4903
Favorite: 5
Acceptable: 1, 2, 7

[2022-04-06 19:48] herbdool commented on #4903
Favourite: 5
Acceptable: 7

On Wed, Apr 6, 2022, 13:22 Alejandro Cremaschi ***@***.***>
wrote:

[2022-04-06 20:08] stpaultim commented on #4903
Favorite: 2
Acceptable: 1,2,3,5,7

[2022-04-06 20:25] VasasA commented on #4903
favorite: 5
acceptable: 1, 2

[2022-04-06 23:26] argiepiano commented on #3056
It looks like some of the automated tests related to dblog functionality are failing. Probably those need to be modified as well to account for the changes.

[2022-04-07 05:35] indigoxela commented on #4903
Favorite: 4
Acceptable: 1, 2, 3

[2022-04-07 08:18] BWPanda commented on #4903
Favourite: 5
Acceptable: 2

[2022-04-07 12:08] BWPanda commented on #5550
Was just about to come and file an issue for this 😃 Here's a PR instead: https://github.com/backdrop/backdrop/pull/4038

[2022-04-07 18:33] jenlampton commented on #4903
Favorite: 2
Acceptable: 4

I agree. I still believe we should ask a designer, and do what they say. Design by consensus usually ends up with a mediocre result, at best.

[2022-04-07 19:17] docwilmot commented on #4903
Agreed with this also.

[2022-04-07 19:28] bugfolder commented on #4903
Yeah, but it's also nice to know what ordinary people think, and good designers will take that into account, even when they're not bound by it.

[2022-04-07 20:57] olafgrabienski commented on #4903
I think some of the image suggestions are better than "mediocre, at best". Anyways, in my understanding we didn't vote to just apply the suggestion with the highest results, but to get a picture what people like, based on realistic screenshots. I'd be happy to discuss the results now.

(Unfortunately, the design meeting of today, where I wanted to present the results via screen sharing, didn't hap

[2022-04-07 21:00] irinaz commented on #4903
@jenlampton , I am happy to reach out to Nica or Darius if that would be helpful.

[2022-04-07 21:11] quicksketch commented on #1301
There's actually a whole issue about this question of replacing Term Reference at https://github.com/backdrop/backdrop-issues/issues/51.

[2022-04-07 22:06] bugfolder commented on #5499
Since this issue fell off the end of today's dev meeting and needs @quicksketch input: ping. 😉

[2022-04-07 22:09] quicksketch commented on #4903
We talked about this in the weekly meeting and discussed delegating the final decision to a small group or individual. While we have the PMC, I think the responsibility of making the decision should fall to either the person who has done the work (primarily @olafgrabienski) or the issue advocate (@stpaultim). Olaf agreed to reach to Tim, and I hope that they make the decision together. If there is

[2022-04-07 22:17] stpaultim commented on #4903
I agree with @olafgrabienski that asking a designer would be fine, but for that to work I think that the designer needs context and input from stakeholders. Just having a designer look at it and offer binding feedback, without understanding the history of the issue and what stakeholders are looking for is also very problematic.

I've heard lots of people expressing preferences, but I haven't heard

[2022-04-07 22:18] alanmels opened #5577 "Function language_uninstall() should be changed to language_disable()"
Hello All,

## Description of the bug

The `config_get('system.core', 'language_count')` returns more than 1 language if you disable the Language module on a  multilingual Backdrop site.

## Steps To Reproduce

To reproduce the behavior:
1. Enable the Language Module go to `admin/config/regional/language` and add additional language(s)
2. Disable the module
3. Call the `config_get('system.core', '

[2022-04-08 01:09] ghost opened #5578 "Do we need the JSHint files in core?"
Core currently has two hidden files:
- [.jshintignore](https://github.com/backdrop/backdrop/blob/5c425354833ac7f7a8dd6fd3670694c1c110b5ca/core/.jshintignore)
- [.jshintrc](https://github.com/backdrop/backdrop/blob/5c425354833ac7f7a8dd6fd3670694c1c110b5ca/core/.jshintrc)

These were inherited from Drupal: https://www.drupal.org/project/drupal/issues/1664940

As far as I know, we don't use them in a

[2022-04-08 01:12] BWPanda commented on #5578
If so, here's a PR: https://github.com/backdrop/backdrop/pull/4039

[2022-04-08 01:25] quicksketch commented on #5499
@argiepiano Okay that makes sense. And the use-case of new dependencies not having requirements met is less likely than the need to inform users of new modules being enabled. I think that's fair.

In that case I think we may be ready to go on this one.

[2022-04-08 01:31] BWPanda opened #5579 "Generated .htaccess file missing newline at EOF"
## Description of the bug

If you delete the `.htaccess` file in the `/files` directory, after clearing caches it'll automatically be re-created. 👍🏻
However the re-created (aka generated) version is missing a newline at the end of the file. This causes git to show it as a changed file. 👎🏻

## Steps To Reproduce

To reproduce the behavior:
1. Make sure you're on the `1.x` branch and are up-to-date

[2022-04-08 01:34] BWPanda commented on #5579
PR: https://github.com/backdrop/backdrop/pull/4040

[2022-04-08 06:09] indigoxela commented on #5579
Tiny and straight forward fix. RTBC :+1:

[2022-04-08 06:16] #5579 closed

[2022-04-08 06:18] BWPanda commented on #5579
Thanks @indigoxela. Since this is such a small change, based on the fact that tests are passing and you RTBC'd it, I've gone ahead and merged https://github.com/backdrop/backdrop/pull/4040 into 1.x and 1.21.x.

[2022-04-08 08:11] BWPanda commented on #5577
I'm not sure... I feel like when disabling a module but not uninstalling it, you expect config to remain in place. So that's by design, not a bug.

If people do the with the intention of removing the functionality but keeping a backup of it, then I think they should instead backup the relevant config files and then disable and uninstall the module.

[2022-04-08 08:14] BWPanda commented on #4903
When is the PR ready for review? Because I saw some things there I want to query...

[2022-04-08 08:15] BWPanda commented on #4249
Still needs work.

[2022-04-08 08:37] BWPanda commented on #5536
Already in the next bugfix milestone. Just need a @backdrop/core-committers to merge.

[2022-04-08 09:50] olafgrabienski commented on #4903
A quick update: Tim and I just talked, and he will post about that later. For the time being, here are links to the dev meeting of yesterday:

- About Cards and home page documentation.: https://youtu.be/vq6roTPsQ8M?t=525
- About Card images: https://youtu.be/vq6roTPsQ8M?t=943

@bwpanda, I think, we'll need some more time, mostly finetuning - stay tuned!

[2022-04-08 12:23] BWPanda commented on #3262
I've made a [PR](https://github.com/backdrop/backdrop/pull/4041) that changes the question to:

Examples:
- Are you sure you want to delete the field *Body* from *Page*?
- Are you sure you want to delete the field *Image* from *Tags*?

I originally added in the bundle type as well (e.g. "delete the field *Image* from **the vocabulary** *Tags*?"), but the bundle name for nodes is 'Type', and the sa

[2022-04-08 12:45] BWPanda opened #5580 "'Page not found' when trying to delete field"
## Description of the bug

If you're on the configuration page for a field that's attached to an entity other than a node (e.g. user account, taxonomy term, file entity), and you click the "Delete field" button at the bottom of the page, you'll get a "Page not found" error.

Doing the same thing for node fields works fine however, as does deleting any entity type's field via the drop-button on the

[2022-04-08 13:14] indigoxela commented on #5580
Wow, I can confirm that - verified with a field attached to a File type.

The only explanation why we missed that for so long: all/most people (including me) delete fields via the dropdown button on the "Manage fields" page. However, as the button is there, it should work properly.

[2022-04-08 14:26] olafgrabienski commented on #3262
That's a pity. @laryn - do you have any idea how to get the number of fields?

(Apart of that, the PR works for me.)

[2022-04-08 17:20] alanmels commented on #5577
Fair enough, I will just check if module is disabled instead of using the `config_get('system.core', 'language_count')` function.

[2022-04-08 17:20] #5577 closed

[2022-04-09 03:34] stpaultim commented on #4903
As mentioned, @olafgrabienski and I had a meeting today to review the input from @wesruv along with the feedback we got on the various color options provided by @olafgrabienski. We believe that the first priority is to get the current work merged and deal with larger design issues on the front page afterwards.

With that in mind, we'd like to update the PR to include color scheme #2 in the recent

[2022-04-09 03:56] stpaultim opened #5581 "Get Designer Input on BackdropCMS 'Out of the Box' appearance"
## Description of the need

While the work on this issue: https://github.com/backdrop/backdrop-issues/issues/4903 was initially about adding a new content type to Backdrop CMS, the PR also incorporated some sample content to help illustrate the use of this new "hidden path" content type and also to make a default Backdrop CMS site look more like an actual website.

During the discussion about this

[2022-04-09 04:47] BWPanda commented on #4903
Are the coloured backgrounds part of the image file that includes the icons? I'd have thought the image field would have just the icon and then the background colour would be done via CSS... If not, guess that can be a follow-up issue.

[2022-04-09 12:16] herbdool commented on #4903
@BWPanda that's a good idea. Then someone might be able to use color module to change the icon backgrounds too?

[2022-04-09 12:23] indigoxela commented on #5580
@argiepiano many thanks for your PR - it works! :+1:

I added a textfield to the Document file type, then went to the configure page (/admin/structure/file-types/manage/document/fields/field_foofield) and used the "Delete field" button to remove it. No more 404.

[2022-04-09 22:31] olafgrabienski commented on #4903
At the moment, the background colors are part of the Card image. I also thought about using just the icons (or transparent PNG images) to allow changing the background via CSS. That should work fine in *Basis* or *Bartik*, where we can provide the CSS. If I don't miss anything, it's however problematic for contrib themes, as we can't expect that they provide background CSS, and without dedicated b

[2022-04-10 02:23] BWPanda commented on #5580
Nicely done @argiepiano! RTBC.

[2022-04-10 02:25] BWPanda commented on #5580
Do we want to add a test for the Delete Field button, to make sure this doesn't happen again (having a test for this would have prevented this issue in the first place)...?

[2022-04-10 03:07] BWPanda commented on #5580
@argiepiano I think we should add a test for this, and I think we can update the field deletion tests too while we're at it.

`testDeleteField()` (in `field_ui.test`) currently:
- Adds a new field to a content type
- Creates a second content type and adds the same field there too
- Deletes the field from the first content type; confirms that instance was deleted but the field still exists
- Delete

[2022-04-10 03:10] argiepiano commented on #5580
@BWPanda yes, I can update that test, but it will take me a few days - probably mid-week. Thanks for the suggested steps.

[2022-04-10 03:47] stpaultim commented on #4155
@hosef - You will need to generate a fresh sandbox and provide instructions on testing.

[2022-04-10 03:52] stpaultim commented on #4903
I think we should stick with this as a follow-up issue. Let's get something merged before trying anymore improvements. :-)

[2022-04-10 05:15] stpaultim commented on #4155
It seems that this module is intended to fix problems in contrib modules, so for the sake of testing, I created a simple test module with a color input element. This module is available for anyone for at least the next month (through May 2022).

https://github.com/stpaultim/test_module

Here is what the input looked like on my test environment - without the fix.

![image](https://user-images.githu

[2022-04-10 08:54] BWPanda commented on #5581
So either we make changes to Basis, or we ask a designer to design a new default theme for Backdrop. I prefer the latter.

[2022-04-10 09:59] indigoxela commented on #4155
I know of two existing contrib modules that use type color: Fullcalendar Views NG and Mosaic Grid.

Both now get rounded color pickers, in FVNG it looks a bit odd, because that one already styled the input, but it's still OK. In MG it's definitely an improvement.

It doesn't conflict with color module's color.admin.css, so that's OK, too. RTBC :+1:

[2022-04-10 10:02] indigoxela commented on #4155
@stpaultim I had to switch the milestone, as this is a feature request, not a bugfix.

[2022-04-10 10:45] indigoxela opened #5582 "Error: Cannot access protected property SelectQuery::$alterMetaData"
## Description of the bug

We're currently trying to port Organic Groups. One of the pain points: EntityFieldQuery::fieldCondition on all OG_AUDIENCE_FIELD fail because it needs to alter the query to point to a different table, which is done via _og_query_og_membership_alter_conditions() / hook_query_TAG_alter(). But in Backdrop SelectQuery::alterMetaData is protected.

## Steps To Reproduce

1. I

[2022-04-10 11:16] indigoxela commented on #5582
Created a PR for discussion: https://github.com/backdrop/backdrop/pull/4043

And to see is something else breaks because of the "public".

[2022-04-10 11:30] indigoxela commented on #5582
Some links to module code:

[function hook_entity_query_alter()](https://github.com/backdrop-contrib/og/blob/1.x-2.x/og.module#L1405) which adds the "og_membership" tag.

[function og_query_og_membership_alter()](https://github.com/backdrop-contrib/og/blob/1.x-2.x/og.module#L1419) which applies the changes to get the actual membership data (the original field is empty by design, the membership dat

[2022-04-10 13:42] oadaeh commented on #5582
The code should be using the provided [addMetaData()](https://github.com/backdrop/backdrop/blob/9f4d816d2531dc72c4682c8846534546b8dcbee0/core/includes/database/select.inc#L1035) and [getMetaData()](https://github.com/backdrop/backdrop/blob/9f4d816d2531dc72c4682c8846534546b8dcbee0/core/includes/database/select.inc#L1045) methods. We should not be making properties public. That is not the way OOP wo