[2021-09-13 16:09] domaingood opened #5217 "[PS][D9] Dynamic Page Cache add in Backdrop core"
This is to explore if [Make D8 2x as fast: Dynamic Page Cache: context-dependent page caching (for *all* users!)](https://www.drupal.org/project/drupal/issues/2429617) can be applied to Backdrop and whether there is performance gain by this for us.

Relevant Drupal changerecords:
- [Dynamic Page Cache module added, enabled by default](https://www.drupal.org/node/2565453)
- [Cache contexts are now

[2021-09-13 16:17] laryn commented on #3402
It's a bit of a grey area but I think since we're so close to `1.20` this feels like a good feature to add there: 77 comments later, I've merged into `1.x` using https://github.com/backdrop/backdrop/pull/3710 in https://github.com/backdrop/backdrop/commit/1d2996c48e1849fcafa664eeacb093451556039c. Thanks for all the iterations, feedback, testing, and code review! I've tried it out in the sandbox an

[2021-09-13 16:23] klonos commented on #5098
Agreed 👍🏼 ...PR updated accordingly:

<img width=70% src="https://user-images.githubusercontent.com/2423362/133119889-5d273eaf-6c0d-4849-b04e-d7784d6c509d.png">

Tests are green!!! 🎉 🎉 🎉

[2021-09-13 16:27] klonos commented on #1965
Surely hope so 🤞🏼 ...lets leave this open, to allow a few weeks/months of trialing the batch fixes with GHA, and close if we have not seen this surface in the meantime.

[2021-09-13 16:30] laryn commented on #3402
Opening again -- where does this need to be documented?

[2021-09-13 16:38] klonos commented on #5216
@domaingood this is a duplicate of #1716. I've added your comment from above to that issue, so let's close this one here. Feel free to re-open #1716, but I don't think that much has changed since we decided not to do this, back in 2016 (I could be wrong about it though).

[2021-09-13 16:38] #5216 closed

[2021-09-13 16:40] klonos commented on #3416
@domaingood you might also be interested in this 😉

[2021-09-13 16:56] jenlampton commented on #3402
We should add a new change record on docs.b.org announcing the addition of the theme function.

[2021-09-13 17:30] herbdool commented on #5214
This is my understanding. When adding a title field to a View, you have this option: "Link this field..."

![Screenshot from 2021-09-13 13-24-47](https://user-images.githubusercontent.com/1071483/133129196-64c2fa2a-58cf-4024-872b-0f1987149f4e.png)

This also appears in the field: `NID` and perhaps others. And there is also `Content: Link` which doesn't have an option, it'll just output a link to t

[2021-09-13 17:39] jenlampton commented on #5214
The wider access control change (preventing 503) could be a new feature. The intended behavior for node title was simply to remove the link when the resulting page would be a 404, same as we did for the node title on teasers.

[2021-09-13 19:28] klonos opened #5218 "User accounts: Bundle name missing from the "Manage display" form title (admin/config/people/manage/display/%)"
Head to `admin/config/people/manage/display/default`, or any display under `admin/config/people/manage/display/default`

<img width=50% src="https://user-images.githubusercontent.com/2423362/133144605-dae9740a-f448-486c-a90f-ade1c0ec5637.png">

[2021-09-13 19:31] stpaultim commented on #4673
I'm in favor of user testing it. However, if you remember we had an informal user test that at least partially lead to this issue being opened: https://github.com/backdrop/backdrop-issues/issues/4673#issuecomment-702464030

[2021-09-13 19:49] stpaultim commented on #4113
Here is where the title WAS in the mark-up prior to PR.

![title-1](https://user-images.githubusercontent.com/3144571/133146966-5f370af7-0fef-4aea-8969-cc6e872fac7f.png)

Here is where it is now:

![title-2](https://user-images.githubusercontent.com/3144571/133147002-f1574fae-cb3c-450b-992e-e6955dc3ffee.png)

I believe that the test was failing because it was looking for the title in the `l-page-t

[2021-09-13 19:54] stpaultim commented on #4113
![title-4](https://user-images.githubusercontent.com/3144571/133147827-1dad4d9c-f7d1-4634-b04f-008caac37569.png)

:-)

[2021-09-13 19:54] jenlampton commented on #4113
nice job with the test failure fix!

[2021-09-13 19:55] stpaultim commented on #4113
That was fast. I've never gotten a code review in 12 seconds before. Nice work @jenlampton

[2021-09-13 19:57] jenlampton commented on #4113
It actually took 2 minutes, our comments cross-posted. The new PR looks great and was easy to review :D

[2021-09-13 19:59] stpaultim commented on #4113
I literally applied the "Needs Code Review" and then was immediately checking to see if I had done it correct and it was already RTBC. :-)

[2021-09-13 20:02] klonos commented on #5218
PR: https://github.com/backdrop/backdrop/pull/3740

<img width=70% src="https://user-images.githubusercontent.com/2423362/133148759-463f40e9-59eb-437c-8f2c-a5cb582e67b6.png">

[2021-09-13 20:03] docwilmot commented on #5218
https://github.com/backdrop/backdrop-issues/issues/4901 has a RTBC PR.

[2021-09-13 20:06] klonos commented on #5218
Damn it, I'm getting old 😞

[2021-09-13 20:06] #5218 closed

[2021-09-13 20:08] klonos commented on #4901
@indigoxela can you please rebase the PR for this? Thanks.

[2021-09-13 20:32] domaingood commented on #4259
Media Library module
https://www.drupal.org/docs/core-modules-and-themes/core-modules/media-library-module/overview
Can be add on backdrop CMS

[2021-09-13 20:33] stpaultim commented on #4206
OK, I did some poking around for another example of a button with an underline and found this.

![check-manually](https://user-images.githubusercontent.com/3144571/133152353-d4e3896a-7f42-4538-92ff-d6a40f94227a.png)

This button would not have been fixed by the old PR but is fixed by this one.

[2021-09-13 20:34] jenlampton commented on #5098
@klonos I left one small comment on the PR about choosing a better variable name. Otherwise looks good!

[2021-09-13 20:38] stpaultim commented on #4206
@jenlampton - I don't usually assign people to issues, but somehow it seemed appropriate! ;-)

[2021-09-13 20:43] jenlampton commented on #4206
Looks great! :) Thanks @stpaultim

[2021-09-13 21:19] stpaultim commented on #999
I'm just doing a quick experiment trying not to get in the way of the real work. :-)

[2021-09-13 21:25] klonos commented on #5098
Thanks @jenlampton ...naming things is hard 😅 ...can you please see my counter-suggestion in the PR comments?

[2021-09-13 21:32] klonos commented on #4259
@domaingood we already have a media library in Backdrop:

![image](https://user-images.githubusercontent.com/2423362/133159243-04263c05-fa75-43e5-a675-9ac02394a1a6.png)

[2021-09-13 21:44] jenlampton commented on #5098
I love it! If you commit, I can RTBC :)

[2021-09-13 21:51] klonos commented on #5208
Thanks @jenlampton 🙏🏼 ...I've rebased and removed the weights (not sure why I added them in the first place).

I'll have a look and see what I can do.

[2021-09-13 22:03] stpaultim commented on #999
@jenlampton - Hopefully, your not working on this now. I think I've finished fixing the tests. They are running now. Will update in a minute.

[2021-09-13 22:08] klonos commented on #264
Hello @irinaz 👋🏼 ...I'me reopening this issue, to draw some attention to it.

[2021-09-13 22:14] klonos commented on #4673
Same 👍🏼

Only user studies would shed light on that (whether the "Dashboard" link in the admin bar, or the admin bar itself are easily discoverable).

We already provide an obvious/prominent way for people to get from the Dashboard to "the website" (via the "View the home page" link in the "Welcome to Backdrop CMS" block). Perhaps we should similarly provide a more obvious/prominent way to go from

[2021-09-13 22:20] stpaultim commented on #999
@jenlampton & @klonos - I forked the last PR, rebased it, and fixed the final tests. I hope that was helpful. I've added it here. Let me know if I did this correct (and let me know if I didn't).

@indigoxela - You were correct. Even I could figure them out.

[2021-09-13 22:31] klonos commented on #999
Thank you @stpaultim ...everything looks great, and tests are green! 👍🏼

[2021-09-13 22:53] #5198 closed

[2021-09-13 22:54] stpaultim commented on #3122
I'm going to try and update this PR if that is OK.

[2021-09-13 22:55] laryn commented on #5198
Looks great! Thanks @stpaultim for filing and for the initial PR, and @klonos for doing some of the clean up work in your alternative PR. Thanks to @olafgrabienski and @jenlampton for testing and code review. I've merged the https://github.com/backdrop/backdrop/pull/3737 PR in https://github.com/backdrop/backdrop/pull/3737 for 1.x so it will be included in 1.20.

[2021-09-13 23:07] irinaz commented on #264
Thanks!

On 9/13/21 3:08 PM, Greg Netsas wrote:

--
Irina Zaks,
Fibonacci Web Studio
Web Developer and CoFounder

***@***.***
650-387-0737

[2021-09-13 23:24] #4901 closed

[2021-09-13 23:32] laryn commented on #4901
Thanks @indigoxela for filing and fixing, and to @quicksketch, @klonos, and @docwilmot for code review and testing! I've merged the PR in https://github.com/backdrop/backdrop/pull/3511 in https://github.com/backdrop/backdrop/commit/1ab106d09ab934caf80e1c62152a856715eab1b7 for 1.x and 1.19.x.

[2021-09-14 00:09] quicksketch commented on #264
I think there may be an error in the documentation that affect Pantheon specifically. Instead of visiting ` https://backdrop-example.com/update.php`, could you try visiting `https://backdrop-example.com/core/update.php`? The `update.php` file lives in a subdirectory in Backdrop. On any Apache host, we have a redirect in .htaccess that takes you to the right place, so a lot of devs haven't noticed

[2021-09-14 00:16] jenlampton commented on #3122
Go for it!

On Mon, Sep 13, 2021, 3:54 PM Tim Erickson ***@***.***> wrote:

[2021-09-14 00:30] jenlampton commented on #999
Thank you!!!

On Mon, Sep 13, 2021, 3:32 PM Greg Netsas ***@***.***> wrote:

[2021-09-14 00:40] irinaz commented on #264
Nate, thanks!  now I am getting different error - I think that I imported db correctly.  Happy to give you access to pantheon dashboard if that would help troubleshoot this issue

PDOException: SQLSTATE[HY000]: General error: 1034 Incorrect key file for table 'url_alias'; try to repair it: ALTER TABLE {url_alias} CHANGE `language` `langcode` VARCHAR(12) NOT NULL DEFAULT '' COMMENT 'The language co

[2021-09-14 02:37] stpaultim commented on #3122
If I understand correctly, the next step on this issue was to remove the wrapper around the additional items.

**WAS (in recent PR)**

![additional-3](https://user-images.githubusercontent.com/3144571/133185340-7e9b9795-7a1e-4833-a982-d8fff2ac0a95.png)

**Without wrapper (have not pushed this code yet):**

![additional-2](https://user-images.githubusercontent.com/3144571/133185382-1f360d52-a225-40

[2021-09-14 02:57] quicksketch commented on #264
Great, I'm glad that was the big problem. I updated our upgrading documentation to include that missing `/core/` directory in the instructions.

One of the first things Backdrop does before displaying the update.php page is fix the "url_alias" table, so this tells me you're on the right track.

I'm not sure why that error would be occurring though. A quick Google says it's one of two things:

* Th

[2021-09-14 03:01] stpaultim commented on #3122
**Here is a version without the wrapper**

![additional-4](https://user-images.githubusercontent.com/3144571/133187721-e62a7984-3924-4bb7-88b3-8d7546773683.png)

![additional-5](https://user-images.githubusercontent.com/3144571/133187771-ed7c66ea-eaed-4f81-9d46-fb81d9be5070.png)

[2021-09-14 05:34] irinaz commented on #264
Nate, thanks a lot. The table should be small, this is site with 100 nodes and three views. Here is what I see when I connect to new backdrop db that I imported and run REPAIR TABLE url_alias.
+--------------------+--------+----------+---------------------------------------------------------+
| Table              | Op     | Msg_type | Msg_text                                                |
+----

[2021-09-14 12:08] laryn commented on #5194
Thanks @olafgrabienski for filing and fixing, @indigoxela for help and encouragement along the way, and @klonos for code review! I've merged the PR from https://github.com/backdrop/backdrop/pull/3725 into 1.x and 1.19.x with https://github.com/backdrop/backdrop/commit/2e3d9f515f33ddad2cd5462534ac94e99e26edaa.

[2021-09-14 12:08] laryn commented on #5194
Re-opening for translation update reminder: @olafgrabienski how do we normally handle that?

[2021-09-14 12:27] olafgrabienski commented on #5194
@laryn Thanks for merging the PR!

Re `needs - translation update`, good question! From the discussion in https://github.com/backdrop/backdrop-issues/issues/2162#issuecomment-751674836, I'd say the label is a reminder, to ask if fixing a language string is important enough to justify the need of translation updates for people who are running localized sites. The question wasn't explicetely discuss

[2021-09-14 12:44] klonos opened #5219 "[D8] Manage form display: Allow managing form fields non-programmatically"
Drupal 8 and beyond have separate "Manage display" and "Manage form display" tabs:
- The "Manage display" UI allows you to reorder/configure the various fields when they are being rendered/viewed.
- The "Manage form display" UI allows you to reorder/configure the various fields as they are shown during data entry.

D7 and Backdrop only have the "Manage display" UI, but in D7 one could use the Disp

[2021-09-14 12:51] klonos commented on #5219
Related: #647

[2021-09-14 13:37] klonos commented on #3122
Thanks @stpaultim 🙏🏼 ...your approach does what @quicksketch requested: removes the wrapper, so that the form structure doesn't change for the 2 checkboxes 👍🏼

The addition of the "Additional actions" label is achieving a nice visual distinction/grouping 👍🏼 ...the implementation is not right though (adding a label to the form using `'#type' => 'markup'`). `<label>`'s should have a matching input e

[2021-09-14 14:00] klonos opened #5220 "[UX] Password strength: provide suggestions to make it stronger"
This is a follow-up to #5095, where we've done a great job:

<img width=70% src="https://user-images.githubusercontent.com/2423362/133269849-abf7d18c-5341-4d88-bdee-87f9a9411bd6.png">

- the first bullet point does a good job, as it tells people what the exact expectation/requirement is 👍🏼
- the "long" requirement of the second bullet point is also straight-forward (user things "I need to type mor

[2021-09-14 14:10] klonos commented on #5098
Done [`f57e8a0` (#3633)](https://github.com/backdrop/backdrop/pull/3633/commits/f57e8a0be11a952070cb749eac46a8d30e621d6f)

[2021-09-14 14:50] #3906 closed

[2021-09-14 15:16] bradbulger commented on #4679
sorry i have been away. i haven't dug into this in a while, the PR seems fine.

[2021-09-14 15:25] #3476 closed

[2021-09-14 15:29] laryn commented on #3476
Thanks @jenlampton, @quicksketch, @herbdool, @docwilmot, @BWPanda, and @klonos! Merged https://github.com/backdrop/backdrop/pull/2470 into 1.x and 1.19.x.

Just think of all the time we'll save now, not having to update this milestone anymore! :stuck_out_tongue_winking_eye:

[2021-09-14 15:33] klonos opened #5221 "Add an "unsorted" indicator to table columns"
This came up in https://github.com/backdrop/backdrop-issues/issues/3906#issuecomment-908659428

@laryn

@klonos

@laryn

@klonos

@laryn

[2021-09-14 15:33] klonos commented on #3906
Thanks @laryn 👍🏼

Follow-up for the "unsorted" icon: #5221 😉

[2021-09-14 15:40] klonos commented on #5220
Fair enough= 👍🏼  ...let's give it some time, so that other can chime in. If no agreement or interest in this, then let's close it.

[2021-09-14 15:41] klonos commented on #3476
What a ride this has been! 😅

[2021-09-14 17:34] philsward commented on #5187
I see it as a "placeholder" for future information. It may not be helpful now (it may never be helpful) but the foundation is there if we do something with it.

Worst case it's never used, someone can yank the code out of the module and delete the table that holds the data. I'm guessing that would take less resources and less time than trying to get it re-added at some point down the road.

It can

[2021-09-14 18:08] philsward opened #5222 "Telemetry: Collect Internet Status At Time Of Install"
**Description of the need**

Ideas have circulated about offering a streamlined installer with various bits that are downloaded at the time of install. Others have suggested offering a "browser" for recipes done after install. Whatever the need for internet usage during/after install, I think it would be good to collect the status of internet during installation to get a better idea of the number

[2021-09-14 18:09] philsward commented on #5222
**ToDo**
Add to [meta](https://github.com/backdrop/backdrop-issues/issues/285) if agreed this is a valid request

[2021-09-14 18:23] klonos opened #5223 "[DX][D7][D8] Form API: (re?)Introduce '#type' => 'html_tag'"
`theme_html_tag()` was renamed in the early days of Backdrop (see #452 and the [respective change record](https://docs.backdropcms.org/change-records/themehtmltag-becomes-themeheadtag)).

Our brethren in Drupal 7 are also trying to get rid of that theme function, but instead of simply renaming/deprecating it, they are trying to backport the `'#type' => 'html_tag'` functionality from Drupal 8: http

[2021-09-14 18:43] philsward commented on #5183
Curious, would this be collected to show to the site admin for their benefit, or collected to get a better idea of metrics to see how well BD is running on various platforms

I can see where it might be beneficial but also useless due to the sheer number of variables that play into performance metrics. (Hardware used, OS used, DB used, actual configuration of all of the above, etc.). The reported

[2021-09-14 18:44] klonos commented on #3122
...we might be able to get away with it by using the `aria-labelledby` attribute:

- https://stackoverflow.com/questions/24204063/can-i-use-multiple-labels-for-a-form-element

- https://stackoverflow.com/questions/12164617/how-to-have-one-label-for-multiple-select-boxes/14433073

- more usage examples: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-l

[2021-09-14 18:50] philsward commented on #3418
+1 for "Go Live"

[2021-09-14 19:00] stpaultim commented on #3122
I thought I rebased yesterday. I'll check. Thanks for the follow-up. I am not surprised about the problems with my PR - I was trying things that I'm pretty unfamiliar with. I'll look at your PR later today.

[2021-09-14 19:29] klonos commented on #3122
You most likely must have done so ...but @laryn has gone out on a merge frenzy in the meantime 😅

[2021-09-14 19:53] stpaultim commented on #3122
@klonos - I've rebased and merged your changes. Please, review to make sure I merged them correctly. I did have to resolve one conflict. https://github.com/backdrop/backdrop/pull/3742

[2021-09-14 19:54] klonos commented on #3418
I find "Go live" equally inadequate/odd as "Go online". I'd rather this instead:

or:

[2021-09-14 19:57] jenlampton commented on #3418
What about just "Disable Maintenance Mode"?

On Tue, Sep 14, 2021, 12:54 PM Greg Netsas ***@***.***> wrote:

[2021-09-14 20:01] klonos commented on #3122
Looks good @stpaultim 👍🏼

![image](https://user-images.githubusercontent.com/2423362/133325606-6c3ba56f-e342-470d-bb44-44f479f85887.png)

(My branch is freshly-rebased, and it currently has no diff when compared against yours)

[2021-09-14 20:03] stpaultim commented on #3122
@klonos - should this be returned to "Needs Testing" and "Needs Code Review"?

[2021-09-14 20:03] klonos commented on #3122
Yes please

[2021-09-14 20:15] #5130 closed

[2021-09-14 20:19] laryn commented on #5130
Thanks to @thivyaa-web-dev for this PR, and to @jenlampton and @himanshu007-creator for testing and review! I've merged https://github.com/backdrop/backdrop/pull/3668 into 1.x and 1.19.x in https://github.com/backdrop/backdrop/pull/3668

[2021-09-14 20:56] philsward commented on #3418
These are just as odd

I personally hate the "sentences" that are are becoming all-too common among CTAs in BD. If the UI isn't intuitive enough for someone to figure out what is going to happen if they click on a CTA, then the UI needs to be changed to address the UX, not the text of the CTA button.

If we're going to go down this road, I would like to see what is being used as the link, converte

[2021-09-14 21:38] #999 closed

[2021-09-14 21:42] laryn commented on #999
If I'm reading it right, the initial PR was started back in 2015 by @hellomrcat and went through a few different hands since then. Thank you @hellomrcat, @jenlampton, @stpaultim, and @klonos for the work on this one over the years! I've merged the version of the PR from https://github.com/backdrop/backdrop/pull/3741 into 1.x and 1.19x.

[2021-09-14 21:47] #4206 closed

[2021-09-14 21:50] laryn commented on #4206
Thank you for filing this @BWPanda, and for the PR, testing, and review @stpaultim, @himanshu007-creator, and @jenlampton! I've merged https://github.com/backdrop/backdrop/pull/3667 into 1.x and 1.19.x.

[2021-09-14 21:57] #4997 closed

[2021-09-14 22:01] laryn commented on #4997
Thank you for filing the issue (and testing the PR) @ericvanderwal! And @indigoxela for the fix, @klonos for the code review. Improving accessibility in Backdrop :+1: :+1:

I've merged https://github.com/backdrop/backdrop/pull/3564 into 1.x and 1.19.x.

[2021-09-14 22:27] stpaultim commented on #4206
@laryn - Thank you for spotting a better solution with broader implications.

[2021-09-14 22:57] herbdool commented on #5220
I'm pretty sure we hashed out the wording in a previous issue. This was the compromise.

[2021-09-14 23:08] klonos commented on #4999
In #4497, we ended up manually adding the ID in that search box, to fix accessibility (see `admin_bar_links_search()`):

[code]

[2021-09-14 23:17] jenlampton commented on #4999
This is great, we can do the same thing in admin bar :D

[2021-09-14 23:49] jenlampton commented on #3595
PR looks great, RTBC!

[2021-09-15 00:54] stpaultim commented on #5220
I'm fine with the current wording.

[2021-09-15 00:58] klonos commented on #4999
Sorry @jenlampton for messing the issue title. This was already done for the admin bar; we now need to ensure that this is consistent for all form items. `'#type' => 'search'` seems to not be doing it automatically.

[2021-09-15 01:04] klonos commented on #3418
@philsward have you seen #2583. I think you should chime in there with what you'd think would be a better option.

[2021-09-15 01:29] klonos commented on #3595
Thanks @jenlampton 🙏🏼 ...now also freshly-rebased, and with all GHA tests green! 🎉 (no code changes in the rebase commit: https://github.com/backdrop/backdrop/pull/2550/commits/08a949f08b825641b5e5b290a7994372fe2e7df6)

[2021-09-15 01:32] klonos commented on #5220
Thanks for taking the time to chime in everyone 👍🏼 ...closing then.

[2021-09-15 02:33] stpaultim commented on #1435
This is now the oldest issues still active on the bugfix milestone. I confirmed the problem (again) and verified that the PR fixes the problem (again).

[2021-09-15 05:10] laryn commented on #4144
I think we're still here:

Not that it bears much relevance, but I just clicked the link icon in this comment box and it asks for text, then url. (`[](url)`)

[2021-09-15 05:45] #3595 closed

[2021-09-15 05:48] quicksketch commented on #3595
I merged https://github.com/backdrop/backdrop/pull/2550 into 1.x for 1.20.0. Big thanks to @klonos for leading development on this effort and @olafgrabienski for request and regular feedback! Lots of team work on this one, thanks @indigoxela, @BWPanda, @herbdool, @docwilmot, and @jenlampton for the reviews and feedback.

I don't see a strong reason to pull this into 1.19.x with 1.20.0 coming out t

[2021-09-15 06:13] philsward commented on #2583
So... what about moving the entire "maintenance mode" functionality to the admin menu with a "Live" or "Maintenance" (Not Live?) indicator (Swap words for Icons and colors?) and clicking on the indicator would switch between the two modes. Remove the checkbox that is on the maintenance admin page and just leave the custom textbox for a custom message. Going in and out of maintenance mode shouldn't

[2021-09-15 06:13] philsward commented on #3418
Thanks @klonos

Updated my previous comment to yank out the pieces that are more appropriate in the issue you suggested.

[2021-09-15 06:38] indigoxela commented on #3415
Time to fix this issue. :wink:

I took a look at the related Drupal issues and comments, mostly because I wanted to find an explanation, why `'taxonomy_index_tid'` has to be hardcoded (and what's so special about terms, that they need extra care).
Their conclusion seems to be that they didn't want to let the "perfect be the enemy of the good". And I think, the same is true for us. :smirk:

RTBC!

[2021-09-15 06:59] indigoxela commented on #1435
Sorry, have to set it back no needs work, because of the wrong variable in function options_form().

[2021-09-15 07:04] indigoxela commented on #1435
And I just verified again (locally), that the change in function options_form() isn't actually necessary.
@klonos are you able to do work on this PR today?

[2021-09-15 07:18] indigoxela opened #5224 "Views: initial setting "Use a pager" ignored"
**Description of the bug**

When creating an view, there's a checkbox "Use a pager", which is by default checked.
But when submitting that first form with "Continue and configure", this setting is ignored, the view gets created with "Display a specified number of items". No pager.

**Steps To Reproduce**

1. Go to admin/structure/views/add
2. Add a new view with "Use a pager" checked
3. Continue a

[2021-09-15 07:35] indigoxela commented on #5224
This is broken since 2013 - by a tiny typo.

Writing the issue took me more time than creating the [PR](https://github.com/backdrop/backdrop/pull/3743). :laughing:

[2021-09-15 09:37] indigoxela commented on #5210
@herbdool many thanks for opening this for discussion.

I agree, that some sort of email verification makes sense. But the length of the Drupal issue seems a bit suspicious to me - 15 years of debate with no real result... :thinking:

There's also a contrib module: https://www.drupal.org/project/email_confirm, so potentially that's a contrib candidate for Backdrop, too?

What worries me a bit is t

[2021-09-15 10:28] klonos commented on #4144
Setting this to NW, since there is a line that is irrelevant to this issue that needs to be reverted + it would be nice to rebase.

[2021-09-15 10:49] klonos commented on #4144
It seems to be a matter of preference I guess...

MS Word has text first, link then:

<img width=60% src="https://user-images.githubusercontent.com/2423362/133417629-1723cb9c-f6eb-432d-89a5-768d07d4dde3.png">

<img width=60% src="https://user-images.githubusercontent.com/2423362/133418701-9168dca8-8b9e-48ae-96a5-3cb32300f772.png">

TinyMCE has the URL/link first:
<img width=60% src="https://user-i

[2021-09-15 10:53] klonos commented on #3415
I agree, as long as:
- we have inline comments that explain why we are doing things the way we are doing them
- we have a follow-up issue in place, to fix things properly

Combining the two points above and converting them to actionable tasks:
1. Create a follow-up issue
2. Add a `@todo` inline comment in the current PR

[2021-09-15 10:55] klonos commented on #1435
Having a look now 👀

[2021-09-15 11:07] indigoxela commented on #3415
Creating a follow-up makes sense to me. The bug is a nasty (and old!) one. Fixing the functionality shouldn't be blocked.

I'm not sure about the `@todo` comment. If we create a follow-up, we can easily refer to the line of code, for which we'd like to investigate better solutions.

[2021-09-15 11:25] klonos commented on #1435
@indigoxela I've reverted the change in the `options_form()` function. I have also added an inline comment above the `$options['quantity'] = NULL;` line, in order to avoid reverting this change and regressing this (the respective code in views 7.x might puzzle people working in cross-ports in the future).

[2021-09-15 11:32] klonos commented on #5224
Good catch @indigoxela ...RTBC 👍🏼

[2021-09-15 11:36] klonos commented on #5210
Working for a few years in the GovCMS Service Desk now, serving 100s of sites with users having various levels of technical aptness, both proposed changes make sense to me. We should prevent people from shooting themselves on the foot 👍🏼

[2021-09-15 11:44] klonos commented on #3415
@indigoxela people looking in the issue queue for things to work on will be able to find the follow-up issue 👍🏼 ...when people look at the code though, it won't be immediately apparent to them why `taxonomy_index_tid` is being special-cased. Hence the need for an inline comment. If the inline comment also includes a link to the existing issue, people won't be creating duplicates.

[2021-09-15 11:51] BWPanda commented on #4144
I guess it depends on the context... For example, if you highlight a word in a paragraph and want to turn it into a link, it makes sense that the text field should come first, followed by the URL field. But if you're trying something like this:

Then it seems like the URL would be more important and should come first.

But I can see how this type of distinction is practically impossible to account

[2021-09-15 11:54] indigoxela commented on #3415
Right, didn't think of that. :+1:

Should the link point to this issue here, where we add that part of code? Or should it point to the (newly created) follow-up issue?

@laryn are you able to add that comment today?

[2021-09-15 11:57] BWPanda commented on #3006
Removing the RTBC label as @jenlampton left a review of the PR with suggestions that haven't been addressed yet. She mentioned a possible follow-up issue, but why go to the trouble if they can be addressed now...?

[2021-09-15 12:01] BWPanda commented on #5124
I requested some small changes to the PR...

[2021-09-15 12:04] klonos commented on #4461
I've fixed merge conflicts cased by the update hook number (there were a few more update hooks added since I last updated this PR), and I have also rebased. All tests are green now! 🎉

[2021-09-15 12:05] BWPanda commented on #2782
Now I'm looking at the screenshots from my PRs, and I'm wondering if the 'Expanded' column should come *after* the 'Enabled' column, since 'Enabled' seems much more important...

[2021-09-15 12:05] klonos commented on #3415
Yes, the new issue please.

[2021-09-15 12:11] klonos opened #5225 "[DX] Views: Figure out why taxonomy_index_tid is being special-cased in ensure_my_table()"
This is a follow-up to #3415

@indigoxela

Related d.org issue: https://www.drupal.org/project/drupal/issues/1766338

[2021-09-15 12:14] olafgrabienski commented on #4144
I agree. Apart of that, in my opinion the usability issue are (also) the labels: "Link destination" and "Link text" contain both the term "Link" – at first sight less clear than a distinction like "URL" vs. "Text". (The latter might not work well in this context, but I guess we could find something better than the existing terms.)

[2021-09-15 12:15] klonos commented on #2782
I think that we should keep things as close as to how they were in D7, unless there's a valid UX issue.

[2021-09-15 12:18] klonos commented on #3006
Both suggestions are tiny fixes, and the core committer that reviews could add them before they merge. Having said that, @herbdool are you around to implement the changes?

[2021-09-15 12:20] klonos commented on #4144
I also agree. ...it does make sense when you look at it that way 👍🏼

[2021-09-15 12:23] #4276 closed

[2021-09-15 12:24] BWPanda commented on #4276
Thanks @laryn and @klonos. I've merged https://github.com/backdrop/backdrop/pull/3145 into 1.x.

[2021-09-15 12:24] klonos commented on #3122
@jenlampton would it be OK to close your PR, so to have only @stpaultim's open? (it was based off of yours).

[2021-09-15 12:25] BWPanda commented on #4276
I don't feel this is an important enough change to worry about also merging it into 1.19.4...

[2021-09-15 12:27] BWPanda commented on #3006
I've never quite understood how to easily make small changes before merging a PR... Could someone please enlighten me? I normally just press the 'Squash and merge' button in GitHub.

[2021-09-15 13:12] indigoxela commented on #1435
Now we need someone to test and set the "works for me". Then I can finalize my review and RTBC it.

(Seems like we have another "random buddy" - but that's unrelated here)

[2021-09-15 13:47] laryn commented on #3415
Thanks for setting that up @klonos -- I've committed your suggestions in the PR as well.

[2021-09-15 14:24] indigoxela commented on #4144
I think, that's an important note. Maybe switching to different (less alike) labels already does the trick.

We probably can't solve the ordering in a way to fit everybody's expectation, so let's leave that as is (and dive into another wording discussion :smile:).

[2021-09-15 14:39] klonos commented on #3006
@BWPanda I thought that people with write access to the backdrop/backdrop repo can merge code suggestions (added as comments in the PR either by others, or by the person about to merge). I've converted @jenlampton's comments into code suggestion comments. Can you see if there's a "merge" button in each one of them @BWPanda?

[2021-09-15 14:43] klonos opened #5226 "Random failure: ModuleUninstallTestCase->testUninstallLocale (module.test)"
Part of the #1478 meta.

[code]

[2021-09-15 14:44] laryn commented on #3006
I think @klonos suggestion will work, or I discovered recently that core committers can actually push commits to the branch/PR of the forked repo (if the "allow changes..." box was checked when submitting the PR, I think) -- but that's from the command line, not in the GUI.

[2021-09-15 14:47] klonos commented on #1435
Added #5226 to the #1478 meta 😉

[2021-09-15 14:54] klonos commented on #3006
Right. That could be the case. Not sure if that's the default or not, but I always leave that checkbox ticked in my PRs.

[2021-09-15 14:57] #5224 closed

[2021-09-15 15:01] laryn commented on #5224
PS. is anyone keeping stats on the time from an issue's filing to the time a PR is committed? This one would be competitive, I guess!

[2021-09-15 15:38] laryn commented on #4185
I recently got an iOS testing device so thought I'd look at this issue. I added this on the latest PR as well, but for the record:

[2021-09-15 15:50] laryn commented on #4185
It seems that maybe "camera" is not even a valid value for this "capture" attribute!

 - https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/capture

[2021-09-15 17:03] laryn opened #5227 "Fixed: Render function in `views_handler_field_file_filemime` passes bad info to `file_icon_url()`"
**Description of the bug**

I was creating a View using fields, and was trying to pull out the file mime icon separately. I linked the File to the view by a relationship, which allowed me to add "File mime icon" as a field. This field has a checkbox that says "Display an icon representing the file type, instead of the MIME text (such as "image/jpeg")". When I checked this box and tried to view the

[2021-09-15 17:07] klonos commented on #5157
Sorry for taking this long. This is finally done! 🎉

[2021-09-15 17:25] #3008 closed

[2021-09-15 17:28] quicksketch commented on #3008
Yay, looks like we're all agreeing that https://github.com/backdrop/backdrop/pull/3708 is a simple and safe fix. Although I think more comprehensive symlink handling would be good, this fixes the problem that everyone is experiencing specifically with Installer and Update modules.

I've merged https://github.com/backdrop/backdrop/pull/3708 into 1.x and 1.19.x. Huge thanks especially to @bradbulger

[2021-09-15 17:34] laryn commented on #5157
I have tested again in the sandbox using the Conditional Fields module as described earlier, and it functions as expected. Also confirmed that all the checks are green! :+1:

[2021-09-15 17:49] laryn commented on #5227
Easier STR:

1. Add a Post with an image.
2. Unzip and import this View: [views.view.test_file_mime_icon.zip](https://github.com/backdrop/backdrop-issues/files/7172263/views.view.test_file_mime_icon.zip)
3. Visit `/icon-test` on your dev site.

[2021-09-15 18:32] klonos commented on #5227
RTBC 👍🏼

@laryn how's that for how quickly an issue is fixed 😅

[2021-09-15 18:34] klonos commented on #4185
Hmm 🤔 ...I'll have another look as soon as possible.

Either way, I don't think that this will be able to make it for the upcoming 1.19.4.

[2021-09-15 18:38] docwilmot commented on #5046
Instructions for quick test right here: https://github.com/backdrop/backdrop-issues/issues/5046#issuecomment-907529850

[2021-09-15 18:39] klonos commented on #5208
I've tried adding tests with this commit: https://github.com/klonos/backdrop/commit/3e2bc78ff7768e78cf984d90931f750562c224a2

Can't figure out why they are failing though 😞 ...the logic seems right, so I must be doing something wrong. Help please?

[2021-09-15 19:04] Retsell commented on #4185
No, I don't think we do.  "Take Photo" will accomplish the same thing. But "Photo Library" and "Browse" are the most important options.

[2021-09-15 19:21] jenlampton commented on #3122
Yes!

On Wed, Sep 15, 2021, 5:24 AM Greg Netsas ***@***.***> wrote:

[2021-09-15 20:06] jenlampton commented on #3006
oops, I merged @klonos's suggested changes into the PR thinking it was mine for some reason, and I don't see an un-merge option :( I'll see myself out...

[2021-09-15 20:26] quicksketch commented on #4679
I think we should revisit the `BackdropWebTestCaseCache::tearDown()` method. Like @bradbulger points out, we're not using the global `$conf` variable for most things in Backdrop. We're certainly not using it for `file_public_path` and `language_default`.

If we don't have a need for `originalLanguageDefault` (we haven't been using it so far), I think we should just leave it out.

I'm pretty sure r

[2021-09-15 20:30] quicksketch opened #5228 "Backdrop 1.19.4 Release checklist"
Release scheduled for September 15, 2021 1pm - 4pm PT

## Pre-release tasks

- [x] Merge commits (@quicksketch)
- [x] Create the next bugfix milestone (@quicksketch)
- [x] Move all unfinished issues to the next bugfix release milestone (@quicksketch)
- [x] Review all closed issues in milestone: @jenlampton
  * Issue titles should include a complete, but very brief summary of the problem.
  * Issue

[2021-09-15 20:35] quicksketch opened #5229 "Backdrop 1.20.0 Release checklist"
Scheduled for September 15, 2021 1pm - 3pm PT

## Pre-release tasks

- [x] Merge minor release commits (@quicksketch)
- [x] Move all unfinished issues to the next bug-fix release milestone (@quicksketch)
- [x] Review all closed issues in milestone: (@jenlampton)
  * Issue titles should include a complete, but very brief summary of the problem.
  * Issue titles sould be in complete sentences, endin

[2021-09-15 20:41] #4461 closed

[2021-09-15 20:41] quicksketch commented on #4461
Merged this into 1.x for 1.20.0. I did not pull it back into 1.19.x, since 1.20.0 comes out today.

[2021-09-15 20:45] #5227 closed

[2021-09-15 20:45] quicksketch commented on #5227
Thanks! Really simple fix and this looks good. Merged https://github.com/backdrop/backdrop/pull/3744 into 1.x and 1.19.x.

[2021-09-15 20:49] #5021 closed

[2021-09-15 20:59] quicksketch commented on #5021
I merged this into 1.x and 1.19.x. Thanks @docwilmot, @indigoxela, and @MustafaDogan78!

[2021-09-15 21:02] klonos opened #5230 "Random failure: Multiple Undefined index notices in LayoutFlexibleTemplateTest (layout.tpl.php)"
I got this one with GHA-based tests:

[code]

[2021-09-15 21:06] quicksketch commented on #5194
As such translation updates happen on the localize.backdropcms.org site, I think we're still done here. I'll close this to mark it completed in 1.19.4.

[2021-09-15 21:06] #5194 closed

[2021-09-15 21:13] quicksketch commented on #5228
Release notes draft
---

This is a maintenance release for Backdrop CMS. This update contains bug fixes and usability improvements only.

**Notes for updating**

- No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Updating customized versions of those files is not necessary.
- The database update script (/core/update.php) **does** need to b

[2021-09-15 21:17] jenlampton commented on #5208
@klonos, wait, all tests passed on https://github.com/backdrop/backdrop/pull/3728.

[2021-09-15 21:18] klonos commented on #5208
Thanks for the figuring out the culprit @docwilmot 🙏🏼 ...PR updated, tests fixed, everything green! 🎉

[2021-09-15 21:26] quicksketch commented on #5228
The release is now out: https://github.com/backdrop/backdrop/releases/tag/1.19.4

We're dual-releasing this and 1.20.0 at the same time. We'll be continuing that release over in https://github.com/backdrop/backdrop-issues/issues/5229.

[2021-09-15 21:26] #5228 closed

[2021-09-15 21:27] klonos commented on #5196
Closing, in favor of #5229

[2021-09-15 21:27] #5196 closed

[2021-09-15 21:39] quicksketch commented on #5229
The tag is cut and ready for release notes: https://github.com/backdrop/backdrop/releases/tag/1.20.0

[2021-09-15 21:58] jenlampton commented on #3402
Change record is here: https://docs.backdropcms.org/change-records/theme_file_type_overview-deprecated-in-favor-of-theme_label_machine_name

[2021-09-15 22:13] jenlampton commented on #324
Change record: https://docs.backdropcms.org/change-records/a-new-form-api-details-element-has-been-added

[2021-09-15 22:13] #324 closed

[2021-09-15 22:18] jenlampton commented on #285
@klonos Adding something new doesn't usually get a change record. I think a blog post might be more suitable :)

[2021-09-15 22:18] #285 closed

[2021-09-15 22:19] jenlampton commented on #5229
ok, all change records are added, issues are closed and I'm closing the milestone now!

[2021-09-15 22:25] jenlampton commented on #5229
Release notes draft
---

The Backdrop community is proud to release version 1.20.0 of Backdrop CMS, following our 4-month release cycle.

This release contains several new features, user experience improvements, and a few bug fixes for these recent improvements.

**Notes for updating**

- No changes have been made to the `.htaccess`, `robots.txt` or default `settings.php` files in this release. Up

[2021-09-15 22:46] #5209 closed

[2021-09-15 22:47] quicksketch commented on #5209
Thanks @indigoxela! The PR looks perfect. And the 30 seconds of additional time to use whatever version of MySQL we want on a stable version of Linux is great. I merged https://github.com/backdrop/backdrop/pull/3729 into 1.x and 1.20.x. Thank you!

[2021-09-15 23:22] quicksketch commented on #2782
Elaborating on this further... the "Expanded" option does _not_ affect drop-downs. It only affects when the menu is displayed as a Hierarchical Tree, and even then it can be overridden by using the "Show all links" option:

![image](https://user-images.githubusercontent.com/100206/133524128-62b73eef-a922-4086-9cda-cddc5adc85db.png)

I do have a little hesitation adding these checkboxes again, as t

[2021-09-16 03:43] philsward commented on #2782
I'm going to go out on a limb and agree it should be left to contrib, that or maybe it would be worth adding an "extras" pack to core that would allow some things to be enabled and others disabled. This could be an excellent candidate for that idea.

Overall I'm good either way, but as @BWPanda pointed out, I think the columns should be enabled followed by expanded.

What about a "menu settings" p

[2021-09-16 10:52] BWPanda commented on #5210
As soon as I read the title of this issue, I thought: contrib. I'm not sure this belongs in core, at least not until we have a working contrib module to gauge people's interest in such a feature...

[2021-09-16 11:12] klonos commented on #2782
@quicksketch unless I'm horribly mistaken, nice_menus and superfish in D7 required that "Expanded" checkbox to be ticked for menu items that needed to be expanded when hovered-over (kinda makes sense, since you need the nested `<li>`s to be rendered). I'd need to test this on a D7 site to confirm though. ...perhaps it is not an issue because D7 creates its menu items with that option checked by de

[2021-09-16 11:30] klonos commented on #2782
I was horribly mistaken 😅

[2021-09-16 14:08] bugfolder commented on #2782
For this reason (and others), I very much like having the "expanded" checkboxes. (And I agree with "enabled followed by expanded.")

[2021-09-16 14:52] indigoxela commented on #2782
We just have to take care, that this doesn't conflict with any of the available settings for menu blocks - which provide a lot.

_Hierarchical tree_ has, for instance, a setting "Show all menu links", which expands all links regardless of their individual setting.
The _Dropdown menu_ ignores the expanded state in favor of its own Maximum depth setting, the _Top level only_ menu style does its own

[2021-09-16 21:32] jenlampton commented on #5044
I see this issue has a minor release milestone, but since it doesn't have an advocate I'm going to remove it. (If it does have an advocate, please add that into the Original Post and add it back)

[2021-09-16 22:13] jenlampton opened #5231 "[META] Telemetry follow-up issues"
This issue is a follow-up to https://github.com/backdrop/backdrop-issues/issues/285 where Telemetry module was added to core. 🎉

Things we should still do:
- [x] #5253 | Enable telemetry module on new installs (1.21)
- [x] #5253 | Add easy opt-out to disable telemetry module
- [x] #5253 | Add Admin Dashboard block to telemetry module
- [ ] Add checkbox to enable Telemetry module to the installer

[2021-09-16 22:17] bugfolder opened #5232 "Docs/usage inconsistency: should theme() be used?"
The [documentation for function `theme()`](https://docs.backdropcms.org/api/backdrop/core%21includes%21theme.inc/function/theme/1) says:

However, there are nearly 500 calls to `theme('...', ...)` in core. (In fact, there are only about 400 calls to `backdrop_render()`, so the discouraged usage is more common than the blessed usage.) Even recent additions like [`theme_label_machine_name()`](https:

[2021-09-16 22:22] jenlampton opened #5233 "Skip .htaccess protections for tmp directory unless it is within the web root"
From @quicksketch in https://github.com/backdrop/backdrop-issues/issues/1085

[2021-09-16 22:22] jenlampton commented on #1085
I created a follow-up issue here to solve the problem: https://github.com/backdrop/backdrop-issues/issues/5233

Is it okay to close this question since it has been answered?

[2021-09-16 22:22] #1085 closed

[2021-09-16 22:43] domaingood opened #5234 "Backdrop 1.20.0 Internal Server Error"
**Description of the bug**

Backdrop 1.20.0 with feash install
https://phalconcms.com/phpinfo.php
Mysql mysql-8.0.21

**Actual behavior**

https://www.phalconcms.com/
https://www.phalconcms.com/core/misc/favicon.ico

**Expected behavior**

https://www.phalconcms.com/files/js/js_jj9emzsJm-vHdoXG0tCcmcQC1XMJxAw06One83BLjEQ.js

**Additional information**

Add any other information that could help, su

[2021-09-17 00:21] klonos commented on #1085
Thanks for following up on this old ticket @jenlampton 🙏🏼 ...yes. fine to close 👍🏼

[2021-09-17 00:26] klonos commented on #5229
Noting that I've updated the version template in https://en.wikipedia.org/wiki/Template:BackdropCMS_version but the changes have not propagated immediately to https://en.wikipedia.org/wiki/Backdrop_CMS and https://en.wikipedia.org/wiki/List_of_content_management_systems as they used to in the past. I'll check again tomorrow.

[2021-09-17 00:41] jenlampton opened #5235 "The `Add Another Item` Button on multiple value field form is too specific"
**Description of the bug**

I often use fields to describe things that are not items, so having the button read `Add another item` seems very strange. In today's example I am using this on a field for "Authors".

I would like to prose we change the button text to `Add another` which is likely to work for all fields, rather than only those containing items.

[2021-09-17 00:45] jenlampton commented on #5235
I've filed [a PR which changes the button label](https://github.com/backdrop/backdrop/pull/3746). Adding screenshots to the Original Post.

[2021-09-17 01:08] klonos commented on #5235
Wouldn't it be more useful if we allowed the label of the button to be customized if the "Number of values" under the "Global settings" fields set for the field is set to either something other than 1 or unlimited?

There's a tiny contrib that already does that: https://www.drupal.org/project/custom_add_another (also allows customizing the label of the "Remove" button). Perhaps we should port that

[2021-09-17 01:13] jenlampton commented on #5235
I was just going to say "yes, it would be useful, but that's a job for contrib" but you beat me to it! In this issue, I am trying to make core seem less broken :)

[2021-09-17 02:49] klonos commented on #5235
Yes, if you see it that way, then the generic "Add another" may be better than "Add another item".

Many tests are failing in the PR.

[2021-09-17 03:51] jenlampton commented on #5235
Updated the PR to fix failing tests.

[2021-09-17 05:56] indigoxela commented on #5234
@domaingood can you also post the log messages, please? (Apache, fcgid, php)

For what I see: the main page is a 200, but the assets (css files) produce 500 errors. This may have to do something with the webserver setup and/or file permissions.

Can you post some details from your setup?

[2021-09-17 10:01] olafgrabienski commented on #5229
Created a new language template file for the translation server. (And deleted template files for really old Backdrop versions.)

[2021-09-17 12:18] klonos commented on #5235
Looks good, and works as expected 👍🏼

[2021-09-17 12:33] klonos opened #5236 "GHA tests: Fix failure output"
This is the output I got in one of my recent PRs:

[code]

I'd expect this instead:
[code]

...or alternatively this:
[code]

[2021-09-17 12:37] indigoxela commented on #5236
Hey, in how far is your expectation different to https://github.com/backdrop/backdrop-issues/issues/5206
:smile:

Agreed, cutting off at 80 chars makes it harder to identify the problem.

[2021-09-17 13:08] klonos commented on #5236
It's not only the 80 character limit (which is what #5206 is about). Its also about:

- the `---- User: User role administration (UserRoleAdminTestCase) ----` line not coming first.
- the repetition of the class name (the `UserRoleAdminTestCase->` prefix being added to the actual function name), which I don't find useful if we were grouping the failures by class. In other words, I believe that usi

[2021-09-17 13:23] indigoxela commented on #5236
I'm not sure, if everything you request is feasible.

On the other hand... we could close my issue and figure out what's feasible in this one. At least, now there's two people interested in an improvement of test result output.

But be warned, it's not on top of my todo list. :wink:

[2021-09-17 13:28] klonos commented on #5236
No worries. Not my top priority either - just creating issues as a to-do list 🙂

[2021-09-17 14:38] indigoxela commented on #5206
Closing in favor of #5236, which has a slightly wider scope.

[2021-09-17 14:38] #5206 closed

[2021-09-17 18:08] domaingood commented on #5234
I aredy setup Backdrop 1.19.3 same server no issues. Its Redhat 8 with ISPmanager Hosting php 7.4.22 with MySQL 8.0.21

[2021-09-17 18:49] domaingood commented on #5234
~/www/phalconcms.com/files/.htaccess
# Turn off all options we don't need.
**# Options None
# Options +SymLinksIfOwnerMatch**

# Set the catch-all handler to prevent scripts from being executed.
SetHandler Drupal_Security_Do_Not_Remove_See_SA_2006_006
<Files *>
  # Override the handler again if we're run later in the evaluation list.
  SetHandler Drupal_Security_Do_Not_Remove_See_SA_2013_003
</Fil

[2021-09-17 19:09] domaingood opened #5237 "Can we remove Bartik 1.20.0 Legacy front-end theme"
Feel free to post your question here, but you might want to consider posting your question:
 - in the Backdrop public forum: https://forum.backdropcms.org
 - in the live chat on Zulip: https://backdrop.zulipchat.com

[2021-09-17 20:42] stpaultim commented on #5237
@domaingood - I don't have strong attachments to having Bartik in core. But, I'm pretty sure that this would have to be a 2.0 issue.

I don't think that we can remove something like Bartik without potentially breaking existing sites. I will assume that another reason for having it in core is to facilitate easy upgrades for the many Drupal 7 sites that are using it.

I think that this should be a s

[2021-09-17 20:45] stpaultim commented on #5234
@domaingood - Do you think that there is anything that needs to be fixed in core - or is this just a case of custom configuration in .htaccess specific to your website/server/site?

[2021-09-17 20:48] stpaultim commented on #5186
I was just thinking that that theme data would be very high on my list of useful information.

I'd like to know how many sites are using Basis or Bartik. I'd also like to know how many sites are sub-theming Basis?

Is it easy to tell both the default theme and any parent themes?

[2021-09-17 21:56] jenlampton commented on #3415
This looks like it was closed, maybe accidentally? Looks like the commit was merged into @laryn's fork, but I don't see it in core (yet?). ReOpening for a second review, if nothing else :)

[2021-09-17 22:14] laryn commented on #3415
Oops, definitely accidentally closed it. I was testing a separate fork in a separate org account and somehow merging this over there closed this here? I think we just need another person to code review this...

[2021-09-17 22:32] jenlampton commented on #3415
I also thought that was really weird.

[2021-09-18 00:48] jenlampton commented on #264
By Default pantheon tries to run the config files in the `/files/` directory with a random hash. I have a lot more success changing the config location to something I can count on for each pantheon site. I wrote a blog post about this here: https://www.jenlampton.com/blog/move-your-backdrop-site-to-pantheon#config-setup

[2021-09-18 05:07] BWPanda commented on #5235
Maybe I've been away from Backdrop too long (or maybe I'm just tired and not thinking straight), but how was the screenshot made in core? To me that looks like Paragraphs...

[2021-09-18 08:07] indigoxela commented on #5234
`Option SymLinksIfOwnerMatch not allowed here`

That's your Apache setup breaking things. In case, you have access to your vhost file:

@domaingood what's the relevant content of your vhost file? Relevant is something like this:

[code]
Where [???] contain the potentially breaking stuff.

BTW: this problem isn't specific to Backdrop, but affects a lot of other CMSes.

If you have _no access_ to yo

[2021-09-18 08:12] indigoxela commented on #3415
Shoot...

There's no need for another review, I guess. The status "RTBC" is still valid.

[2021-09-18 08:23] indigoxela commented on #5235
Could be Multifield...

Here are screenshots for comparison - with a simple textfield:

![add-another-item](https://user-images.githubusercontent.com/842066/133882057-9579181b-95e1-4a7f-a173-153d548bd568.png)

![add-another](https://user-images.githubusercontent.com/842066/133882063-c3ecaf13-739b-410c-955c-618613d65578.png)

Both seem OK to me, but I get the point that "item" may or may not fit th

[2021-09-18 08:34] indigoxela commented on #5234
Just in case, here's a link to open [Drupal issues regarding SymLinksIfOwnerMatch](https://www.drupal.org/project/issues/drupal?text=SymLinksIfOwnerMatch&status=Open&priorities=All&categories=All&version=All&component=All)

[2021-09-18 10:39] olafgrabienski commented on #5235
Related: #3520 (Maybe a good moment to also finish that one.)

[2021-09-18 12:19] indigoxela commented on #5152
A different approach for icons svg masks. Then colors can get changed via css: [mask-image](https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image)

If setting the background of these svg to the text color, we get full Color module support (icon color changes together with the text color).

Example:
[code]
Can we use it? [I think so](https://caniuse.com/css-masks), at least soon or with a fal

[2021-09-18 13:08] laryn commented on #5152
@indigoxela Have you seen this? https://github.com/backdrop/backdrop-issues/issues/364#issuecomment-798964315

[2021-09-18 13:31] indigoxela commented on #5152
Hm, icon **fonts** are something different. But now I see that there's also some discussion with svg (with required Javascript, though)... @laryn thanks for the hint, will cross-post.

[2021-09-18 13:32] indigoxela commented on #364
Cross-posting here, as this might be the better fit. A CSS-only approach with svg masks.

A different approach for icons: svg masks. Then colors can get changed via css: [mask-image](https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image)

If setting the background to the text color, we get full Color module support (icon color changes together with the text color).

Example:
[code]
Can we us

[2021-09-18 13:56] klonos commented on #214
Time far a metrics update:

- https://gs.statcounter.com shows IE steadily much less than 1% worldwide after Dec 2020 (with Safari 18-20% and Chrome 63-65% dominating the market)
- same as above, https://www.w3schools.com/browsers/browsers_explorer.asp shows older versions of IE starting at 0.7% at the start of 2021, and dropping all the way to 0.3% till Aug 2021
- in https://www.w3counter.com/glo

[2021-09-18 13:58] indigoxela commented on #364
Oh, cool, even better: use `color: currentColor;` in CSS. Then the color automatically switches (link / normal text...). [We can use](https://caniuse.com/currentcolor).

Example:
[code]
(Simplified, but working in FF)

[2021-09-18 13:58] klonos commented on #3992
Now that #285 is in core, we should be able to make a better-informed decision (once we have gathered enough metrics that is).

[2021-09-18 14:06] klonos commented on #3992
Stats update:

- https://blog.packagist.com/php-versions-stats-2021-1-edition
  ![image](https://user-images.githubusercontent.com/2423362/133891407-ab35121b-737e-4a8b-8b49-2078e55d01c9.png)
- https://w3techs.com/technologies/details/pl-php
  ![image](https://user-images.githubusercontent.com/2423362/133891419-b2f17eff-daf1-43bc-ba00-d5690f05e55f.png)
- https://w3techs.com/technologies/details/pl-

[2021-09-18 14:15] klonos commented on #3992
...I'd say that it's safe to deduct that the percentage of the internet still stuck with php5.5 and earlier is less than 15%.

[2021-09-18 14:16] klonos commented on #5152
SVG still has [very poor support](https://caniuse.com/svg) in IE 😞 ...so that falls under #214 (and making support for IE in general be "best efforts"). That's a whole different topic though, and would require a PMC decision I believe.

[2021-09-18 14:19] klonos commented on #5237
Now with #285 in core, we should start gathering metrics re enabled/used themes (#5186). That should help us make better-informed decisions.

[2021-09-18 14:44] wesruv commented on #364
That's a great idea! I'd check what the fallback is for browsers that don't support that, I fear it might be the a square of your color, but with a little tweaking you could make it the icon with it's default color (I assume black).

`@supports ( ... ) { ... }` would probable be your best bet there.

[2021-09-18 15:30] jenlampton commented on #214
I think we can safely add new things without IE support now (see the icon
font in core issue re image masks) but I'm still nervous a about removing
old things.

On Sat, Sep 18, 2021, 6:56 AM Greg Netsas ***@***.***> wrote:

[2021-09-18 15:32] jenlampton commented on #5235
The screenshot shows a paragraphs field, yes, but the button (this issue)
is from core :)

On Sat, Sep 18, 2021, 3:39 AM Olaf Grabienski ***@***.***>
wrote:

[2021-09-18 17:24] klonos opened #5238 "Notice: Undefined index: base theme in backdrop_find_base_themes() (line 854 of theme.inc)"
**Description of the bug**

I bumped into this while working on a PR for #5186.

I did a bit of research, and there are a few mentions of this error around d.org, but nothing conclusive, or people close the issue because they cannot reproduce (https://www.drupal.org/project/fusion/issues/916212 for example).

**Steps To Reproduce**

Pass the name of any theme that doesn't specify a base theme as t

[2021-09-18 17:34] klonos commented on #5238
PR up for review: https://github.com/backdrop/backdrop/pull/3748

[2021-09-18 18:43] klonos commented on #5238
I'll need to fix the test failures before this is ready for review.

[2021-09-18 20:37] BWPanda commented on #5235
is from core :)

Ah, interesting...

[2021-09-18 21:05] jenlampton opened #5239 "Date field with only Year granularity throws fatal error when saving from node preview"
**Description of the bug**

Hitting the `Save` button on a node preview will cause a fatal error, if the node contains a date field for only year. (`Save` on the node edit form works as expected). Errors below:

[code]

[code]

**Steps To Reproduce**

To reproduce the behavior:
1. Add a "Year" field to the Page node type. Configure as follows:
	* Field type: Date
	* Widget: select list
 	* Under "

[2021-09-18 21:15] domaingood commented on #5234
you have to comment out the SymLinksIfOwnerMatch in your .htaccess. I did this. I think its Drupal/backdrop  .htaccess problem under /files/.htaccess problem.

[2021-09-19 06:07] irinaz commented on #264
Hi Jen, that is very useful post, thanks!  I worked through instructions in your post, modified them a little for moving D7 to Backdrop and documented them [here](https://docs.google.com/document/d/1EUzGdVLuK9T65kThBXOY9ikfjxEDawbdgQca3KMEgHY/ ).  I am now getting the following error - I am not sure if I that is because I am moving D7 to Pantheon, not Backdrop
` The staging configuration directory

[2021-09-19 09:06] indigoxela commented on #214
IMO it's safe to remove all workarounds specifically done for IE**8** (note the issue title).

Regarding IE11 we probably have to wait a little longer. It's just a matter of time until it's gone, too, now that Microsoft retired it and drops support it their own projects.

But in another discussion it has been mentioned that IE11 is still needed for some screen reader software not supporting other

[2021-09-19 09:28] indigoxela commented on #5239
In real life... I'd use a number field, when I know that I only need the year. However, core claims to support this, so we should fix it.

The date granularity setting is a "fragile" thing and has bad UX, anyway. See this related issue: #4650

[2021-09-19 09:34] indigoxela commented on #326
Just found this issue here... A date and time combo is in core since #3972 (milestone 1.15.0).

datetime-local still has limited support in real browsers: https://caniuse.com/mdn-html_elements_input_input-datetime-local

To my knowledge, nobody ever asked for month or week. Not sure if it's worth the effort.

[2021-09-19 20:20] stpaultim opened #5240 "[META] - Issues Related to Recipes"
**Description of the need**

With the fix of https://github.com/backdrop/backdrop-issues/issues/3224, we are moving closer towards developing the preconditions for "recipes" to become a more useful tool in Backdrop.

See:
* https://github.com/backdrop/backdrop-issues/issues/3763
* https://backdropcms.org/news/config-recipes-a-possible-path-forward

This is intended as a META issue to track other i

[2021-09-19 21:32] domaingood opened #5241 "Add Claro administration theme to core"
admin UI (the Seven theme) feels outdated and needs a visual update. The current designs were created for Drupal 7 in 2008-2009 and were slightly updated for backdrop CMS

Claro was validated in contrib and has thousands of sites using it, and several Drupal distributions have already adopted it. Claro has been implemented using the new Drupal Design System.

https://github.com/backdrop/backdrop-i

[2021-09-19 21:42] domaingood opened #5242 "Add to Olivero frontend theme to core"
Olivero, one of the Drupal core initiatives, seeks to create a new default front-end theme for Drupal with a modern look and feel. This theme is now a part of Drupal 9.1 as an "experimental" theme. We seek to stabilize it and make it the default theme for Drupal 9.2.

Latest Tugboat Preview (running HEAD)
http://lb.cm/olivero

[2021-09-19 21:57] domaingood opened #5243 "Avoid CSS @import in core"
@import url("https://www.backdropcms.org/core/misc/normalize.css?'

CSS @import causes files to load sequentially rather than in parallel. This means your browser has to process every single CSS file before it can start rendering content on your page.

For example - if you have a CSS file called style1.css and you wish to import another CSS file style2.css into the original CSS file, you would use

[2021-09-20 00:30] klonos commented on #5240
Thanks for putting this list together @stpaultim 👍🏼

[2021-09-20 03:20] jenlampton commented on #264
As long as you have placed the staging directory that that location, you
should be fine. It sounds like maybe you haven't created it yet? (Likely
not related to skipping the redirect for update.php)

On Sat, Sep 18, 2021, 11:08 PM Irina Zaks ***@***.***> wrote:

[2021-09-20 03:41] jenlampton commented on #4650
Yeah, let's go with @klonos's #1

[2021-09-20 05:06] irinaz commented on #264
Jen, thanks, you are right, I did something wrong with directories/git ignore settings - I can see directories in my local setup but they did not get pushed via git.  I added them in sftp mode, and now I am on to the next challenge with url_aliases (that is a different issue :)
Thanks!

[2021-09-20 06:53] philsward commented on #3992
Take into consideration people who have the ability to upgrade, but don't know they can or don't think they can, so they stay on older versions.

I'm all for stepping up the requirements. For anyone migrating from D7 over the next few years, I think even making the requirement set to 7, won't affect many people overall. If the requirement for Backdrop is php7, and someone needs to migrate, the mig

[2021-09-20 08:40] indigoxela commented on #5241
@domaingood have you seen [Lumi](https://backdropcms.org/project/lumi)?

Claro is a twig based theme for a totally different CMS... I doubt that anyone wants to migrate it to Backdrop. :wink:

[2021-09-20 08:43] indigoxela commented on #5242
Olivero is a twig based theme for a totally different CMS, so there's disproportionate effort to migrate it to Backdrop.

[2021-09-20 08:43] #5242 closed

[2021-09-20 09:07] stpaultim commented on #5242
@domaingood - I tend to agree that the purpose of porting a Drupal 8/9 theme to Backdrop is not clear to me.

If the goals is to add another new quality front end theme to core that is inspired by Olivero, I can see that. But, if we decide to add another front end theme to core, I think we could build a new one or port something from Drupal 7.

[2021-09-20 13:30] olafgrabienski commented on #5241
I like the look and feel of Claro. In my opinion it's a huge improvement in comparison to Drupal's *Seven* theme. *Seven* in Backdrop is another story, it looks already much better than *Seven* in Drupal, but there is certainly room for improvements (and more admin themes, inspired by Claro or other recent designs).

[2021-09-20 14:50] davegandy commented on #364
The SVG version of Font Awesome uses currentColor so icons are automatically colored wherever you put them. They also scale accordingly to be the size of whatever text you put them next to, so you're not constantly needing to worry about the size of SVGs. Just change font size of the container, and they scale however you like.

If you're rolling your own, it might be worth a peek at how it's done

[2021-09-20 15:14] indigoxela commented on #3213
I'm not sure, where to add the PR, but it seems that I got some basic linter setup working, which only fires on updated/added files and adds annotations.

Example:
https://github.com/backdrop/backdrop/pull/3749/files

[2021-09-20 15:50] quicksketch commented on #3213
That looks great @indigoxela! I'm a fan of the GitHub Actions to avoid a lot of custom scripting in our own repository. Now if we can work out applying Backdrop-specific code style.

[2021-09-20 17:34] domaingood commented on #5241
I agree with @indigoxela it,s based on twig based theme.But I like this design also its easy to manage website. So make like this design for backdrop CMS too. Also @olafgrabienski agree and like this design.

[2021-09-20 17:44] domaingood commented on #5242
@stpaultim backdrop core defult theme basis is old and classic design & need to make new quality front end theme to core that is inspired by Olivero. So, I also link HTML files too. We have to make new better theme with more features also in sort time any devloper can make new sub theme and extand it.It's necessary to make popular CMS and more users in CMS market.

[2021-09-20 19:40] stpaultim commented on #5220
FYI - See this forum post. https://forum.backdropcms.org/forum/password-parameters

"Can anyone tell me what the actual minimum requirements are please? I can then change the string to better inform my users who are  non-native English speakers that will have a poor grasp of English. I envisage problems for my users who might well go elsewhere if they cannot register on my site if they cannot figu

[2021-09-20 19:59] jenlampton opened #5244 "[META] Accessibility review of Backdrop CMS"
This is a placeholder issue for all the issues we find.

(PR filed is for sandbox use only.)

[2021-09-21 00:45] jenlampton commented on #3168
This new option is much, much better. I also think we can add this checkbox to the existing form **without changing anything else** if we wanted to enable telemetry for new installs. (But should go into a follow-up issue for telemetry)

We probably should have been doing this since Backdrop 1.0.0 anyway. It was recommended way back in https://github.com/backdrop/backdrop-issues/issues/467 (But tha

[2021-09-21 08:06] robnacnamha commented on #5220
It was I who posted on the forum to which @stpaultim refers and I would like to add here what functionality I would like to have:
Something like the password policy module in Drupal 7 that was configurable and the admin could choose the complexity etc that they wished, setting how many letters, cases, numbers and characters they wanted the user to include and the module helpfully told the user wha

[2021-09-21 08:30] indigoxela commented on #5220
Hi @robnacnamha,

you can configure password strength handling in two ways:

1. By default the password strength is only a recommendation, so although the indicator's still showing red or yellow, the weak password is still accepted by Backdrop (same as in Drupal btw). You can switch that to "required" on "Account settings" (admin/config/people/settings, section "Password policy")
2. There's a hidd

[2021-09-21 09:40] indigoxela opened #5245 "Add a Github Action to run phpcs (coding standards)"
Now that we have GHA up and running for Simpletest, we should also add a linter action using phpcs.

There's a related [meta issue](https://github.com/backdrop/backdrop-issues/issues/3213), but that one doesn't seem appropriate, as it's mostly about Zen.CI and about fixing standards in existing code.

What we need:

- run phpcs in a GHA (automated job), showing annotations
- run phpcs with our cus

[2021-09-21 10:12] indigoxela commented on #5245
My PR seems to work so far, see it in action with some intentional failures: https://github.com/backdrop/backdrop/pull/3749/files

The report output is a bit... It seems like the output style hardcoded to "checkstyle" (xml), so we end up with the `&quot;`. I'm not sure, if we can do anything about that.

The annotations seem pretty helpful, though. Just a little hard to read sometimes.

Note that

[2021-09-21 13:21] klonos opened #5246 "Added the ability to clone a views display while changing the display plugin"
This is the same change as committed in Views 7.x back in May: https://www.drupal.org/node/1401778

[2021-09-21 13:34] herbdool commented on #5241
We should only have one admin theme in core in my opinion.

[2021-09-21 13:59] herbdool commented on #5220
As per @indigoxela second bullet, it can be overridden in the settings.php file by adding something like:

[code]

Looks like https://github.com/backdrop-contrib/passphrase_policy has no maintainer currently and that it was forked from the Drupal 7 version with the configuration stripped out, which is unfortunate. If someone wanted to become the maintainer they could also decide to put the configu

[2021-09-21 15:13] klonos opened #5247 "[DX][D9] Add helper functions to inject/move items into a particular position in associative arrays"
- The "insert" part of this request is basically the respective issue as https://www.drupal.org/project/drupal/issues/66183

- The "move" is something new (no equivalent d.org issue that I could find). I would like to be able to move an existing key in the array from its current position to the start/end of the array. So two new functions, like `backdrop_array_move_key_to_start($array, $key)`/`bac

[2021-09-21 15:19] klonos commented on #5247
This is basically what got into Drupal 9.3:

[code]

[2021-09-21 16:28] laryn commented on #5246
Great idea.

[2021-09-21 22:15] philsward opened #5248 "[UX] Create interface to organize Custom Blocks"
**Description of the need**

To start off, I hate blocks. I always have because of the lack of UX that surrounds them.

What is needed for blocks, is an organization system that helps people find the blocks they are looking for.

The current UX is to vomit each and every block in the system with no easy way to find what you're looking for unless you do a search. What happens if someone doesn't kno

[2021-09-21 22:22] docwilmot commented on #5248
Sorry, I don't understand this request. Can you give an example perhaps of what you're looking for?

[2021-09-21 22:57] philsward commented on #5248
@docwilmot I thought it would be self explanatory to anyone who has used Drupal/BD for the last 10+ years, so, sorry I don't have any specific examples. Like I stated, I don't use blocks because blocks have never been "friendly" to use. I hoped the product example in the request was enough so I honestly don't know off hand what else can drive the point home.

[2021-09-21 23:11] bugfolder commented on #5248
I resonate a bit with @philsward's issue; scrolling through the gargantuan list of blocks on D7 was a pain (especially since many automatically created blocks were never used), and using the current block picker dialog on Backdrop sometimes feels a little bit like looking through a keyhole to find the one you want. So I think it's worth a discussion (though maybe with a bit less "vomit" characteri

[2021-09-21 23:54] philsward commented on #5248
While I don't like the manual aspect of tagging things, I think this approach that @bugfolder suggested is at the top of my list for possibilities to explore.

MerlinOfChaos implemented this in most of what he worked on (Panels, Views etc) and quite frankly, it might make sense to implement a tagging system that is native to Backdrop and used in lots of areas outside of just blocks or views. In ot

[2021-09-22 03:23] stpaultim commented on #5243
@domaingood - Could you please add more context, examples, or proposed solutions.

I looked at the article that you reference and found this statement in terms of what you should do.

```Avoid using CSS @import and use other methods like link tags, inlining CSS, or combining CSS to allow the browser to load your page faster, and also vastly improve your visitors' page experience.```

I then opened

[2021-09-22 05:45] philsward opened #5249 "Lighten the color of Placeholder text in Basis Theme"
**Description of the need**

The color for placeholder text is too close in color to the theme text, making it difficult to understand "There's nothing actually in this box".

The UX is confusing when looking at it and confusing when clicking on it (because placeholder text doesn't disappear until you start typing).

This could potentially result in people clicking the input form trying to delete

[2021-09-22 06:30] indigoxela opened #5250 "Using a dialog link breaks the frontend theme display"
**Description of the bug**

Sort of related to #4863, but slightly different.

When opening a link to a path that has the admin theme applied, the frontend theme display gets messed. The header looks "sevenish" and so does the menu.

**Steps To Reproduce**

On a vanilla install, where the admin theme is also used for node forms (default).

1. Create a new post, set its format to "Raw HTML" (to ins

[2021-09-22 06:38] indigoxela commented on #5250
Another (smaller) glitch in this special case - node form - is that the cancel link is in the dialog content, not in the dialog button pane.

And even smaller, but still a glitch - the dialog buttons are "jumpy" in Basis, but that's not relevant here.

[2021-09-22 06:46] indigoxela commented on #5249
Please also consider web accessibility. From your screenshot I'd assume that the contrast is too low.

[2021-09-22 07:26] indigoxela commented on #4919
Seems like I forgot to close this one. While there's no perfect solution and probably will never be, the related issue fixed as much as possible.

[2021-09-22 07:26] #4919 closed

[2021-09-22 07:27] indigoxela commented on #4647
This got fixed in #4630

[2021-09-22 07:27] #4647 closed

[2021-09-22 07:31] indigoxela commented on #4607
@jlfranklin we managed to fix several random failing tests recently, when switching from Zen.CI to Github Actions. I wonder if this improves your experience with troublesome tests.

[2021-09-22 07:32] indigoxela commented on #2659
I wonder if this ever got implemented elsewhere...

In fact, the admin theme gets applied to dialogs in some circumstances and causes trouble. See #5250

[2021-09-22 07:51] olafgrabienski commented on #5249
I guess the current used color for placeholders in *Basis* is around `#757575`, which has a contrast ratio of `4.6:1`. According to [MDN Web docs](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceivable/Color_contrast) the minimum ratio (AA rating) is `4.5:1`.

Seems we can't lighten the text without creating an accessability issue. I'm wondering if there's any ap

[2021-09-22 09:12] olafgrabienski commented on #1728
@klonos Thanks for making the PR: I've just found it when I started to use the *References Dialog* module and stumbled about issue https://github.com/backdrop-contrib/references_dialog/issues/4.

I've tested the changes of this PR locally, in combination with uncommenting [one line in References Dialog](https://github.com/backdrop-contrib/references_dialog/blob/1.x-1.x/references_dialog.module#L45

[2021-09-22 09:20] mazzech commented on #4185
I just have a customer inquiry which should make camera access available for the webform data field... would this milestone also fix this?

[2021-09-22 13:53] laryn commented on #5250
I guess maybe because `/node/%/edit` is considered an admin path, it pulls in admin theme CSS?

See also: https://github.com/backdrop/backdrop-issues/issues/4863

[2021-09-22 13:54] laryn commented on #5250
Does the page underneath the modal jump as well? https://github.com/backdrop/backdrop-issues/issues/4342

[2021-09-22 13:55] indigoxela commented on #1728
I think, we should provide a (relatively) easy way to suppress the layout and only provide the content. That's something really complex with layouts.

@olafgrabienski One problem I see: this issue is marked as "feature request", which means it can not get into core before January next year.

[2021-09-22 14:52] indigoxela commented on #5250
Yes, :wink:, that's what I consider the bug here. Where does it ever make sense, that a dialog *on the same page* loads css from a different theme - theme not active on the page the dialog is shown?

Yes, of course. That's an annoying, well-known, but unrelated bug.

[2021-09-22 15:09] laryn commented on #5250
Just making sure you were properly annoyed. 😉

[2021-09-22 17:01] philsward commented on #5249
@olafgrabienski is that contrast ratio specific to placeholders or just a specific ratio recommend for general site viewing?

The point of placeholders yes is to give an example, but more importantly, it needs to be shown that it is ghost text, or text that isn't really there.

Maybe a different color?

I didn't play with it (just now thought about it), but one idea is to blank the placeholder whe

[2021-09-22 20:35] domaingood commented on #5243
@stpaultim after new review I dont find any link as CSS @import
view-source:https://backdropcms.org

It maybe fixed.

[2021-09-22 20:55] klonos commented on #5242
I really like the Olivero theme a lot too and find it very modern. ...there's been an enormous amount of work from the Drupal community to build this theme, and we could/should leverage it. Having said that, I agree with @indigoxela and @stpaultim that it seems like a lot of effort to port it, since it is built for D8/9+, using technologies like twig etc.

Here's what I think should happen:
1. Som

[2021-09-22 21:04] klonos commented on #5241
Similar comment as in https://github.com/backdrop/backdrop-issues/issues/5242#issuecomment-925323271:

I really like the Claro theme a lot too and find it very modern. ...there's been an enormous amount of work from the Drupal community to build this theme, and we could/should leverage it. Having said that, I agree with @indigoxela and @stpaultim that it seems like a lot of effort to port it, sinc

[2021-09-22 21:40] stpaultim commented on #5243
@domaingood - Thanks for checking back on this. And thanks for raising the issue, I learned a few things while looking into this myself.

[2021-09-22 21:52] olafgrabienski commented on #1728
No problem, I can wait (and use a patch in the meantime). Or could it also be considered as task?

[2021-09-22 22:02] olafgrabienski commented on #5249
@philsward It's a recommendation for "readable interfaces" in general.

[2021-09-22 22:08] klonos commented on #4650
That's one of the interesting this I'd like to work on ...I'll see if I can whip up a PR over this coming weekend, or if not, then soon as I can.

[2021-09-22 22:23] stpaultim commented on #4903
Actually, this is on the agenda for the meeting tomorrow (Sept 23). I'd like to do a quick demo of the current PR and have some discussion about how to move forward with this PR and/or other ideas for default content and or changes to the appearance of the front page. If you have thoughts about this issue and are not able to attend the meeting, please comment here in Github when you get a chance.

[2021-09-22 23:15] bugfolder commented on #4903
I'll put in a plug for https://github.com/backdrop-ops/backdropcms.org/issues/808: making it easy/possible to put status messages above the home page hero block.

[2021-09-23 01:59] klonos commented on #3992
That's a good idea/point 👍🏼

[2021-09-23 07:06] indigoxela commented on #1728
I've left a question on the PR. Unfortunately @gifad isn't around anymore to explain, so maybe someone else can. If so, please do.

[2021-09-23 07:23] robertgarrigos opened #5251 "broken html at custom blocks admin page"
Since I updated to 1.20.0, my custom blocks admin page is broken. It happens with all my updated sites which already had custom blocks in it, but NOT the ones without, even if I add them now:

![Cursor_and_Custom_blocks___lluitanoviolenta_cat](https://user-images.githubusercontent.com/105581/134468583-1972e7d3-479d-49f0-be39-c58502dcec3a.jpg)

This happens with seven but also with basis as admin t

[2021-09-23 07:41] indigoxela commented on #5251
This looks weird! I bet, you tried to flush caches several times, right.

I'm not using custom blocks very often, but none of my sites shows such a broken table after updating. And - as far as I know - [1.20.0](https://github.com/backdrop/backdrop/releases/tag/1.20.0) didn't change anything regarding custom blocks.

Could you inspect your config directory? For what I see, the same blocks get repea

[2021-09-23 07:43] indigoxela commented on #5251
Oh, and another question: did you update from 1.19.3 or an older version?

[2021-09-23 14:56] indigoxela commented on #5250
Played around a bit - Ajax isn't my dojo.

Interesting comment for [function ajax_base_page_theme()](https://github.com/backdrop/backdrop/blob/1.x/core/includes/ajax.inc#L422)

... which is exactly why I think switching the theme when loading a dialog is a bug.

The switch happens in function function ajax_render(), where the correct css files ship with `$_POST['ajax_page_state']`, but all of a su

[2021-09-23 15:32] klonos opened #5252 "Do not use t() for the message in SimpleTest assertions"
As mentioned here: https://www.drupal.org/docs/7/testing/assertions

I'm assuming that there is a reason for this (most likely related to test performance/speed).

I've run this regex across our codebase, and have found multiple places where we actually use `t()` for assertion messages:

`\$this->assert.*\(.*,\st\('.*`

We should clean that up.

[2021-09-23 15:32] klonos commented on #5252
@indigoxela that's something that we should seek to add to our linting 😉

[2021-09-23 18:05] klonos commented on #5252
The regex I used does return some false positives, but I've had a first pass, and have reduced the results from 335 to only 74 now. Here's a PR with this first pass: https://github.com/backdrop/backdrop/pull/3752

These remaining 74 regex hits are most likely false positives, but I'll tweak the regex to try to exclude those. We'll need the right regex for our linting anyway.

[2021-09-23 18:37] klonos commented on #3168
OK, so here's what I think should happen then:
- Decouple the sending of project usage stats from the Update module, and offer a setting in `admin/reports/updates/settings` to disable sending usage stats, without disabling the Update module (this issue here).
- Have the standard installation profile always enable the Update module and the sending of update stats, and remove the entire "Update noti

[2021-09-23 19:55] klonos commented on #5245
It seems that the Coder version that we are installing via https://packagist.org/packages/backdrop/coder is being pulled from https://github.com/serundeputy/coder. Should we move that to another community-controlled repo? There currently are:
- https://github.com/backdrop-contrib/coder which points to:
  - https://github.com/backdrop-contrib/coder_review
  - https://github.com/backdrop-contrib/cod

[2021-09-23 20:55] quicksketch commented on #5245
I think could side-step questions about composer for now by downloading the latest coder release zip file, then caching the downloaded file per https://docs.github.com/en/actions/advanced-guides/caching-dependencies-to-speed-up-workflows

[2021-09-23 21:38] jenlampton commented on #1728
Other than the issue with references_dialog (which looks like it may have a simple fix?) do we have any valid use cases for this change? Before we add a new feature to core, I'd like to be sure it meets the 80% use-case (of it it is needed to make contrib alternatives possible -- has there been any attempt to do this in contrib?)

I worry when I see an issue like this that it's something that may

[2021-09-23 23:12] klonos opened #5253 "Enable telemetry module on new installs (in 1.21.0)"
This is part of the #5231 meta.

I think that we should tackle the following items here:
- [x] Enable telemetry module on new installs
- [x] Add easy opt-out to disable telemetry module
- [ ] Add Admin Dashboard block to telemetry module

[2021-09-24 01:57] alanmels opened #5254 "Dashboard isn't available after enabling"
**Steps To Reproduce**

To reproduce the behavior:

1. Disable the module
2. Now enable the module and go to `admin/dashboard` just to see "Page not found" notice.

**Expected behavior**

- Disabling the module does work correctly, however leaving the Dashboard menu item in the Toolbar. So ideally the menu item also should be disabled.
- Enabling the module should bring the functional Dashboard pa

[2021-09-24 03:33] alanmels opened #5255 "Default layout page broken if Basis set as administration theme"
**Steps To Reproduce**

To reproduce the behavior:
1. Go to 'admin/appearance' and set Basis as administration theme.
2. Go to 'admin/structure/layouts/manage/default' and you will see the page is broken.

![Screen Shot 2021-09-23 at 10 32 46 PM](https://user-images.githubusercontent.com/56604405/134614033-13f9f16a-e071-4d32-8d77-c15208169d51.png)

**Expected behavior**

Since Basis theme is the d

[2021-09-24 04:28] klonos opened #5256 "Telemetry report: Link to the "Telemetry" tab of each project in backdropcms.org"
This is part of the #5231 meta.

We should link to pages like https://backdropcms.org/project/backdrop/telemetry from the Telemetry report page at `admin/reports/telemetry`.

[2021-09-24 06:14] indigoxela commented on #5245
Regarding the coder repo: note the difference between coder (by @serundeputy) and the fully blown module coder_review, which contains lots of stuff we don't need, but does not take care of installing the phpcs dependency (correct version 1.5.x).

That's why composer has advantages here.

Regarding caching: I can copy/paste the setup from [i18n](https://github.com/backdrop-contrib/i18n/blob/1.x-1.x

[2021-09-24 06:22] indigoxela commented on #1728
It doesn't have a simple fix. To my understanding using the ajax dialog requires a lot of rewrite.

It's not a 80% use-case but it's something that was easy with Drupal 7 and isn't easy at all with Backdrop.

There aren't easy ways to achieve that. That's why I support adding this simple method.
Honestly, what's wrong with providing a simple way to skip the layout wrapper? I don't get the problem.

[2021-09-24 06:30] indigoxela commented on #5255
Hey @alanmels, welcome back!

Yes, Basis isn't working well when used as admin theme, that's a known problem.

We have this [meta issue](https://github.com/backdrop/backdrop-issues/issues/2653) which tries to provide an overview of open tasks.

[2021-09-24 06:35] indigoxela commented on #5254
Nice catch, and confirmed. When disabling the module, the layout gets disabled, but when enabling the module again, the layout isn't enabled.

[2021-09-24 06:40] indigoxela commented on #5252
I'm no maintainer of our linting rules, I'm just trying to make them usable in our Github Actions. :wink: Updating our rulesets is a different task.

[2021-09-24 06:42] jenlampton commented on #1728
Nate spotted a tiny mistake in the module that was causing the problem (he mentioned it in the weekly meeting today -- I'm not sure if he's gotten around to posting a comment yet, but he did a screenshare where he pointed out what needed to be fixed).

[2021-09-24 06:53] indigoxela commented on #1728
Does this mean, this PR is rejected? Or is the whole issue rejected? Please explain.

If it's the approach - would a different approach have any chance? And why is there such a resistance against an easy way for layout-less output? It doesn't have to be like the currently available PR. Can @docwilmot explain the "danger"?

[2021-09-24 06:55] jenlampton commented on #1728
My resistance is only because we already have an easy way for layout-less output in core.

[2021-09-24 06:56] indigoxela commented on #1728
OK, can you give some simple examples, please?

[2021-09-24 07:02] jenlampton commented on #1728
Try this? https://youtu.be/vM0tIjF6Wgk?t=390 (my youtube link skills are not great...)

[2021-09-24 07:07] indigoxela commented on #1728
A link to the weekly meeting? Can't you simply provide some lines of code as example?

[2021-09-24 07:16] indigoxela commented on #1728
OK, the "simple" solution is to add a specially crafted $_SERVER variable in an ajax POST request? Not impressed.

Anyway, giving up here. :wink:

[2021-09-24 07:26] indigoxela commented on #4342
This is a really annoying bug, especially with longer node forms or comment threads.
I can't fix it, but I could advocate. Is anyone able to work on this bug?

[2021-09-24 07:54] quicksketch commented on #1728
Sorry I started posting a comment here earlier but didn't finish it before weekly meetings. What References Dialog had been doing in the past (and currently) is manipulating the global `$_SERVER` variables to suppress layouts. What it should have been doing instead is making an HTTP request that specifies headers that Backdrop considers to be a non-typical HTTP request.

Line [63 of `references-di

[2021-09-24 08:09] olafgrabienski commented on #5254
For this part there is already an issue, see #3888.

[2021-09-24 09:06] indigoxela commented on #1728
@quicksketch many thanks for that example (also linked it in the module issue, so they can proceed).

Now back to core. :wink:

This feels sort of hackish - it *is* html, claiming that it isn't, only to get rid of the layout wrappers seems odd to me. (Or at least, the function name is misleading then.)

Another thought: it's relatively easy to bypass the layout wrappers when using links with speci

[2021-09-24 14:30] laryn commented on #414
It still needs work and further feedback but I started reworking @serundeputy's PR from ~3 years ago here:
https://github.com/backdrop/backdrop/pull/3753

Please help if interested :sweat_smile:

[2021-09-24 14:37] laryn commented on #4342
I also am not certain how to approach it but advocating is a good idea to get it on the agenda and discussed :+1:

[2021-09-24 15:34] alanmels commented on #5255
Hi @indigoxela, thanks for pointing to the meta issue. I'm closing this one in favor of that one.

[2021-09-24 15:34] #5255 closed

[2021-09-24 17:02] herbdool commented on #1728
I've fixed the PR a bit. In my testing it works.

I think most people find this useful, but just wanted to add another possible use case. It might help with https://github.com/backdrop/backdrop-issues/issues/4410 - perhaps have an option to just suppress the layout altogether on the login page.

BTW, setting the header in `$.ajax` didn't change anything for me, so might require a bit more investig

[2021-09-24 21:56] jenlampton commented on #4410
Hm, I'm not sure I like including the design changes here. Can we tackle that in a follow-up issue?

[2021-09-25 08:26] indigoxela commented on #5255
I think, closing was actually not necessary.

The other issue is a meta issue, which should provide an overview. If you plan to file a PR for admin/structure/layouts/manage/default display, it's easier to relate it to this issue here - a merge will close the issue and that's not what we want for the meta issue, there's a lot more work to do re "Basis as admin theme". :wink:

[2021-09-25 19:15] bugfolder commented on #4868
Based on PR https://github.com/backdrop/backdrop/pull/3492, I've submitted PR https://github.com/backdrop/backdrop/pull/3754 with these differences:

* Use the new `details` element instead of a fieldset. (H/T @klonos )
* Some changes in wording, in particular noting difference between system path and aliases.
* Also changed wording under the assumption that the formatting changes in PR https://gi

[2021-09-25 20:27] domaingood commented on #5243
view-source:https://tuhin.info/

@import url("https://tuhin.info/core/misc/normalize.css?r00bfa");
--
  | @import url("https://tuhin.info/core/modules/system/css/system.css?r00bfa");
  | @import url("https://tuhin.info/core/modules/system/css/messages.theme.css?r00bfa");
  | </style>
  | <style media="all">
  | @import url("https://tuhin.info/core/modules/layout/css/grid-flexbox.css?r00bfa");
  |

[2021-09-25 21:45] docwilmot opened #5257 "Allow filtering tests and display class name for each test"
Just spent a few wasted minutes. `TokenNodeTestCase()` failed in a test, so I want to re-run it locally on my PC. But in the test list in the UI, which one is `TokenNodeTestCase()`?
[code]
This required me to go to the API site, search for `TokenNodeTestCase()`, figure out that its coming from Simpletest, go find `simpletest.test.info` (after wrongly checking `node.test.info` and `token.test.info`

[2021-09-26 03:50] herbdool commented on #5210
I should add that I came across this issue when I was thinking about porting https://www.drupal.org/project/passwordless. Seemed like a reasonable improvement though I understand how the workflow needs to be just right.

[2021-09-26 04:43] stpaultim commented on #5243
@domaingood - Don't these @import links go away when you go to `admin/config/development/performance` and turn on "Aggregate and compress CSS files."

I believe that the best practice is to enable "aggregate and compress CSS file." I assume that is in part to deal with this problem.

Turning that setting off is largely to help during development so that it's easier to find css files.

Truthfully,

[2021-09-26 05:00] philsward commented on #5210
I wouldn't have a problem with core having this provided there is a setting to enable/disable this check for the given site.

Running an ecommerce store, I do not require email verification for conversion purposes. It would be nice however, to confirm emails after the fact though (if changed).

I dunno, I'm on the fence with it being core or contrib. I wouldn't complain if it were in core but I al

[2021-09-26 05:50] stpaultim commented on #2626
This would solve one of my growing pet peeves. I don't care if it's in contrib or core, but I'd really like something like this. I'd work on a contrib module to get it started, but I'm not sure how. Does anyone want to show me?

I'm likely to bring this up in a future Design/UX meeting and either push for this in core or seek help creating a contrib solution.

At a minimum, I'd like a quick link t

[2021-09-26 19:07] domaingood commented on #5243
@stpaultim @jenlampton So when "Aggregate and Compress CSS files" on then we don't use "@import url" at all. can we remove import url.

[2021-09-26 20:59] stpaultim commented on #5243
@domaingood - I can't speak to the question of whether or not is would be possible to eliminate the use of @import completely.

This is what I can say. Backdrop provides two modes for handling css files.

1) Higher performance mode with "Aggregate and Compress CSS files" active. In this mode, we are not using @import (as far as I can see).
2) We can turn off "Aggregate and Compress CSS files" duri

[2021-09-26 23:38] philsward commented on #2626
My thoughts on this is to redesign how and what the menu does.

Leave The top menu for site related tasks, but add a left menu that handles page specific tasks. I know it's a lot to ask, but copy the essence of how WP handles their UX which I think is why so many people find WP easy and Drupal/BD difficult.

I envision getting rid of tabs like View and Edit and adding them to a left menu, then pul

[2021-09-26 23:58] jenlampton commented on #4868
That's the right thing to do. If the URL changes in the future a redirect will be created.

[2021-09-27 01:49] philsward commented on #3939
Agree we need this in a bad way.

I don't like the idea of deleting and uninstalling at the same time which means we need a new tab to deal with uninstalled modules that are still registered to the system. I too am not a fan of the increased workflow as @stpaultim pointed out, but I have a feeling it can't be avoided, but can be lessened.

I would propose having two buttons at the bottom of the Un

[2021-09-27 02:09] domaingood commented on #3939
I dot agree with this for security issue. no need to delete bottom. If need delete they can via from file manager via FTP or other mathod via server.
I would propose having two buttons at the bottom of the Uninstall page

[Uninstall] [Uninstall and Delete]

[2021-09-27 05:32] findlabnet commented on #3939
@philsward

There are only two such places: the system directory "tmp" and "files" (in Drupal / BD under the control of a web server).
But open the entire file system to the web server?
And no, I don't use the Project Installer at all.
This is just my opinion / decision.
Although I could be wrong.

[2021-09-27 05:51] philsward commented on #3939
@findlabnet no I think your concerns are warranted and if you want to lock your server down, that is your call.

I think this problem can be approached from a security and a good UX standpoint though. We just need to figure out what that will look like.

[2021-09-27 06:04] indigoxela commented on #5257
Oh, a third person struggling with the output. :wink:

@docwilmot you might want to share your thoughts in this previous issue: #5236

[2021-09-27 06:19] herbdool commented on #5080
Makes sense to me. I've tested and reviewed. Looks all good.

[2021-09-27 08:17] indigoxela commented on #5245
If I'm getting it right, we are stuck here because of concerns regarding the repo for our coding standards? Correct me if I'm wrong.

Regarding composer: I'd like to defend my approach. Having the composer.json in the main directory might be confusing for people - this file is really only needed for GHA, so the .github/misc directory is the better place for it.

Regarding caching: Note my previous

[2021-09-27 09:33] indigoxela commented on #5202
Unfortunately this regression breaks [i18n tests](https://github.com/backdrop-contrib/i18n/pull/83/checks?check_run_id=3718606485)

Obviously that modules requires locale to be on. No chance for a workaround other than patching core for the i18n test runs.

Any ideas for a clean solution?

[2021-09-27 10:10] indigoxela commented on #5202
Wait, no, false alert. It wasn't this problem causing the failures, but just the recent button text changes. All good, sorry for the noise.

[2021-09-27 10:38] olafgrabienski commented on #1728
@herbdool Thanks for updating the PR. I've applied the changes locally, they work for me as well.

I guess however, the PR has to be rebased (is this the right term?), because `layout.module` changed since PR creation in 2019 by @klonos. E.g, you find `return call_user_func_array('_layout_page_access', $args);` which is directly before the main PR change in [line 536 of the PR](https://github.com/

[2021-09-27 15:54] bugfolder commented on #2626
To give people something to look at (and/or throw rocks at), I've put together [PR 3756](https://github.com/backdrop/backdrop/pull/3756) that adds a contextual links menu to the top right of the current layout. Currently, it only contains links to edit the layout (not the theme), but if folks think that we should add more links for the theme, etc. (as in @klonos's [comment above](https://github.co

[2021-09-27 17:04] docwilmot commented on #2626
First rock: this shouldnt be added to `layout_route_handler()`; its probably best in `layout_preprocess_layout()`.

[2021-09-27 17:31] bugfolder commented on #2626
I confess I'm puzzled by that. To add the contextual links, we need to wrap HTML stuff _around_ the layout. `layout_preprocess_layout()` creates/alters the variables that get rendered _within_ the layout template, but I don't see how to specify a variable that results in wrapping stuff around the rendered template. Can you amplify?

The docs for `layout_route_handler()` describe it as:

[code]

Si

[2021-09-27 18:54] alanmels opened #5258 "CKEditor occasionally adds unnecesary markup to entered or edited content"
**Description of the bug**

Saving a node on a Bakcdrop website with CKEditor enabled triggers automatic adding unnecessary markup in the end of the submitted content.

**Steps To Reproduce**

To reproduce the behavior:
1. Make sure CKEditor is enabled (which is by default, but just in case if it was disabled).
2. Go to any node > Edit > Save.
3. Check HTML-code of the page and you will see additi

[2021-09-27 19:18] bugfolder commented on #2626
OK, it looks like I can add a prefix/suffix to the renderer that's in the `$variables` array, so [here's a new PR](https://github.com/backdrop/backdrop/pull/3757) that puts everything in `layout_preprocess_layout()`! (Still has the CSS issue, still solicit suggestions on that one.)

[2021-09-27 19:52] olafgrabienski commented on #5258
Do you use the Simple Translate browser add-on? There's an issue in their queue which describes a similar behavior: https://github.com/sienori/simple-translate/issues/162

[2021-09-27 20:22] jenlampton opened #5259 "when form API 'text_format' element is hidden by #states, Formatting options still visible"
**Description of the bug**

If you set up `'#type' => 'text_format'` field on a form, and try to apply `#states` to it to show/hide it, things do not work as expected.

**Steps To Reproduce**

To reproduce the behavior:
1. Place the following code into a form (custom module, or existing form):
[code]
2. Toggle the checkbox on form...

**Actual behavior**
![image](https://user-images.githubusercont

[2021-09-27 20:23] olafgrabienski commented on #2626
I don't have a solution yet, but wanted to mention the reason for the difference. In contrast to *Seven*, the *Basis* theme puts a padding-top and a negative margin-top to the layout, see https://github.com/backdrop/backdrop/blob/1.x/core/themes/basis/css/layout.css#L26:

[code]

[2021-09-27 20:25] jenlampton opened #5260 "[UX] Custom Block admin listing broken"
**Description of the bug**

The admin listing for blocks (admin/structure/block) is not functioning properly. It appears the whole table is duplicated for each block?

<img width="1207" alt="Screen Shot 2021-09-27 at 1 24 49 PM" src="https://user-images.githubusercontent.com/397895/134979911-5297a957-64c0-4f92-8e3b-52504821d9b0.png">

**Steps To Reproduce**

To reproduce the behavior:
1. Go to adm

[2021-09-27 20:28] olafgrabienski commented on #5260
Weird! Duplicate of https://github.com/backdrop/backdrop-issues/issues/5251?

[2021-09-27 20:30] bugfolder commented on #2626
Thanks, I just found that, went to write about it and saw you'd beat me to it! That's exactly what caused the problem. Removing those two lines fixes the issue in Basis, and, as far as I can see, Basis renders perfectly well without it, since the CSS in the admin_bar module already makes appropriate room for the admin bar.

Anyhow, I've removed that line from Basis and removed the CSS tweak from t

[2021-09-27 20:30] jenlampton commented on #5260
yes :( going over there...

[2021-09-27 20:30] #5260 closed

[2021-09-27 20:33] jenlampton commented on #5251
1.20.0 consolidated the labels and machine names of many admin tables which included a rewrite of the markup that generated the block listing. It appears that the change also included an inadvertent change that also added columns for each row to the previous row, causing these display issues.

One-line change in PR posted for review :)

[2021-09-27 20:35] bugfolder commented on #5251
dpm() is still in the PR.

[2021-09-27 20:37] jenlampton commented on #5251
hah! thanks :) Updated the PR.

[2021-09-27 20:39] bugfolder commented on #5251
Reviewed and tested. LGTM.

[2021-09-27 23:22] stpaultim commented on #2626
@bugfolder - Thanks. This is great and serves exactly what I've been interested in for a long time.

In previous discussions, there has been some objection to this idea on usability grounds and the potential to confuse users. I believe that the fear is that users will be unclear about where they are being taken and not understand the implications of what they are changing. I don't quite see this p

[2021-09-27 23:30] stpaultim commented on #5251
This seems to meet the criteria. https://backdropcms.org/user-guide/adding-milestones-to-issues

Added this to 1.20.1 milestone

[2021-09-27 23:30] bugfolder commented on #5208
Code reviewed and tested on Tugboat. LGTM.

[2021-09-27 23:40] bugfolder commented on #2626
On the usability issue, I have really liked contextual menus on Views, teasers, blocks, etc. The idea that I want to change "this thing here" and if I hover over the thing I want to change, there's the gear icon to change it just seems really helpful. And we already have contextual links on all the blocks in a layout (for those with permissions to see them); I don't think one more set appreciably

[2021-09-28 00:42] bugfolder commented on #2626
It might help them for you to disable the Contextual module upon site delivery. Or disable specific permissions, like "administer layouts" (which would take away this contextual menu).

There is a separate issue of whether there's a better admin interface for less-savvy administrative users, and I think that's worthy of discussion and investigation. But as long as we're making use of Contextual mo

[2021-09-28 04:11] alanmels commented on #5258
Olaf, you nailed it. I totally missed searching what the extra markup code was showing to me. Closing this as it's not a Backdrop issue. Thanks a lot!

[2021-09-28 06:20] indigoxela commented on #5251
Code looks good to me. It simply reverts the unintentional removal of a single (yet important) line in https://github.com/backdrop/backdrop/pull/3710/files

RTBC!

[2021-09-28 06:49] indigoxela commented on #5259
The problem is that text_format has a theme wrapper (text_format_wrapper), which contains the form element and the filter fieldset. The state only triggers the form element, not the filter element.

I see no easy way to change that without breaking changes.

[2021-09-28 09:35] olafgrabienski commented on #2626
Unfortunately, there *is* a side-effect regarding the footer (cf. [code comment](https://github.com/backdrop/backdrop/blob/1.x/core/themes/basis/css/layout.css#L15)), visible on pages with little content which would be less high than the browser window if the layout wasn't set to a height of 100vh. On such pages, without those two lines, a part of the footer disappears 'below' the window. So, I gu

[2021-09-28 15:30] laryn commented on #414
An example of an email that Wordpress sends after an auto-update, for reference:

SUBJECT:

BODY:

https://wordpress.org/support/forums/

[2021-09-28 16:25] bugfolder commented on #2626
@olafgrabienski, thanks for pointing out the effect of that CSS. (The CSS comment was not clear to me; your explanation made it clear.) I've done some updates to the PR:

* I added the destination to the links.
* To address the positioning issue, I made changes to the Basis CSS that are specific to the circumstances of (a) having the admin bar, (b) having layout contextual links present. So in all

[2021-09-28 23:33] stpaultim commented on #2626
@bugfolder - I like the addition of the layout name. I think that does improve the usability of this feature, because it helps the user understand where they are going and what they are changing. It also provides users with more information about where they are and which layout is controlling the page they are on.

I would love for this same information to be available to a user in something other

[2021-09-29 00:21] bugfolder commented on #2626
Yeah, unfortunately I found a puzzling incompatiblity with the Seven theme. If you visit the page /admin/structure/layouts (or any similar admin page), the existing contextual links trigger (gear icon) for the breadcrumbs block is shifted downward by 20 pixels, so that it vanishes when you try to hover over it (which is really annoying!). This PR doesn't do anything to the existing contextual link

[2021-09-29 00:39] philsward opened #5261 "[A11Y] Change color of the Views hidden fields for the Seven theme"
**Description of the need**

Backdrop adds a [hidden] nomenclature to the end of a hidden field, however it still gets lost in the mix if there are a lot of fields, and the field names are long and wrap.

Example
![image](https://user-images.githubusercontent.com/3436110/135183668-d8204395-aa61-4d98-a320-94e1bed64e6f.png)
vs
![image](https://user-images.githubusercontent.com/3436110/135184665-6013

[2021-09-29 01:21] bugfolder commented on #2626
...And that is happening because of a bug in the Contextual module.

If one contextual links region encloses another, then Contextual pushes the child contextual links downward by 20px so that the triggers won't overlap each other. However, if the child region happens to be shorter than 20px, then the child trigger gets pushed out its region, so it vanishes when you attempt to hover over it. In Se

[2021-09-29 01:35] bugfolder commented on #5261
I like the idea of providing visual distinction (versus more words).

Color contrast on the gray zebra striping seems low for this particular color choice. Also wonder about inconsistency of styling hyperlinks: light gray suggests something disabled; it might not be obvious that those elements could still be clicked/tapped to open.

Just spitballing more ideas: would an icon convey the exclusion a

[2021-09-29 02:04] philsward commented on #5261
@bugfolder the icon idea isn't a bad thought.

The color itself doesn't concern me as much as just being able to distinguish hidden vs shown.

I played with lighter colors and it became difficult for me to even read the hidden text. Darker or black seemed out of place to me but that's my personal taste.

[2021-09-29 18:10] jenlampton opened #5262 "Visibility condition for node ID does not throw error when non-integer"
**Description of the bug**

I just watched someone enter node/4 into the ID box, and was able to save the block, and then save the layout.

**Steps To Reproduce**

To reproduce the behavior:
1. Create a new layout at node/%
2. Add a new block to the right sidebar
3. Add a visibility condition
4. Enter `node/1` into the ID box (instead of 1)
5. Save the block configuration
6. Save the layout config

[2021-09-29 18:54] jenlampton commented on #2626
I'm ambivalent about this living in core. I can see how it would be useful, but I'm comcerned about the impact it will have on themes (and perhaps other layouts) on existing sites. I think an admin-bar tool would be less disruptive than a contextual link for the whole layout.

[2021-09-29 19:07] jenlampton commented on #2620
@klonos I love these suggestions, but each one should have its own issue (linked from this meta) so that they can be tackled one-by-one.

[2021-09-29 19:13] olafgrabienski commented on #5262
Sounds familiar ... I guess this is a duplicate of #2668 😃

[2021-09-29 19:28] bugfolder commented on #5262
PR submitted. Since it affects EntityIDLayoutAccess, this also fixes the same issue with respect to User IDs.

[2021-09-29 19:58] stpaultim commented on #4342
I also find this frustrating. I thought I was told once that this was expected behavior, which has prevented me from whining too loudly. But, every time it happens I am frustrated and can't believe that this is the best option available.

[2021-09-29 20:16] bugfolder commented on #2626
Yeah, I understand the potential impact on themes. Because of the extra div wrapper, any CSS selector like `body > .layout` would be broken.

But it sure feels like a missing piece from the current suite of Views, Blocks, Node, etc., contextual links, and given the new-ness of Layouts to folks coming from D7, it seems like having this in front of builders (at least, those who are used to contextua

[2021-09-29 21:06] stpaultim commented on #2626
I agree that the lack of something like this is a big oversight. At the same time, I don't want to break existing sites, most of which probably have "contextual menus" enabled, eve if they don't use them (in my opinion).

The original idea for THIS SPECIFIC issue was to put this information in the admin menu. I think that would be better UX (for most users) and it appears as if it would be less li

[2021-09-29 21:40] olafgrabienski commented on #2626
I'd prefer classical contextual links over something in the admin-bar (but I don't know how to address the CSS issues in a good way). I'm however open to an admin bar approach. As far I can see, we didn't discuss how that solution would look like, did we?

[2021-09-29 21:53] Egarbeil commented on #5251
I applied this fix to 2 sites that have custom block lists - It fixed the issue with no problems on one, but I'm still having the issue on the other site - it's a big problem. This is a live site and those custom blocks are updated often (at least weekly).  HALP!
![mhs-custom-block-list](https://user-images.githubusercontent.com/41450710/135353888-750241a6-125a-42d9-8e7f-09205189f46e.jpeg)

[2021-09-29 22:08] stpaultim commented on #5251
@Egarbeil - it looks like there might be a type in the block file you provided.

I see this `$row = @array();`

Should be

`$row = array();`

[2021-09-29 22:18] Egarbeil commented on #5251
Tim, not sure why that's there - it's not in the file that's on the site.  Re-uploading the file now.  I'm still having the issue (after clearing caches on browser and site
[block.admin.inc.txt](https://github.com/backdrop/backdrop-issues/files/7255344/block.admin.inc.txt)
).

[2021-09-29 22:50] jenlampton opened #5263 ""Is the home page" visibility condition does not show blocks unless path is empty"
**Description of the bug**

The "Is the home page" visibility condition can't tell it's on the home page when a node (specified as front page) is accessed via its alias, instead of via the bare domain.

**Steps To Reproduce**

To reproduce the behavior:
1. Set the site home page to `node/2`
2. Add a block to the default layout, add vis condition "Is the front page".
3. Visit `/about` -- the block

[2021-09-29 23:18] Egarbeil commented on #5251
Update - out of grasping at straws.  I deleted line 22 completely, re-saved the file, and then re-typed it in manually.  That seems to have fixed the issue.  Thanks!   All 10 custom blocks appear correctly.

[2021-09-29 23:25] jenlampton commented on #5251
I'd like to see this get into 1.20.1 before we push to Pantheon today. Ahem @quicksketch @laryn @herbdool or anyone else!

[2021-09-29 23:39] #5262 closed

[2021-09-29 23:46] jenlampton commented on #2668
Closing https://github.com/backdrop/backdrop/pull/3759 in favor of this issue, since it was older. Thanks @bugfolder for the quick PR!

[2021-09-29 23:54] jenlampton commented on #2668
I've provided an [alternate PR](https://github.com/backdrop/backdrop/pull/3760) that changes only 2 lines, But the error messaging is a little different:
<img width="594" alt="Screen Shot 2021-09-29 at 4 50 59 PM" src="https://user-images.githubusercontent.com/397895/135363998-f40bbca8-db57-4a93-8cb4-a806b47d10bc.png">

[2021-09-29 23:58] jenlampton opened #5264 "Fixed: [UX] Clean up English on number form validation failure."
**Description of the bug**

When entering 0 into a field that requires a positive integer, the error messaging reads
`Node NID is must be higher or equal to 1.`

There are several issues with this that should be resolved:
* 2 verbs, `is` and `must be`
* strange phrasing `higher or equal to`.

**Steps To Reproduce**

To reproduce the behavior:
0. apply the patch at https://github.com/backdrop/backd

[2021-09-30 00:09] jenlampton commented on #5264
At some point we changed how the front page path was saved. It used to save the system path so this function didn't bother checking aliases. But when we changed the storage of front-page, we forgot to add the alias checking back.

I'm going to assume there was a good reason for that change (Though I can't think of one, but I couldn't find an issue for it.) So this fixes `backdrop_is_front_page()`

[2021-09-30 01:15] klonos commented on #2668
I prefer https://github.com/backdrop/backdrop/pull/3760 where we leave the validation to the number field type.

[2021-09-30 01:37] klonos commented on #5249
@philsward Drupal/Backdrop core does not offer a way to add placeholder text to fields OOTB. You either need to port and use a contrib module, or add the placeholder attribute via a custom module/theme (that perhaps converts the help text into a placeholder). How are you achieving that?

I see how that may be an issue, but there are solutions available, that can be implemented on the theme level.

[2021-09-30 01:50] klonos commented on #5248
@philsward are you talking about the custom blocks listing in `admin/structure/block` or the "Add block" dialog? If the later, then we already provide means to add a custom admin title for each block (that is never shown to site visitors) + an admin description:

![image](https://user-images.githubusercontent.com/2423362/135372385-451baa3a-b826-4042-8850-67887b4e2809.png)

Doesn't that help organi

[2021-09-30 02:03] #5251 closed

[2021-09-30 02:05] klonos commented on #5250
This affects some contrib that implement `hook_admin_paths()` and/or `hook_admin_paths_alter()`. I recently came across this with https://github.com/backdrop-contrib/diff which has this "Use administration theme" option, which is on by default:

![image](https://user-images.githubusercontent.com/2423362/135373518-b01f00c5-16d2-4ee2-ac4d-7cc0524e833c.png)

That option currently is broken (see https

[2021-09-30 02:06] quicksketch commented on #5251
Thanks folks! I merged https://github.com/backdrop/backdrop/pull/3758 into 1.x and 1.20.x.

This regression was introduced in #3402. We'll get 1.20.1 out soon. Probably tomorrow or Oct 1.

[2021-09-30 02:12] #3415 closed

[2021-09-30 02:15] quicksketch commented on #3415
Thanks @laryn, @indigoxela, @jenlampton and @klonos! I merged https://github.com/backdrop/backdrop/pull/3702 into 1.x and 1.20.x.

[2021-09-30 02:29] quicksketch commented on #2668
I think @bugfolder's PR at https://github.com/backdrop/backdrop/pull/3759 is probably the better fix. As he points out, it's also helpful to validate the associated entity actually exists.

But I think we should do both! It's helpful to use the `type="number"` form element for assistive technologies and keyboards (such as touch devices) that adjust the keyboard based on the element type.

So for n

[2021-09-30 02:41] laryn commented on #4342
@indigoxela and @stpaultim I made a PR based on [this Stack Exchange comment from Nimish Goel](https://stackoverflow.com/a/50086408/4122575).

[2021-09-30 02:50] jenlampton commented on #2668
I like this compromize, the best of both!

[2021-09-30 03:03] quicksketch commented on #4113
I found a slightly weird behavior caused by the current approach. The standard profile directly updates the config of the `layout.layout.default.json` config file, but it doesn't set the layout as overridden. This means that in the UI, it's still considered a "Default" layout out of the box:

![image](https://user-images.githubusercontent.com/100206/135378481-12b1abbb-57db-40d6-8c14-7a60f46fa7bf.p

[2021-09-30 03:08] #5080 closed

[2021-09-30 03:10] quicksketch commented on #5080
Thanks @klonos and @herbdool! https://github.com/backdrop/backdrop/pull/3619 looks great to me. I don't think this requires a change record, since it's only an API addition, not a change. I did add a `@since 1.21.0` docblock line however. I merged this into 1.x for 1.21.0.

[2021-09-30 03:30] philsward commented on #5248
@klonos yes, both areas.

If I create a block, and you also maintain the same site but have no idea what I named the block, how do you find it assuming there are 100 blocks?

That's a generic use-case, but I for one can't remember half the time what I did 5 min ago, let alone the name of a block I created 5 years ago. It's for this reason I sparingly have used blocks on Drupal.

Backdrop is greatl

[2021-09-30 03:37] philsward commented on #5249
@klonos I agree this can be fixed at the theme level, I just don't want to have to fix it for every site and override that theme for every site where it is used, then have to maintain the code base every time basis is updated.

This isn't a personal preference tweak, this is a poor UX tweak.

[2021-09-30 03:47] stpaultim commented on #4113
@quicksketch - Thanks for this feedback. It's useful. I'll have to go back and look at how this is working in core now, because I've been working under the impression that the install profile was the only safe way we could think of to do this. But, your comments make sense and I'm happy to try something else if we can do in a way that is compatible with old sites.

[2021-09-30 04:25] klonos commented on #3888
Odd 🤔 ...I got this working on my local, but all tests are failing.

[2021-09-30 05:59] indigoxela commented on #4342
@laryn wow, I can't belief it - such a simple fix! You're my hero!

[2021-09-30 06:26] findlabnet commented on #4342
Maybe I'm doing something wrong, but now the page jumps **after** inserting (when closing the modal window).

[2021-09-30 06:37] indigoxela commented on #4342
Odd, I can't reproduce that, it works fine here with FF for both, links and images. Which browser are you using?

[2021-09-30 06:44] findlabnet commented on #4342
Google Chrome Version 94.0.4606.61 (Official Build) (64-bit)
Debian/GNU Linux 10.10

[2021-09-30 07:33] indigoxela commented on #4342
Hm. Not reproducible in Chromium 93.0.4577.82 (also Linux). Tested in the Tugboat sandbox.

[2021-09-30 08:19] indigoxela opened #5265 "Trying to switch sorting of redirect table in node form leads to data loss (page reload)"
**Description of the bug**

In node edit form in the vertical tabs there's a table with existing redirects. Trying to switch sorting (by table header) leads to a page reload and all changed data in the node form are lost. Additionally, as the page got reloaded, the active vertical tab got reset to "publishing options".

**Steps To Reproduce**

1. Open a node form
2. Insert text in the body
3. Open

[2021-09-30 08:26] indigoxela commented on #5264
@jenlampton I'm confused. This issue's description is about wording in a form error, but the linked PR does something completely different. Could it be that you linked the wrong PR?

[2021-09-30 08:48] olafgrabienski commented on #4342
Confirmed for Chrome version 94.0.4606.61 on Mac OS 10.15.7.

[2021-09-30 09:04] olafgrabienski commented on #4342
Hm, I was even able to reproduce it in Firefox, at least kind of.

- Edited a post (noted the focus in the Title field)
- Scrolled down to the image field
- Hit "Select existing file"
- Chose an image, and clicked "Insert

Result: image was inserted, page jumped back *nearly* to the top, focus was back in the "Title" field

[2021-09-30 09:13] indigoxela commented on #4342
Ah, the autofocus on the node title field - IMO a different issue (bad UX!), unrelated here.
I can reproduce it in FF, but only if the title field had focus before opening the dialog.

If you make sure that there is **no** focus on the title field, before opening the dialog - does the problem persist on Chrome(ium) 94.0?

[2021-09-30 09:32] olafgrabienski commented on #4342
Oh, I see! In this case, it does not persist, so it was indeed the autofocus.

[2021-09-30 10:35] indigoxela commented on #3583
Another problem: when the node title already has a value (node is not new).

When opening a node form of existing nodes, it's more likely that any of the other fields should get updated (for instance body). The autofocus on the title is pointless or maybe even obstrusive then.

[2021-09-30 12:08] laryn commented on #5265
Related (but different): https://github.com/backdrop/backdrop-issues/issues/2730

[2021-09-30 12:51] laryn commented on #3583
Agreed that the autofocus as we added it in #2625 is not working well across the board. (I really like it on the term name field when adding a bunch of terms in a row, but like @BWPanda I've moved the node title around on the node page in many cases and it's strange to have focus jump there)

[2021-09-30 12:59] laryn commented on #4342
Probably a separate issue, but since focus could be in a title (or other) field without it having been autofocused, should we be giving that type of link/button (in this case the "Select existing file" button) focus manually when clicked?

[2021-09-30 13:12] indigoxela commented on #4342
I agree, this should be a different / new issue.

[2021-09-30 13:21] laryn opened #5266 "Give focus to modal buttons when clicked"
**Description of the bug**

(Pulled out from https://github.com/backdrop/backdrop-issues/issues/4342#issuecomment-931298249)
If an off-screen field (e.g. node title) has focus when a modal button (e.g. "Select existing file" image library modal) is clicked, the page can jump in unexpected ways when the modal is closed. Perhaps we should give these types of buttons focus manually when they are clic

[2021-09-30 13:57] indigoxela commented on #5266
This might make sense, but I didn't test much.

Another options could be to just *remove* the focus from other input fields when opening the library.
It's a bit odd on node forms that clicking on a CKEditor button (image/link) removes the focus from the title input (if it had it), but the image field button does not. :thinking:

[2021-09-30 14:17] klonos commented on #3888
I will need some help here, to figure out why things work perfectly on my local, yet not on the PR sandbox. The code change is really simple: it locates the Dashboard menu item in the database, then hides/unhides it using `hook_enable()` and `hook_disable()` implementations in `dashboard.install`.

Can someone please pull the code from the PR on their local or any test/dev site they may have, and

[2021-09-30 14:45] indigoxela commented on #2730
Another option - open the redirect form in a dialog.

In function redirect_field_attach_form():

[code]
The redirect after form submission could get tricky, though. So I wouldn't assume my example is working without more modifications in that function.

[2021-09-30 14:56] indigoxela commented on #3583
The autofocus on terms forms is cool and totally makes sense to me (as long as no fields are attached to terms, though.)
The autofocus on node forms has some negative side effects.

How about that: only set the autofocus attribute on *new* nodes, but skip for later edits?
That's still no solution for re-ordered fields (title below other fields). I'd assume that a site-builder does that by intentio

[2021-09-30 15:35] olafgrabienski commented on #3583
Agreed! Actually, it was the intention of #2625 to give focus to the **top** field when **creating** content.

[2021-09-30 16:00] #5254 closed

[2021-09-30 16:01] klonos commented on #5039
Lets address this issue in #3888.

[2021-09-30 16:01] #5039 closed

[2021-09-30 17:04] bugfolder commented on #2626
If we go the admin bar route, how about adding an item at admin/structure/layouts/current-layout that takes one directly to the current-page layout? That wouldn't display the name of the current-page layout, though; you'd have to click through to see it, then click back.

It still feels like if we're going to have and use contextual links in core, then a layout contextual links is appropriate. And

[2021-09-30 18:55] jenlampton commented on #2626
I'd like to see a layout contextual link in core for 2.x, but this sounds
like a great (safe) way to add the feature before then :) thanks for the
contrib module, I'll give it a try!

On Thu, Sep 30, 2021, 10:05 AM Robert J. Lang ***@***.***>
wrote:

[2021-09-30 19:02] jenlampton commented on #5264
Probably :(

On Thu, Sep 30, 2021, 1:26 AM indigoxela ***@***.***> wrote:

[2021-09-30 20:33] quicksketch commented on #5245
That's one part. The other:

I had hoped that this work may have been done already in @serundeputy's fork. But alas, no it's still using that old version.

Perhaps we should make a 1.x branch of `coder` that uses PHPCS 1.5.x (like Drupal 7), but immediately branch it into a 3.x version that is build on PHPCS 3.x (3.6.0 being the latest version https://github.com/squizlabs/PHP_CodeSniffer/releases)

[2021-09-30 20:42] quicksketch opened #5267 "Backdrop 1.20.1 Release checklist"
Release scheduled for October 1, 2021 10am - 1pm PT

## Pre-release tasks

- [x] Merge commits
- [x] Create the next bugfix milestone (@quicksketch)
- [x] Move all unfinished issues to the next bugfix release milestone (@quicksketch)
- [ ] Review all closed issues in milestone: (assign to klonos / jenlampton / stpaultim )
  * Issue titles should include a complete, but very brief summary of the pr

[2021-09-30 21:49] stpaultim commented on #5098
@quicksketch - Sorry, I guess I was wrong. This never was RTBC. (I just raised this briefly in dev meeting today).

[2021-09-30 22:08] silverli commented on #5244
### Provide a place to add a heading level 1 (H1) to homepage.

**Description of Issue**: This should contain the topic of the page, such as the name of organization, or their tagline.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/
**Testing Environment/Browser**: Windows Lenovo PC, Chrome Browser v. 94.0.4606.61
**Severity**: P2

**Screenshot:**
![image](https://user-images.

[2021-09-30 22:09] silverli commented on #5244
### Accessibility Severity Legend

## P0
Issue renders the site effectively unusable for a user population - fix or workaround required ASAP

## P1
Issue will create major obstacles and may prevent users from using the site.  Exceptionally skilled and/or savvy users may be able find workarounds but most will not.

## P2
Issue may create moderate to major obstacles to using the site for one or more

[2021-09-30 22:14] silverli commented on #5244
### Issues and Confusion with "You are here" screen reader heading for breadcrumbs

**Description of Issue**: Breadcrumb navigation aria-labelledby name of "you are here" is confusing to screen reader users. They hear "You are here navigation" which sounds strange out of context.
**URL**:  https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/exerci
**Testing Environment/Browser**: Windows Le

[2021-09-30 22:17] bugfolder commented on #2626
Lots of discussion at the 9/30 design meeting about this topic. Decisions coming out of it:

* In general, having contextual links on the layout that tell you what layout you're on are considered good to have.
* There remain concerns about possibly breaking Basis or Basis-like themes or subthemes because of adding HTML wrappers, so it would be desirable to allow users to easily turn this on and of

[2021-09-30 22:31] silverli commented on #5244
### Landmarks Issue: multiple nav elements with unique labels

**Description of Issue**: There are two different nav, or role="navigation" elements on all pages.

When there is more than 1 of the same landmark, there must a distinct and unique label applied to each to help users differentiate between them.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/ and https://pr3750-llnm

[2021-09-30 22:39] silverli commented on #5244
### Place `<main>` HTML landmark around the entire main content area.

**Description of Issue**: Right now, the `<main>` element is not wrapped around all the main content of the page (especially for the homepage). It does not wrap around the first heading of the page, which will be very confusing for screen reader users and could cause them to miss out on this content if they use the skip link at

[2021-09-30 22:53] silverli commented on #5244
### 5. `<footer>` element is misused on the individual articles on the homepage

**Description of Issue**: The `<footer>` element is incorrectly used on the individual `<article>` elements on the homepage. I would recommend using a more semantic `[<time>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time) element instead.
**URL**:
**Testing Environment/Browser**: Windows Lenovo PC, W

[2021-09-30 23:01] silverli commented on #5244
### 6. Repetitive 'read more' links are not optimal for screen reader experience and provide little to no context.

**Description of Issue**: Do not use repetitive link text such as "read more." Screen reader users can scan through the content of the page by pulling up a list of links on the page. If the links only say "read more" but lead to different places, this does not help them to scan the c

[2021-09-30 23:06] silverli commented on #5244
### 7. Place `<article>` HTML landmark around the entire article content area.

**Description of Issue**: Right now, the `<article>` element is not wrapped around all the main article content of a given article or blog page. It does not wrap around the first heading of the page, which will be very confusing for screen reader users.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.q

[2021-09-30 23:21] silverli commented on #5244
### 8. Focus state should be thicker

**Description of Issue**: Based on work in progress WCAG guidelines, we recommend making the focus state 3-4px thick to make it visible for folks with low vision.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/
**Testing Environment/Browser**: Windows Lenovo PC, Windows 10 Pro, Chrome Browser v. 94.0.4606.61, JAWS 2020.12.13
**[Severity](h

[2021-09-30 23:33] silverli commented on #5244
### 9. Main desktop navigation and main mobile navigation are not accessible to screen reader users

**Description of Issue**: Main desktop and mobile navigation is not coded properly for screen reader users.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/
**Testing Environment/Browser**: Windows Lenovo PC, Windows 10 Pro, Chrome Browser v. 94.0.4606.61, JAWS 2020.12.13
**[Sev

[2021-09-30 23:44] silverli commented on #5244
### 10. Pagination component is not as accessible as it could be

**Description of Issue**: Ideally, the pagination component would make use of a little more semantic HTML, such as the `<nav>` element and some ARIA attributes to aid a user in knowing which part of the pagination is currently acitve.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/
**Testing Environment/Browser*

[2021-10-01 00:03] klonos commented on #3888
Finally figured it out! 🎉  ...things were working on my local because I had manually tried disabling the "Dashboard" menu item via the admin UI first (by unticking the "enabled" checkbox under `admin/structure/menu/manage/management/list`). The result of this action is that it adds `'customized' => 1` to the menu item properties. It seems that Drupal 7 and Backdrop core do not allow updating menu

[2021-10-01 00:30] philsward commented on #5249
List of other selectors for various browsers:

https://stackoverflow.com/questions/13183421/how-to-change-placeholder-color-on-focus

[code]

This worked great on a Seven theme override I needed and it gives the UX a feel that is lot more natural. Hope to see this gain some traction for the Basis theme so modules like webform which use placeholders can benefit from it.

[2021-10-01 01:12] docwilmot commented on #5257
No @indigoxela this is not the fault of GHA at all. Your work there is great and well appreciated.

In fact this was the same issue with Zen as well, and is a general issue about difficulty discovering the labels given to tests. For example, again, just now, a fail in `FileSaveUploadTest` happened on GHA. There is no easy way to discover which actual test this is from. Turns out its not in File mo

[2021-10-01 02:12] philsward commented on #933
I think the main problem to solve is exposing the "Title" to the Manage Display area.

I need to reorder the "Title" of a taxonomy vocabulary so it sits below the font awesome icon field I created so I can show an icon in front of the title. Since there is no way to do anything with the title, I have no way of accomplishing this.

Like mentioned before, DS (Display Suite) would expose these and al

[2021-10-01 03:17] philsward commented on #933
Side note, after some digging, @hosef began working on porting DS over to Backdrop. Commits are a bit old and some things aren't working right but at the very least, enabling DS and DS_UI will allow you to manipulate the Title field for a node. I'm getting errors when viewing Taxonomy term pages so it isn't without problems using taxonomy displays but it does work there too and makes for a great s

[2021-10-01 04:28] quicksketch commented on #5236
I filed a stab at solving this problem at https://github.com/backdrop/backdrop/pull/3764

The center of the problem seems to be in `simpletest_script_print()` where we have a switch like this:

[code]

My theory is that GitHub Actions prints error output after all the normal standard output. So one solution would be to pipe `stderr` to `stdout` by appending `&2>1` to the `run-tests.sh` command.

[2021-10-01 04:40] quicksketch commented on #5236
I pushed an additional update which increases the character wrap limit from 80 characters to 120 characters.

[2021-10-01 05:11] quicksketch commented on #5236
The PR solves most of the requested functionality. Here's a current screenshot:
![image](https://user-images.githubusercontent.com/100206/135567767-9f403ae0-60e9-4665-9fc0-3e2c85555874.png)

I'm not sure about removing the class name from each line. Sure it's redundant, but if we increase the line limit to 120 characters, there's no need to be stingy about the column width.

For the message output

[2021-10-01 06:11] philsward commented on #2626
@bugfolder Installed it... Love it.

I haven't had to enable the position option for the Seven theme so yay there but I did for Basis as advertised. Huge win for such a small QoL enhancement.

[2021-10-01 06:12] indigoxela commented on #5236
@quicksketch many thanks for digging into this, this is a *huge* improvement!

One question: when there are several test failures - are they all grouped by test?

[2021-10-01 06:39] indigoxela commented on #2668
Hm, something went wrong with this PR - in contains several unrelated changes from other PRs. Maybe merged instead of rebased?

Also: @bugfolder actually EntityIDLayoutAccess now uses a "number" form API element instead of textfield. That change got merged and already does the validation for positive integer. Another check in validation seems redundant, the only thing needed is to verify that an e

[2021-10-01 07:13] indigoxela commented on #5245
I'm not sure, but the contrib projects using phpcs (how many? I know at least one) use serundeputy/coder together with phpcs 1.5.x...

If there's consensus, that we need our sniffs repo somewhere in backdrop-contrib land, we could start with 3.x right away.
But... the syntax for 3.x sniffs is really different. It might even make sense to fork from Drupal coder (again) and start fresh with that?

R

[2021-10-01 07:50] quicksketch commented on #5236
I don't quite know what you mean here. If what you're asking is: "if a test class contains multiple test methods (prefixed with `test*`) are they grouped by class?" If that's the question, then yes, each class creates it's own group. So repeating the class name is entirely redundant.

Annotating my previous screenshot:

![image](https://user-images.githubusercontent.com/100206/135584469-75ef0097-3

[2021-10-01 08:01] indigoxela commented on #5236
Let me rephrase it... :wink:

If different *test classes* have failures, are they grouped by class ("heading", then related failure listing, next "heading" related failure listing...)?

Your example fails in UserRoleAdminTestCase. What would it look like if, for instance, CommentNodeChangesTestCase also had failures?

[2021-10-01 12:06] laryn commented on #5245
Is this helpful?
https://github.com/backdrop-contrib/coder_review/pull/14

[2021-10-01 13:14] indigoxela commented on #5245
Yes, for sure. Wow, I wasn't aware that @hosef already did a lot of work regarding phpcs compatibility. :+1:

But, wait, right, this would push the PHP version requirement to 5.4+, which means we have to revisit issues like #3992 and/or  #4712. Are we stuck again?

[2021-10-01 13:42] laryn commented on #5245
See also https://github.com/backdrop-contrib/coder_review/issues/12#issuecomment-756364126

[2021-10-01 13:57] indigoxela commented on #5245
We have options:

1. live with the outdated phpcs for now (1.5)
2. create an independent repo for *only the sniffs* - compatible with 3.x, use that in our GHA, and trying to get the module UI working step by step
3. fix everything in backdrop-contrib/coder_review and take that as base for our checks (might take some time, though)

TBH, I wouldn't want the Backdrop Coder Review UI (or module altoge

[2021-10-01 14:34] klonos commented on #5266
The focus should be moved to whichever input/button element was clicked 👍🏼 ...if that is not possible for some reason, the it makes sense to focus either on the parent element, or the element that comes before it (in the later case we may still have some jumping around, but it will be less then taking people to the top of the page).

My 2c.

[2021-10-01 14:49] klonos commented on #4342
I second that 👍🏼 ...thanks for creating #5266 @laryn 🙏🏼

The PR for this is RTBC 👍🏼

[2021-10-01 15:06] klonos commented on #4410
Sure @jenlampton 👍🏼 ...can you please rebase the PR so that we get a fresh sandbox + have the GHA tests run on it?

I will then move the design-related comments in a separate follow-up issue.

[2021-10-01 15:14] indigoxela commented on #3888
@klonos many thanks for working on this. :+1:

The comment by @stpaultim makes me think that we have a wider problem here:

This is correct. Disabling a layout leaves the menu item untouched. Is this supposed to be that way? It seems a bit inconsistent, if I compare it to nodes and their menu items. ... But maybe it *should* be different?

Let's compare following scenarios:

**Node**

- Create a p

[2021-10-01 15:24] indigoxela commented on #5266
Are there other form items in Backdrop, that do not capture the focus when clicked?
Or is it only the image library button?

[2021-10-01 15:29] olafgrabienski commented on #3888
I've also tested the PR, and as far I can see, nothing has changed in comparison to the issue description:

- Go to '/admin/structure/layouts'
- Click on 'Disable Layout' for the Dashboard

Actual behavior: The icon for the Dashboard in the admin menu disappears, but the menu item itself remains

Expected behavior: The menu item for the Dashboard disappears

[2021-10-01 15:37] bugfolder commented on #2668
Wow, yes. Not sure what went awry, but I'll redo the PR.

The check is to avoid giving two error messages for the same error. If we don't do the re-check, then if someone enters "foo" they'll get two error messages: "Node NID is not numeric" and "There is no node with ID 'foo'". They don't need the second error message if the NID itself fails to be a positive integer, and we don't need to spend db

[2021-10-01 16:03] jenlampton opened #5268 "Provide a place to add a heading level 1 (H1) to homepage."
### 1. Provide a place to add a heading level 1 (H1) to homepage.

**Description of Issue**: This should contain the topic of the page, such as the name of organization, or their tagline.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/
**Testing Environment/Browser**: Windows Lenovo PC, Windows 10 Pro, Chrome Browser v. 94.0.4606.61
**[Severity](https://github.com/backdrop/bac

[2021-10-01 16:05] jenlampton opened #5269 "[A11Y] Fixed: Issues and Confusion with "You are here" screen reader heading for breadcrumbs."
## Issues and Confusion with "You are here" screen reader heading for breadcrumbs

**Description of Issue**: Breadcrumb navigation aria-labelledby name of "you are here" is confusing to screen reader users. They hear "You are here navigation" which sounds strange out of context.
**URL**:  https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/exerci
**Testing Environment/Browser**: Windows Len

[2021-10-01 16:06] jenlampton opened #5270 "[A11y] Landmarks Issue: multiple nav elements with unique labels"
### 3. Landmarks Issue: multiple nav elements with unique labels

**Description of Issue**: There are two different nav, or role="navigation" elements on all pages.

When there is more than 1 of the same landmark, there must a distinct and unique label applied to each to help users differentiate between them.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/ and https://pr3750-l

[2021-10-01 16:12] jenlampton opened #5271 "[A11Y] Place <div role="main"> HTML landmark around the entire main content area."
### 4. Place `<div role="main">` HTML landmark around the entire main content area.

**Description of Issue**: Right now, the `<div role="main">` element is not wrapped around all the main content of the page (especially for the homepage). It does not wrap around the first heading of the page, which will be very confusing for screen reader users and could cause them to miss out on this content if

[2021-10-01 16:14] klonos commented on #3888
You are both absolutely right @indigoxela and @olafgrabienski ...I misread the issue title as "when the Dashboard **_module_** is disabled" (which was what #5039 and #5254 were about) ...whereas this is about disabling the Dashboard **_layout_**. My PR fixes things when enabling/disabling the Dashboard _**module**_.

Anyway, I still think that we can fix everything in a single place...

While I wa

[2021-10-01 16:14] jenlampton opened #5272 "[A11Y] `<footer>` element is misused on the individual articles on the homepage"
### 5. `<footer>` element is misused on the individual articles on the homepage

**Description of Issue**: The `<footer>` element is incorrectly used on the individual `<article>` elements on the homepage. I would recommend using a more semantic `[<time>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time) element instead.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugbo

[2021-10-01 16:15] klonos commented on #3888
...having said that, the current PR solves the issue with enabling/disabling the Dashboard module, so I will most likely leave it as is for now, and work on an alternative PR.

[2021-10-01 16:19] olafgrabienski commented on #3888
Confirmed, this part works for me!

[2021-10-01 16:21] bugfolder opened #5273 "Nested contextual links triggers sometimes unreachable"
**Description of the bug**

When contextual links regions are nested, the current behavior of Contextual module is to shift the child links down so that the triggers don't overlap each other. However, if the child region is short (e.g., the breadcrumb), then the trigger gets shifted out of the contextual links region and becomes unreachable.

Also, if the right side of the child isn't lined up wit

[2021-10-01 16:33] AnjaliGama3 commented on #5268
Hello! I'm working on this issue

[2021-10-01 16:42] Rachita-Pradeep commented on #2703
Working on this issue for GHC open source day

[2021-10-01 16:43] mmachinen commented on #4677
I would like to work on this issue.

[2021-10-01 16:44] bugfolder opened #5274 "Add formatting support for informational items in contextual links"
**Description of the need**

There is a use case for putting informational items into a list of contextual links: for example, putting the title of a Layout (or Block, View, etc.) at the top of the contextual links list. See [this comment](https://github.com/backdrop/backdrop-issues/issues/2626#issuecomment-929384914) for an example.

This can be done by just adding the text of the information as

[2021-10-01 16:45] jenlampton opened #5275 "[A11Y] Repetitive 'read more' links are not optimal for screen reader experience and provide little to no context."
### 6. Repetitive 'read more' links are not optimal for screen reader experience and provide little to no context.

**Description of Issue**: Do not use repetitive link text such as "read more." Screen reader users can scan through the content of the page by pulling up a list of links on the page. If the links only say "read more" but lead to different places, this does not help them to scan the c

[2021-10-01 16:51] jenlampton opened #5276 "[A11Y] Place <article> HTML landmark around the entire article content area."
**Description of Issue**: Right now, the `<article>` element is not wrapped around all the main article content of a given article or blog page. It does not wrap around the first heading of the page, which will be very confusing for screen reader users.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/about
**Testing Environment/Browser**: Windows Lenovo PC, Windows 10 Pro, Chro

[2021-10-01 16:57] jenlampton opened #5277 "[A11Y] Focus state should be thicker"
### 8. Focus state should be thicker

**Description of Issue**: Based on work in progress WCAG guidelines, we recommend making the focus state 3-4px thick to make it visible for folks with low vision.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/
**Testing Environment/Browser**: Windows Lenovo PC, Windows 10 Pro, Chrome Browser v. 94.0.4606.61, JAWS 2020.12.13
**[Severity](h

[2021-10-01 16:58] jenlampton opened #5278 "[A11Y] Main desktop navigation and main mobile navigation are not accessible to screen reader users"
**Description of Issue**: Main desktop and mobile navigation is not coded properly for screen reader users.
**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/
**Testing Environment/Browser**: Windows Lenovo PC, Windows 10 Pro, Chrome Browser v. 94.0.4606.61, JAWS 2020.12.13
**[Severity](https://github.com/backdrop/backdrop-issues/issues/5244#issuecomment-931739260)**: P0
**Soluti

[2021-10-01 17:10] stpaultim commented on #5268
@AnjaliGama3 - Good luck with this issue. Please feel free to ask questions here in the issue queue (or for Open Source Day, ping us in Slack).

[2021-10-01 17:12] jenlampton opened #5279 "[A11Y] Pagination component is not as accessible as it could be"
### 10. Pagination component is not as accessible as it could be

**Description of Issue**: Ideally, the pagination component would make use of a little more semantic HTML, such as the `<nav>` element and some ARIA attributes to aid a user in knowing which part of the pagination is currently acitve.

**URL**: https://pr3750-llnmetezlaix5oe10ddq5m3nya7zdz2b.tugboat.qa/

**Testing Environment/Browse

[2021-10-01 17:15] Sahana-Pandurangi commented on #4824
Please assign this issue to me - Sahana from GHC

[2021-10-01 17:16] bhuva-v commented on #5278
I'm working on this one

[2021-10-01 17:17] stpaultim commented on #5278
@bhuva-v - Welcome to the Backdrop issue queue. Please, feel free to ask questions right here in the issue queue.

[2021-10-01 17:23] garima010303 commented on #2410
I'm working on this issue

[2021-10-01 17:24] stpaultim commented on #4677
@mmachinen - Excellent. Please, let us know if you have any questions about this issue or how to proceed.

[2021-10-01 17:36] stpaultim commented on #2410
@garima010303 - Thanks for taking on this issue. If you get stuck, please post your questions here AND ping us in Slack.

[2021-10-01 17:39] KinnariU commented on #5261
I am working on this issue

[2021-10-01 17:40] garima010303 commented on #2410
@stpaultim I found the skin.css but it's getting hard for me to see how font size looks like, because I'm unable to find the main html file. Can you please help me how to preview the font sizes?

[2021-10-01 17:44] Raque-lita commented on #4624
I will work on this issue.

[2021-10-01 17:45] katielo-0830 commented on #5279
I am working on this issue

[2021-10-01 17:46] Sahana-Pandurangi commented on #4670
I would like to work on this issue

[2021-10-01 17:54] bhuva-v commented on #5278
The voice over and screen reader on Mac with Chrome v 94.0.4606.61 was working fine. I do not have a Windows machine with JAWS and will not be able to test the issue. So picking up another one. Please un-assign this one. Thanks

[2021-10-01 18:00] klonos commented on #5249
@jenlampton pointed out that the search field on our search block can be configured to have the a placeholder text:

<img width=50% src="https://user-images.githubusercontent.com/2423362/135666068-985e5e97-dd80-49bf-875b-a4f4ce9c76f6.png">

Another place where we use placeholder text (although it may not be subject to theme colors) is the search field in the admin bar.

[2021-10-01 18:00] jenlampton commented on #5261
I'm concerned about changing the color of the link here, because the blue color in the views interface has a specific meaning: "This is a link". In addition, the recommended gray color shown above is not accessable, so we should not be using that one.

Because we already have an indicator that a field is hidden, I wonder if we shouldn't be finding a way to make that more useful, rather than adding

[2021-10-01 18:16] stpaultim commented on #4677
I tested the PR sandbox and the PR removes the text as suggested. Works for me.

[2021-10-01 18:17] stpaultim commented on #4677
I don't do a lot of code reviews, but this is pretty straightforward, so I will mark this RTBC.

[2021-10-01 18:22] stpaultim commented on #4677
@mmachinen suggested this for the bugfix milestone, but was unable to add the label, so I did it for her. I am then adding it to the milestone.

[2021-10-01 18:25] philsward commented on #5261
@jenlampton we can try moving hidden to the beginning but I fear it will also get lost.

I think having hidden at the front (will have to see it to judge whether I like it) and a color change will be intuitive enough for new folks to understand "This is hidden, oh and it's denoted as hidden with a color change". I highly doubt someone would exclude a field, only to see it grayed out and then hones

[2021-10-01 18:28] jenlampton commented on #5261
I'm still against changing the color, but what if we moved it to the beginning and also added an icon (we could do this with css)? Or moved it to the beginning and also added emphasis? (You mentioned the italics before, but I think adding emphasis is the opposite of what we want here...  but it would still be safer than a color change, imho)

[2021-10-01 18:37] stpaultim commented on #2410
@garima010303 - To test CSS changes you really have three choices.

1) You can set up a local version of the site and test it locally. If you are going to continue to contribute to Backdrop, this is a really good idea. But, it is not necessary for just one day.

2) You can spin up a DEMO site on BackdropCMS.org and use the inspector to preview css changes (please ask me if you have questions about

[2021-10-01 18:51] jenlampton commented on #4670
I still think we should go with @wesruv's recommendation from above (A below), which would be a combination of both options 1 & 2 mentioned in @BWPanda's list.

A. @wesruv Links are a different colour from normal text, and ARE underlined. On hover, the underline is removed.
B. @bwpanda Links a different colour from regular text, and are NOT underlined. On hover, the underline is added.
C. @bwpanda

[2021-10-01 19:06] akadey commented on #4475
I would like to work on this issue

[2021-10-01 19:16] jenlampton commented on #5278
I'm having a really hard time finding where these attributes are added in Backdrop. I expect most of them are coming from [smartmenus](https://github.com/vadikom/smartmenus), and the changes may need to be made upstream.

@bhuva-v I would recommend choosing a different issue to work on. This is going to be a tough one!

[2021-10-01 19:18] akadey commented on #5269
I would like to work on this issue!

[2021-10-01 19:30] garima010303 commented on #2410
When I read this issue what I understood was that in the styling sheet I just need to put the font sizes of the heading so accordingly I've added the font sizes for different headings till now. What should I do next? @stpaultim

[2021-10-01 19:33] docwilmot commented on #5249
Also, Backdrop allows placeholders via FormAPI: https://docs.backdropcms.org/form_api#placeholder

[2021-10-01 19:40] bugfolder commented on #5261
I agree that we should be consistent with coloring hyperlinks.

Moving the hidden indicator to the beginning is, I think, an improvement over putting it at the end. I would find a boldly colored icon more eye-catching and less space-filling than the current "[hidden]" (which you have to read and parse before realizing that it's not part of the field name). But I don't have a good suggestion for wh

[2021-10-01 20:00] stpaultim commented on #2410
@garima010303 - I think that the implementation of a solution for this problem is a good first issue. BUT, the problem might be deciding what the correct solution is.

Also - We should have first considered the impact of this change on existing sites. Implementing a change that will be good for all future sites built with Backdrop is much easier than doing so in a way that will not break existing

[2021-10-01 20:05] stpaultim commented on #2410
Wait. This is not in Basis (a default theme for Backdrop). This is in the core CSS. I think that might make it even harder to resolve. I'm asking around for other opinions.

[2021-10-01 20:13] mmachinen commented on #3795
@stpaultim I would like to work on this issue.

[2021-10-01 20:30] philsward commented on #5261
I would prefer just an icon to moving hidden to the front and also adding an icon. Field names can become extremely long especially with wrapping and adding [hidden] just makes it longer regardless where it sits.

If it's really that big of a personal preference, make it a setting for views that is disabled by default. Then use telemetry to find out "how many people turn this on".

It begs a much

[2021-10-01 20:31] xla233 commented on #4475
I am a GHC OSD attendee, can would like to work on this issue please!

[2021-10-01 20:33] rhianimate commented on #5276
Hello! I would like to work on this issue.

[2021-10-01 20:33] bugfolder commented on #2668
PR replaced. New one includes just the goodies. https://github.com/backdrop/backdrop/pull/3771

[2021-10-01 20:35] bugfolder commented on #2668
Whoa, though. The 'number' element is not forcing the type to be numeric. Enter 'foo' and the dialog happily transforms it to a 0 and accepts it.

[2021-10-01 20:42] philsward commented on #5261
@bugfolder If we go the icon route, then both hidden and viewable will need an icon.

How about something like this:

![image](https://user-images.githubusercontent.com/3436110/135683900-23dd4570-8819-4139-9a05-22819a370ddc.png)

[2021-10-01 20:47] philsward commented on #5261
Better example:

![image](https://user-images.githubusercontent.com/3436110/135684398-0b6aacc4-382d-4227-88b8-ced53de2154d.png)

[2021-10-01 21:00] bugfolder commented on #5261
I agree: clean and intuitive, and for the icon, the color difference is clear and appropriate.

If I had my druthers, I'd drop the "[hidden]", but I suspect that would make the meaning of the icon too mysterious for newcomers. But I really like the way it's possible to instantly discern what's visible and hidden, even when I'm not registering the individual words of the field.

(60-year-old eyes m

[2021-10-01 21:07] philsward commented on #5261
Images pulled from: https://www.toptal.com/designers/colorfilter/

The gray contrasted with the blue, honestly isn't near as bad for colorblind as what I thought it would be...

![image](https://user-images.githubusercontent.com/3436110/135686093-acc77b97-c389-4dd5-bc3a-5f1d6891c203.png)

![image](https://user-images.githubusercontent.com/3436110/135686135-373a5ded-4751-49f0-9727-c17096aeb7af.png)

[2021-10-01 21:14] xla233 commented on #4475
I have created the pull request : )

[2021-10-01 21:21] bugfolder commented on #5264
In addition to the PR correction, I think there's further improvements that could be made to the error messages. Error messages are clearer if you quote the erroneous value in the message, particularly when the error messages are spatially separated from their corresponding element. Also, it's a little more direct to say specifically what's wrong with the erroneous input.

I suggest the following

[2021-10-01 21:23] jenlampton commented on #2410
But the PR changes Basis. And becasue @wesruv opened the issue, I think it should be a change to Basis. Maybe I'm missing something...

[2021-10-01 21:30] philsward commented on #5249
Should I rename the title to reflect blanking the placeholder? I'm still a fan of making the color slightly lighter (not much) but I think the better UX is to blank the form field on focus.

[2021-10-01 21:34] laryn opened #5280 "View mode not accessible from user or comment template files"
**Description of the bug**

With nodes and terms you can access the `$view_mode` variable from the template file, but it does not seem to be available for user profiles. (Or potentially comments based on a little research I've done).

[2021-10-01 21:38] bugfolder opened #5281 "Number element type doesn't validate properly for non-numeric or decimal input"
**Description of the bug**

The `'number'` element type does not properly validate when given non-numeric or decimal numeric input.

**Steps To Reproduce**

To reproduce the behavior:

We'll make use of the fact that the EntityIDLayoutAccess class uses this element for the entity ID. The relevant code is:

[code]

(Incidentally, maybe that field should have `'#step' => 1` to ensure that it's an in

[2021-10-01 21:42] jenlampton commented on #4475
The PR looks great!

[2021-10-01 21:45] bugfolder commented on #2668
Issue filed. https://github.com/backdrop/backdrop-issues/issues/5281.

[2021-10-01 21:56] stpaultim commented on #5277
We worked on this as a group as part of Open Source day. Our theory is that the following css should address this problem:

[code]
We tried this in this file modules/system/css/system.theme.css and it did not work.

Just for fun, we tried the same thing in basis (see current Pull Request) and it seems to work.

Clearly, the solution to this problem can not be Basis specific. Does anyone have any i

[2021-10-01 22:01] jenlampton commented on #4475
In testing the PR, I found that the message was changed for both when the system is writable, as well as when it is not. When it is writable, the message should say `Writable` and when it's not it should say `Is not writable`.  Unfortunately, that means the fix for this issue is going to be slightly more complicated. I think all the logic we need is already in place. We will need to set these stri

[2021-10-01 22:20] Vuthuylinh commented on #4506
I am working on this issue

[2021-10-01 22:21] jenlampton commented on #5279
@katielo-0830 thanks for the PR!  I made a few recommendations for changes, but I'm also testing in the sandbox :)

[2021-10-01 23:08] jenlampton commented on #4506
@Vuthuylinh I think this pull request was filed against your fork and not against backdrop core. Can you see if you can edit the PR and file it against backdrop core?

[2021-10-01 23:24] jenlampton commented on #4506
PR code looks great! Testing in sandbox now...

[2021-10-01 23:24] jenlampton commented on #4506
Roles page is unchanged, CSS removal had no effect :) RTBC!

[2021-10-01 23:28] klonos opened #5282 "[UX] Layout reorder page: add "Cancel" link, and indicate things like machine names and enabled/disabled status"
This is what that page currently looks like:

![image](https://user-images.githubusercontent.com/2423362/135695350-d8672a4a-27e5-40a1-8a32-d80ab1f4fc10.png)

I would like us to:
- Change the page title to "Reorder layouts" (possibly also the operation link that leads here)
- Add a proper breadcrumb (currently only shows "Home")
- Indicate which path this is about
- Indicate machine names (using th

[2021-10-01 23:58] xla233 commented on #4475
Ok thank you Jen, I'll take a look at it and work on it!

[2021-10-02 01:52] bugfolder commented on #5281
The behavior is browser-dependent.

* Safari on Mac will let you type in "foobar", saves it as 0, but doesn't display any value.
* Same for Firefox on Mac.
* Chrome on Mac won't accept non-numeric keystrokes (it will accept . but not ,).

Part of this issue seems to be that the element is rendered by the [`<input type="number">` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/in

[2021-10-02 05:20] jenlampton commented on #5276
We may need to do some major restructuring in order to place the page title within the article tag. Right now the page title is treated specially so that it can be placed anywhere on the page, including the header, a sidebar, or anywhere else a designer can imagine.

@silverli I wonder if we can solve this problem for screen-readers by adding a second page title `<h1>` tag within the `<article>`

[2021-10-02 05:37] jenlampton commented on #5271
@silverli How do we determine what is the "main content" of a page? In my opinion, the hero block at the top of this page is mostly decorative, and doesn't contain any valuable "content". The exception is the page title, which happens to be placed with the decorative hero image. The page title is arguably the most important thing on this page, so I can see why it would be considered "main content"

[2021-10-02 06:02] philsward commented on #5261
Side Note: If the icon idea is a go, I think the best approach is to add the icon within its own span or div instead of using the ::before pseudo. Styling the ::before is causing weird issues in a sub-theme and placing it within its own element will give better styling control.

[2021-10-02 06:02] philsward commented on #5261
Potential blocker:

https://github.com/backdrop/backdrop-issues/issues/364

[2021-10-02 06:11] stpaultim commented on #2410
@jenlampton Well, if it should be basis and the PR is basis - then the biggest problem was my confusion not yours. It was a long day today.

Either way, I think the real questions are:

1) Can we even make this kind of change in a compatible way?
2) If so, what should the values be?

[2021-10-02 06:17] stpaultim commented on #4506
@Vuthuylinh - Congrats on a successful PR and thanks for helping us make Backdrop CMS a little better.

[2021-10-02 06:22] stpaultim commented on #5277
This was before:

![before](https://user-images.githubusercontent.com/3144571/135705988-c93ff8d6-f2cd-4a2b-ab65-0c7858c1c473.png)

This is what the PR (in Basis) does:

![after](https://user-images.githubusercontent.com/3144571/135706011-06be37bd-9fca-4f97-92f7-04411f2287e5.png)

Is this the correct css improvement?
How do we get this to work in core (not basis)?
Are the issues with backwards comp

[2021-10-02 09:16] klonos commented on #5282
PR up for review: https://github.com/backdrop/backdrop/pull/3780

![image](https://user-images.githubusercontent.com/2423362/135710367-4726be05-d1ff-4912-b899-9965b1740b59.png)

<img width=50% src="https://user-images.githubusercontent.com/2423362/135710450-85ddb6e4-cfcf-4a6f-9b4a-064cb32b7b09.png">

[2021-10-02 09:28] klonos commented on #5282
...whinging (separate issues):
- I don't like how `layout_reorder_form()` is detecting layouts from the URL via `$_GET['layouts']`, which results in ugly URLs (`admin/structure/layouts/reorder?layouts[0]=layout_one&layouts[1]=layout_two&layouts[2]=layout_three...` which browsers decode to `admin/structure/layouts/reorder?layouts%5B0%5D=layout_one&layouts%5B1%5D=layout_two&layouts%5B2%5D=layout_thr

[2021-10-02 09:33] indigoxela commented on #5281
@bugfolder if you dive into number form item validation, you might also be interested in #4751 (needs review).

I agree, the server-side validation for input type "number" needs some attention. Please note: only adding more to client-side validation seems insufficient to me.

[2021-10-02 15:11] klonos commented on #5249
@philsward I think that you have better chances with the blank-on-focus approach, unless you can specify a color that at the same time satisfies both of these conditions:
1. is "light enough" (to denote that it is not the actual text, but rather a placeholder)
2. is at least WCAG 2 level AA conformant (you can use https://webaim.org/resources/contrastchecker for example). If we choose anything les

[2021-10-02 17:14] bugfolder commented on #5282
I co-whinge on both points.

Particularly on the second point. I'd never had reason to try to reorder layouts before, and when testing this PR, it took me a while to find the "REORDER" button hiding in the right column of similarly-looking buttons and dropdowns (which have their names rendered in ALL CAPS to reduce readability). I would have expected that if layouts were reorderable, they'd be reo

[2021-10-02 17:52] klonos opened #5283 "[UX] Update Help text on the account cancellation screen"
Related to: #5121

## Problem/Motivation
When a user visits the account cancellation form, We have four options:

- Disable the account and keep its content.
- Disable the account and unpublish its content.
- Delete the account and make its content belong to the _Anonymous_ user.
- Delete the account and its content.

And the description below states:

The "This action cannot be undone" statement

[2021-10-02 17:53] klonos commented on #5283
This issue is both a bug (fix text inaccuracies) and a task (text tweaks/clarifications).

[2021-10-03 06:25] stpaultim opened #5284 "Rename Admin Bar components and add descriptions"
**Description of the bug**

There is an Administration Bar menu setting that allows you to disable the "Home" menu in the admin toolbar. However, the option is labelled "Icon Menu." I believe that this is a holdover from Drupal 7, when this menu was the Druplicon.

![icon-menu](https://user-images.githubusercontent.com/3144571/135742572-59571c95-532c-46a0-ad03-f0ceb0213f1d.png)

**Steps To Reprodu

[2021-10-03 14:21] olafgrabienski commented on #5274
This will be useful! I'd suggest to also change the appearance of the informational items slightly, so that they don't get confused with links. Below are some screenshots with ideas how to style the info item differently.

**Current PR:**

<img width="707" alt="backdrop-context-links-info-1-pr" src="https://user-images.githubusercontent.com/14188307/135757654-35ad8f32-51d2-40a4-932d-5b5479a9c6be.p

[2021-10-03 14:41] olafgrabienski commented on #5261
I'm quite skeptical if the use of (two) icons is a good idea. While the approach might have advantages in some use-cases (many fields, many of them hidden), the icons would clutter the interface without real need in other cases, i.e. on simple displays, and even when there are no hidden fields at all.

In my opinion, the `[hidden]` marker at the beginning would already be very helpful, and in a mu

[2021-10-03 16:05] bugfolder commented on #5274
I agree with the separate styling. I was already pondering something like your second example—add gray background only. Seeing the variety  of examples you've provided, I'm now leaning more strongly toward #2. The gray background resembles things that are disabled, as in, "this thing isn't clickable," which is what we want to convey. In #3, the bolding draws extra attention to it, and in #3, the m

[2021-10-03 17:19] bugfolder commented on #5281
To me, too. In particular, client-side validation isn't always fully applied. It depends on whether the submission button is implemented as an `<input type="submit"...>` element or as something else, like `<button type="button"...>`.

Let's start with the former. If we create a standard form containing a number element, something like this:

[code]

If we try to enter "foo" as the number value, we

[2021-10-03 21:55] bugfolder commented on #2668
Per [this comment](https://github.com/backdrop/backdrop-issues/issues/5281#issuecomment-932991744), we can prevent non-numeric entries by setting the element `'#required' => TRUE`. The browser validation will submit an empty string, and then standard form validation will reject the empty submission.

PR updated.

[2021-10-03 21:58] bugfolder commented on #2668
Note, though, that if you enter something like `node/1`, the field will be cleared and the error message will be "Node NID is field is required" rather than something more useful like "what you typed in wasn't numeric". I don't think there's any way to achieve that, though, because the browser submits an empty string, so there's no way for the server to know that you had typed something in.

[2021-10-03 22:14] bugfolder commented on #5274
PR updated. It looks like this.

![contextual_links_demo](https://user-images.githubusercontent.com/29214084/135773139-531e992e-71bb-4929-a32f-70a881bb2a45.jpg)

[2021-10-04 01:29] stpaultim commented on #5274
I like the idea of separate styling. My initial reaction was that option #2 is a little too simple and easy to miss. I think I like #3 or #4 better, because they are more noticable. But, I'm not really very confident in my opinion on this and have not thought through the design implications very well.

I did try the sandbox and just don't feel like the difference between the Description on the lin

[2021-10-04 01:32] bugfolder commented on #5257
Dunno if this is helpful, but it might be adaptable. When I've encountered a failing error class (say, `TokenNodeTestCase `), I use BBEdit to search for that name over the core directory, which takes just a few seconds. It typically returns two files: the .info file (`simpletest.tests.info` in this case) and the actual file containing the tests (`token.test`). Clicking on the .info result shows th

[2021-10-04 06:32] indigoxela commented on #5274
When writing themes, color definitions in system CSS are inconvenient. Above examples fit Seven, but no other (admin) theme.

I'd like to suggest, that color definitions should *always* happen in themes (Seven, Basis) and not in core module CSS? The views and layout module are already a pain regarding that. Let's not increase the theming work - requiring to write against seven-ish colors all over

[2021-10-04 06:47] indigoxela commented on #5281
@bugfolder the input element for visibility conditions in your screenshot is *no* number form element.

Text input fields don't get client side number validation. Can we please clarify, which form items should be number elements (input="number"), but currently still are textfields? Otherwise we cause confusion about what we're trying to fix.

[2021-10-04 06:55] indigoxela commented on #5281
Also, let's not try to "fix" client-side validation - that depends way too much on OS and browser. Example: FF on Linux marks non-numeric input as error and won't submit the form, Chromium refuses to add a non-numeric value (input stays empty). On Windows it's probably also different.

Values get submitted via POST, and IMO we should not blindly rely on client-side validation (depend on a "nice" c

[2021-10-04 09:15] olafgrabienski commented on #5274
The example is indeed misleading, as it puts a gray background to the content. Usually, you don't find this in *Basis*. The screenshots in https://github.com/backdrop/backdrop-issues/issues/5274#issuecomment-932961505 are realistic.

[2021-10-04 14:41] bugfolder commented on #5274
All good points, thanks. So it looks like either #3 or #4 are preferred, and the colors should be defined in core themes (Seven, Basis, Bartik) rather than in module file contextual/css/contextual.css.

Any votes on #3 vs #4, or other alternatives to propose? Should the background colors be different in the different themes?

[2021-10-04 16:01] bugfolder commented on #5281
Sorry, screenshot was out of date. Here's the current version. (A PR was recently merged that converted the entity ID to a `number` type.) Everything I said was applicable to the `number` type.

![visibility](https://user-images.githubusercontent.com/29214084/135884580-8ba5b6e9-ec73-4c26-ad88-3a1a9fd881f5.jpg)

[2021-10-04 16:07] bugfolder commented on #5281
Yeah, that was my point. We can't "fix" the fact that Chrome prevents submission of a non-numeric Node NID on this form, while Safari allows submission but converts it to an empty string. We can, however, on the server side handle those differences to some degree, e.g., PR https://github.com/backdrop/backdrop/pull/3771.

[2021-10-04 16:34] olafgrabienski commented on #5274
I like No. 2 or 3 for themes with white content background (Basis and Bartik). No. 4 could be a good choice for Seven's light gray background.

[2021-10-04 16:52] bugfolder commented on #5274
Incidentally, my sample above was No. 2 on Basis. I'd put some color on the background just to identify the contextual links region. Here it is again with a white background

![sample_info](https://user-images.githubusercontent.com/29214084/135891845-45fee803-8fab-4476-be3b-cbd570fa4b69.jpg)

[2021-10-04 17:56] klonos opened #5285 "[DX] Form API: Allow number fields to specify an array of suggested values"
Use case for this in core is the "Number of items to index during cron runs" setting in `admin/config/search/settings`:

![image](https://user-images.githubusercontent.com/2423362/135898687-1fc5cbb6-a9e0-4c0d-a375-dd60d46c7ebe.png)

It currently allows for a choice between 6 pre-defined values, as shown in the screenshot above. Ideally, we could allow any custom value (grater than 0), and offer th

[2021-10-04 18:02] bugfolder commented on #5285
Presumably this would entail adding support for `#options` in the `number` form element?

[2021-10-04 18:46] klonos commented on #5285
`#options` seams like the reasonable choice. I initially thought that the word implies limiting to a specific set of numbers, and was thinking about a new `#suggestions` property. But then again, the various "suggestions" are defined in code as `<option value="...">`, so yeah, `#options` would make sense from a DX point of view 👍🏼

[2021-10-04 18:53] bugfolder commented on #5285
Since [`#options` already has two distinct use cases](https://docs.backdropcms.org/form_api#options), adding a third for this doesn't seem out of place.

[2021-10-04 20:19] stpaultim commented on #5274
I see the logic here and it makes sense. But, how likely are contrib theme developers to actually style a tiny administrative tool?

I suppose, at least we should provide the color in the core themes.

[2021-10-04 21:49] klonos commented on #5283
As @jlfranklin said in https://github.com/backdrop/backdrop-issues/issues/5121#issuecomment-864988739

Well no, `#states` cannot relabel a button, but having two buttons and showing/hiding them selectively can be done via `#states`. That's what I've done with my PR here: https://github.com/backdrop/backdrop/pull/3783

Before/after screenshots to follow...

[2021-10-04 22:17] klonos commented on #5283
- user1 selects a "safe" cancelation method for their own account (before/after):
  ![image](https://user-images.githubusercontent.com/2423362/135930725-7cfa0791-78de-4dda-8490-3963e1bc27f6.png)
- user1 selects an "unsafe" method for their own account (before/after):
  ![image](https://user-images.githubusercontent.com/2423362/135930779-a447e968-fe7b-4aea-b2c5-cc01f42fa0f0.png)
- user1 selects a "

[2021-10-04 22:31] klonos commented on #5283
Logged in as the non-admin user with the "Editor" role, and attempter to delete own account (after granting the "Cancel own user account" permission)...

- With a "safe" method specified as the default under `admin/config/people/settings` (before/after):
  ![image](https://user-images.githubusercontent.com/2423362/135933188-d7031953-2802-4097-8ba3-ce534034944b.png)
- With a "dangerous" method spec

[2021-10-04 23:08] klonos commented on #5283
Still logged in as the non-admin user with the "Editor" role, and attempting to delete own account, but this time with the "Select method for cancelling own account" permission as well...

- With a "safe" method specified as the default under `admin/config/people/settings` (before/after):
  ![image](https://user-images.githubusercontent.com/2423362/135936146-30cb5896-c5b5-43f5-b3a7-a2b71de133a2.pn

[2021-10-04 23:34] klonos opened #5286 "Certain account cancellation methods aren't supposed to be available to be set as the default, but they are"
I've discovered this while working on #5283.

There is currently code in place that is meant to prevent site admins from selecting specific account cancellation methods from being the default one. See:

- [user_admin_settings()](https://github.com/backdrop/backdrop/blob/1.x/core/modules/user/user.admin.inc#L160):

[code]

- [user_cancel_methods()](https://github.com/backdrop/backdrop/blob/1.x/core

[2021-10-04 23:39] klonos commented on #5286
I've fixed this in the PR for #5283, but I'll decouple it and move it here instead, to avoid scope-creep. I'm not sure if we should be completely hiding these methods, or disabling the respective radio button.

Here's before/after if we disable the option:
![image](https://user-images.githubusercontent.com/2423362/135938326-a6d422e0-672b-4b32-a406-7d8774d6569b.png)

I think that locking/disabling

[2021-10-04 23:41] klonos commented on #5283
Bonus: #5286

[2021-10-04 23:46] klonos commented on #5121
I would like to discuss this further in the next UX biweekly meeting.

Our Drupal brethren (their UX team) seem to have decided to rename "Account cancellation" to "Account closure" in the admin UI: https://www.drupal.org/project/drupal/issues/3229146

Also, in [Update Help text on account cancellation screen](https://www.drupal.org/project/drupal/issues/3199972) they seem to have decide to add th

[2021-10-05 02:07] philsward commented on #5261
@olafgrabienski the reason for two icons is the same reason I'm against moving [hidden] to the beginning. An icon for each means that beginning column is standard all the way down. Otherwise we end up with:

Some text field
Some image field
[hidden] some path field
Some title field
Some body field
Some term field
[hidden] some random field
Some extra paragraph field

The point of the request is to

[2021-10-05 03:19] jenlampton commented on #5261
That's not true. The problem with having it at the end of the line is that the hidden line does not stand out from the one that's shown. It's especially bad when one field wraps to a second line, so the "Hidden" part that's usually at the end, is now on another line. Moving "Hidden" to the beginning of the line solves 2 problems.

No, I do this too :)

[2021-10-05 03:31] jenlampton commented on #5261
here's a thought: What if the visible icon only appeared after the first hidden field was added to a view? I would be in support of both icons as long as the visible one didn't appear when all fields were visible. In fact, I'd also be in favor of removing "[hidden]" if both icons had a hover/title that said `Visible`/`Hidden`.

[2021-10-05 03:52] klonos commented on #1728
Yes. Sorry that you had to ask twice @olafgrabienski. I just rebased the PR, and now Tugboat is also happy with it.

[2021-10-05 06:07] indigoxela commented on #5286
Hm. Wouldn't that mean that it's no longer possible for (unprivileged) users to delete their content together with their account?

Wouldn't that break existing setups, where it might be *desirable* that users are able to do that currently? And isn't that a potential problem with existing privacy policies?

[2021-10-05 06:14] indigoxela commented on #5274
Think of admin themes with a "dark mode" or Color module support. Think of frontend themes that are also supposed to work as admin theme.

That's exactly what I'm suggesting: put color definitions into themes. :wink:

[2021-10-05 06:54] klonos commented on #5259
How about this?: https://github.com/backdrop/backdrop/pull/3784 😉

HTML before:
![image](https://user-images.githubusercontent.com/2423362/135972940-9480862a-d92a-4468-aab4-77408acc5128.png)

...and after:
![image](https://user-images.githubusercontent.com/2423362/135973183-b52e18c0-9c37-407c-b770-cbb7c12a2967.png)

[2021-10-05 06:58] indigoxela commented on #1728
@klonos many thanks for rebasing.

I also tested locally with following minimal code in a custom module:
[code]
An url like `/node/add/post?layout-go-away` isn't wrapped in a layout, while `/node/add/post` still is - works for me.

The code is straight forward, I'm happy to see this going into 1.21.0.
Unfortunately this means that people who need modules like References dialog will have to patch c

[2021-10-05 06:58] klonos commented on #5259
...inspiration/credit to our Drupal brethren: https://www.drupal.org/project/drupal/issues/997826 ...although they only fixed the fieldset, and missed the `#description`. I'll file a PR/patch for Drupal if I find the time/energy, otherwise I will at the very least let them know.

[2021-10-05 09:58] philsward commented on #5261
Interesting how some see information as clutter and others see a lack of information as clutter.

What about a views setting to enable/disable this as an option? I don't think there have been any comments on that idea yet. Good? Bad?

[2021-10-05 13:42] bugfolder commented on #5261
I like this too.

I use hidden fields and field-rewriting a fair amount (the former to support the latter), so for me, they're a pretty common use case. So I would welcome a views setting to switch between the old way of doing things ("[hidden]" at the end) versus using distinct icons at the beginning of a line to indicate hidden or rewritten. If I had my druthers, I'd put no icon for fields that

[2021-10-05 14:44] bugfolder commented on #5274
There's already 3 "background-color:" declarations in core module file contextual.css, so presumably those, too, would have to be moved into themes, as well as the one we're currently considering.

A quick search through the core/modules directory turns up 133 instances of "background-color:" in the CSS (and lots more of just plain "color:"). Being fully consistent about "colors only in themes" so

[2021-10-05 14:51] indigoxela commented on #5274
@bugfolder I didn't want to suggest, that we cleanup everything now (uh-oh!). Yes, I'm aware that many core modules define their seven-ish or othewise grey-ish colors (already mentioned Views and Layout).

I just wanted to suggest, that we **consider** colors as something theme-specific, not module-specific. Just to not add more themer's pain.

[2021-10-05 15:44] jenlampton commented on #1728
Rather than patching core to add a new feature, a new release of references
dialog that fixes its bug would be a better solution ;)

On Mon, Oct 4, 2021, 11:58 PM indigoxela ***@***.***> wrote:

[2021-10-05 15:51] jenlampton commented on #5261
I also support an indicator for rewritten, but that's another issue ;)

I'll start on a PR that moves hidden to the front of the line, and wraps it
in a span we can use to both hide the text, and replace it with an icon
(for sighted users). I think a setting for "use icons for things" might be
unnecessary since most people seem to agree they are an improvement over
the text.

On Tue, Oct 5, 2021,

[2021-10-05 16:40] olafgrabienski commented on #5261
Agreed! Having another indicator in mind, we can however already consider how it would fit the various suggestions, e.g. will we find a good 'rewritten' icon? Or, how does the two icons concept (hidden vs. visible) work when we also have a 'rewritten' indicator?

Moving hidden to the front and wrapping it in a span is an very good starting point, in my opinion. Looking forward to test the PR!

[2021-10-05 17:11] klonos commented on #5259
I should mention that this is yet another issue that suffers from #5157.

[2021-10-05 17:15] klonos commented on #5208
Thank you @bugfolder. Tagging as RTBC, based on your last comment.

[2021-10-05 17:18] klonos commented on #414
If we're doing auto-updates for sites, then I would be more comfortable if we also auto-backed up their db as well as part of the process. So I would like this email to also mention something along the lines of:

[2021-10-05 17:35] klonos commented on #414
@laryn how do we test this? Is it for core only, or contrib projects as well?

If would expect this to be a way to test:
- setup Backdrop on local
- patch with https://patch-diff.githubusercontent.com/raw/backdrop/backdrop/pull/3753.patch
- install outdated versions of various modules/themes/layouts, with some of them having security releases available
- run cron -> confirm that no autoupdates occ

[2021-10-05 17:38] klonos commented on #2620
Thanks @jenlampton ...yes, it makes sense. I'll get to it soon as I can 👍🏼

[2021-10-05 17:54] philsward commented on #5261
🥰 🎉

---

I'll get an issue going for the rewritten indicator and see if I can find some font awesome icons that might make sense as a starting point.

[2021-10-05 18:05] herbdool commented on #414
We've got a whole meta issue on things that we need before we can turn this on, including digital signatures on packages. (I think the signatures is getting close but it has stalled as well.)

[2021-10-05 18:09] herbdool commented on #1728
Most people in the thread see this as a useful addition to core.

[2021-10-05 18:26] jenlampton commented on #1728
Yes, but that's no reason to leave a contrib module broken for 4 months ;)

[2021-10-05 18:41] klonos commented on #5263
@jenlampton I reviewed the PR, and the code change seems reasonable. I wasn't able to reproduce the issue in a demo sandbox 🤷🏼

[2021-10-05 18:58] klonos commented on #5248
@philsward I'm trying to understand the expected workflow and a possible solution here, but if you don't know the name of the block you're looking for, then how would you expect to find it?

Yes but how do you specify "the specific ones you need to focus on"? What are the criteria? Backdrop does not have AI (yet) 😅

In the "Add block" dialog, we allow searching by block title/type/description. Wha

[2021-10-05 19:13] klonos commented on #5265
This post may help here: https://www.rahulsingla.com/blog/2011/05/ajax-sorted-and-paged-tables-in-drupal-7

[2021-10-05 21:02] klonos commented on #5286
Good questions @indigoxela ...the way I see it, this would prevent site admins from setting that option as the default - it doesn't mean that privileged users wouldn't be able to select that option (it just wouldn't be the default).

Anyway, all I'm saying is that from the code that exists there already (same as in D7), it seems that the intention was to have things work that way: any account canc

[2021-10-05 21:38] klonos commented on #5261
My initial reaction was to keep the link color as is (for the same reasons others have already mentioned), but move the `[hidden]` indicator as a plain-text suffix added to the link (instead of having it be part of the link as it is currently). A simple solution:

<img width=50% src="https://user-images.githubusercontent.com/2423362/136106286-779c6778-b7be-43d7-a663-a1ed7afa800a.png">

Having said

[2021-10-05 21:43] klonos commented on #5261
...I would much rather prefer it if we reserved the left side of the fields space reserved for drag handles, so that we don't have to open a separate dialog for reordering and removing fields. This is a mockup I put together [back in 2017](https://github.com/backdrop/backdrop-issues/issues/930#issuecomment-298113041):

![backdrop-issue930-mockup-delete-undo](https://cloud.githubusercontent.com/ass

[2021-10-05 21:51] philsward opened #5287 "[views] Add indicator to views field display denoting a rewritten field"
As a new, separate issue to #5261 the request is similar to that issue where an indicator is added to show whether a field has been rewritten. This will aid in helping a site builder understand why a field in the output, isn't acting the way they expect. Having an indicator that a field is rewritten, gives a visual representation of what the field is actually outputting.

Things to do:
- Add a cla

[2021-10-05 22:03] philsward commented on #5261
I would be OK with this approach so-long as like @bugfolder said, those of us who want to override it have better options to.

I'll be honest and say that when I opened this, I didn't realize how easy it was to sub-theme Seven, making some of these requests a bit moot if there is an easy way to override them.

[2021-10-06 00:03] jenlampton commented on #5261
I don't know how easy or hard it is to add classes to each of these rows, but I think it's a great idea and would give everyone room for their own solutions :)

@klonos the only problem with the mockup that pulls `[hidden]` out of the link is that the text becomes black, giving those items more emphasis than the ones that are shown, instead of less. I almost (?) prefer the red strike-through text,

[2021-10-06 00:20] quicksketch commented on #5236
Then it would be in under a separate "table" with a heading dividing the table from the previous test. So yes each test case is separated. There can be multiple test functions/methods within a single class though.

[2021-10-06 06:07] indigoxela commented on #5286
Personally, I never had trouble with user cancellation methods or settings. To figure out, what's actually happening, and if there's actually something that needs to get fixed, I'd need to dig a lot - which I'd only do if I had trouble. Just because a comment doesn't seem to fit the code logic isn't enough motivation for me. :smile:

[2021-10-06 06:23] indigoxela commented on #5208
Currently two PRs are linked here, can the outdated one get removed, please?

[2021-10-06 06:35] indigoxela commented on #5263
Same here, I simply can not reproduce the problem on a vanilla install (following the exact steps).

@jenlampton what else could interfere on your site? Is it a multilingual site? That could explain it.

@klonos isn't it a bit uncommon to mark a PR RTBC, although you can't reproduce the problem?

[2021-10-06 06:36] philsward commented on #5248
Anyone opposed to me closing this issue in favor of creating a new issue to address adding global tags for entity types and admin pages? We have it in views, we could add a core system that handles things like content types, blocks, layouts, paragraphs, tax vocabs etc.

I think getting a global tagging system going first, then adding an admin view or way to filter the tags might be a better all-ar

[2021-10-06 06:59] quicksketch commented on #5236
I've updated the PR, now with no redundant class name within each row of result output.

[2021-10-06 09:50] olafgrabienski commented on #5261
Excellent, so simple and so good!

We can make the [hidden] text a bit lighter than black (dark gray), so that the suffix doesn't stand out too much.

Found it: Corresponding to https://github.com/backdrop/backdrop-issues/issues/930#issuecomment-261685910 it means "marked for deletion". Something along those lines was also my first impression. I don't think it's a good way to represent the "hidden

[2021-10-06 09:54] klonos commented on #5248
I'm OK with it 👍🏼 ...it is not clear to me what this issue here is about anyway 😅

[2021-10-06 09:59] klonos commented on #5261
Yes, I do 🙂 ...the x icon/buttons to the right of each field were there in order to remove them, but that would not happen instantly; the field would instead be "marked for deletion" once the view would be saved. Notice how in the the mockup the x "remove" button has changed to a "revert"/"restore" button instead? ...that for cases where you may have accidentally clicked "delete" in one of the fie

[2021-10-06 10:10] klonos commented on #5266
I can't think of anything else ta the moment @indigoxela ...the only similar issue I recall is with the token browser links when there are multiple token-enabled fields in the same form ...you need to manually select the field that you want the tokens to be added into, before opening the token browser. Not sure is that's still an issue or if we already fixed it though 🤷🏼

[2021-10-06 10:14] klonos commented on #5275
I think I like the approach with the addition of the `element-invisible` span 👍🏼

[2021-10-06 10:29] klonos commented on #5236
I checked out the (intentional) PR failures and I like the output 👍🏼

[2021-10-06 10:35] klonos commented on #5263
I reviewed the code, and I was happy with it - no coding standard violations, and it seemed right. That's what the RTBC label is for, right? I think that:
- when it comes to code review, it's either:
  - needs code review
  - RTBC
- when it comes to testing, it can be either:
  - needs testing
  - works for me
  - cannot reproduce

Right?